{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript">
    localStorage.setItem('modulename','api_settings');
    localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
<li class="active">{{langlist.LANG1}}</li>
{% endblock %}

{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div class="side-body" id="api-settings-profile">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <form name="ApiSetForm" id="ApiSetForm">
            {% if '1' in PRIVdata or '2' in PRIVdata %}
            <!--<div class="content-body">
                <div class="row">
                    {% set cm_info = datalist.company_info %}
                    {% if cm_info.tabinsta_integration==1 %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ti_int_settings">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header" style="margin-bottom: 15px;">
                                        <div class="card-title">
                                            <span id="frmtitle" class="title">{{langlist.LANG2}}</span>
                                        </div>
                                    </div>
                                    <div class="radio3 radio-check radio-inline">
                                        <input class="enable_integration" style="margin-bottom: 8px" name="enable_tabinsta" id="enable_tabinsta" value="1" type="checkbox" {% if(cm_info.tabinsta_app_id!='' and cm_info.tabinsta_app_secret!='' )%} checked {% endif %}>
                                        <label class="iradio-label form-label" for="enable_tabinsta">{{ langlist.LANG3 }}</label>
                                    </div>

                                    <div  {% if(cm_info.tabinsta_app_id=='' and cm_info.tabinsta_app_secret=='' )%} class="hide" {% endif %}  id="tabinsta_intigration">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{langlist.LANG4}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="tb_insta_app_id" id="tb_insta_app_id" value="{{ cm_info.tabinsta_app_id }}" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{langlist.LANG5}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="tb_insta_app_secret" id="tb_insta_app_secret" value="{{ cm_info.tabinsta_app_secret }}" maxlength="50">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 locationbtn" >
                                            <button type="button" id="findlocation" name="findlocation" onclick="findtabinstalocationlocation();" class="btn btn-primary">{{langlist.LANG6}} </button>
                                        </div>
                                    </div>
                                    <table class="datatable table table-striped marginbottomzero" cellspacing="0"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th width="10%">{{langlist.LANG7}}</th>
                                            <th width="50%">{{langlist.LANG8}} </th>
                                            <th width="40%">{{langlist.LANG9}}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <table class="datatable table table-striped" cellspacing="0" width="75%">
                                        <tbody>
                                            {% set cnt = 1 %}
                                            {% for key,value in datalist.location_list %}
                                                <tr>
                                                    <td width="10%">{{ cnt }}</td>
                                                    <td width="50%">{{ value.locationname }}</td>
                                                    <td width="40%">
                                                        <div class="form-group col-md-4" >
                                                            <div class="controls tabdrop">
                                                                <select name="tabinstalocation[{{key}}]" id="tabinstalocation{{key}}" value="{{value.location_id}}" class="form-control dropdown list tab">
                                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                                    {% for list,data in  tab %}
                                                                    <option value="{{ data.location_id }}" {% if(data.location_id==value.location_id) %} selected {% endif %} >{{ data.name}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% set cnt = cnt+1 %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    &lt;!&ndash;{% set cnt = 1 %}
                                    {% for key,value in datalist.location_list %}
                                        <div class="row">
                                            <label class="form-label col-sm-1">{{ cnt }}</label>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">{{ value.locationname }}</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input type="text" class="form-control" name="tb_insta_lc_id[{{ key }}]" id="tb_insta_lc_id{{ key }}" value="{{ value.ti_lc_id }}" maxlength="50">
                                            </div>
                                        </div>
                                        {% set cnt = cnt+1 %}
                                    {% endfor %}&ndash;&gt;

                                </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>-->
            {% set cm_info = datalist.company_info %}
            <div class="content-body">
                <div class="row">
                    {% if cm_info.c_pms_integration==1 %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pms_int_settings">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header" style="margin-bottom: 15px;">
                                    <div class="card-title">
                                        <span id="pmstitle" class="title">{{langlist.LANG10}}</span>
                                    </div>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input class="enable_integration" style="margin-bottom: 8px" name="enable_pms" id="enable_pms" value="1" type="checkbox" {% if(cm_info.pms_username!='' and cm_info.pms_password!='' and cm_info.pms_integration==1 )%} checked {% endif %}>
                                    <label class="iradio-label form-label" for="enable_pms">{{ langlist.LANG11 }}</label>
                                </div>
                                <div {% if(cm_info.pms_integration==0 )%} class="hide" {% endif %}  id="pms_intigration">
                                <div class="row">
                                   <!-- <div class="form-group col-md-4">
                                        <label class="form-label" for="field-1">PMS Api Key</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull" name="pms_api_key" id="pms_api_key" value="{{ cm_info.pms_api_key }}" maxlength="50">
                                        </div>
                                    </div>-->
                                    <div class="form-group col-md-4">
                                        <label class="form-label" for="field-1">{{langlist.LANG12}}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull" name="pms_username" id="pms_username" value="{{ cm_info.pms_username }}" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label" for="field-1">{{langlist.LANG13}}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="password" class="form-control notnull" name="pms_password" id="pms_password" value="{{ cm_info.pms_password }}" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <table class="datatable table table-striped marginbottomzero" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th width="10%">{{langlist.LANG7}}</th>
                                        <th width="50%">{{langlist.LANG8}}</th>
                                        <th width="40%">{{langlist.LANG16}}</th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="datatable table table-striped" cellspacing="0" width="75%">
                                    <tbody>
                                    {% set cnt = 1 %}
                                    {% for key,value in datalist.location_list %}
                                    <tr>
                                        <td width="10%">{{ cnt }}</td>
                                        <td width="50%">{{ value.locationname | raw }}</td>
                                        <td width="40%">
                                            <input type="text" name="pms_hotel_id[{{ key }}]" id="pms_hotel_id{{ key }}" value="{{ value.pms_htl_id }}" class="form-control notnull integer "
                                                   style="width:100px;" maxlength="3">
                                        </td>
                                    </tr>
                                    {% set cnt = cnt+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--{% set cnt = 1 %}
                                {% for key,value in datalist.location_list %}
                                    <div class="row">
                                        <label class="form-label col-sm-1">{{ cnt }}</label>
                                        <div class="form-group col-md-4">
                                            <label class="form-label">{{ value.locationname }}</label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" class="form-control" name="tb_insta_lc_id[{{ key }}]" id="tb_insta_lc_id{{ key }}" value="{{ value.ti_lc_id }}" maxlength="50">
                                        </div>
                                    </div>
                                    {% set cnt = cnt+1 %}
                                {% endfor %}-->
                               <!-- <div class="row">
                                    <div class="form-group col-md-12" style="text-align: right">
                                        <button type="button" id="btnsubmit" class="btn btn-info">Submit</button>
                                    </div>
                                </div>-->
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    {% if cm_info.c_loyalty_integration==1 %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loyalty_int_settings">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header" style="margin-bottom: 15px;">
                                    <div class="card-title">
                                        <span id="loyaltytitle" class="title">{{langlist.LANG20}}</span>
                                    </div>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input class="enable_integration" style="margin-bottom: 8px" name="enable_loyalty" id="enable_loyalty" value="1" type="checkbox" {% if(cm_info.loyalty_appid!='' and cm_info.loyalty_appsecret!='' and cm_info.loyalty_integration=='1')%} checked {% endif %}>
                                    <label class="iradio-label form-label" for="enable_loyalty">{{ langlist.LANG21 }}</label>
                                </div>
                                <div {% if(cm_info.loyalty_integration=='0' )%} class="hide" {% endif %}  id="loyalty_intigration">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label" for="loyalty_appid">{{langlist.LANG22}}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull" name="loyalty_appid" id="loyalty_appid" value="{{ cm_info.loyalty_appid }}" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label" for="loyalty_appsecret">{{langlist.LANG23}}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull" name="loyalty_appsecret" id="loyalty_appsecret" value="{{ cm_info.loyalty_appsecret }}" maxlength="50">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endif %}
        </form>
        {% if '2' in PRIVdata %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12" style="text-align: right">
                        <button type="button" id="btnsubmit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    jQuery("#btnsubmit").click(function()
    {
        if(validate())
        {
            var myForm = document.getElementById('ApiSetForm');
            var formdata = new FormData(myForm);
            formdata.append('service','api_settings');
            formdata.append('opcode','editApiInfo');
            showjQloading();
            HttpSendRequest(formdata,function(data)
            {
                hidejQloading();
                if(data.Success=='True')
                {
                    if(data.Message == 'Settings_Updated_Successfully')
                    {
                        alertify.success('{{langlist.LANG18}}');
                    }
                }
                else
                {
                    if(data.Message == 'Please_Select_Different_Location')
                    {
                        alertify.error('{{langlist.LANG17}}');
                    }
                    jQuery('#ApiSetForm').trigger("reset");
                }
            });
        }else{
            alertify.alert('{{default_langlist.PLEASE_INSERT_REQUIRED_FIELDS}}','{{default_langlist.LABEL_OK}}');
        }
    });
    jQuery("#enable_tabinsta").change(function () {
        if (jQuery(this).is(':checked')) {
            jQuery('#tabinsta_intigration').removeClass('hide');
        }
        else{
            jQuery('#tabinsta_intigration').addClass('hide');
        }
    });

    jQuery("#enable_pms").change(function () {
        if (jQuery(this).is(':checked')) {
            jQuery('#pms_intigration').removeClass('hide');
        }
        else{
            jQuery('#pms_intigration').addClass('hide');
        }
    });

    jQuery("#enable_loyalty").change(function () {
        if (jQuery(this).is(':checked')) {
            jQuery('#loyalty_intigration').removeClass('hide');
        }
        else{
            jQuery('#loyalty_intigration').addClass('hide');
        }
    });

    function validate()
    {
        var error=0;
        $(".invalid").removeClass('invalid');

        if (jQuery('#enable_tabinsta').is(':checked')) {
            if ($("#tb_insta_app_id").val() == "") {
                error = 1;
                $('#tb_insta_app_id').addClass('invalid');
            }
            if ($("#tb_insta_app_secret").val() == "") {
                error = 1;
                $('#tb_insta_app_secret').addClass('ele_failed');
            }
        }

        if (jQuery('#enable_pms').is(':checked')) {
            if ($("#pms_username").val() == "") {
                error = 1;
                $('#pms_username').addClass('invalid');
            }
            if ($("#pms_password").val() == "") {
                error = 1;
                $('#pms_password').addClass('ele_failed');
            }
        }

        if (jQuery('#enable_loyalty').is(':checked')) {
            if ($("#loyalty_appid").val() == "") {
                error = 1;
                $('#loyalty_appid').addClass('invalid');
            }
            if ($("#loyalty_appsecret").val() == "") {
                error = 1;
                $('#loyalty_appsecret').addClass('ele_failed');
            }
        }


        if(error==1)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    function findtabinstalocationlocation() {
            var arr = {};
            arr['service'] = "api_settings";
            arr['opcode'] = "tabinstalocation";
            arr['app_id'] = jQuery("#tb_insta_app_id").val();
            arr['app_secret'] = jQuery("#tb_insta_app_secret").val();
            var str = urlencode(JSON.stringify(arr));

            HttpSendRequest(str,function(data){
                if(data.code == 200 && data.status == "ok" )
                {
                    var res = data.payload;
                    jQuery(".tab").empty();

                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for(var i=0;i<res.length;i++)
                    {
                        appendstr += '<option value="'+res[i]['location_id']+'">'+ res[i]['name']+'</option>';
                    }
                    jQuery(".list").append(appendstr);
                }
                else
                {
                    //return false;
                    if(data['message']=='app-id and app-secret is required')
                    {
                        alertify.error("{{langlist.LANG15}}");
                    }
                    else{
                        alertify.error("{{langlist.LANG19}}");
                    }

                    jQuery(".tab").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    jQuery(".list").append(appendstr);
                }
            });
    }
</script>
{% endblock %}