<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{default_langlist.AUDITLOG}}</h4>
        </div>
        <div class="col-xs-12 modal-body">
            <div class="card">
                <table class="datatable table table-striped" cellspacing="0" width="100%" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th width="12%">{{default_langlist.DATE_TIME}}</th>
                            <th width="15%">{{default_langlist.OBJECT}}</th>
                            <th width="15%">{{default_langlist.ACTIVITY}}</th>
                            <th width="33%">{{default_langlist.DESCRIPTION}}</th>
                            <th width="10%" style="text-align: center">{{default_langlist.USERNAME}} </th>
                            <th width="15%" style="text-align: center">{{default_langlist.USERIP}}</th>
                        </tr>
                    </thead>
                </table>
                <div style="max-height: 375px; overflow-y: auto;">
                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                        <tbody>
                            {% set cnt=1 %}
                            {% if rec|length>0 %}
                                {% for record in rec %}
                                    <tr>
                                        <td width="12%">{{ record.date }}<br/>{{ record.time }}</td>
                                        <td width="15%">{{ record.objct }}</td>
                                        <td width="15%">{{ record.title }}</td>
                                        <td width="33%">
                                            {% set cnt1=1 %}
                                            {% for key,value in record.info %}
                                                {% if cnt1 > 1 %} , {% endif %}
                                                    {{ key }} : {{ value }}
                                                {% set cnt1=cnt1+1 %}
                                            {% endfor %}
                                        </td>
                                        <td width="10%" style="text-align: center">{{ record.uname }}</td>
                                        <td width="15%" style="text-align: center">{{ record.userip }}</td>
                                    </tr>
                                    {% set cnt=cnt+1 %}
                                {% endfor %}
                            {% else %}
                                <div class="norecord">
                                    <i class="fa fa-meh-o"></i><br>
                                    {{default_langlist.NO_RECORDS}}
                                </div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>