<div id="modal_auth_indent" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabelsplit">{{langlist.LANG10}} </h4>
        </div>
        <form id="auth_indent_form" name="auth_indent_form">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body ">
                                <div class="form-group col-md-4">
                                    <label class="form-label">{{ langlist.LANG1 }}</label>:
                                    {{ indentDetail.indent_doc_num }}
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label">{{ langlist.LANG2 }}</label>:
                                    {{ indentDetail.indent_date }}
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label">{{ langlist.LANG3 }}</label>:
                                    {{ indentDetail.storename }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">{{ langlist.LANG11 }}</label>:
                                    {{ indentDetail.totalamount }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body OverFlwcs " id="indentlist">
                                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>{{ langlist.LANG4 }}</th>
                                            <th>{{ langlist.LANG8 }}</th>
                                            <th>{{ langlist.LANG13 }}</th>
                                            <th>{{ langlist.LANG12 }}</th>
                                            <th>{{ langlist.LANG7 }}</th>
                                            <th>{{ langlist.LANG6 }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="detailslist" >
                                        {% set i = 1 %}
                                        {% for key,value in indentItems %}
                                            <tr class="">
                                                <td align="left">{{ value.raw_material }}</td>
                                                <td align="left">
                                                    <input type="text" class="form-control" style="width:75px;" name="actual_qty[]" id="actual_qty{{ value.indentrequnkid }}"
                                                    disabled value="{{ value.actual_qty }}">
                                                </td>
                                                <td align="left">{{ value.item_unit }}</td>
                                                <td align="left">{{ value.rate }}</td>
                                                <td align="left">{{ value.stock_available }}</td>
                                                <td align="left">
                                                    <input type="text" class="form-control notnull decimal" style="width:75px;" name="auth_qty[]" id="auth_qty{{ value.indentrequnkid }}"
                                                    value="{{ value.auth_qty }}" maxlength="5" onkeypress="return isFloat(event,this.value);">
                                                </td>
                                                <input type="hidden" name="indent_detId[]" id="indent_detId{{ value.indentrequnkid }}" value="{{ value.indentrequnkid }}"/>
                                            </tr>
                                        {% set i = i + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <input type="hidden" name="auth_indent_id" id="auth_indent_id" value="{{ indentDetail.indentid }}">
                    <button class="btn btn-info" type="button" name="btn_auth_indent" id="btn_auth_indent">{{default_langlist.SUBMIT}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var lblerrormsg="{{default_langlist.PLZ_VALID_DETAIL_ADD}}";
    var lblok="{{default_langlist.OK}}";
    jQuery("#btn_auth_indent").click(function(){
        if(validate_form('auth_indent_form')){
           // showjQloading();
            var modalId = jQuery("#modal_auth_indent").parent().attr("modal_id");
            var arr_items = {};
            var items = [];
            jQuery.each(jQuery("input[name='indent_detId[]']"), function(){
                var itemId = $(this).val();
                arr_items[itemId] = {};
                arr_items[itemId]['auth_qty'] = jQuery("#auth_qty"+itemId).val();
                items.push(itemId);
            });
            var arr = {};
            arr['service'] = "received_indent";
            arr['opcode'] = "authorizeIndentItems";
            arr['indentid'] = jQuery("#auth_indent_id").val();
            arr['indent_items'] = arr_items;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str,function(data){
                hidejQloading();
                if(data.Success=="True"){
                    closeModal(modalId);
                    alertify.success(data['Message']);
                }else{
                    alertify.error(data['Message']);
                }
            });
        }else {
            alertify.alert(lblerrormsg,lblok);
        }
    });
</script>
