<!DOCTYPE html>
<html>
<head>
    <title>{{ (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Pure iPOS' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/alertify.core.css"/>
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/alertify.default.css">
    <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/app.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/commonjs.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/alertify.js"></script>
    <script type="text/javascript">
        function setCommonHeader() {
            var uName = localStorage.getItem('POS_CONFIG_UName');
            var client_email = localStorage.getItem('client_email');
            var client_name = localStorage.getItem('client_name');
            var company_logo = localStorage.getItem('company_logo');
            var pure_logo = localStorage.getItem('pure_logo');
            var company_id = localStorage.getItem('POS_CONFIG_CID');

            if(company_id == 2){
                jQuery('#version_foot').html(' : V2.0.0');
            }else{
                jQuery('#version_foot').html(' : V2.1.0.3');
            }

            var usernamelbl = '{{default_langlist.USERNAME}}';
            var versionlbl = '{{default_langlist.VERSION}}';
            jQuery("#userlbl").html(usernamelbl);
            jQuery("#versionlbl").html(versionlbl);
            jQuery("#username_foot").html(uName);
            jQuery(".client_email").html(client_email);

            if (typeof company_logo != "undefined" && company_logo != '') {
                jQuery("#Company_logo").attr('src', company_logo);
            } else {
                jQuery("#Company_logo").hide();
                jQuery("#Company_logo").remove();
            }

            if (typeof pure_logo != "undefined" && pure_logo != '') {
                jQuery("#PureItesLogo").attr('src', pure_logo);
            } else {
                jQuery("#PureItesLogo").hide();
                jQuery("#PureItesLogo").remove();
            }


            //Location/store switch
            var sid = localStorage.getItem('POS_CONFIG_SID');
            var lid = localStorage.getItem('POS_CONFIG_LID');
            var login_type = '{{ login_type }}';
            var login_chain = localStorage.getItem('POSConfigChain');
            var hotel = localStorage.getItem('POS_CONFIG_LName');
            jQuery("#head_name").html(hotel);
            if (login_chain != "") {
                var arr = JSON.parse(login_chain);
                if (arr.length > 0) {
                    var str = '<select name="outlet_switch" id="outlet_switch">';
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i]['type'] == 1) {
                            if (arr[i]['syslocationid'] == lid) {
                                str += '<option value="' + arr[i]['syslocationid'] + '" type="1" selected="selected">' + arr[i]['name'] + '</optiion>';
                            } else {
                                str += '<option value="' + arr[i]['syslocationid'] + '" type="1">' + arr[i]['name'] + '</optiion>';
                            }
                        }
                        if (arr[i]['type'] == 2) {
                            if (arr[i]['storeunkid'] == sid) {
                                str += '<option value="' + arr[i]['storeunkid'] + '" type="2" selected="selected">' + arr[i]['name'] + '</optiion>';
                            } else {
                                str += '<option value="' + arr[i]['storeunkid'] + '" type="2">' + arr[i]['name'] + '</optiion>';
                            }
                        }
                    }
                    str += '</select>';
                    jQuery("#ft_hotel").html(str);
                }
                else {
                    jQuery("#ft_hotel").html(hotel);
                }
            }
            else {
                jQuery("#ft_hotel").html(hotel);
            }
            //Location/store switch
        }

        function activemodule() {
            var modulename = localStorage.getItem('modulename');
            var pagename = localStorage.getItem('pagename');
            jQuery('#sidebar').find('li').each(function () {
                jQuery(this).removeClass('active');
            });
            jQuery('#' + modulename + '_container').addClass('active');
            jQuery('#' + modulename + '_container a').trigger('click');
            jQuery('#sidebar').find('li').find('a').each(function () {
                jQuery(this).removeClass('active');
            });
            jQuery('#' + pagename).addClass('active');
        }

        function integration() {
           /* var tabinsta = localStorage.getItem('TABINSTA_INTEGRATION');
            var pms = localStorage.getItem('PMS_INTEGRATION');
            if (tabinsta == 1 || pms == 1) {
                jQuery("#leftpanel_api_settings").show();
            }
            else {*/
                jQuery("#leftpanel_api_settings").hide();
            /*}*/
        }
    </script>
    {% block headblock %}{% endblock %}
</head>
<body class="flat-blue">

<div class="loader1">
    <div class="loader-wrap loader3">
        <div>
            <div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-container expanded ">
    <div class="row content-container">
        <nav id="navbar" class="navbar navbar-fixed-top navbar-top navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle fa-rotate-90">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        {% block headerblock %}{% endblock %}
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <!--<li>-->
                    <!--<a href="{{ commonurl }}cloud/orders" title="Orders"><i class="fa fa-list-ul"></i></a>                  -->
                    <!--</li>-->
                    <li class="dropdown profile">
                        <img id="Company_logo" src="" alt="logo" width="40" height="40">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><span class="shopname" id="head_name"></span> <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <div class="profile-info">
                                    <!--<div class="margin-bottom-2x" role="group">
                                      <a href="{{ commonurl }}cloud/user"  class="btn btn-primary" title="Users" id="user"><i class="fa fa-user"></i> &nbsp; User</a>
                                    </div>-->
                                    <!--  <div class="margin-bottom-2x" role="group">
                                          <button type="button" class="btn btn-primary"><i class="fa fa-user"></i> &nbsp;
                                              Profile
                                          </button>
                                      </div>-->
                                    <div class="margin-bottom-2x" role="group">
                                        <a id="logout" href="{{ commonurl }}logout.php" class="btn btn-danger"><i
                                                class="fa fa-sign-out"></i> &nbsp; {{default_langlist.LOGOUT}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="sidebar" class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <div style="width: 100%">
                                <div align="left" style="width: 10%;display:inline-block;">
                                    <img id="PureItesLogo" src="" alt="logo" style="margin: 0 auto;height: 40px;display: block;vertical-align: middle;position: relative;
    display: inline-table;">
                                </div>
                                <div style="width: 80%;display:inline-block;" align="right" class="title">{{
                                    (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Pure Cloud POS' }}
                                </div>
                            </div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        {% set data = grpprivlist|split(',') %}
                        {% if login_type==1 %}
                        {% if '2' in data %}
                        <li id="dashboard_container">
                            <a href="{{ commonurl }}cloud/dashboard">
                                <span class="icon fa fa-tachometer"></span><span class="title">{{default_langlist.DASHBOARD}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==1 %}
                        {% if '2' in data %}
                        <li id="orders_container">
                            <a href="{{ commonurl }}cloud/orders">
                                <span class="icon fa fa-list-ul"></span><span
                                    class="title">{{default_langlist.ORDERS}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==1 %}
                        {% if '3' in data or '4' in data or '5' in data  or '75' in data  or '79' in data  or '80' in data %}
                        <li id="config_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#configuration">
                                <span class="icon fa fa-money"></span><span class="title">{{default_langlist.CONFIGURATION}}</span>
                            </a>
                            <div id="configuration" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '3' in data %}
                                        <li id="leftpanel_paymenttype"><a href="{{ commonurl }}cloud/paymenttype"><span
                                                class="title">{{default_langlist.PAYMENT_TYPE}}</span></a></li>
                                        {% endif %}
                                        {% if '4' in data %}
                                        <li id="leftpanel_discount"><a href="{{ commonurl }}cloud/discount"><span
                                                class="title">{{default_langlist.DISCOUNT}}</span></a></li>
                                        {% endif %}
                                        {% if '5' in data %}
                                        <li id="leftpanel_tax"><a href="{{ commonurl }}cloud/tax"><span class="title">{{default_langlist.TAX}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '92' in data %}
                                        <li id="leftpanel_charges"><a href="{{ commonurl }}cloud/charges"><span class="title">{{default_langlist.CHARGES}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '75' in data %}
                                        <li id="leftpanel_denomination"><a href="{{ commonurl }}cloud/denomination"><span class="title">{{default_langlist.DENOMINATION}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '79' in data %}
                                        <li id="leftpanel_cancel_order_reasons"><a href="{{ commonurl }}cloud/cancel_order_reasons"><span class="title">{{default_langlist.REASON}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '80' in data %}
                                        <li id="leftpanel_amenities"><a href="{{ commonurl }}cloud/amenities"><span class="title">{{default_langlist.AMENITIES}}</span></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}

                        {% if login_type==1 %}
                        {% if '5' in data or '6' in data or '7' in data or '8' in data or '9' in data or '10' in data or
                        '11' in data or '12' in data or '13' in data %}
                        <li id="menu_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#menu">
                                <span class="icon fa fa-file-text-o"></span><span class="title">{{default_langlist.MENU}}</span>
                            </a>
                            <div id="menu" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <!--<li id="leftpanel_menuhours"><a href="{{ commonurl }}cloud/menu_menuhours"><span class="title"><i class="icon fa fa-hourglass-o"></i>Menu Hours</span></a></li>-->
                                        {% if '6' in data %}
                                        <li id="leftpanel_menu"><a href="{{ commonurl }}cloud/menu_menu"><span
                                                class="title">{{default_langlist.MENU}}</span></a></li>
                                        {% endif %}
                                        {% if '7' in data %}
                                        <li id="leftpanel_category"><a href="{{ commonurl }}cloud/menu_category"><span
                                                class="title">{{default_langlist.CATEGORY}}</span></a></li>
                                        {% endif %}
                                        {% if '8' in data %}
                                        <li id="leftpanel_item_type"><a href="{{ commonurl }}cloud/menu_item_type"><span
                                                class="title">{{default_langlist.ITEM_TYPE}} </span></a></li>
                                        {% endif %}
                                        {% if '9' in data %}
                                        <li id="leftpanel_item_unit"><a href="{{ commonurl }}cloud/menu_item_unit"><span
                                                class="title">{{default_langlist.ITEM_UNIT}}</span></a></li>
                                        {% endif %}
                                        {% if '10' in data %}
                                        <li id="leftpanel_item"><a href="{{ commonurl }}cloud/menu_item"><span
                                                class="title">{{default_langlist.ITEM}}</span></a></li>
                                        {% endif %}
                                        {% if '11' in data %}
                                        <li id="leftpanel_modifier"><a href="{{ commonurl }}cloud/menu_modifier"><span
                                                class="title">{{default_langlist.MODIFIER}}</span></a></li>
                                        {% endif %}
                                        {% if '12' in data %}
                                        <li id="leftpanel_modifier_time"><a
                                                href="{{ commonurl }}cloud/menu_modifier_item"><span class="title">{{default_langlist.MODIFIER_ITEM}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '13' in data %}
                                        <li id="leftpanel_combo_product"><a
                                                href="{{ commonurl }}cloud/combo_product"><span class="title">{{default_langlist.COMBO_PRODUCT}}</span></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}

                        {% if login_type==1 %}
                        {% if '14' in data or '15' in data %}
                        <!--<li id="tablemanagement_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#tablemanagement">
                                <span class="icon fa fa fa-table"></span><span class="title">{{default_langlist.TABLEMANAGEMENT}} </span>
                            </a>
                            <div id="tablemanagement" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        &lt;!&ndash;<li id="leftpanel_menuhours"><a href="{{ commonurl }}cloud/menu_menuhours"><span class="title"><i class="icon fa fa-hourglass-o"></i>Menu Hours</span></a></li>&ndash;&gt;
                                        {% if '14' in data %}
                                        <li id="leftpanel_table_class"><a href="{{ commonurl }}cloud/table_class"><span
                                                class="title">{{default_langlist.TABLE_CLASS}}</span></a></li>
                                        {% endif %}
                                        {% if '15' in data %}
                                        <li id="leftpanel_table_table"><a href="{{ commonurl }}cloud/table_table"><span
                                                class="title">{{default_langlist.TABLE_TABLE}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>-->
                        {% endif %}
                        {% endif %}

                        {% if login_type==1 %}
                        {% if '16' in data or '71' in data or '18' in data or '19' in data or '20' in data or '21' in data or '72' in data %}
                        <!--data or lang_type==1 %}-->
                        <li id="settings_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#settings">
                                <span class="icon fa fa-cogs"></span><span
                                    class="title">{{default_langlist.SETTINGS}}</span>
                            </a>
                            <div id="settings" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '16' in data %}
                                        <li id="leftpanel_displaysettings">
                                            <a href="{{ commonurl }}cloud/displaysettings">
                                                <span class="title">{{default_langlist.DISPLAY_SETTINGS}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if lang_type==1 %}
                                        {% if '71' in data %}
                                        <li id="leftpanel_langsettings">
                                            <a href="{{ commonurl }}cloud/languagesettings">
                                                <span class="title">{{default_langlist.LANGUAGE_SETTINGS}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        {% if lang_type==1 %}
                                        {% if '72' in data %}
                                        <li id="leftpanel_frontlangsettings">
                                            <a href="{{ commonurl }}cloud/frontlanguagesettings">
                                                <span class="title">{{default_langlist.FRONT_LANGUAGE_SETTINGS}}  </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        {% if '18' in data %}
                                        <li id="leftpanel_locationinfo">
                                            <a href="{{ commonurl }}cloud/location_info">
                                                <span class="title">{{default_langlist.LOCATION_SETTINGS}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if '19' in data %}
                                        <li id="leftpanel_doc_numbering">
                                            <a href="{{ commonurl }}cloud/document_numbering">
                                                <span class="title">{{default_langlist.DOCUMENT_NUMBERING}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if '21' in data %}
                                        <!--<li id="leftpanel_devicelist">
                                            <a href="{{ commonurl }}cloud/device">
                                                <span class="title">Device</span>
                                            </a>
                                        </li>-->
                                        {% endif %}
                                        {% if '20' in data %}
                                        <!--<li id="leftpanel_terminallist">
                                            <a href="{{ commonurl }}cloud/terminal">
                                                <span class="title">Terminal</span>
                                            </a>
                                        </li>-->
                                        {% endif %}
                                        {% if tran_langs != '' %}
                                        <li id="leftpanel_translate_language">
                                            <a href="{{ commonurl }}cloud/translate_language">
                                                <span class="title">{{default_langlist.TRANSLATE_LANGUAGES}}</span>
                                            </a>
                                        </li>
                                        {% endif %}


                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==1 %}
                        {% if '22' in data %}
                        <li id="reports_container">
                            <a href="{{ commonurl }}cloud/reports">
                                <span class="icon fa fa-file-text-o"></span><span class="title">{{default_langlist.REPORTS}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==1 %}
                        {% if '73' in data or '74' in data or '94' in data %}
                        <li id="account_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#account">
                                <span class="icon fa fa-money"></span><span class="title">{{default_langlist.PAYMENT_ACCOUNT}}</span>
                            </a>
                            <div id="account" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <!--{% if '74' in data %}
                                        <li id="leftpanel_no_charge_group">
                                            <a href="{{ commonurl }}cloud/no_charge_group">
                                                <span class="title">{{default_langlist.NO_CHARGE_GROUP}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if '73' in data %}
                                          <li id="leftpanel_nocharge">
                                            <a href="{{ commonurl }}cloud/nocharge">
                                                <span class="title">{{default_langlist.NO_CHARGE}} </span>
                                            </a>
                                        </li>
                                        {% endif %}-->
                                        {% if '94' in data %}
                                        <li id="leftpanel_companyaccount">
                                            <a href="{{ commonurl }}cloud/company_account">
                                                <span class="title">{{default_langlist.COMPANY_ACCOUNT}} </span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==1 %}
                        {% if '29' in data %}
                        <li id="currencylist_container">
                            <a href="{{ commonurl }}cloud/currencylist">
                                <span class="icon fa fa-dollar"></span><span class="title">Currency List</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==2 %}
                            {% if '25' in data or '26' in data or '52' in data or '27' in data or '28' in data %}
                        <li id="store_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#store">
                                <span class="icon fa fa-shopping-cart"></span><span class="title">{{default_langlist.STORE}}</span>
                            </a>
                            <div id="store" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '25' in data %}
                                        <li id="leftpanel_unit"><a href="{{ commonurl }}cloud/unit"><span class="title">{{default_langlist.UNIT}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '26' in data %}
                                        <li id="leftpanel_vendor"><a href="{{ commonurl }}cloud/vendor"><span
                                                class="title">{{default_langlist.VENDOR}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '52' in data %}
                                        <li id="leftStorepanel_tax"><a href="{{ commonurl }}cloud/store_tax"><span
                                                class="title">{{default_langlist.TAX}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '27' in data %}
                                        <li id="leftpanel_rawcategory"><a href="{{ commonurl }}cloud/raw_category"><span
                                                class="title">{{default_langlist.RAWMATERIALCATEGORY}}</span></a></li>
                                        {% endif %}
                                        {% if '28' in data %}
                                        <li id="leftpanel_rawmaterial"><a href="{{ commonurl }}cloud/rawmaterial"><span
                                                class="title">{{default_langlist.RAWMATERIAL}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                            {% endif %}


                        {% if login_type==2 %}
                        {% if '31' in data or '53' in data or '54' in data or '55' in data or '56' in data or '57' in
                        data or '68' in data or '58' in data %}
                        <li id="store_indent_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#store_indent">
                                <span class="icon fa fa-indent"></span><span class="title">{{default_langlist.INDENTMANAGEMENT}}</span>
                            </a>
                            <div id="store_indent" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '31' in data %}
                                        <li id="leftpanel_forward_indent"><a href="{{ commonurl }}cloud/forwardindent">
                                            <span class="title">{{default_langlist.INDENTREQUEST}}</span></a></li>
                                        {% endif %}
                                        {% if '53' in data %}
                                        <li id="leftpanel_received_indent"><a
                                                href="{{ commonurl }}cloud/received_indent">
                                            <span class="title">{{default_langlist.RECEIVEDINDENT}}</span></a></li>
                                        {% endif %}
                                        {% if '54' in data %}
                                        <li id="leftpanel_issue_voucher"><a href="{{ commonurl }}cloud/issue_voucher">
                                            <span class="title">{{default_langlist.ISSUEVOUCHER}}</span></a></li>
                                        {% endif %}
                                        {% if '55' in data %}
                                        <li id="leftpanel_received_voucher"><a
                                                href="{{ commonurl }}cloud/received_voucher">
                                            <span class="title">{{default_langlist.RECEIVEDVOUCHER}}</span></a></li>
                                        {% endif %}
                                        {% if '56' in data %}
                                        <li id="leftpanel_purchaseorder"><a href="{{ commonurl }}cloud/purchaseorder">
                                            <span class="title">{{default_langlist.PURCHASEORDER}}</span></a></li>
                                        {% endif %}
                                        {% if '57' in data %}
                                        <li id="leftpanel_good_receipt_note"><a
                                                href="{{ commonurl }}cloud/good_receipt_note">
                                            <span class="title">{{default_langlist.GOODRECEIPTNOTE}}</span></a></li>
                                        {% endif %}
                                        {% if '68' in data %}
                                        <li id="leftpanel_purchase_invoice"><a
                                                href="{{ commonurl }}cloud/purchase_invoice">
                                            <span class="title">{{default_langlist.PURCHASE_INVOICE}}</span></a></li>
                                        {% endif %}
                                        {% if '58' in data %}
                                        <li id="leftpanel_goods_return"><a href="{{ commonurl }}cloud/goodsreturn">
                                            <span class="title">{{default_langlist.GOODSRETURN}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if '59' in data or '60' in data or '61' in data or '62' in data %}
                        <li id="inventory_transaction_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#inventory_transaction">
                                <span class="icon fa fa-indent"></span><span class="title">{{default_langlist.INVENTORYTRANSACTION}}</span>
                            </a>
                            <div id="inventory_transaction" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '59' in data %}
                                        <li id="leftpanel_physicalinventorytracking"><a
                                                href="{{ commonurl }}cloud/physicalinventorytracking">
                                            <span class="title">{{default_langlist.PHYSICALINVENTORYTRAKING}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '60' in data %}
                                        <li id="leftpanel_inventoryadjustment"><a
                                                href="{{ commonurl }}cloud/inventoryadjustment">
                                            <span class="title">{{default_langlist.INVENTORYADJUSTMENT}}</span></a></li>
                                        {% endif %}
                                        {% if '61' in data %}
                                        <li id="leftpanel_inventoryconsumption"><a
                                                href="{{ commonurl }}cloud/inventoryconsumption">
                                            <span class="title">{{default_langlist.INVENTORYCONSUMPTION}}</span></a>
                                        </li>
                                        {% endif %}
                                        {% if '62' in data %}
                                        <li id="leftpanel_inventorywastage"><a
                                                href="{{ commonurl }}cloud/inventorywastage">
                                            <span class="title">{{default_langlist.INVENTORYWASTAGE}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==2 %}
                        {% if '63' in data or '64' in data or '66' in data %}
                        <li id="store_settings_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#store_settings">
                                <span class="icon fa fa-cogs"></span><span class="title">{{default_langlist.STORESETTINGS}}</span>
                            </a>
                            <div id="store_settings" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '63' in data %}
                                        <li id="leftpanel_store_settings">
                                            <a href="{{ commonurl }}cloud/store_settings">
                                                <span class="title">{{default_langlist.DISPLAYSETTINGS}}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if '64' in data %}
                                        <li id="leftpanel_indentnumbering">
                                            <a href="{{ commonurl }}cloud/indentnumbering">
                                                <span class="title">{{default_langlist.INDENTNUMBERING}}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if '66' in data %}
                                        <li id="leftpanel_storelanguagesettings">
                                            <a href="{{ commonurl }}cloud/storelanguagesettings">
                                                <span class="title">{{default_langlist.LANGUAGESETTINGS}}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if login_type==2 %}
                        {% if '65' in data %}
                        <li id="storereports_container">
                            <a href="{{ commonurl }}cloud/storereports">
                                <span class="icon fa fa-file-text-o"></span><span class="title">{{default_langlist.REPORTS}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                       <!-- {% if login_type==1 %}
                        {% if '69' in data or '70' in data %}
                        <li id="user_container" class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#user">
                                <span class="icon fa fa-user"></span><span class="title">{{default_langlist.USER}}</span>
                            </a>
                            <div id="user" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        {% if '69' in data %}
                                        <li id="leftpanel_waiter"><a href="{{ commonurl }}cloud/waiter"><span
                                                class="title">{{default_langlist.WAITER}}</span></a></li>
                                        {% endif %}
                                        {% if '70' in data %}
                                        <li id="leftpanel_poc_user"><a href="{{ commonurl }}cloud/poc_user"><span
                                                class="title">{{default_langlist.POC_USER}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}-->

                        {% if login_type==1 %}
                        {% if '30' in data %}
                        <li id="leftpanel_api_settings">
                            <a href="{{ commonurl }}cloud/api_settings">
                                <span class="icon fa fa-link"></span><span class="title">{{default_langlist.API_SETTINGS}} </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}

                    </ul>
                </div>
            </nav>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
            <div class="modal fade modal-primary" id="modalPrimary" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true"></div>
        </div>
        {% set report_PRIVdata = PRIVLIST|split(',') %}
        <div id="report_content" style="display: none;">
            <div class="side-body">
                <div class="row" style="margin: auto; width: 21cm;">
                    <div class="col-xs-12 text-right" style="padding: 0 0 10px 0">
                        {% if '550' in report_PRIVdata %}
                        <button class="btn btn-primary export_csv hide" type="button">{{default_langlist.EXPORT}}
                        </button>
                        {% endif %}
                        <button class="btn btn-info" type="button" onclick="PrintElem('print_content')">
                            {{default_langlist.PRINT}}
                        </button>
                        <button class="btn btn-info" type="button" onclick="Exitinvoice()">{{default_langlist.BACK}}
                        </button>
                    </div>
                    <div class="col-xs-12" style="padding: 0">
                        <div class="card" id="print_content"
                             style="min-height: 1122px;width: 793px;border: 1px #D3D3D3 solid;border-radius: 5px;margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_block"></div>
        <input type="hidden" id="lid_modal" value="0">
        <!-- <footer class="app-footer">
             <div class="wrapper">
                 <span class="pull-right">1.0</span>{{ (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Parghi Infotech Pvt.
                 Ltd. &copy; 2016 Copyright.' }}
             </div>
         </footer>-->
        <div class="footer">
            {% include 'config_footer.html' %}
        </div>
    </div>
    <!-- //modal-con -->
</div>

<script type="text/javascript">
    setCommonHeader();
    activemodule();
    integration();
    jQuery('#outlet_switch').change(function () {
        var oid = jQuery('#outlet_switch').val();
        var type = jQuery("#outlet_switch option:selected").attr('type');
        switch_outlet(oid, type);
    });
</script>
</body>
</html>
