{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datepicker-->
<script type="text/javascript">
    localStorage.setItem('modulename', 'config');
    localStorage.setItem('pagename', 'leftpanel_charges');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CONFIGURATION}}</li>
<li class="active">{{default_langlist.CHARGES}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '561' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '566' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if '565' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '561' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '561' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{default_langlist.SHORT_CODE}}</th>
                                <th>{{ default_langlist.CHARGES }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.charge @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if '567' in PRIVdata %}
                                    <@ if(this.charge_type != 1 && this.charge_type != 2){  @>   <!-- && this.charge_type != 3-->
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '564' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa  fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '563' in PRIVdata %}

                                    <a class="update_ico"
                                       onclick="check_related_records('<@=this.hashkey@>','{{ module }}')"
                                       href="javascript:void(0)" title="{{ default_langlist.REL_REC }}">
                                        <i class="fa fa-info"></i></a>

                                    </a>
                                    {% endif %}

                                    {% if '562' in PRIVdata %}
                                    <@ if(this.charge_type != 1 && this.charge_type != 2){  @>  <!--&& this.charge_type != 3-->
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{ default_langlist.DELETE }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <@ } @>
                                    {% endif %}

                                    {% if '565' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}

                                    {% if '570' in PRIVdata %}
                                    {% if is_zomato == 1%}
                                    <@ if(this.charge_type == 1 || this.charge_type == 2){  @>
                                    <a class="update_ico"
                                       onclick="togglezomato('<@= this.hashkey @>','{{ module }}','<@=this.isactive@>')"
                                           title="{{ langlist.LANG20 }}">
                                        <@ if(this.apply_zomato=='1'){ @>
                                        <i class="fa fa-check" style="color: #35b5b6"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: #4e0505"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="chargesform" name="chargesform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortname">{{default_langlist.SHORT_CODE}} </label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="shortname" id="shortname"
                                       maxlength="30">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="chargename">{{ langlist.LANG13 }} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="chargename" id="chargename" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="appliesfrom">{{ langlist.LANG14 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="appliesfrom" id="appliesfrom">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{ langlist.LANG15 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline" id="radio_per">
                                    <input id="per" class="" style="margin-bottom: 8px" name="chargerule" value="1"
                                           checked="checked" type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="per">{{ langlist.LANG16 }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline" id="radio_flat">
                                    <input id="flat" class="" style="margin-bottom: 8px" name="chargerule" value="2"
                                           type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="flat">{{ langlist.LANG17 }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="amount">{{default_langlist.AMOUNT}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control decimal notnull" name="amount" id="amount" maxlength="5">
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{ default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">{{
                                        default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{
                                        default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-md-4" id="is_applyon_div">
                            <label class="form-label" for="field-1">{{langlist.LANG12}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline" id="radio_order"  style="display: none;">
                                    <input id="is_applyon_order" class="" style="margin-bottom: 8px" name="applicable_on" value="1"
                                           type="radio" checked="checked">
                                    <label class="iradio-label form-label" for="is_applyon_order">{{
                                        langlist.LANG18}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline" id="radio_item"  style="display: none;">
                                    <input id="is_applyon_item" class="" style="margin-bottom: 8px" name="applicable_on" value="2"
                                          type="radio">
                                    <label class="iradio-label form-label" for="is_applyon_item">{{
                                        langlist.LANG19}}</label>
                                </div>
                            </div>
                        </div>

                        {% if is_zomato==1 %}
                        <div class="form-group col-md-4" style="display: none;" id="is_charge_allways_div">
                            <label class="form-label" for="field-1">{{langlist.LANG21}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline" >
                                    <input id="is_applicable_yes" class="" style="margin-bottom: 8px" name="is_charge_always_applicable" value="1"
                                           type="radio" checked="checked">
                                    <label class="iradio-label form-label" for="is_applicable_yes" onclick="hideBellowAmount()">{{
                                        default_langlist.YES }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline" >
                                    <input id="is_applicable_no" class="" style="margin-bottom: 8px" name="is_charge_always_applicable" value="0"
                                           type="radio" onclick="showBellowAmount()">
                                    <label class="iradio-label form-label" for="is_applicable_no">{{
                                        default_langlist.NO }}</label>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if is_zomato==1 %}
                        <div class="form-group col-md-4" style="display: none;" id="charge_below_div">
                            <label class="form-label" for="charge_applicable_below_order_amount">{{langlist.LANG11}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control decimal" name="charge_applicable_below_order_amount" id="charge_applicable_below_order_amount" maxlength="30">
                            </div>
                        </div>
                        {% endif %}

                        <!--{% if is_zomato==1 %}
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4" id="checkbox_tier" style="display: none;">
                            <div class="checkbox3 checkbox-check">
                                <input id="is_tier" type="checkbox" name="is_tier" value="1" onclick="showTiers()">
                                <label for="is_tier">{{ langlist.LANG4 }} </label>
                            </div>
                        </div>
                        {% endif %}
                        {% if is_zomato==1 %}

                        <div class="clearfix"></div>
                        <div id="tiers_div"  style="display: none;">
                            <div class="card">
                                <span class="required" aria-required="true" ><h4 class="tier-txt" class="tier-txt">{{ langlist.LANG5 }}</h4></span>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="tier1_chargeamount">{{langlist.LANG10}} </label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier1_chargeamount" id="tier1_chargeamount"
                                               maxlength="30">
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="charge_allways_div1">
                                    <label class="form-label" for="field-1">{{ langlist.LANG21}}</label>
                                    <div class="controls">
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier1_active" class="" style="margin-bottom: 8px" name="tier1_status" value="1"
                                                   checked="checked" type="radio" onclick="hideBellowAmountTier(1)">
                                            <label class="iradio-label form-label" for="tier1_active">{{
                                                default_langlist.YES }}</label>
                                        </div>
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier1_inactive" class="" style="margin-bottom: 8px" name="tier1_status" value="0"
                                                   type="radio" onclick="showBellowAmountTier(1)">
                                            <label class="iradio-label form-label" for="tier1_inactive">{{
                                                default_langlist.NO }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="below_div_tier1">
                                    <label class="form-label" for="tier1_belowcharge">{{langlist.LANG11}} </label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier1_belowcharge" id="tier1_belowcharge"
                                               maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <span class="required" aria-required="true"><h4 class="tier-txt">{{langlist.LANG6}}</h4></span>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="tier2_chargeamount">{{langlist.LANG10}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier2_chargeamount" id="tier2_chargeamount"
                                               maxlength="30">
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="charge_allways_div2">
                                    <label class="form-label" for="field-1">{{ langlist.LANG21 }}</label>
                                    <div class="controls">
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier2_active" class="" style="margin-bottom: 8px" name="tier2_status" value="1"
                                                   checked="checked" type="radio" onclick="hideBellowAmountTier(2)">
                                            <label class="iradio-label form-label" for="tier2_active">{{
                                                default_langlist.YES }}</label>
                                        </div>
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier2_inactive" class="" style="margin-bottom: 8px" name="tier2_status" value="0"
                                                   type="radio" onclick="showBellowAmountTier(2)">
                                            <label class="iradio-label form-label" for="tier2_inactive">{{
                                                default_langlist.NO }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="below_div_tier2">
                                    <label class="form-label" for="tier2_belowcharge">{{langlist.LANG11}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier2_belowcharge" id="tier2_belowcharge"
                                               maxlength="30">
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <span class="required" aria-required="true"><h4 class="tier-txt">{{langlist.LANG7}}</h4></span>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="tier3_chargeamount">{{langlist.LANG10}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier3_chargeamount" id="tier3_chargeamount"
                                               maxlength="30">
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="charge_allways_div3">
                                    <label class="form-label" for="field-1">{{ langlist.LANG21 }}</label>
                                    <div class="controls">
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier3_active" class="" style="margin-bottom: 8px" name="tier3_status" value="1"
                                                   checked="checked" type="radio" onclick="hideBellowAmountTier(3)">
                                            <label class="iradio-label form-label" for="tier3_active">{{
                                                default_langlist.YES }}</label>
                                        </div>
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="tier3_inactive" class="" style="margin-bottom: 8px" name="tier3_status" value="0"
                                                   type="radio" onclick="showBellowAmountTier(3)">
                                            <label class="iradio-label form-label" for="tier3_inactive">{{
                                                default_langlist.NO }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4" id="below_div_tier3">
                                    <label class="form-label" for="tier3_belowcharge">{{langlist.LANG11}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="tier3_belowcharge" id="tier3_belowcharge"
                                               maxlength="30">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}-->

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{ default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{ default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("561");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

    var round_off_digit = '{{ roundoff }}';

    function pageInit(data) {

        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'charges',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            jQuery("#chargename").attr("readonly", false);

            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG2}}');
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'charges';
                arr['opcode'] = 'getChargeRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#check_"+res.taxunkid).hide();
                        jQuery("#shortname").val(res.shortcode);
                        jQuery("#chargename").val(res.charge);
                        jQuery("#appliesfrom").val(res.appliesfrom);
                        jQuery("#amount").val(parseFloat(res.amount).toFixed(round_off_digit));

                        if (res.applicable_on == 1) {
                            jQuery("#is_applyon_order").trigger("click");
                        }
                        if (res.applicable_on == 2) {
                            jQuery("#is_applyon_item").trigger("click");
                        }

                        if (res.type == 1) {
                            jQuery("#per").trigger("click");
                            jQuery("#radio_item").hide();
                        }
                        else {
                            jQuery("#flat").trigger("click");
                        }
                        if (res.charge_type == 2) {
                            jQuery("#radio_per").hide();
                            jQuery("#radio_item").hide();
                            jQuery("#flat").attr("checked",true);
                            jQuery("#is_charge_allways_div").show();
                         
                        }
                        if (res.charge_type == 1 || res.charge_type == 2) {   //     || res.charge_type == 3  ( remove service charge)
                             jQuery("#chargename").attr("readonly",true);
                            // jQuery("#checkbox_tier").show();


                            if (res.charge_always_applicable == 0) {
                                jQuery("#is_applicable_no").trigger("click");
                                jQuery("#charge_below_div").show();
                                jQuery("#charge_applicable_below_order_amount").val(parseFloat(res.charge_applicable_below_order_amount).toFixed(round_off_digit));
                            }
                            else
                            {
                                jQuery("#is_applicable_yes").trigger("click");
                            }

                           
                            }
                        
                        setAmtLimit();
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery('#chargesform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
       
        jQuery("#radio_per").show();
        jQuery("#flat").attr("checked",false);
        jQuery("#is_charge_allways_div").hide();
        jQuery("#charge_below_div").hide();
        jQuery("#charge_applicable_below_order_amount").removeClass('notnull');

        jQuery("#radio_item").show();
        jQuery("#radio_order").show();

    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('chargesform')) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('chargesform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'charges');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);

            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    var SuccessMessage = '';
                    if (id == 0) {
                        SuccessMessage = "{{default_langlist.REC_ADD_SUC}}";
                    }
                    else {
                        SuccessMessage = "{{default_langlist.REC_UP_SUC}}";
                    }
                    alertify.success(SuccessMessage);
                    refreshaddedit();
                    refreshlist();

                } else {
//                   if (data['Message'] == 'RECORD_ALREADY_EXISTS') {
//                        alertify.error('{{default_langlist.RECORD_ALREADY_EXISTS}}');
//                    }
//                    if (data['Message'] == 'NO_TAX_CAN_BE_ADDED') {
//                        alertify.error('{{langlist.LANG3}}');
//                    }
                    alertify.error(data['Message']);
                }
                return false;

            });
        } else {
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function setAmtLimit() {
        if (jQuery('#per').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 5);
        }
        if (jQuery('#flat').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 10);
        }
    }

    jQuery('#appliesfrom').datepicker({
        startDate: '+0d',
        autoclose: true,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    
    function showBellowAmount()
    {
       jQuery('#charge_below_div').show();
       jQuery('#charge_applicable_below_order_amount').addClass('notnull');
    }
    function hideBellowAmount()
    {
       jQuery('#charge_below_div').hide();
       jQuery('#charge_applicable_below_order_amount').val('');
       jQuery('#charge_applicable_below_order_amount').removeClass('notnull');

    }
   

</script>
{% endblock %}