{% extends 'base.html' %} {% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>

<script type="text/javascript"
        src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script type="text/javascript"
        src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
        src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/unitcombo.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<script type="text/javascript">
    localStorage.setItem('modulename', 'combo_product');
    localStorage.setItem('pagename', 'leftpanel_combo_product');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.COMBO_PRODUCT}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '24' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '20' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                        {% if '26' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                        {% if is_zomato == 1 %}
                        {% if '573' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="loadcombozomatosetting('{{ module }}')">{{langlist.LANG55}}
                            </button>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% if '24' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '24' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>

                                <td>
                                    <@=this.comboname @>
                                </td>
                                <td>
                                    <@=this.amount @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">
                                    {% if '23' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)"
                                       title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '21' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '22' in PRIVdata %}

                                    <a class="update_ico"
                                       onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '26' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')">
                                        <i class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="content-body">
            <div class="row">
                <form id="comboproductform" name="comboproductform" enctype="multipart/form-data">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="content-body">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header" style="margin-bottom: 15px;">
                                                <div class="card-title">
                                                    <span id="frmtitle" class="title"></span>
                                                    <input type="hidden" id="id" name="id" value="0"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="name">{{ langlist.LANG4 }} {{
                                                        default_langlist.UNIQUE }}</label><span class="required"
                                                                                                aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="comboname"
                                                               id="comboname" maxlength="50">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="txtsku">{{ default_langlist.SKU }} {{
                                                        default_langlist.UNIQUE }}</label><span class="required"
                                                                                                aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="txtsku"
                                                               id="txtsku" maxlength="15">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="upload_img">{{
                                                        default_langlist.UPLOAD_IMAGE}}</label>
                                                    <div class="controls">
                                                        <input type="file" class="form-control" name="upload_img"
                                                               id="upload_img" onchange="uploadpic(this);">
                                                        <img src="" class="itemimages" width="100" height="100"
                                                             id="itemimg" style="display: none;"/>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="form-group col-md-12">
                                                    <label class="form-label" for="txtlongdescription">{{
                                                        default_langlist.DESCRIPTION}}</label>
                                                    <div class="controls">
                                                        <textarea id="txtlongdescription" name="txtlongdescription"
                                                                  class="form-control" maxlength="1000"></textarea>
                                                    </div>
                                                </div>

                                                <!--<div class="form-group col-md-4">-->
                                                <!--<label class="form-label" for="amount">{{ langlist.LANG5 }}</label><span class="required" aria-required="true"> *</span>-->
                                                <!--<div class="controls">-->
                                                <!--<input type="text" class="form-control notnull decimal" name="amount" id="amount" maxlength="6">-->
                                                <!--</div>-->
                                                <!--</div>-->

                                                <div class="form-group col-md-4 edit_hide">
                                                    <label class="form-label"
                                                           for="field-1">{{default_langlist.STATUS}}</label>
                                                    <div class="controls">
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="active" class="" style="margin-bottom: 8px"
                                                                   name="rdo_status" value="1" checked="checked"
                                                                   type="radio">
                                                            <label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
                                                        </div>
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="inactive" class="" style="margin-bottom: 8px"
                                                                   name="rdo_status" value="0" type="radio">
                                                            <label class="iradio-label form-label" for="inactive">
                                                                {{default_langlist.INACTIVE}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="unit_div">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG15 }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <div class="form-group">
                                                            <label class="form-label" for="unit_sel">{{ langlist.LANG16
                                                                }}</label>
                                                            <select id="unit_sel" class="form-control"
                                                                    multiple="multiple" style="width:100%">
                                                                {% for key,value in itmunitlist %}
                                                                <option class="option_unit_{{ value['hashkey'] }}"
                                                                        value="{{ value['hashkey'] }}">{{ value['name']
                                                                    }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                            <input type="hidden" class="form-control" id="unit_detail"
                                                                   name="unit_detail"/>
                                                            <input type="hidden" class="form-control" id="old_unit"
                                                                   name="old_unit"/>
                                                        </div>

                                                        <div class="form-group clearfix"></div>
                                                        <label class="col-sm-3 control-label textalignleft "></label>
                                                        <div class="col-sm-9">
                                                            <button type="button" class="button btn"
                                                                    style="margin-right: 10px"
                                                                    onclick="selectAllUnit();">{{langlist.LANG7}}
                                                            </button>
                                                            <button style="margin-right: 10px" type="button"
                                                                    class="button btn" onclick="selectNoneUnit();">
                                                                {{langlist.LANG8}}
                                                            </button>
                                                            <button style="float: right" type="button"
                                                                    class="btn btn-primary" onclick="loadUnitDetail();">
                                                                {{langlist.LANG9}}
                                                            </button>
                                                        </div>
                                                        <div class="form-group clearfix"></div>
                                                        <div id="unit_list">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!---->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group col-md-4">
                                                <label class="form-label">{{ langlist.LANG42 }}</label><span
                                                    class="required" aria-required="true"> *</span>
                                                <div class="controls">
                                                    <select name="serve_unit" id="serve_unit" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->

                    <!---->
                    <div class="col-xs-12 col-md-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG32 }}</span>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane active">
                                                    {% for key,value in taxlist %}
                                                    <div class="col-md-5 col-xs-5">
                                                        <div class="checkbox3 checkbox-check ">
                                                            <input type="checkbox" class="chk_tax"
                                                                   value="{{ value.taxunkid }}"
                                                                   data-aftertax="{{value.after_tax}}"
                                                                   name="tax[{{ value.taxunkid }}][taxid]"
                                                                   id="tax{{ value.taxunkid }}"
                                                                   onchange="gettaxAmount('{{ value.taxunkid }}')">
                                                            <label for="tax{{ value.taxunkid }}">{{ value.tax}} </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2">
                                                        <label>{{value.pytype}} </label>
                                                    </div>

                                                    <div class="col-xs-5 col-md-5">
                                                        <label class="col-sm-4 form-label"
                                                               for="amount{{ value.taxunkid }}">{{langlist.LANG44}}</label>
                                                        <div class="col-sm-6 paddingzero marginbottom5">
                                                            <input type="text" class="form-control decimal distxt"
                                                                   disabled="disabled" maxlength="10" {% if
                                                                   value.postingrule== 1 %}
                                                                   onkeyup="return isFloatWithRange(event,this,0,100)"
                                                                   {% endif %} name="tax[{{ value.taxunkid }}][amount]"
                                                                   data-amount="{{ value.amount}}"
                                                                   data-postingrule="{{value.postingrule}}" value=""
                                                                   id="amount{{ value.taxunkid }}">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-5 hide">
                                                        <label class="form-label" style="margin-right:10px;">{{
                                                            langlist.LANG34 }}</label>
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="beforedisc{{ value.taxunkid }}" class=""
                                                                   style="margin-bottom: 8px"
                                                                   name="tax[{{ value.taxunkid }}][applytax]" value="0"
                                                                   {% if value.taxapplyafter== 0 %} checked="checked" {%
                                                                   endif %} type="radio">
                                                            <label class="iradio-label form-label"
                                                                   for="beforedisc{{ value.taxunkid }}">{{
                                                                langlist.LANG35 }}</label>
                                                        </div>
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="afterdisc{{ value.taxunkid }}" class=""
                                                                   style="margin-bottom: 8px"
                                                                   name="tax[{{ value.taxunkid }}][applytax]" value="1"
                                                                   {% if value.taxapplyafter== 1 %} checked="checked" {%
                                                                   endif %} type="radio">
                                                            <label class="iradio-label form-label"
                                                                   for="afterdisc{{ value.taxunkid }}">{{
                                                                langlist.LANG36 }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG37 }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <div class="form-group">
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate1"
                                                                           value="1" name="rates[]">
                                                                    <label for="rate1">{{ langlist.LANG10 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate2"
                                                                           value="2" name="rates[]">
                                                                    <label for="rate2">{{ langlist.LANG11 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate3"
                                                                           value="3" name="rates[]">
                                                                    <label for="rate3">{{ langlist.LANG12 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate4"
                                                                           value="4" name="rates[]">
                                                                    <label for="rate4">{{ langlist.LANG13 }}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  <div class="form-group col-md-12">
                          <label class="form-label" for="categoryid">{{ langlist.LANG6 }}</label>
                          <div class="controls">
                              {% for key,value in categorylist %}
                              <div class="col-md-12 ">
                                  <div class="checkbox3 checkbox-check">
                                      <input type="checkbox" value="{{ value['hashkey'] }}" name="categoryunkid[]" onclick="chkboxCheck(this.value,'','')" id="categoryunkid{{ value['hashkey'] }}">
                                      <label for="categoryunkid{{ value['hashkey'] }}">{{ value['categoryname'] }} </label>
                                  </div>
                              </div>
                              <div class="col-md-12 categoryitem" id="itemlist{{ value['hashkey'] }}" style="display: none;padding-left: 5%;">
                              </div>
                              {% endfor %}
                          </div>
                      </div>-->
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group" style="text-align: right;margin-right: 15px;">
                                                <input type="hidden" name="imagephoto" id="imagephoto" value="">
                                                <button type="button" id="submit" class="btn btn-info">
                                                    {{default_langlist.SUBMIT}}
                                                </button>
                                                <a onclick="refreshaddedit();">
                                                    <button type="button" class="btn btn-default">
                                                        {{default_langlist.BACK}}
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-primary split_popup" id="modalInventory"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelsplit">{{langlist.LANG55}}<span class="modal-title" id="zsettinglabel"></span></h4>
            </div>
            <div class="tab-pane active stp1" role="tabpanel" id="step1">
                <form id="zsetting" name="zsetting">
                    <input type="hidden" id="zid" name="zid" value="0"  />
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">

                                        <div class="form-group col-md-4" style="">
                                            <div class="checkbox3 checkbox-check">
                                                <input id="merge_combo_with_menu" type="checkbox" name="merge_combo_with_menu" value="1" >
                                                <label class="form-label" for="merge_combo_with_menu">{{langlist.LANG66}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" >{{ langlist.LANG30 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="zomato_itemrate" id="zomato_itemrate" class="form-control notnull">
                                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                                    <option value="1">{{langlist.LANG10}}</option>
                                                    <option value="2">{{langlist.LANG11}}</option>
                                                    <option value="3">{{langlist.LANG12}}</option>
                                                    <option value="4">{{langlist.LANG13}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="schedules_div">
                                            <div class="content-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="card overflow-show">
                                                            <div class="card-body">
                                                                <div class="card-header" >
                                                                    <div class="card-title">
                                                                        <span class="title">{{ langlist.LANG56 }} *</span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active">

                                                                            <div class="row">
                                                                                <div class="form-group col-md-6">
                                                                                    <label class="form-label" for="startDate">{{langlist.LANG38}}</label>
                                                                                    <div class="controls">
                                                                                        <input type="text" class="form-control" name="startDate" id="startDate">
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group col-md-6">
                                                                                    <label class="form-label" for="endDate">{{langlist.LANG39}}</label>
                                                                                    <div class="controls">
                                                                                        <input type="text" class="form-control" name="endDate" id="endDate" maxlength="50">
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-6 col-xs-6">
                                                                                    <label> {{langlist.LANG57}} </label>
                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="daySunday" id="daySunday">
                                                                                        <label for="daySunday"> {{langlist.LANG58}} </label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time1From">{{langlist.LANG27}} 1</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date fromdatetimepicker">
                                                                                            <input type="text" name="time1From" class="form-control notnull " id="time1From">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time1To">{{langlist.LANG28}} 1</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date todatetimepicker">
                                                                                            <input type="text" name="time1To" class="form-control notnull " id="time1To">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="dayMonday" id="dayMonday">
                                                                                        <label for="dayMonday"> {{langlist.LANG59}} </label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time2From">{{langlist.LANG27}} 2</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date fromdatetimepicker">
                                                                                            <input type="text" name="time2From" class="form-control" id="time2From">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time2To">{{langlist.LANG28}} 2</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date todatetimepicker">
                                                                                            <input type="text" name="time2To" class="form-control" id="time2To">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="dayTuesday" id="dayTuesday">
                                                                                        <label for="dayTuesday"> {{langlist.LANG60}} </label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time3From">{{langlist.LANG27}} 3</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date fromdatetimepicker">
                                                                                            <input type="text" name="time3From" class="form-control" id="time3From">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xs-12 col-md-5">
                                                                                    <label class="col-sm-6 col-md-6 control-label textalignleft paddingzero" for="time3To">{{langlist.LANG28}} 3</label>
                                                                                    <div class="col-sm-6 col-md-6 paddingzero marginbottom5">
                                                                                        <div class="input-group date todatetimepicker">
                                                                                            <input type="text" name="time3To" class="form-control" id="time3To">
                                                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="dayWednesday" id="dayWednesday">
                                                                                        <label for="dayWednesday"> {{langlist.LANG61}} </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="dayThursday" id="dayThursday">
                                                                                        <label for="dayThursday"> {{langlist.LANG62}} </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>


                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="dayFriday" id="dayFriday">
                                                                                        <label for="dayFriday"> {{langlist.LANG63}} </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="col-md-2 col-xs-2">
                                                                                    <div class="checkbox3 checkbox-check ">
                                                                                        <input type="checkbox" class="chk_tax" value="1" name="daySaturday" id="daySaturday">
                                                                                        <label for="daySaturday"> {{langlist.LANG64}} </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <div class="form-group marginzero">
                            <input type="hidden" id="menu_id" value="">
                            {% if '573' in PRIVdata %}
                            <button class="btn btn-info" type="button"  id="submit_zsetting" ondblclick="return false;">{{default_langlist.SUBMIT}}</button>
                            {% endif %}
                            <!--<button class="btn btn-default" type="button" onclick="refreshfrm()">{{default_langlist.RESET}}</button>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var lblerrormsg = "{{default_langlist.Missing_Field}}";
    var lblok = "{{default_langlist.OK}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var round_off = "{{ round_off }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("24");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    var is_zomato = "{{ is_zomato }}";

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'combo_product',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    CKEDITOR.disableAutoInline = true;
    $('#txtlongdescription').ckeditor();

    //    function chkboxCheck(id,items,itemdata){
    //        if ($("#categoryunkid"+id).is(':checked'))
    //        {
    //            $("#itemlist"+id).show();
    //            $("#itemlist"+id).html('');
    //            var arr = {};
    //            arr['service']= 'combo_product';
    //            arr['opcode']= 'getChkboxRec';
    //            arr['id']= id;
    //            var str = urlencode(JSON.stringify(arr));
    //
    //            HttpSendRequest(str, function(data)
    //            {
    //                if (data.Success == 'True')
    //                {
    //                    var res = data.Data;
    //                    var item = res['item'];
    //                    var itemunit = res['itemunit'];
    //                   card='';
    //                    for(var i=0; i<item.length; i++)
    //                    {
    //                        card += '<input type="checkbox" name="slct_items'+id+'" class="item'+id+'"  id="Items_'+item[i]['hashkey']+'" value="'+item[i]['hashkey']+'" onclick=validatecheck("'+item[i]['hashkey']+'");>';
    //                        card +='<label style="padding-left: 3px; width: 100px;" for="Items_'+item[i]['hashkey']+'">'+item[i]['itemname']+'</label>';
    //                        card += '<input type="text" name="item_qty'+id+'" class="itemqty'+item[i]['itemunkid']+'" style="width:12%;" onkeypress="return isFloat(event,this.value)" id="Item_qty_'+item[i]['hashkey']+'" maxlength="8"><br/>';
    //                        jQuery.each(itemunit, function(key, value) {
    //                            if(value['itemunkid']==item[i]['itemunkid']) {
    //                                if(value['unitunkid']!=null) {
    //                                }
    //                            }
    //                        });
    //                    }
    //                    $("#itemlist"+id).append(card);
    //                    if(items!=""){
    //                        var arr   = items.split(',');
    //                        $.each(arr,function(key1,value1)
    //                        {
    //                            $('#Items_'+value1).prop('checked',true);
    //                        });
    //
    //                        var iarr=itemdata.split(',');
    //                        $.each(iarr,function(key1,value1)
    //                        {
    //                            var qarr=value1.split('->');
    //                            var itemid=qarr[0];
    //                            /* if(qarr[1]="undefined"){
    //                             $('.itemqty'+itemid).val(1);
    //                             }*/
    //                            $('.itemqty'+itemid).val(qarr[1]);
    //                        });
    //                    }
    //                }
    //            });
    //        }else{
    //            $("#itemlist"+id).hide();
    //        }
    //    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno: pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            getUnit();
            getItemlist();
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{default_langlist.EDIT}} {{default_langlist.COMBO_PRODUCT}}');
                jQuery("#id").val(id);
                var arr = {};
                arr['service'] = 'combo_product';
                arr['opcode'] = 'getComboRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        var combodata = res.combodata;

//                        $.each(res.items, function(key, value)
//                        {
//                            jQuery("#categoryunkid"+value.category).prop('checked','true');
//                            chkboxCheck(value.category,value.items,res.itemdata);
//                        });

                        if (typeof combodata.long_desc != 'undefined' && combodata.long_desc != '' && combodata.long_desc != null) {
                            var decoded = $("<textarea/>").html(combodata.long_desc).text();
                            CKEDITOR.instances['txtlongdescription'].setData(decoded);
                        } else {
                            var decoded = $("<textarea/>").html('').text();
                            CKEDITOR.instances['txtlongdescription'].setData('');
                        }

                        jQuery("#comboname").val(combodata.comboname);
                        jQuery("#txtsku").val(combodata.sku);
                        jQuery("#serve_unit").val(combodata.serve_unit);

                        jQuery("#imagephoto").val(combodata.image);
                        if ((combodata.image) != "") {
                            $('#itemimg').show();
                            $('#itemimg').attr('src', combodata.image);
                        }
                        jQuery("#isactive").val(combodata.is_active);

                        $('input:radio[name="rdo_status"]').filter('[value=' + combodata.is_active + ']').prop('checked', true);

                        if (combodata.tax_apply_rate != '' && typeof combodata.tax_apply_rate != 'undefined' && combodata.tax_apply_rate != null) {
                            var rates = combodata.tax_apply_rate.split(',');
                            $.each(rates, function (key, value) {
                                $('#rate' + value).prop('checked', true);
                            });
                        }

                        if (typeof res.bind_tax != 'undefined' && res.bind_tax.length > 0) {
                            jQuery.each(res.bind_tax, function (tkey, tvalue) {

                                jQuery("#tax" + tvalue.lnktaxunkid).prop('checked', 'true');
                                jQuery('#amount' + tvalue.lnktaxunkid).removeAttr("disabled");
                                jQuery("#amount" + tvalue.lnktaxunkid).val(tvalue.amount);
                                if (tvalue.taxapplyafter == '1')
                                    jQuery("#afterdisc" + tvalue.lnktaxunkid).prop('checked', 'true');
                                else
                                    jQuery("#beforedisc" + tvalue.lnktaxunkid).prop('checked', 'true');
                            });
                        }

                        if (typeof res.bind_unit != 'undefined' && res.bind_unit.length > 0) {
                             loaditem_unitlist(res.bind_unit);
                        }
                        jQuery("#serve_unit").val(combodata.serve_unit);
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                jQuery("#serve_unit").html('');
                jQuery('#serve_unit').append('<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
                CKEDITOR.instances['txtlongdescription'].setData('');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        $('#itemimg').hide();
        $('#itemimg').attr('src','');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#comboproductform').trigger('reset');
        jQuery(".categoryitem").html('');
        jQuery("#addedit").hide();
        jQuery("#list").show();

        jQuery("#unit_list").empty();
        jQuery('#unit_detail').val('');
        jQuery('#old_unit').val('');
        jQuery(".distxt").attr('disabled',true);
    }

    /* function validatecheck(itemid) {
          var flag=1;
         if($('#Items_'+itemid).attr('checked',true)){
         if (($('#Item_qty_'+itemid).val()=='') || ($('#Item_qty_'+itemid).val()==0)) {
         $('#Item_qty_'+itemid).addClass('invalid');
         flag=0;
         }
         }
         else{
         $('#Item_qty_'+itemid).val(0);
         }
         return flag;
    }*/

    jQuery("#submit").click(function () {
        if (form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno = 1;
            pagereset = true;
            if (id != 0) {
                pagereset = false;
                pageno = $('#lstGoTo').val();
            }
            var myForm = document.getElementById('comboproductform');
            var ajaxData = new FormData(myForm);
            //   var element = $('#categoryunkid').val();
           // var error = 1;
//            $('input[name="categoryunkid[]"]').each(function() {
//                if ($(this).is(':checked') == true)
//                {
//                    var catid = $(this).val();
//                    var array_items = [];
//                    $('input[class="item'+catid+'"]').each(function() {
//                        if ($(this).is(':checked') == true) {
//                            var items = $(this).val();
//                            var itemqty = $("#Item_qty_"+items).val();
//                            if (items != null && itemqty!='' && itemqty!=0) {
//                                array_items.push(items+'->'+itemqty); // checked, add to array
//                                ajaxData.append('items_' + catid, array_items);
//                            }
//                            if(itemqty=='' && itemqty!=0){
//                                //validatecheck(items);
//                            }
//                        }
//                    });
//                }
//            });

            ajaxData.append('service', 'combo_product');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('txtlongdescription',$('#txtlongdescription').val());
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            if (error = 1) {
                alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}', '{{default_langlist.LABEL_OK}}');
            }
        }
    });

    function uploadpic(obj) {
        $("#itemimg").show();
        if (typeof (obj.files) != "undefined") {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if (size > 2048) {
                alertify.alert("{{default_langlist.PAIHMZ}}", "{{default_langlist.LABEL_OK}}");
                $('input[name=upload_logo]').val('');
                return false;
            }
            if (obj.files[0].type != "image/jpeg" && obj.files[0].type != "image/png" && obj.files[0].type != "image/jpg") {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}', "{{default_langlist.LABEL_OK}}");
            }

            var reader = new FileReader();
            reader.addEventListener("load", function () {
                jQuery("#itemimg").attr("src", reader.result);
            }, false);

            if (obj.files[0]) {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}', "{{default_langlist.LABEL_OK}}");
        }
    }

    function gettaxAmount(taxid) {
        if ($("#tax" + taxid).is(":checked")) {
            $("#amount" + taxid).removeAttr("disabled");
            var amount = $("#amount" + taxid).data('amount');
            $("#amount" + taxid).val(parseFloat(amount).toFixed(round_off));
            jQuery('.invalid').removeClass('invalid');

            var aftertax_list = $("#tax" + taxid).attr('data-aftertax');
            if (typeof aftertax_list != 'undefined' && aftertax_list != '' && aftertax_list != null) {
                aftertax_list = aftertax_list.split(',');

                jQuery.each(aftertax_list, function (key, val) {
                    $("#amount" + val).removeAttr("disabled");
                    var amount = $("#amount" + val).data('amount');
                    $("#amount" + val).val(parseFloat(amount).toFixed(round_off));
                    jQuery('.invalid').removeClass('invalid');
                    if ($("#tax" + val).is(":checked") == false) {
                        $("#tax" + val).prop('checked', true);
                    }
                })
            }
        }
        else {
            jQuery("#amount" + taxid).val('');
            $("#amount" + taxid).prop("disabled", true);
            jQuery('.invalid').removeClass('invalid');
        }
    }

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($("#comboname").val() == "")
        {
            error = 1;
            $('#comboname').addClass('invalid');
        }

        if ($("#txtsku").val() == "")
        {
            error = 1;
            $('#txtsku').addClass('invalid');
        }
        if($("#serve_unit").val() == "0")
        {
            error = 1;
            $('#serve_unit').addClass('invalid');
        }
        var unit_str = jQuery('#unit_detail').val();

        if (unit_str=="") {
            error = 1;
            alertify.alert('{{langlist.LANG45}}',"{{default_langlist.LABEL_OK}}");
        }
        else{
            if (!validate_unit(unit_str)) {
                error = 1;
            }
        }

        if (jQuery('.chk_tax:checked').length >= 0) {
            jQuery.each(jQuery(".chk_tax:checked"), function () {
                var pid = $(this).val();
                if ($('#amount' + pid).val() == '') {
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG23}}","{{default_langlist.LABEL_OK}}");
                }
                var amount= $('#amount' + pid).val();
                var postingrule= $('#amount' + pid).data('postingrule');
                if(postingrule==1 && amount>100){
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG22}}","{{default_langlist.LABEL_OK}}");
                }
            });
        }

        if (error == 1)
            return false;
        else
            return true;
    }

    function loadcombozomatosetting(module) {
        try {
            refreshZsetting();
            initializeDates();

            if (module != "") {

                jQuery("#modalInventory").modal('show');

                var arr = {};
                arr['service'] = 'combo_product';
                arr['opcode'] = 'getComboZomatoSetting';
                //arr['zid'] = jQuery('#zid').val();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {

                    if (recObj.Success == 'True') {
                        var Data = recObj.Data;
                        var res = Data.menu;

                        if(typeof res.timings != 'undefined' && res.timings != '' && res.timings != null)
                        {
                            var timings = JSON.parse(res.timings);
                            jQuery('#startDate').val(timings['startDate']);
                            jQuery('#endDate').val(timings['endDate']);
                            jQuery('#time1From').val(timings['time1From']);
                            jQuery('#time2From').val(timings['time2From']);
                            jQuery('#time3From').val(timings['time3From']);
                            jQuery('#time1To').val(timings['time1To']);
                            jQuery('#time2To').val(timings['time2To']);
                            jQuery('#time3To').val(timings['time3To']);

                            var ObjMod = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                            for(var j=0;j<ObjMod.length;j++)
                            {
                                if(timings['day'+ObjMod[j]] == 'true') {
                                    jQuery('#day' + ObjMod[j]).prop('checked', true);
                                }
                            }
                        }


                        if(res.zomato_itemrate != '' && res.zomato_itemrate != 0)
                        {
                            jQuery('#zomato_itemrate').val(res.zomato_itemrate);
                        }

                        if(res.merge_combo_with_menu == 1)
                        {
                            jQuery('#merge_combo_with_menu').prop("checked",true);
                        }else
                        {
                            jQuery('#merge_combo_with_menu').prop("checked",false);
                        }

                        jQuery('#zid').val(res.combozomatosettingunkid);

                    }

                });
            }

        } catch (e) {
            alert(e);
        }
    }

    function initializeDates() {

        $('.fromdatetimepicker').datetimepicker({
            format: 'LT',
            icons: {
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        $('.todatetimepicker').datetimepicker({
            format: 'LT',
            icons: {
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        jQuery('#startDate').datepicker({
            autoclose: true,
            startDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var minDate = new Date(selected.date.valueOf());
                $('#endDate').datepicker('setStartDate', minDate);
            }
        });

        jQuery('#endDate').datepicker({
            autoclose: true,
            startDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var maxDate = new Date(selected.date.valueOf());
                $('#startDate').datepicker('setEndDate', maxDate);
            }
        });
    }

    jQuery("#submit_zsetting").click(function () {
        if (zform_valid('zsetting')) {

            var myForm = document.getElementById('zsetting');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'combo_product');
            ajaxData.append('opcode', 'addZomatoCombosetting');
            HttpSendRequest(ajaxData,function(data)
            {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshZsetting();
                    jQuery("#modalInventory").modal('hide');

                } else {
                    alertify.error(data['Message']);
                }

                return false;
            });
        } else {
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function zform_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if(is_zomato == 1)
        {
            var zomato_itemrate = jQuery('#zomato_itemrate').val();
            if(zomato_itemrate == '' ||  zomato_itemrate == 0)
            {
                jQuery('#zomato_itemrate').addClass('invalid');
                error == 1;
            }

            var startDate = jQuery("#startDate").val();
            var endDate = jQuery("#endDate").val();

            if(startDate != '' && endDate != ''){

                dateCompare(startDate,endDate);
            }

            var time1From = jQuery("#time1From").val();
            var time1To = jQuery("#time1To").val();

            if(time1From == "")
            {
                jQuery('#time1From').addClass('invalid');
                error = 1;
            }
            if(time1To == "")
            {
                jQuery('#time1To').addClass('invalid');
                error = 1;
            }

            var ObjMod = ['1','2','3'];
            for(var i=0;i<ObjMod.length;i++)
            {
                var fromtime = jQuery('#time'+ObjMod[i]+'From').val();
                var totime = jQuery('#time'+ObjMod[i]+'To').val();

                if(fromtime != '' || totime != ''){
                    timeCompare(fromtime,totime,ObjMod[i]);
                }

            }

            var ObjMod = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var checkDays = '';
            var cnt = 0;
            for(var j=0;j<ObjMod.length;j++)
            {
                if(jQuery('#day'+ObjMod[j]).prop('checked') == true){
                    checkDays += 'true';
                }
                cnt++;
            }

            if(ObjMod.length == cnt){
                if(checkDays == ''){
                    alertify.alert('{{langlist.LANG41}}','{{default_langlist.LABEL_OK}}');
                    return false;
                }
            }

            if (error == 1)
            {
                return false;
            }
            else
            {
                return true;
            }

        }
    }

    function timeCompare(start_time,end_time,id)
    {

        var stt = new Date("November 13, 2013 " + start_time); //convert both time into timestamp
        stt = stt.getTime();

        var endt = new Date("November 13, 2013 " + end_time);
        endt = endt.getTime();

        if(stt >= endt) {
            alertify.alert('{{langlist.LANG29}}','{{default_langlist.LABEL_OK}}');
            jQuery('#time'+id+'From').addClass('invalid');
            jQuery('#time'+id+'To').addClass('invalid');
            return false;
        }
    }

    function dateCompare(startDate,endDate) {
        if(new Date(endDate) < new Date(startDate)){
            alertify.alert('{{langlist.LANG40}}','{{default_langlist.LABEL_OK}}');
            jQuery('#startDate').addClass('invalid');
            jQuery('#endDate').addClass('invalid');
            return false;
        }
    }
    function refreshZsetting()
    {
        jQuery("#schedules_list").html('');
    }

    var RATE_1 = "{{langlist.LANG10}}";
    var RATE_2 = "{{langlist.LANG11}}";
    var RATE_3 = "{{langlist.LANG12}}";
    var RATE_4 = "{{langlist.LANG13}}";
    var DEFAULT_RATE = "{{langlist.LANG14}}";
    var ITEM = "{{default_langlist.ITEM}}";
    var SELECT_ALL = "{{langlist.LANG7}}";
    var SELECT_NONE = "{{langlist.LANG8}}";
    var LOAD = "{{langlist.LANG9}}";
    var Item_Unit = "{{langlist.LANG17}}";
    var ADD = "{{langlist.LANG18}}";
    var LABEL_PLEASE_SELECT = "{{default_langlist.PLEASE_SELECT}}";
    var SELECT_UNIT = "{{langlist.LANG20}}";
    var QUNTITY = "{{default_langlist.QUNTITY}}";
    var SALEUNIT = "{{langlist.LANG19}}";
    var MODIFIER_ITEM = "{{default_langlist.MODIFIER_ITEM}}";
    var SELECT_ITEM = "{{langlist.LANG46}}";
    var LABEL_OK = "{{default_langlist.LABEL_OK}}";
    var SELECT_ITEMUNIT = "{{langlist.LANG25}}";
    var QTYNOTZERO = "{{langlist.LANG24}}";
    var DEFAULTITEM = "{{langlist.LANG49}}";
    var ADDITEMS = "{{langlist.LANG50}} {{langlist.LANG52}}";
    var ADDMORE = "{{langlist.LANG51}}";
    var GROUP = "{{langlist.LANG52}}";
    var EXTRACGARGE = "{{langlist.LANG53}}";
    var OR = "{{langlist.LANG54}}";

</script>
{% endblock %}