{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'account');
    localStorage.setItem('pagename', 'leftpanel_companyaccount');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.PAYMENT_ACCOUNT}}</li>
<li class="active">{{default_langlist.COMPANY_ACCOUNT}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '584' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '580' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                        {% if '585' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}

                    </div>
                    {% if '584' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{langlist.LANG4}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputCompany" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '584' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG4}}</th>
                                <th>{{langlist.LANG2}}</th>
                                <th>{{langlist.LANG13}}</th>
                                <th>{{langlist.LANG5}}</th>
                                <th>{{langlist.LANG17}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.company @>
                                </td>
                                <td>
                                    <@=this.name @>
                                </td>
                                <td>
                                    <@=this.mobile @>
                                </td>
                                <td>
                                    <@=this.city @>
                                </td>
                                <td>
                                    <@=this.amt_limit @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">
                                    {% if '582' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '581' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '583' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}

                                    {% if '585' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="companyaccountform" name="companyaccountform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-md-4">
                            <label class="form-label" for="company">{{langlist.LANG4}} </label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="company" id="company"
                                       maxlength="50">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="salutation">{{langlist.LANG8}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="salutation" name="salutation" class="form-control dropdown">
                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in  salutations %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="name">{{langlist.LANG2}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="address">{{langlist.LANG9}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="address" id="address">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="city">{{langlist.LANG5}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="city" id="city">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="state">{{langlist.LANG10}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="state" id="state">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="country">{{langlist.LANG11}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="country" name="country" class="form-control dropdown">
                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in  countrylist %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="zipcode">{{ langlist.LANG12 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="zipcode" id="zipcode">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="phone">{{ langlist.LANG6 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control integer" name="phone" id="phone" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="mobile">{{ langlist.LANG13 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull integer" name="mobile" id="mobile" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="fax">{{ langlist.LANG14 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="fax" id="fax">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="email">{{ langlist.LANG7 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control email notnull" name="email" id="email" maxlength="255">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="sortkey">{{ langlist.LANG15 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="sortkey" id="sortkey">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="tinno">{{ langlist.LANG16 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="tinno" id="tinno">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="amt_limit">{{ langlist.LANG17 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="amt_limit" id="amt_limit">
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label"
                                           for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">
                                        {{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("584");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }


    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'company_account',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                cm: jQuery("#exampleInputCompany").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputCompany").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                cm: jQuery("#exampleInputCompany").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG18}}');
                jQuery("#id").val(id);
                var arr = {};
                arr['service'] = 'company_account';
                arr['opcode'] = 'getCompanyAccountRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#company").val(res.company);
                        jQuery("#salutation").val(res.salutation);
                        jQuery("#name").val(res.name);
                        jQuery("#email").val(res.email);
                        jQuery("#phone").val(res.phone);
                        jQuery("#mobile").val(res.mobile);
                        jQuery("#city").val(res.city);
                        jQuery("#state").val(res.state);
                        jQuery("#country").val(res.country);
                        jQuery("#amt_limit").val(res.amt_limit);
                        jQuery("#fax").val(res.fax);
                        jQuery("#sortkey").val(res.sortkey);
                        jQuery("#tinno").val(res.tinno);
                        jQuery("#zipcode").val(res.zipcode);
                        jQuery("#address").val(res.address);

                        if (res.is_active == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");

                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
               jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {

        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#companyaccountform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                cm: jQuery("#exampleInputCompany").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('companyaccountform')) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
           // var NO_Charge_Group = $("#lnknochargegroupid option:selected").text();
          //  var reset_type = $("#credit_reset_type option:selected").text();
            var myForm = document.getElementById('companyaccountform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'company_account');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
           // ajaxData.append('NO_Charge_Group', NO_Charge_Group);
           // ajaxData.append('reset_type', reset_type);
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();

                } else {
                    alertify.error(data['Message']);
                }

                return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });



</script>
{% endblock %}