<div class="row">
    <div class="col-sm-8">
        <div class="footer-text">
            <p><span id="ft_hotel"></span> | <samp id="userlbl"></samp> : <span id="username_foot"></span> | <samp
                    id="versionlbl"></samp> <span id="version_foot"></span> </p>
        </div>
    </div>
    <div class="col-sm-4 text-right">
        <div class="footer-text">
            {{ (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Pure ITES Ltd.'|convert_encoding('UTF-8', 'HTML-ENTITIES') }}
        </div>
    </div>
</div>