{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'currencylist');
    localStorage.setItem('pagename', 'leftpanel_currencylist');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CURRENCYLIST}}</li>

{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '34' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '30' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        {% endif %}
                        {% if '36' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '34' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{ langlist.LANG2 }} {{ langlist.LANG10 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{ langlist.ENTER_NAME }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '34' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG2 }}</th>
                                <th>{{ langlist.LANG3}}</th>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG7 }}</th>
                                <th>{{ default_langlist.CREATED_BY }}</th>
                                <th>{{ default_langlist.MODIFIED_BY }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td >
                                    <@=this.countryName @>
                                </td>
                                <td>
                                    <@=this.currency_code @>
                                </td>
                                <td>
                                    <@=this.currency_sign @>
                                </td>
                                <td>
                                    <@=this.currency_rate @>
                                </td>
                                <td>
                                    <@=this.created_user @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modified_user @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">

                                    {% if '33' in PRIVdata %}
                                    <@ if(this.currency_is_default=='0'){ @>
                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)"  title="{{default_langlist.STATUS}}">
                                        <input type="hidden" id="status_<@=this.hashkey@>" value="<@=this.is_active@>"/>
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% else %}
                                    <@ if(this.currency_is_default=='0'){ @>
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% endif %}

                                    {% if '31' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}

                                    <@ if(this.currency_is_default=='0'){ @>
                                    {% if '32' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                    <@ } @>
                                    {% if '36' in PRIVdata %}
                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="txtform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{langlist.LANG2}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select name="select_country" id="select_country" class="form-control dropdown">
                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in countrylistdata %}
                                    <option value="{{ value.id }}">{{ value.countryName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{langlist.LANG3}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="txtcode" id="txtcode" maxlength="5">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{langlist.LANG4}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="txtsymbol" id="txtsymbol"  maxlength="5 ">
                            </div>
                        </div>
                        <div class="form-group col-md-3 hide">
                            <label class="form-label" for="field-1"></label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input type="radio" name="symbol_pos" id="prefix" class="" value="0" checked="checked" style="margin-bottom: 8px">
                                    <label class="iradio-label form-label" for="prefix">{{langlist.LANG5}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input type="radio" name="symbol_pos" id="suffix" class="" value="1" style="margin-bottom: 8px">
                                    <label class="iradio-label form-label" for="suffix">{{langlist.LANG6}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="field-1">{{langlist.LANG7}}</label><span class="required" aria-required="true"> *</span>
                            <div class="input-group">
                                <input type="text" class="form-control" name="txtfixrate" id="txtfixrate" value="1.00" readonly style="background: #fff;">
                                <span class="input-group-addon" id="basic-addon2">{{ recordlist.currency_code }}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="field-1">&nbsp;</label>
                            <div class="input-group">
                                <span class="input-group-addon" style="background: #fff;border:none;"> &#61; </span>
                                <input type="text" class="form-control notnull decimal" name="txtrate" id="txtrate"  maxlength="15">
                                <span class="input-group-addon" id="lblcurrencysym"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>

                        {% if Quickbooksetting == 1 %}
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="qb_currencyaccountid">{{langlist.LANG11}} </label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="qb_currencyaccountid" id="qb_currencyaccountid" maxlength="50">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="qb_currencyaccountname">{{langlist.LANG12}} </label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="qb_currencyaccountname" id="qb_currencyaccountname" maxlength="50">
                            </div>
                        </div>
                        {% endif %}

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <input type="hidden" name="currencyaction" id="currencyaction" value="">
                            <input type="hidden" name="isdefault" id="isdefault" value="0">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
    .flat-blue .table > tbody > tr > td{
        color: #627279;
    }
</style>
<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var cntrydata = "{{ countrylist }}";

    var newjson = $('<textarea/>').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("34");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    var cntryjson = JSON.parse(cntrydata.replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&quot;/g, '"'));
    var cntrylist = cntryjson[0]['data'];

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'currencylist',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
    {
        try
        {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked",true);
            jQuery("#lblcurrencysym").empty();
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG9}}');
                jQuery("#id").val(id);
                var arr = {};
                arr['service']= 'currencylist';
                arr['opcode']= 'editcurrencylist';
                arr['id']= id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str,function(recObj){
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#select_country").val(res.countryid);
                        jQuery("#txtcode").val(res.currency_code);
                        jQuery("#txtsymbol").val(res.currency_sign);
                        jQuery('#txtrate').val(res.currency_rate);
                        jQuery('#basic-addon2').val(res.currency_sign_pos);
                        jQuery('#lblcurrencysym').html(res.currency_sign);
                        jQuery('#isdefault').val(res.currency_is_default);
                        jQuery('#qb_currencyaccountid').val(res.qb_currencyaccountid);
                        jQuery('#qb_currencyaccountname').val(res.qb_currencyaccountname);
                        jQuery('input:radio[name="symbol_pos"]').filter('[value='+res.currency_sign_pos+']').prop('checked',true);
                        if (res.is_active == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");
                    }

                    if (res.currency_is_default=='1') {
                        $("#select_country").attr("disabled","disabled");
                        $("#txtcode").attr("disabled","disabled");
                        $("#txtrate").attr("disabled","disabled");
                    }
                    else
                    {
                        $("#select_country").removeAttr("disabled");
                        $("#txtcode").removeAttr("disabled");
                        $("#txtrate").removeAttr("disabled");
                    }
                });
            }
            else{
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
    {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        $("#select_country").removeAttr('disabled');
        $("#txtcode").removeAttr('disabled');
        $("#txtrate").removeAttr('disabled');
    }
    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form("txtform"))
        {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('txtform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'currencylist');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('countryId',jQuery("#select_country").val());
            ajaxData.append('currencyCode',jQuery("#txtcode").val());
            ajaxData.append('currencyRate',jQuery("#txtrate").val());
            HttpSendRequest(ajaxData,function(data){
                hidejQloading();
                if (data['Success'] == 'True')
                {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error('{{default_langlist.SOME_FIELD_MISSING}}');
                }
                return false;
            });
        } else {
            alertify.alert('{{default_langlist.PLEASE_INSERT_REQUIRED_FIELDS}}',"{{default_langlist.LABEL_OK}}");
        }
    });

    $('#select_country').change(function ()
    {
        var countryId = $("#select_country").val();
        for(var i = 0; i < cntrylist.length; i++)
        {
            if(cntrylist[i].id == countryId)
            {
                $('#txtcode').val(cntrylist[i].currencyCode);
            }
        }
    });

    $("#txtsymbol").change(function()
    {
        var symbol = $("#txtsymbol").val();
        $("#lblcurrencysym").html(symbol);
    });

    $("#txtfixrate").change(function()
    {
        var symbol = $("#txtfixrate") .val();
        $("#basic-addon2").html(symbol);
    });

</script>
{% endblock %}




