<div class="modal-dialog modal-lg3">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Item Customization</h4>
    </div>
    <div class="col-xs-12 modal-body panel-group" id="accordion">
      {% for key,value in data %}
      <div class="card panel panel-default">
        <div class="card-header" data-toggle="collapse"  data-parent="#accordion" href="#{{value.mod_hash}}" style="cursor: pointer">
          <div class="card-title"> <span id="frmtitle" class="title">{{ value.mod_name }} </span></div>
        </div>
        <div class="card-body panel-collapse clearfix collapse" id="{{value.mod_hash}}">
          {% if value.mod_is_included == 0 %}
          <div id="modifier{{ value.mod_hash }}" class="col-xs-3" style="margin-bottom: 15px;">
            <div class="card">
              <div class="card-header">
                <div class="card-title" style="padding: 0 8px">
                  <div class="checkbox3 checkbox-check">
                    <input id="checkbox_{{ value.mod_hash }}" class="check_modifier" value="{{ value.mod_hash }}" type="checkbox">
                    <label class="title" for="checkbox_{{ value.mod_hash }}"> {{ value.mod_name }} </label>
                  </div>
                </div>
              </div>
              <div class="card-body" style="padding: 10px 25px">
                <div class="form-group clearfix" style="margin-bottom: 0px">
                  <div>
                    <img src = "{{ bucketurl }}pure-ipos-menu-modifiers.images/{{ value.mod_image }}" class = "img-rounded" id="img_{{ value.mod_hash }}" style="margin-bottom: 5px; width: 100%">
                    <div class="caption">
                      <label class="title" style="margin-top: 5px">Rs. {{value.mod_sale_amount}}</label>
                      <select class="form-control drop_quantity" id="quentity_{{ value.mod_hash }}">
                        {% for i in range(value.mod_min, value.mod_max) %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% for mi_key,mi_value in value.modifieritem %}
          <div id="modifier_item_{{ mi_value.mi_hashkey }}" class="col-xs-3" style="margin-bottom: 15px;">
            <div class="card">
              <div class="card-header">
                <div class="card-title" style="padding: 0 8px">
                  <div class="checkbox3 checkbox-check">
                    <input id="checkbox_{{ mi_value.mi_hashkey }}" class="check_mi" value="{{ mi_value.mi_hashkey }}" type="checkbox">
                    <label class="title" for="checkbox_{{ mi_value.mi_hashkey }}"> {{ mi_value.mi_itemname }} </label>
                  </div>
                </div>
              </div>
              <div class="card-body" style="padding: 10px 25px">
                <div class="form-group clearfix" style="margin-bottom: 0px">
                  <div>
                    <img src = "{{ commonurl }}assets/modifier_item_images/{{ mi_value.mi_image }}" class = "img-rounded" id="img_{{ mi_value.mi_hashkey }}" style="margin-bottom: 5px; width: 100%">
                    <div class="caption">
                      <label class="title" style="margin-top: 5px">Rs. {{ mi_value.mi_sale_amount }}</label>
                      <select class="form-control drop_quantity" id="quentity_{{ mi_value.mi_hashkey }}">
                        {% for i in range(value.mod_min, value.mod_max) %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
      {% endfor %}
    </div>
    <div class="clearfix">

    </div>
    <div class="modal-footer">
      <button id="save" type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<script type="text/javascript">

    loadlist();
    function loadlist() {
        var rec = jQuery("#customized_item").val();

        if (rec!="") {
            var Objrec = JSON.parse(rec);
            for (var i=0; i<Objrec.length; i++)
            {
                jQuery("#checkbox_"+Objrec[i]['modifier_item']).trigger('click');
                jQuery("#quentity_"+Objrec[i]['modifier_item']).val(Objrec[i]['quentity']);
            }
        }
    }
    jQuery("#save").click(function(){
        var storeobj = [];
        var cnt=0;
        jQuery('.check_mi').each(function(){

            if (jQuery(this).is(":checked")) {
                storeobj[cnt] = {};
                storeobj[cnt]['modifier_item'] = jQuery(this).val();
                storeobj[cnt]['type'] = 9;
                storeobj[cnt]['quentity'] = jQuery("#quentity_"+jQuery(this).val()).val();

                cnt++;
            }
        });
        jQuery('.check_modifier').each(function()
        {

            if (jQuery(this).is(":checked")) {
                storeobj[cnt] = {};
                storeobj[cnt]['modifier_item'] = jQuery(this).val();
                storeobj[cnt]['type'] = 10;
                storeobj[cnt]['quentity'] = jQuery("#quentity_"+jQuery(this).val()).val();
                cnt++;
            }
        });
        jQuery("#customized_item").val(JSON.stringify(storeobj));
        jQuery("#modalPrimary").modal('hide');
    });
</script>
<style>
  .checkbox3 label::after, .checkbox3 label::before {
    top: 13px;
  }
  .checkbox3 label{
    padding: 13px 0 11px 30px;
  }
  .drop_quantity{
    width: 30%;
    display: inline-block;
    float:right
  }
</style>