{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/Chart.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/chartjs.js"></script>
<script type="text/javascript">
   localStorage.setItem('modulename','dashboard');
   localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
    <li class="active">{{default_langlist.DASHBOARD}}</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="row">
            {% if not_access_url is defined %}
            <div class="not_permission_user">
                <img src="{{not_access_url}}" style="width: 70%;margin: auto;height: auto;">
            </div>
            {% else %}
            <div class="container-fluid">
                <div class="row" >
                    {% set data = PRIVLIST|split(',') %}
                    {% if '37' in data %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a>
                            <div class="card themecolor summary-inline">
                                <div class="card-body">
                                    <i class="icon fa fa-shopping-cart fa-4x"></i>
                                    <div class="content">
                                        <div class="title">{{ headerdata.orders }}</div>
                                        <div class="sub-title">{{ langlist.LANG1 }}</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if '38' in data %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a>
                            <div class="card themecolor summary-inline">
                                <div class="card-body">
                                    <i class="icon fa fa-bars fa-4x"></i>
                                    <div class="content">
                                        <div class="title">{{ headerdata.items }}</div>
                                        <div class="sub-title">{{ langlist.LANG2 }}</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if '39' in data %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a>
                            <div class="card themecolor summary-inline">
                                <div class="card-body">
                                    <i class="icon fa fa-money fa-4x"></i>
                                    <div class="content">
                                        <div class="title">{{ headerdata.revenue }}</div>
                                        <div class="sub-title">{{ langlist.LANG3 }}</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                   {% if '40' in data %}
                  <div class="col-sm-6 col-xs-12">
                       <div class="card">
                           <div class="card-header">
                               <div class="card-title">
                                   <div class="title">{{ langlist.LANG4 }}</div>
                               </div>
                           </div>
                           <div class="card-body no-padding"  style="height: 300px">
                               <canvas id="line-chart" class="chart"></canvas>
                           </div>
                       </div>
                  </div>
                   {% endif %}
                   {% if '41' in data %}
                 <div class="col-sm-6 col-xs-12">
                       <div class="card">
                           <div class="card-header">
                               <div class="card-title">
                                       <div class="title">{{ langlist.LANG5 }}</div>
                               </div>
                               <div class="clear-both"></div>
                           </div>

                           <div class="card-body" style="height: 300px">
                               {% if orderlist|length>0 %}
                                    <table class="table">
                                   <thead>
                                   <tr>
                                       <th style="width:30%">{{ langlist.LANG6 }}</th>
                                       <th style="width:30%">{{ langlist.LANG7 }}</th>
                                       <th style="width:20%;text-align: right;">{{ langlist.LANG8 }}</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% for value in orderlist %}
                                   <tr>
                                       <td style="width:30%">{% if value.foliono!='' %}{{ value.foliono }}{% else %}{{ '- - - - - - - -' }}{% endif %}</td>
                                       <td style="width:30%">{{ value.name }} {{ value.usertype }}</td>
                                       <td style="width:20%;text-align: right;">{{ value.orderAmt }}</td>
                                   </tr>
                                   {% endfor %}
                                   </tbody>
                               </table>
                               {% else %}
                                   <div class="norecord" style="height: 100%;">
                                       <i class="fa fa-meh-o"></i>
                                       <br> {{default_langlist.NO_RECORDS}}
                                   </div>
                               {% endif %}
                           </div>
                       </div>
                   </div>
                   {% endif %}
                   {% if '410' in data %}
                  <div class="col-sm-12 col-xs-12">
                       <div class="card">
                           <div class="card-header">
                               <div class="card-title">
                                   <div class="title"> {{ langlist.LANG9 }}</div>
                               </div>
                               <div class="clear-both"></div>
                           </div>
                           <div class="card-body" style="padding: 10px !important;">
                               {% if topsalingproduct|length>0 %}
                                   {% set rank=1 %}
                                   {% for value in topsalingproduct %}
                                       <div class="col-md-2 itemcardwidth20">
                                           <div class="thumbnail">
                                               <img src="{{ value.image }}" class="img-rounded" style="width:100%;padding:5px;">
                                               <div class="caption">
                                                   <p>
                                                       <span style="text-align: left;"><b>{{ value.itemname }}</b></span>
                                                       <span class="badge pull-right"><b>{{ rank }}</b></span>
                                                   </p>
                                               </div>
                                           </div>
                                       </div>
                                       {% set rank = rank+1 %}
                                   {% endfor %}
                               {% else %}
                                   <div class="norecord">
                                       <i class="fa fa-meh-o"></i>
                                       <br> {{default_langlist.NO_RECORDS}}
                                   </div>
                               {% endif %}
                           </div>
                       </div>
                   </div>
                   {% endif %}
               </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<script type="text/javascript">
    var data = "{{ accountdata }}";
    var data_enc = $('<textarea />').html(data).text();
    var data_arr = JSON.parse(data_enc);
    setChainToLocal('{{chain_list}}');
    localStorage.setItem('POS_CONFIG_UName',data_arr['uname']);
    localStorage.setItem('POS_CONFIG_LName', "{{ lname | convert_encoding('UTF-8', 'HTML-ENTITIES') }}");
    localStorage.setItem('POS_CONFIG_SID', "{{ sid }}");
    localStorage.setItem('POS_CONFIG_LID', "{{ lid }}");
    localStorage.setItem('company_logo',data_arr['company_logo']);
    localStorage.setItem('pure_logo',data_arr['pure_logo']);
    localStorage.setItem('POS_CONFIG_CID',"{{ cid }}");

    setCommonHeader();
    var location_id = "{{lid}}";

    if (location_id > 0) {
        var chartdays = "{{chartdays}}";
        var revenuebydate = "{{revenuebydate}}";
        var chartdays_arr = $('<textarea />').html(chartdays).text();
        var revenuebydate_arr = $('<textarea />').html(revenuebydate).text();
        var rev_arr = JSON.parse(revenuebydate_arr);

    $(function() {
      var ctx, data, myLineChart, options;
      Chart.defaults.global.responsive = true;
      ctx = $('#line-chart').get(0).getContext('2d');
      options = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve: false,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        legendTemplate: ""
      };
      data = {
        labels: JSON.parse(chartdays_arr),
        datasets: [
              {
               label: "My Second dataset",
               fillColor: "rgba(34, 167, 240,0.2)",
               strokeColor: "#22A7F0",
               pointColor: "#22A7F0",
               pointStrokeColor: "#fff",
               pointHighlightFill: "#fff",
               pointHighlightStroke: "#22A7F0",
               data: rev_arr
             }
        ]
      };
      myLineChart = new Chart(ctx).Line(data, options);
    });
    }
</script>
<style>
   .itemcardwidth20{
      width: 20% !important;
   }
</style>
{% endblock %}