{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_devicelist');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{default_langlist.DEVICE}}</li>


{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist['SEARCH_CRITERIA']}}</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{ langlist.LANG2 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{ langlist.ENTER_NAME }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG2 }}</th>
                                <th>{{ langlist.LANG3}}</th>
                                <th>{{ default_langlist.CREATED_BY }}</th>
                                <th>{{ default_langlist.MODIFIED_BY }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td >
                                    <@=this.devicename @>
                                </td>
                                <td>
                                    <@=this.TYPE @>
                                </td>
                                <td>
                                    <@=this.created_user @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modified_user @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">

                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)"  title="{{default_langlist.STATUS}}">
                                        <input type="hidden" id="status_<@=this.hashkey@>" value="<@=this.is_active@>"/>
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-remove"></i>
                                        <@ } @>
                                    </a>

                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="update_ico" onclick="check_related_items('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>

                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="txtform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="devicename">{{langlist.LANG2}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="devicename" id="devicename" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="select_device">{{langlist.LANG3}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">

                                <select name="select_device" id="select_device" class="form-control dropdown">
                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>

                                    <option value="1">{{langlist.LANG4}}</option>
                                    <option value="2">{{langlist.LANG5}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">

                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
    .flat-blue .table > tbody > tr > td{
        color: #627279;
    }
</style>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = cleanstring("{{ datalist }}");


    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);


    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'device',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
    {
        try
        {


            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked",true);

            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit Device');
                jQuery("#id").val(id);
                var arr = {};
                arr['service']= 'device';
                arr['opcode']= 'editdevicelist';
                arr['id']= id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str,function(recObj){
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#select_device").val(res.type);
                        jQuery("#devicename").val(res.devicename);
                        if (res.is_active == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");
                    }


                });
            }
            else{
                jQuery("#frmtitle").text('Add Device');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
    {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        $("#select_device").removeAttr('disabled');
        $("#txtcode").removeAttr('disabled');
        $("#txtrate").removeAttr('disabled');
    }
    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {

        if (validate_form("txtform"))
        {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('txtform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'device');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);

            HttpSendRequest(ajaxData,function(data){
                hidejQloading();
                if (data['Success'] == 'True')
                {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            alertify.alert('Please fill necessary information');
        }
    });


</script>
{% endblock %}




