{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<script type="text/javascript">
    localStorage.setItem('modulename', 'config');
	localStorage.setItem('pagename', 'leftpanel_discount');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CONFIGURATION}}</li>
<li class="active">{{default_langlist.DISCOUNT}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '54' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '49' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        {% endif %}
                        {% if '55' in PRIVdata %}
						<div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                        {% if '53' in PRIVdata %}
                        <!--<div class="pull-right card-action">
                            {% if tablist.tabinsta_integration == 1 %}
                            <button class="btn btn-primary pull-left" type="button" onclick="syncdiscount();">{{langlist.LANG13}}</button>
                            {% endif %}
                        </div>-->
                        {% endif %}
                    </div>
                    {% if '54' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{ langlist.LANG2 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{ langlist.LANG3 }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '54' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ langlist.LANG4 }}</th>
                                    <th>{{ langlist.LANG5 }}</th>
									<th>{{ default_langlist.CREATED_BY }}</th>
									<th>{{ default_langlist.MODIFIED_BY }}</th>
									<th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
								<td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.discount @>
                                </td>
								<td>
									<@=this.createduser @> <br/>
									<@=this.created_date @>
								</td>
								<td>
									<@=this.modified_user @> <br/>
									<@=this.modified_date @>
								</td>
                               
                                <td align="right" style="width:15%">
                                    {% if '52' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')" href="javascript:void(0)" 
                                    title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '50' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)"
                                     title="{{ default_langlist.EDIT }}">

                                      <i class="fa  fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '51' in PRIVdata %}

                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{ default_langlist.DELETE }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>

                                    {% endif %}
                                    {% if '55' in PRIVdata %}
                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"  title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                       
                                   </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="txtform" name="txtform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="id" name="id" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG4 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="shortname" id="shortname" maxlength="10">
                            </div>
                        </div>
						<div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG5 }} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="discount" id="discount" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{ langlist.LANG6 }}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="per" class="" style="margin-bottom: 8px" name="postrule" value="1" checked="checked" type="radio" onclick="setAmtLimit();">
									<label class="iradio-label form-label" for="per">{{ langlist.LANG7 }}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="flat" class="" style="margin-bottom: 8px" name="postrule" value="2" type="radio" onclick="setAmtLimit();">
									<label class="iradio-label form-label" for="flat">{{ langlist.LANG8 }}</label>
								</div>
                            </div>
                        </div>
						<div class="form-group col-md-4">
                            <label class="form-label">{{ langlist.LANG9 }}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="opendiscyes" class="opendisc" style="margin-bottom: 8px" name="opendisc" value="1" type="radio">
									<label class="iradio-label form-label" for="opendiscyes">{{ langlist.LANG10 }}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="opendiscno" class="opendisc" style="margin-bottom: 8px" name="opendisc" checked="checked" value="0" type="radio">
									<label class="iradio-label form-label" for="opendiscno">{{ langlist.LANG11 }}</label>
								</div>
                            </div>
                        </div>
						<div class="form-group col-md-4">
                            <label class="form-label" for="value">{{ langlist.LANG12 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control decimal notnull" name="value" id="value" maxlength="5">
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
									<label class="iradio-label form-label" for="inactive">{{default_langlist.INACTIVE}}</label>
								</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="cat_discount">{{langlist.LANG15}}</label>
                            <div class="controls">
                                <select id="cat_discount" name="cat_discount[]" class="form-control" multiple="multiple">
                                    {% for key,value in categorylist %}
                                    <option value="{{ value['hashkey'] }}" id="{{ value['hashkey'] }}">{{ value['categoryname'] | raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var categoryList = '{{ categorylist|json_encode|replace("\'", "&#39;")|raw }}';
	var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("54");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
		
    function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'discount',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
		jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
	
    function loadaddedit(action, id)
	{
        try
		{
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
			if(categoryList!='undefined' && categoryList!=''){
                var categoryLists = JSON.parse(categoryList);
                var HtmlCon = '';
			    jQuery.each(categoryLists,function (key,value) {
                    HtmlCon +="<option value='"+value.hashkey+"'>"+value.categoryname+"</option>";
                });
                jQuery('#cat_discount').html(HtmlCon);
            }
            jQuery('#cat_discount').select2({
                placeholder: "{{langlist.LANG16}}"
            });
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('{{langlist.LANG14}}');
				jQuery("#id").val(id);
				
				var arr = {};
				arr['service']= 'discount';
				arr['opcode']= 'getDiscRec';
				arr['id']= id;
                jQuery(".edit_hide").hide();
				var str = urlencode(JSON.stringify(arr));
				
				HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
						var res = recObj.Data;
						jQuery("#shortname").val(res.shortcode);
						jQuery("#discount").val(res.discount);
						jQuery("#value").val(res.value);
						if (res.postingrule == 1)
							jQuery("#per").trigger("click");
						else
							jQuery("#flat").trigger("click");
                        setAmtLimit();
						if (res.isopendiscount == 0)
							jQuery("#opendiscno").trigger("click");
						else
							jQuery("#opendiscyes").trigger("click");
						if (res.isactive == '1')
							jQuery("#active").trigger("click");
						else
							jQuery("#inactive").trigger("click");

                        if(res.category_id !='undefined' && res.category_id !='' && (res.category_id).length>0 ){
                            jQuery.each(res.category_id,function (key,value) {
                                $("#cat_discount option[value='" + value + "']").attr("selected","selected");
                            });
                            jQuery('#cat_discount').select2({
                                placeholder : "{{langlist.LANG16}}"
                            });
                        }
					}
                });
            }
			else{
				jQuery("#frmtitle").text('{{langlist.LANG1}}');
				jQuery("#id").val('0');
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
		jQuery("#per").trigger("click");
		jQuery("#opendiscno").trigger("click");
		jQuery('#txtform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }
    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

	jQuery("#submit").click(function () {
        if (validate_form('txtform'))
        {
			showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
			var myForm = document.getElementById('txtform');
			var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'discount');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
                HttpSendRequest(ajaxData,function(data){    
                    hidejQloading();
                    if (data.Success == 'True')
                    {
                        var SuccessMessage='';
                        if(id == 0)
                        {
                            SuccessMessage="{{default_langlist.REC_ADD_SUC}}";
                        }
                        else{
                            SuccessMessage="{{default_langlist.REC_UP_SUC}}";
                        }
                        alertify.success(SuccessMessage);
                        refreshaddedit();
                        refreshlist();
                    } else {
                        if(data['Message']=='RECORD_ALREADY_EXISTS')
                        {
                            alertify.error('{{default_langlist.RECORD_ALREADY_EXISTS}}');
                        }

                    }
                    return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
	});


    function syncdiscount()
    {
        alertify.confirm("Are You Sure?You Want to Sync Discount.",function (e) {
           if(e) {

               showjQloading();
               var arr = {};
               arr['service'] = 'discount';
               arr['opcode'] = 'getdiscountformtabinsta';
               var str = urlencode(JSON.stringify(arr));
               HttpSendRequest(str, function (data) {
                   hidejQloading();
                   if (data.Success == "True") {
                       alertify.success(data['Message']);
                       refreshaddedit();
                       refreshlist();
                   }
                   else {
                       alertify.error(data['Message']);
                       refreshaddedit();
                       refreshlist();
                   }
               });
           }
        });
    }

    jQuery("#opendiscyes").click(function(){
		jQuery("#value").attr("disabled","disabled");
		jQuery("#value").val('');
        jQuery("#value").removeClass('notnull');
	});
	jQuery("#opendiscno").click(function(){
		jQuery("#value").removeAttr("disabled");
        jQuery("#value").addClass('notnull');
	});
    function setAmtLimit(){
        if(jQuery('#per').is(':checked')==true){
            jQuery("#value").attr("maxlength",5);
        }else{
            jQuery("#value").attr("maxlength",10);
        }
    }


</script>
{% endblock %}