<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">{{default_langlist.AUDITLOG}}</h4>
    </div>
    <div class="col-xs-12 modal-body">
      <div class="card">
        <div style="max-height: 375px; overflow-y: auto;">
          <br/>
          <div class="form-group col-md-4">
            <label class="form-label" for="field-1">{{default_langlist.CHOOSE_YOUR_OPTION}}</label>
          </div>
          <div class="form-group col-md-4">
            <select name="selectoption" id="selectoption" class="form-control"> 
              <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
              {% for key,value in settings %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}    
            </select>
          </div>
          <div class="form-group col-md-4">
            <button id="search" type="button" class="btn btn-info" onclick="searchform()">{{default_langlist.SEARCH}}</button>
          </div>
        </div>
        <table class="datatable table table-striped" id="displaydetails" cellspacing="0" width="100%" style="display:none;margin-bottom: 0px;">
          <thead>
            <tr>
              <th width="17%">{{default_langlist.DATE_TIME}}</th>
              <th width="25%">{{default_langlist.OLD_VAL}}</th>
              <th width="25%">{{default_langlist.NEW_VAL}}</th>
              <th width="15%">{{default_langlist.USERNAME}}</th>
              <th width="18%">{{default_langlist.USERIP}}</th>
            </tr>
          </thead>
        </table>
        <div class="norecord" style="display:none" id="no_records">
           <i class="fa fa-meh-o"></i><br>
          {{default_langlist.NO_RECORDS}}
        </div>
        <div style="max-height: 375px; overflow-y: auto;">
          <table class="datatable table table-striped" id="settingslogs" cellspacing="0" width="100%" style="display:none;">
            <script id="tmpl" type="text/x-jquote-template">
              <tr>
                <td width="17%"><@= this.date @><br/><@= this.time @></td>
                <td width="25%"><@ if(this.oldvalue != null && this.oldvalue != ''){ @><@= this.oldvalue @><@ } @></td>
                <td width="25%"><@ if(this.newvalue != null && this.newvalue != ''){ @><@= this.newvalue @><@ } @></td>
                <td width="15%"><@= this.uname @></td>
                <td width="18%"><@= this.userip @></td>
              </tr>
            </script>
            <tbody id="displayauditlogs">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery.jqotetag("@");
  function recnofound() {
      jQuery("#settingslogs").hide();
      jQuery("#no_records").show();
  }
  function displayrecord() {
      jQuery("#settingslogs").show();
      jQuery("#no_records").hide();
  }
  function searchform()
  {
      $(".invalid").removeClass('invalid');
      var selectoption = jQuery("#selectoption").val();
      $('#search').prop('disabled',true);
      if(selectoption != 0)
      {
          var module = "displaysettings";
          $('#displayauditlogs').empty();
          var arr = {};
          arr['service'] = "displaysettings_activity";
          arr['opcode'] = "displayactivitylog";
          arr['module'] = module;
          arr['keyname'] = selectoption;
          var str = JSON.stringify(arr);
          if(arr['keyname']!='' || arr['keyname']!='0')
          {
              HttpSendRequest(str,function(data)
              {
                  $('#displaydetails').show();
                  $('#settingslogs').show();
                  var res = data['Data'];
                  $('#search').prop('disabled',false);
                  if(res.length>0)
                  {
                      displayrecord();
                      jQuery("#displayauditlogs").jqoteapp("#tmpl", eval(res));
                  }
                  else{
                      recnofound();
                  }
              });
          }
      }
      else{
          $('#search').prop('disabled',false);
          $('#selectoption').addClass('invalid');
      }

  }


</script>