{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    localStorage.setItem('modulename', 'store_indent');
    localStorage.setItem('pagename', 'leftpanel_forward_indent');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.INDENTMANAGEMENT}}</li>
<li class="active">{{langlist.LANG1}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '335' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        {% endif %}
                        {% if '333' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="loadaddedit('')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '335' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG27
                                        }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtfromdate" class="form-control  fromdate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG28
                                        }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txttodate" class="form-control  todate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="indentno">{{langlist.LANG4}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="indentno" name="indentno" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="select_location">{{ langlist.LANG23 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_location" id="select_location" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in storelist %}
                                            <option value="{{ value['storeunkid'] }}">{{ value['storename'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="select_status">{{
                                        langlist.LANG24 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_status" id="select_status" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="1">{{ langlist.LANG30 }}</option>
                                            <option value="2">{{ langlist.LANG31 }}</option>
                                            <option value="3">{{ langlist.LANG32 }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '335' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{ langlist.LANG23 }}</th>
                                <th>{{ langlist.LANG24 }}</th>
                                <th>{{ langlist.LANG25 }}</th>
                                <th>{{ langlist.LANG15 }}({{currencysign}})</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.indent_doc_num @>
                                </td>
                                <td>
                                    <@=this.indentdate @>
                                </td>
                                <td>
                                    <@=this.storename @>
                                </td>
                                <td>
                                    <@=this.indent_stat@>

                                </td>
                               <!-- tooltip-->
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="<@=this.remarks @>"><@=this.remarks @></span>
                                </td>
                                <td>
                                    <@=this.totalamount @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:25%">

                                    <@ if(this.status==2){ @>
                                    <@ } else { @>
                                    {% if '334' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="loadaddedit('<@=this.indentid @>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    <@ } @>
                                    <@ if(this.status==2){ @>
                                    <@ } else { @>
                                    {% if '336' in PRIVdata %}
                                    <a class="update_ico" onclick="removeindent('<@= this.indentid @>','','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    <@ } @>

                                    <!-- <a class="update_ico"
                                        onclick="check_related_items('<@= this.indentid @>','{{ module }}')"
                                        title="{{default_langlist.RELATED_RECORDS}}">
                                         <i class="fa fa-info"></i></a>-->
                                    {% if '338' in PRIVdata %}
                                     <a class="update_ico" onclick="check_store_indent('<@= this.indentid @>',0,'1')"
                                        title="{{default_langlist.VIEW_DETAILS}}">
                                         <i class="fa fa-eye"></i></a>
                                    {% endif %}
                                    {% if '337' in PRIVdata %}
                                      <a class="update_ico" onclick="printinvoice('<@= this.indentid @>')"
                                         style="cursor: pointer" title="{{default_langlist.PRINT}}">
                                          <i class="fa fa-print "></i>
                                      </a>
                                    {% endif %}

                                    <!-- <a class="update_ico"
                                        onclick="check_audit_activity('<@= this.indentid @>','{{ module }}')">
                                         <i class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a>-->
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var lblcancel="{{default_langlist.CANCEL}}";
    var lbldeletemsg="{{default_langlist.AUS_DEL_REC}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("335");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

   // pageInit(newjson);

    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        var newDate = new Date(selected.date.valueOf() + 1);
        newDate.setDate(newDate.getDate() + 1);
        $('.todate').datepicker('setStartDate', minDate);
       $('.todate').datepicker('setDate', newDate);
    });

    jQuery('.todate').datepicker({
        autoclose: true,
       // endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'forwardindent',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                indent: jQuery("#indentno").val(),
                locationid: jQuery("#select_location").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#txtfromdate").val(''),
            jQuery("#txttodate").val(''),
            jQuery("#indentno").val(''),
            jQuery("#select_location").val(0),
            jQuery("#select_status").val(0),

            aTableConfig = jQuery.extend(aTableConfig, {
                tabledata: null,
                pagesize: jQuery("#lstRecPerPage").val(),
                csearch: {
                    fromdate: jQuery("#txtfromdate").val(),
                    todate: jQuery("#txttodate").val(),
                    indent: jQuery("#indentno").val(),
                    locationid: jQuery("#select_location").val(),
                    statusid: jQuery("#select_status").val(),
                },
                resetpaging: false,
                showprogress: true
            });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");


        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function removematerial(id, module) {
        var labelsprint = {
            ok     : lblok,
            cancel : lblcancel
        };
        alertify.confirm(lbldeletemsg,labelsprint, function (e) {
            if (e) {
                var arr = {};
                pageno=1;
                pagereset=true;
                if(id!=0){
                    pagereset=false;
                    pageno=$('#lstGoTo').val();
                }
                arr['service'] = 'rawmaterial';
                arr['opcode'] = 'removematerial';
                arr['id'] = id;
                arr['module'] = module;
                var str = urlencode(JSON.stringify(arr));
                if (arr['id'] != '') {
                    HttpSendRequest(str, function (data) {
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else {
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }
    var checkopened =0 ;
    function loadaddedit(id) {
        if(checkopened==0) {
            checkopened++;
            var arr = {};
            arr['service'] = "forwardindent";
            arr['opcode'] = "callindent";
            arr['id'] = id;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                loadModal(data['Data'], 'Request Indent');
            });
        }
    }
    function removeindent(id,module,msg,cancel,ok) {
        var labelsprint = {
            ok     : ok,
            cancel : cancel
        };
        alertify.confirm(msg,labelsprint, function (e) {
            if (e) {
                var arr = {};
                pageno=1;
                pagereset=true;
                if(id!=0){
                    pagereset=false;
                    pageno=$('#lstGoTo').val();
                }
                arr['service'] = 'forwardindent';
                arr['opcode'] = 'removeindent';
                arr['id'] = id;
                var str = urlencode(JSON.stringify(arr));
                if (arr['id'] != '') {
                    HttpSendRequest(str, function (data) {
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else {
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }

    // Tooltip

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-info"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
    });

    function printinvoice(id) {
        var arr = {};
        arr['service'] = 'forwardindent';
        arr['opcode'] = 'ForwardIndentprintInvoice';
        arr['id'] = id;
        var str = JSON.stringify(arr);
        load_report(str);
    }

</script>
{% endblock %}
