{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_frontlangsettings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{default_langlist.FRONT_LANGUAGE_SETTINGS}}</li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div class="side-body" id="hotel-profile">
    <form name="LangSetForm" id="LangSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="content-body">
                {% if '428' in PRIVdata or '429' in PRIVdata %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <form action="" method="post" >
                                        <div class="form-group marginbottomzero">
                                            <div class="col-xs-12 col-md-4">
                                                <label class="col-sm-4 control-label textalignleft paddingzero" for="select_module">{{langlist.LANG3}}</label>
                                                <div class="col-sm-8 paddingzero marginbottom5">
                                                    <select class="form-control" name="select_module" id="select_module">
                                                        <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                                        <!--{% for key,value in front_modules %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}-->
                                                        <option value="app">{{default_langlist.MAIN_SCREEN}}</option>
                                                        <option value="editorder">{{default_langlist.EDIT_ORDER}}</option>
                                                        <option value="TransferKot">{{default_langlist.TRANSFER_KOT}}</option>
                                                        <option value="TableOrders">{{default_langlist.TABLE_ORDER}}</option>
                                                        <option value="addfolio">{{default_langlist.ADD_FOLIO}}</option>
                                                        <option value="SearchGuest">{{default_langlist.SEARCH_GUEST}}</option>
                                                        <option value="email">{{default_langlist.EMAIL}}</option>
                                                        <option value="guestdatabase">{{default_langlist.GUEST_DATABASE}}</option>
                                                        <option value="GuestList">{{default_langlist.GUEST_LIST}}</option>
                                                        <option value="menu">{{default_langlist.MENU}}</option>
                                                        <option value="nightaudit">{{default_langlist.NIGHT_AUDIT}}</option>
                                                        <option value="postcharge">{{default_langlist.POST_CHARGE}}</option>
                                                        <option value="reports">{{default_langlist.REPORTS}}</option>
                                                        <option value="PostPayment">{{default_langlist.POST_PAYMENT}}</option>
                                                        <option value="mergefolio">{{default_langlist.MERGE_FOLIO}}</option>
                                                        <option value="searchfolio">{{default_langlist.SEARCH_FOLIO}}</option>
                                                        <option value="Split">{{default_langlist.SPLIT}}</option>
                                                        <option value="splitSelectedInvoice">{{default_langlist.SPLIT_SELECTED}}</option>
                                                        <option value="table">{{default_langlist.TABLE_TABLE}}</option>
                                                        <option value="takeaway">{{default_langlist.TAKE_AWAY}}</option>
                                                        <option value="front_default">{{default_langlist.DEFAULT_LABELS}}</option>
                                                        <option value="MonthlyStatisticsReport">{{default_langlist.MONTHLY_STATISTICS_REPORT}}</option>
                                                        <option value="DailyRevenueReport">{{default_langlist.DAILY_REVENUE_REPORT}}</option>
                                                        <option value="ItemSalesReport">{{default_langlist.ITEM_SALES_REPORT}}</option>
                                                        <option value="DailyStatisticsReport">{{default_langlist.DAILY_STATISTICS_REPORT}}</option>
                                                        <option value="PaymentTypeReport">{{default_langlist.PAYMENT_TYPE_REPORT}}</option>
                                                        <option value="NoChargeReport">{{default_langlist.NOCHARGEUSER_REPORT}}</option>
                                                        <option value="CashDrawerReport">{{default_langlist.CASHDRAWER_REPORT}}</option>
                                                        <option value="ComplementaryReport">{{default_langlist.COMPLEMENTARY_REPORT}}</option>
                                                        <option value="GratuityReport">{{default_langlist.GRATUITY_REPORT}}</option>
														<option value="WaiterSaleReport">{{default_langlist.WAITER_SALE_REPORT}}</option>
                                                        <option value="ComboReport">{{default_langlist.COMBO_REPORT}}</option>
                                                        <option value="PrintInvoice">{{default_langlist.PRINT_INVOICE}}</option>
                                                        <option value="front_salutation">{{default_langlist.SALUTATION}}</option>
                                                        <option value="user_information">{{default_langlist.PROFILE}}</option>
                                                        <option value="system_notification">{{default_langlist.SYSTEM_NOTIFICATION}}</option>
                                                        <option value="table_Netlock">{{default_langlist.TABLE_NETLOCK}}</option>
                                                        <option value="advancedbooking">{{default_langlist.ADVANCED_BOOKING}}</option>
                                                        <option value="home_delivery">{{default_langlist.HOME_DELIVERY}}</option>
                                                        <option value="waiting_list">{{default_langlist.WAITING_LIST}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 text-right">
                                                <button class="btn btn-primary " type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form action="" name="LangSet_form" id="LangSet_form">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="datatable table table-striped marginbottomzero" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="50%">{{langlist.LANG1}} </th>
                                            <th width="50%"> {{langlist.LANG2}}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="norecord" style="display:none">
                                        <i class="fa fa-meh-o"></i>
                                        <br> {{default_langlist.NO_RECORDS}}
                                    </div>
                                    <div class="roomrate-table">
                                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                                            <script id="tmpl" type="text/x-jquote-template">
                                                <tr>
                                                    <td width="50%"><@= this.default_label @></td>
                                                    <td width="50%">
                                                        <input type="text" name="customlanglabel[<@= this.key @>]" id="customlanglabel<@= this.key @>" value="<@= this.custom_label @>" class="form-control notnull">
                                                    </td>
                                                </tr>
                                            </script>
                                            <tbody id="lang_labels_list">
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if '429' in PRIVdata %}
                                    <div class="form-group body-footer-table">
                                        <button type="button" id="btnsubmit" class="btn btn-primary mr10">{{default_langlist.SUBMIT}}</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        doSearch();
       //jQuery("#LangSet_form").hide();
    });
    jQuery('#btnsubmit').click(function()
    {
        var myForm = document.getElementById('LangSet_form');
        var formdata = new FormData(myForm);
        formdata.append('service', 'frontlanguagesettings');
        formdata.append('opcode', 'updateCustomLangLabel');
        formdata.append('module_name', jQuery("#select_module").val());
        showjQloading();
        HttpSendRequest(formdata, function (data) {
            hidejQloading();
            if(data.Success=='True')
            {
                alertify.success(data.Message);
            }
            else
            {
                alertify.error(data.Message);
            }
        });
    });
    function doReset() {
        jQuery("#select_module").val(0);
        doSearch();
    }
    function recnofound() {
        jQuery(".roomrate-table").hide();
        jQuery(".norecord").show();
        jQuery("#btnsubmit").hide();
    }
    function displayrecord() {
        jQuery(".roomrate-table").show();
        jQuery(".norecord").hide();
        jQuery("#btnsubmit").show();
    }
    function doSearch() {
        if(jQuery("#select_module").val()!='' && jQuery("#select_module").val()!=0){
            showjQloading();
            var arr = {};
            arr['service'] = "frontlanguagesettings";
            arr['opcode'] = "loadLangParameters";
            arr['module_name'] = jQuery("#select_module").val();
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                hidejQloading();
                if (data.Success == 'True') {
                    var res = data['Data'];
                    jQuery("#lang_labels_list").empty();
                    if (res.length > 0) {
                        displayrecord();
                        jQuery("#lang_labels_list").jqoteapp("#tmpl", eval(res));
                    } else {
                        recnofound();
                    }
                }
            });
        }else {
            recnofound();
        }

    }
</script>
{% endblock %}