<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"/>
<script type="text/javascript" src="{{ commonurl }}themes/js/goods_return.js"></script>
<div id="gr_add_modal" class="modal-dialog split_popup ">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabelsplit">{{default_langlist.GOODSRETURN}} </h4>
        </div>
        <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <div class="modal-body">
                <form id="gr_order_form" name="gr_order_form">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="gr_order_no">{{langlist.LANG40}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="{{ grno }}" name="gr_order_no" id="gr_order_no" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_voucher_no">{{langlist.LANG39}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="{{ gr_vcno }}" name="gr_voucher_no" id="gr_voucher_no" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_date">{{langlist.LANG5}}</label>
                                            <div class="controls">
                                                <input name="gr_date" id="gr_date" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_sel_vendor">{{langlist.LANG16}}</label><span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="gr_sel_vendor" id="gr_sel_vendor"
                                                data-toggle="tooltip" data-placement="top"
                                                title="{{langlist.LANG42}}" onchange="vendorChangeEvent();">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in vendor_list %}
                                                    <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="gr_sel_category">{{langlist.LANG6}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown grn_disable" name="gr_sel_category" id="gr_sel_category" onchange="getRawMaterial('','','')">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_sel_item">{{langlist.LANG8}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown grn_disable" name="gr_sel_item" id="gr_sel_item" onchange="getItemUnits('','')">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_item_qty">{{langlist.LANG10}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull decimal dropdown" name="gr_item_qty" id="gr_item_qty" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_sel_unit">{{langlist.LANG11}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown grn_disable" name="gr_sel_unit" id="gr_sel_unit" onchange="setUnitRate()" >
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="gr_rate_pu">{{langlist.LANG13}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="gr_rate_pu" id="gr_rate_pu"
                                                class="form-control notnull decimal grn_disable" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control" name="gr_actual_rate" id="gr_actual_rate">
                                        <div class="form-group">
                                            <label class="form-label" for="gr_total_rate">{{langlist.LANG14}}({{currencysign}})</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="gr_total_rate" id="gr_total_rate" class="form-control notnull dropdown " disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label">{{langlist.LANG37}} %</label>
                                            <input type="text" class="form-control mb5 decimal grn_disable" onkeypress="return isFloatWithRange(event,this,0,100)"  name="gr_discount_per" max="100" value="0" maxlength="5" id="gr_discount_per" onkeyup="calculateItemDiscount()">
                                            <input type="text" class="form-control" disabled name="gr_discount_amt" value="0" id="gr_discount_amt">
                                        </div>
                                        {% if applicable_taxes|length > 0 %}
                                            {% for key,value in applicable_taxes %}
                                                <div class="form-group">
                                                    <label class="form-label">{{ value.tax }} <input type="checkbox" value="{{ value.taxunkid }}" name="gr_item_tax[]"  id="item_tax_enable_tax_{{ key }}" onchange="update_item_tax(this)" data-key = "{{ key }}"></label>
                                                    <input type="text" class="form-control mb5 decimal cl_tax_amt" name="item_tax[{{key}}]['amount']" id="item_tax_{{ key }}_amount" maxlength="5" onkeypress="return isFloat(event,this.value)" value="0" data-key = "{{ key }}" disabled onkeyup="calculateItemTax(this);">
                                                    <input type="text" class="form-control cl_tax_amt" name="item_tax[{{ key }}]['tax_total']" id="item_tax_{{key}}_tax_total" value="0" readonly />
                                                    <input type="hidden" name="item_tax[{{key}}]['pytype']" id="item_tax_{{ key }}_pytype" value="{{ value.pytype }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxunkid']" id="item_tax_{{ key }}_taxunkid"  value="{{ value.taxunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['lnkmasterunkid']" id="item_tax_{{ key }}_lnkmasterunkid"  value="{{ value.lnkmasterunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxdetailunkid']" id="item_tax_{{ key }}_taxdetailunkid"  value="{{ value.taxdetailunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['postingrule']" id="item_tax_{{ key }}_postingrule" value="{{ value.postingrule }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxapplyafter']" id="item_tax_{{ key }}_taxapplyafter" value="{{ value.taxapplyafter }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxname']" id="item_tax_{{ key }}_taxname" value="{{ value.tax }}" />
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                                        <input type="hidden" id="editid" value="">
                                        <input type="hidden" name="gr_item_cnt" id="gr_item_cnt" value="0">
                                        <input type="hidden" name="gr_last_item" id="gr_last_item" value="0">
                                        <input type="hidden" name="gr_selected_item" id="gr_selected_item" value="0">
                                        {% if grn_id=='' or grn_id=='0' %}
                                            <button class="btn btn-info" type="button" id="gr_add_item" onclick="addItemToGr()">{{ langlist.LANG33 }}</button>
                                        {% endif %}
                                        <button class="btn btn-info" id="gr_edit_item" style="display: none;" type="button" onclick="editItem();">{{ langlist.LANG18 }}</button>
                                        <button class="btn btn-info" id="gr_cancel_item" style="display: none;" type="button" onclick="resetItem();">{{ langlist.LANG35 }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <div class="clearfix"></div>
                <div class="row" id="list_indent">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" id="indentlist">
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            {% if grn_id!='' and grn_id!='0' %}
                                                <th>
                                                    <input type="checkbox" name="gr_select_all" id="gr_select_all" value="1">
                                                </th>
                                            {% endif %}
                                            <th style="width: 5%;">{{langlist.LANG4}}</th>
                                            <th style="width: 25%;">{{langlist.LANG8}}</th>
                                            <th style="width: 5%;">{{langlist.LANG10}}</th>
                                            <th style="width: 10%;">{{langlist.LANG11}}</th>
                                            <th style="width: 10%;">{{langlist.LANG13}}</th>
                                            <th style="width: 10%;">{{langlist.LANG37}}</th>
                                            <th style="width: 15%;">{{langlist.LANG38}}</th>
                                            <th style="width: 15%;">{{langlist.LANG15}}({{currencysign}})</th>
                                            <th style="width: 5%;"></th>
                                            {% if grn_id=='' or grn_id=='0' %}
                                                <th style="width: 5%;"></th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody class="hide_display" id="gr_items_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-6">
                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                   for="gr_total_amount">{{langlist.LANG19}}({{currencysign}})</label>
                            <div class="col-sm-5 paddingzero marginbottom5">
                                <input id="gr_total_amount" name="gr_total_amount" disabled class="form-control" type="text">
                            </div>
                        </div>
                        <div class="controls col-sm-6">
                            <div class="inline-form-group">
                                <label class="form-label" for="gr_remarks">{{ langlist.LANG12 }}</label>
                                <textarea class="form-control" name="gr_remarks" id="gr_remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btns-wrap">
                            <ul class="list-inline">
                                <li>
                                    <input type="hidden" name="gr_id" id="gr_id" value="{{ id }}">
                                    {% if grn_id=='' or grn_id=='0' %}
                                        <button class="btn btn-info" type="button" disabled="disabled" name="gr_btn_submit"
                                                id="gr_btn_submit" onclick="addGoodsReturn()">Submit
                                        </button>
                                    {% else %}
                                        <button class="btn btn-info" type="button" name="gr_btn_return"
                                                id="gr_btn_return" onclick="addGoodsReturnFromReceipt()">{{ default_langlist.SUBMIT }}
                                        </button>
                                    {% endif %}

                                </li>
                                <li>
                                    <button type="button" class="btn btn-info" id="gr_btn_close" aria-label="Close">
                                        {{ default_langlist.CANCEL }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var round_off_digit = '{{ roundoff }}';
    var grnId = '{{ grn_id }}';
    var plz_select='{{default_langlist.PLEASE_SELECT}}';
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var EDIT_GOOD_RETURN_REQUEST = SPLIT_PERMISSION.indexOf("384");
    var CREATE_GOOD_RETURN_REQUEST = SPLIT_PERMISSION.indexOf("385");

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        vendorChangeEvent();
        if(grnId!='' && grnId!=0){
            getGoodReceiptDetail();
        }
    });
    getGrDetail();
    jQuery('.date').datepicker({
        autoclose: true,
        startDate: date,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    $('.date').datepicker('setDate', today);

    $("#gr_item_qty").keyup(function (){
        validateItemQtyForGr();
        calculateItemRate();
    });
    $("#gr_rate_pu").keyup(function () {
        calculateItemRate();
    });
    jQuery("#gr_btn_close").click(function(){
        var modalId = jQuery("#gr_add_modal").parent().attr("modal_id");
        sessionStorage.removeItem('GoodsReturnItemList');
        closeModal(modalId);
    });
    jQuery("#gr_select_all").change(function(){
        jQuery("input[name='grn_itm_detId[]").prop('checked',$(this).prop("checked"));
    });
</script>
