<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"/>
<script type="text/javascript" src="{{ commonurl }}themes/js/good_receipt_note.js"></script>
<div id="grn_add_modal" class="modal-dialog split_popup ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
            <h4 class="modal-title" id="myModalLabelsplit">{{default_langlist.GOODRECEIPTNOTE}}</h4>
        </div>
        <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <input type="hidden" id="getid" name="getid" value="{{id}}"/>
            <div class="modal-body">
                <form id="grn_order_form" name="grn_order_form">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="grnno">{{langlist.LANG38}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="{{ grnNo }}" name="grnno" id="grnno" disabled maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="voucher_no">{{langlist.LANG39}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="voucher_no" value="{{voucherNo}}"
                                                       id="voucher_no" disabled maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_date">{{langlist.LANG5}}</label>
                                            <div class="controls">
                                                <input name="grn_date" id="grn_date" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_sel_vendor">{{langlist.LANG29}}</label><span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="grn_sel_vendor" id="grn_sel_vendor"
                                                data-toggle="tooltip" data-placement="top"
                                                title="{{langlist.LANG41}}" onchange="vendorChangeEvent();">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in vendor_list %}
                                                    <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="grn_sel_category">{{langlist.LANG6}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown disable_grn" name="grn_sel_category" id="grn_sel_category" onchange="getRawMaterial('','','')">
                                                <option value="0" selected="selected">Select Category</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_sel_item">{{langlist.LANG8}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown disable_grn" name="grn_sel_item" id="grn_sel_item" onchange="getItemUnits('','')">
                                                <option value="0" selected="selected">Select Item</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_item_qty">{{langlist.LANG10}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull decimal dropdown" name="grn_item_qty" id="grn_item_qty" onkeypress="return isFloat(event,this.value)" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_sel_unit">{{langlist.LANG11}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown disable_grn" name="grn_sel_unit" id="grn_sel_unit" onchange="setUnitRate()" >
                                                <option value="0" selected="selected">Select Unit</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="grn_rate_pu">{{langlist.LANG13}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="grn_rate_pu" id="grn_rate_pu"
                                                class="form-control notnull decimal" onkeypress="return isFloat(event,this.value)" maxlength="10">
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control" name="grn_actual_rate" id="grn_actual_rate">
                                        <div class="form-group">
                                            <label class="form-label" for="grn_total_rate">{{langlist.LANG14}}({{currencysign}})</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="grn_total_rate" id="grn_total_rate" class="form-control notnull dropdown" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label">{{langlist.LANG37}} %</label>
                                            <input type="text" class="form-control mb5 decimal disable_grn" onkeypress="return isFloatWithRange(event,this,0,100)"  name="grn_discount_per" max="100" value="0" maxlength="5" id="grn_discount_per" onkeyup="calculateItemDiscount()">
                                            <input type="text" class="form-control" disabled name="grn_discount_amt" value="0" id="grn_discount_amt">
                                        </div>
                                        {% if applicable_taxes|length > 0 %}
                                            {% for key,value in applicable_taxes %}
                                                <div class="form-group">
                                                    <label class="form-label">{{ value.tax }} <input type="checkbox" value="{{ value.taxunkid }}" name="grn_item_tax[]"  id="item_tax_enable_tax_{{ key }}" onchange="update_item_tax(this)" data-key = "{{ key }}"></label>
                                                    <input type="text" class="form-control mb5 decimal cl_tax_amt" name="item_tax[{{key}}]['amount']" id="item_tax_{{ key }}_amount" maxlength="5" onkeypress="return isFloat(event,this.value)" value="0" data-key = "{{ key }}" disabled onkeyup="calculateItemTax(this);">
                                                    <input type="text" class="form-control cl_tax_amt" name="item_tax[{{ key }}]['tax_total']" id="item_tax_{{key}}_tax_total" value="0" readonly />
                                                    <input type="hidden" name="item_tax[{{key}}]['pytype']" id="item_tax_{{ key }}_pytype" value="{{ value.pytype }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxunkid']" id="item_tax_{{ key }}_taxunkid"  value="{{ value.taxunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['lnkmasterunkid']" id="item_tax_{{ key }}_lnkmasterunkid"  value="{{ value.lnkmasterunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxdetailunkid']" id="item_tax_{{ key }}_taxdetailunkid"  value="{{ value.taxdetailunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['postingrule']" id="item_tax_{{ key }}_postingrule" value="{{ value.postingrule }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxapplyafter']" id="item_tax_{{ key }}_taxapplyafter" value="{{ value.taxapplyafter }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxname']" id="item_tax_{{ key }}_taxname" value="{{ value.tax }}" />
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="card-body">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                                        <input type="hidden" id="editid" value="">
                                        <input type="hidden" name="grn_item_cnt" id="grn_item_cnt" value="0">
                                        <input type="hidden" name="grn_last_item" id="grn_last_item" value="0">
                                        <input type="hidden" name="grn_selected_item" id="grn_selected_item" value="0">
                                        <button class="btn btn-info disable_grn" type="button" id="grn_add_item" onclick="addItemToGRN()">{{langlist.LANG33}}</button>
                                        <button class="btn btn-info" id="grn_edit_item" style="display: none;" type="button" onclick="editItem();">{{langlist.LANG18}}</button>
                                        <button class="btn btn-info" id="grn_cancel_item" style="display: none;" type="button" onclick="resetItem();">{{langlist.LANG35}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <div class="clearfix"></div>
                <div class="row" id="list_indent">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" id="indentlist">
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hide" id="checkgrn"><input type="checkbox" value="" name="checkallgrn" id="checkallgrn" >
                                            </th>
                                            <th style="width: 5%;">{{langlist.LANG4}}</th>
                                            <th style="width: 25%;">{{langlist.LANG8}}</th>
                                            <th style="width: 5%;">{{langlist.LANG10}}</th>
                                            <th style="width: 10%;">{{langlist.LANG11}}</th>
                                            <th style="width: 10%;">{{langlist.LANG13}}</th>
                                            <th style="width: 10%;">{{langlist.LANG37}}</th>
                                            <th style="width: 15%;">{{langlist.LANG34}}</th>
                                            <th style="width: 15%;">{{langlist.LANG15}}({{currencysign}})</th>
                                            <th class="display_grn" style="width: 5%;"></th>
                                            <th class="display_grn" style="width: 5%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="hide_display" id="grn_items_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-6">
                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                   for="grn_total_amount">{{langlist.LANG19}}({{currencysign}})</label>
                            <div class="col-sm-5 paddingzero marginbottom5">
                                <input id="grn_total_amount" name="grn_total_amount" disabled class="form-control" type="text">
                            </div>
                        </div>
                        <div class="controls col-sm-6">
                            <div class="inline-form-group">
                                <label class="form-label" for="grn_remarks">{{ langlist.LANG12 }}</label>
                                <textarea class="form-control " name="grn_remarks" id="grn_remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btns-wrap">
                            <ul class="list-inline">
                                <li>
                                    <input type="hidden" name="grn_id" id="grn_id" value="{{ id }}">
                                    <input type="hidden" id="orderid" name="orderid" value="{{orderid}}"/>

                                    {% if orderid=='' or orderid=='0' %}
                                    <button class="btn btn-info " type="button" name="grn_btn_submit" disabled="disabled"
                                            id="grn_btn_submit" onclick="addGRN()">{{default_langlist.SUBMIT}}
                                    </button>
                                    {% else %}
                                    <button class="btn btn-info " type="button" name="grn_btn_submit"
                                            id="grn_btn_po" onclick="addGRNfromPO('{{langlist.LANG40}}')">{{default_langlist.SUBMIT}}
                                    </button>
                                    {% endif %}
                                </li>
                                <li>
                                    <button type="button" class="btn btn-info" id="grn_btn_close" aria-label="Close">
                                        {{default_langlist.CLOSE}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var round_off_digit = '{{ roundoff }}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";

    var grnid = "{{id}}";
    var orderid = "{{orderid}}";

    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#checkallgrn").click(function () {
            $('input[name="grncheck[]').not(this).prop('checked', this.checked);
        });
    });
    var editid = "{{id}}";
    if (editid > 0) {
        jQuery("#grn_sel_vendor").removeClass('invalid');
    }else {
        vendorChangeEvent();
    }


    if(grnid > 0 && grnid != ''){
        var ADD_GOOD_RECEIPT_NOTE = SPLIT_PERMISSION.indexOf("381");
        var EDIT_GOOD_RECEIPT_NOTE = SPLIT_PERMISSION.indexOf("382");
        var DELETE_GOOD_RECEIPT_NOTE = SPLIT_PERMISSION.indexOf("383");

        getGrnDetail();
    }
    if(orderid > 0 && orderid != ''){
        $('.display_grn').remove();
        $('#checkgrn').removeClass('hide');
        var EDIT_GRN_DETAIL = SPLIT_PERMISSION.indexOf("370");
        getPODetailtoGRN();

    }

    jQuery('.date').datepicker({
        autoclose: true,
        startDate: date,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    $('.date').datepicker('setDate', today);

    $("#grn_item_qty").keyup(function (){
        calculateItemRate();
    });
    $("#grn_rate_pu").keyup(function () {
        calculateItemRate();
    });

    function onedit() {
        jQuery("#grn_sel_vendor").prop("disabled", true);
        jQuery("#indate").prop("disabled", true);
        jQuery("#grn_edit_item").prop("disabled", true);
        jQuery("#grn_edit_item").hide();
        jQuery("#grn_add_item").show();
        jQuery("#grn_add_item").show();
    }

    jQuery("#grn_btn_close").click(function(){
        var modalId = jQuery("#grn_add_modal").parent().attr("modal_id");
        sessionStorage.removeItem('GRNItemList');
        closeModal(modalId);
    });


</script>
