{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/timepicker/css/timepicker.css"/>
<script src="{{ commonurl }}themes/plugins/timepicker/js/timepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'store_settings');
    localStorage.setItem('pagename', 'leftpanel_indentnumbering');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.STORESETTINGS}}</li>
<li class="active">{{default_langlist.INDENTNUMBERING}}</li>
{% endblock %}
{% block content %}
<div id="resetlist" class="container-fluid">
    <form method="post" action="" name="reset-form" id="reset-form">
        <div class="side-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-header">
                            {% if '400' in PRIVdata %}
                            <div class="card-title">
                                <span id="frmtitle" class="title">{{langlist.LANG7}}</span>
                                <input type="hidden" name="cnt" id="cnt" value="6">
                            </div>
                            {% endif %}
                            {% if '401' in PRIVdata %}
                            <div class="pull-right card-action">
                                <button class="btn btn-primary pull-left" type="button"
                                        onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        {% if '400' in PRIVdata %}
                        <div class="card-body">
                            <table class="datatable table table-striped marginbottomzero" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:30%">{{langlist.LANG2}}</th>
                                        <th style="width:20%">{{langlist.LANG3}}</th>
                                        <th style="width:20%">{{langlist.LANG4}}</th>
                                        <th style="width:20%">{{langlist.LANG5}}</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="roomrate-table">
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <tbody>
                                        {% set counter = 1 %}
                                        {% for value in datalist %}
                                            <tr>
                                                {% if value.displayname  == 'Good Return Voucher No'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG8 }}
                                                </td>
                                                {% elseif value.displayname  == 'Good Return Voucher No'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG9 }}
                                                </td>
                                                {% elseif value.displayname  == 'Indent No'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG10 }}
                                                </td>
                                                {% elseif value.displayname  == 'Issue Voucher'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG11 }}
                                                </td>
                                                {% elseif value.displayname  == 'Purchase Order'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG12 }}
                                                </td>
                                                {% elseif value.displayname  == 'Good Receipt Note'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG13 }}
                                                </td>
                                                {% elseif value.displayname  == 'Goods Return'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG14 }}
                                                </td>
                                                {% elseif value.displayname  == 'Good Receipt Voucher No'%}
                                                <td style="width:30%"><span id="display_name_{{ value.hashkey }}" name="display_name"></span>{{
                                                    langlist.LANG15 }}
                                                </td>
                                                {% endif %}
                                                <td style="width:20%">
                                                    <select id="reset_{{ value.hashkey }}" name="reset[{{ value.hashkey }}]"
                                                            class="form-control reset dropdown">
                                                        <option value="0">{{langlist.LANG6}}</option>
                                                        {% for key,value1 in reset %}
                                                        <option value="{{ key }}" {% if(key==value.reset_type)%} selected {%
                                                                endif %}>{{ value1 }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td style="width:20%"><input type="text" name="prefix[{{ value.hashkey }}]"
                                                           id="prefix_{{ value.hashkey }}" value="{{ value.prefix }}"
                                                           class="form-control notnull" style="width:100px;" maxlength="10">
                                                </td>
                                                <td style="width:20%"><input type="text" name="startno[{{ value.hashkey }}]"
                                                           id="startno_{{ value.hashkey }}" value="{{ value.startno }}"
                                                           class="form-control notnull integer" style="width:100px;"
                                                           maxlength="10"></td>
                                                <td style="width:10%"><a class="update_ico"
                                                       onclick="check_audit_activity('{{ value.hashkey }}','{{ module }}')"><i
                                                        class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a></td>
                                            </tr>
                                        {% set counter = counter+1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group body-footer-table">
                                {% if '402' in PRIVdata %}
                                <button type="button" id="submit" class="btn btn-primary mr10">
                                    {{default_langlist.SUBMIT}}
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var rec_up='{{default_langlist.REC_UP_SUC}}';
    var int_error='{{default_langlist.INTERNAL_ERROR}}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    jQuery("#submit").click(function () {
        if (validate_form('reset-form')) {
            showjQloading();
            var myForm = document.getElementById('reset-form');
            var formdata = new FormData(myForm);
            formdata.append('service', 'indentnumbering');
            formdata.append('opcode', 'docnum');
            HttpSendRequest(formdata, function (recObj) {
                hidejQloading();
                if (recObj.Success == 'True') {
                    alertify.success(rec_up);
                }
                else {
                    alertify.error(int_error);
                }
            });
        }
        else {
            alertify.alert(lblerrormsg,lblok);
        }
    });

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($(".prefix").val() == "") {
            error = 1;
            //$('#prefix').addClass('invalid');
        }
        if ($(".startno").val() == "") {
            error = 1;
            // $('.startno').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }


</script>
{% endblock %}