{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    localStorage.setItem('modulename', 'inventory_transaction');
    localStorage.setItem('pagename', 'leftpanel_inventoryconsumption');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.INVENTORYTRANSACTION}}</li>
<li class="active">{{default_langlist.INVENTORYCONSUMPTION}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    {% set PRIVdata = PRIVLIST|split(',') %}
                    {% if '393' in PRIVdata %}
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <form method="post" action="" id="physical_inv_search" name="physical_inv_search">
                                <div class="form-group marginbottomzero">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG27
                                            }}</label>
                                        <div class="col-sm-8 paddingzero marginbottom5">
                                            <input id="txtfromdate" class="form-control  fromdate notnull" type="text" name="search_date" value="{{ displaycurrentdate }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label class="col-sm-4 control-label paddingzero">{{langlist.LANG6}}</label>
                                        <div class="col-sm-8 paddingzero marginbottom5">
                                            <select name="category" id="category" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in category %}
                                                <option value="{{ value['id'] }}">{{ value['name'] }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label class="col-sm-4 control-label textalignleft paddingzero"
                                               for="itemname">{{langlist.LANG8}}</label>
                                        <div class="col-sm-8 paddingzero marginbottom5">
                                            <input id="itemname" name="itemname" class="form-control" type="text">
                                        </div>
                                    </div>


                                    <div class="col-xs-12 col-md-12 text-right">
                                        <button class="btn btn-info" type="button" onclick="doSearch()">
                                            {{default_langlist.SEARCH}}
                                        </button>
                                        <button class="btn btn-default" type="button" onclick="doReset()">
                                            {{default_langlist.RESET}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '393' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <form method="post" action="" onsubmit="return updatephysicalinvtorysubmit(this)" id="physical_inventory">
                            <input type="hidden" name="current_date" id="current_date" value="{{currentdate}}" />
                        <table class="tableBodyScroll table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG36 }}</th>
                                <th>{{ langlist.LANG9 }}</th>
                                <th>{{ langlist.LANG11 }}</th>
                                <th>{{ langlist.LANG37 }}</th>
                                <th>{{ langlist.LANG38 }}</th>
                                <th>{{ langlist.LANG39 }}</th>
                                <th>{{ langlist.LANG20 }}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            {% if(datalist|length > 0) %}
                            {% for key,value in datalist %}
                            <tr>
                                <td>
                                    {{ value.code }}
                                </td>
                                <td>
                                    {{ value.name }}
                                </td>
                                <td>
                                    {{ value.unit_name }}
                                </td>
                                <td>
                                    {{ value.computer_stock }}
                                    <input type="hidden" name="items[{{value.inventory_id}}][computer_stock]" class="computer_stock_{{value.inventory_id}} computer_stock" data-inventory_id="{{ value.inventory_id }}" value="{{value.computer_stock}}"  />
                                    <input type="hidden" name="items[{{value.inventory_id}}][inv_unitid]" class="inventory_unitid_{{value.inventory_id}} computer_stock" data-inventory_id="{{ value.inventory_id }}" value="{{value.inv_unitid}}" />
                                </td>
                                <td>
                                    <input type="hidden" name="items[{{value.inventory_id}}][inventory_id]" value="{{value.inventory_id}}" />
                                    <input type="text" name="items[{{value.inventory_id}}][physical_stock]" onkeyup="return isFloatWithRange(event,this,0,10000000)" data-max_length = "8" class="physical_stock_{{value.inventory_id}} decimal physical_stock blur_action" data-inventory_id="{{ value.inventory_id }}" value="{{ value.physical_stock }}" style="width:90%;" data-old_physical_stock = "{{ value.physical_stock }}" />
                                </td>
                                <td>
                                    <input type="text" name="items[{{value.inventory_id}}][variances]" class="variances_{{value.inventory_id}}" data-inventory_id="{{ value.inventory_id }}" readonly value="{{ value.variances }}"  style="width:90%;" />
                                </td>
                                <td>
                                    <input type="text" name="items[{{value.inventory_id}}][reason]" class="reason_{{value.inventory_id}}" data-inventory_id="{{ value.inventory_id }}" value="{{ value.reason }}" style="width:90%;" />
                                </td>

                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr style="width: 100%;">
                                    <td colspan="7">
                                        <div class="norecord">
                                            <i class="fa fa-meh-o"></i>
                                            <br> {{default_langlist.NO_RECORDS}}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                            <div class="col-sm-12">
                                {% if '394' in PRIVdata %}
                                <div class="form-group pull-right">
                                    <input type="submit" name="submit" value="{{default_langlist.SAVE}}" class="btn btn-primary" />
                                </div>
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var round_off_digit = '{{ roundoff }}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });



    function doSearch() {
        showjQloading();

        var myForm = document.getElementById('physical_inv_search');
        var ajaxData = new FormData(myForm);
        ajaxData.append('service','inventoryconsumption');
        ajaxData.append('opcode', 'getinventorylist');
        HttpSendRequest(ajaxData,function(data)
        {
            hidejQloading();
            if (data['Success'] == 'True') {
                jQuery('#trantable').html('');
                if(data['Data'].length > 0)
                {
                    var TblHtml = '';
                    jQuery.each(data['Data'],function(key,value){
                        TblHtml +='<tr>\n' +
                            '                                <td>\n' +value.code+
                            '                                </td>\n' +
                            '                                <td>\n' + value.name +
                            '                                </td>\n' +
                            '                                <td>\n' +value.unit_name+ '                                </td>\n' +
                            '                                <td>\n' + value.computer_stock +
                            '                                    <input type="hidden" name="items['+value.inventory_id+'][computer_stock]" class="computer_stock_'+value.inventory_id+' computer_stock" data-inventory_id="'+value.inventory_id+'" value="'+value.computer_stock+'"  />\n' +
                            '                                    <input type="hidden" name="items['+value.inventory_id+'][inv_unitid]" class="inventory_unitid_'+value.inventory_id+' computer_stock" data-inventory_id="'+value.inventory_id+'" value="'+value.inv_unitid+'" />\n' +
                            '                                </td>\n' +
                            '                                <td>\n' +
                            '                                    <input type="hidden" name="items['+value.inventory_id+'][inventory_id]" value="'+value.inventory_id+'" />\n' +
                            '                                    <input type="text" name="items['+value.inventory_id+'][physical_stock]" onkeyup="return isFloatWithRange(event,this,0,10000000)" class="physical_stock_'+value.inventory_id+' decimal physical_stock blur_action" data-inventory_id="'+ value.inventory_id +'" value="'+ value.physical_stock +'" style="width:90%;" data-old_physical_stock = "'+value.physical_stock +'" />\n' +
                            '                                </td>\n' +
                            '                                <td>\n' +
                            '                                    <input type="text" name="items['+value.inventory_id+'][variances]" class="variances_'+value.inventory_id+'" data-inventory_id="'+ value.inventory_id +'" readonly value="'+ value.variances +'"  style="width:90%;" />\n' +
                            '                                </td>\n' +
                            '                                <td>\n' +
                            '                                    <input type="text" name="items['+value.inventory_id+'][reason]" class="reason_'+value.inventory_id+'" data-inventory_id="'+value.inventory_id +'" value="'+ value.reason +'" style="width:90%;" />\n' +
                            '                                </td>\n' +
                            '\n' +
                            '                            </tr>';
                    });

                }else{
                    TblHtml +='<tr style="width: 100%;">\n' +
                        '                                    <td colspan="7">\n' +
                        '                                        <div class="norecord">\n' +
                        '                                            <i class="fa fa-meh-o"></i>\n' +
                        '                                            <br> {{default_langlist.NO_RECORDS}}\n' +
                        '                                        </div>\n' +
                        '                                    </td>\n' +
                        '                                </tr>';
                }
                jQuery('#trantable').html(TblHtml);
                jQuery('#current_date').val(jQuery('#txtfromdate').val());
            } else {
                alertify.error(data['Message']);
            }
            return false;
        });
        return false;
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#category").val(0);
        jQuery("#txtfromdate").val('{{ displaycurrentdate }}');
        jQuery("#itemname").val('');
    }


    // Tooltip

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-info"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
    });

    function updatephysicalinvtorysubmit(currentForm)
    {
        if (validate_form('physical_inv_search')) {
            showjQloading();

            var myForm = document.getElementById('physical_inventory');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service','inventoryconsumption');
            ajaxData.append('opcode', 'updatephysicalinventory');

            HttpSendRequest(ajaxData,function(data)
            {

                if (data['Success'] == 'True') {
                    doSearch();
                    alertify.success(data['Message']);

                } else {
                    hidejQloading();
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            alertify.alert(lblerrormsg,lblok);
        }
        return false;
    }


    jQuery('body').on('blur','.blur_action',function(){
       var inventory_id = jQuery(this).attr('data-inventory_id');
         if(jQuery(this).hasClass('physical_stock'))
        {
            var physical_stock = jQuery(this).val();
            var old_physical_stock = jQuery(this).attr('data-old_physical_stock');
            if(parseFloat(physical_stock) >= 0 && parseFloat(old_physical_stock) != parseFloat(physical_stock))
            {
                var computer_stock = jQuery('.computer_stock_'+inventory_id).val();
                var variances = parseFloat(computer_stock) - parseFloat(physical_stock);
                jQuery('.variances_'+inventory_id).val(variances.toFixed(round_off_digit));
            }else{
                jQuery('.variances_'+inventory_id).val('');
            }
        }
    });

</script>
{% endblock %}
