{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_langsettings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{default_langlist.LANGUAGE_SETTINGS}} </li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div class="side-body" id="hotel-profile">
    <form name="LangSetForm" id="LangSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="content-body">
                {% if '426' in PRIVdata or '427' in PRIVdata %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <form action="" method="post" >
                                        <div class="form-group marginbottomzero">
                                            <div class="col-xs-12 col-md-4">
                                                <label class="col-sm-4 control-label textalignleft paddingzero" for="select_module">{{langlist.LANG3}}</label>
                                                <div class="col-sm-8 paddingzero marginbottom5">
                                                    {% set data = grpprivlist|split(',') %}
                                                    <select class="form-control" name="select_module" id="select_module">
                                                        <option value="0">{{default_langlist.PLEASE_SELECT}} </option>
                                                        <!--{% for key,value in config_modules %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}-->
                                                    {% if '30' in data %}
                                                    <option value="config_api_settings">{{default_langlist.API_SETTINGS}}</option>
                                                    {% endif %}
                                                    <option value="config_salutation">{{default_langlist.SALUTATION}}</option>
                                                        {% if '3' in data %}
                                                    <option value="config_paymenttype">{{default_langlist.PAYMENT_TYPE}}</option>
                                                        {% endif %}
                                                        {% if '1' in data %}
                                                    <option value="config_dashboard">{{default_langlist.DASHBOARD}}</option>
                                                        {% endif %}
                                                        {% if '4' in data %}
                                                    <option value="config_discount">{{default_langlist.DISCOUNT}}</option>
                                                        {% endif %}
                                                    <option value="config_default">{{default_langlist.DEFAULT_LABELS}}</option>
                                                        {% if tran_langs != '' %}
                                                    <option value="config_translate_language">{{default_langlist.TRANSLATE_LANGUAGES}}</option>
                                                        {% endif %}
                                                        {% if '16' in data %}
                                                    <option value="config_displaysettings">{{default_langlist.DISPLAY_SETTINGS}}</option>
                                                        <option value="config_invoice_template">{{default_langlist.INVOICE_TEMPLATE}}</option>
                                                        <option value="config_displaysettingslogs">{{default_langlist.DISPLAY_SETTINGS}} {{default_langlist.ACTIVITY}}</option>
                                                        <option value="config_User_Mandatory">{{default_langlist.USER_MANDATORY}}</option>
                                                        <option value="config_Month">{{default_langlist.MONTH}}</option>
                                                        {% endif %}
                                                        {% if '19' in data %}
                                                    <option value="config_document_numbering">{{default_langlist.DOCUMENT_NUMBERING}}</option>
                                                        <option value="config_Reset">{{default_langlist.RESET_INVOICE}}</option>
                                                        {% endif %}
                                                        {% if '18' in data %}
                                                    <option value="config_locationinfo">{{default_langlist.LOCATION_SETTINGS}}</option>
                                                        {% endif %}
                                                        {% if '2' in data %}
                                                    <option value="config_orders">{{default_langlist.ORDERS}}</option>
                                                    <option value="config_PrintInvoice">{{default_langlist.PRINT_INVOICE}}</option>
                                                        {% endif %}
                                                        {% if '5' in data %}
                                                    <option value="config_tax">{{default_langlist.TAX}}</option>
                                                        {% endif %}
                                                        {% if '92' in data %}
                                                    <option value="config_charges">{{default_langlist.CHARGES}}</option>
                                                        {% endif %}
                                                        {% if '71' in data %}
                                                    <option value="config_languagesettings">{{default_langlist.LANGUAGE_SETTINGS}}</option>
                                                        {% endif %}
                                                        {% if '6' in data %}
                                                    <option value="config_menu_menu">{{default_langlist.MENU}}</option>
                                                        {% endif %}
                                                        {% if '7' in data %}
                                                    <option value="config_menu_category">{{default_langlist.MENU_CATEGORY}}</option>
                                                        {% endif %}
                                                        {% if '10' in data %}
                                                    <option value="config_menu_item">{{default_langlist.MENU_ITEM}}</option>
                                                        {% endif %}
                                                        {% if '8' in data %}
                                                    <option value="config_menu_item_type">{{default_langlist.MENU_ITEM_TYPE}}</option>
                                                        {% endif %}
                                                        {% if '9' in data %}
                                                    <option value="config_menu_item_unit">{{default_langlist.ITEM_UNIT}}</option>
                                                        {% endif %}
                                                        {% if '11' in data %}
                                                    <option value="config_menu_modifier">{{default_langlist.MODIFIER}}</option>
                                                        {% endif %}
                                                        {% if '12' in data %}
                                                    <option value="config_menu_modifier_item">{{default_langlist.MODIFIER_ITEM}}</option>
                                                        {% endif %}
                                                        {% if '13' in data %}
                                                    <option value="config_combo_product">{{default_langlist.COMBO_PRODUCT}}</option>
                                                        {% endif %}
                                                        {% if '14' in data %}
                                                    <option value="config_table_class">{{default_langlist.TABLE_CLASS}}</option>
                                                        {% endif %}
                                                        {% if '15' in data %}
                                                    <option value="config_table_table">{{default_langlist.TABLE_TABLE}}</option>
                                                        {% endif %}
                                                        {% if '22' in data %}
                                                    <option value="config_reports">{{default_langlist.REPORTS}}</option>
                                                    <option value="config_MonthlyStatisticsReport">{{default_langlist.MONTHLY_STATISTICS_REPORT}}</option>
                                                    <option value="config_DailyRevenueReport">{{default_langlist.DAILY_REVENUE_REPORT}}</option>
                                                    <option value="config_ItemSalesReport">{{default_langlist.ITEM_SALES_REPORT}}</option>
                                                    <option value="config_DailyStatisticsReport">{{default_langlist.DAILY_STATISTICS_REPORT}}</option>
                                                    <option value="config_PaymentTypeReport">{{default_langlist.PAYMENT_TYPE_REPORT}}</option>
                                                    <option value="config_NoChargeReport">{{default_langlist.NOCHARGEUSER_REPORT}}</option>
                                                    <option value="config_CashDrawerReport">{{default_langlist.CASHDRAWER_REPORT}}</option>
                                                    <option value="config_ComplementaryReport">{{default_langlist.COMPLEMENTARY_REPORT}}</option>
                                                    <option value="config_GratuityReport">{{default_langlist.GRATUITY_REPORT}}</option>
													<option value="config_WaiterSaleReport">{{default_langlist.WAITER_SALE_REPORT}}</option>
                                                    <option value="config_ComboReport">{{default_langlist.COMBO_REPORT}}</option>
                                                        {% endif %}
                                                  <!--  <option value="config_number">{{default_langlist.CONFIG_NUMBERS}}</option>-->
                                                        {% if '69' in data %}
                                                    <option value="config_waiter">{{default_langlist.WAITER}}</option>
                                                        {% endif %}
                                                        {% if '70' in data %}
                                                    <option value="config_poc_user">{{default_langlist.POC_USER}}</option>
                                                        {% endif %}
                                                        {% if '74' in data %}
                                                    <option value="config_nocharge">{{default_langlist.NO_CHARGE}}</option>
                                                        {% endif %}
                                                        {% if '73' in data %}
                                                    <option value="config_no_charge_group">{{default_langlist.NO_CHARGE_GROUP}}</option>
                                                        {% endif %}
                                                        {% if '94' in data %}
                                                    <option value="config_company_account">{{default_langlist.COMPANY_ACCOUNT}}</option>
                                                        {% endif %}
                                                        {% if '75' in data %}
                                                    <option value="config_denomination">{{default_langlist.DENOMINATION}}</option>
                                                        {% endif %}{% if '79' in data %}
                                                    <option value="config_cancel_order_reasons">{{default_langlist.REASON}}</option>
                                                        {% endif %}{% if '80' in data %}
                                                    <option value="config_amenities">{{default_langlist.AMENITIES}}</option>
                                                        {% endif %}
                                                        {% if '29' in data %}
                                                        <option value="config_currencylist">{{default_langlist.CURRENCYLIST}}</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 text-right">
                                                <button class="btn btn-primary " type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form action="" name="LangSet_form" id="LangSet_form">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="datatable table table-striped marginbottomzero" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="50%">{{langlist.LANG1}}</th>
                                            <th width="50%">{{langlist.LANG2}}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="norecord" style="display:none">
                                        <i class="fa fa-meh-o"></i>
                                        <br>{{default_langlist.NO_RECORDS}}
                                    </div>
                                    <div class="roomrate-table">
                                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                                            <script id="tmpl" type="text/x-jquote-template">
                                                <tr>
                                                    <td width="50%"><@= this.default_label @></td>
                                                    <td width="50%">
                                                        <input type="text" name="customlanglabel[<@= this.key @>]" id="customlanglabel<@= this.key @>" value="<@= this.custom_label @>" class="form-control notnull">
                                                    </td>
                                                </tr>
                                            </script>
                                            <tbody id="lang_labels_list">
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if '427' in PRIVdata %}
                                    <div class="form-group body-footer-table">
                                        <button type="button" id="btnsubmit" class="btn btn-primary mr10">{{default_langlist.SUBMIT}}</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        doSearch();
    });
    jQuery('#btnsubmit').click(function()
    {
        var myForm = document.getElementById('LangSet_form');
        var formdata = new FormData(myForm);
        formdata.append('service', 'languagesettings');
        formdata.append('opcode', 'updateCustomLangLabel');
        formdata.append('module_name', jQuery("#select_module").val());
        showjQloading();
        HttpSendRequest(formdata, function (data) {
            hidejQloading();
            if(data.Success=='True')
            {
                alertify.success(data.Message);
            }
            else
            {
                alertify.error(data.Message);
            }
        });
    });
    function doReset() {
        jQuery("#select_module").val(0);
        doSearch();
    }
    function recnofound() {
        jQuery(".roomrate-table").hide();
        jQuery(".norecord").show();
        jQuery("#btnsubmit").hide();
    }
    function displayrecord() {
        jQuery(".roomrate-table").show();
        jQuery(".norecord").hide();
        jQuery("#btnsubmit").show();
    }
    function doSearch() {
        showjQloading();
        var arr = {};
        arr['service'] = "languagesettings";
        arr['opcode'] = "loadLangParameters";
        arr['module_name'] = jQuery("#select_module").val();
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data.Success == 'True') {
                var res = data['Data'];
                jQuery("#lang_labels_list").empty();
                if (res.length > 0) {
                    displayrecord();
                    jQuery("#lang_labels_list").jqoteapp("#tmpl", eval(res));
                } else {
                    recnofound();
                }
            }
        });
    }
</script>
{% endblock %}