{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<script type="text/javascript">
    localStorage.setItem('modulename','settings');
    localStorage.setItem('pagename', 'leftpanel_locationinfo');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{default_langlist.LOCATION_SETTINGS}}</li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div class="side-body" id="company-profile">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <form name="LcSettingsForm" id="LcSettingsForm" enctype="multipart/form-data">
            <div class="content-body">
                {% if '91' in PRIVdata or '92' in PRIVdata %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header" style="margin-bottom: 15px;">
                                    <div class="card-title">
                                        <span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG2 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtlocationname" id="txtlocationname" value="{{ datalist.locationname }}" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG3 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <textarea class="form-control notnull" name="txtaddress1" id="txtaddress1" style="resize: vertical;" maxlength="100">{{ datalist.address1 }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG4 }}</label>
                                            <div class="controls">
                                                <textarea class="form-control" name="txtaddress2" id="txtaddress2" style="resize: vertical;" maxlength="100">{{ datalist.address2 }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG5 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="select_country" id="select_country" class="form-control dropdown">
                                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in countrylist %}
                                                    <option value="{{ key }}" {% if(key==datalist.country)%} selected {% endif %}>{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG6 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtstate" id="txtstate" value="{{ datalist.state }}" maxlength="30">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG7 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtcity" id="txtcity" value="{{ datalist.city }}" maxlength="30">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG8 }}</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="txtzipcode" id="txtzipcode" value="{{ datalist.zipcode }}"  maxlength="10">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG9 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtphoneno" id="txtphoneno" value="{{ datalist.phone }}"  maxlength="15">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG10 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtrescontactno" id="txtrescontactno" value="{{ datalist.reservation_contact_no }}"  maxlength="15">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG11 }}</label>
                                            <div class="controls">
                                                <input type="text" class="form-control integer" name="txtfaxno" id="txtfaxno" value="{{ datalist.fax }}"  maxlength="20">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG12 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull email" name="txtemail" id="txtemail" value="{{ datalist.locationemail }}"  maxlength="50">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 hide">
                                            <label class="form-label" for="field-1">{{ langlist.LANG13 }}</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="txtsymbol" id="txtsymbol" value="{{ datalist.currency_sign }}"  maxlength="5">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 ">
                                            <label class="form-label" for="field-1">{{ langlist.LANG25 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="currencylnkid" id="currencylnkid" class="form-control notnull dropdown" {% if datalist.zipcode!="" and datalist.currencylnkid!=0 %} disabled {% endif %} >
                                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in currencylist %}
                                                    <option value="{{ value['currencyunkid'] }}"  {% if(datalist.currencylnkid==value['currencyunkid'])%} selected {% endif %}>{{ value.currency_code }} ({{ value.currency_sign }})</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="field-1">{{ langlist.LANG16 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="txtwebsite" id="txtwebsite" value="{{ datalist.website }}"  maxlength="50">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="upload_img">{{ default_langlist.UPLOAD_IMAGE}}</label>
                                            <div class="controls">
                                                <input type="file" class="form-control" name="upload_img" id="upload_img" accept="image/x-png,image/jpg,image/jpeg" onchange="uploadpic(this);">
                                                <img src="{{datalist.image}}" class="itemimages" width="100" height="100" id="itemimg"  style="display: none"/>
                                                <input type="hidden" name="imagephoto" id="imagephoto" value="{{datalist.image}}" >
                                            </div>
                                        </div>
                                        {%  if amenitieslist | length  > 0 %}
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="amenities">{{ langlist.LANG24 }}</label>
                                            <select id="amenities" class="form-control"  multiple="multiple" name="amenities" style="width:100%">
                                                {% for key,value in amenitieslist %}
                                                {% if value.amenitiesunkid in datalist.amenities %}
                                                <option class="option_amenities_{{ value.amenitiesunkid }}" value="{{ value.amenitiesunkid }}" selected="selected">{{ value.name }}</option>
                                                {% else %}
                                                <option class="option_amenities_{{ value.amenitiesunkid }}" value="{{ value.amenitiesunkid }}">{{ value.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% endif %}
                                        {% if '92' in PRIVdata %}
                                                                                <div class="form-group col-md-12" style="text-align: right">

                                                                                    <input type="hidden" value="{{ datalist.latitude }}" name="latitude">
                                                                                    <input type="hidden" value="{{ datalist.longitude }}" name="longitude">
                                            <button type="button" id="btnsubmit" class="btn btn-info">{{ default_langlist.SUBMIT }}</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    jQuery('#amenities').select2({
        placeholder: "{{default_langlist.PLEASE_SELECT}}",
        allowClear:true
    });
    var imageurl='{{datalist.image}}';
    if(imageurl!=null && imageurl!=''){
        $('#itemimg').show();
    }
    jQuery("#btnsubmit").click(function()
    {
        if(validate_form('LcSettingsForm'))
        {
            var myForm = document.getElementById('LcSettingsForm');
            var formdata = new FormData(myForm);
            var amenities=$('#amenities').val();
            if(typeof amenities!='undefined' &&  amenities!='' && amenities!=null){
                amenities = amenities.join(',');
            }else {
                amenities = '';
            }
            formdata.append('service','location_info');
            formdata.append('opcode','editLocationInfo');
            formdata.append('amenities',amenities);
            formdata.append('currencylnkid',$('#currencylnkid').val());
            showjQloading();
            HttpSendRequest(formdata,function(data)
            {
                hidejQloading();
                if(data.Success=='True'){
                    alertify.success('{{default_langlist.REC_UP_SUC}}');
                }
                else{
                    if(data.Message =='INTERNAL_ERROR')
                    {
                        alertify.error('{{default_langlist.INTERNAL_ERROR}}');
                    }
                    else{
                        alertify.error('{{default_langlist.SOME_FIELD_MISSING}}');
                    }
                }
            });
        }else{
            alertify.alert('{{default_langlist.PLEASE_INSERT_REQUIRED_FIELDS}}',"{{default_langlist.LABEL_OK}}");
        }
    });

    function uploadpic(obj)
    {
        $('#itemimg').show();
        if(typeof (obj.files) != "undefined")
        {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if(size>2048)
            {
                alertify.alert("{{default_langlist.PAIHMZ}}","{{default_langlist.LABEL_OK}}");
                $('input[name=upload_img]').val('');
                return false;
            }
            if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
            {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }

            var reader  = new FileReader();

            reader.addEventListener("load", function ()
            {
                jQuery("#itemimg").attr("src",reader.result);
            }, false);

            if (obj.files[0])
            {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else
        {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}',"{{default_langlist.LABEL_OK}}");
        }
    }
</script>
{% endblock %}