<!DOCTYPE html>
<html>

<head>
    {% if oem['title'] != '' %}
    <title>{{ oem['title'] }}</title>
    {% else %}
    <title>POS</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
</head>
<body class="flat-blue login-page">
<div class="login-box">
    <div class="login-form">
        <div class="login-inner">
            <div class="row">
                <div class="col-sm-12 text-center login-header">
                    {% if oem['logo'] is defined %}
                    <img src="themes/img/{{ oem['logo'] }}-logo.png" class="img-responsive" style="max-width: 155px">
                    {% else %}
                    <img src="themes/img/cloudpos.png" class="img-responsive" style="max-width: 155px">
                    {% endif %}
                    <!-- <h4 class="login-title">Cloud POS</h4> -->
                    <!--  <span class="login_small">Makes your business more simplified</span> -->
                </div>
                <div class="col-sm-12">
                    <div class="login-body">
                        <div class="progress hidden" id="login-progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">
                                Please wait...
                            </div>
                        </div>
                        <form>
                            <div class="control" id="valid_msg" style="display: none">
                                <span class="valid_msg">Please insert required field.</span>
                            </div>
                            <div class="control" id="error_msg" style="display: none">
                                <span class="error_msg"></span>
                            </div>
                            <div class="control form-group">
                                    <span class="login-ico">
                                        <i class="fa fa-user"></i>
                                    </span>
                                <input type="text" id="uname" class="form-control login-input" placeholder="User Name"
                                       required/>
                            </div>
                            <div class="control form-group">
                                    <span class="login-ico">
                                        <i class="fa fa-key"></i>
                                    </span>
                                <input type="password" id="pwd" class="form-control login-input" placeholder="Password"
                                       required/>
                            </div>
                            <div class="control form-group">
                                    <span class="login-ico">
                                        <i class="fa fa-server"></i>
                                    </span>
                                <input type="text" id="companyid" class="form-control login-input"
                                       placeholder="Company Code" required/>
                            </div>
                            <div class="login-button text-center">
                                <input type="button" id="login" class="btn btn-primary" value="Login" style="width: 100%" onclick="company_login()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="modal fade modal-primary" id="myModal" aria-hidden="true" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Select Your Outlet/Store.</h4>
                <input type="hidden" id="uidcid" value="" />
            </div>
            <div class="modal-body">
                <div id="locationlistdiv">
                    <div id="locationlist" class="list-group">
                    </div>

                    <div class="norecord" style="display: none">
                        <i class="fa fa-meh-o"></i>
                        <br>
                            No Location Found
                    </div>
                    <!--<ul class="pagination" style="margin-top: 0;width: 100%">
                        <li>
                            <a id="btnloginlocation" class="pnllist">Next <i class="fa fa-chevron-right"></i></a>
                        </li>
                    </ul>-->
                </div>
            </div>
            <script id="locationlisttmpl" type="text/x-jqote-template">
                <@ if(this.type==1){ @>
                    <a class="list-group-item" lcid="<@= this.syslocationid @>" lctype="<@= this.type @>" onclick="addactive(this)">
                        <h4 class="list-group-item-heading"><@= this.name @></h4>
                    </a>
                <@ } @>
                <@ if(this.type==2){ @>
                    <a class="list-group-item" lcid="<@= this.storeunkid @>" lctype="<@= this.type @>" onclick="addactive(this)">
                        <h4 class="list-group-item-heading"><@= this.name @></h4>
                    </a>
                <@ } @>
            </script>
        </div>
    </div>
</div>
<style>
    .grpactive {
        background-color: #e1e1e1 !important;
        border-right: 10px solid;
    }

    .pnllist {
        width: 50%;
        text-align: center;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    function addactive(obj) {
        jQuery(".list-group a").each(function () {
            jQuery(this).removeClass('grpactive');

        });

        jQuery(obj).addClass('grpactive');
        loginlocation();
    }
    jQuery(".login-input").keyup(function (evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if(charCode==13)
        {
            company_login();
        }
    })
    function company_login() {
        var validflag = checkvalid();
        if (validflag) {
            jQuery("#login-progress").removeClass('hidden');
            jQuery(".form-control").removeClass("invalidfield");
            jQuery(".valid_msg").hide();
            jQuery("#error_msg").hide();
            var uname = jQuery("#uname").val();
            var pwd = jQuery("#pwd").val();
            var companyid = jQuery("#companyid").val();


            jQuery.ajax({
                url: "{{ commonurl }}validuser.php",
                type: "post",
                data: "service=validuser&opcode=checkcredentials&uname=" + uname + "&pwd=" + pwd + "&cid=" + companyid,
                success: function (data) {
                    var data_err = JSON.parse(data);
                    if (data_err['Success'] == 'False') {
                        jQuery("#login-progress").hide();
                        jQuery("#error_msg").show();
                        jQuery(".error_msg").text(data_err['Message']);
                    }
                    else if (data_err['Success'] == 'True') {
                        $('#myModal').modal('show');
                        if (data_err['location_cnt']==0) {
                            jQuery("#locationlist").hide();
                            jQuery(".norecord").show();
                            jQuery("#btnloginlocation").hide();
                        }
                        else{
                            var datatotmpl = JSON.parse(data_err['data_list']);
                            jQuery("#locationlistdiv").show();
                            jQuery("#locationlist").empty();
                            jQuery.jqotetag("@");
                            jQuery("#locationlist").jqoteapp("#locationlisttmpl", datatotmpl);
                            jQuery("#locationlist").find("a").first().addClass("grpactive");
                        }
                        jQuery("#login-progress").hide();
                        //localStorage.setItem('POS_USR_LANG_TYPE', data_err['Data']['lang_type']);
                        //window.location = "{{ commonurl }}cloud/dashboard";
                    }
                }
            });
        }
    }
    function loginlocation()
    {
        var lid = jQuery(".grpactive").attr('lcid');
        var type = jQuery(".grpactive").attr('lctype');
        if (checkvalid() && lid!="")
        {
            var uname = jQuery("#uname").val();
            var pwd = jQuery("#pwd").val();
            var cid = jQuery("#companyid").val();
            var lid = lid;
            jQuery.ajax({
                url: "{{ commonurl }}validuser.php",
                type: "post",
                data: "service=validuser&opcode=login_location&uname=" + uname + "&pwd=" + pwd + "&cid=" + cid +'&lid='+lid+'&type='+type,
                success: function (result) {
                    var data = JSON.parse(result);
                    if (data['Success'] == 'True'){
                        localStorage.setItem('POS_USR_LANG_TYPE', data['Data']['lang_type']);
                        localStorage.setItem('POS_USR_TYPE', data['Data']['user_type']);
                        localStorage.setItem('TABINSTA_INTEGRATION',data['Data']['tabinsta']);
                        localStorage.setItem('PMS_INTEGRATION',data['Data']['pms']);
                        window.location = "{{ commonurl }}cloud/dashboard";
                    }
                }
            });
        }
    }
    /*jQuery("#btnloginlocation").click(function(){
        var lid = jQuery(".grpactive").attr('lcid');
        var type = jQuery(".grpactive").attr('lctype');
        if (checkvalid() && lid!="")
        {
            var uname = jQuery("#uname").val();
            var pwd = jQuery("#pwd").val();
            var cid = jQuery("#companyid").val();
            var lid = lid;
            jQuery.ajax({
                url: "{{ commonurl }}validuser.php",
                type: "post",
                data: "service=validuser&opcode=login_location&uname=" + uname + "&pwd=" + pwd + "&cid=" + cid +'&lid='+lid+'&type='+type,
                success: function (result) {
                    var data = JSON.parse(result);
                    if (data['Success'] == 'True'){
                        localStorage.setItem('POS_USR_LANG_TYPE', data['Data']['lang_type']);
                        localStorage.setItem('POS_USR_TYPE', data['Data']['user_type']);
                        localStorage.setItem('TABINSTA_INTEGRATION',data['Data']['tabinsta']);
                        localStorage.setItem('PMS_INTEGRATION',data['Data']['pms']);
                        window.location = "{{ commonurl }}cloud/dashboard";
                    }
                }
            });
        }
    });*/
    function checkvalid() {
        var flag = 0;
        jQuery("#uname").removeClass('invalidfield');
        jQuery("#pwd").removeClass('invalidfield');
        jQuery("#companyid").removeClass('invalidfield');
        if (jQuery("#uname").val() == "") {
            flag = 1;
            jQuery("#valid_msg").show();
            jQuery("#uname").addClass('invalidfield');
        }
        if (jQuery("#pwd").val() == "") {
            flag = 1;
            jQuery("#valid_msg").show();
            jQuery("#pwd").addClass('invalidfield');
        }
        if (jQuery("#companyid").val() == "") {
            flag = 1;
            jQuery("#valid_msg").show();
            jQuery("#companyid").addClass('invalidfield');
        }
        if (flag == 1)
            return false;
        else
            return true;
    }
</script>
</body>
<style>
    .valid_msg {
        font-weight: 14px;
        color: red;
    }

    .error_msg {
        color: red;
    }

    .invalidfield {
        border: 1px solid red !important;
    }

    .login-input {
        padding: 0px 0px 0px 45px;
    }
</style>
</html>
