{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>

<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
    localStorage.setItem('pagename', 'leftpanel_item_type');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.ITEM_TYPE}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '87' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '83' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                        {% if '89' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '87' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '87' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.name @>
                                </td>
                                <td>
                                    <@=this.sortkey @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if '86' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">

                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '84' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '85' in PRIVdata %}

                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '216' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_related_records('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>
                                    {% endif %}
                                    {% if '89' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')">
                                        <i class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="typeform" name="typeform" class="card" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label" for="name">{{ langlist.LANG4 }} {{ default_langlist.UNIQUE}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="sortkey">{{ langlist.LANG5 }}</label><span class="required"
                                                                                                      aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull integer" name="sortkey" id="sortkey"
                                       maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="image">{{ default_langlist.UPLOAD_IMAGE}}</label>
                            <div class="controls">
                                <input type="file" accept="image/x-png,image/jpg,image/jpeg" class="form-control" name="upload_img" id="upload_img" onchange="uploadpic(this);">
                                <img src="" class="images" width="100" height="100" id="typeimg" style="display: none;" />
                            </div>
                        </div>

                        <div class="form-group col-md-3 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label"
                                           for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">
                                        {{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <input type="hidden" name="imagephoto" id="imagephoto" value="">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("87");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

    function uploadpic(obj)    {
        $("#typeimg").show();
        if(typeof (obj.files) != "undefined")
        {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            /*if(size>2048)
             {
             alert("Please add image having max size 2MB.");
             $('input[name=upload_logo]').val('');
             return false;
             }*/
            if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
            {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }

            var reader  = new FileReader();
            reader.addEventListener("load", function ()
            {
                jQuery("#typeimg").attr("src",reader.result);
            }, false);

            if (obj.files[0])
            {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else
        {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}},"{{default_langlist.LABEL_OK}}"');
        }
    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_item_type',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            showjQloading();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit Type');
                jQuery("#id").val(id);
                var arr = {};
                arr['service'] = 'menu_item_type';
                arr['opcode'] = 'getItemtypeRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    hidejQloading();
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#name").val(res.name);
                        jQuery("#imagephoto").val(res.image);
                        if(typeof (res.image)!="undefined" && (res.image)!="" && (res.image)!=null)
                        {
                            $('#typeimg').show();
                            $('#typeimg').attr('src',res.image);
                        }
                        jQuery("#sortkey").val(res.sortkey);
                        $('input:radio[name="rdo_status"]').filter('[value=' + res.is_active + ']').prop('checked', true);
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add Type');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
                hidejQloading();
            }

        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        $('#imagephoto').val('');
        $('#typeimg').hide();
        $('#typeimg').attr('src','');
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#typeform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    jQuery("#submit").click(function () {
        if (validate_form('typeform')) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('typeform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_item_type');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();

                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });
</script>
{% endblock %}