{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/unit.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/recipe.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
    localStorage.setItem('pagename', 'leftpanel_modifier');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.MODIFIER}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '106' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '101' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                        {% if '107' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                        {% if '108' in PRIVdata %}
                        <!-- <div class="pull-right card-action">
                             {% if tablist.tabinsta_integration == 1 %}
                             <button class="btn btn-primary pull-left" type="button" onclick="syncmodifier();" >{{langlist.LANG11}}</button>
                             {% endif %}
                         </div>-->
                        {% endif %}
                    </div>
                    {% if '106' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '106' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                   <!-- {% if store==1 %}
                                    <th>{{ langlist.LANG19 }}</th>
                                    {% endif %}
                                    <th>{{ langlist.LANG18 }}</th>-->
                                    <th>{{ langlist.LANG20 }}</th>
									<th>{{default_langlist.CREATED_BY}}</th>
									<th>{{default_langlist.MODIFIED_BY}}</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.modifiername @>
                                </td>
                              <!--  {% if store==1 %}
                                <td style="text-align: right">
                                    <@=this.base_cost @>
                                </td>
                                {% endif %}
                                <td style="text-align: right">
                                    <@=this.sale_amount @>
                                </td>-->
                                <td>
                                    <@=this.is_included @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if '104' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '102' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '103' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '105' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_related_records('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>
                                    {% endif %}
                                    {% if '107' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="content-body">
            <div class="row">
                <form id="txtform" name="txtform" class="card" enctype="multipart/form-data">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header" style="margin-bottom: 15px;">
                                                <div class="card-title">
                                                    <span id="frmtitle" class="title"></span>
                                                    <input type="hidden" id="id" name="id" value="0"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="shortcode">{{ langlist.LANG4 }} {{
                                                        default_langlist.UNIQUE }}</label><span class="required"
                                                                                                aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control notnull" name="txtname"
                                                               id="txtname" maxlength="50">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="shortcode">{{ langlist.LANG8
                                                        }}</label><span class="required" aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control notnull integer"
                                                               name="txtmin" id="txtmin" maxlength="3">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="shortcode">{{ langlist.LANG9
                                                        }}</label><span class="required" aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control notnull integer"
                                                               name="txtmax" id="txtmax" maxlength="300">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="shortcode">{{ default_langlist.SKU }}
                                                        {{ default_langlist.UNIQUE }}</label><span class="required"
                                                                                                   aria-required="true"> *</span>
                                                    <div class="controls">
                                                        <input type="text" name="txtsku" id="txtsku"
                                                               class="form-control notnull" maxlength="15">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="field-1">{{ langlist.LANG17
                                                        }}</label>
                                                    <div class="controls">
                                                        <input type="hidden" name="check_included" id="check_included">
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="no_included" class="is_included"
                                                                   style="margin-bottom: 8px" name="is_included"
                                                                   value="0" type="radio">
                                                            <label class="iradio-label form-label" for="no_included">{{
                                                                langlist.LANG16 }}</label>
                                                        </div>
                                                        <div class="radio3 radio-check radio-inline">
                                                            <input id="included" class="is_included"
                                                                   style="margin-bottom: 8px" name="is_included"
                                                                   value="1" checked="checked" type="radio">
                                                            <label class="iradio-label form-label" for="included">{{
                                                                langlist.LANG15 }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group col-md-4 hide" id="amountdiv">
                                                     <label class="form-label" for="txtsaleamount">{{ langlist.LANG18 }}</label><span class="required" aria-required="true"> *</span>
                                                     <div class="controls">
                                                         <input type="text" class="form-control decimal" name="txtsaleamount" id="txtsaleamount" maxlength="6">
                                                     </div>
                                                 </div>-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group col-md-12">
                                                <label class="form-label" for="field-1">{{ default_langlist.DESCRIPTION
                                                    }}</label>
                                                <div class="controls">
                                                    <textarea id="txtlongdesc" name="txtlongdesc" class="form-control"
                                                              maxlength="1000"></textarea>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="field-1">{{ langlist.LANG6 }}</label>
                                                <div class="controls">
                                                    <textarea id="txtshortdesc" name="txtshortdesc" class="form-control" maxlength="1000"></textarea>
                                                </div>
                                            </div>-->
                                            <div class="clearfix"></div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label" for="image">{{ default_langlist.UPLOAD_IMAGE
                                                    }}</label>
                                                <div class="controls">
                                                    <input type="file" class="form-control" name="upload_img"
                                                           id="upload_img" onchange="uploadpic(this);">
                                                    <img src="" class="modifierimages" width="100" height="100"
                                                         id="modifierimg" style="display: none;"/>
                                                </div>
                                            </div>
                                            {% if store==1 %}
                                            <div class="form-group hide col-md-4">
                                                <label class="form-label" for="field-1">{{ langlist.LANG14 }}</label>
                                                <div class="controls">
                                                    <div class="radio3 radio-check radio-inline">
                                                        <input id="no_recipe" class="is_recipe"
                                                               style="margin-bottom: 8px" name="is_recipe" value="0"
                                                               checked="checked" type="radio">
                                                        <label class="iradio-label form-label" for="no_recipe">{{
                                                            langlist.LANG16 }}</label>
                                                    </div>
                                                    <div class="radio3 radio-check radio-inline">
                                                        <input id="with_recipe" class="is_recipe"
                                                               style="margin-bottom: 8px" name="is_recipe" value="1"
                                                               type="radio">
                                                        <label class="iradio-label form-label" for="with_recipe">{{
                                                            langlist.LANG15 }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}

                                            <div class="form-group col-md-4 edit_hide">
                                                <label class="form-label"
                                                       for="field-1">{{default_langlist.STATUS}}</label>
                                                <div class="controls">
                                                    <div class="radio3 radio-check radio-inline">
                                                        <input id="active" class="" style="margin-bottom: 8px"
                                                               name="rdo_status" value="1" checked="checked"
                                                               type="radio">
                                                        <label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
                                                    </div>
                                                    <div class="radio3 radio-check radio-inline">
                                                        <input id="inactive" class="" style="margin-bottom: 8px"
                                                               name="rdo_status" value="0" type="radio">
                                                        <label class="iradio-label form-label" for="inactive">
                                                            {{default_langlist.INACTIVE}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Recipe-->
                    {% if store==1 %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide" id="recipe_div">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span id="frmtitle" class="title">{{ langlist.LANG12 }}</span>
                                                    <span class="title avg_cost"
                                                          style="padding-left: 860px;">0.00</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="attributes">
                                                        <div class="form-group">
                                                            <label class="form-label" for="rawmaterial">{{
                                                                langlist.LANG13 }}</label>
                                                            <select id="rawmaterial_sel" class="form-control"
                                                                    multiple="multiple" style="width:100%">
                                                                {% for key,value in rawlist %}
                                                                <option class="option_raw_{{ value['hashkey'] }}"
                                                                        value="{{ value['hashkey'] }}">{{ value['name']
                                                                    }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                            <input type="hidden" id="raw_detail" name="raw_detail"/>
                                                            <input type="hidden" class="form-control" id="old_raw"
                                                                   name="old_raw"/>
                                                        </div>

                                                        <div class="form-group clearfix"></div>
                                                        <label class="col-sm-3 control-label textalignleft "></label>
                                                        <div class="col-sm-9">
                                                            <button type="button" class="button btn"
                                                                    style="margin-right: 10px"
                                                                    onclick="selectAllRawmaterial(this);">{{langlist.LANG30}}
                                                            </button>
                                                            <button style="margin-right: 10px" type="button"
                                                                    class="button btn"
                                                                    onclick="selectNoneRawmaterial(this);">{{langlist.LANG31}}
                                                            </button>
                                                            <button style="float: right" type="button"
                                                                    class="btn btn-primary"
                                                                    onclick="loadRawmaterialDetail();">{{langlist.LANG32}}
                                                            </button>
                                                        </div>
                                                        <div class="form-group clearfix"></div>
                                                        <div id="rawdetail_list">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!---->

                    <!--Unit-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="unit_div">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG21 }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <div class="form-group">
                                                            <label class="form-label" for="unit_sel">{{ langlist.LANG22
                                                                }}</label>
                                                            <select id="unit_sel" class="form-control"
                                                                    multiple="multiple" style="width:100%">
                                                                {% for key,value in itmunitlist %}
                                                                <option class="option_unit_{{ value['hashkey'] }}"
                                                                        value="{{ value['hashkey'] }}">{{ value['name']
                                                                    }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                            <input type="hidden" class="form-control" id="unit_detail"
                                                                   name="unit_detail"/>
                                                            <input type="hidden" class="form-control" id="old_unit"
                                                                   name="old_unit"/>
                                                        </div>

                                                        <div class="form-group clearfix"></div>
                                                        <label class="col-sm-3 control-label textalignleft "></label>
                                                        <div class="col-sm-9">
                                                            <button type="button" class="button btn"
                                                                    style="margin-right: 10px"
                                                                    onclick="selectAllUnit();">{{langlist.LANG30}}
                                                            </button>
                                                            <button style="margin-right: 10px" type="button"
                                                                    class="button btn" onclick="selectNoneUnit();">
                                                               {{langlist.LANG31}}
                                                            </button>
                                                            <button style="float: right" type="button"
                                                                    class="btn btn-primary" onclick="loadUnitDetail();">
                                                                {{langlist.LANG32}}
                                                            </button>
                                                        </div>
                                                        <div class="form-group clearfix"></div>
                                                        <div id="unit_list">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->

                    <div class="col-xs-12 col-md-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG23 }}</span>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane active">
                                                    {% for key,value in taxlist %}
                                                    <div class="col-md-5 col-xs-5">
                                                        <div class="checkbox3 checkbox-check ">
                                                            <input type="checkbox" class="chk_tax"
                                                                   value="{{ value.taxunkid }}"
                                                                   name="tax[{{ value.taxunkid }}][taxid]" data-aftertax="{{value.after_tax}}"
                                                                   id="tax{{ value.taxunkid }}"
                                                                   onchange="gettaxAmount('{{ value.taxunkid }}')">
                                                            <label for="tax{{ value.taxunkid }}">{{ value.tax}} </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2">
                                                        <label>{{ value.pytype}} </label>
                                                    </div>

                                                    <div class="col-xs-5 col-md-5">
                                                        <label class="col-sm-4 form-label"
                                                               for="amount{{ value.taxunkid }}">{{default_langlist.AMOUNT}}</label>
                                                        <div class="col-sm-6 paddingzero marginbottom5">
                                                            <input type="text" class="form-control decimal distxt"
                                                                   disabled="disabled" maxlength="10" {% if
                                                                   value.postingrule== 1 %}
                                                                   onkeyup="return isFloatWithRange(event,this,0,100)"
                                                                   {% endif %} name="tax[{{ value.taxunkid }}][amount]"
                                                                   data-amount="{{ value.amount}}"
                                                                   data-postingrule="{{value.postingrule}}" value=""
                                                                   id="amount{{ value.taxunkid }}">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span class="title">{{ langlist.LANG25 }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active">
                                                        <div class="form-group">
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate1"
                                                                           value="1" name="rates[]">
                                                                    <label for="rate1">{{ langlist.LANG26 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate2"
                                                                           value="2" name="rates[]">
                                                                    <label for="rate2">{{ langlist.LANG27 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate3"
                                                                           value="3" name="rates[]">
                                                                    <label for="rate3">{{ langlist.LANG28 }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-xs-3">
                                                                <div class="checkbox3 checkbox-check ">
                                                                    <input type="checkbox" class="chk_rate" id="rate4"
                                                                           value="4" name="rates[]">
                                                                    <label for="rate4">{{ langlist.LANG29 }}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group" style="text-align: right;margin-right: 15px;">
                                                <button type="button" id="submit" class="btn btn-info">
                                                    {{default_langlist.SUBMIT}}
                                                </button>
                                                <input type="hidden" name="imagephoto" id="imagephoto" value="">
                                                <a onclick="refreshaddedit();">
                                                    <button type="button" class="btn btn-default">
                                                        {{default_langlist.BACK}}
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};


    var LABEL_PLEASE_SELECT = "{{default_langlist.PLEASE_SELECT}}";
/*
    var SELECT_MODIFIER_ITEM = "{{langlist.LANG53}}";
    var ADD = "{{langlist.LANG18}}";

   */
    var LABEL_RECIPE = "{{langlist.LANG14}}";
    var SELECT_ALL = "{{langlist.LANG38}}";
    var SELECT_NONE = "{{langlist.LANG39}}";
    var LOAD = "{{langlist.LANG40}}";
    var RATE_1 = "{{langlist.LANG26}}";
    var RATE_2 = "{{langlist.LANG27}}";
    var RATE_3= "{{langlist.LANG28}}";
    var RATE_4 = "{{langlist.LANG29}}";
    var MAX = "{{langlist.LANG8}}";
    var MIN = "{{langlist.LANG9}}";
    var SELECT_STORE = "{{langlist.LANG35}}";
    var SELECT_UNIT = "{{langlist.LANG36}}";
    var No_INVENTORY = "{{langlist.LANG37}}";
    var DEFAULT_RATE = "{{langlist.LANG34}}";
  //  var MODIFIERS = "{{langlist.LANG17}}";
 //   var MODIFIER = "{{default_langlist.MODIFIER}}";
    var MODIFIER_ITEM = "{{default_langlist.MODIFIER_ITEM}}";
    var DESCRIPTION = "{{default_langlist.DESCRIPTION}}";
    var QUNTITY = "{{default_langlist.QUNTITY}}";
    var RAW_MATERIALS = "{{langlist.LANG13}}";
   var round_off="{{round_off}}";
 /*
    var SALE_AMOUNT = "{{langlist.LANG6}}";
*/


    rawdetailobj = {};
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
    var is_store="{{store}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("106");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
		
    function pageInit(data) {

        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_modifier',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    CKEDITOR.disableAutoInline = true;
    $('#txtlongdesc').ckeditor();

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            getRawmaterial();
            getUnit();
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery('#recipe_div').addClass('hide');
            jQuery("#rawdetail_list").empty();
            jQuery("#active").attr("checked", true);
            //jQuery("#inactive").attr("checked",true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit modifier Type');
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'menu_modifier';
                arr['opcode'] = 'getRecmodifier';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        var itemdata = res.itmdata;
                        jQuery("#txtname").val(itemdata.modifiername);
                        jQuery("#txtmin").val(itemdata.min);
                        jQuery("#txtmax").val(itemdata.max);
                        var decoded = $("<textarea/>").html(itemdata.long_desc).text();
                        CKEDITOR.instances['txtlongdesc'].setData(decoded);

                        jQuery("#txtsku").val(itemdata.sku);
                        jQuery("#is_active").val(itemdata.is_active);
                        jQuery("#imagephoto").val(itemdata.image);
                        if ((itemdata.image) != "") {
                            $('#modifierimg').show();
                            $('#modifierimg').attr('src', itemdata.image);
                        }
                        $('input:radio[name="rdo_status"]').filter('[value=' + itemdata.is_active + ']').prop('checked', true);
                        if (itemdata.is_included == '0') {
                            jQuery("#no_included").prop('checked', true);
                        }
                        else {
                            jQuery("#included").prop('checked', true);
                        }

                        if (itemdata.tax_apply_rate != '' && typeof itemdata.tax_apply_rate != 'undefined' && itemdata.tax_apply_rate != null) {
                            var rates = itemdata.tax_apply_rate.split(',');
                            $.each(rates, function (key, value) {
                                $('#rate' + value).prop('checked', true);
                            });
                        }
                        if (typeof res.bind_tax != 'undefined' && res.bind_tax.length > 0) {
                            jQuery.each(res.bind_tax, function (tkey, tvalue) {

                                jQuery("#tax" + tvalue.lnktaxunkid).prop('checked', 'true');
                                jQuery('#amount' + tvalue.lnktaxunkid).removeAttr("disabled");
                                jQuery("#amount" + tvalue.lnktaxunkid).val(tvalue.amount);
                            });
                        }

                        if (typeof res.bind_unit != 'undefined' && res.bind_unit.length > 0) {
                            loaditem_unitlist(res.bind_unit);
                        }

                        //jQuery("#check_included").val(res.is_included);
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add modifier');
                jQuery("#id").val('0');
                CKEDITOR.instances['txtlongdesc'].setData('');
                jQuery(".edit_hide").show();
            }
        } catch ($e) {
            alert($e);
        }
    }

    function refreshaddedit() {
        $('#modifierimg').hide();
        $('#modifierimg').attr('src', '');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");

        jQuery("#unit_list").empty();
        jQuery('#unit_detail').val('');
        jQuery('#old_unit').val('');

        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();

        jQuery(".distxt").attr('disabled',true);
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function removemodifier(id, module) {
        alertify.confirm("{{default_langlist.AUS_DEL_REC}}", function (e) {
            if (e) {
                var arr = {};
                arr['service'] = 'menu_modifier';
                arr['opcode'] = 'removemodifier';
                arr['id'] = id;
                arr['module'] = module;
                var str = urlencode(JSON.stringify(arr));
                if (arr['id'] != '') {
                    HttpSendRequest(str, function (data) {
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else {
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }

    function check_itemincluded(id, module) {
        try {
            var included = $('#check_included').val();
            var arr = {};
            arr['service'] = 'menu_modifier';
            arr['opcode'] = 'getitemincluded';
            arr['id'] = id;
            arr['module'] = module;
            var error = 0;
            var str = urlencode(JSON.stringify(arr));
            if (arr['id'] != '') {
                HttpSendRequest(str, function (data) {
                    if (data['Success'] == "False") {
                        if (included == 0) {
                            jQuery("#no_included").prop('checked', true);
                        }
                        else {
                            jQuery("#included").prop('checked', true);
                        }
                        error = 1;
                        alertify.error(data['Message']);
                    }
                    else {
                        error = 0;
                        /*if (jQuery('#included').is(':checked')) {
                            jQuery('#amountdiv').addClass('hide');
                            jQuery('#txtsaleamount').val('');
                        }
                        else{
                            jQuery('#amountdiv').removeClass('hide');
                        }*/
                    }
                });
            }
        }
        catch (e) {
            alert(e);
        }
    }

    /*  jQuery('.is_included').change(function(){
          var id = jQuery('#id').val();
          var module = "menu_modifier";
          check_itemincluded(id,module);
      });*/

    function gettaxAmount(taxid) {
        if ($("#tax" + taxid).is(":checked")) {
            $("#amount" + taxid).removeAttr("disabled");
            var amount = $("#amount" + taxid).data('amount');
            $("#amount" + taxid).val(parseFloat(amount).toFixed(round_off));
            jQuery('.invalid').removeClass('invalid');

            var aftertax_list=$("#tax"+taxid).attr('data-aftertax');
            if(typeof aftertax_list!='undefined' && aftertax_list!='' && aftertax_list!=null){
                aftertax_list=aftertax_list.split(',');
                jQuery.each(aftertax_list,function (key,val) {
                    $("#amount" + val).removeAttr("disabled");
                    var amount = $("#amount" + val).data('amount');
                    $("#amount" + val).val(parseFloat(amount).toFixed(round_off));
                    jQuery('.invalid').removeClass('invalid');
                    if ($("#tax" + val).is(":checked")==false) {
                        $("#tax"+val).prop('checked',true);
                    }
                })
            }
        }
        else {
            jQuery("#amount" + taxid).val('');
            $("#amount" + taxid).prop("disabled", true);
            jQuery('.invalid').removeClass('invalid');
        }
    }

    jQuery("#submit").click(function () {

        if (validate_form('txtform') && form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('txtform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_modifier');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('txtlongdesc', $('#txtlongdesc').val());
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');
        if ($("#txtmax").val() && $("#txtmin").val() != 0) {
            if ($("#txtmax").val() < $("#txtmin").val()) {
                error = 1;
                $('#txtmax').addClass('invalid');
                //alertify.error("Please enter max value greater than or equal to min value");
            }
        }
        /* if (jQuery('#no_included').is(':checked')) {
             if(($("#txtsaleamount").val()=='')||($("#txtsaleamount").val()==0)){
                 error = 1;
                 $('#txtsaleamount').addClass('invalid');
             }
         }*/

        var unit_str = jQuery('#unit_detail').val();
        if (unit_str == "") {
            error = 1;
            alertify.alert('{{langlist.LANG5}}',"{{default_langlist.LABEL_OK}}");
        }
        else {
            if (!validate_unit(unit_str)) {
                error = 1;
            }
        }

        if (jQuery('.chk_tax:checked').length >= 0) {
            jQuery.each(jQuery(".chk_tax:checked"), function () {
                var pid = $(this).val();
                if ($('#amount' + pid).val() == '') {
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG41}}","{{default_langlist.LABEL_OK}}");
                }
                var amount = $('#amount' + pid).val();
                var postingrule = $('#amount' + pid).data('postingrule');
                if (postingrule == 1 && amount > 100) {
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG42}}","{{default_langlist.LABEL_OK}}");

                }
            });
        }

        if (error == 1)
            return false;
        else
            return true;
    }

    function uploadpic(obj) {
        $("#modifierimg").show();
        if (typeof (obj.files) != "undefined") {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if (size > 2048) {
                alertify.alert('{{default_langlist.PAIHMZ}}',"{{default_langlist.LABEL_OK}}");
                $('input[name=upload_logo]').val('');
                return false;
            }
            if (obj.files[0].type != "image/jpeg" && obj.files[0].type != "image/png" && obj.files[0].type != "image/jpg") {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }

            var reader = new FileReader();
            reader.addEventListener("load", function () {
                jQuery("#modifierimg").attr("src", reader.result);
            }, false);

            if (obj.files[0]) {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}',"{{default_langlist.LABEL_OK}}");
        }
    }

    function syncmodifier() {
        alertify.confirm("{{langlist.LANG43}}", function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'menu_modifier';
                arr['opcode'] = 'syncmenufromtabinsta';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == "True") {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
        });
    }

</script>
{% endblock %}



           
    