{% extends 'base.html' %} {% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/colorpicker/jquery.minicolors.css">
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>
<script src="{{ commonurl }}themes/plugins/colorpicker/jquery.minicolors.min.js"></script>  
<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
    localStorage.setItem('pagename', 'leftpanel_category');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.MENU_CATEGORY}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '8' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '4' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                        {% if '10' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                        {% if '11' in PRIVdata %}
                       <!--<div class="pull-right card-action">
                           {% if tablist.tabinsta_integration == 1 %}
                            <button class="btn btn-primary pull-left" type="button" onclick="synccategory();">{{langlist.LANG11}}</button>
                           {% endif %}
                        </div>-->
                        {% endif %}
                    </div>
                    {% if '8' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '8' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG4}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.categoryname @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">
                                    {% if '7' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '5' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '6' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '215' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_related_records('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}
                                    {% if '10' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="categoryform" name="categoryform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label" for="categoryname">{{langlist.LANG4}} {{ default_langlist.UNIQUE }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="categoryname" id="categoryname"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="sku">{{default_langlist.SKU}} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull " name="sku" id="sku" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="menuunkid">{{default_langlist.MENU}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="menuunkid" name="menuunkid" class="form-control dropdown">
                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in menulist %}
                                    <option value="{{ value['hashkey'] }}">{{ value['name'] | raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="pcatid">{{default_langlist.CATEGORY}}</label>
                            <div class="controls">
                                <select id="pcatid" name="pcatid" class="form-control">
                                    <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in categorylist %}
                                    <option value="{{ value['hashkey'] }}" id="{{ value['hashkey'] }}">{{ value['categoryname'] | raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label" for="longdescription">{{default_langlist.DESCRIPTION}}</label>
                            <div class="controls">
                                <textarea class="form-control" type="text" name="longdescription" id="longdescription" rows="2" cols="39"
                                          maxlength="1000"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortdescription">{{langlist.LANG9}}</label>
                            <div class="controls">
                                <textarea class="form-control" type="text" name="shortdescription" id="shortdescription" rows="2" cols="39"
                                          maxlength="1000"></textarea>
                            </div>
                        </div>-->
                        <div class="form-group col-md-4">
                            <label class="form-label" for="image">{{default_langlist.UPLOAD_IMAGE}}</label>
                            <div class="controls">
                                <input type="file" class="form-control" name="upload_img" id="upload_img"
                                       onchange="uploadpic(this);">
                                <img src="" class="images" width="100" height="100" id="typeimg"
                                     style="display: none;"/>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="category_color">{{default_langlist.COLOR}}</label>
                            <div class="controls">
                                <input type="text" class="form-control colorpicker" name="category_color" id="category_color" >
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="category_font_color">{{langlist.LANG13}}</label>
                            <div class="controls">
                                <input type="text" class="form-control colorpicker" name="category_font_color" id="category_font_color" >
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label"
                                           for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">
                                        {{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <input type="hidden" name="imagephoto" id="imagephoto" value="">
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("8");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    $(document).ready(function () {
        colorPickerInit();
    });

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_category',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            jQuery("option").prop('disabled',false);
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);

            jQuery("#"+id).prop('disabled',true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG3}}');
                jQuery("#id").val(id);
                var arr = {};
                arr['service'] = 'menu_category';
                arr['opcode'] = 'getTaxRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#categoryname").val(res.categoryname);
                        jQuery("#menuunkid").val(res.menuhashkey);
                        jQuery("#pcatid").val(res.parenthashkey);
                        jQuery("#menuhoursunkid").val(res.menuhourshashkey);
                        var decoded = $("<textarea/>").html(res.long_desc).text();
                        CKEDITOR.instances['longdescription'].setData(decoded);
                        jQuery("#imagephoto").val(res.image);
                        if(res.category_color!='undefined' && res.category_color!='' && res.category_color!=null) {
                            jQuery('#category_color').val(res.category_color).attr('data-defaultValue', res.category_color);
                            jQuery('#category_color').parent('div').find('span.minicolors-swatch-color').css('background-color',res.category_color).css('opacity',1);
                        }else{
                            jQuery('#category_color').val('').attr('data-defaultValue', '#fff');
                            jQuery('#category_color').parent('div').find('span.minicolors-swatch-color').css('background-color','#ffffff00').css('opacity',1);
                        }

                        if(res.category_font_color!='undefined' && res.category_font_color!='' && res.category_font_color!=null) {
                            jQuery('#category_font_color').val(res.category_font_color).attr('data-defaultValue', res.category_font_color);
                            jQuery('#category_font_color').parent('div').find('span.minicolors-swatch-color').css('background-color',res.category_font_color).css('opacity',1);
                        }else{
                            jQuery('#category_font_color').val('').attr('data-defaultValue', '#fff');
                            jQuery('#category_font_color').parent('div').find('span.minicolors-swatch-color').css('background-color','#ffffff00').css('opacity',1);
                        }

                        jQuery("#sku").val(res.sku);

                        if ((res.image) != "") {
                            $('#typeimg').show();
                            $('#typeimg').attr('src', res.image);
                        }

                        if (res.is_active == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");

                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                CKEDITOR.instances['longdescription'].setData('');
                jQuery('#category_color').val('').attr('data-defaultValue', '#fff');
                jQuery('#category_color').parent('div').find('span.minicolors-swatch-color').css('background-color','#ffffff00').css('opacity',1);
                jQuery('#category_font_color').val('').attr('data-defaultValue', '#fff');
                jQuery('#category_font_color').parent('div').find('span.minicolors-swatch-color').css('background-color','#ffffff00').css('opacity',1);
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        $('#typeimg').hide();
        $('#typeimg').attr('src', '');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#categoryform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }
    CKEDITOR.disableAutoInline = true;
    $('#longdescription').ckeditor();

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('categoryform')) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('categoryform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_category');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('longdescription',$('#longdescription').val());
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();

                } else {
                    alertify.error(data['Message']);
                }

                return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function uploadpic(obj) {
        $("#typeimg").show();
        if (typeof (obj.files) != "undefined") {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            /*if(size>2048)
             {
             alertify.alert('{{default_langlist.PAIHMZ}}',"{{default_langlist.LABEL_OK}}");
             $('input[name=upload_logo]').val('');
             return false;
             }*/
            if (obj.files[0].type != "image/jpeg" && obj.files[0].type != "image/png" && obj.files[0].type != "image/jpg") {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }

            var reader = new FileReader();
            reader.addEventListener("load", function () {
                jQuery("#typeimg").attr("src", reader.result);
            }, false);

            if (obj.files[0]) {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}',"{{default_langlist.LABEL_OK}}");
        }
    }
    
    function synccategory() {
        alertify.confirm("{{langlist.LANG2}}", function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'menu_category';
                arr['opcode'] = 'categorysync';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == "True") {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
        });
    }

    function colorPickerInit()
    {
        $('.colorpicker').each( function() {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                theme: 'bootstrap'
            });

        });
    }

</script>
{% endblock %}