{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/bootstrap-datepicker.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
    localStorage.setItem('pagename', 'leftpanel_menuhours');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.MENU_HOURS}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{langlist.LANG1}}</button>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{langlist.LANG2}}</th>
                                    <th>{{langlist.LANG4}}</th>
                                    <th>{{langlist.LANG5}}</th>
                                    <th>{{default_langlist.CREATED_BY}}</th>
                                    <th>{{default_langlist.MODIFIED_BY}}</th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.name @>
                                </td>
                                <td>
                                    <@=this.start_time @>
                                </td>
                                <td>
                                    <@=this.end_time @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">


                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                         <i class="fa  fa-pencil"></i>
                                    </a>

                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>

                                    <a class="update_ico" onclick="check_related_records('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.RELATED_RECORDS}}">
                                    <i class="fa fa-info"></i>
                                    </a>

                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"  title="{{default_langlist.ACTIVITY}}">
                                         <i class="fa fa-eye"></i>
                                    </a>
                                    
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="taxform" name="taxform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode"> {{langlist.LANG2}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="txtname" id="txtname" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{langlist.LANG6}}</label><span class="required" aria-required="true"> *</span>
                            
                            <div class="controls">
                                <input type="text" name="txtopentime" id="txtopentime" class="form-control" style="width: 38%;display:inline-block">&nbsp;{{langlist.LANG7}}&nbsp;
                                <input type="text" name="txtclosetime" id="txtclosetime" class="form-control" style="width: 38%;display:inline-block">
                            </div>
                        </div>
                        <!--<div class="form-group col-md-4">-->
                        <!--    <label class="form-label" for="shortcode">To</label><span class="required" aria-required="true"> *</span>-->
                        <!--    <div class="controls">-->
                        <!--        <input type="text" name="txtclosetime" id="txtclosetime" class="form-control" style="width: 38%;display:inline-block">-->
                        <!--    </div>-->
                        <!--</div>-->
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active"> {{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
                                    <label class="iradio-label form-label" for="inactive"> {{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label" for="shortcode">{{langlist.LANG8}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday1" value="1">
                                    <label for="weekday1">Monday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday2" value="2">
                                    <label for="weekday2">Tuesday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday3" value="3">
                                    <label for="weekday3">Wednesday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday4" value="4">
                                    <label for="weekday4">Thursday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday5" value="5">
                                    <label for="weekday5">Friday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday6" value="6">
                                    <label for="weekday6">Saturday </label>
                                </div>
                                <div class="checkbox3 checkbox-check radio-inline">
                                    <input type="checkbox" name="weekdays[]" id="weekday7" value="7">
                                    <label for="weekday7">Sunday </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info"> {{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);
        
    function pageInit(data) {
        
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_menuhours',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() 
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
    {
        try
        {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit Menu Hours');
                //jQuery("#id").val(id);
                
                var arr = {};
                arr['service']= 'menu_menuhours';
                arr['opcode']= 'getRecmenuhour';
                arr['id']= id;
               
                var str = urlencode(JSON.stringify(arr));
                
                HttpSendRequest(str,function(recObj)
                {
                        if (recObj.Success == 'True') 
                        {
                            var res = recObj.Data;
                            jQuery("#id").val(id);
                            jQuery("#txtname").val(res.name);
                            jQuery("#txtopentime").val(res.start_time);
                            jQuery("#txtclosetime").val(res.end_time);
                            
                            var day = res.day_of_week.split(",");
                            
                            for(var i = 0; i < day.length; i++)
                            {
                                $('#weekday'+day[i]).prop('checked', true);
                            }

                            //jQuery("#appliesfrom").val(res.taxdate);
                            //jQuery("#amount").val(res.amount);
                            if (res.postingrule == 1)
                                jQuery("#per").trigger("click");
                            else
                                jQuery("#flat").trigger("click");
                            if (res.taxapplyafter == 0)
                                jQuery("#beforedisc").trigger("click");
                            else
                                jQuery("#afterdisc").trigger("click");
                            
                            if (res.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
                                jQuery("#inactive").trigger("click");
                        }
                        //$('#txtopentime').timepicker();
                        //$('#txtclosetime').timepicker();
                });
            }
            else{
                jQuery("#frmtitle").text('Add menu hours');
                jQuery("#id").val('0');
            }
        } catch ($e) {
            alert($e);
        }
    }

    function refreshaddedit()
    {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#taxform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    jQuery("#submit").click(function () {
        if (form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('taxform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_menuhours');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            HttpSendRequest(ajaxData,function(data)
            {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    } else {
                        alertify.error(data['Message']);
                    }
                    
                    return false;
            });
        } else {
            alertify.alert('Please fill necessary information');
        }
    });

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');
        
        if ($("#txtname").val() == "") {
            error = 1;
            $('#txtname').addClass('invalid');
        }
        /*if ($("#txtopentime").val() == "") {
            error = 1;
            $('#txtopentime').addClass('invalid');
        }
        if ($("#txtclosetime").val() == "") {
            error = 1;
            $('#txtclosetime').addClass('invalid');
        }*/
        
        if (error == 1)
            return false;
        else
            return true;
    }

    
    $('#txtopentime').datetimepicker({
        format: 'LT'
    });
    $('#txtclosetime').datetimepicker({
        format: 'LT'
    });
    $(".integer").keydown(function (e) 
    {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) ||
           // Allow: Ctrl+C
          (e.keyCode == 67 && e.ctrlKey === true) ||
           // Allow: Ctrl+X
          (e.keyCode == 88 && e.ctrlKey === true) ||
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
    });

</script>
{% endblock %}



           
