{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/datepicker/css/datepicker.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/datepicker/js/datepicker.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'config');
	localStorage.setItem('pagename', 'leftpanel_item');
</script>
{% endblock %} {% block headerblock %}
<li>Modifier Item</li>
<li class="active">Item</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add Category</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-3">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">Name</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Modifier Item Name</th>
                                    <th>Amount</th>
                                    <th>Sale Amount</th>
									<th style="width: 5%;text-align: center">Status</th>
                                    <th style="width: 5%;text-align: center">Edit</th>
									<th style="width: 5%;text-align: center">Remove</th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Record's
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
								<td>
                                    <@=this.shortcode @>
                                </td>
                                <!--td>
                                    <@=this.amount @>
                                </td>
                                <td>
                                    <@=this.sale_amount @>
                                </td-->
                               
                                <td align="center" style="width:5%">
                                    <a onclick="toggleactive('<@=this.menuunkid@>')" href="javascript:void(0)">
									<input type="hidden" id="status_<@=this.menuunkid@>" value="<@=this.isactive@>"/>
									<@ if(this.is_active=='1'){ @>
									<i class="fa fa-check"></i>
									<@ } else { @>
									<i class="fa fa-close" style="color: red"></i>
									<@ } @>
								 </a>
                                </td>
                                <td style="text-align:center;width: 5%;">
                                    <a onclick="loadaddedit('edit','<@=this.menuunkid@>')" href="javascript:void(0)">
                                          <i class="fa  fa-pencil"></i>
                                    </a>
                                </td>
								<td align="center" width="5%">
									<a href="#" onclick="remove('<@= this.menuunkid @>')">
                                      <i class="fa fa-trash-o"></i>
                                    </a>
								</td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="menuform" name="menuform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="id" name="id" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="menuname">Menu Name </label>
                            <div class="controls">
                                <input type="text" class="form-control" name="menuname" id="menuname">
                            </div>
                        </div>
						
					   <div class="form-group col-md-4">
                            <label class="form-label" for="longdescription">Long Description</label>
                            <div class="controls">
                                <textarea type="text" name="longdescription" id="longdescription" rows="2" cols="39"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortdescription">Short Description</label>
                            <div class="controls">
                                <textarea type="text" name="shortdescription" id="shortdescription" rows="2" cols="39"></textarea>
                            </div>
                        </div>
					
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">Status</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="active">Active</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
									<label class="iradio-label form-label" for="inactive">Inactive</label>
								</div>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <a id="submit" class="btn btn-info">Submit</a>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
	pageInit(newjson);
		
    function pageInit(data) {
		
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
	{
        try
		{
			refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('Edit Payment Type');
				jQuery("#id").val(id);
				
				var arr = {};
				arr['service']= 'menu';
				arr['opcode']= 'getTaxRec';
				arr['id']= id;
				arr['cid']="";
                
				arr['enc_uname']="";
				arr['enc_pwd']="";
				arr['dbn']="";
				
                var value = "; " + document.cookie;
                var parts = value.split("; POS_UN=");
                if (parts.length == 2) arr['enc_uname'] = parts.pop().split(";").shift();

                var parts = value.split("; POS_PD=");
                if (parts.length == 2) arr['enc_pwd'] = parts.pop().split(";").shift();

                var parts = value.split("; POS_ID=");
                if (parts.length == 2) arr['cid'] = parts.pop().split(";").shift();
				
				var parts = value.split("; POS_DBN=");
                if (parts.length == 2) arr['dbn'] = parts.pop().split(";").shift();
				
				var str = urlencode(JSON.stringify(arr));
				 jQuery.ajax({
                    url: "{{ commonurl }}service/servicecontroller.php",
                    data: str,
                    type: 'POST',
					dataType: 'json',
                    success: function (recObj) {
						if (recObj.Success == 'True')
						{
                            var res = recObj.Data;
							jQuery("#id").val(res.categoryunkid);
							jQuery("#categoryname").val(res.categoryname);
							jQuery("#longdescription").val(res.long_desc);
							jQuery("#shortdescription").val(res.short_desc);
							jQuery("#upload_img").val(res.upload_img);
							jQuery("#sku").val(res.sku);
							jQuery("#isactive").val(res.isactive);
							
                            if((item.uploadimage)!="")
                            {
                              $('#uploadimage').show();
                              $('#uploadimage').attr('src',"{{ commonurl }}assets/menu_category_images/"+item.uploadimage);
                            }
							jQuery("#longdescription").val(res.longdescription);
							jQuery("#shortdescription").val(res.shortdescription);
							if (res.isactive == '1')
                                jQuery("#active").trigger("click");
                            else
							    jQuery("#inactive").trigger("click");
                                
						}
                    }
                });
            }
			else{
				jQuery("#frmtitle").text('Add Category');
				jQuery("#id").val('0');
			}
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
		jQuery("#per").trigger("click");
		jQuery("#beforedisc").trigger("click");
        jQuery('#categoryform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

	jQuery("#submit").click(function () {
        if (form_valid()) {
			showjQloading();
            var id = jQuery("#id").val();
			var myForm = document.getElementById('categoryform');
			var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_category');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
			
			jQuery.ajax({
                url: "{{ commonurl }}cloud/controller",
                data: ajaxData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success('{{default_langlist.REC_ADD_SUC}}');
                    } else {
                        alertify.error('{{default_langlist.INTERNAL_ERROR}}');
                    }
                    refreshaddedit();
                    aTableConfig = jQuery.extend(aTableConfig, {	
                        tabledata: null,
                        pagesize: jQuery("#lstRecPerPage").val(),
                        csearch: {
                            nm: jQuery("#exampleInputName").val(),
                        },
                        resetpaging: true,
                        showprogress: true
                    });
						
                    jQuery("#trantable").aTable("refreshTable", aTableConfig);
                    return false;
                }	
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
	});

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');
        
        if ($("#shortname").val() == "") {
            error = 1;
            $('#shortname').addClass('invalid');
        }
		if ($("#taxname").val() == "") {
            error = 1;
            $('#taxname').addClass('invalid');
        }
		if ($("#appliesfrom").val() == "") {
            error = 1;
            $('#appliesfrom').addClass('invalid');
        }
		if ($("#amount").val() == "") {
            error = 1;
            $('#amount').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }
	
	
	function toggleactive(id) 
    {
        var arr = {};
        arr['service']= 'request';
        arr['opcode']= 'toggleststus';
        arr['id']= id;
        arr['tblname']= 'cfmenu_categories';
        arr['columnname']= 'is_active';
        arr['unkid']= 'categoryunkid';
        arr['cid']="";
        arr['enc_uname']="";
        arr['enc_pwd']="";
        arr['dbn']="";
        
        var value = "; " + document.cookie;
        var parts = value.split("; POS_UN=");
        if (parts.length == 2) arr['enc_uname'] = parts.pop().split(";").shift();

        var parts = value.split("; POS_PD=");
        if (parts.length == 2) arr['enc_pwd'] = parts.pop().split(";").shift();

        var parts = value.split("; POS_ID=");
        if (parts.length == 2) arr['cid'] = parts.pop().split(";").shift();
        
        var parts = value.split("; POS_DBN=");
        if (parts.length == 2) arr['dbn'] = parts.pop().split(";").shift();
        var str = urlencode(JSON.stringify(arr));       
        if (arr['enc_uname'] != '' && arr['enc_pwd'] != '' && arr['cid'] != '' && arr['dbn'] != '') 
        {
            jQuery.ajax({
                url: "{{ commonurl }}service/servicecontroller.php",
                data: str,
                type: 'POST',
                dataType: 'json',
                success: function (data)
                {
                    if (data['Success'] == "True") 
                    {
                        aTableConfig = jQuery.extend(aTableConfig, 
                        {
                            tabledata: null,
                            pagesize: jQuery("#lstRecPerPage").val(),
                            csearch: 
                            {
                                nm: jQuery("#exampleInputName").val(),
                            },
                            resetpaging: false,
                            showprogress: true
                        });

                        jQuery("#trantable").aTable("refreshTable", aTableConfig);
                        alertify.success(data['Message']);
                    }
                    else
                    {
                        alertify.error(data['Message']);
                    }
                }
            });
        }
    }
	
    function remove(id){
	  alertify.confirm("{{default_langlist.AUS_DEL_REC}}", function (e) {
			if (e) {
				var arr = {};
				arr['service']= 'request';
				arr['opcode']= 'remove';
				arr['id']= id;
				arr['tblname']= 'cfmenu_categories';
				arr['columnname']= 'is_deleted';
				arr['unkid']= 'categoryunkid';
				arr['cid']="";
				arr['enc_uname']="";
				arr['enc_pwd']="";
				arr['dbn']="";
				
				var value = "; " + document.cookie;
				var parts = value.split("; POS_UN=");
				if (parts.length == 2) arr['enc_uname'] = parts.pop().split(";").shift();
		
				var parts = value.split("; POS_PD=");
				if (parts.length == 2) arr['enc_pwd'] = parts.pop().split(";").shift();
		
				var parts = value.split("; POS_ID=");
				if (parts.length == 2) arr['cid'] = parts.pop().split(";").shift();
				
				var parts = value.split("; POS_DBN=");
				if (parts.length == 2) arr['dbn'] = parts.pop().split(";").shift();
				var str = urlencode(JSON.stringify(arr));		
				if (arr['enc_uname'] != '' && arr['enc_pwd'] != '' && arr['cid'] != '' && arr['dbn'] != '') {
					  jQuery.ajax({
						  url: "{{ commonurl }}service/servicecontroller.php",
						  data: str,
						  type: 'POST',
						  dataType: 'json',
						  success: function (data){
							if (data['Success'] == "True") {
								aTableConfig = jQuery.extend(aTableConfig, {
									tabledata: null,
									pagesize: jQuery("#lstRecPerPage").val(),
									csearch: {
										nm: jQuery("#exampleInputName").val(),
									},
									resetpaging: false,
									showprogress: true
								});
		
								jQuery("#trantable").aTable("refreshTable", aTableConfig);
								alertify.success(data['Message']);
							}
							else{
								alertify.error(data['Message']);
							}
						  }
					  });
				  }
			} else {
				return false;
			}
	  });
    }
	$('#appliesfrom').datepicker({
        startDate: '+0d',
		autoclose: true,
        todayHighlight: true,
		format: '{{ jsdateformat }}'
    });
    
    function uploadpic(obj)
  {
    $("#upload_img").show();
    if(typeof (obj.files) != "undefined") 
    {
        var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
        /*if(size>2048)
        {
          alert("Please add image having max size 2MB.");  
          $('input[name=upload_logo]').val(''); 
          return false;
        }*/
        if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
        {
         alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
        }
   
        var reader  = new FileReader();
        reader.addEventListener("load", function () 
        {
          jQuery("#upload_img").attr("src",reader.result);
        }, false);
  
        if (obj.files[0]) 
        {
          reader.readAsDataURL(obj.files[0]);
        }
    } 
    else 
    {
       alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}',"{{default_langlist.LABEL_OK}}");
    }
  }
    
    
</script>
{% endblock %}

