{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/unititem.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/item.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/recipe.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
    localStorage.setItem('pagename', 'leftpanel_item');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.MENU}}</li>
<li class="active">{{default_langlist.MENU_ITEM}}</li>
{% endblock %}

{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
						{% if '70' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
						{% endif %}
						{% if '65' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
						{% endif %}
						{% if '71' in PRIVdata %}
						<div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
						{% endif %}
						{% if '72' in PRIVdata %}
						<!--<div class="pull-right card-action">
							{% if tablist.tabinsta_integration == 1 %}
							<button class="btn btn-primary pull-left" type="button" onclick="syncitem()">{{ langlist.LANG20 }}</button>
							{% endif %}
						</div>-->
						{% endif %}
                    </div>
					{% if '70' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
					{% endif %}
                </div>
            </div>
        </div>
		{% if '70' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ default_langlist.ITEM }}</th>
									<!--{% if store==1 %}
									<th style="text-align: right">{{ langlist.LANG27 }}</th>
									{% endif %}-->
                                    <th>{{ langlist.LANG6 }}</th>
                                    <th>{{default_langlist.CREATED_BY}}</th>
                                    <th>{{default_langlist.MODIFIED_BY}}</th>
									<th> </th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.itemname @>
                                </td>
								<!--{% if store==1 %}
								<td style="text-align: right">
									<@=this.base_cost @>
								</td>
								{% endif %}-->
                                <td>
                                    <@=this.sale_amount @>
                                </td>
                                <td>
									<@=this.createduser @> <br/>
									<@=this.created_date @>
								</td>
								<td>
									<@=this.modifieduser @> <br/>
									<@=this.modified_date @>
								</td>
                                <td align="right" style="width:15%">
									{% if '68' in PRIVdata %}
									<a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)"  title="{{default_langlist.STATUS}}">
										<@ if(this.is_active=='1'){ @>
											<i class="fa fa-check"></i>
										<@ } else { @>
											<i class="fa fa-close" style="color: red"></i>
										<@ } @>
									</a>
									{% else %}
									<a class="update_ico"
									   href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
										<@ if(this.is_active=='1'){ @>
										<i class="fa fa-check"></i>
										<@ } else { @>
										<i class="fa fa-close" style="color: red"></i>
										<@ } @>
									</a>
									{% endif %}
									{% if '66' in PRIVdata %}
									<a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
									{% endif %}
									{% if '67' in PRIVdata %}
									<a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{default_langlist.DELETE}}">
										<i class="fa fa-trash-o"></i>
									</a>
									{% endif %}
									{% if '69' in PRIVdata %}
									<a class="update_ico" onclick="check_related_records('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.REL_REC}}">
									  <i class="fa fa-info"></i>
									</a>
									{% endif %}
									{% if '71' in PRIVdata %}
									<a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.ACTIVITY}}">
									 <i class="fa fa-eye"></i></a>
									{% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
		{% endif %}
    </div>
    
</div>


<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="content-body">
            <div class="row">
                <form id="itm_form" name="itm_form" enctype="multipart/form-data">
                   <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="content-body">    
                            <div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" style="margin-bottom: 15px;">
												<div class="card-title">
													<span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
													{% if store==1 %}
													<span  class="title avg_cost" style="padding-left: 820px;">0.00</span>
													{% endif %}
													<input type="hidden" id="id" name="id" value="0" />
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-4">
													<label class="form-label" for="shortcode">{{ langlist.LANG7 }} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
													<div class="controls">
														<input type="text" class="form-control" name="txtname" id="txtname" maxlength="50">
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="form-label" for="field-1">{{ default_langlist.CATEGORY }}</label><span class="required" aria-required="true"> *</span>
													<div class="controls">
													  <select name="txtcategory" id="txtcategory" class="form-control"> 
														<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
														  {% for key,value in categorylist %}
															  <option value="{{ value['hashkey'] }}">{{ value['categoryname'] | raw }}</option>
														  {% endfor %}    
													  </select>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="form-label" for="itemtype">{{ langlist.LANG28 }}</label><span class="required" aria-required="true"> *</span>
													<div class="controls">
														<select name="itemtype" id="itemtype" class="form-control">
															<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
															{% for key,value in itemtypelist %}
															<option value="{{ value['hashkey'] }}">{{ value['name'] | raw }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="clearfix"></div>
												<!--<div class="form-group col-md-4">
													<label class="form-label" for="shortcode">{{default_langlist.AMOUNT}}</label>
													<div class="controls">
														<input type="text" class="form-control" name="txtamount" id="txtamount">
													</div>
												</div>-->
												<div class="form-group hide col-md-4">
													<label class="form-label txtsaleamount" for="txtsaleamount">{{ langlist.LANG6 }} </label><span class="required txtsaleamount" aria-required="true"> *</span>
													<div class="controls">
														<input type="text" class="form-control decimal txtsaleamount" name="txtsaleamount" id="txtsaleamount" maxlength="6">
													</div>
												</div>
												
												<div class="form-group col-md-4">
													<label class="form-label" for="txtsku">{{ default_langlist.SKU }} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
													<div class="controls">
														<input type="text" class="form-control" name="txtsku" id="txtsku" maxlength="15">
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="form-label" for="spicy_type">{{ langlist.LANG61 }} </label>
													<div class="controls">
														<input type="text" name="spicy_type" id="spicy_type" class="form-control integer"  maxlength="1" onkeyup="return isFloatWithRange(event,this,1,5)" />
													</div>
												</div>
												<div class="form-group col-md-4">
													<label class="form-label" for="upload_img">{{ default_langlist.UPLOAD_IMAGE}}</label>
													<div class="controls">
														<input type="file" class="form-control" name="upload_img" id="upload_img" onchange="uploadpic(this);">
														<img src="" class="itemimages" width="100" height="100" id="itemimg" style="display: none;" />
													</div>
												</div>
												<!--<div class="form-group col-md-5">
													<label class="form-label" style="margin-right:10px;">{{ langlist.LANG43 }}</label>
													<div class="radio3 radio-check radio-inline">
														<input id="unit_yes" class="" style="margin-bottom: 8px" name="isunit_selection" value="1" type="radio">
														<label class="iradio-label form-label" for="unit_yes">{{ langlist.LANG25 }}</label>
													</div>
													<div class="radio3 radio-check radio-inline">
														<input id="unit_no" class="" style="margin-bottom: 8px" name="isunit_selection" value="0" checked="checked" type="radio">
														<label class="iradio-label form-label" for="unit_no">{{ langlist.LANG26 }}</label>
													</div>
												</div>-->
												<div class="clearfix"></div>
												<div class="form-group col-md-12">
													<label class="form-label" for="txtlongdescription">{{ default_langlist.DESCRIPTION}}</label>
													<div class="controls">
														<textarea id="txtlongdescription" name="txtlongdescription" class="form-control" maxlength="1000"></textarea>
													</div>
												</div>
												<!--<div class="form-group col-md-4">
													<label class="form-label" for="field-1">{{ langlist.LANG12 }}</label>
													<div class="controls">
														<textarea id="txtshortdescription" name="txtshortdescription" class="form-control" maxlength="1000"></textarea>
													</div>
												</div>-->
												
												<div class="form-group col-md-3 edit_hide">
													<label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
													<div class="controls">
														<div class="radio3 radio-check radio-inline">
															<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
															<label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
														</div>
														<div class="radio3 radio-check radio-inline">
															<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
															<label class="iradio-label form-label" for="inactive"> {{default_langlist.INACTIVE}}</label>
														</div>
													</div>
												</div>
												<div class="form-group hide col-md-3">
													<label class="form-label" for="field-1">{{ langlist.LANG13 }}</label>
													<div class="controls">
														<div class="radio3 radio-check radio-inline">
															<input id="simple" class="itm_type" style="margin-bottom: 8px" name="item_type" value="0" checked="checked" type="radio">
															<label class="iradio-label form-label" for="simple">{{ langlist.LANG14 }}</label>
														</div>
														<div class="radio3 radio-check radio-inline">
															<input id="variable" class="itm_type" style="margin-bottom: 8px" name="item_type" value="1" type="radio">
															<label class="iradio-label form-label" for="variable">{{ langlist.LANG15 }}</label>
														</div>
													</div>
												</div>
												{% if store==1 %}
												<div class="form-group hide col-md-3">
													<label class="form-label" for="field-1">{{ langlist.LANG24 }}</label>
													<div class="controls">
														<div class="radio3 radio-check radio-inline">
															<input id="no_recipe" class="is_recipe" style="margin-bottom: 8px" name="is_recipe" value="0" checked="checked" type="radio">
															<label class="iradio-label form-label" for="no_recipe">{{ langlist.LANG26 }}</label>
														</div>
														<div class="radio3 radio-check radio-inline">
															<input id="with_recipe" class="is_recipe" style="margin-bottom: 8px" name="is_recipe" value="1" type="radio">
															<label class="iradio-label form-label" for="with_recipe">{{ langlist.LANG25 }}</label>
														</div>
													</div>
												</div>
												{% endif %}

												<div class="form-group hide col-md-3">
													<label class="form-label" for="field-1">{{ langlist.LANG31 }}</label>
													<div class="controls">
														<div class="radio3 radio-check radio-inline">
															<input id="no_unit" class="is_unit" style="margin-bottom: 8px" name="is_unit" value="0" checked="checked" type="radio">
															<label class="iradio-label form-label" for="no_unit">{{ langlist.LANG26 }}</label>
														</div>
														<div class="radio3 radio-check radio-inline">
															<input id="with_unit" class="is_unit" style="margin-bottom: 8px" name="is_unit" value="1" type="radio">
															<label class="iradio-label form-label" for="with_unit">{{ langlist.LANG25 }}</label>
														</div>
													</div>
												</div>

												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide" id="modifier_div">
                        <div class="content-body">
                            <div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" >
											  <div class="card-title">
												<span id="frmtitle" class="title">{{ langlist.LANG16 }}</span>
											  </div>
											</div>
											<div>
												<div class="tab-content" >
													<div class="tab-pane active" id="attributes">
														<div class="form-group">
															<label class="form-label" for="modifiers">{{ langlist.LANG17 }}</label>
															<select name="txtmodifier" id="txtmodifier" class="form-control" style="display: inline-block;width:60%;">
																<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
																{% for key,value in modifierlist %}
																	<option class="option_{{ value['hashkey'] }}" value="{{ value['hashkey'] }}">{{ value['modifiername'] }}</option>
																{% endfor %}
															</select>
															<input type="hidden" id="bind_modifiers" name="bind_modifiers" />
															<button type="button" name="add" id="add" onclick="updateAttributes('txtmodifier');" class="btn btn-primary" style="margin-top:0px;">{{ langlist.LANG18 }}</button>
															<div class="clearfix"></div>
															<div id="modifier_list">
															</div>
															<div class="productAttributeContainer" id="productAttributeContainer">
															</div>

															<div class="productAttributeToolBar">
																<button type="button" class="btn save_attributes btn-primary" id="save_attributes" style="display: none;">{{ langlist.LANG19 }}</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                            
						</div>
                    </div>

					<!--->
					{% if store==1 %}
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide" id="recipe_div" >
						<div class="content-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" >
												<div class="card-title">
													<span id="frmtitle" class="title">{{ langlist.LANG22 }}</span>
													<span  class="title avg_cost" style="padding-left: 820px;">0.00</span>
												</div>
											</div>
											<div>
												<div class="tab-content">
													<div class="tab-pane active" id="attributes">
														<div class="form-group">
															<label class="form-label" for="rawmaterial_sel">{{ langlist.LANG23 }}</label>
															<select id="rawmaterial_sel" class="form-control"  multiple="multiple" style="width:100%">
																{% for key,value in rawlist %}
																<option class="option_raw_{{ value['hashkey'] }}" value="{{ value['hashkey'] }}">{{ value['name'] }}</option>
																{% endfor %}
															</select>
															<input type="hidden" class="form-control" id="raw_detail" name="raw_detail" />
															<input type="hidden" class="form-control" id="old_raw" name="old_raw" />
														</div>

														<div class="form-group clearfix"></div>
														<label class="col-sm-3 control-label textalignleft "></label>
													<div class="col-sm-9">
														<button type="button" class="button btn" style="margin-right: 10px" onclick="selectAllRawmaterial(this);">{{langlist.LANG50}}</button>
														<button style="margin-right: 10px" type="button" class="button btn" onclick="selectNoneRawmaterial(this);">{{langlist.LANG51}}</button>
														<button  style="float: right"  type="button" class="btn btn-primary" onclick="loadRawmaterialDetail();">{{langlist.LANG52}}</button>
													</div>
														<div class="form-group clearfix"></div>
														<div id="rawdetail_list">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<!--->

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="unit_div" >
						<div class="content-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" >
												<div class="card-title">
													<span class="title">{{ langlist.LANG29 }}</span>
												</div>
											</div>
											<div>
												<div class="tab-content">
													<div class="tab-pane active">
														<div class="form-group">
															<label class="form-label" for="unit_sel">{{ langlist.LANG30 }}</label>
															<select id="unit_sel" class="form-control"  multiple="multiple" style="width:100%">
																{% for key,value in itmunitlist %}
																<option class="option_unit_{{ value['hashkey'] }}" value="{{ value['hashkey'] }}">{{ value['name'] }}</option>
																{% endfor %}
															</select>
															<input type="hidden" class="form-control" id="unit_detail" name="unit_detail" />
															<input type="hidden" class="form-control" id="old_unit" name="old_unit" />
														</div>

														<div class="form-group clearfix"></div>
														<label class="col-sm-3 control-label textalignleft "></label>
														<div class="col-sm-9">
															<button type="button" class="button btn" style="margin-right: 10px" onclick="selectAllUnit();">{{langlist.LANG50}}</button>
															<button style="margin-right: 10px" type="button" class="button btn" onclick="selectNoneUnit();">{{langlist.LANG51}}</button>
															<button  style="float: right"  type="button" class="btn btn-primary" onclick="loadUnitDetail();">{{langlist.LANG52}}</button>
														</div>
														<div class="form-group clearfix"></div>
														<div id="unit_list">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="content-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="form-group col-md-4">
												<label class="form-label" >{{ langlist.LANG42 }}</label><span class="required" aria-required="true"> *</span>
												<div class="controls">
													<select name="serve_unit" id="serve_unit" class="form-control">
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---->
					<div class="col-xs-12 col-md-12">
						<div class="content-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" >
												<div class="card-title">
													<span class="title">{{ langlist.LANG32 }}</span>
												</div>
											</div>
											<div class="tab-content">
												<div class="tab-pane active">
													{% for key,value in taxlist %}
													<div class="col-md-5 col-xs-5">
														<div class="checkbox3 checkbox-check ">
															<input type="checkbox" class="chk_tax" value="{{ value.taxunkid }}" data-aftertax="{{value.after_tax}}" name="tax[{{ value.taxunkid }}][taxid]" id="tax{{ value.taxunkid }}" onchange="gettaxAmount('{{ value.taxunkid }}')">
															<label for="tax{{ value.taxunkid }}">{{ value.tax}} </label>
														</div>
													</div>
													<div class="col-md-2 col-xs-2">
														<label>{{value.pytype}} </label>
													</div>

													<div class="col-xs-5 col-md-5">
														<label class="col-sm-4 form-label" for="amount{{ value.taxunkid }}">{{langlist.LANG44}}</label>
														<div class="col-sm-6 paddingzero marginbottom5">
															<input type="text" class="form-control decimal distxt" disabled="disabled" maxlength="10" {% if value.postingrule == 1 %}  onkeyup="return isFloatWithRange(event,this,0,100)"	{% endif %} name="tax[{{ value.taxunkid }}][amount]" data-amount="{{ value.amount}}" data-postingrule="{{value.postingrule}}" value="" id="amount{{ value.taxunkid }}">
														</div>
													</div>

													<div class="form-group col-md-5 hide">
														<label class="form-label" style="margin-right:10px;">{{ langlist.LANG34 }}</label>
															<div class="radio3 radio-check radio-inline">
																<input id="beforedisc{{ value.taxunkid }}" class="" style="margin-bottom: 8px" name="tax[{{ value.taxunkid }}][applytax]" value="0" {% if value.taxapplyafter == 0 %} checked="checked" {% endif %} type="radio">
																<label class="iradio-label form-label" for="beforedisc{{ value.taxunkid }}">{{ langlist.LANG35 }}</label>
															</div>
															<div class="radio3 radio-check radio-inline">
																<input id="afterdisc{{ value.taxunkid }}" class="" style="margin-bottom: 8px" name="tax[{{ value.taxunkid }}][applytax]" value="1" {% if value.taxapplyafter == 1 %} checked="checked" {% endif %} type="radio">
																<label class="iradio-label form-label" for="afterdisc{{ value.taxunkid }}">{{ langlist.LANG36 }}</label>
															</div>
													</div>
													<div class="clearfix"></div>
													{% endfor %}
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
						<div class="content-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="card-header" >
												<div class="card-title">
													<span class="title">{{ langlist.LANG37 }}</span>
												</div>
											</div>
											<div>
												<div class="tab-content">
													<div class="tab-pane active">
														<div class="form-group">
															<div class="col-md-3 col-xs-3">
																<div class="checkbox3 checkbox-check ">
																	<input type="checkbox" class="chk_rate" id="rate1" value="1" name="rates[]" >
																	<label for="rate1">{{ langlist.LANG38 }}</label>
																</div>
															</div>
															<div class="col-md-3 col-xs-3">
																<div class="checkbox3 checkbox-check ">
																	<input type="checkbox" class="chk_rate" id="rate2" value="2" name="rates[]" >
																	<label for="rate2">{{ langlist.LANG39 }}</label>
																</div>
															</div>
															<div class="col-md-3 col-xs-3">
																<div class="checkbox3 checkbox-check ">
																	<input type="checkbox" class="chk_rate" id="rate3" value="3" name="rates[]" >
																	<label for="rate3">{{ langlist.LANG40 }}</label>
																</div>
															</div>
															<div class="col-md-3 col-xs-3">
																<div class="checkbox3 checkbox-check ">
																	<input type="checkbox" class="chk_rate" id="rate4" value="4" name="rates[]" >
																	<label for="rate4">{{ langlist.LANG41 }}</label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-body">    
                            <div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="card-body">
											<div class="form-group" style="text-align: right;margin-bottom: 0px;">
												<input type="hidden" name="typeid" id="typeid" value="">
												<button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
												<input type="hidden" name="imagephoto" id="imagephoto" value=""> 
												<a onclick="refreshaddedit();">
													<button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
												</a>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-primary" id="modalPrimaryitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="syncfrm" name="syncfrm">
				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabelreser">Item Sync</h4>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-body clearfix" style="padding: 15px;">

							<div class="form-group col-md-4">
								<label class="form-label" for="field-1">{{ langlist.LANG21 }}</label>
								<div class="controls">
									<select name="menulist" id="menulist" class="form-control">
										<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
										{% for key,value in tabinstamenu %}
										<option value="{{ value['tabinstaid'] }}">{{ value['name'] }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group col-md-4">
								<label class="form-label" for="field-1">{{ default_langlist.CATEGORY }}</label>
								<div class="controls">
									<select name="category" id="category" class="form-control">
										<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
										{% for key,value in tabinstacategory %}
										<option value="{{ value['tabinstaid'] }}">{{ value['categoryname'] }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group col-md-4 ">
								<button class="btn btn-info" type="button"  id="sync">{{ langlist.LANG20 }}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">

    var LABEL_PLEASE_SELECT = "{{default_langlist.PLEASE_SELECT}}";

    var SELECT_MODIFIER_ITEM = "{{langlist.LANG53}}";
    var ADD = "{{langlist.LANG18}}";
    var LABEL_RECIPE = "{{langlist.LANG24}}";
    var SELECT_ALL = "{{langlist.LANG50}}";
    var SELECT_NONE = "{{langlist.LANG51}}";
    var LOAD = "{{langlist.LANG52}}";
    var RATE_1 = "{{langlist.LANG38}}";
    var RATE_2 = "{{langlist.LANG39}}";
    var RATE_3= "{{langlist.LANG40}}";
    var RATE_4 = "{{langlist.LANG41}}";
    var MODIFIERS = "{{langlist.LANG17}}";
    var MODIFIER = "{{default_langlist.MODIFIER}}";
    var MODIFIER_ITEM = "{{default_langlist.MODIFIER_ITEM}}";
    var DESCRIPTION = "{{default_langlist.DESCRIPTION}}";
    var LABEL_OK = "{{default_langlist.LABEL_OK}}";
    var QUNTITY = "{{default_langlist.QUNTITY}}";
    var RAW_MATERIALS = "{{langlist.LANG23}}";
    var DEFAULT_RATE = "{{langlist.LANG54}}";
    var MAX = "{{langlist.LANG55}}";
    var MIN = "{{langlist.LANG56}}";
    var SELECT_STORE = "{{langlist.LANG57}}";
    var SELECT_UNIT = "{{langlist.LANG58}}";
    var No_INVENTORY = "{{langlist.LANG59}}";
    var SALE_AMOUNT = "{{langlist.LANG6}}";
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var is_store="{{store}}";
    var round_off="{{round_off}}";

    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("70");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    modifieritemobj = {};
    rawdetailobj = {};
    unitdetailobj = {};
	modifierobj = JSON.parse($('<textarea />').html('{{ modifierlist_str }}').text());
    modifierunitobj = JSON.parse($('<textarea />').html('{{ modifierunit }}').text());
	function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_item',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
		
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    CKEDITOR.disableAutoInline = true;
    $('#txtlongdescription').ckeditor();

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
		
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
    {
        try
        {
            getRawmaterial();
            getUnit();
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG2}}');
                jQuery("#id").val(id);

                var arr = {};
                arr['service']= 'menu_item';
                arr['opcode']= 'getrec';
                arr['id']= id;
                jQuery(".edit_hide").hide();
				var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
						var res = recObj.Data;
						var itemdata = res.itmdata;
                        if(typeof itemdata.long_desc!='undefined' && itemdata.long_desc!='' && itemdata.long_desc!=null){
                            var decoded = $("<textarea/>").html(itemdata.long_desc).text();
                            CKEDITOR.instances['txtlongdescription'].setData(decoded);
                        }else{
                            var decoded = $("<textarea/>").html('').text();
                            CKEDITOR.instances['txtlongdescription'].setData('');
                        }

                        jQuery("#txtname").val(itemdata.itemname);
						jQuery("#txtcategory").val(itemdata.catid);
                        jQuery("#itemtype").val(itemdata.typeid);
						jQuery("#txtsku").val(itemdata.sku);
						if(itemdata.spicy_type!=0){
                            jQuery("#spicy_type").val(itemdata.spicy_type);
                        }
                        jQuery("#serve_unit").val(itemdata.serve_unit);

						jQuery("#imagephoto").val(itemdata.image);
						if((itemdata.image)!="")
						{
						  $('#itemimg').show();
						  $('#itemimg').attr('src',itemdata.image);
						}
						$('input:radio[name="rdo_status"]').filter('[value='+itemdata.is_active+']').prop('checked',true);

						/*if (itemdata.isunit_selection == '1')
                            jQuery("#unit_yes").prop('checked', 'true');
                        else
                            jQuery("#unit_no").prop('checked', 'true');*/

                        if(itemdata.tax_apply_rate!='' && typeof itemdata.tax_apply_rate!='undefined' && itemdata.tax_apply_rate!=null){
                            var rates   = itemdata.tax_apply_rate.split(',');
                            $.each(rates,function(key,value)
                            {
                                $('#rate'+value).prop('checked',true);
                            });
						}
                        if (typeof res.bind_tax!='undefined' && res.bind_tax.length>0)
                        {
                            jQuery.each(res.bind_tax, function(tkey, tvalue) {

                                jQuery("#tax" + tvalue.lnktaxunkid).prop('checked', 'true');
                                jQuery('#amount' + tvalue.lnktaxunkid).removeAttr("disabled");
                                jQuery("#amount" + tvalue.lnktaxunkid).val(tvalue.amount);
                                if (tvalue.taxapplyafter == '1')
                                    jQuery("#afterdisc" + tvalue.lnktaxunkid).prop('checked', 'true');
                                else
                                    jQuery("#beforedisc" + tvalue.lnktaxunkid).prop('checked', 'true');
                            });
                        }

                        if (typeof res.bind_unit!='undefined' && res.bind_unit.length>0)
                        {
                           loaditem_unitlist(res.bind_unit);
                        }
                        jQuery("#serve_unit").val(itemdata.serve_unit);
					}
                });
            }
            else{
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                jQuery("#serve_unit").html('');
                jQuery('#serve_unit').append('<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
                CKEDITOR.instances['txtlongdescription'].setData('');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit()
    {
        $('#itemimg').hide();
        $('#itemimg').attr('src','');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#itm_form').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
		jQuery("#txtmodifier").val("0");
		jQuery("#modifier_list").empty();
		jQuery('#bind_modifiers').val('');
		jQuery('#simple').trigger('click');

        jQuery("#unit_list").empty();
        jQuery('#unit_detail').val('');
        jQuery('#old_unit').val('');

		jQuery("#modalPrimaryitem").trigger('reset');
		jQuery("#modalPrimaryitem").modal('hide');
		jQuery("#syncfrm").trigger('reset');
		jQuery("#menulist").val('0');
		jQuery("#category").val('0');
        jQuery('.avg_cost').html('');
		jQuery("#txtmodifier").find('option').each(function(){
			jQuery(this).removeAttr('disabled');
		});
        jQuery(".distxt").attr('disabled',true);
    }

    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
	
    function uploadpic(obj)
    {
        $("#itemimg").show();
        if(typeof (obj.files) != "undefined") 
        {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if(size>2048)
            {
              alertify.alert("{{default_langlist.PAIHMZ}}","{{default_langlist.LABEL_OK}}");
              $('input[name=upload_logo]').val(''); 
              return false;
            }
            if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
            {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }
       
            var reader  = new FileReader();
            reader.addEventListener("load", function () 
            {
              jQuery("#itemimg").attr("src",reader.result);
            }, false);
      
            if (obj.files[0]) 
            {
              reader.readAsDataURL(obj.files[0]);
            }
        } 
        else 
        {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}}',"{{default_langlist.LABEL_OK}}");
        }
    }
    
    jQuery("#submit").click(function () {

       	if (form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }

            var myForm = document.getElementById('itm_form');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_item');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('txtlongdescription',$('#txtlongdescription').val());
            
			HttpSendRequest(ajaxData,function(data)
			{
                    hidejQloading();
                    if (data['Success'] == 'True') 
                    {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
            });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

	function formdata_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($("#menulist").val() == "0")
        {
            error = 1;
            $('#menulist').addClass('invalid');
        }
        if ($("#category").val() == "0")
        {
            error = 1;
            $('#category').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }
	
    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');
        
        if ($("#txtname").val() == "") 
        {
            error = 1;
            $('#txtname').addClass('invalid');
        }
        if ($("#txtcategory").val() == "0") 
        {
            error = 1;
            $('#txtcategory').addClass('invalid');
        }
        if ($("#itemtype").val() == "0")
        {
            error = 1;
            $('#itemtype').addClass('invalid');
        }

        if ($("#txtsku").val() == "") 
        {
            error = 1;
            $('#txtsku').addClass('invalid');
        }

        if($("#serve_unit").val() == "0")
        {
            error = 1;
            $('#serve_unit').addClass('invalid');
        }
       /* if ($("#variable").is(':checked')) {
           var modifire_str = jQuery('#bind_modifiers').val();
		   if (modifire_str=="") {
				error = 1;
				alertify.alert('{{langlist.LANG46}}',"{{default_langlist.LABEL_OK}}");
           }
		   else{
				if (!validate_variableproduct(modifire_str)) {
                   error = 1;
                }
			}
        }*/
		var unit_str = jQuery('#unit_detail').val();
		
		if (unit_str=="") {
			error = 1;
			alertify.alert('{{langlist.LANG45}}',"{{default_langlist.LABEL_OK}}");
		}
		else{
			if (!validate_unit(unit_str)) {
				error = 1;
			}
		}

        if (jQuery('.chk_tax:checked').length >= 0) {
            jQuery.each(jQuery(".chk_tax:checked"), function () {
                var pid = $(this).val();
                if ($('#amount' + pid).val() == '') {
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG5}}","{{default_langlist.LABEL_OK}}");
                }
                var amount= $('#amount' + pid).val();
                var postingrule= $('#amount' + pid).data('postingrule');
                if(postingrule==1 && amount>100){
                    $("#amount" + pid).addClass('invalid');
                    error = 1;
                    alertify.alert("{{langlist.LANG4}}","{{default_langlist.LABEL_OK}}");
				}
            });
        }

        if (error == 1)
            return false;
        else
            return true;
    }

    function check_related_items(id,module)
    {
        try
        {
            var arr = {};
            arr['service']= 'menu_item';
            arr['opcode']= 'getRelatedItems';
            arr['id']= id;
            arr['module']= module;
            var str = urlencode(JSON.stringify(arr));
            if (arr['id'] !='') {
                HttpSendRequest(str,function(data){
                    jQuery("#modalPrimary").html(data['data']);
                    jQuery("#modalPrimary").modal('show');
                });
            }
        }
        catch(e)
        {
            alert(e);
        }
    }
	/*jQuery('.itm_type').click(function(){
		if (jQuery('#variable').is(':checked'))
            jQuery('#modifier_div').show();
        else{
			jQuery("#txtmodifier").val("0");
            jQuery("#txtmodifier option:disabled").removeAttr("disabled");
			jQuery("#modifier_list").empty();
			jQuery('#modifier_div').hide();
			modifieritemobj = {};
        }
	});*/
    function gettaxAmount(taxid) {
		if ($("#tax" + taxid).is(":checked")) {
			$("#amount" + taxid).removeAttr("disabled");
			var amount = $("#amount" + taxid).data('amount');
            $("#amount" + taxid).val(parseFloat(amount).toFixed(round_off));
			jQuery('.invalid').removeClass('invalid');

			var aftertax_list=$("#tax"+taxid).attr('data-aftertax');
			if(typeof aftertax_list!='undefined' && aftertax_list!='' && aftertax_list!=null){
				aftertax_list=aftertax_list.split(',');

				jQuery.each(aftertax_list,function (key,val) {
                    $("#amount" + val).removeAttr("disabled");
                    var amount = $("#amount" + val).data('amount');
                    $("#amount" + val).val(parseFloat(amount).toFixed(round_off));
                    jQuery('.invalid').removeClass('invalid');
                    if ($("#tax" + val).is(":checked")==false) {
                        $("#tax"+val).prop('checked',true);
                    }
                })
			}
		}
		else {
			jQuery("#amount" + taxid).val('');
			$("#amount" + taxid).prop("disabled", true);
			jQuery('.invalid').removeClass('invalid');
		}
    }

	function syncitem()
	{
	    alertify.confirm("{{langlist.LANG2}}", function (e) {

        if (e) {

	    jQuery("#modalPrimaryitem").modal('show');

                jQuery("#sync").click(function () {

                    if(formdata_valid()) {
                        showjQloading();
                        var myForm = document.getElementById('syncfrm');
                        var ajaxData = new FormData(myForm);

                        ajaxData.append('service', 'menu_item');
                        ajaxData.append('opcode', 'syncitem');

                        HttpSendRequest(ajaxData, function (data) {
                            hidejQloading();
                            if (data.Success == "True") {
								alertify.success(data['Message']);
								refreshaddedit();
                                refreshlist();
                                setTimeout(function(){location.reload();}, 1900);
                            }
                            else {
                                alertify.error(data['Message']);
                                refreshaddedit();
                                refreshlist();
                                setTimeout(function(){location.reload();}, 1900);
                            }
                            return false;
                        });
                    }
                });
            }
        });
	}

</script>
{% endblock %}