{% extends 'base.html' %} {% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>

<script type="text/javascript"
        src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script type="text/javascript"
        src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
        src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'menu');
	localStorage.setItem('pagename', 'leftpanel_menu');
</script>
{% endblock %} {% block headerblock %}
	<li>{{default_langlist.MENU}}</li>
	<li class="active">{{default_langlist.MENU}}</li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '97' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '93' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{langlist.LANG1}}</button>
                        </div>
                        {% endif %}
                        {% if '99' in PRIVdata %}

                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                        {% if '100' in PRIVdata %}
                       <!-- <div class="pull-right card-action">
                            {% if tablist.tabinsta_integration == 1 %}
                            <button class="btn btn-primary pull-left" type="button" onclick="syncmenu()">{{langlist.LANG8}}</button>
                            {% endif %}
                        </div>-->
                        {% endif %}
                        {% if '571' in PRIVdata %}
                        {% if is_zomato == 1 %}
                         <div class="pull-right card-action">
                             <button class="btn btn-primary pull-left" type="button" onclick="syncMenutoZoamto()" id="syncMenutoZomatoBtn">{{langlist.LANG31}}</button>
                         </div>
                        {% endif %}
                        {% endif %}

                    </div>
                    {% if '97' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '97' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{langlist.LANG4}}</th>
                                    <th>{{default_langlist.CREATED_BY}}</th>
									<th>{{default_langlist.MODIFIED_BY}}</th>
									<th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.name @>
                                </td>
                                <td>
									<@=this.createduser @> <br/>
									<@=this.created_date @>
								</td>
								<td>
									<@=this.modifieduser @> <br/>
									<@=this.modified_date @>
								</td>
                               
                                <td align="right" style="width:25%">
                                    {% if '431' in PRIVdata %}
                                    <a class="update_ico" onclick='manageinventory("<@=this.hashkey@>","<@=this.name @>")' title="{{langlist.LANG2}}" style="cursor: pointer">
                                        <i class="fa fa-columns"></i>
                                    </a>
                                    {% endif %}
                                    {% if '96' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '94' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '95' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '214' in PRIVdata %}
                                    <a class="update_ico" onclick="check_related_records('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.REL_REC}}">
                                         <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}
                                    {% if '99' in PRIVdata %}
                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.ACTIVITY}}">
                                         <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <form id="menuform" name="menuform" class="overflow-show">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                           <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="id" name="id" value="0"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="name">{{langlist.LANG4}} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="upload_img">{{default_langlist.UPLOAD_IMAGE}}</label>
                            <div class="controls">
                                <input type="file" class="form-control" name="upload_img" id="upload_img" onchange="uploadpic(this);">
                                <img src="" class="images" width="100" height="100" id="typeimg" style="display: none;" />
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active"> {{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
						<div class="form-group col-md-12">
                            <label class="form-label" for="longdescription">{{langlist.LANG5}}</label>
                            <div class="controls">
                                <textarea type="text" class="form-control" name="longdescription" id="longdescription" rows="2" cols="39" maxlength="1000"></textarea>
                            </div>
                        </div>
                        <!--<div class="form-group col-md-4">
                            <label class="form-label" for="shortdescription">{{langlist.LANG6}}</label>
                            <div class="controls">
                                <textarea type="text" class="form-control" name="shortdescription" id="shortdescription" rows="2" cols="39" maxlength="1000"></textarea>
                            </div>
                        </div>-->
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                                       <!-- Zomato item rate div -->

            {% if is_zomato == 1 %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group col-md-4">
                                    <label class="form-label" >{{ langlist.LANG30 }}</label><span class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <select name="zomato_itemrate" id="zomato_itemrate" class="form-control">
                                            <option value="0">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="1">{{langlist.LANG26}}</option>
                                            <option value="2">{{langlist.LANG27}}</option>
                                            <option value="3">{{langlist.LANG28}}</option>
                                            <option value="4">{{langlist.LANG29}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

                                          <!-- Zomato category schedules div  change by tanvir  22-10-2019 -->


            {% if is_zomato == 1 %}
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="schedules_div">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card overflow-show">
                            <div class="card-body">
                                <div class="card-header" >
                                    <div class="card-title">
                                        <span class="title">{{ langlist.LANG12 }} *</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="startDate">{{langlist.LANG21}}</label>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="startDate" id="startDate">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="form-label" for="endDate">{{langlist.LANG24}}</label>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="endDate" id="endDate" maxlength="50">
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-xs-5">
                                                        <label> {{langlist.LANG13}} </label>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="daySunday" id="daySunday">
                                                        <label for="daySunday"> {{langlist.LANG14}} </label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time1From">{{langlist.LANG22}} 1</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date fromdatetimepicker">
                                                            <input type="text" name="time1From" class="form-control notnull " id="time1From">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time1To">{{langlist.LANG23}} 1</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date todatetimepicker">
                                                            <input type="text" name="time1To" class="form-control notnull " id="time1To">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="dayMonday" id="dayMonday">
                                                        <label for="dayMonday"> {{langlist.LANG15}} </label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time2From">{{langlist.LANG22}} 2</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date fromdatetimepicker">
                                                            <input type="text" name="time2From" class="form-control" id="time2From">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time2To">{{langlist.LANG23}} 2</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date todatetimepicker">
                                                            <input type="text" name="time2To" class="form-control" id="time2To">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="dayTuesday" id="dayTuesday">
                                                        <label for="dayTuesday"> {{langlist.LANG16}} </label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time3From">{{langlist.LANG22}} 3</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date fromdatetimepicker">
                                                            <input type="text" name="time3From" class="form-control" id="time3From">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3">
                                                    <label class="col-sm-3 control-label textalignleft paddingzero" for="time3To">{{langlist.LANG23}} 3</label>
                                                    <div class="col-sm-9 paddingzero marginbottom5">
                                                        <div class="input-group date todatetimepicker">
                                                            <input type="text" name="time3To" class="form-control" id="time3To">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="dayWednesday" id="dayWednesday">
                                                        <label for="dayWednesday"> {{langlist.LANG17}} </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="dayThursday" id="dayThursday">
                                                        <label for="dayThursday"> {{langlist.LANG18}} </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>


                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="dayFriday" id="dayFriday">
                                                        <label for="dayFriday"> {{langlist.LANG19}} </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="col-md-2 col-xs-2">
                                                    <div class="checkbox3 checkbox-check ">
                                                        <input type="checkbox" class="chk_tax" value="1" name="daySaturday" id="daySaturday">
                                                        <label for="daySaturday"> {{langlist.LANG20}} </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group" style="text-align: right;margin-right: 15px;">

                                    <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>

                                    <input type="hidden" name="imagephoto" id="imagephoto" value="">
                                    <a onclick="refreshaddedit();">
                                        <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

    </div>
</div>
<div class="modal fade modal-primary split_popup" id="modalInventory"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelsplit">{{langlist.LANG2}}<span class="modal-title" id="menuitemlabel"></span></h4>
            </div>
            <div class="tab-pane active stp1" role="tabpanel" id="step1">
                <form id="frmcategory" name="frmcategory">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="breakfast_id">{{ langlist.LANG3 }}</label>
                                            <select class="form-control" name="breakfast_id" id="breakfast_id">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="lunch_id">{{ langlist.LANG10 }}</label>
                                            <select class="form-control" name="lunch_id" id="lunch_id">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="dinner_id">{{ langlist.LANG11 }}</label>
                                            <select class="form-control" name="dinner_id" id="dinner_id">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <div class="form-group marginzero">
                            <input type="hidden" id="menu_id" value="">
                            {% if '432' in PRIVdata %}
                            <button class="btn btn-info" type="button"  id="submit_category" ondblclick="return false;">{{default_langlist.SUBMIT}}</button>
                            {% endif %}
                            <button class="btn btn-default" type="button" onclick="refreshfrm()">{{default_langlist.RESET}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    initializeDates();

    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var is_zomato = "{{ is_zomato }}";
    var round_off="{{round_off}}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("97");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
	function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'menu_menu',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }
    CKEDITOR.disableAutoInline = true;
    $('#longdescription').ckeditor();

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)	{
        try
		{
			refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('{{langlist.LANG7}}');
				jQuery("#id").val(id);
				var arr = {};
				arr['service']= 'menu_menu';
				arr['opcode']= 'getMenuRec';
				arr['id']= id;
                jQuery(".edit_hide").hide();
				var str = urlencode(JSON.stringify(arr));

				HttpSendRequest(str,function(recObj)
                {
						if (recObj.Success == 'True')
						{
                            var Data = recObj.Data;
                            var res = Data.menu;
                            //jQuery("#id").val(res.menuunkid);
                            jQuery("#name").val($("<div>").html(res.name).text());
                            var decoded = $("<textarea/>").html(res.long_desc).text();
                            CKEDITOR.instances['longdescription'].setData(decoded);
							jQuery("#imagephoto").val(res.image);

							if(typeof res.timings != 'undefined' && res.timings != '' && res.timings != null)
                            {

                                var timings = JSON.parse(res.timings);
                                jQuery('#startDate').val(timings['startDate']);
                                jQuery('#endDate').val(timings['endDate']);
                                jQuery('#time1From').val(timings['time1From']);
                                jQuery('#time2From').val(timings['time2From']);
                                jQuery('#time3From').val(timings['time3From']);
                                jQuery('#time1To').val(timings['time1To']);
                                jQuery('#time2To').val(timings['time2To']);
                                jQuery('#time3To').val(timings['time3To']);

                                var ObjMod = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                                for(var j=0;j<ObjMod.length;j++)
                                {
                                    if(timings['day'+ObjMod[j]] == 'true') {
                                        jQuery('#day' + ObjMod[j]).prop('checked', true);
                                    }
                                }
                                initializeDates();
                            }
                            if(res.zomato_itemrate != '' && res.zomato_itemrate != 0)
                            {
                                 jQuery('#zomato_itemrate').val(res.zomato_itemrate);
                            }
                            if((res.image)!="")
                            {
                              $('#typeimg').show();
                              $('#typeimg').attr('src',res.image);
                            }

							if (res.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
							    jQuery("#inactive").trigger("click");

                        }
                });
            }
			else{
				jQuery("#frmtitle").text('{{langlist.LANG1}}');
				jQuery("#id").val('0');
                CKEDITOR.instances['longdescription'].setData('');
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit(){
        $('#imagephoto').val('');
        $('#typeimg').hide();
        $('#typeimg').attr('src','');
        jQuery('.invalid').removeClass('invalid');
		jQuery('#menuform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#schedules_name").removeClass('notnull');
        jQuery("#per").trigger("click");

    }

    function refreshlist()    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

	jQuery("#submit").click(function () {
        if (form_valid('menuform')) {

                var id = jQuery("#id").val();
                pageno=1;
                pagereset=true;
                if(id!=0){
                    pagereset=false;
                    pageno=$('#lstGoTo').val();
                }
                var myForm = document.getElementById('menuform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'menu_menu');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                ajaxData.append('longdescription',$('#longdescription').val());
                HttpSendRequest(ajaxData,function(data)
                {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    } else {
                        alertify.error(data['Message']);
                    }
                    return false;
                });
        } else {
           alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
	});

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($("#name").val() == "")
        {
            error = 1;
            $('#name').addClass('invalid');
        }

        if(is_zomato == 1)
        {
            var zomato_itemrate = jQuery('#zomato_itemrate').val();
            if(zomato_itemrate == '' ||  zomato_itemrate == 0)
            {
                jQuery('#zomato_itemrate').addClass('invalid');
                error = 1;
            }

            var startDate = jQuery("#startDate").val();
            var endDate = jQuery("#endDate").val();

            if(startDate != '' && endDate != ''){

                dateCompare(startDate,endDate);
            }

            var time1From = jQuery("#time1From").val();
            var time1To = jQuery("#time1To").val();

            if(time1From == "")
            {
                jQuery('#time1From').addClass('invalid');
                error = 1;
            }
            if(time1To == "")
            {
                jQuery('#time1To').addClass('invalid');
                error = 1;
            }

            var ObjMod = ['1','2','3'];
            for(var i=0;i<ObjMod.length;i++)
            {
                var fromtime = jQuery('#time'+ObjMod[i]+'From').val();
                var totime = jQuery('#time'+ObjMod[i]+'To').val();

                if(fromtime != '' || totime != ''){
                    timeCompare(fromtime,totime,ObjMod[i]);
                }

            }

            var ObjMod = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var checkDays = '';
            var cnt = 0;
            for(var j=0;j<ObjMod.length;j++)
            {
                if(jQuery('#day'+ObjMod[j]).prop('checked') == true){
                     checkDays += 'true';
                }
                cnt++;
            }

            if(ObjMod.length == cnt){
                if(checkDays == ''){
                    alertify.alert('{{langlist.LANG39}}','{{default_langlist.LABEL_OK}}');
                    return false;
                }
            }

        }

        if (error == 1)
        {
            return false;
        }
        else
        {
            return true;
        }
    }


    function timeCompare(start_time,end_time,id)
    {

        var stt = new Date("November 13, 2013 " + start_time); //convert both time into timestamp
        stt = stt.getTime();

        var endt = new Date("November 13, 2013 " + end_time);
        endt = endt.getTime();

        if(stt >= endt) {
            alertify.alert('{{langlist.LANG25}}','{{default_langlist.LABEL_OK}}');
            jQuery('#time'+id+'From').addClass('invalid');
            jQuery('#time'+id+'To').addClass('invalid');
            return false;
        }
    }

     function dateCompare(startDate,endDate) {
         if(new Date(endDate) < new Date(startDate)){
             alertify.alert('{{langlist.LANG40}}','{{default_langlist.LABEL_OK}}');
             jQuery('#startDate').addClass('invalid');
             jQuery('#endDate').addClass('invalid');
             return false;
         }
    }
    function uploadpic(obj)    {
        $("#typeimg").show();
        if(typeof (obj.files) != "undefined")
        {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            /*if(size>2048)
            {
              alert("Please add image having max size 2MB.");
              $('input[name=upload_logo]').val('');
              return false;
            }*/
            if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
            {
                alertify.alert('{{default_langlist.INVALID_IMAGE}}',"{{default_langlist.LABEL_OK}}");
            }

            var reader  = new FileReader();
            reader.addEventListener("load", function ()
            {
              jQuery("#typeimg").attr("src",reader.result);
            }, false);

            if (obj.files[0])
            {
              reader.readAsDataURL(obj.files[0]);
            }
        }
        else
        {
            alertify.alert('{{default_langlist.DOES_NOT_SUPPORT_HTML5}},"{{default_langlist.LABEL_OK}}"');
        }
    }

    function syncmenu() {
        alertify.confirm("{{default_langlist.AUS_SYNC}}{{default_langlist.MENU}}", function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'menu_menu';
                arr['opcode'] = 'syncmenu';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == "True") {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
        });
    }

    function refreshfrm() {
        jQuery(".invalid").removeClass('invalid');
        jQuery("#frmcategory").trigger('reset');
        jQuery("#breakfast_id").html('<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#lunch_id").html('<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#dinner_id").html('<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');

    }

    function manageinventory(id,name){
        refreshfrm();
        jQuery("#modalInventory").modal('show');
        jQuery("#menuitemlabel").text(" - " +name);
        showjQloading();
        var arr = {};
        arr['service'] = 'menu_menu';
        arr['opcode'] = 'getCategory';
        arr['id'] = id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data.Success == "True") {
                 var CategoryData = data['Data'];
                 var selectedcategory = data['selectedcategory'];
                 jQuery("#menu_id").val(id);
                if (CategoryData.length > 0) {
                    if (typeof CategoryData != 'undefined' && CategoryData != null && CategoryData != '') {
                        jQuery.each(CategoryData, function (key, value) {
                            jQuery('#breakfast_id').append('<option value="' + value["categoryunkid"]+'" >' + value["categoryname"] + '</option>');
                            jQuery('#lunch_id').append('<option value="' + value["categoryunkid"]+'" >' + value["categoryname"] + '</option>');
                            jQuery('#dinner_id').append('<option value="' + value["categoryunkid"]+'" >' + value["categoryname"] + '</option>');
                        });
                        if (selectedcategory) {
                            if(selectedcategory['breakfast_category_id']!=0)
                            jQuery('#breakfast_id').val(selectedcategory['breakfast_category_id']);
                            if(selectedcategory['lunch_category_id']!=0)
                            jQuery('#lunch_id').val(selectedcategory['lunch_category_id']);
                            if(selectedcategory['dinner_category_id']!=0)
                            jQuery('#dinner_id').val(selectedcategory['dinner_category_id']);
                        }
                    }
                }
            }
            else{
                alertify.error("{{default_langlist.INTERNAL_ERROR}}");
            }
        });
    }

    jQuery("#submit_category").click(function () {
        if (validate_form('frmcategory')) {
            showjQloading();
            var id = jQuery("#menu_id").val();
            var breakfast_name = $("#breakfast_id option:selected").text();
            var lunch_name = $("#lunch_id option:selected").text();
            var dinner_name = $("#dinner_id option:selected").text();
            var myForm = document.getElementById('frmcategory');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'menu_menu');
            ajaxData.append('opcode', 'addcategory');
            ajaxData.append('id', id);
            ajaxData.append('breakfast_name', breakfast_name);
            ajaxData.append('lunch_name', lunch_name);
            ajaxData.append('dinner_name', dinner_name);
            HttpSendRequest(ajaxData,function(data)
            {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    jQuery("#modalInventory").modal('hide');
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function initializeDates() {

        $('.fromdatetimepicker').datetimepicker({
            format: 'LT',
            icons: {
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
        $('.todatetimepicker').datetimepicker({
            format: 'LT',
            icons: {
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });

        jQuery('#startDate').datepicker({
            autoclose: true,
            startDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var minDate = new Date(selected.date.valueOf());
                $('#endDate').datepicker('setStartDate', minDate);
            }
        });

        jQuery('#endDate').datepicker({
            autoclose: true,
            startDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var maxDate = new Date(selected.date.valueOf());
                $('#startDate').datepicker('setEndDate', maxDate);
            }
        });
    }

    function syncMenutoZoamto()
    {
        jQuery("#syncMenutoZomatoBtn").prop('disabled',true);

        var labelsprint = {
            ok: '{{default_langlist.LABEL_OK}}',
            cancel: '{{default_langlist.CANCEL}}'
        };

        alertify.confirm("{{langlist.LANG43}}", labelsprint , function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'menu_menu';
                arr['opcode'] = 'syncMenutoZoamto';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == "True") {
                        alertify.success(data['Message']);
                        jQuery("#syncMenutoZomatoBtn").prop('disabled',false);

                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
            else
            {
                jQuery("#syncMenutoZomatoBtn").prop('disabled',false);
            }
        });
    }
</script>
{% endblock %}
