{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'config');
	localStorage.setItem('pagename', 'leftpanel_paymenttype');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CONFIGURATION}}</li>
<li class="active">{{default_langlist.PAYMENT_TYPE}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '132' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '128' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        {% endif %}
                        {% if '134' in PRIVdata %}

                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '132' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{ langlist.LANG7 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{ langlist.LANG8 }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '132' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{default_langlist.SHORT_CODE}}</th>
                                    <th>{{ langlist.LANG3}}</th>
                                    <th>{{ langlist.LANG4 }}</th>
									<th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.paymenttype @>
                                </td>
                                <td>
                                    <@=this.type @>
                                </td>

                                <td align="right" style="width:15%">

                                    {% if '131' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')" href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
										<@ if(this.isactive=='1'){ @>
										    <i class="fa fa-check"></i>
										<@ } else { @>
										    <i class="fa fa-close" style="color: red"></i>
										<@ } @>
									</a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '129' in PRIVdata %}
                                    <a class="update_ico"  onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                          <i class="fa  fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '130' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')" title="{{ default_langlist.DELETE }}">
                                       <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '134' in PRIVdata %}
								    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')" title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="paymenttypeform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="paymenttypeid" name="paymenttypeid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label" for="shortcode">{{default_langlist.SHORT_CODE}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control integer" name="shortcode" id="shortcode" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="teamname">{{langlist.LANG3}} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="paymentmethod" id="paymentmethod" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="field-1">{{langlist.LANG4}}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="cash" class="" style="margin-bottom: 8px" name="rdo_type" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="cash">{{langlist.LANG5}}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="bank" class="" style="margin-bottom: 8px" name="rdo_type" value="0" type="radio">
									<label class="iradio-label form-label" for="bank">{{langlist.LANG6}}</label>
								</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
									<label class="iradio-label form-label" for="inactive">{{default_langlist.INACTIVE}}</label>
								</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("132");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'paymenttype',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

	function doSearch() 
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
	{
        try
		{
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('{{ langlist.LANG9 }}');
				jQuery("#paymenttypeid").val(id);
				jQuery("#shortcode").attr('disabled',true);

				var arr = {};
				arr['service']= 'paymenttype';
				arr['opcode']= 'getPaymentTypeRec';
				arr['paymenttypeid']= id;
                jQuery(".edit_hide").hide();
                
				var str = urlencode(JSON.stringify(arr));
				HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
						var res = recObj.Data;
						jQuery("#shortcode").val(res.shortcode);
						jQuery("#paymentmethod").val(res.paymenttype);
						if (res.type == 'CASH')
							jQuery("#cash").trigger("click");
						else
							jQuery("#bank").trigger("click");
						if (res.isactive == '1')
							jQuery("#active").trigger("click");
						else
							jQuery("#inactive").trigger("click");
					}
				});
			}
			else{
				jQuery("#frmtitle").text('{{ langlist.LANG1 }}');
				jQuery("#paymenttypeid").val('0');
								jQuery("#shortcode").attr('disabled',false);
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
        jQuery('#paymenttypeform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }



	jQuery("#submit").click(function () {
        if (paymenttype_valid()) {
			showjQloading();
            var paymenttypeid = jQuery("#paymenttypeid").val();
            if(paymenttypeid!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
			var shortcode = $('#shortcode').val();
			var paymentmethod = $('#paymentmethod').val();
			var type="BANK";
			if ($("#cash").is(":checked")) {
                type = "CASH";
            }
            var active = 0;
            if ($("#active").is(":checked")) {
                active = 1;
            }
			var ajaxData = new FormData();
            ajaxData.append('service', 'paymenttype');
            ajaxData.append('opcode', 'addeditpaymenttype');
            ajaxData.append('paymenttypeid', paymenttypeid);
			ajaxData.append('shortcode', shortcode);
			ajaxData.append('paymentmethod', paymentmethod);
			ajaxData.append('type', type);
            ajaxData.append('active', active);
			HttpSendRequest(ajaxData,function(data){
			    hidejQloading();
				if (data['Success'] == 'True') {
					alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
				} else {
					alertify.error(data['Message']);
				}
				return false;
	        });
        } else {
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
	});

    function paymenttype_valid() {
        var error = 0;
        $('#shortcode').removeClass('invalid');
        $('#paymentmethod').removeClass('invalid');
        
        if ($("#shortcode").val() == "") {
            error = 1;
            $('#shortcode').addClass('invalid');
        }
        if ($("#paymentmethod").val() == "") {
            error = 1;
            $('#paymentmethod').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }


</script>
{% endblock %}