{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    localStorage.setItem('modulename', 'store_indent');
    localStorage.setItem('pagename', 'leftpanel_purchaseorder');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.INDENTMANAGEMENT}}</li>
<li class="active">{{default_langlist.PURCHASEORDER}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '362' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        {% endif %}
                        {% if '364' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadAddEdit(0)">{{ langlist.LANG1 }}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '362' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG27}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtfromdate" class="form-control  fromdate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG28}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txttodate" class="form-control  todate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="orderno">{{langlist.LANG4}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="orderno" name="orderno" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="select_vendor">{{ langlist.LANG29 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_vendor" id="select_vendor" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in vendor_list %}
                                                <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] |convert_encoding('UTF-8', 'HTML-ENTITIES') }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="select_status">{{
                                        langlist.LANG7 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_status" id="select_status" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="1">{{ langlist.LANG30 }}</option>
                                            <option value="2">{{ langlist.LANG31 }}</option>
                                            <option value="3">{{ langlist.LANG32 }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '362' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ langlist.LANG4 }}</th>
                                    <th>{{ langlist.LANG5 }}</th>
                                    <th>{{ langlist.LANG23 }}</th>
                                    <th>{{ langlist.LANG25 }}</th>
                                    <th>{{ langlist.LANG26 }}({{currencysign}})</th>
                                    <th>{{ langlist.LANG7 }}</th>
                                    <th>{{ langlist.LANG24 }}</th>
                                    <th>{{default_langlist.CREATED_BY}}</th>
                                    <th>{{default_langlist.MODIFIED_BY}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.order_doc_num @>
                                </td>
                                <td>
                                    <@=this.order_date @>
                                </td>
                                <td>
                                    <@=this.business_name @>
                                </td>
                               <!-- tooltip-->
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="<@=this.remarks @>"><@=this.remarks @></span>
                                </td>
                                <td>
                                    <@=this.totalamount @>
                                </td>
                                <td>
                                    <@=this.po_status@>
                                </td>
                                <td>
                                    <@ if(this.authstatus==0){ @>
                                    {% if '363' in PRIVdata %}
                                    <a href="javascript:void(0);" class="btn-link"
                                       onclick="authorizeIndent('<@=this.orderid @>','{{langlist.LANG41}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')">{{langlist.LANG43}}</a>
                                    {% endif %}
                                    <@ }else{ @>
                                    <label style="color:green;">{{langlist.LANG42}}</label>
                                    <@ } @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td>
                                    <@ if(this.authstatus==1){ @>
                                    <@ if(this.status!=3){ @>
                                    {% if '368' in PRIVdata %}
                                    <button class="btn btn-primary pull-left" type="button"
                                            onclick="generateGRN('<@=this.orderid @>')">{{ langlist.LANG36 }}
                                    </button>
                                    {% endif %}
                                    <@ } @>
                                    <@ } @>
                                </td>
                                <td align="right" style="width:10%">
                                    <@ if(this.status!=3){ @>
                                    {% if '365' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="loadAddEdit('<@=this.orderid @>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    <@ } @>
                                    {% if '367' in PRIVdata %}
                                    <a class="update_ico" onclick="check_store_indent('<@= this.orderid @>',1,'5')"
                                       title="{{default_langlist.VIEW_DETAILS}}">
                                        <i class="fa fa-eye"></i></a>
                                    {% endif %}
                                    {% if '366' in PRIVdata %}
                                    <a class="update_ico" onclick="printpurchase('<@= this.orderid @>')"
                                       style="cursor: pointer" title="{{default_langlist.PRINT}}">
                                        <i class="fa fa-print "></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var plz_select='{{default_langlist.PLEASE_SELECT}}';
    var newjson = $('<textarea />').html(data).text();


    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("362");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        var newDate = new Date(selected.date.valueOf() + 1);
        newDate.setDate(newDate.getDate() + 1);
        $('.todate').datepicker('setStartDate', minDate);
        $('.todate').datepicker('setDate', newDate);
    });

    jQuery('.todate').datepicker({
        autoclose: true,
       // endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'purchaseorder',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                orderno: jQuery("#orderno").val(),
                vendorid: jQuery("#select_vendor").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                orderno: jQuery("#orderno").val(),
                vendorid: jQuery("#select_vendor").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function doReset() {
        jQuery("#txtfromdate").val(''),
            jQuery("#txttodate").val(''),
            jQuery("#orderno").val(''),
            jQuery("#select_vendor").val(0),
            jQuery("#select_status").val(0),

            aTableConfig = jQuery.extend(aTableConfig, {
                tabledata: null,
                pagesize: jQuery("#lstRecPerPage").val(),
                csearch: {
                    fromdate: jQuery("#txtfromdate").val(),
                    todate: jQuery("#txttodate").val(),
                    orderno: jQuery("#orderno").val(),
                    vendorid: jQuery("#select_vendor").val(),
                    statusid: jQuery("#select_status").val(),
                },
                resetpaging: false,
                showprogress: true
            });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    var checkopened =0 ;
    function loadAddEdit(id) {
        if(checkopened==0) {
            checkopened++;
            var arr = {};
            arr['service'] = "purchaseorder";
            arr['opcode'] = "loadPurchaseOrder";
            arr['id'] = id;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                loadModal(data['Data'], 'Purchase Order');
            });
        }
    }

    var checkopened1 =0 ;
    function generateGRN(orderid) {
        if(checkopened1==0) {
            checkopened1++;
            var arr = {};
            arr['service'] = "good_receipt_note";
            arr['opcode'] = "loadgrn";
            arr['orderid'] = orderid;
            arr['id'] = 0;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                loadModal(data['Data'], 'Good Receipt Note');
            });
        }
    }

    function authorizeIndent(id,msg,cancel,ok) {
        var labelsprint = {
            ok     : ok,
            cancel : cancel
        };
        alertify.confirm(msg,labelsprint, function (e) {
            if (e) {
                var arr = {};
                pageno=1;
                pagereset=true;
                if(id!=0){
                    pagereset=false;
                    pageno=$('#lstGoTo').val();
                }
                arr['service'] = 'purchaseorder';
                arr['opcode'] = 'authorize_po';
                arr['orderid'] = id;
                var str = urlencode(JSON.stringify(arr));
                if (arr['orderid'] != '') {
                    HttpSendRequest(str, function (data) {
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else {
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-info"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
        sessionStorage.removeItem('PurchaseOrderItemList');
        sessionStorage.removeItem('GRNItemList');
    });
    function printpurchase(id) {
        var arr = {};
        arr['service'] = 'purchaseorder';
        arr['opcode'] = 'printPO';
        arr['id'] = id;
        var str = JSON.stringify(arr);
        load_report(str);
    }
</script>
{% endblock %}
