<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"/>
<script type="text/javascript" src="{{ commonurl }}themes/js/purchaseorder.js"></script>
<div id="po_add_modal" class="modal-dialog split_popup ">
    <div class="modal-content">
        <div class="modal-header">
            {% set PRIVdata = PRIVLIST|split(',') %}
            <h4 class="modal-title" id="myModalLabelsplit">{{default_langlist.PURCHASEORDER}} </h4>
        </div>
        <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <input type="hidden" id="getid" name="getid" value="{{id}}"/>
            <div class="modal-body">
                <form id="po_order_form" name="po_order_form">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="po_order_no">{{langlist.LANG39}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="{{ orderno }}" name="po_order_no" id="po_order_no" disabled maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_date">{{langlist.LANG4}}</label>
                                            <div class="controls">
                                                <input name="po_date" id="po_date" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_vendor">{{langlist.LANG29}}</label><span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_vendor" id="po_sel_vendor"
                                                data-toggle="tooltip" data-placement="top"
                                                title="{{langlist.LANG40}}" onchange="vendorChangeEvent();">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>                                            {% for key,value in vendor_list %}
                                                    <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_category">{{langlist.LANG6}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_category" id="po_sel_category" onchange="getRawMaterial('','','')">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_item">{{langlist.LANG8}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_item" id="po_sel_item" onchange="getItemUnits('','')">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_item_qty">{{langlist.LANG10}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull decimal dropdown" name="po_item_qty" id="po_item_qty" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_unit">{{langlist.LANG11}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_unit" id="po_sel_unit" onchange="setUnitRate()" >
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_rate_pu">{{langlist.LANG13}}</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="po_rate_pu" id="po_rate_pu"
                                                class="form-control notnull decimal" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control" name="po_actual_rate" id="po_actual_rate">
                                        <div class="form-group">
                                            <label class="form-label" for="po_total_rate">{{langlist.LANG14}}({{currencysign}})</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="po_total_rate" id="po_total_rate" class="form-control notnull dropdown" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label">{{langlist.LANG37}} %</label>
                                            <input type="text" class="form-control mb5 decimal" onkeypress="return isFloatWithRange(event,this,0,100)"  name="po_discount_per" max="100" value="0" maxlength="5" id="po_discount_per" onkeyup="calculateItemDiscount()">
                                            <input type="text" class="form-control" disabled name="po_discount_amt" value="0" id="po_discount_amt">
                                        </div>
                                        {% if applicable_taxes|length > 0 %}
                                            {% for key,value in applicable_taxes %}
                                                <div class="form-group">
                                                    <label class="form-label">{{ value.tax }} <input type="checkbox" value="{{ value.taxunkid }}" name="po_item_tax[]"  id="item_tax_enable_tax_{{ key }}" onchange="update_item_tax(this)" data-key = "{{ key }}"></label>
                                                    <input type="text" class="form-control mb5 decimal cl_tax_amt" name="item_tax[{{key}}]['amount']" id="item_tax_{{ key }}_amount" maxlength="5" onkeypress="return isFloat(event,this.value)" value="0" data-key = "{{ key }}" disabled onkeyup="calculateItemTax(this);">
                                                    <input type="text" class="form-control cl_tax_amt" name="item_tax[{{ key }}]['tax_total']" id="item_tax_{{key}}_tax_total" value="0" readonly />
                                                    <input type="hidden" name="item_tax[{{key}}]['pytype']" id="item_tax_{{ key }}_pytype" value="{{ value.pytype }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxunkid']" id="item_tax_{{ key }}_taxunkid"  value="{{ value.taxunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['lnkmasterunkid']" id="item_tax_{{ key }}_lnkmasterunkid"  value="{{ value.lnkmasterunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxdetailunkid']" id="item_tax_{{ key }}_taxdetailunkid"  value="{{ value.taxdetailunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['postingrule']" id="item_tax_{{ key }}_postingrule" value="{{ value.postingrule }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxapplyafter']" id="item_tax_{{ key }}_taxapplyafter" value="{{ value.taxapplyafter }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['tax']" id="item_tax_{{ key }}_taxname" value="{{ value.tax }}" />
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                                        <input type="hidden" id="editid" value="">
                                        <input type="hidden" name="po_item_cnt" id="po_item_cnt" value="0">
                                        <input type="hidden" name="po_last_item" id="po_last_item" value="0">
                                        <input type="hidden" name="po_selected_item" id="po_selected_item" value="0">
                                        <button class="btn btn-info" type="button" id="po_add_item" onclick="addItemToPO()">{{langlist.LANG33}}</button>
                                        <button class="btn btn-info" id="po_edit_item" style="display: none;" type="button" onclick="editItem();">{{langlist.LANG18}}</button>
                                        <button class="btn btn-info" id="po_cancel_item" style="display: none;" type="button" onclick="resetItem();">{{langlist.LANG35}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <div class="clearfix"></div>
                <div class="row" id="list_indent">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" id="indentlist">
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">{{langlist.LANG4}}</th>
                                            <th style="width: 25%;">{{langlist.LANG8}}</th>
                                            <th style="width: 5%;">{{langlist.LANG10}}</th>
                                            <th style="width: 10%;">{{langlist.LANG11}}</th>
                                            <th style="width: 10%;">{{langlist.LANG13}}</th>
                                            <th style="width: 10%;">{{langlist.LANG37}}</th>
                                            <th style="width: 15%;">{{langlist.LANG38}}</th>
                                            <th style="width: 15%;">{{langlist.LANG15}}({{currencysign}})</th>
                                            <th style="width: 5%;"></th>
                                            <th style="width: 5%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="hide_display" id="po_items_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-6">
                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                   for="po_total_amount">{{langlist.LANG19}}({{currencysign}})</label>
                            <div class="col-sm-5 paddingzero marginbottom5">
                                <input id="po_total_amount" name="po_total_amount" disabled class="form-control" type="text">
                            </div>
                        </div>
                        <div class="controls col-sm-6">
                            <div class="inline-form-group">
                                <label class="form-label" for="po_remarks">{{ langlist.LANG12 }}</label>
                                <textarea class="form-control" name="po_remarks" id="po_remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btns-wrap">
                            <ul class="list-inline">
                                <li>
                                    <input type="hidden" name="po_id" id="po_id" value="{{ id }}">
                                    <button class="btn btn-info" type="button" disabled="disabled" name="po_btn_submit"
                                            id="po_btn_submit" onclick="addPurchaseOrder()">{{default_langlist.SUBMIT}}
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-info" id="po_btn_close" aria-label="Close">
                                        {{default_langlist.CLOSE}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var round_off_digit = '{{ roundoff }}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";

    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var ADD_PURCHASE_ORDER = SPLIT_PERMISSION.indexOf("373");
    var EDIT_PURCHASE_ORDER = SPLIT_PERMISSION.indexOf("372");
    var DELETE_PURCHASE_ORDER = SPLIT_PERMISSION.indexOf("374");


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        vendorChangeEvent();
    });
    getPODetail();
    jQuery('.date').datepicker({
        autoclose: true,
        startDate: date,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    $('.date').datepicker('setDate', today);

    $("#po_item_qty").keyup(function (){
        calculateItemRate();
    });
    $("#po_rate_pu").keyup(function () {
        calculateItemRate();
    });
    jQuery("#po_btn_close").click(function(){
        var modalId = jQuery("#po_add_modal").parent().attr("modal_id");
        sessionStorage.removeItem('PurchaseOrderItemList');
        closeModal(modalId);
    });
</script>
