{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/rawmaterial.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">

<script type="text/javascript">
    localStorage.setItem('modulename','store');
    localStorage.setItem('pagename', 'leftpanel_rawmaterial');
</script>			
{% endblock %} {% block headerblock %}
<li>{{default_langlist.STORE}}</li>
<li class="active">{{default_langlist.RAWMATERIAL}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '139' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '135' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        {% endif %}
                        {% if '141' in PRIVdata %}
						<div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '139' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputCategory">{{langlist.LANG6}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select class="form-control dropdown" name="category" id="exampleInputCategory">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in category %}
                                            <option value="{{ value['id'] }}"> {{ value['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '139' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead> 
                                <tr>
                                    <th>{{ langlist.LANG4 }}</th>
                                    <th>{{ langlist.LANG5 }}</th>
									<th>{{default_langlist.CREATED_BY}}</th>
									<th>{{default_langlist.MODIFIED_BY}}</th>
                                </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@ if(this.islimit == 'yes'){ @>
                                    <i class="fa fa-exclamation-circle" style="color: red"></i>
                                    <@=this.name @>
                                    <@ } else{ @>
                                    <@=this.name @>
                                    <@ } @>
                                </td>
                                <td>
                                    <@=this.code @>
                                </td>
                               <td>
									<@=this.createduser @> <br/>
									<@=this.created_date @>
								</td>
								<td>
									<@=this.modifieduser @> <br/>
									<@=this.modified_date @>
								</td>
                                <td align="right" style="width:25%">
                                    {% if '138' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactivebycompany('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)"  title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
								    </a>
                                   <!-- <a class="update_ico" onclick="managewastage('<@=this.hashkey@>','<@=this.measuretype @>','<@=this.rateperunit @>')" title="Manage Wastage" style="cursor: pointer">
                                        <i class="fa fa-recycle"></i>
                                    </a>-->
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '330' in PRIVdata %}
                                    <a class="update_ico" onclick='manageinventory("<@=this.hashkey@>","<@=this.measuretype @>","<@=this.name @>","{{default_langlist.PLEASE_SELECT}}")' title="{{langlist.LANG17}}" style="cursor: pointer">
                                        <i class="fa fa-columns"></i>
                                    </a>
                                    {% endif %}
                                    {% if '136' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '137' in PRIVdata %}
                                    <a class="update_ico" onclick="removematerial('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '142' in PRIVdata %}
                                    <a class="update_ico" onclick="related_records_withLoc('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>

                                   <!-- <a class="update_ico" onclick="check_allrelated_items('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.RELATED_RECORDS}}">
                                        <i class="fa fa-info-circle"></i></a>-->
                                    {% endif %}
                                    {% if '141' in PRIVdata %}
                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')">
                                     <i class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <form id="rawform" name="rawform">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
             <div class="content-body">
                 <div class="row">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="card">
                            <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="id" name="id" value="0" />
                            <input type="hidden" id="locid" name="locid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="category">{{ langlist.LANG6 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select class="form-control dropdown" name="category" id="category">
                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in category %}
                                    <option value="{{ value['id'] }}"> {{ value['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="name">{{ langlist.LANG2 }} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="code">{{ langlist.LANG5 }} {{ default_langlist.UNIQUE }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="code" id="code" maxlength="20">
                           </div>
                        </div>


                       <!-- <div class="form-group col-md-4">
                            <label class="form-label" for="vendor">{{ langlist.LANG7 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select class="form-control dropdown" name="vendor" id="vendor">
                                    <option value="0" selected="selected">Please Select</option>
                                    {% for key,value in vendor %}
                                    <option value="{{ value['vandorunkid'] }}"> {{ value['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>-->

                        <div class="form-group col-md-3">
                            <label class="form-label" for="measuretype">{{ langlist.LANG8 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select class="form-control dropdown" name="measuretype" id="measuretype" onchange="loadunit();">
                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                    <option value="1">{{langlist.LANG32}}</option>
                                    <option value="2">{{langlist.LANG33}}</option>
                                    <option value="3">{{langlist.LANG34}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <div class="col-md-12">
                                <label class="form-label" for="code">{{ langlist.LANG9 }}</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control decimal" name="minlimit" id="minlimit" maxlength="10">
                            </div>
                            <div class="col-md-6">
                                <select class="form-control unit" name="munit" id="munit">
                                    <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                </select>
                                <input type="hidden" name="unitval" id="unitval">
                            </div>
                        </div>
                        <!--Use for add Inventory--!>
                        <!--<div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="quantity">{{ langlist.LANG10 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control decimal" name="quantity" id="quantity" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="price">{{ langlist.LANG11 }}</label>
                            <select class="form-control unit" name="unit" id="iunit">
                                <option value="" selected="selected">Please Select</option>
                            </select>
                            <input type="hidden" name="iunitval" id="iunitval">
                        </div>

                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="price">{{ langlist.LANG12 }}</label>
                            <div class="controls">
                                <input type="text" class="form-control decimal" name="price" id="price" maxlength="10">
                            </div>
                        </div>-->
						
						<div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
									<label class="iradio-label form-label" for="inactive"> {{default_langlist.INACTIVE}}</label>
								</div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-md-4 hide" id="checkbox_recipe">
                            <div class="checkbox3 checkbox-check">
                                <input id="is_recipe_avalible" type="checkbox" name="is_recipe_avalible" value="1" onclick="showRecipeDiv()">
                                <label for="is_recipe_avalible">{{ langlist.LANG35 }} </label>
                            </div>
                        </div>
                    </div>
                </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header" >
                                        <div class="card-title">
                                            <span class="title">{{ langlist.LANG24 }}</span>
                                            <span class="title" id="unit_code"></span>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="form-group">
                                                <label class="form-label" for="unit_sel">{{ langlist.LANG11 }}</label>
                                                <select id="unit_sel" class="form-control"  multiple="multiple" style="width:100%">
                                                </select>
                                                <input type="hidden" class="form-control" id="unit_detail" name="unit_detail" />
                                                <input type="hidden" class="form-control" id="old_unit" name="old_unit" />
                                            </div>
                                            <label class="col-sm-3 control-label textalignleft "></label>
                                            <div class="col-sm-9">
                                                <button type="button" class="button btn" style="margin-right: 10px" onclick="selectAllUnit();">{{default_langlist.SELECT_ALL}}</button>
                                                <button style="margin-right: 10px" type="button" class="button btn" onclick="selectNoneUnit();">{{default_langlist.SELECT_NONE}}</button>
                                                <button  style="float: right"  type="button" class="btn btn-primary" onclick="loadUnitDetail();">{{default_langlist.LOAD}}</button>
                                            </div>
                                            <div class="form-group clearfix"></div>
                                            <div id="unit_list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="display: none;" id="recipe_div">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header" >
                                        <div class="card-title">
                                            <span class="title">{{ langlist.LANG36 }}</span>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="form-group">
                                                <label class="form-label" for="rawmaterial_sel">{{ langlist.LANG1 }}</label>
                                                <select id="rawmaterial_sel" class="form-control"  multiple="multiple" style="width:100%">
                                                    <!--{% for rawlist in rawmateriallist %}-->
                                                      <!--<option value="{{rawlist.hashkey}}" class="option_{{rawlist.hashkey}}">{{rawlist.name|raw}}</option>-->
                                                    <!--{% endfor %}-->
                                                </select>
                                                <input type="hidden" class="form-control" id="old_rawmaterial" name="old_rawmaterial" />
                                            </div>
                                            <label class="col-sm-3 control-label textalignleft "></label>
                                            <div class="col-sm-9">
                                                <button type="button" class="button btn" style="margin-right: 10px" onclick="selectAllRawMaterial();">{{default_langlist.SELECT_ALL}}</button>
                                                <button style="margin-right: 10px" type="button" class="button btn" onclick="selectNoneRawMaterial();">{{default_langlist.SELECT_NONE}}</button>
                                                <button  style="float: right"  type="button" class="btn btn-primary" onclick="loadRawMaterialDetail();">{{default_langlist.LOAD}}</button>
                                            </div>
                                            <div class="form-group clearfix"></div>
                                            <div id="rawmaterial_list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group" style="text-align: right;margin-right: 15px;">
                                        <button type="button" id="submit" class="btn btn-info" ondblclick="return false;">{{default_langlist.SUBMIT}}</button>
                                        <a onclick="refreshaddedit();">
                                            <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal fade modal-primary split_popup" id="modalInventory"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelsplit">{{langlist.LANG17}}<span class="modal-title" id="rawitemlabel"></span></h4>
                </div>
            <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <form id="frminventory" name="frminventory">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="vendor">{{ langlist.LANG7 }}</label><span class="required" aria-required="true"> *</span>
                                        <select class="form-control dropdown vendor" name="vendor" id="vendor">
                                            <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="unit">{{ langlist.LANG11 }}</label><span class="required" aria-required="true"> *</span>
                                        <select class="form-control dropdown inunit" name="unit" id="inunit">
                                            <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                        </select>
                                        <input type="hidden" name="iunitval" id="inunitval">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="quantity">{{ langlist.LANG10 }}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull decimal dropdown" name="quantity" id="inquantity" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="price">{{ langlist.LANG12 }}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" class="form-control notnull decimal dropdown" name="price" id="inprice" maxlength="10">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <div class="form-group marginzero">
                        <input type="hidden" name="inv_unit" class="inv_unit">
                        <input type="hidden" name="rawhash" class="rawhash" id="irawhash">
                        {% if '331' in PRIVdata %}
                        <button class="btn btn-info" type="button"  id="inventory" ondblclick="return false;">{{default_langlist.SUBMIT}}</button>
                        {% endif %}
                        <button class="btn btn-default" type="button" onclick="refreshfrm()">{{default_langlist.RESET}}</button>
                    </div>

                    <!---->
                    <div class="clearfix"></div>
                    <div class="norecord" id="inorecord" style="display:none">
                        <i class="fa fa-meh-o"></i>
                        <br> {{default_langlist.NO_RECORDS}}
                    </div>

                    <div class="row" id="list_inventory">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" id="inventorylist">
                                    <table class="datatable table table-striped" cellspacing="0" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>{{langlist.LANG7}}</th>
                                            <th>{{langlist.LANG10}}</th>
                                            <th>{{langlist.LANG12}}</th>
                                            <th>{{default_langlist.CREATED_BY}}</th>
                                            <th>{{langlist.LANG21}}</th>
                                            <th>{{langlist.LANG22}}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="hide_display" id="detailslist">
                                        </tbody>
                                        <tfoot>
                                        <label>{{langlist.LANG14}}</label><label class="hide_display" id="total_inv"></label><br/>
                                        <label>{{langlist.LANG15}}</label><label class="hide_display" id="rate_per_unit"></label>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	var aTableConfig = {};
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
    var roundoff = "{{ roundoff }}";
    var plz_select='{{default_langlist.PLEASE_SELECT}}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var lbladdrawmaterial="{{langlist.LANG1}}";
    var lblrawmaterial="{{langlist.LANG4}}";
    var lbledit="{{default_langlist.EDIT}}";
    var QUANTITY = "{{langlist.LANG10}}";
    var SELECT_UNIT = "{{langlist.LANG37}}";
	var lblremove="{{default_langlist.DELETE}}";

    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("139");
    var Delete_Inventory = SPLIT_PERMISSION.indexOf("332");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }
    storeunitobj = {};
    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'rawmaterial',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                cat: jQuery("#exampleInputCategory").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                cat: jQuery("#exampleInputCategory").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        jQuery("#exampleInputCategory").val("0");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                cat: jQuery("#exampleInputCategory").val(),
            },
            resetpaging: false,
            showprogress: true
        }   );
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try
		{
			refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery('#unit_sel').select2();
            jQuery('#rawmaterial_sel').select2();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text(lbledit+' '+lblrawmaterial);
				jQuery("#id").val(id);
				var arr = {};
				arr['service']= 'rawmaterial';
				arr['opcode']= 'getRawmaterialRec';
				arr['id']= id;
                jQuery(".edit_hide").hide();
				var str = urlencode(JSON.stringify(arr));				
				HttpSendRequest(str, function(recObj)
				{
					if (recObj.Success == 'True')
					{
					    var res = recObj.Data;
						jQuery("#name").val(res.name);
                        jQuery("#measuretype").val(res.measuretype);
                        jQuery("#locid").val(res.locid);
                        jQuery("#code").val(res.code);
                        jQuery("#category").val(res.category);
                        jQuery("#minlimit").val(res.min_limit);
                        jQuery("#unitval").val(res.unitval);
                        loadunit(res.unitid);
                        getAllrawmaterials(id);
						$('input:radio[name="rdo_status"]').filter('[value='+res.is_active+']').prop('checked', true);
                        if (typeof res.bind_unit!='undefined' && res.bind_unit.length>0 && res.bind_unit!='')
                        {
                            setTimeout(function () {
                                loadstore_unitlist(res.bind_unit);
                            }, 100);
                        }

                        if(res.is_recipe == 1){
                            jQuery('#is_recipe_avalible').prop('checked',true);
                            jQuery('#recipe_div').show();
                        }
                        else{
                            jQuery('#is_recipe_avalible').prop('checked',false);
                        }
					}
                });
            }
			else{
				jQuery("#frmtitle").text(lbladdrawmaterial);
				jQuery("#id").val('0');
                jQuery('.unit').html('');
                jQuery('.unit').append('<option value="">'+plz_select+'</option>');
                jQuery(".edit_hide").show();
                getAllrawmaterials(0);
			}
        } catch (e) {
            alert(e);   
        }
    }

    function getAllrawmaterials(id)
    {
        var arr = {};
        arr['service']= 'rawmaterial';
        arr['opcode']= 'getAllrawmaterials';
        arr['id']= id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function(recObj) {
            if (recObj.Success == 'True') {
                var data = recObj['Data'];
                var appendlist = '';
                for (var i = 0; i < data.length; i++) {
                    appendlist += '<option value="'+data[i].hashkey+'" class="option_'+data[i].hashkey+'">'+data[i].name+'</option>';
                }
                jQuery('#rawmaterial_sel').html(appendlist);

            }else{
                jQuery('#recipe_div').hide();
                jQuery('#checkbox_recipe').hide();
                jQuery('#is_recipe_avalible').prop('disabled',true);
            }
        });
    }
    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#rawform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();

        jQuery('#unit_list').html('');
        jQuery('#unit_detail').val('');
        jQuery('#old_unit').val('');
        jQuery('#recipe_div').hide();
        jQuery('#rawmaterial_list').html('');
        jQuery('#old_rawmaterial').val('');
        jQuery('#rawmaterial_sel').find('option').prop('selected',false);
        jQuery('#rawmaterial_sel').change();

    }

    function refreshfrm() {
        jQuery(".invalid").removeClass('invalid');
        jQuery("#frminventory").trigger('reset');
        jQuery("#inventorylist").load();
    }

    jQuery("#submit").click(function () {
        var unit_str = jQuery('#unit_detail').val();
        if (validate_form('rawform') && validate_store_unit(unit_str)) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('rawform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service','rawmaterial');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            HttpSendRequest(ajaxData,function(data)
            {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
//            if (!validate_store_unit(unit_str)) {
//                error = 1;
//            }
            alertify.alert(lblerrormsg,lblok);
        }
    });
    jQuery("#munit").change(function () {
            var unitval=jQuery("#munit").find(':selected').data('unit');
        $('#unitval').val(unitval);
    });

    jQuery("#inunit").change(function () {
        var unitval=jQuery("#inunit").find(':selected').data('unit');
        $('#inunitval').val(unitval);
    });
    jQuery("#inventory").click(function () {

            if (validate_form('frminventory')) {
                jQuery("#inventory").prop("disabled",true);
                showjQloading();
                var id = jQuery("#id").val();
                var measureval=$('.inv_unit').val();
                var myForm = document.getElementById('frminventory');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service','rawmaterial');
                ajaxData.append('measureval', measureval);
                ajaxData.append('opcode', 'addInventoryfrm');
                HttpSendRequest(ajaxData,function(data)
                {
                    hidejQloading();
                    jQuery("#inventory").prop("disabled",false);
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshfrm();
                        getinventory();
                    } else {
                        alertify.error(data['Message']);
                    }
                    return false;
                });
            } else {
                alertify.alert(lblerrormsg,lblok);
            }
    });

    function showRecipeDiv()
    {
        jQuery('#rawmaterial_list').html('');
        jQuery('#old_rawmaterial').val('');
        jQuery('#rawmaterial_sel').find('option').prop('selected',false);
        jQuery('#rawmaterial_sel').change();

        if(jQuery('#is_recipe_avalible').is(':checked') == true)
        {
            jQuery('#recipe_div').show();
        }
        else
        {
            jQuery('#recipe_div').hide();
        }
    }
</script>
{% endblock %}
