{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type = "text/javascript" >
    localStorage.setItem('modulename', 'store_indent');
localStorage.setItem('pagename', 'leftpanel_received_indent');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.INDENTMANAGEMENT}}</li>
<li class="active">{{default_langlist.RECEIVEDINDENT}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        <!-- <div class="pull-right card-action">
                             <button class="btn btn-primary pull-left" type="button"
                                     onclick="generateVoucher('')">{{
                                 langlist.LANG1 }}
                             </button>
                         </div>-->

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG27
                                        }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtfromdate" class="form-control  fromdate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG28
                                        }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txttodate" class="form-control  todate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="indentno">{{langlist.LANG4}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="indentno" name="indentno" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="select_location">{{ langlist.LANG29 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_location" id="select_location" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in storelist %}
                                            <option value="{{ value['storeunkid'] }}">{{ value['storename'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="select_status">{{
                                        langlist.LANG36 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_status" id="select_status" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="1">{{ langlist.LANG30 }}</option>
                                            <option value="2">{{ langlist.LANG31 }}</option>
                                            <option value="3">{{ langlist.LANG32 }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{ langlist.LANG23 }}</th>
                                <th>{{ langlist.LANG25 }}</th>
                                <th>{{ langlist.LANG24 }}</th>
                                <th>{{ langlist.LANG15 }}({{currencysign}})</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td><@=this.indent_doc_num @></td>
                                <td><@=this.indentdate @></td>
                                <td><@=this.storename @></td>
                                <td>
                                    <@=this.createduser @> <br/>
                                </td>
                                <td>
                                    <@ if(this.authstatus==0){ @>
                                    <a href="javascript:void(0);" class="btn-link"
                                       onclick="authorizeIndent('<@=this.indentid @>','{{langlist.LANG39}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')">{{langlist.LANG38}}</a>
                                    <@ }else{ @>
                                    <label style="color:green;">{{langlist.LANG37}}</label>
                                    <@ } @>
                                </td>
                                <td><@=this.totalamount @></td>
                                <td><@=this.modifieduser @></td>
                                <td align="right" style="width:25%">
                                    <@ if(this.authstatus==1){ @>
                                    <@ if(this.status!=2){ @>
                                    <a href="javascript:void(0);"
                                       onclick="loadIndentAuthorization('<@=this.indentid @>')" title=""><i
                                            class="fa fa-pencil"></i></a>

                                    <button class="btn btn-primary pull-left" type="button"
                                            onclick="generateVoucher('<@=this.indentid @>')">{{ langlist.LANG1 }}
                                    </button>
                                    <@ } @>
                                    <@ } @>
                                    <a class="update_ico" onclick="check_store_indent('<@= this.indentid @>',0,'2')"
                                       title="{{default_langlist.VIEW_DETAILS}}">
                                        <i class="fa fa-eye"></i></a>
                                    <a class="update_ico" onclick="printinvoice('<@= this.indentid @>')"
                                       style="cursor: pointer" title="{{default_langlist.PRINT}}">
                                        <i class="fa fa-print "></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var round_off_digit = '{{ roundoff }}';
 
    pageInit(newjson);

    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        var newDate = new Date(selected.date.valueOf() + 1);
        newDate.setDate(newDate.getDate() + 1);
        $('.todate').datepicker('setStartDate', minDate);
        $('.todate').datepicker('setDate', newDate);
    });

    jQuery('.todate').datepicker({
        autoclose: true,
        //endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    function pageInit(data) {
            aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'received_indent',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                indent: jQuery("#indentno").val(),
                locationid: jQuery("#select_location").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist() {

        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                indent: jQuery("#indentno").val(),
                locationid: jQuery("#select_location").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#txtfromdate").val(''),
            jQuery("#txttodate").val(''),
            jQuery("#indentno").val(''),
            jQuery("#select_location").val(0),
            jQuery("#select_status").val(0),
            aTableConfig = jQuery.extend(aTableConfig, {
                tabledata: null,
                pagesize: jQuery("#lstRecPerPage").val(),
                csearch: {
                    fromdate: jQuery("#txtfromdate").val(),
                    todate: jQuery("#txttodate").val(),
                    indent: jQuery("#indentno").val(),
                    locationid: jQuery("#select_location").val(),
                    statusid: jQuery("#select_status").val(),
                },
                resetpaging: false,
                showprogress: true
            });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    var checkopened =0 ;
    function generateVoucher(indentId) {
        if(checkopened==0) {
            checkopened++;
            var arr = {};
            arr['service'] = "issue_voucher";
            arr['opcode'] = "callissuevoucher";
            arr['indent_id'] = indentId;
            arr['issueid'] = 0;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                loadModal(data['Data'], 'Issue Voucher');
            });
        }
    }

    var checkopened1 =0 ;
    function loadIndentAuthorization(indentId) {
        if(checkopened1==0) {
            checkopened1++;
            var arr = {};
            arr['service'] = "received_indent";
            arr['opcode'] = "loadAuthorizeIndentItem";
            arr['indent_id'] = indentId;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                loadModal(data['Data'], 'Authorize Item');
            });
        }
    }

    function authorizeIndent(id,msg,cancel,ok) {
        var labelsprint = {
            ok     : ok,
            cancel : cancel
        };
        alertify.confirm(msg,labelsprint, function (e) {
            if (e) {
                var arr = {};
                arr['service'] = 'received_indent';
                arr['opcode'] = 'authorize_indent';
                arr['indent_id'] = id;
                var str = urlencode(JSON.stringify(arr));
                if (arr['indent_id'] != '') {
                    HttpSendRequest(str, function (data) {
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else {
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }
    function printinvoice(id) {
        var arr = {};
        arr['service'] = 'received_indent';
        arr['opcode'] = 'ReceivedIndentprintInvoice';
        arr['id'] = id;
        var str = JSON.stringify(arr);
        load_report(str);
    }

</script>
{% endblock %}
