{% extends 'base.html' %}
{% block headblock %}
    <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
    <script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        localStorage.setItem('modulename','store_indent');
        localStorage.setItem('pagename','leftpanel_received_voucher');
    </script>
{% endblock %}
{% block headerblock %}
    <li>{{default_langlist.INDENTMANAGEMENT}}</li>
    <li class="active">{{default_langlist.RECEIVEDVOUCHER}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '360' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        {% endif %}
                    </div>
                    {% if '360' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG8 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtfromdate" class="form-control  fromdate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG9 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txttodate" class="form-control  todate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="voucherno">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="voucherno" name="voucherno" class="form-control" type="text" placeholder="{{langlist.LANG4}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="select_store">{{ langlist.LANG6 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_store" id="select_store" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in storelist %}
                                                <option value="{{ value['storeunkid'] }}">{{ value.storename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '360' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ langlist.LANG2 }}</th>
                                    <th>{{ langlist.LANG3 }}</th>
                                    <th>{{ langlist.LANG10 }}</th>
                                    <th>{{ langlist.LANG6 }}</th>
                                    <th>{{ langlist.LANG11 }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td><@=this.issue_doc_num @></td>
                                <td><@=this.issueDate @></td>
                                <td><@=this.indentNo @></td>
                                <td>
                                    <@=this.storename @><br/>
                                    {{ langlist.LANG7 }} : <@=this.created_user @>
                                </td>
                                <td>
                                    {% if '361' in PRIVdata %}
                                    <a class="update_ico" onclick="check_store_indent('<@= this.issueid @>',0,'4')"
                                       title="{{default_langlist.VIEW_DETAILS}}">
                                        <i class="fa fa-eye"></i></a>
                                    {% endif %}
                                    {% if '359' in PRIVdata %}
                                    <a class="update_ico" onclick="printinvoice('<@= this.issueid @>')"
                                       style="cursor: pointer" title="{{default_langlist.PRINT}}">
                                    <i class="fa fa-print "></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();

    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("360");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        var newDate = new Date(selected.date.valueOf() + 1);
        newDate.setDate(newDate.getDate() + 1);
        $('.todate').datepicker('setStartDate', minDate);
        $('.todate').datepicker('setDate', newDate);
    });

    jQuery('.todate').datepicker({
        autoclose: true,
        //endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'received_voucher',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                voucher: jQuery("#voucherno").val(),
                storeid: jQuery("#select_store").val(),
                statusid: jQuery("#select_status").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#txtfromdate").val(''),
            jQuery("#txttodate").val(''),
            jQuery("#voucherno").val(''),
            jQuery("#select_store").val(0),
            jQuery("#select_status").val(0),
            aTableConfig = jQuery.extend(aTableConfig, {
                tabledata: null,
                pagesize: jQuery("#lstRecPerPage").val(),
                csearch: {
                    fromdate: jQuery("#txtfromdate").val(),
                    todate: jQuery("#txttodate").val(),
                    indent: jQuery("#voucherno").val(),
                    storeid: jQuery("#select_store").val(),
                    statusid: jQuery("#select_status").val(),
                },
                resetpaging: false,
                showprogress: true
            });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function printinvoice(id) {
        var arr = {};
        arr['service'] = 'received_voucher';
        arr['opcode'] = 'received_voucherprintInvoice';
        arr['id'] = id;
        var str = JSON.stringify(arr);
        load_report(str);
    }
</script>
{% endblock %}
