{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript"
        src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/reports.css"/>
<script type="text/javascript">
    localStorage.setItem('modulename', 'reports');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.REPORTS}}</li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body report-page">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vertical-tab-menu">
                            <div class="list-group">
                                {% if '151' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-calendar"></h4>  {{ langlist.LANG1 }}
                                </a>
                                {% endif %}
                                {% if '152' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-sun-o"></h4>  {{ langlist.LANG2 }}
                                </a>
                                {% endif %}
                                {% if '160' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-sitemap"></h4>  {{ langlist.LANG3 }}
                                </a>
                                {% endif %}
                                {% if '484' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-creative-commons"></h4> {{ langlist.LANG4 }}
                                </a>
                                {% endif %}

                                <!--{% if '154' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-area-chart"></h4>  {{ langlist.LANG11 }}
                                </a>
                                {% endif %}-->
                                {% if '159' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-area-chart"></h4>  {{ langlist.LANG23 }}
                                </a>
                                {% endif %}
                                {% if '153' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-cc-visa"></h4>  {{langlist.LANG12}}
                                </a>
                                {% endif %}
                                <!--{% if '480' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-meh-o"></h4>  {{langlist.LANG18}}
                                </a>
                                {% endif %}-->
                                {% if '481' in PRIVdata and shift_management == 1 %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-bar-chart"></h4>  {{langlist.LANG19}}
                                </a>
                                {% endif %}
                                {% if '482' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-pie-chart"></h4>  {{langlist.LANG20}}
                                </a>
                                {% endif %}
                                {% if '483' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-gratipay"></h4>  {{langlist.LANG21}}
                                </a>
                                {% endif %}
                                <!--{% if '485' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="fa fa-male"></h4>  {{langlist.LANG24}}
                                </a>
                                {% endif %}-->
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 vertical-tab">

                            {% if '151' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="exampleInputName2">{{ langlist.LANG5 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="txtmonth" class="form-control required" type="text"
                                                       value="{{ current_working_month }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 text-right">
                                            <button class="btn btn-info" type="button" id="btnsearch"
                                                    onclick="generate_report(1);">{{default_langlist.SUBMIT}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '152' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">                                        
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="drfromdate" class="form-control date fromdate required" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="drtodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12">
                                            <div class="col-xs-12 col-md-2">
                                                <div class="col-sm-2 paddingzero marginbottom5">
                                                    <input name="order_type" class="form-control" type="checkbox" value="1">
                                                </div>
                                                <label class="col-sm-10 control-label textalignleft paddingzero"> {{langlist.LANG26}}</label>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="col-sm-2 paddingzero marginbottom5">
                                                    <input name="order_type" class="form-control" type="checkbox" value="0">
                                                </div>
                                                <label class="col-sm-10 control-label textalignleft paddingzero"> {{langlist.LANG27}}</label>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="col-sm-2 paddingzero marginbottom5">
                                                    <input name="order_type" class="form-control" type="checkbox" value="3">
                                                </div>
                                                <label class="col-sm-10 control-label textalignleft paddingzero"> {{langlist.LANG28}}</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button" 
                                                    onclick="generate_report(2);">{{default_langlist.SUBMIT}}
                                            </button>
                                        <button class="btn btn-primary" type="button" 
                                                onclick="ResetFrm(2);">{{default_langlist.RESET}}
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '160' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_menu">{{ langlist.LANG25 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="select_menu" id="select_menu"
                                                        class="form-control select_menu">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in menulist %}
                                                    <option value="{{ value['hashkey'] }}">{{ value['name']|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')  }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_category">{{ langlist.LANG7 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="select_category" id="select_category"
                                                        class="form-control select_category">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_item">{{ langlist.LANG8 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="select_item" id="select_item"
                                                        class="form-control select_item">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG9 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="txtfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG10 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="txttodate" class="form-control date todate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button" 
                                                    onclick="generate_report(3);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button" 
                                                    onclick="ResetFrm(3);">{{default_langlist.RESET}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if '484' in PRIVdata %}

                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="from_date" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="to_date" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="Select_NochargeUser">{{default_langlist.SELECT_COMBO}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">

                                                <select name="select_combo" id="select_combo" class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in combolist %}
                                                    <option value="{{ value['hashkey'] }}">{{ value['comboname'] }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(4);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(4);">{{default_langlist.RESET}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                            <!--{% if '154' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG5 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="fromdate" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button" 
                                                    onclick="generate_report(5);">{{default_langlist.SUBMIT}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}-->
                            {% if '159' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="exampleInputName2">{{ langlist.LANG6 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="dsrdate" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 text-right">
                                            <button class="btn btn-info" type="button" 
                                                    onclick="generate_report(10);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button" 
                                                    onclick="ResetFrm(10);">{{default_langlist.RESET}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '153' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="Select_Payment">{{langlist.LANG13}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="Select_Payment" id="Select_Payment"
                                                        class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    <option value="CASH">{{langlist.LANG14}}</option>
                                                    <option value="BANK">{{langlist.LANG15}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="Select_payment_Type">{{langlist.LANG16}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="Select_payment_Type" id="Select_payment_Type"
                                                        class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="tfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="ttodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button" 
                                                    onclick="generate_report(11);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button" 
                                                    onclick="ResetFrm(11);">{{default_langlist.RESET}}
                                            </button>
                                            <!--<button class="btn btn-raised btn-primary pull-right " type="button" onclick="ExportCSV(3)">Export</button>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '480' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="nfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="ntodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="Select_NochargeUser">{{default_langlist.NO_CHARGE_USER}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="Select_NochargeUser" id="Select_NochargeUser"
                                                        class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in nochargelist %}
                                                    <option value="{{ value['hashkey'] }}">{{ value['name'] }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(12);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(12);">{{default_langlist.RESET}}
                                            </button>
                                            <!--<button class="btn btn-raised btn-primary pull-right " type="button" onclick="ExportCSV(3)">Export</button>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '481' in PRIVdata and shift_management == 1 %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="casfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="castodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(13);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(13);">{{default_langlist.RESET}}
                                            </button>
                                            <!--<button class="btn btn-raised btn-primary pull-right " type="button" onclick="ExportCSV(3)">Export</button>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '482' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="cfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="ctodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(14);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(14);">{{default_langlist.RESET}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '483' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="gfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="gtodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(15);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(15);">{{default_langlist.RESET}}
                                            </button>
                                            <!--<button class="btn btn-raised btn-primary pull-right " type="button" onclick="ExportCSV(3)">Export</button>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if '485' in PRIVdata %}
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group ">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG9}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="wfromdate" class="form-control date fromdate" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{langlist.LANG10}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="wtodate" class="form-control todate date" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="Select_Waiter">{{default_langlist.WAITER}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="Select_Waiter" id="Select_Waiter"
                                                        class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in waiterlist %}
                                                    <option value="{{ value['hashkey'] }}">{{ value['name'] }}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="generate_report(16);">{{default_langlist.SUBMIT}}
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                    onclick="ResetFrm(16);">{{default_langlist.RESET}}
                                            </button>
                                            <!--<button class="btn btn-raised btn-primary pull-right " type="button" onclick="ExportCSV(3)">Export</button>-->

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    var date = new Date();
    var EMAIL = "{{default_langlist.EMAIL}}";
    var PHONE = "{{default_langlist.PHONE}}";
    var FROM_DATE = "{{default_langlist.FROM_DATE}}";
    var TO_DATE = "{{default_langlist.TO_DATE}}";
    var CURRENCY_SYMBOL = "{{default_langlist.CURRENCY_SYMBOL}}";
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var current_working_date = '{{ current_working_date }}';

    jQuery(document).ready(function () {

       jQuery(".list-group a").first().addClass("active");
       jQuery(".vertical-tab div").first().addClass("active");

        jQuery("div.vertical-tab-menu>div.list-group>a").click(function (e) {
            jQuery('input[type="text"]').val('');
            initializeDates();
            jQuery('.invalid').removeClass('invalid');
            e.preventDefault();
            jQuery(this).siblings('a.active').removeClass("active");
            jQuery(this).addClass("active");
            var index = jQuery(this).index();
            jQuery("div.vertical-tab>div.vertical-tab-content").removeClass("active");
            jQuery("div.vertical-tab>div.vertical-tab-content").eq(index).addClass("active");
            $('#select_type').val(0);
        });
        initializeDates();
        //jQuery('#txtdate').datepicker("setDate",startDate);

        $('#tstartdate').keydown(function (e) {
            e.preventDefault();
            return false;
        });
    });

    function initializeDates() {
        jQuery('#txtmonth').datepicker({
            autoclose: true,
            minViewMode: 1,
            endDate: "{{ current_working_month }}",
            todayHighlight: true,
            format: 'yyyy-mm'
        }).datepicker("setDate",'{{ current_working_month }}');

        jQuery('.fromdate').datepicker({
            autoclose: true,
            endDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var minDate = new Date(selected.date.valueOf());
                $('.todate').datepicker('setStartDate', minDate);
            }
        });

        jQuery('.todate').datepicker({
            autoclose: true,
            endDate: '+0d',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).on('changeDate', function (selected) {
            if(typeof selected.date!='undefined') {
                var maxDate = new Date(selected.date.valueOf());
                $('.fromdate').datepicker('setEndDate', maxDate);
            }
        });

        jQuery('.date').datepicker({
            autoclose: true,
            endDate: '{{ current_working_date }}',
            todayHighlight: true,
            format: '{{ jsdateformat }}'
        }).datepicker("setDate", '{{ current_working_date }}');
        //jQuery('#txtdate').val(current_working_date);

        jQuery('#txtdate').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            endDate: current_working_date
        }).datepicker("setDate", current_working_date);

        /* code for selected date again select than its not become null */

        jQuery('.date').datepicker({
            autoclose: true
        });

        jQuery('.date').on('show', function(e){
            if ( e.date ) {
                jQuery(this).data('stickyDate', e.date);
            }
            else {
                var stickyDate = jQuery(this).data('stickyDate');
                jQuery(this).data('stickyDate',stickyDate);
            }
        });
        jQuery('.date').on('hide', function(e){
            var stickyDate = jQuery(this).data('stickyDate');

            if ( !e.date && stickyDate ) {
                jQuery(this).datepicker('setDate',  stickyDate);
                jQuery(this).data('stickyDate', stickyDate);
            }
        });
    }
    function generate_report(type) {
        if (is_valid()) {
            var arr = GetSearchParameter(type);
            var str = JSON.stringify(arr);
            load_report(str);
        }
    }

    function GetSearchParameter(type) {
        var arr = {};
        arr['service'] = 'reports';
        arr['opcode'] = 'generatereport';
        arr['type'] = type;
        if (type == 1) {
            arr['date'] = jQuery("#txtmonth").val();
        }
        if (type == 2) {           
            arr['fromdate'] = jQuery("#drfromdate").val();
            arr['todate'] = jQuery("#drtodate").val();
            var orderTypeArr = [];
            $.each($("input[name='order_type']:checked"), function(){
                orderTypeArr.push($(this).val());
            });
            arr['order_type'] = orderTypeArr;
        }
        if (type == 3) {
            arr['menu'] = jQuery("#select_menu").val();
            arr['category'] = jQuery("#select_category").val();
            arr['item'] = jQuery("#select_item").val();
            arr['fromdate'] = jQuery("#txtfromdate").val();
            arr['todate'] = jQuery("#txttodate").val();
        }
        if (type == 4) {
            arr['combo'] = jQuery("#select_combo").val();
            arr['fromdate'] = jQuery("#from_date").val();
            arr['todate'] = jQuery("#to_date").val();
        }
        if (type == 5) {
            arr['fromdate'] = jQuery("#fromdate").val();
        }
        if (type == 6) {
            arr['rawcat'] = jQuery("#select_rawcat").val();
            arr['rawmaterial'] = jQuery("#select_rawmaterial").val();
            arr['shortage'] = jQuery(".rdo_shortage:checked").val();
        }
        if (type == 7) {
            arr['vendor'] = jQuery("#select_vendor").val();
            arr['shortage'] = jQuery(".rdo_vshortage:checked").val();
        }
        if (type == 8) {
            arr['itemtype'] = jQuery("#select_type").val();
            arr['item'] = jQuery("#select_ritem").val();
        }
        if (type == 9) {
            arr['rawmaterial'] = jQuery("#select_raw").val();
            arr['fromdate'] = jQuery("#ifromdate").val();
            arr['todate'] = jQuery("#itodate").val();
        }
        if (type == 10) {
            arr['date'] = jQuery("#dsrdate").val();
        }
        if (type == 11) {
            arr['payment'] = jQuery("#Select_Payment").val();
            arr['paymenttype'] = jQuery("#Select_payment_Type").val();
            arr['fromdate'] = jQuery("#tfromdate").val();
            arr['todate'] = jQuery("#ttodate").val();
        }
        if (type == 12) {

            arr['nochargeuserid'] = jQuery("#Select_NochargeUser").val();
            arr['fromdate'] = jQuery("#nfromdate").val();
            arr['todate'] = jQuery("#ntodate").val();
        }
        if (type == 13) {

            arr['fromdate'] = jQuery("#casfromdate").val();
            arr['todate'] = jQuery("#castodate").val();
        }
        if (type == 14) {

            arr['fromdate'] = jQuery("#cfromdate").val();
            arr['todate'] = jQuery("#ctodate").val();
        }
        if (type == 15) {

            // arr['waiterid'] = jQuery("#Select_Waiter").val();
            arr['fromdate'] = jQuery("#gfromdate").val();
            arr['todate'] = jQuery("#gtodate").val();
        }
        if (type == 16) {

            arr['waiterid'] = jQuery("#Select_Waiter").val();
            arr['fromdate'] = jQuery("#wfromdate").val();
            arr['todate'] = jQuery("#wtodate").val();
        }
        return arr;

    }

    function ExportCSV(type) {
        var arr = {};
        arr['service'] = 'reports';
        arr['opcode'] = 'exportreportData';
        arr['type'] = type;
        if(type==1){
            arr['date'] = jQuery("#txtmonth").val();
        }
        if(type==2){            
            arr['fromdate'] = jQuery("#drfromdate").val();
            arr['todate'] = jQuery("#drtodate").val();
        }
        if(type==3){
            arr['menu'] = jQuery("#select_menu").val();
            arr['category'] = jQuery("#select_category").val();
            arr['item'] = jQuery("#select_item").val();
            arr['fromdate'] = jQuery("#txtfromdate").val();
            arr['todate'] = jQuery("#txttodate").val();
        }
        if(type==4){
            arr['combo'] = jQuery("#select_combo").val();
            arr['fromdate'] = jQuery("#from_date").val();
            arr['todate'] = jQuery("#to_date").val();
        }
        if (type == 5) {
            arr['fromdate'] = jQuery("#fromdate").val();
        }
        if(type==10){
            arr['date'] = jQuery("#dsrdate").val();
        }if(type==11){
            arr['payment'] = jQuery("#Select_Payment").val();
            arr['paymenttype'] = jQuery("#Select_payment_Type").val();
            arr['fromdate'] = jQuery("#tfromdate").val();
            arr['todate'] = jQuery("#ttodate").val();
        }
        if (type == 12) {

            arr['nochargeuserid'] = jQuery("#Select_NochargeUser").val();
            arr['fromdate'] = jQuery("#nfromdate").val();
            arr['todate'] = jQuery("#ntodate").val();
        }
        if (type == 13) {

            arr['fromdate'] = jQuery("#casfromdate").val();
            arr['todate'] = jQuery("#castodate").val();
        }
        if (type == 14) {

            arr['fromdate'] = jQuery("#cfromdate").val();
            arr['todate'] = jQuery("#ctodate").val();
        }
        if (type == 15) {

            //arr['nochargeuserid'] = jQuery("#Select_Waiter").val();
            arr['fromdate'] = jQuery("#gfromdate").val();
            arr['todate'] = jQuery("#gtodate").val();
        }
        if (type == 16) {

            arr['waiterid'] = jQuery("#Select_Waiter").val();
            arr['fromdate'] = jQuery("#wfromdate").val();
            arr['todate'] = jQuery("#wtodate").val();
        }
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function(data){
            if (data.Success == 'True') {
                 download_csv(data.Data, data.Data.filename);
            }
            else {
                alertify.error(data['Message']);
            }
        });
    }

    function is_valid() {
        var error = 0;
        jQuery('.invalid').removeClass('invalid');
        jQuery('.active').find('.required').each(function () {
            if (jQuery(this).val() == "" || jQuery(this).val() == 0) {
                error = 1;
                jQuery(this).addClass('invalid');
            }
        });
        if (error == 1) {
            alertify.alert('{{langlist.LANG17}}',"{{default_langlist.LABEL_OK}}");
            return false;
        } else {
            return true;
        }
    }
    jQuery(".select_menu").change(function () {
        if (jQuery(this).val() != '') {
            var category = jQuery(this).val();
            var arr = {};
            arr['service'] = "menu_category";
            arr['opcode'] = "getCategoryList";
            arr['id'] = category;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                if (data.Success == 'True') {
                    var rec = data.Data;
                    jQuery(".select_category").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for (var i = 0; i < rec.length; i++) {
                        appendstr += '<option value="' + rec[i]['hashkey'] + '">' + rec[i]['categoryname'] +
                            '</option>';
                    }
                    jQuery(".select_category").append(appendstr);
                }
            });
        }
    });
    jQuery(".select_category").change(function () {
        if (jQuery(this).val() != '') {
            var category = jQuery(this).val();
            var arr = {};
            arr['service'] = "menu_item";
            arr['opcode'] = "getItemList";
            arr['id'] = category;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                if (data.Success == 'True') {
                    var rec = data.Data;
                    jQuery(".select_item").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for (var i = 0; i < rec.length; i++) {
                        appendstr += '<option value="' + rec[i]['hashkey'] + '">' + rec[i]['itemname'] + '</option>';
                    }
                    jQuery(".select_item").append(appendstr);
                }
            });
        }
    });

    jQuery("#select_rawcat").change(function () {
        if (jQuery(this).val() != '') {
            var rawcat = jQuery(this).val();
            var arr = {};
            arr['service'] = "rawmaterial";
            arr['opcode'] = "getRawdetailByCat";
            arr['rawcat'] = rawcat;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                if (data.Success == 'True') {
                    var rec = data.Data;
                    jQuery("#select_rawmaterial").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for (var i = 0; i < rec.length; i++) {
                        appendstr += '<option value="' + rec[i]['hashkey'] + '">' + rec[i]['name'] + '</option>';
                    }
                    jQuery("#select_rawmaterial").append(appendstr);
                }
            });
        }
    });

    jQuery("#select_type").change(function () {
        if (jQuery(this).val() != '') {
            var itemtype = jQuery(this).val();
            var arr = {};
            arr['service'] = "menu_item";
            arr['opcode'] = "geItemByType";
            arr['itemtype'] = itemtype;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                if (data.Success == 'True') {
                    var rec = data.Data;
                    jQuery("#select_ritem").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for (var i = 0; i < rec.length; i++) {
                        appendstr += '<option value="' + rec[i]['hashkey'] + '">' + rec[i]['itemname'] + '</option>';
                    }
                    jQuery("#select_ritem").append(appendstr);
                }
            });
        }
    });
    jQuery("#Select_Payment").change(function () {
        if (jQuery(this).val() != '') {
            var category = jQuery(this).val();
            var arr = {};
            arr['service'] = "reports";
            arr['opcode'] = "GetPaymentTypeList";
            arr['id'] = category;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                if (data.Success == 'True') {
                    var rec = data.Data;
                    jQuery("#Select_payment_Type").empty();
                    var appendstr = '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>';
                    for (var i = 0; i < rec.length; i++) {
                        appendstr += '<option value="' + rec[i]['lnkmasterunkid'] + '">' + rec[i]['paymenttype'] + '</option>';
                    }
                    jQuery("#Select_payment_Type").append(appendstr);
                }
            });
        }
    });
    function ResetFrm(type) {
        if (type == 2) {
            $('input[type=checkbox]').each(function()
            {
                this.checked = false;
            });
            initializeDates();
        }
        if (type == 10) {
            initializeDates();
        }
        if (type == 3) {
            jQuery("#select_menu").val(0);
            jQuery("#select_category").val(0);
            jQuery("#select_item").val(0);
            initializeDates();
        }
        if (type == 4) {
            jQuery("#select_combo").val(0);
            initializeDates();
        }
        if (type == 11) {
            jQuery("#Select_Payment").val(0);
            jQuery("#Select_payment_Type").val(0);
            initializeDates();
        }
        if (type == 12) {
            jQuery("#Select_NochargeUser").val(0);
            initializeDates();
        }
        if (type == 13) {
            initializeDates();
        }
        if (type == 14) {
            initializeDates();
        }
        if (type == 15) {
            // jQuery("#Select_Waiter").val(0);
            initializeDates();
        }
        if (type == 16) {
            jQuery("#Select_Waiter").val(0);
            initializeDates();
        }
    }

</script>
{% endblock %}