{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datepicker-->
<script type="text/javascript">
    localStorage.setItem('modulename', 'store');
    localStorage.setItem('pagename', 'leftStorepanel_tax');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.STORE}}</li>
<li class="active">{{default_langlist.TAX}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '326' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '322' in PRIVdata %}

                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" id="Add_Tax"
                                    onclick="loadaddedit('Add','')">{{langlist.LANG1}}
                            </button>
                        </div>

                        {% endif %}
                        {% if '325' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                        <!-- <div class="pull-right card-action">
                             <button class="btn btn-primary pull-left" type="button" onclick="tax();">{{langlist.LANG21}}</button>
                         </div>-->
                    </div>
                    {% if '326' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '326' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th>{{ langlist.LANG6 }}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.tax @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                {% if '327' in PRIVdata %}
                                <td>
                                    <a class="btn btn-primary" id="details" onclick="details('<@= this.hashkey @>')">{{default_langlist.VIEW_DETAILS}}</a>
                                </td>
                                {% endif %}
                                <td align="right" style="width:15%">
                                    {% if '329' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '323' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa  fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '328' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_related_records('<@=this.hashkey@>','{{ module }}')"
                                       href="javascript:void(0)" title="{{ default_langlist.REL_REC }}">
                                        <i class="fa fa-info"></i></a>
                                    </a>
                                    {% endif %}
                                    {% if '324' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{ default_langlist.DELETE }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '325' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="modal fade modal-primary in" id="taxdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" name="showmodule" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="font-family:'Oswald';"><b>{{langlist.LANG7}}</b></h4>
            </div>
            <div class="modal-body scrollbar" id="style-3">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="datatable table table-striped" cellspacing="0" width="100%" id="taxlist">
                                    <thead>
                                    <tr>
                                        <th>{{langlist.LANG8}}</th>
                                        <th>{{langlist.LANG9}}</th>
                                        <th>{{langlist.LANG10}}</th>
                                        <th>{{langlist.LANG11}}</th>
                                        <th>{{langlist.LANG12}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="detailslist">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{default_langlist.CLOSE}}</button>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="taxform" name="taxform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG4 }} </label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control integer" name="shortname" id="shortname"
                                       maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG13 }} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="taxname" id="taxname" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG14 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="appliesfrom" id="appliesfrom">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{ langlist.LANG15 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="per" class="" style="margin-bottom: 8px" name="taxrule" value="1"
                                           checked="checked" type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="per">{{ langlist.LANG16 }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="flat" class="" style="margin-bottom: 8px" name="taxrule" value="2"
                                           type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="flat">{{ langlist.LANG17 }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="amount">{{ langlist.LANG9 }}</label><span class="required"
                                                                                                     aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control decimal" name="amount" id="amount" maxlength="5">
                            </div>
                        </div>

                        <div class="form-group col-md-4 hide">
                            <label class="form-label">{{ langlist.LANG18 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="beforedisc" class="" style="margin-bottom: 8px" name="applytax" value="0"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="beforedisc">{{ langlist.LANG19
                                        }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="afterdisc" class="" style="margin-bottom: 8px" name="applytax" value="1"
                                           type="radio">
                                    <label class="iradio-label form-label" for="afterdisc">{{ langlist.LANG20 }}</label>
                                </div>
                            </div>
                        </div>
                        {% if location.country == 105 %}
                        <div class="form-group col-md-4">
                            <div class="checkbox3 checkbox-check">
                                <input id="is_gst" type="checkbox" name="is_gst" value="1">
                                <label for="is_gst">{{ langlist.LANG23 }} </label>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{ default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">{{
                                        default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{
                                        default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{ default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{ default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var lbladdstoretax = "{{langlist.LANG1}}";
    var lblstoretax = "{{langlist.LANG6}}";
    var lbledit = "{{default_langlist.EDIT}}";
    var lblerrormsg = "{{default_langlist.Missing_Field}}";
    var lblok = "{{default_langlist.OK}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("326");

    call_to_check_tax_count();
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'store_tax',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);

    }

    function call_to_check_tax_count() {
        var arr = {};
        arr['service'] = 'store_tax';
        arr['opcode'] = 'GetTaxCount';
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data['Success'] == 'True') {
                var rec = data.Data;
                if (rec.total_tax >= '4') {
                    jQuery("#Add_Tax").hide();
                }
                else {
                    jQuery("#Add_Tax").show();
                }
            }

            return false;
        });
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit + ' ' + lblstoretax);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'store_tax';
                arr['opcode'] = 'getTaxRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#shortname").val(res.shortcode);
                        jQuery("#taxname").val(res.tax);
                        jQuery("#appliesfrom").val(res.date);
                        jQuery("#amount").val(res.amount);
                        if (res.postingrule == 1) {
                            jQuery("#per").trigger("click");
                        }
                        else {
                            jQuery("#flat").trigger("click");
                        }
                        setAmtLimit();
                        if (res.taxapplyafter == 0)
                            jQuery("#beforedisc").trigger("click");
                        else
                            jQuery("#afterdisc").trigger("click");
                        if (res.is_gst == 1) {
                            jQuery("#is_gst").prop("checked", true);
                        }
                        else {
                            jQuery("#is_gst").prop("checked", false);
                        }

                        if (res.isactive == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdstoretax);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#taxform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
        call_to_check_tax_count();
    }

    jQuery("#submit").click(function () {
       /* if ($("input[name='taxrule']:checked").val() == 1 && jQuery("#amount").val() > 100) {
            jQuery("#amount").val('');
            alertify.error('{{langlist.LANG25}}');
            return false;
        }*/
        if (form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('taxform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'store_tax');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);

            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();

                } else {
                    alertify.error(data['Message']);
                }
                return false;

            });
        } else {
            alertify.alert(lblerrormsg, lblok);
        }
    });

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($("#shortname").val() == "") {
            error = 1;
            $('#shortname').addClass('invalid');
        }
        if ($("#taxname").val() == "") {
            error = 1;
            $('#taxname').addClass('invalid');
        }
        if ($("#appliesfrom").val() == "") {
            error = 1;
            $('#appliesfrom').addClass('invalid');
        }
        if ($("#amount").val() == "") {
            error = 1;
            $('#amount').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }

    function tax() {
        var arr = {};
        arr['service'] = 'store_tax';
        arr['opcode'] = 'gettaxfrompms';
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();

            if (data['Success'] == 'True') {
                alertify.success(data['Message']);

            } else {
                alertify.error(data['Message']);
            }
            return false;
        });

    }

    function details(id) {
        jQuery("#taxdetails").modal('show');
        $('#detailslist').empty();
        var arr = {};
        arr['service'] = 'store_tax';
        arr['opcode'] = 'getDetailsRec';
        arr['id'] = id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (res) {
            var objData = res['Data'];
            if (objData.length > 0) {
                $('#taxlist').show();
                for (var i = 0; i < objData.length; i++) {
                    $('#detailslist').append('<tr><td>' + res['Data'][i]['tax_date'] + '</td><td>' + res['Data'][i]['amount'] + '</td><td>' + res['Data'][i]['entry_date'] + ' ' + res['Data'][i]['entry_time'] + '</td><td>' + res['Data'][i]['TA'] + '</td><td>' + res['Data'][i]['PT'] + '</td></tr>');
                }
            }
        });
    }

    function setAmtLimit() {
        if (jQuery('#per').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 5);
        }
        if (jQuery('#flat').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 10);
        }
    }

    jQuery('#appliesfrom').datepicker({
        startDate: '+0d',
        autoclose: true,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    function synctax() {
        alertify.confirm("Are you sure? You want to Sync Tax.", function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'store_tax';
                arr['opcode'] = 'synctaxfromtabinsta';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
        });
    }
</script>
{% endblock %}
