{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'store_settings');
    localStorage.setItem('pagename', 'leftpanel_storelanguagesettings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.STORESETTINGS}}</li>
<li class="active">{{ default_langlist.DISPLAYSETTINGS }}</li>
{% endblock %}
{% block content %}
<div class="side-body" id="hotel-profile">
    <form name="LangSetForm" id="LangSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            {% set PRIVdata = PRIVLIST|split(',') %}
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            {% if '406' in PRIVdata %}
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">{{ default_langlist.SEARCH_CRITERIA }}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <form action="" method="post" >
                                        <div class="form-group marginbottomzero">
                                            <div class="col-xs-12 col-md-5">
                                                <label class="col-sm-4 control-label textalignleft paddingzero" for="select_module">{{ langlist.LANG1 }}</label>
                                                <div class="col-sm-8 paddingzero marginbottom5">
                                                    <select class="form-control" name="select_module" id="select_module">
                                                        <option value="0">{{ default_langlist.PLEASE_SELECT }}</option>
                                                        <option value="storedefault">{{ default_langlist.DFLT_LABELS }}</option>
                                                        <option value="store_salutation">{{ default_langlist.SALUTATIONS }}</option>
                                                        <option value="AuthorizeReceivedindent">{{ default_langlist.INV_LBL }}</option>
                                                        <option value="unit">{{ default_langlist.UNIT }}</option>
                                                        <option value="vendor">{{ default_langlist.VENDOR }}</option>
                                                        <option value="tax">{{ default_langlist.TAX }}</option>
                                                        <option value="raw_category">{{ default_langlist.RAWMATERIALCATEGORY }}</option>
                                                        <option value="rawmaterial">{{ default_langlist.RAWMATERIAL }}</option>
                                                        <option value="forwardindent">{{ default_langlist.INDENTREQUEST }}</option>
                                                        <option value="received_indent">{{ default_langlist.RECEIVEDINDENT }}</option>
                                                        <option value="issue_voucher">{{ default_langlist.ISSUEVOUCHER }}</option>
                                                        <option value="Generatevoucher">{{default_langlist.GEN_VOUCHER}}</option>
                                                        <option value="received_voucher">{{default_langlist.RECEIVEDVOUCHER}}</option>
                                                        <option value="purchaseorder">{{default_langlist.PURCHASEORDER}}</option>
                                                        <option value="good_receipt_note">{{default_langlist.GOODRECEIPTNOTE}}</option>
                                                        <option value="goodsreturn">{{default_langlist.GOODSRETURN}}</option>
                                                        <option value="physicalinventorytracking">{{default_langlist.PHYSICALINVENTORYTRAKING}}</option>
                                                        <option value="inventoryadjustment">{{default_langlist.INVENTORYADJUSTMENT}}</option>
                                                        <option value="inventoryconsumption">{{default_langlist.INVENTORYCONSUMPTION}}</option>
                                                        <option value="inventorywastage">{{default_langlist.INVENTORYWASTAGE}}</option>
                                                        <option value="store_settings">{{default_langlist.DISPLAYSETTINGS}}</option>
                                                        <option value="displaysettings">{{default_langlist.DIS_SETTING_ACTIVITY}}</option>
                                                        <option value="indentnumbering">{{default_langlist.INDENTNUMBERING}}</option>
                                                        <option value="storelanguagesettings">{{default_langlist.LANGUAGESETTINGS}}</option>
                                                        <option value="storereports">{{default_langlist.REPORTS}}</option>
                                                        <option value="store_Reset">{{default_langlist.RESET_TYPE}}</option>
                                                        <!--{% for key,value in store_modules %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                        {% endfor %}-->

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 text-right">
                                                <button class="btn btn-primary " type="button" onclick="doSearch()">{{ default_langlist.SEARCH }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if '406' in PRIVdata %}
                    <form action="" name="LangSet_form" id="LangSet_form">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="datatable table table-striped marginbottomzero" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="50%">{{ langlist.LANG2 }}</th>
                                            <th width="50%">{{ langlist.LANG3 }}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="norecord" style="display:none">
                                        <i class="fa fa-meh-o"></i>
                                        <br> {{ default_langlist.NO_RECORDS }}
                                    </div>
                                    <div class="roomrate-table">
                                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                                            <script id="tmpl" type="text/x-jquote-template">
                                                <tr>
                                                    <td width="50%"><@= this.default_label @></td>
                                                    <td width="50%">
                                                        <input type="text" name="customlanglabel[<@= this.key @>]" id="customlanglabel<@= this.key @>" value="<@= this.custom_label @>" class="form-control notnull">
                                                    </td>
                                                </tr>
                                            </script>
                                            <tbody id="lang_labels_list">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group body-footer-table">
                                        {% if '407' in PRIVdata %}
                                        <button type="button" id="btnsubmit" class="btn btn-primary mr10">{{ default_langlist.SUBMIT }}</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        jQuery("#lang_labels_list").empty();
        jQuery("#LangSet_form").show();
        recnofound();

    });
    jQuery('#btnsubmit').click(function()
    {
        var myForm = document.getElementById('LangSet_form');
        var formdata = new FormData(myForm);
        formdata.append('service', 'storelanguagesettings');
        formdata.append('opcode', 'updateCustomLangLabel');
        formdata.append('module_name', jQuery("#select_module").val());
        showjQloading();
        HttpSendRequest(formdata, function (data) {
            hidejQloading();
            if(data.Success=='True')
            {
                alertify.success(data.Message);
            }
            else
            {
                alertify.error(data.Message);
            }
        });
    });
    function doReset() {
        jQuery("#select_module").val(0);
        doSearch();
    }
    function recnofound() {
        jQuery(".roomrate-table").hide();
        jQuery(".norecord").show();
        jQuery("#btnsubmit").hide();
    }
    function displayrecord() {
        jQuery(".roomrate-table").show();
        jQuery(".norecord").hide();
        jQuery("#btnsubmit").show();
    }
    function doSearch() {
        jQuery("#lang_labels_list").empty();
        jQuery("#LangSet_form").show();
        showjQloading();
        var arr = {};
        arr['service'] = "storelanguagesettings";
        arr['opcode'] = "loadLangParameters";
        arr['module_name'] = jQuery("#select_module").val();
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data.Success == 'True') {
                var res = data['Data'];
                if (res.length > 0) {
                    displayrecord();
                    jQuery("#lang_labels_list").jqoteapp("#tmpl", eval(res));
                } else {
                    recnofound();
                }
            }
            else
            {
                recnofound();
                alertify.error(data.Message);
            }
        });
    }
</script>
{% endblock %}