<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{data.Title}} - {{data.doc_num}}  {% if type == '1' %} {% if data.VoucherNum !='' %}  |   {{data.VoucherNum}}  {% endif %}{% endif %}</h4>
        </div>
        <div class="col-xs-12 modal-body">
            <div class="card">

                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.VOUCHER}} {{default_langlist.NO}}
                </b> : {{data.doc_num}}</label>
                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.VOUCHER}} {{default_langlist.DATE}}
                </b> : {{data.Date}}</label>
                {% if type == '0' %}
                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.RECEIVING_STORE}}
                </b> : {{data.RStore}}</label>
                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.ISSUING_STORE}}
                </b> : {{data.Cstore}}</label>
                {% else %}
                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.VENDOR}}
                </b> : {{data.Vendor_Business}}</label>
                <label class="col-sm-6 control-label textalignleft paddingzero"><b>{{default_langlist.VENDOR}}
                </b> : {{data.Vendor_Name}}</label>
                {% endif %}
                <table class="datatable table table-striped" cellspacing="0" width="100%" style="margin-bottom: 0px;table-layout: fixed">
                    <thead>
                    <tr>
                        <th width="5%">{{default_langlist.NO}}</th>
                        <th width="15%">{{default_langlist.ITEM}}</th>
                        <th width="5%">{{default_langlist.UNIT}}</th>
                        <th width="10%">{{default_langlist.RATE}}</th>
                        <th width="10%">{{default_langlist.QUNTITY}}</th>
                        {% if type == '1' %}
                        <th width="10%" style="text-align: right">{{default_langlist.DISCOUNT}}</th>
                        <th width="30%" style="text-align: center">{{default_langlist.TAX}}</th>
                        {% endif %}
                        <th width="15%" style="text-align: right;">{{default_langlist.TOTAL_PRICE}}</th>
                    </tr>
                    </thead>
                </table>
                <div style="max-height: 375px; overflow-y: auto;">
                    <table class="datatable table table-striped" cellspacing="0" width="100%" style="table-layout: fixed;">
                        <tbody>
                        {% set i = 1 %}
                        {% for key,value in data.detail %}
                        <tr>
                            <td width="5%">{{i}}</td>
                            <td width="15%">{{value.Item}}</td>
                            <td width="5%">{{value.Unit}}</td>
                            <td width="10%">{{value.rate}}</td>
                            <td width="10%">{{value.qty}}</td>
                            {% if type == '1' %}
                            <td width="10%" style="text-align: center;">{{value.discount_amount}}</td>
                            <td width="30%" style="text-align: left;">{{value.tax_description}}</td>
                            {% endif %}
                            <td width="15%" style="text-align: right;">{{value.Amount}}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% endfor %}
                        <tr>
                            {% if type == '0' %}
                            <td colspan="6"><b>{{default_langlist.REMARKS}} : </b> {{data.remarks}}</td>
                            {% else %}
                            <td colspan="11"><b>{{default_langlist.REMARKS}} : </b> {{data.remarks}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align: right;"><b>{{default_langlist.GRAND_TOTAL}} : </b></td>
                            {% if type == '0' %}
                            <td style="text-align: right;">{{data.grandTotal}}</td>
                            {% else %}
                            <td style="text-align: center;">{{data.Discounttotal}}</td>
                            <td style="text-align: center;">{{data.Tax_Total}}</td>
                            <td style="text-align: right;">{{data.grandTotal}}</td>
                            {% endif %}

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
