{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/Chart.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/chartjs.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename','dashboard');
    localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
<li class="active">{{default_langlist.DASHBOARD}}</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="row">

        </div>
    </div>
</div>
<script type="text/javascript">
    var data = "{{ accountdata }}";
    var data_enc = $('<textarea />').html(data).text();
    var data_arr = JSON.parse(data_enc);
    setChainToLocal('{{chain_list}}');
    localStorage.setItem('POS_CONFIG_UName',data_arr['uname']);
    localStorage.setItem('POS_CONFIG_LName', "{{ lname|convert_encoding('UTF-8', 'HTML-ENTITIES') }} ");
    localStorage.setItem('POS_CONFIG_SID', "{{ sid }}");
    localStorage.setItem('POS_CONFIG_LID', "{{ lid }}");
    localStorage.setItem('POS_CONFIG_CID', "{{ cid }}");
    setCommonHeader();
</script>
<style>
    .itemcardwidth20{
        width: 20% !important;
    }
</style>
{% endblock %}