{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript">
    localStorage.setItem('modulename','store_settings');
    localStorage.setItem('pagename', 'leftpanel_store_settings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.STORESETTINGS}}</li>
<li class="active">{{ default_langlist.DISPLAYSETTINGS }}</li>
{% endblock %}
{% block content %}
<div class="side-body" id="hotel-profile">
    <form name="StoreSetForm" id="StoreSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            {% set PRIVdata = PRIVLIST|split(',') %}
                            <div class="card-header" style="margin-bottom: 15px;">
                                <div class="card-title">
                                    <span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
                                </div>
                                {% if '398' in PRIVdata %}
                                <div class="pull-right card-action">
                                    <button class="btn btn-primary pull-left" type="button" onclick="displaysettings_activity('displaysettings')">{{ default_langlist.VIEW_LOGS }}</button>
                                </div>
                                {% endif %}
                            </div>
                            {% if '397' in PRIVdata %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG2 }}</label>
                                        <div class="controls">
                                            <select name="select_time_format" id="select_time_format" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in default_timeformat %}
                                                <option value="{{ key }}" {% if(key==datalist.timeformat)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG3 }}</label>
                                        <div class="controls">
                                            <select name="select_date_format" id="select_date_format" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in default_dateformat %}
                                                <option value="{{ key }}" {% if(key==datalist.dateformat)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG4 }}</label>
                                        <div class="controls">
                                            <select name="select_timezone" id="select_timezone" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in timezoneslist %}
                                                <option value="{{ key }}" {% if(key==datalist.timezone)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG5 }}</label>
                                        <div class="controls">
                                            <select name="select_country" id="select_country" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in countrylist %}
                                                <option value="{{ key }}" {% if(key==datalist.country)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label class="form-label" for="field-1">{{ langlist.LANG6 }}</label>
                                        <div class="controls">
                                            <select name="select_round_type" id="select_round_type"  onchange="valRoundOff('')" class="form-control">
                                                {% for key,value in roundoff %}
                                                <option value="{{ key }}" {% if(key==datalist.roundoff)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="form-label" for="field-1">{{ langlist.LANG7 }}</label>
                                        <div class="controls">
                                            <input type="text" class="form-control integer" id="txtlimit" name="txtlimit" value="" maxlength="2"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="form-label" for="field-1">{{ langlist.LANG8 }}</label>
                                        <div class="controls">
                                            <select name="select_decimal_digit" id="select_decimal_digit"  class="form-control">
                                                <option value="0" {% if(datalist.digitafterdecimal==0)%} selected {% endif %}>0</option>
                                                <option value="1" {% if(datalist.digitafterdecimal==1)%} selected {% endif %}>1</option>
                                                <option value="2" {% if(datalist.digitafterdecimal==2)%} selected {% endif %}>2</option>
                                                <option value="3" {% if(datalist.digitafterdecimal==3)%} selected {% endif %}>3</option>
                                                <option value="4" {% if(datalist.digitafterdecimal==4)%} selected {% endif %}>4</option>
                                                <option value="5" {% if(datalist.digitafterdecimal==5)%} selected {% endif %}>5</option>
                                                <option value="6" {% if(datalist.digitafterdecimal==6)%} selected {% endif %}>6</option>
                                                <option value="7" {% if(datalist.digitafterdecimal==7)%} selected {% endif %}>7</option>
                                                <option value="8" {% if(datalist.digitafterdecimal==8)%} selected {% endif %}>8</option>
                                                <option value="9" {% if(datalist.digitafterdecimal==9)%} selected {% endif %}>9</option>
                                                <option value="10" {% if(datalist.digitafterdecimal==10)%} selected {% endif %}>10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG9 }}</label>
                                        <div class="controls">
                                            <select name="select_salutation" id="select_salutation" class="form-control">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in salutations %}
                                                <option value="{{ key }}" {% if(key==datalist.salutation)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-1">{{ langlist.LANG10 }}</label>
                                        <div class="controls">
                                            <select name="select_nationality" id="select_nationality" class="form-control">
                                                {% for key,value in countrylist %}
                                                <option value="{{ key }}" {% if(key==datalist.nationality)%} selected {% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% if '399' in PRIVdata %}
                                    <div class="form-group col-md-12" style="text-align: right">
                                        <button id="submit" type="button" class="btn btn-info" onclick="updateSettings()">{{ default_langlist.SUBMIT }}</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var roundoffval =  '{{datalist.roundoff}}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";

    valRoundOff(roundoffval);
    function valRoundOff(val)
    {
        var roundOff = jQuery("#select_round_type").val();
        if (roundOff=="0" && val!=""){
            jQuery("#txtlimit").removeAttr('disabled');
            jQuery("#txtlimit").val(val);
        }
        else if(roundOff=="0" && val==""){
            jQuery("#txtlimit").removeAttr('disabled');
            jQuery("#txtlimit").val('');
        }else{
            jQuery("#txtlimit").val('');
            jQuery("#txtlimit").attr('disabled','disabled');
        }
    }

    function updateSettings()
    {
        if(validate_settings())
        {
            var myForm = document.getElementById('StoreSetForm');
            var formdata = new FormData(myForm);
            formdata.append('service','store_settings');
            formdata.append('opcode','editStoreSettings');
            formdata.append('timezone',urlencode(jQuery("#select_timezone").val()));
            showjQloading();
            HttpSendRequest(formdata, function(data){
                hidejQloading();
                if(data.Success=='True'){
                    alertify.success(data.Message);
                }else{
                    alertify.error(data.Message);
                }
            });
        }else{
            alertify.alert(lblerrormsg,lblok);
        }
    };

    function validate_settings()
    {
        var error=0;
        $(".invalid").removeClass('invalid');
        if($("#select_time_format").val()==0){
            error=1;
            $('#select_time_format').addClass('invalid');
        }
        if($("#select_date_format").val()==0){
            error=1;
            $('#select_date_format').addClass('invalid');
        }
        if($("#select_timezone").val()==0){
            error=1;
            $('#select_timezone').addClass('invalid');
        }
        if($("#select_country").val()==0){
            error=1;
            $('#select_country').addClass('invalid');
        }
        if($("#select_salutation").val()==0){
            error=1;
            $('#select_salutation').addClass('invalid');
        }
        if($("#select_nationality").val()==0){
            error=1;
            $('#select_nationality').addClass('invalid');
        }
        if(jQuery("#select_round_type").val()=="0" && $("#txtlimit").val()==""){
            error=1;
            $('#txtlimit').addClass('invalid');
        }

        if(error==1){
            return false;
        }else{
            return true;
        }
    }
</script>
{% endblock %}