{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript"
        src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/reports.css"/>
<script type="text/javascript">
    localStorage.setItem('modulename', 'storereports');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.REPORTS}}</li>
{% endblock %}
{% block content %}

<div id="list" class="container-fluid">
    <div class="side-body report-page">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    {% set PRIVdata = PRIVLIST|split(',') %}
                    {% if '403' in PRIVdata  or '404' in PRIVdata or '405' in PRIVdata %}
                    <div class="card-body clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vertical-tab-menu">
                            <div class="list-group">
                                {% if '403' in PRIVdata %}
                                <a href="#" class="list-group-item active text-center">
                                    <h4 class="glyphicon glyphicon-th-large"></h4>{{ langlist.LANG1 }}
                                </a>
                                {% endif %}
                                {% if '404' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-th-large"></h4>{{ langlist.LANG7 }}
                                </a>
                                {% endif %}
                                {% if '405' in PRIVdata %}
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-th-large"></h4>{{ langlist.LANG9 }}
                                </a>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 vertical-tab">
                            <div class="vertical-tab-content active">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG2}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="txtfromdate" class="form-control  fromdate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG3}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="txttodate" class="form-control todate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="search_grnno">{{langlist.LANG4}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="search_grnno" name="search_grnno" class="form-control"
                                                       type="text" >
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="search_voucherno">{{langlist.LANG6}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="search_voucherno" name="search_voucherno"
                                                       class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_vendor">{{ langlist.LANG5 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="select_vendor" id="select_vendor" class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in vendorlist %}
                                                    <option value="{{ value['vandorunkid'] }}">{{ value['name'] }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button"
                                                    onclick="generate_report(1);">{{default_langlist.SUBMIT}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 vertical-tab">
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG2}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="issuefromdate" class="form-control  fromdate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG3}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="issuetodate" class="form-control todate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="search_grnno">{{langlist.LANG6}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="issueno" name="issueno" class="form-control" type="text" >
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_vendor">{{ langlist.LANG8 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="issuestore" id="issuestore" class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in storelist %}
                                                    <option value="{{ value['storeunkid'] }}">{{ value['storename'] }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button"
                                                    onclick="generate_report(2);">{{default_langlist.SUBMIT}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 vertical-tab">
                            <div class="vertical-tab-content">
                                <div class="form-horizontal">
                                    <div class="form-group marginbottomzero">
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG2}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="lfromdate" class="form-control  fromdate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero">{{
                                                langlist.LANG3}}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <input id="ltodate" class="form-control todate" type="text" value="{{ current_date }}">
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_vendor">{{ langlist.LANG10 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="lcat" id="lcat" class="form-control" onchange="select_raw_material('')">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in category %}
                                                    <option value="{{ value['id'] }}">{{ value['name'] }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> <div class="col-xs-12 col-md-6">
                                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                                   for="select_vendor">{{ langlist.LANG11 }}</label>
                                            <div class="col-sm-8 paddingzero marginbottom5">
                                                <select name="litem" id="litem" class="form-control">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 text-right">
                                            <button class="btn btn-info" type="button"
                                                    onclick="generate_report(3);">{{default_langlist.SUBMIT}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery("div.vertical-tab-menu>div.list-group>a").click(function (e) {
            $('.fromdate').datepicker('setEndDate', '+0d');
            $('.todate').datepicker('setStartDate', null);
            jQuery(this).siblings('a.active').removeClass("active");
            jQuery(this).addClass("active");
            var index = jQuery(this).index();
            jQuery("div.vertical-tab>div.vertical-tab-content").removeClass("active");
            jQuery("div.vertical-tab>div.vertical-tab-content").eq(index).addClass("active");
            e.preventDefault();
        });

    });
    var EMAIL = "{{default_langlist.EMAIL}}";
    var PHONE = "{{default_langlist.PHONE}}";
    var FROM_DATE = "{{default_langlist.FROM}} {{default_langlist.DATE}}";
    var TO_DATE = "{{default_langlist.TO}} {{default_langlist.DATE}}";
    var CURRENCY_SYMBOL = "{{default_langlist.CURRENCY_SYMBOL}}";
    var SEARCH_CRT_AREA = "{{langlist.LANG12}}";
    var lblok="{{default_langlist.OK}}";

    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());

        $('.todate').datepicker('setStartDate', minDate);
    });
    var Fromdate = jQuery("#txtfromdate").val();
    jQuery('.todate').datepicker({
        autoclose: true,
        startdate: Fromdate,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    $('#tstartdate').keydown(function (e) {
        e.preventDefault();
        return false;
    });

    function clearall() {
        jQuery("#search_voucherno").val('');
        jQuery("#select_vendor").val(0);
        jQuery("#search_grnno").val('');
        jQuery('input[type="text"]').val('');
        //jQuery("#txtfromdate").val(date);
        jQuery('.invalid').removeClass('invalid');
//type2

       // jQuery("#issuefromdate").val('');
        jQuery("#issuetodate").val('');
        jQuery("#issue_voucher").val('');
        jQuery("#issuestore").val(0);

    }




    function generate_report(type) {
        if (is_valid()) {
            var arr = GetSearchParameter(type);
            var str = JSON.stringify(arr);
            load_report(str);
        }
    }

    function GetSearchParameter(type) {
        var arr = {};
        arr['service'] = 'storereports';
        arr['opcode'] = 'generatereport';
        arr['type'] = type;
       // clearall();
        if (type == 1) {
            arr['fromdate'] = jQuery("#txtfromdate").val();
            arr['todate'] = jQuery("#txttodate").val();
            arr['grnno'] = jQuery("#search_grnno").val();
            arr['voucher_no'] = jQuery("#search_voucherno").val();
            arr['vendorid'] = jQuery("#select_vendor").val();
        }
        if (type == 2) {
            arr['ifromdate'] = jQuery("#issuefromdate").val();
            arr['itodate'] = jQuery("#issuetodate").val();
            arr['ivoucher_no'] = jQuery("#issueno").val();
            arr['istoreid'] = jQuery("#issuestore").val();
        }if (type == 3) {
            arr['lfromdate'] = jQuery("#lfromdate").val();
            arr['ltodate'] = jQuery("#ltodate").val();
            arr['lcat'] = jQuery("#lcat").val();
            arr['litem'] = jQuery("#litem").val();
        }

        return arr;
    }

    function ExportCSV(type) {
        var arr = {};
        arr['service'] = 'storereports';
        arr['opcode'] = 'exportreportData';
        arr['type'] = type;
        if (type == 1) {
            arr['fromdate'] = jQuery("#txtfromdate").val();
            arr['todate'] = jQuery("#txttodate").val();
            arr['grnno'] = jQuery("#search_grnno").val();
            arr['voucher_no'] = jQuery("#search_voucherno").val();
            arr['vendorid'] = jQuery("#select_vendor").val();
        }
        if (type == 2) {
            arr['ifromdate'] = jQuery("#issuefromdate").val();
            arr['itodate'] = jQuery("#issuetodate").val();
            arr['ivoucher_no'] = jQuery("#issueno").val();
            arr['istoreid'] = jQuery("#issuestore").val();
        }if (type == 3) {
            arr['lfromdate'] = jQuery("#lfromdate").val();
            arr['ltodate'] = jQuery("#ltodate").val();
            arr['lcat'] = jQuery("#lcat").val();
            arr['litem'] = jQuery("#litem").val();
        }
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function(data){
            if (data.Success == 'True') {
                download_csv(data.Data, data.Data.filename);
            }
            else {
                alertify.error(data['Message']);
            }
        });
    }


    function is_valid() {
        var error = 0;
        jQuery('.invalid').removeClass('invalid');
        jQuery('.active').find('.required').each(function () {
            if (jQuery(this).val() == "" || jQuery(this).val() == 0) {
                error = 1;
                jQuery(this).addClass('invalid');
            }
        });
        if (error == 1) {
            alertify.alert(SEARCH_CRT_AREA,lblok);
            return false;
        } else {
            return true;
        }
    }
    function select_raw_material() {
        var rawcatid = jQuery("#lcat").val();
        jQuery('#litem').empty();
        jQuery('#litem').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        var arr = {};
        arr['service'] = "forwardindent";
        arr['opcode'] = "getrawmaterialoncategory";
        arr['rawcatid'] = rawcatid;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            var ObjData_table = data['Data'];
            for (var i = 0; i < ObjData_table.length; i++) {
                jQuery('#litem').append('<option  value="' + ObjData_table[i]['id'] + '">' + ObjData_table[i]['name'] + ' </option>');
            }

        });
    }

</script>
{% endblock %}