<div class="aTablePager" style="position:relative;">
    <div class="col-md-6 p-lr-5">
       <span class="pagerecord" style="margin-right: 0px">
           <span id="totalreccnt" class="totalreccount recordsspn" style="padding-left:5px;padding-right:5px;">{{ default_langlist.RECORDS_PER_PAGE}} </span>
           <span class="v-select input-group" style="display:inline-flex;">
               <select id="lstRecPerPage" name="lstRecPerPage" class="paginationcombo chkunCheck recperpage form-control"></select>
           </span>
       </span>
       <span class="totalrecord"><span id="pager_start"></span>-<span id="pager_end"></span> {{ default_langlist.OF}} <span class="totalcnt"></span> {{ default_langlist.RECORDS}} </span>
     </div>
     <div class="col-md-6 p-lr-5" align="right">
       <span class="pagination"> 
           <button id="p_first" class="btn btn-default pgr" type="button" ><i class="ti-angle-double-left"></i> {{ default_langlist.FIRST}}</button>
           <button id="p_prev" class="btn btn-default pgr" type="button" ><i class="ti-angle-left"></i> {{ default_langlist.PREVIOUS}}</button>
           <div class="v-select input-group" style="display:inline-flex;">
               <select id="lstGoTo" name="lstGoTo" class="paginationcombo chkunCheck form-control" ></select>
           </div>
           <button id="p_next" class="btn  btn-default pgr" type="button" ><i class="ti-angle-right"></i> {{ default_langlist.NEXT}}</button>
           <button id="p_last" class="btn  btn-default pgr" type="button" ><i class="ti-angle-double-right"></i> {{ default_langlist.LAST}}</button>
       </span>
    </div>
    <div class="clearfix"></div>
    <script>
        function setupcnt() {
            var total = parseInt(jQuery(".totalrecord .totalcnt").text());
            var pagecnt = jQuery("#lstRecPerPage").val();
            var pageno = jQuery("#lstGoTo").val()-1;
            var start = (pagecnt*pageno);
            var end = pagecnt*((pageno*1)+1);
            jQuery("#pager_start").text(start+1);
            if (total<end) {
              jQuery("#pager_end").text(total);
            }
            else{
              jQuery("#pager_end").text(end);
            }
        }
    </script>
 </div>