{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datepicker-->
<script type="text/javascript">
    localStorage.setItem('modulename', 'config');
    localStorage.setItem('pagename', 'leftpanel_tax');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CONFIGURATION}}</li>
<li class="active">{{default_langlist.TAX}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '172' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '168' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" id="Add_Tax" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if '174' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                         <!--<div class="pull-right card-action">
                             <button class="btn btn-primary pull-left" type="button" onclick="tax();">{{langlist.LANG21}}</button>
                         </div>-->
                        {% if '176' in PRIVdata %}
                        <!-- <div class="pull-right card-action">
                             {% if tablist.tabinsta_integration == 1 %}
                             <button class="btn btn-primary pull-left" type="button" onclick="synctax();">{{langlist.LANG22}}</button>
                             {% endif %}
                         </div>-->
                        {% endif %}
                    </div>
                    {% if '172' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{default_langlist.NAME}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{default_langlist.ENTER_NAME}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '172' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{default_langlist.SHORT_CODE}}</th>
                                <th>{{ default_langlist.TAX }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                {% if '173' in PRIVdata %}
                                <th>{{ langlist.LANG6 }}</th>
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.tax @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                {% if '173' in PRIVdata %}
                                <td>
                                    <a class="btn btn-primary" id="details" onclick="details('<@= this.hashkey @>')">{{default_langlist.VIEW_DETAILS}}</a>
                                </td>
                                {% endif %}
                                <td align="right" style="width:15%">
                                    {% if '171' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '169' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa  fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '175' in PRIVdata %}

                                    <a class="update_ico"
                                       onclick="check_related_records('<@=this.hashkey@>','{{ module }}')"
                                       href="javascript:void(0)" title="{{ default_langlist.REL_REC }}">
                                        <i class="fa fa-info"></i></a>

                                    </a>
                                    {% endif %}

                                    {% if '170' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{ default_langlist.DELETE }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>

                                    {% endif %}
                                    {% if '174' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="modal fade modal-primary in" id="taxdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" name="showmodule" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="font-family:'Oswald';"><b>{{langlist.LANG6}}</b></h4>
            </div>
            <div class="modal-body scrollbar" id="style-3">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="datatable table table-striped" cellspacing="0" width="100%" id="taxlist">
                                    <thead>
                                    <tr>
                                        <th>{{langlist.LANG8}}</th>
                                        <th>{{default_langlist.AMOUNT}}</th>
                                        <th>{{langlist.LANG10}}</th>
                                        <th>{{langlist.LANG11}}</th>
                                        <th>{{langlist.LANG12}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="detailslist">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{default_langlist.CLOSE}}</button>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="taxform" name="taxform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 ">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{default_langlist.SHORT_CODE}} </label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control integer" name="shortname" id="shortname"
                                       maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG13 }} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="taxname" id="taxname" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG14 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="appliesfrom" id="appliesfrom">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{ langlist.LANG15 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="per" class="" style="margin-bottom: 8px" name="taxrule" value="1"
                                           checked="checked" type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="per">{{ langlist.LANG16 }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="flat" class="" style="margin-bottom: 8px" name="taxrule" value="2"
                                           type="radio" onclick="setAmtLimit();">
                                    <label class="iradio-label form-label" for="flat">{{ langlist.LANG17 }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="amount">{{default_langlist.AMOUNT}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control decimal" name="amount" id="amount" maxlength="5">
                            </div>
                        </div>

                        <div class="form-group col-md-4 hide">
                            <label class="form-label">{{ langlist.LANG18 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="beforedisc" class="" style="margin-bottom: 8px" name="applytax" value="0"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="beforedisc">{{ langlist.LANG19
                                        }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="afterdisc" class="" style="margin-bottom: 8px" name="applytax" value="1"
                                           type="radio">
                                    <label class="iradio-label form-label" for="afterdisc">{{ langlist.LANG20 }}</label>
                                </div>
                            </div>
                        </div>
                        {% if location.country == 105 %}
                        <div class="form-group col-md-4">
                            <div class="checkbox3 checkbox-check">
                                <input id="is_gst" type="checkbox" name="is_gst" value="1">
                                <label for="is_gst">{{ langlist.LANG23 }} </label>
                            </div>
                        </div>
                        {% endif %}


                        {% if fiscal_setting == 1 %}

                        <div class="clearfix"></div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="fiscal_tax">{{ langlist.LANG34 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="fiscal_tax" name="fiscal_tax" class="form-control dropdown" style="width: 100%;">
                                    <option value="">{{ default_langlist.PLEASE_SELECT }}</option>
                                    <option value="A">{{ langlist.LANG27 }}</option>
                                    <option value="B">{{ langlist.LANG28 }}</option>
                                    <option value="C">{{ langlist.LANG29 }}</option>
                                    <option value="E">{{ langlist.LANG30 }}</option>
                                    <option value="F">{{ langlist.LANG31 }}</option>
                                    <option value="P">{{ langlist.LANG32 }}</option>
                                    <option value="N">{{ langlist.LANG33 }}</option>
                                </select>
                            </div>
                        </div>

                        {% endif %}

                        {% if zomato_setting == 1 %}

                        <div class="clearfix"></div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="zomato_tax">{{ langlist.LANG46 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="zomato_tax" name="zomato_tax" class="form-control dropdown" style="width: 100%;">
                                    <option value="">{{ default_langlist.PLEASE_SELECT }}</option>
                                    <option value="CGST_D_P_2.50">{{ langlist.LANG35 }}</option>
                                    <option value="CGST_D_P_6.00">{{ langlist.LANG36 }}</option>
                                    <option value="CGST_D_P_9.00">{{ langlist.LANG37 }}</option>
                                    <option value="KERALACESS_D_P_1.00">{{ langlist.LANG38 }}</option>
                                    <option value="MUNICIPALITYTAX_D_P_10.00">{{ langlist.LANG39 }}</option>
                                    <option value="MUNICIPALITYTAX_D_P_2.00">{{ langlist.LANG40 }}</option>
                                    <option value="MUNICIPALITYTAX_D_P_7.00">{{ langlist.LANG41 }}</option>
                                    <option value="SGST_D_P_2.50">{{ langlist.LANG42 }}</option>
                                    <option value="SGST_D_P_6.00">{{ langlist.LANG43 }}</option>
                                    <option value="SGST_D_P_9.00">{{ langlist.LANG44 }}</option>
                                    <option value="VAT_D_P_5.00">{{ langlist.LANG45 }}</option>
                                </select>
                            </div>
                        </div>

                        {% endif %}

                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{ default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">{{
                                        default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">{{
                                        default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{ default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{ default_langlist.BACK}}</button>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" >
                        <div class="col-md-12"  style="border: 1px solid black;margin-bottom: 5px;">
                            <div>
                                <label>{{langlist.LANG25}}</label>
                            </div>
                            <div class="clearfix"></div>
                            <div id="after_chkbox">

                            {% for key1,value1 in taxlist %}
                            <div class="col-md-12" >
                                <div class="checkbox3 checkbox-check" id="check_{{value1.taxunkid}}">
                                    <input class="check_{{value1.taxunkid}}" type="checkbox" value="{{value1.taxunkid}}" name="aftertaxlist[]" id="tax_{{value1.taxunkid}}" > <label for="tax_{{value1.taxunkid}}"> {{value1.tax}} </label>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("172");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

    var fiscal_setting = '{{fiscal_setting}}';
    var zomato_setting = '{{zomato_setting}}';
    call_to_check_tax_count();
    function selectType(typeval) {
        var typeval = jQuery('#unit_' + unitid).val();
        var value = jQuery('#value_' + unitid).val();
        if (typeval == 1 && value > 100) {
            jQuery('#value_' + unitid).val('');
            alertify.error('{{langlist.LANG5}}');
        }
    }

    function pageInit(data) {

        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'tax',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            $(".checkbox3").show();
            $("#after_chkbox").show();
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{langlist.LANG2}}');
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'tax';
                arr['opcode'] = 'getTaxRec';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#check_"+res.taxunkid).hide();
                        jQuery("#shortname").val(res.shortcode);
                        jQuery("#taxname").val(res.tax);
                        jQuery("#appliesfrom").val(res.date);
                        jQuery("#amount").val(res.amount);
                        if (res.postingrule == 1) {
                            jQuery("#per").trigger("click");
                        }
                        else {
                            jQuery("#flat").trigger("click");
                        }
                        setAmtLimit();
                        if (res.taxapplyafter == 0)
                            jQuery("#beforedisc").trigger("click");
                        else
                            jQuery("#afterdisc").trigger("click");
                        if (res.is_gst == 1)
                            jQuery("#is_gst").prop("checked", true);
                        else
                            jQuery("#is_gst").prop("checked", false);

                        if (res.isactive == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");

                        if(fiscal_setting == 1)
                        {
                            jQuery("#fiscal_tax").val(res.fiscal_tax);
                        }
                        if(zomato_setting == 1)
                        {
                            jQuery("#zomato_tax").val(res.zomato_tax);
                        }

                        if(res.istaxavailable==1 && res.after_tax !='undefined' && res.after_tax!='' && res.after_tax!=null){
                            var taxlist=res.after_tax;
                            var tax_array = new Array();
                            tax_array = taxlist.split(",");
                            $.each(tax_array,function(key,val){
                                $('.check_'+val).prop('checked',true);
                            });
                        }

                        if(res.istaxavailable==0){
                            $("#after_chkbox").hide();
                        }

                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{langlist.LANG1}}');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery("#per").trigger("click");
        jQuery("#beforedisc").trigger("click");
        jQuery('#taxform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
        call_to_check_tax_count();
        location.reload();
    }

    jQuery("#submit").click(function () {
       /* if ($("input[name='taxrule']:checked").val() == 1 && jQuery("#amount").val() > 100) {
           jQuery("#amount").val('');
            alertify.error('{{langlist.LANG4}}');
            return false;
        }*/
        if (form_valid()) {
            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('taxform');
            var ajaxData = new FormData(myForm);
            var tax_val = [];
            $('#after_chkbox :checkbox:checked').each(function(i){
                tax_val[i] = $(this).val();
            });
            ajaxData.append('service', 'tax');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            ajaxData.append('taxvalues', tax_val);

            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    var SuccessMessage = '';
                    if (id == 0) {
                        SuccessMessage = "{{default_langlist.REC_ADD_SUC}}";
                    }
                    else {
                        SuccessMessage = "{{default_langlist.REC_UP_SUC}}";
                    }
                    alertify.success(SuccessMessage);
                    //alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();

                } else {
                   if (data['Message'] == 'RECORD_ALREADY_EXISTS') {
                        alertify.error('{{default_langlist.RECORD_ALREADY_EXISTS}}');
                    }
                    if (data['Message'] == 'NO_TAX_CAN_BE_ADDED') {
                        alertify.error('{{langlist.LANG3}}');
                    }

                    // alertify.error(data['Message']);
                }
                return false;

            });
        } else {
           //alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
            // alertify.alert(lblerrormsg,lblok);+
        }
    });

    function form_valid() {
        var error = 0;
        $('.invalid').removeClass('invalid');

        if ($("#shortname").val() == "") {
            error = 1;
            $('#shortname').addClass('invalid');
        }
        if ($("#taxname").val() == "") {
            error = 1;
            $('#taxname').addClass('invalid');
        }
        if ($("#appliesfrom").val() == "") {
            error = 1;
            $('#appliesfrom').addClass('invalid');
        }
        if ($("#amount").val() == "") {
            error = 1;
            $('#amount').addClass('invalid');
        }
        if(fiscal_setting == 1)
        {
            if ($("#fiscal_tax").val() == "") {
                error = 1;
                $("#fiscal_tax").addClass('invalid');
            }
        }
        if(zomato_setting == 1)
        {
            if ($("#zomato_tax").val() == "") {
                error = 1;
                $("#zomato_tax").addClass('invalid');
            }
        }

        if (error == 1)
            return false;
        else
            return true;
    }

    function tax() {
        var arr = {};
        arr['service'] = 'tax';
        arr['opcode'] = 'gettaxfrompms';
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data['Success'] == 'False') {
                alertify.error(data['Message']);
            }
            return false;
        });

    }

    function details(id) {
        jQuery("#taxdetails").modal('show');
        $('#detailslist').empty();
        var arr = {};
        arr['service'] = 'tax';
        arr['opcode'] = 'getDetailsRec';
        arr['id'] = id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (res) {
            var objData = res['Data'];
            if (objData.length > 0) {
                $('#taxlist').show();
                for (var i = 0; i < objData.length; i++) {
                    $('#detailslist').append('<tr><td>' + res['Data'][i]['tax_date'] + '</td><td>' + res['Data'][i]['amount'] + '</td><td>' + res['Data'][i]['entry_date'] + ' ' + res['Data'][i]['entry_time'] + '</td><td>' + res['Data'][i]['TA'] + '</td><td>' + res['Data'][i]['PT'] + '</td></tr>');
                }
            }
        });
    }

    function setAmtLimit() {
        if (jQuery('#per').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 5);
        }
        if (jQuery('#flat').is(':checked') == true) {
            jQuery("#amount").attr("maxlength", 10);
        }
    }


    jQuery('#appliesfrom').datepicker({
        startDate: '+0d',
        autoclose: true,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    function synctax() {
        alertify.confirm("Are you sure? You want to Sync Tax.", function (e) {
            if (e) {
                showjQloading();
                var arr = {};
                arr['service'] = 'tax';
                arr['opcode'] = 'synctaxfromtabinsta';
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (data) {
                    hidejQloading();
                    if (data.Success == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    }
                    else {
                        alertify.error(data['Message']);
                    }
                });
            }
        });
    }
    function call_to_check_tax_count() {
        var arr = {};
        arr['service'] = 'store_tax';
        arr['opcode'] = 'GetTaxCount';
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data['Success'] == 'True') {
                var rec = data.Data;
                if (rec.total_tax >= '4') {
                    jQuery("#Add_Tax").hide();
                }
                else {
                    jQuery("#Add_Tax").show();
                }
            }

            return false;
        });
    }
</script>
{% endblock %}