{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_terminallist');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.TERMINAL}}</li>

{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist['SEARCH_CRITERIA']}}</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{ langlist.LANG2 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{ langlist.ENTER_NAME }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG2 }}</th>

                                <th>{{ default_langlist.CREATED_BY }}</th>
                                <th>{{ default_langlist.MODIFIED_BY }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.terminalname @>
                                </td>

                                <td>
                                    <@=this.created_user @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modified_user @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">

                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <input type="hidden" id="status_<@=this.hashkey@>" value="<@=this.is_active@>"/>
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-remove"></i>
                                        <@ } @>
                                    </a>

                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.LABEL_OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="update_ico"
                                       onclick="check_related_items('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>

                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="txtform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="terminalname">{{langlist.LANG2}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="terminalname" id="terminalname"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 multi-field-wrapper">
                            <label class="form-label" for="ipadd">{{langlist.LANG6}}</label><span class="required"
                                                                                                  aria-required="true"> *</span>
                            <div class="controls mmmname multi-field">
                                <input type="text" class="form-control  notnull" name="ipadd[]" id="ipadd"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="select_device">{{langlist.LANG3}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select name="select_device[]" id="select_device" class="form-control dropdown">
                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                    <option value="1">{{langlist.LANG4}}</option>
                                    <option value="2">{{langlist.LANG5}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label"
                                           for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label"
                                           for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>


                        <i class="fa fa-plus add-field" style="font-size:24px" aria-hidden="true"></i>
                        <div class="controls col-md-12 " id="repedi">

                        </div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">

                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<style type="text/css">
    .flat-blue .table > tbody > tr > td {
        color: #627279;
    }
</style>

<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2018-02-18";
    var data = cleanstring("{{ datalist }}");


    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);


    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'terminal',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);

            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit Terminal');
                jQuery("#id").val(id);
                var arr = {};
                arr['service'] = 'terminal';
                arr['opcode'] = 'editterminallist';
                arr['id'] = id;
                jQuery(".edit_hide").hide();
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#select_device").val(res.lnkdevicetype);
                        jQuery("#ipadd").val(res.ip);
                        jQuery("#terminalname").val(res.terminalname);

                        var devicetype= res.A;
                        var dt=devicetype.split(',');
                        var ipaddress= res.B;
                        var str ='';
                        var did = 0;
                        jQuery("#repedi").empty();
                        var ip =ipaddress.split(',');
                        for (var i = 0; i < dt.length; i++) {

                            var mmii = dt[i];
                            var a=ip[i];

                            str=
                                '<div class="col-md-5 paddingzero marginbottom5 multi-fields" id="dummy_' + did + '">' +
                            '<div class="col-sm-9 paddingzero marginbottom5 multi-field mmmname"> ' +
                            '<input class="form-control notnull" maxlength="100" id="ipadd" name="ipadd[]" value = "' + ip[i]+'" type="text"/> ' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group  col-md-5 paddingzero marginbottom5 multi-fields"  style="margin-left: -70px;" id="sele_' + mmii + ' ">' +
                            '<div class="controls col-sm-9 paddingzero marginbottom5 multi-field">   ' +
                            '<select name="select_device[]" id="select_device" class="form-control dropdown">  ' +
                            '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option> ' +
                            '<option value="1" ';
                                if(mmii == 1){
                                    str+='selected="selected"';
                                }
                            str+='>{{langlist.LANG4}}</option>' +
                            '<option value="2" ';
                                if(mmii == 2){
                                    str+='selected="selected"';
                                }
                            str+='>{{langlist.LANG5}}</option>' +
                            '</select>' +
                            '</div>  ' +
                            '<i class="fa fa-remove remove-field" onclick="removediv(' + did + ')"  style="font-size:24px"></i> ' +

                            '</div> ';

                            jQuery("#repedi").append(str);
                        }

                        if (res.is_active == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add Terminal');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        $("#select_device").removeAttr('disabled');
        $("#txtcode").removeAttr('disabled');
        $("#txtrate").removeAttr('disabled');
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form("txtform")) {
            /* var input = jQuery("#ipadd").val();
             var regex = /^(25[0-5]|2[0-4][0-9]|[0-1][0-9]{2}|[0-9]{2}|[0-9])(\.(25[0-5]|2[0-4][0-9]|[0-1][0-9]{2}|[0-9]{2}|[0-9])){3}$/;
             if (!regex.test(input)) {
                 error = 1;
                 $("#ipadd").addClass('invalid');
                 alertify.alert('Please Provide a proper IP address');
             }
             else {*/


            showjQloading();
            var id = jQuery("#id").val();
            pageno=1;
            pagereset=true;
            if(id!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var myForm = document.getElementById('txtform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'terminal');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);

            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
            //}
        }
        else {
            alertify.alert('Please fill necessary information');
        }
    });

    var did = 0;
    $(".add-field").click(function () {

        if (jQuery("#ipadd").val() == "" && jQuery("#select_device").val() == 0) {
            $("#ipadd").addClass('invalid');
            $("#select_device").addClass('invalid');
        }
        if (jQuery("#select_device").val() == 0 && jQuery("#ipadd").val() == "") {
            $("#ipadd").addClass('invalid');
            $("#select_device").addClass('invalid');
        }
        else {
            $("#ipadd").removeClass('invalid');
            jQuery(".add-field").hide();
            $("#select_device").removeClass('invalid');

            if (did > 0) {
               // jQuery(".add-field").hide();
                alertify.alert("Please enter above Data");
            }
            else {
                var str = '';
                did++;
                str +=
                    '<div class="col-md-5 paddingzero marginbottom5 multi-fields" id="dummy_' + did + '">' +
                    '<div class="col-sm-9 paddingzero marginbottom5 multi-field mmmname"> ' +
                    '<input class="form-control notnull" maxlength="100" id="ipadd" name="ipadd[]"  type="text"/> ' +

                    '</div>' +
                    '</div>' +
                    '<div class="form-group  col-md-5 paddingzero marginbottom5 multi-fields"  style="margin-left: -70px;" id="sele_' + did + ' ">' +
                    '<div class="controls col-sm-9 paddingzero marginbottom5 multi-field">   ' +
                    '<select name="select_device[]" id="select_device" class="form-control dropdown">  ' +
                    '<option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option> ' +
                    '<option value="1">{{langlist.LANG4}}</option>' +
                    '<option value="2">{{langlist.LANG5}}</option>' +
                    '</select>' +
                    '</div>  ' +
                    '<i class="fa fa-remove remove-field" onclick="removediv(' + did + ')"  style="font-size:24px"></i> ' +

                '</div> '

                jQuery("#repedi").append(str);
            }

        }
    });

    function removediv(id) {
        $('#dummy_' + id + ' ').remove();
        $('#sele_' + id + ' ').remove();
    }


</script>
{% endblock %}




