
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="recipe_div" >
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header" style="margin-bottom: 15px;">
                            <div class="card-title">
                                <span id="frmtitle" class="title">{{ langlist.LANG22 }}</span>
                            </div>
                        </div>
                        <div>
                            <div class="tab-content" >
                                <div class="tab-pane active" id="attributes">
                                    <div class="form-group">
                                        <label class="form-label" for="rawmaterial">{{ langlist.LANG23 }}</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->