{% extends 'base.html' %} {% block headblock %}

<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_translate_language');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{default_langlist.TRANSLATE_LANGUAGES}}</li>
{% endblock %}
{% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}
<style>
    thead tr th:first-child,
    tbody tr td:first-child {
        width: 16em;
        min-width: 16em;
        max-width: 16em;
    }
</style>
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName">{{default_langlist.PLEASE_SELECT}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select id="exampleInputName" name="exampleInputName" class="form-control" type="text" >
                                            <option value="0">{{default_langlist.MENU_ITEM}}</option>
                                            <option value="1">{{default_langlist.MODIFIER}}</option>
                                            <option value="2">{{default_langlist.MODIFIER_ITEM}}</option>
                                            <option value="3">{{default_langlist.COMBO_PRODUCT}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2 text-right">
                                    <button class="btn btn-info" id="searchbtn" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                </div>
                                <br>
                                <div class="col-xs-12 col-md-8 text-right" id="translate_column_field" style="height:450px;overflow-y:scroll;width: 100%;overflow-x: scroll">

                                </div>
                                <div class="col-xs-12 col-md-12 text-right" id="translate_button" >
                                    <button id="submit" class="btn btn-info" style="display: none">{{default_langlist.SUBMIT}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var name_item='{{langlist.LANG1}}';
    doSearch();
    jQuery("#submit").click(function () {
        if (validate_form('language_tran_form')) {

            showjQloading();

            var id = jQuery("#id").val();

            var myForm = document.getElementById('language_tran_form');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'translate_language');
            ajaxData.append('opcode', 'addeditfrm');
            HttpSendRequest(ajaxData,function(data)
            {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                } else {
                    alertify.error(data['Message']);
                }

                return false;
            });
        } else {
            alertify.alert('{{default_langlist.PLEASE_FILL_NECESSARY_INFORMATION}}','{{default_langlist.LABEL_OK}}');
        }
    });

    function doSearch() {
        var arr = {};
        var search_type=$('#exampleInputName').val();
        arr['service'] = 'translate_language';
        arr['opcode'] = 'gettranslateLanguageRec';
        arr['search_as'] =search_type;

        var str = urlencode(JSON.stringify(arr));
        $('#searchbtn').prop('disabled',true);
        HttpSendRequest(str, function (recObj) {
            showjQloading();
            $('#submit').hide();
            if (recObj.Success == 'True') {
                var appendhtml = '<form name="language_tran_form" id="language_tran_form"><table class="datatable table table-striped">' +
                    '<thead><tr>' +
                    '<th style="text-align: center">' + name_item + '</th>';
                if(typeof recObj.TRANSLATE_LANGUAGES != 'undefined' && recObj.TRANSLATE_LANGUAGES != '' && recObj.TRANSLATE_LANGUAGES != null) {
                    jQuery.each(recObj.TRANSLATE_LANGUAGES, function (k,v) {
                        appendhtml+='<th style="text-align: center">' +name_item+ ' (' + v + ')</th>';
                    });
                }

                appendhtml+='</tr></thead><tbody>';
                if (typeof recObj.Data != 'undefined' && recObj.Data != '' && recObj.Data != null) {
                    $('#submit').show();
                    jQuery.each(recObj.Data, function (k,v) {
                    appendhtml+='<tr><td style="text-align: left;" id="'+v.id+'_'+search_type+'_default_'+v.companyid+'_'+v.locationid+'">'+v.name+'</td>' ;
                        jQuery.each(recObj.TRANSLATE_LANGUAGES, function (k1,v1) {
                            appendhtml+='<td style="text-align: center"><input class="form-group" type="text" style="margin: 1px;" maxlength="50" name="'+v.id+'_'+search_type+'_'+k1+'_'+v.companyid+'_'+v.locationid+'" id="'+v.id+'_'+search_type+'_'+k1+'_'+v.companyid+'_'+v.locationid+'"></td>';
                        });
                        appendhtml+='</tr>';
                    });
                }
                    appendhtml+='</tbody>' +
                    '</table></form>';


                $('#translate_column_field').html(appendhtml);


                setTimeout(function () {
                    gettranslatedata(search_type);
                },500);
            }
        });
    }


    function gettranslatedata(id) {
        var arr = {};
        var search_type = id;
        arr['service'] = 'translate_language';
        arr['opcode'] = 'getTLanguagedata';
        arr['id'] = search_type;
        var str = urlencode(JSON.stringify(arr));
        $('#searchbtn').prop('disabled',false);
        HttpSendRequest(str, function (recObj) {
            hidejQloading();
            if (recObj.Success == 'True') {
                if (typeof recObj.Data != 'undefined' && recObj.Data != '' && recObj.Data != null) {
                    jQuery.each(recObj.Data, function (k, v) {
                        $('#'+v.key_name).val(v.key_value);
                    });
                }
            }

        });
    }

</script>
{% endblock %}