{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename','store');
    localStorage.setItem('pagename', 'leftpanel_vendor');
</script>			
{% endblock %} {% block headerblock %}
<li>{{default_langlist.STORE}}</li>
<li class="active">{{default_langlist.VENDOR}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        {% if '210' in PRIVdata %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if '320' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{ langlist.LANG1 }}</button>
                        </div>
                        {% endif %}
                        {% if '212' in PRIVdata %}
						<div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}</button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '210' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">{{default_langlist.SEARCH}}</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">{{default_langlist.RESET}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '210' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ langlist.LANG2 }}</th>
                                    <th>{{ langlist.LANG4 }}</th>
                                    <th>{{ langlist.LANG10 }}</th>
									<th>{{default_langlist.CREATED_BY}}</th>
									<th>{{default_langlist.MODIFIED_BY}}</th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
								
                                <td>
                                    <@=this.name @>
                                </td>
                                <td>
                                    <@=this.business_name @>
                                </td>
								<td>
									<@=this.mobile @>
								</td>
                               <td>
									<@=this.createduser @> <br/>
									<@=this.created_date @>
								</td>
								<td>
									<@=this.modifieduser @> <br/>
									<@=this.modified_date @>
								</td>
                                <td align="right" style="width:15%">
                                    {% if '209' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactivebycompany('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')" href="javascript:void(0)"  title="{{default_langlist.STATUS}}">

                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
								    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if '207' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')" href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if '321' in PRIVdata %}
                                    <a class="update_ico" onclick="removebycompany('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')" title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if '213' in PRIVdata %}
                                    <a class="update_ico" onclick="check_related_record('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.REL_REC}}">
                                        <i class="fa fa-info"></i></a>
                                    {% endif %}
                                    {% if '212' in PRIVdata %}
                                    <a class="update_ico" onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')">
                                     <i class="fa fa-eye" title="{{default_langlist.ACTIVITY}}"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="vendorform" name="vendorform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="vendorid" name="vendorid" value="0" />
                            <input type="hidden" id="contactid" name="contactid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="col-md-12">
                            <label class="form-label" for="name">{{ langlist.LANG2 }}</label><span class="required" aria-required="true"> *</span>
                            </div>
                            <div>

                            <select class="form-control col-md-4 dropdown" name="salutation" id="salutation" style="width: 30%; display: inline-block">
                                {% for key,value in salutations %}
                                <option value="{{ key }}" {% if(key==dataarray.salutation)%} selected {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="255">
                            </div>
                        </div>
						
						<div class="form-group col-md-4">
                            <label class="form-label" for="company">{{ langlist.LANG4 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="company" id="company" maxlength="255">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="email">{{ langlist.LANG13 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control email notnull" name="email" id="email" maxlength="255">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="adress">{{ langlist.LANG5 }}</label>
                            <div class="controls">
                                <textarea id="address" class="form-control" name="address" type="text" placeholder="" rows="2" maxlength="255"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="form-label" for="country">{{ langlist.LANG9 }}</label>
                            <div class="controls">
                                <select name="country" id="country" class="form-control">
                                    <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                    {% for key,value in countrylist %}
                                    <option value="{{ key }}"  {% if(key==dataarray.country)%} selected {% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <label>{{ langlist.LANG7 }}</label>
                            <div>
                                <input id="state" class="form-control" type="text" name="state" placeholder="{{ langlist.LANG7 }}" style="width:32%;display: inline-block;" maxlength="50">
                                <input id="city" class="form-control" type="text" name="city" placeholder="{{ langlist.LANG6 }}" style="width:32%;display: inline-block;" maxlength="50">
                                <input id="zip" class="form-control" type="text" name="zip" placeholder="{{ langlist.LANG8 }}" style="width:31%;display: inline-block;" maxlength="50">
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="mobile">{{ langlist.LANG10 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input id="mobile" name="mobile" class="form-control integer notnull" type="text" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="phone">{{ langlist.LANG11 }}</label>
                            <div class="controls">
                                <input id="phone" name="phone" class="form-control integer" type="text" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="fax">{{ langlist.LANG12 }}</label>
                            <div class="controls">
                                <input id="fax" name="fax" class="form-control integer" type="text"  maxlength="20">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="reg_no">{{ langlist.LANG14 }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input id="reg_no" name="reg_no" class="form-control notnull" type="text" maxlength="15">
                            </div>
                        </div>

						<div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
								<div class="radio3 radio-check radio-inline">
									<input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
									<label class="iradio-label form-label" for="active">{{default_langlist.ACTIVE}}</label>
								</div>
								<div class="radio3 radio-check radio-inline">
									<input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
									<label class="iradio-label form-label" for="inactive"> {{default_langlist.INACTIVE}}</label>
								</div>
                            </div>
                        </div>

					    <div class="clearfix"></div>
                            <div class="form-group" style="text-align: right;margin-right: 15px;">
                                <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                                <a onclick="refreshaddedit();">
                                    <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                                </a>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
	var aTableConfig = {};
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
    var lbladdvendor="{{langlist.LANG1}}";
    var lblvendor="{{langlist.LANG15}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";
    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');
    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("210");
    if (CHECK_PERMISSION_EXISTS != -1) {
        pageInit(newjson);
    }

		
    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'vendor',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function check_related_record(id,module)
    {
        try
        {
            var arr = {};
            arr['service']= 'vendor';
            arr['opcode']= 'getRelatedRecords';
            arr['id']= id;
            arr['module']= module;
            var str = urlencode(JSON.stringify(arr));
            if (arr['id'] !='') {
                HttpSendRequest(str,function(data){
                    jQuery("#modalPrimary").html(data['data']);
                    jQuery("#modalPrimary").modal('show');
                });
            }
        }
        catch(e)
        {
            alert(e);
        }
    }

    function loadaddedit(action, id)
	{
        try
		{
			refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text(lbledit+' '+lblvendor);
				jQuery("#vendorid").val(id);
				var arr = {};
				arr['service']= 'vendor';
				arr['opcode']= 'getVendorRec';
				arr['vendorid']= id;
                jQuery(".edit_hide").hide();
				var str = urlencode(JSON.stringify(arr));				
				HttpSendRequest(str, function(recObj)
				{
					if (recObj.Success == 'True')
					{
					    var res = recObj.Data;
                        jQuery("#contactid").val(res.contactkey);
                        jQuery("#salutation").val(res.salutation);
						jQuery("#name").val(res.name);
                        jQuery("#company").val(res.business_name);
                        jQuery("#email").val(res.email);
                        jQuery("#address").val(res.address);
                        jQuery("#country").val(res.country);
                        jQuery("#state").val(res.state);
                        jQuery("#city").val(res.city);
                        jQuery("#zip").val(res.zip);
                        jQuery("#mobile").val(res.mobile);
                        jQuery("#phone").val(res.phone);
                        jQuery("#fax").val(res.fax);
                        jQuery("#reg_no").val(res.reg_no);
                        $('input:radio[name="rdo_status"]').filter('[value='+res.is_active+']').prop('checked', true);
					}
                });
            }
			else{
				jQuery("#frmtitle").text(lbladdvendor);
				jQuery("#vendorid").val('0');
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit()
	{
		jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
		jQuery("#per").trigger("click");
		jQuery("#beforedisc").trigger("click");
        jQuery('#vendorform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }
    
	jQuery("#submit").click(function () {
        if (validate_form('vendorform')) {
			showjQloading();
            var vendorid = jQuery("#vendorid").val();
            if(vendorid!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
			var myForm = document.getElementById('vendorform');
			var ajaxData = new FormData(myForm);
            ajaxData.append('service','vendor');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('vendorid', vendorid);
            HttpSendRequest(ajaxData,function(data)
			{
					hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        refreshlist();
                    } else {
                        alertify.error(data['Message']);
                    }
                return false;
            });
        } else {
            alertify.alert(lblerrormsg,lblok);
        }
	});
</script>
{% endblock %}