<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 0 5px">
                                <h3 style="width: 100%; text-align: left; margin: 0px; color: #A9443F">Combo Product Sales Report</h3>
                            </td>
                            <td style="padding: 5px; text-align: right;font-size: 14px"><b>Report Date</b>: {{ data.current_date }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 24px;padding-left: 5px; text-align: left;">
                                {% if data.from_date|length>0 and data.to_date|length>0 %}
                                    <span style="font-size: 14px; font-weight: bold">From Date</span><span span style="font-size: 14px;">: {{ data.from_date }}</span>
                                    <span style="font-size: 14px; font-weight: bold">To Date</span><span span style="font-size: 14px;">: {{ data.to_date }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr height="35" style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="35%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Combo Name</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>Combo Price({{ data.currency_symbol }})</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>Tax({{ data.currency_symbol }})</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>Discount({{ data.currency_symbol }})</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>Total Price({{ data.currency_symbol }})</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,value in data.data %}
                                    <tr style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="35%" style="padding: 5px;">{{ value.comboname }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.base_price }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.tax }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.discount }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.base_amt }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td width="35%" style="padding: 5px;"><b>Total : </b></td>
                                        <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.total_base_price }}</b></td>
                                        <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.total_tax }}</b></td>
                                        <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.total_discount }}</b></td>
                                        <td width="20%" style="padding: 5px;text-align: right;"><b>{{ data.total_order_amount }}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>