<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px"><strong>{{default_langlist.DATE}}</strong>: {{ data.report_date }}</td>
                            <td style="padding: 5px"><h2 style="width: 100%; text-align: center; padding-bottom: 10px; margin: 10px 0px 0px;">{{langlist.LANG4}}</h2></td>
                            <td style="padding: 5px"><strong>{{default_langlist.REPORT_DATE}}</strong>: {{ data.current_date }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr height="35" style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG1}} </strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>{{langlist.LANG2}} ({{ data.currency_symbol }})</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>{{langlist.LANG3}} ({{ data.currency_symbol }})</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>{{default_langlist.TAX}}({{ data.currency_symbol }})</strong></td>
                                        <td width="15%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>{{default_langlist.DISCOUNT}}({{ data.currency_symbol }})</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>{{default_langlist.TOTAL_PRICE}} ({{ data.currency_symbol }})</strong></td>
                                    </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% for  location,valuelocation in data.location %}
            {% if valuelocation.items %}
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">

                                    <tr height="35" style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td colspan="7"  bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{ valuelocation.locationname }}</strong></td>
                                    </tr>
                                    {% for value in valuelocation.items %}
                                    <tr style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.foliono }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.itemprice }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.moditemprice }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.taxamt }}</td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.discamt }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.finalamt }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                            <tr>
                                 <td width="20.5%" style="padding: 5px;"><b>{{default_langlist.GRAND_TOTAL}}  : </b></td>
                                 <td width="15%" style="padding: 8px;text-align: right;"><b>{{ data.item_price }}</b></td>
                                 <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.modifier_item_price }}</b></td>
                                 <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.item_tax }}</b></td>
                                 <td width="15%" style="padding: 5px;text-align: right;"><b>{{ data.item_discount }}</b></td>
                                 <td width="20%" style="padding: 5px;text-align: right;"><b>{{ data.order_amount }}</b></td>
                             </tr>
                        </table>
                    </td>
                </tr>
        </table>
        </table>
    </div>
</div>