<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border: 1px solid #7d7d7d;text-align: center">
                        <thead>
                        <tr>
                            <td style="padding: 5px;  padding-bottom: 10px;">
                                <strong>Daily Statistics Report</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; padding: 5px" colspan="2"><strong>Report Date</strong>: {{
                                data.current_date }}
                                <strong> Date</strong> : {{ data.report_date }}
                            </td>
                        </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong> Total Orders
                                            </strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.total_order }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong> Total Item Sold
                                            </strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.items_sold }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong>Items
                                                Price(Rs.)</strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.item_price }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong>Modifiers
                                                Price(Rs.)</strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.modifier_item_price }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;; padding-left:5px;">
                                            <strong>Tax(Rs.)</strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.item_tax }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong>Discount(Rs.)</strong>
                                        </td>
                                        <td width="35%" style="padding: 5px;">{{ data.item_discount }}</td>
                                    </tr>
                                    <tr>
                                        <td height="35" colspan="4"
                                            style="font-family: Tahoma;font-size: 12pt;color: #333333;padding-left:5px;">
                                            <strong>Total
                                                Price(Rs.)</strong></td>
                                        <td width="35%" style="padding: 5px;">{{ data.order_amount }}</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>