<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <div id="" style="margin: 2.5px;font-family: Arial">
            <table style="width: 100%;text-align: center;">
                <tbody>
                <tr>
                    <td align="center">
                        <h4 style="font-family: Arial;margin: 0;font-size: 16px; color: #000000; text-decoration: none; ">
                            {{data.loc_name}}</h4>
                    </td>
                </tr>
                <tr align="center">
                    <td style="font-size: 11px;">
                        <b>{{default_langlist.EMAIL}} - </b>{{ data.loc_email }}
                    </td>
                </tr>
                <tr align="center">
                    <td style="font-size: 11px;">
                        <b>{{default_langlist.PHONE}} - </b>{{ data.loc_phone }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;text-align: center;">
                <tbody>
                <tr>
                    <td align="center">
                        <h4 style="font-family: Arial;margin: 0; color: #000000; text-decoration: none; text-align: center; ">
                            <strong>{{langlist.LANG5}} </strong></h4>
                    </td>
                </tr>
                <p style="border: 1px dashed;margin: 2px"></p>
                <tr>
                    <td>
                        <h3 style="font-family: Arial;margin: 0;font-size: 10px; color: #000000; text-decoration: none;  text-align: left;">
                            {{default_langlist.REPORT_DATE}}  : {{data.current_date }}
                        </h3>

                </tr>
                <tr>
                    <td>
                        <h3 style="font-family: Arial;margin: 0;font-size: 10px; color: #000000; text-decoration: none;  text-align: left;">
                            {{default_langlist.DATE}} : {{ data.report_date }}
                        </h3>
                    </td>
                </tr>

                </tbody>
            </table>
            <p style="border: 1px dashed;margin: 2px"></p>

            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;">
                <thead>

                </thead>
                <tbody>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;">{{langlist.LANG1}} :
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">
                        {{ data.total_order }}
                    </td>
                </tr>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{langlist.LANG2}}   :</td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">
                        {{ data.items_sold }}
                    </td>
                </tr>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{langlist.LANG3}} {{data.currency_symbol}} :
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">
                        {{ data.item_price }}
                    </td>
                </tr>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{langlist.LANG4}}
                        {{data.currency_symbol}} :
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">
                        {{data.modifier_item_price}}
                    </td>
                </tr>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{default_langlist.TAX}} {{data.currency_symbol}}:
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;"> {{data.item_tax}}</td>
                </tr>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{default_langlist.DISCOUNT}} {{data.currency_symbol}} :
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">{{data.item_discount}}
                    </td>
                </tr>




                </tbody>
            </table>
            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;">
                <thead>

                </thead>
                <tbody>
                <tr style="font-family: Arial;font-size: 10px;color: #000000;text-decoration: none;">
                    <td style="width: 70%;font-size: 10px;text-align: left;"> {{default_langlist.GRAND_TOTAL}} {{data.currency_symbol}} :
                    </td>
                    <td style="width: 30%;font-size: 10px;text-align: left;">
                        {{data.order_amount}}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>