<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{ data.company_name }} | {{data.default_langlist.INDENTREQUEST}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">
                                            {{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}}</b> -
                                            {{data.email}} | <b>{{data.default_langlist.PHONE}}</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <img src="{{ data.company_logo }}"
                                     style="margin: 0 auto;height: 65px;display: block;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;"><strong>{{data.default_langlist.DATE}}</strong>: {{
                                data.Voucher_Date }}
                            </td>
                            <td style="padding: 5px">
                                <h2 style="width: 100%; text-align: center; padding-bottom: 10px; margin: 10px 0px 0px;font-size: 22px;">
                                    {{ data.voucher_num}}
                                </h2>
                            </td>
                            <td style="padding: 5px;text-align: right;font-size: 14px;"><strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>: {{
                                data.current_date }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14px; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 15px;">
                        <tr>
                            <td style="padding: 5px;text-align: left;"><b>{{data.default_langlist.ISSUING_STORE}} </b> - {{ data.issuing_store}}
                            </td>
                            <td style="padding: 5px;text-align: right;">
                                <b>{{data.default_langlist.RECEIVING_STORE}} </b> - {{data.rec_store}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <td width="5%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{data.langlist.LANG9}}
                                        </strong>
                                        </td><td width="30%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{data.langlist.LANG4}}
                                        </strong>
                                        </td>
                                        <td width="20%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;">
                                            <strong>{{data.langlist.LANG7}}</strong>
                                        </td>
                                        <td width="15%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;">
                                            <strong>{{data.langlist.LANG8}}</strong>
                                        </td>

                                        <td width="10%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;">
                                            <strong>{{data.default_langlist.RATE}}</strong>
                                        </td>
                                        <td width="20%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right">
                                            <strong>{{data.default_langlist.TOTAL_PRICE}}({{ data.currency_sign }})</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.indentdetail %}
                                    <tr style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="5%" style="padding: 5px;">{{ i }}</td>
                                        <td width="30%" style="padding: 5px;">{{ value.Item }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.inventory }}
                                        </td>
                                        <td width="15%" style="padding: 5px;text-align: right;">{{ value.qty }}{{
                                            value.Unitname
                                            }}
                                        </td>
                                        <td width="10%" style="padding: 5px;text-align: right;">{{ value.rate }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.Amount}}
                                        </td>

                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td width=20%" style="padding: 5px;text-align: right;"></td>

                                        <td width=20%" style="padding: 5px;text-align: right;"></td>
                                        <td width=20%" style="padding: 5px;text-align: right;"></td>
                                        <td width=20%" style="padding: 5px;text-align: right;"></td>
                                        <td width=10%" style="padding: 5px;text-align: right;"></td>
                                        <td width=20%" style="padding: 5px;text-align: right;">
                                            <b style="display: block;font-weight: 600;white-space: nowrap;">{{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }}) : {{data.totalamount}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 15px;">
                        <tr>
                            <td style="padding: 5px;text-align: left;"><b>{{data.default_langlist.USERNAME}}</b> - {{ data.createduser}}
                            </td>
                            <td style="padding: 5px;text-align: left;width: 50%;"><b>{{data.default_langlist.RECEIVING_USER}}</b> -
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="padding: 5px;text-align: left;border-top: 1px solid #7d7d7d;height: 100px;vertical-align: text-bottom;">
                                <b>{{data.default_langlist.REMARKS}}</b> - {{ data.remarks}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;padding: 10px 30px 20px;"><b>{{data.default_langlist.SIGN}} </b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>