<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;vertical-align: top;padding-left: 15px;">
                                <h2 style="width: 100%; text-align: left;margin: 10px 0px 5px;font-size: 24px;"> {{data.loc_name}} | <span style="font-size: 18px;">{{langlist.LANG5}}</span></h2>
                                <p style="padding: 5px;font-size: 14px;text-align: left;padding-left: 0;margin-bottom: 0;"><b>{{default_langlist.EMAIL}} - </b> {{data.loc_email}} | <b>{{default_langlist.PHONE}}</b> - {{data.loc_phone}}</p>
                            </td>
                            <td style="padding: 5px;text-align: right;">
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 70px;display: inline-block;padding-right:10px;">
                            </td>
                        </tr>
                        <tr>
                            {% if data.from_date|length>0 and data.to_date|length>0  %}
                            <td style="padding: 5px;text-align: left;font-size: 14px;padding-left:15px;">
                                <strong>{{langlist.LANG6}}</strong>: {{ data.from_date }}
                                <strong>{{langlist.LANG7}}</strong>: {{ data.to_date }}
                            </td>
                            {% endif %}
                            <td style="padding: 5px;text-align: right;font-size: 14px;padding-right: 15px;"><strong>{{default_langlist.REPORT_DATE}}</strong>: {{ data.current_date }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr height="35" style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="40%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{default_langlist.DATE}}</strong></td>
                                        <td width="30%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG2}}</strong></td>
                                        <td width="30%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;"><strong>{{langlist.LANG3}}({{ data.currency_symbol }})</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for key,value in data.data %}

                                    <tr style="font-family: Tahoma;font-size: 9pt;color: #333333;text-decoration: none;">
                                        <td width="40%" style="padding: 5px;">{{ value.FolioDate }}</td>

                                        <td width="30%" style="padding: 5px;">{{ value.foliono }} {{ value.waitername }}
                                        </td>
                                        <td width="30%" style="padding: 5px;text-align: right;">{{ value.tipamount|number_format(data.rfrmt) }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td width="40%" style="padding: 5px;"></td>
                                        <td width="30%" style="padding: 5px;"><b>{{default_langlist.GRAND_TOTAL}} : </b></td>
                                        <td width="30%" style="padding: 5px;text-align: right;"><b>{{ data.total_tipamount }}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>