<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <thead>
                        <tr>
                            <td style="padding: 5px">
                                <h2 style="width: 100%; text-align: center; padding-bottom: 10px; margin: 10px 0px 0px;">Inventory Report</h2>
                            </td>
                            <td style="padding: 5px" colspan="2"><strong>Report Date</strong>: {{ data.current_date }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;"><strong>Raw material</strong> : {{ data.rawmaterial }}</td>
                            <td style="font-size: 14px;"><strong>From Date</strong> : {{ data.fromdate }}</td>
                            <td style="font-size: 14px;"><strong>To Date</strong> : {{ data.todate }}</td>
                        </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <tr>
                                        <td height="35" colspan="4" style="font-family: Tahoma;font-size: 12pt;color: #333333;"><strong>Order Item Inventory</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                        <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Date</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Item</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Quantity</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px; text-align: right;"><strong>Raw Material Qty</strong></td>
                                        </tr>
                                    <tbody>
                                    {% for key,value in data.item %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.date }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.item }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.itemcount }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.inventory }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="padding: 5px;text-align: right;"><strong>Total Quantity</strong> : {{ data.total_item_unit ~ data.order_unit}}</td>
                                    </tr>

                                    </tbody>

                                    <tr>
                                        <td height="35" colspan="4" style="font-family: Tahoma;font-size: 12pt;color: #333333;"><strong>Order Modifier Inventory</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Date</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Modifier</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Quantity</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px; text-align: right;"><strong>Raw Material Qty</strong></td>
                                    </tr>
                                    <tbody>
                                    {% for key,value in data.modifier %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.date }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.item }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.itemcount }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.inventory }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="padding: 5px;text-align: right;"><strong>Total Quantity</strong> : {{ data.total_modi_unit ~ data.order_unit}}</td>
                                    </tr>
                                    </tbody>

                                    <tr>
                                        <td height="35" colspan="4" style="font-family: Tahoma;font-size: 12pt;color: #333333;"><strong>Order Modifier Item Inventory</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Date</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Modifier Item</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Quantity</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px; text-align: right;"><strong>Raw Material Qty</strong></td>
                                    </tr>
                                    <tbody>
                                    {% for key,value in data.modifieritm %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.date }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.item }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.itemcount }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.inventory }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="padding: 5px;text-align: right;"><strong>Total Quantity</strong> : {{ data.total_modiitm_unit ~ data.order_unit}}</td>
                                    </tr>
                                    </tbody>

                                    <tr>
                                        <td height="35" colspan="4" style="font-family: Tahoma;font-size: 12pt;color: #333333;"><strong>Wastage Inventory</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Date</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Reason</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;" colspan="2"><strong>Raw Material Qty</strong></td>
                                    </tr>
                                    <tbody>
                                    {% for key,value in data.wastage %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.date }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.description }}</td>
                                        <td width="20%" style="padding: 5px; text-align: right;" colspan="2">{{ value.inventory }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="padding: 5px;text-align: right;"><strong>Total Quantity</strong> : {{ data.total_wastage_unit ~ data.order_unit}}</td>
                                    </tr>
                                    </tbody>

                                    <tr>
                                        <td height="35" colspan="4" style="font-family: Tahoma;font-size: 12pt;color: #333333;"><strong>Ttansfer Inventory</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Date</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Price</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Location</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;" colspan="2"><strong>Raw Material Qty</strong></td>
                                    </tr>
                                    <tbody>
                                    {% for key,value in data.transfer %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px;">{{ value.date }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.rate }}</td>
                                        <td width="20%" style="padding: 5px;">{{ value.location }}</td>
                                        <td width="20%" style="padding: 5px;text-align: right;">{{ value.inventory }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="padding: 5px;text-align: right;"><strong>Total Quantity</strong> : {{ data.total_inv_unit ~ data.order_unit}}</td>
                                    </tr>
                                    <tr><td colspan="7" style="border-bottom: 1px solid;"></td></tr>
                                    <tr>
                                        <td colspan="7" bgcolor="#ececec" style="padding: 5px;text-align: right;"><strong>Total Used Quantity</strong> : <strong>{{ data.total_unit ~ data.order_unit}}</strong></td>
                                    </tr>
                                    <!--<tr><td colspan="7" style="border-bottom: 1px solid;"></td></tr>
                                    <tr>
                                        <td colspan="7" bgcolor="#ececec" style="padding: 5px;text-align: right;"><strong>Total Inventory</strong> : <strong>{{ data.frominventory ~ data.inv_unit}}</strong></td>
                                    </tr>
                                    <tr><td colspan="7" style="border-bottom: 1px solid;"></td></tr>
                                    <tr>
                                        <td colspan="7" bgcolor="#ececec" style="padding: 5px;text-align: right;"><strong>Total Reduced Inventory</strong> : <strong>{{ data.reduceinventory ~ data.inv_unit}}</strong></td>
                                    </tr>-->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>