<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    {% set INVdata = data['inv_dis_settings']|split(',') %}
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                                <td style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;">

                                    {% if('company_ttl' in INVdata) %}
                                  <h2 style="width: 90%; text-align: left; padding-bottom: 10px; margin: 10px 0px 0px;font-size: {{data['tagdetail']['h2_no']}}px;">{{ data['locationinfo']['locationname'] }}</h2>
                                    {% endif %}
                                    {% if('address' in INVdata) %}
                                  <span style="width: 90%; text-align: left;font-weight: normal;font-size: {{data['tagdetail']['td_no']}}px;margin: 0;display: block">{{ data['locationinfo']['address'] }}</span>
                                    {% endif %}
                                    {% if('phone_no' in INVdata) %}
                                    <span style="width: 90%; text-align: left;font-weight: normal;font-size: {{data['tagdetail']['td_no']}}px;margin: 0;display: block"><b>{{default_langlist.PHONE}}</b>: {{ data['locationinfo']['phone'] }},{% endif %}{% if('fax' in INVdata) %} <b>{{default_langlist.FAX}}</b>: {{ data['locationinfo']['fax'] }}</span>
                                    {% endif %}
                                    {% if('email' in INVdata) %}
                                    <span style="width: 90%; text-align: left;font-weight: normal;font-size: {{data['tagdetail']['td_no']}}px;margin: 0;display: block"><b>{{langlist.LANG19}}</b>: {{ data['locationinfo']['website'] }}</span>
                                    {% endif %}
                                </td>
                                {% if('company_logo' in INVdata) %}
                                  {% if(data['company_logo']!='') %}
                                  <td style="padding: 5px;text-align: right;">
                                      <img src="{{ data['imgurl'] ~ data['company_logo'] }}" style="margin: 0 auto;height: 75px;display: inline-block;padding-right:10px;">
                                  </td>
                                  {% endif %}
                                {% endif %}
                              </tr>  
                          </table>
                      </td>
                  </tr>
                  <tr>
                    <td valign="middle" style="font-family: Cambria; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                          <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;">
                              <tr>
                                  <td align="left" valign="top" style="padding: 5px">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td valign="top">
                                              <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                  {% if('bil_no' in INVdata) %}
                                                  <tr>
                                                      <td width="50%" style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;" align="left"><b>{{langlist.LANG3}} :</b> {{ data['folioinfo']['foliono'] }}</td>
                                                  </tr>
                                                  {% endif %}
                                                  {% if('email' in INVdata) %}
                                                  <tr>
                                                      <td width="50%" style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;" align="left"><b>{{default_langlist.NAME}} :</b> {{ data['folioinfo']['name'] }}</td>
                                                  </tr>
                                                  {% endif %}
                                              </table>
                                            </td>
                                            <td valign="top">
                                              <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                  {% if('date' in INVdata) %}
                                                <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                    <td width="50%" align="right"  style="font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{default_langlist.DATE}}</strong>: {{ data['folioinfo']['invoice_date'] }}</td>
                                                </tr>
                                                  {% endif %}
                                                  {% if('amt_in' in INVdata) %}
                                                <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                    <td width="50%" align="right" style="font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG5}} </strong>: {% if( data['chang_currency_detail']['currency_sign'] is defined and data['chang_currency_detail']['currency_sign']!='') %}{{ data['chang_currency_detail']['currency_sign'] }}{% else %}{{ data['locationinfo']['currency_sign'] }}{% endif %} </td>
                                                </tr>
                                                  {% endif %}
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                 </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                              <tr>
                                  <td>
                                      <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                          <thead>
                                            <tr height="35" style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                <td bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG18}}</strong></td>
                                                <td bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG6}}</strong></td>
                                                {% if('itm_desc' in INVdata) %}
                                                <td bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{default_langlist.DESCRIPTION}}</strong></td>
                                                {% endif %}
                                                {% if('item_qty' in INVdata) %}
                                                <td bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG7}}</strong></td>
                                                {% endif %}
                                                {% if('item_rate' in INVdata) %}
                                                <td  bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG39}}</strong></td>
                                                {% endif %}
                                                {% if('item_total' in INVdata) %}
                                                <td bgcolor="#ececec" style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>{{langlist.LANG8}}</strong></td>
                                                {% endif %}
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for key,value in data.itemarr %}
                                            <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                <td style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{ key }}</b></td>
                                                <td style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{ value.item.particular|capitalize }}{% if value.item.unitname!='' %}
                                                    ({{ value.item.unitname|capitalize }})
                                                    {% endif %}</b></td>
                                                {% if('itm_desc' in INVdata) %}
                                                <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>{{value.item.comment}}</b></td>
                                                {% endif %}
                                                {% if('item_qty' in INVdata) %}
                                                <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>{{value.item.quantity}}</b></td>
                                                {% endif %}
                                                {% if('item_rate' in INVdata) %}
                                                <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((value.item.Baseamt * data['chang_currency_detail']['currency_rate'])/value.item.quantity)|number_format(data.rfrmt) }}{% else %}{{(value.item.Baseamt/value.item.quantity)|number_format(data.rfrmt)}}{% endif %}</b></td>
                                                {% endif %}
                                                {% if('item_total' in INVdata) %}
                                                <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><b>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(value.item.Baseamt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{value.item.Baseamt}}{% endif %}</b></td>
                                                {% endif %}
                                            </tr>
                                            {% if value.modifier is defined %}
                                                {% for key1,value1 in value.modifier %}
                                                      <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                            <td style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                                            <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">{{ value1.particular|capitalize }}</td>
                                                          {% if('itm_desc' in INVdata) %}
                                                            <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">[Modifier] {{ value1.comment}}</td>
                                                          {% endif %}
                                                          {% if('item_qty' in INVdata) %}
                                                            <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">{{ value1.quantity}}</td>
                                                          {% endif %}
                                                          {% if('item_rate' in INVdata) %}
                                                            <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)/value1.quantity)|number_format(data.rfrmt) }}{% else %}{{(value1.Baseamt/value1.quantity)|number_format(data.rfrmt)}}{% endif %}</td>
                                                          {% endif %}
                                                          {% if('item_total' in INVdata) %}
                                                            <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;text-align: right">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)|number_format(data.rfrmt) }}{% else %}{{value1.Baseamt}}{% endif %}</td>
                                                          {% endif %}
                                                      </tr>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            {% if value.discount is defined %}
                                                {% for key2,value2 in value.discount %}
                                                      <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                            <td width="10%" style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"></td>
                                                            <td width="35%" style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">{{ value2.particular|capitalize }}</td>
                                                          {% if('itm_desc' in INVdata) %}
                                                            <td width="35%" style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">[Discount] {{ value2.comment}}</td>
                                                          {% endif %}
                                                          {% if('item_qty' in INVdata) %}
                                                            <td width="10%" style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;">{{ value2.quantity}}</td>
                                                          {% endif %}
                                                          {% if('item_total' in INVdata) %}
                                                            <td width="10%" style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ value2.Baseamt}}*{{ data['chang_currency_detail']['currency_rate'] }}{% else %}{{ value2.Baseamt}}{% endif %}</td>
                                                          {% endif %}
                                                      </tr>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            {% endfor %}

                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
            </table>
            <table width="100%" style="border: 1px solid #7d7d7d;">
                {% if('sub_ttl' in INVdata)%}
                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{langlist.LANG9}} </strong></td>

                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.amt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.amt|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}
                {% if('tax_detail' in INVdata)%}

                {% for key3,value3 in data.tax_applied %}
                <tr>

                    {% if value3.is_gst == 1 %}
                    {% set vlue = value3.amt/2 %}
                    {% set prise = vlue %}
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{ value3.applied_tax}}(CGST)</strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}</strong></td>


                <tr>

                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{ value3.applied_tax }}(SGST)</strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}

                {% if value3.is_gst == 0 %}
                {% set vlue = value3.amt %}
                {% set prise = vlue %}
                <td width="60%" style="padding: 5px;"></td>
                <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{ value3.applied_tax }}</strong></td>
                <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}</strong></td>
                {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if('discount' in INVdata)%}
                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{default_langlist.DISCOUNT}} </strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right; padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.disc * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.disc|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}
                {% if('loyalty_detail' in INVdata and data.loyalty != 0)%}
                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{default_langlist.LOYALTY}} </strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right; padding: 5px;"><strong>{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.loyalty * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.loyalty|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}
                {% if('adjustment' in INVdata)%}
                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{langlist.LANG11}} </strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right;padding: 5px;"><strong> {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.adjustment * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.adjustment|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}

                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td style="border-bottom: 1px solid;padding: 5px;"></td>
                    <td style="border-bottom: 1px solid;padding: 5px;"></td>
                </tr>
                {% if('due_amt' in INVdata)%}
                <tr>
                    <td width="60%" style="padding: 5px;"></td>
                    <td  style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>{{default_langlist.GRAND_TOTAL}} :</strong></td>
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;text-align: right"><strong> {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.total * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.total|number_format(data.rfrmt) }}{% endif %}</strong></td>
                </tr>
                {% endif %}
            </table>
            <table>
                {% if('production_by' in INVdata)%}
                <table style="width: 100%;text-align: center;color: #000000;font-family: Arial;">
                    <tbody>
                    <tr>
                        <td><h4 style="font-weight: bold;font-size: {{data['tagdetail']['h4_no']}}px; color: black; ">{{langlist.LANG14}}</h4></td>
                    </tr>
                    <tr>
                        <td><h4 style="font-weight: bold; font-size: {{data['tagdetail']['h4_no']}}px;color: black; ">{{langlist.LANG15}}</h4></td>
                    </tr>
                    <tr>
                        <td><p style="font-weight: bold; font-size: {{data['tagdetail']['p_no']}}px;color: black; ">
                            {{langlist.LANG16}} {{ data['powered_by'] }}
                        </p></td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </table>
      </div>
</div>