<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    {% set INVdata = data['inv_dis_settings']|split(',') %}
    <div class="col-xs-12 paddingzero">
        <div id="" style="margin: 2.5px;font-family: Arial">
            <table style="width: 100%;text-align: center;">
                <tbody>
                {% if(data['company_logo']!='' and 'company_logo' in INVdata) %}
                <tr>
                    <td style="text-align: center;">
                        <img src="{{ data['imgurl'] ~ data['company_logo'] }}" style="margin: 0 auto;height: 60px;display: inline-block;">
                    </td>
                </tr>
                {% endif %}
                {% if('company_ttl' in INVdata) %}
                <tr>
                    <td>
                        <h4 style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['h4_no']}}px; color: #000000; text-decoration: none; ">
                            {{ data['locationinfo']['locationname'] }}</h4></td>
                </tr>
                {% endif %}
                {% if(data['locationinfo']['address']!='' and 'address' in INVdata) %}
                <tr>
                    {% if(data['locationinfo']['address']!='') %}
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;font-weight: normal;">
                        {{ data['locationinfo']['address'] }}
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;font-weight: normal;">
                        {% if(data['locationinfo']['phone']!='') %}
                        {{default_langlist.PHONE}}: {{ data['locationinfo']['phone'] }},
                        {% endif %}

                        {% if(data['locationinfo']['fax']!='') %}
                        {{default_langlist.FAX}}: {{ data['locationinfo']['fax'] }}
                        {% endif %}
                    </td>
                </tr>
                {% if('company_ttl' in INVdata) %}
                <tr>
                    {% if(data['companyinfo']['registration_no1']!='') %}
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;font-weight: normal;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{langlist.LANG2}} : {{ data['companyinfo']['registration_no1'] }}
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                </tbody>
            </table>
            <p style="border: 1px dashed;margin: 2px;font-size: {{data['tagdetail']['p_no']}}px;"></p>
            <table style="width: 100%;">
                <tbody>
                <tr>
                        <td width="50%">
                            <table style="width: 100%;">
                            <tr>
                    {% if('bil_no' in INVdata)%}
                    <td style="font-family: Arial;margin: 0;color: #000000; text-decoration: none; width: 50%;font-size: {{data['tagdetail']['td_no']}}px;">
                        <strong>{{langlist.LANG3}}:</strong>#{{ data['folioinfo']['foliono'] }}
                    </td>
                    {% endif %}

                </tr>

<!--                {% if('amt_in' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;">
                        <strong>{{langlist.LANG5}} :</strong>{% if( data['chang_currency_detail']['currency_sign'] is defined and data['chang_currency_detail']['currency_sign']!='') %}{{ data['chang_currency_detail']['currency_sign'] }}{% else %}{{ data['locationinfo']['currency_sign'] }}{% endif %}
                    </td>
                </tr>
                {% endif %} -->
                            </table>
                        </td>
                        <td width="50%">
                            <table style="width: 100%;">
                {% if(data['folioinfo']['tablename']!='' and 'tbl_no' in INVdata) %}
                <tr>
                    <td colspan="2"
                        style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{langlist.LANG4}} :</strong> {{ data['folioinfo']['tablename'] }}
                    </td>
                </tr>
                {% endif %}
                {% if('date' in INVdata)%}
                <tr>
                    <td colspan="2"
                        style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{default_langlist.DATE}}:</strong> {{ data['folioinfo']['invoice_date'] }}
                    </td>
                </tr>
                {% endif %}
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% set total_qty = 0 %}
            <table style="margin-top: 5px;width:100%;margin-left: 0; border-bottom: 1px dashed;">
                <thead>
                <tr>
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px dashed; width: 50%;text-align: left;color: #000000;">
                        {{langlist.LANG6}}
                    </th>
                    {% if('item_qty' in INVdata)%}
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;">
                        {{langlist.LANG7}}
                    </th>
                    {% endif %}
                    {% if('item_rate' in INVdata)%}
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;">
                        {{langlist.LANG39}}
                    </th>
                    {% endif %}
                    {% if('item_total' in INVdata)%}
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right; border-bottom: 1px dashed; width: 35%;color: #000000;">
                        {{langlist.LANG8}}
                    </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for key,value in data.itemarr %}
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{ value.item.particular|capitalize }}
                        {% if value.item.unitname!='' %}
                            ({{ value.item.unitname|capitalize }})
                        {% endif %}
                    </td>
                    {% if('item_qty' in INVdata)%}
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{value.item.quantity}}</td>
                    {% set total_qty = total_qty + value.item.quantity %}
                    {% endif %}
                    {% if('item_rate' in INVdata)%}
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((value.item.Baseamt * data['chang_currency_detail']['currency_rate'])/value.item.quantity)|number_format(data.rfrmt) }}{% else %}{{(value.item.Baseamt/value.item.quantity)|number_format(data.rfrmt)}}{% endif %}</td>
                    {% endif %}
                    {% if('item_total' in INVdata)%}
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(value.item.Baseamt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{value.item.Baseamt}}{% endif %}</td>
                    {% endif %}
                </tr>
                {% if value.modifier is defined %}
                {% for key1,value1 in value.modifier %}
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;"><span style="width: 25px;display: inline-block;"></span>{{ value1.particular|capitalize }}</td>
                    {% if('item_qty' in INVdata)%}
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{ value1.quantity}}</td>
                    {% endif %}
                    {% if('item_rate' in INVdata)%}
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)/value1.quantity)|number_format(data.rfrmt) }}{% else %}{{(value1.Baseamt/value1.quantity)|number_format(data.rfrmt)}}{% endif %}</td>
                    {% endif %}
                    {% if('item_total' in INVdata)%}
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)|number_format(data.rfrmt) }}{% else %}{{value1.Baseamt}}{% endif %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                {% if value.discount is defined %}
                {% for key2,value2 in value.discount %}
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{ value2.particular|capitalize }}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{ value2.quantity}}</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ value2.Baseamt}}*{{ data['chang_currency_detail']['currency_rate'] }}{% else %}{{ value2.Baseamt}}{% endif %}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;">
                <tbody>
                {% if('sub_ttl' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left;width: 50%;">
                       <b> {{langlist.LANG9}}</b>
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: center;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{total_qty}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.amt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.amt|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if('tax_detail' in INVdata)%}
                {% for key3,value3 in data.tax_applied %}
                <tr>
                    {% if value3.is_gst == 1 %}
                    {% set vlue = value3.amt/2 %}
                    {% set prise = vlue %}
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 50%;">
                        {{ value3.applied_tax}}(CGST)
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                    </td>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 50%;">
                        {{ value3.applied_tax }}(SGST)
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}

                {% if value3.is_gst == 0 %}
                {% set vlue = value3.amt %}
                {% set prise = vlue %}
                <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left;width: 50%;">
                    {{ value3.applied_tax }}
                </td>
                <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%">
                    {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                </td>

                {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                {% if('discount' in INVdata)%}
                {% if(data.category_disc<0) %}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: left;width: 50%">
                        {{default_langlist.DISCOUNT}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.disc * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.disc|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% if('loyalty_detail' in INVdata and data.loyalty != 0)%}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: left;width: 50%">
                        {{default_langlist.LOYALTY}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.loyalty * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.loyalty|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 50%;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;border-bottom: 1px solid;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                </tr>
                {% if('grnd_ttl' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 50%;font-size: {{data['tagdetail']['td_no']}}px;">
                        <b>{{langlist.LANG42}}</b>
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.order_total * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.order_total|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            {% set liquor_order_amount = 0 %}
            {% if data['liquor_info'] is defined %}
            <!-- Liquor -->
                <table style="margin-top: 10px;width:100%;text-align:center;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;">
                    <tbody>
                        <tr>
                            <td style="color: #000000;">
                                <strong>{{langlist.LANG40}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;">
                    <thead>
                    <tr>
                        <th style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px dashed; width: 50%;text-align: left;color: #000000;">
                            {{langlist.LANG6}}
                        </th>
                        {% if('item_qty' in INVdata)%}
                        <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;">
                            {{langlist.LANG7}}
                        </th>
                        {% endif %}
                        {% if('item_rate' in INVdata)%}
                        <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;">
                            {{langlist.LANG39}}
                        </th>
                        {% endif %}
                        {% if('item_total' in INVdata)%}
                        <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right; border-bottom: 1px dashed; width: 35%;color: #000000;">
                            {{langlist.LANG8}}
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,value in data.liquor_info.itemarr %}
                    <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                        <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{ value.item.particular|capitalize }}
                            {% if value.item.unitname!='' %}
                            ({{ value.item.unitname|capitalize }})
                            {% endif %}
                        </td>
                        {% if('item_qty' in INVdata)%}
                        <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{value.item.quantity}}</td>
                        {% endif %}
                        {% if('item_rate' in INVdata)%}
                        <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((value.item.Baseamt * data['chang_currency_detail']['currency_rate'])/value.item.quantity)|number_format(data.rfrmt) }}{% else %}{{(value.item.Baseamt/value.item.quantity)|number_format(data.rfrmt)}}{% endif %}</td>
                        {% endif %}
                        {% if('item_total' in INVdata)%}
                        <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(value.item.Baseamt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{value.item.Baseamt}}{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% if value.modifier is defined %}
                    {% for key1,value1 in value.modifier %}
                    <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                        <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;"><span style="width: 25px;display: inline-block;"></span>{{ value1.particular|capitalize }}</td>
                        {% if('item_qty' in INVdata)%}
                        <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{ value1.quantity}}</td>
                        {% endif %}
                        {% if('item_rate' in INVdata)%}
                        <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{((data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)/value1.quantity)|number_format(data.rfrmt) }}{% else %}{{(value1.Baseamt/value1.quantity)|number_format(data.rfrmt)}}{% endif %}</td>
                        {% endif %}
                        {% if('item_total' in INVdata)%}
                        <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{(data['chang_currency_detail']['currency_rate'] *  value1.Baseamt)|number_format(data.rfrmt) }}{% else %}{{value1.Baseamt}}{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <!--{% if value.discount is defined %}
                    {% for key2,value2 in value.discount %}
                    <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                        <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{ value2.particular|capitalize }}</td>
                        <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">{{ value2.quantity}}</td>
                        <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">{% if data['chang_currency_detail']['currency_rate'] != '' %}{{ value2.Baseamt}}*{{ data['chang_currency_detail']['currency_rate'] }}{% else %}{{ value2.Baseamt}}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}-->

                    {% endfor %}
                    </tbody>
                </table>
                {% set liquor_order_amount = data.liquor_info.order_total %}
                {% if('tax_detail' in INVdata)%}
                <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;">
                    <tbody>
                    {% for key3,value3 in data.liquor_info.tax_applied %}
                    <tr>
                        {% if value3.is_gst == 1 %}
                        {% set vlue = value3.amt/2 %}
                        {% set prise = vlue %}
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 50%;">
                            {{ value3.applied_tax}}(CGST)
                        </td>
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                            {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                        </td>
                    <tr>
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 50%;">
                            {{ value3.applied_tax }}(SGST)
                        </td>
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                        <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                            {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if value3.is_gst == 0 %}
                    {% set vlue = value3.amt %}
                    {% set prise = vlue %}
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left;width: 50%;">
                        {{ value3.applied_tax }}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (prise * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ prise|number_format(data.rfrmt) }}{% endif %}
                    </td>

                    {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <table style="margin-top: -1px;width:100%;margin-left: 0; margin-bottom: 2px;">
                    <tbody>
                        <tr>
                            <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 50%;font-size: {{data['tagdetail']['td_no']}}px;">
                                <strong>{{langlist.LANG41}}</strong>
                            </td>
                            <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                            <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                                {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.liquor_info.order_total * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.liquor_info.order_total|number_format(data.rfrmt) }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 50%;font-size: {{data['tagdetail']['td_no']}}px;">
                                <strong>{{langlist.LANG42}}</strong>
                            </td>
                            <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                            <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                                {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.order_total * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.order_total|number_format(data.rfrmt) }}{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;">
                <tbody>
                {% if('discount' in INVdata)%}
                {% if(data.category_disc==0) %}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 50%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{default_langlist.DISCOUNT}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 15%;font-size: {{data['tagdetail']['td_no']}}px;">
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.disc * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.disc|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                <!--{% if data['folioinfo']['ispostedtopms'] == 1 %}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 65%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{langlist.LANG17}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.post_amount * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.post_amount|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if('gra' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 65%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{langlist.LANG10}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.gratuity * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.gratuity|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if('payment_detail' in INVdata)%}
                {% for key4,value5 in data.paymnttype %}
                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 65%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{value5.name}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (value5.amt * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ value5.amt|number_format(data.rfrmt) }}{% endif %}
                    </td>

                </tr>
                {%  endfor %}
                {% endif %}
                {% if('adjustment' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left;width: 65%">
                        {{langlist.LANG11}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.adjustment * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.adjustment|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if('tender' in INVdata)%}

                <tr>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: left;width: 65%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {{langlist.LANG12}}
                    </td>
                    <td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: {{data['tagdetail']['td_no']}}px;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ (data.tender * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ data.tender|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}-->
                {% if('due_amt' in INVdata)%}
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 50%"></td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right; width: 15%;"></td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%;border-bottom: 1px solid"></td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left;width: 50%">
                        <b> {{default_langlist.GRAND_TOTAL}}</b>
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: left; width: 15%;"></td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%;">
                        {% if data['chang_currency_detail']['currency_rate'] != '' %}{{ ((data.grand_total) * data['chang_currency_detail']['currency_rate'])|number_format(data.rfrmt) }}{% else %}{{ (data.grand_total)|number_format(data.rfrmt) }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>


            {% if('production_by' in INVdata)%}
            {% if(data['powered_by']!='') %}
            <table style="width: 100%;text-align: center;color: #000000;font-family: Arial;">
                <tbody>
                <tr>
                    <td><h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000">{{langlist.LANG14}}</h4></td>
                </tr>
                <tr>
                    <td><h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000">{{langlist.LANG15}}</h4></td>
                </tr>
                <tr>
                    <td><p style="margin: 0;font-size: {{data['tagdetail']['p_no']}}px;color: #000000">
                        {{langlist.LANG16}} {{ data.powered_by }}
                    </p></td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>