<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;vertical-align: top;padding-left: 15px;">
                                <h2 style="width: 100%; text-align: left;margin: 10px 0px 5px;font-size: 24px;"> {{data.loc_name}} | <span style="font-size: 18px;">{{langlist.LANG3}} </span></h2>
                                <p style="padding: 5px;font-size: 14px;text-align: left;padding-left: 0;margin-bottom: 0;"><b>{{default_langlist.EMAIL}} - </b> {{data.loc_email}} | <b>{{default_langlist.PHONE}}</b> - {{data.loc_phone}}</p>
                            </td>
                            <td style="padding: 5px;text-align: right;">
                                {% if data.company_logo !='' %}
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 70px;display: inline-block;padding-right:10px;">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;padding-right: 15px;"><strong> {{default_langlist.REPORT_DATE}}</strong>: {{ data.current_date }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="10%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{default_langlist.DATE}}</strong></td>
                                        <td width="10%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG1}}</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG4}}</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{langlist.LANG2}}</strong></td>
                                        <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"><strong>{{default_langlist.TOTAL_PRICE}}({{ data.currency_symbol }})</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,value in data.Paymentdetail %}
                                    <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">

                                        <td width="20%" style="padding: 5px;vertical-align: top;">{{value.Date}}</td>
                                        <td width="20%" style="padding: 5px;vertical-align: top;">{{ value.FolioName }}</td>
                                        <td width="5%" style="padding: 5px;vertical-align: top;">{{ value.Final_Amount|number_format(data.rfrmt) }}</td>
                                        <td colspan="2">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 11pt">

                                                {% for key2,value2 in value.PaymenDetail %}
                                                <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                                    <td width="20%" style="padding: 5px;vertical-align: top;">{{ value2.FolioNo }}</td>
                                                    <td width="20%" style="padding: 5px;text-align: right;vertical-align: top;">{{ value2.BaseAmount }}</td>
                                                </tr>
                                                {% endfor %}

                                            </table>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5" style="border-bottom:1px solid #7d7d7d;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 11pt">
                                                <tr>
                                                    <td width="80%" colspan="4" style="padding: 5px;vertical-align: top;"><b> {{default_langlist.GRAND_TOTAL}} : </b></td>
                                                    <td  style="padding: 5px;text-align: right;vertical-align: top;"><b>{{ data.PaymentTotal }}</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
