<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{ data.company_name }} | {{data.default_langlist.PURCHASEORDER}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">
                                            {{ data.address }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}}</b> -
                                            {{data.email}} | <b>{{data.default_langlist.TELEPHONE}}</b> - {{data.phone}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.COUNTRY}}</b> -
                                            {{data.Company_Country}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.langlist.LANG14}}</b> -
                                            {{data.fax}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 65px;display: block;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tbody>
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;"><strong>{{data.default_langlist.GST_ID}}</strong>:
                                12345687250
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tbody>
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;"><strong>{{data.default_langlist.DATE}}</strong>:
                                {{data.Voucher_Date}}
                            </td>
                            <td style="padding: 5px">
                                <h2 style="width: 100%; text-align: center; padding-bottom: 10px; margin: 10px 0px 0px;font-size: 18px;">
                                    {{data.voucher_num}}
                                </h2>
                            </td>
                            <td style="padding: 5px;text-align: right;font-size: 14px;"><strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>:
                                {{data.current_date}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.default_langlist.VENDOR}}</strong>:&nbsp;{{data.vendor_name}} | {{data.vendor_business}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.langlist.LANG18}}</strong>:&nbsp;{{data.vendor_address}}
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>Contact Person</strong>:&nbsp; John steve
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong> {{data.default_langlist.EMAIL}} - {{data.vendor_email}} | {{data.default_langlist.TELEPHONE}}</strong>:&nbsp;{{data.vendor_mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.langlist.LANG14}}</strong>:&nbsp;{{data.vendor_fax}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>


                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff"
                                       style="font-size: 9pt">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:5%; padding: 5px;"><strong>{{data.langlist.LANG9}}  </strong>   </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:20%;padding: 5px;"><strong>{{data.langlist.LANG4}}   </strong>  </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:5% ;padding: 5px;text-align: center;"> <strong>{{data.langlist.LANG5}}</strong></th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:10% ;padding: 5px;text-align: center;"> <strong>{{data.langlist.LANG12}}</strong></th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:10% ;padding: 5px;text-align: center"><strong>{{data.default_langlist.DISCOUNT}}</strong> </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:30% ;padding: 5px;text-align: center;">   <strong>{{data.default_langlist.TAX}}</strong> </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;width:20% ;padding: 5px;text-align: center">   <strong>{{data.langlist.LANG11}}({{ data.currency_sign }})</strong>   </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.podetail %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td style="width :5%; padding: 5px;">{{i}}  </td>
                                        <td style="width :20%;padding: 5px;">{{value.storeitem}}  </td>
                                        <td style="width :5%;padding: 5px;text-align: center;">{{value.qty}} {{value.unit}} </td>
                                        <td style="width :10%;padding: 5px;text-align: left;">{{value.rate}}</td>
                                        <td style="width :10%;padding: 5px;text-align: center;">{{value.discount_amount}} </td>
                                        <td style="width :30%;padding: 5px;text-align: left"> {{ value.tax_description }} </td>
                                        <td style="width :20%;padding: 5px;text-align: right;">{{value.total}}
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="10" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="width :5%; padding: 5px;text-align: right;"></td>
                                        <td style="width :20%;padding: 5px;text-align: right;"></td>
                                        <td style="width :15%;padding: 5px;text-align: right;"></td>
                                        <td style="width :10%;padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }})</b> </td>
                                        <td style="width :10%;padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;text-align: center;"> {{data.Discounttotal}}</b>  </td>
                                        <td style="width :20%;padding: 5px;text-align: left;">{{data.Tax_Total}}</td>
                                        <td style="width :20%;padding: 5px;text-align: right;">  <b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.totalamount}}</b>  </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
           <!--
           User : Nikita. Date : 14/07/2018
           Reason :  hide total in words because after point values were not proper.
           <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 14px;">
                        <tr>
                            <td colspan="2"
                                style="padding: 5px;text-align: left;height: 50px;vertical-align: text-bottom;"><b>{{data.langlist.LANG15}}</b>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="text-align: left;vertical-align: text-bottom;">{{data.numberinwords}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </td>

                        </tr>
                    </table>
                </td>
            </tr>-->
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 14px;">
                        <tr>
                            <td colspan="2"
                                style="padding: 5px;text-align: left;height: 50px;vertical-align: text-bottom;"><b>{{data.langlist.LANG15}}</b>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="text-align: left;vertical-align: text-bottom;">{{data.numberinwords}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 14px;">
                        <tr>
                            <td colspan="2"
                                style="padding: 5px;text-align: left;height: 100px;vertical-align: text-bottom;"><b>{{data.default_langlist.REMARKS}}</b>
                                {{data.remarks}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;text-align: center;height: 60px;vertical-align: text-bottom;">
                    <table style="width: 100%;font-size: 10pt">
                        <tbody>
                        <tr>
                            <td style="padding: 5px;text-align: left;height: 60px;vertical-align: text-bottom;width: 50%">
                                <b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">{{data.langlist.LANG16}}</b>
                            </td>
                            <td style="padding: 5px;text-align: right;height: 60px;vertical-align: text-bottom;width: 50%">
                                <b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">{{data.langlist.LANG17}}</b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
