<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{data.company_name}} | {{data.default_langlist.PURCHASE_INVOICE}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">{{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}}</b> {{data.email}} | <b>{{data.default_langlist.PHONE}}</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 65px;display: block;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="width: 100%;display: table;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.VENDOR}}</strong>:&nbsp;{{data.vendor_name}} | {{data.Vendor_business}}

                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.PHONE}}</strong>:&nbsp;{{data.vendor_mobile}} |  <strong>{{data.default_langlist.EMAIL}}</strong>: {{data.vendor_email}}

                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.DATE}}</strong>:&nbsp;{{data.Voucher_Date}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </td>
                           
                            <td style="width: 40%">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.langlist.LANG27}}</strong>:&nbsp;{{data.grn_voucher_num}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.VOUCHER}} {{data.default_langlist.NO}}</strong>:&nbsp;{{data.voucher_num}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>:&nbsp;{{data.current_date}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.langlist.LANG20}}</strong>:&nbsp;{{data.print_by}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </td>
                        </tr>
                        
              
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt;white-space: normal;word-break: break-word;">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 5%;text-align: center;">
                                            {{data.langlist.LANG9}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 20%;text-align: center;">
                                            {{data.langlist.LANG4}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: center;width: 10%;">
                                            {{data.langlist.LANG5}}
                                        </th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: center;width: 15%;">
                                            {{data.default_langlist.RATE}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: center;width: 10%;">
                                            {{data.default_langlist.DISCOUNT}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: center;width: 20%;">{{data.default_langlist.TAX}}</th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width:20%;">
                                            {{data.default_langlist.TOTAL_PRICE}} ({{ data.currency_sign }})
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.grdetail %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td style="padding:5px;">{{i}}
                                        </td>
                                        <td style="padding:5px;">{{value.storeitem}}
                                        </td>
                                        <td style="padding:5px;text-align: left;">{{value.qty}} {{value.unit}}
                                        </td>

                                        <td style="padding:5px;text-align: left;">{{value.rate}}</td>
                                        <td style="padding:5px;text-align: left;">{{value.discount_amount}}
                                        </td>

                                        <td style="padding:5px;width: 20%;text-align: left"> {{ value.tax_description }} </td>

                                        <td style="padding:5px;text-align: right;">{{value.total}}
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="10" style="border-bottom: 1px solid;padding: 5px 7px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: right;"></td>
                                        <td style="padding: 5px;text-align: right;"></td>

                                        <td colspan="2" style="padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;text-align: left;">{{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }})</b>
                                        </td>
                                        <td style="padding: 5px;text-align: left;"><b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.Discounttotal}}</b>
                                        </td>

                                        <td style="padding: 5px;text-align: left">{{data.Tax_Total}}</td>

                                        <td style="padding: 5px;text-align: right;">
                                            <b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.totalamount}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 14px;">
                        <tr>
                            <td colspan="2" style="padding: 5px;text-align: left;height: 100px;vertical-align: text-bottom;"><b>{{data.default_langlist.REMARKS}}</b> -  {{data.remarks}}
                            </td>
                        </tr>                        
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;text-align: center;height: 60px;vertical-align: text-bottom;">
                   <table style="width: 100%;font-size: 10pt">
                       <tbody>
                           <tr>
                               <td style="padding: 5px;text-align: left;height: 60px;vertical-align: text-bottom;width: 50%"><b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">{{data.langlist.LANG16}}</b>
                                </td>
                                <td style="padding: 5px;text-align: right;height: 60px;vertical-align: text-bottom;width: 50%"><b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">{{data.langlist.LANG17}}</b>
                            </td>
                           </tr>
                       </tbody>
                   </table>                    
                </td>                 
                
            </tr>
        </table>
    </div>
</div>