<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px">
                                <h2 style="width: 100%; text-align: center; padding-bottom: 10px; margin: 10px 0px 0px;">Recipe Report</h2>
                            </td>
                            <td style="padding: 5px"><strong>Report Date</strong>: {{ data.current_date }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                        <tr height="35" style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Item</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Raw Material</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Quantity</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Rate Per Unit</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Cost</strong></td>
                                            <td width="20%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>Total Cost</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,value in data.data %}
                                   <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                        <td width="20%" style="padding: 5px; vertical-align: top;">{{ value.itemname }}</td>
                                        <td width="20%" style="padding: 5px;" colspan="4">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                                {% for rkey,rvalue in value.rawdata %}
                                                <tr style="font-family: Tahoma;font-size: 11pt;color: #333333;text-decoration: none;">
                                                    <td width="20%" style="padding: 5px;">{{ rvalue.raw_name }}</td>
                                                    <td width="20%" style="padding: 5px;">{{ rvalue.quantity ~ rvalue.shortcode }}</td>
                                                    <td width="20%" style="padding: 5px;">{{ rvalue.rateperunit }}</td>
                                                    <td width="20%" style="padding: 5px;">{{ rvalue.base_cost }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                       <td width="20%" style="padding: 5px; vertical-align: top;">{{ value.totalcost }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>