<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <div id="" style="margin: 2.5px;font-family: Arial">
            <table style="width: 100%;text-align: center;">
                <tbody>
                {% if(data['company_logo']!='') %}
                <tr>
                    <td style="text-align: center;">
                        <img src="{{ data['imgurl'] ~ data['company_logo'] }}"
                             style="margin: 0 auto;height: 60px;display: inline-block;">
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <h4 style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['h4_no']}}px; color: #000000; text-decoration: none; ">
                            {{ data['locationinfo']['locationname'] }}</h4></td>
                </tr>
                <tr>
                    <td>
                        <h4 style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['h4_no']}}px; color: #000000; text-decoration: none; ">
                          {{data['welcome_msg']}}</h4></td>
                </tr>
                <tr>
                    <td>
                        <h4 style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['h4_no']}}px; color: #000000; text-decoration: none; ">
                            {{ langlist.LANG33 }} {{ data['NIT'] }}</h4></td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;font-weight: normal;">
                        {{ data['locationinfo']['address1'] }}
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;font-weight: normal;">
                        {{ data['locationinfo']['address'] }}
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;font-weight: normal;">
                        {{ data['locationinfo']['phone'] }}
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;font-weight: normal;">
                        {{ data['Registration_detail'] }}
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="border: 1px dashed;margin: 2px;font-size: {{data['tagdetail']['p_no']}}px;"></p>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{langlist.LANG34}}:</strong>
                        ABC
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%;text-align: right;">
                        <strong>{{langlist.LANG35}} :</strong>{{data['billing_station']}}
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="border: 1px dashed;margin: 2px;font-size: {{data['tagdetail']['p_no']}}px;"></p>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{langlist.LANG3}}:</strong>#{{ data['foliono'] }}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none; width: 50%;text-align: right;">
                        <strong>{{langlist.LANG5}} :</strong>{{ data['locationinfo']['currency_sign'] }}
                    </td>
                </tr>
                <tr>
                    <td
                            style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{langlist.LANG4}} :</strong> {{ data['tablename'] }}
                    </td>
                    <td
                            style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none; width: 50%;text-align: right;">
                        <strong>{{langlist.LANG36}} :</strong> 3
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none; width: 50%">
                        <strong>{{default_langlist.DATE}}:</strong> {{ data['date'] }}
                    </td>
                </tr>

                </tbody>
            </table>
            <p style="border: 1px dashed;margin: 2px;font-size: {{data['tagdetail']['p_no']}}px;"></p>
            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;">
                <thead>
                <tr>
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;border-bottom: 1px dashed; width: 50%;text-align: left;color: #000000;">
                        {{langlist.LANG6}}
                    </th>
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;">
                        {{langlist.LANG7}}
                    </th>
                    <th style="font-size: {{data['tagdetail']['td_no']}}px;text-align: right; border-bottom: 1px dashed; width: 35%;color: #000000;">
                        {{langlist.LANG8}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG24}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">100</td>
                </tr>
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG25}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">50</td>
                </tr>

                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG28}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">200</td>
                </tr>
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG29}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">200</td>
                </tr>

                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG30}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">50</td>
                </tr>
                <tr style="font-family: Arial;color: #000000;text-decoration: none;">
                    <td style="width: 50%;font-size: {{data['tagdetail']['td_no']}}px;text-align: left;">{{langlist.LANG31}}</td>
                    <td style="width: 15%;font-size: {{data['tagdetail']['td_no']}}px;text-align: center;">1</td>
                    <td style="width: 35%;font-size: {{data['tagdetail']['td_no']}}px;text-align: right;">50</td>
                </tr>
                </tbody>
            </table>
            <table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;">
                <tbody>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 65%;">
                        <b> {{langlist.LANG9}}</b>
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        650
                    </td>
                </tr>

                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right; width: 65%;">
                        {{langlist.LANG26}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        20
                    </td>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right; width: 65%;">
                        {{langlist.LANG27}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        20
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 65%">
                        {{default_langlist.DISCOUNT}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%">
                        30
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 65%">
                        {{langlist.LANG11}}
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%">
                        00
                    </td>
                </tr>

                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 65%"></td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 35%;border-bottom: 1px solid"></td>
                </tr>
                <tr>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px; color: #000000; text-decoration: none;text-align: right;width: 65%">
                        <b> {{default_langlist.GRAND_TOTAL}}</b>
                    </td>
                    <td style="font-family: Arial;margin: 0;font-size: {{data['tagdetail']['td_no']}}px;color: #000000; text-decoration: none;text-align: right;width: 35%;">
                        660
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;text-align: center;color: #000000;font-family: Arial;">
                <tbody>

                <tr>
                    <td> <h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000">  >> #  {{default_langlist.USER}} :
                        {{data['user_name']}} << </h4> </td>
                </tr>
                <tr>
                    <td><h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000"> {{data['todays_date']}}</h4></td>
                </tr>
                <tr style="border-top: 1px dashed;border-bottom: 1px dashed;margin: 2px;color: #000000">
                    <td style="font-size: {{data['tagdetail']['td_no']}}px;">  {{data['note']}}  </td>
                </tr>
                <tr>
                    <td><h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000">{{langlist.LANG14}}</h4></td>
                </tr>
                <tr>
                    <td><h4 style="margin: 0;font-size: {{data['tagdetail']['h4_no']}}px;color: #000000">{{langlist.LANG15}}</h4></td>
                </tr>
                <tr>
                    <td><p style="margin: 0;font-size: {{data['tagdetail']['p_no']}}px;color: #000000">
                        {{langlist.LANG16}} {{ data['powered_by'] }}
                    </p></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>