<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;">

                                <h2 style="width: 90%; text-align: left; padding-bottom: 10px; margin: 10px 0px 0px;font-size: {{data['tagdetail']['h2_no']}}px;">
                                    {{ data['locationinfo']['locationname'] }}</h2>
                                <span style="width: 90%; text-align: left;font-weight: normal;margin: 0;display: block">


                                    {{ data['locationinfo']['address'] }}</span>
                                <span style="width: 90%; text-align: left;font-weight: normal;margin: 0;display: block"><b>{{default_langlist.PHONE}}</b>: {{ data['locationinfo']['phone'] }}, <b>{{default_langlist.FAX}}</b>: {{ data['locationinfo']['fax'] }}</span>
                                <span style="width: 90%; text-align: left;font-weight: normal;margin: 0;display: block"><b>{{langlist.LANG19}} </b>: {{ data['locationinfo']['website'] }}</span>
                            </td>
                            {% if(data['company_logo']!='') %}
                            <td style="padding: 5px;text-align: right;">
                                <img src="{{ data['imgurl'] ~ data['company_logo'] }}"
                                     style="margin: 0 auto;height: 75px;display: inline-block;padding-right:10px;">
                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border: 1px solid #7d7d7d;">
                        <tr>
                            <td align="left" valign="top" style="padding: 5px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                <tr>
                                                    <td width="50%"
                                                        style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;"
                                                        align="left"><b>{{langlist.LANG3}} :</b> {{ data['foliono'] }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="50%"
                                                        style="font-family: Cambria;font-size: {{data['tagdetail']['td_no']}}px; color: #333333; text-decoration: none;font-weight: normal;"
                                                        align="left"><b>{{langlist.LANG5}} :</b> {{ data['locationinfo']['currency_sign'] }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                    <td width="50%" align="right" style="font-size: {{data['tagdetail']['td_no']}}px;">
                                                        <strong>{{default_langlist.DATE}}</strong>: {{
                                                        data['todays_date'] }}
                                                    </td>
                                                </tr>
                                                <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                                    <td width="50%" align="right" style="font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{default_langlist.GRAND_TOTAL}} </strong>:
                                                        600
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#E5E5E5">
                                    <thead>
                                    <tr height="35"
                                        style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG18}}</strong>
                                        </td>
                                        <td width="35%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG6}}</strong>
                                        </td>
                                        <td width="35%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{default_langlist.DESCRIPTION}}</strong>
                                        </td>
                                        <td width="10%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG7}}</strong>
                                        </td>
                                        <td width="10%" bgcolor="#ececec"
                                            style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;font-size: {{data['tagdetail']['td_no']}}px;">
                                            <strong>{{langlist.LANG8}}</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG24}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>100</b></td>
                                    </tr>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>2</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG25}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>100</b></td>
                                    </tr>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>3</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG28}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>100</b></td>
                                    </tr>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>3</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG29}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>100</b></td>
                                    </tr>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>5</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG30}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>100</b></td>
                                    </tr>
                                    <tr style="font-family: Tahoma;color: #333333;text-decoration: none;">
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>6</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{langlist.LANG31}}</b></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>{{value.item.comment}}</b></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><b>1</b></td>
                                        <td width="10%" style="text-align: right;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><b>100</b></td>
                                    </tr>


                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="border-bottom: 1px solid;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"></td>
                                        <td width="10%" style="border-bottom: 1px solid;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"></td>
                                        <td width="10%" style="border-bottom: 1px solid;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"></td>
                                    </tr>

                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG9}} </strong></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>

                                        <td width="15%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>600</strong>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{ langlist.LANG26 }}</strong>
                                        </td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="15%" style="text-align: right;font-size: {{data['tagdetail']['td_no']}}px;padding: 5px;"><strong>25</strong></td>

                                    </tr>
                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{ langlist.LANG27 }}</strong>
                                        </td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="15%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>25</strong></td>
                                    </tr>
                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;">
                                            <strong>{{default_langlist.DISCOUNT}} </strong></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="15%" style="text-align: right;font-size: {{data['tagdetail']['td_no']}}px; padding: 5px;"><strong>50</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{langlist.LANG11}} </strong></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="15%" style="text-align: right;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>00</strong></td>
                                    </tr>
                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="border-bottom: 1px solid;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="10%" style="border-bottom: 1px solid;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="10%" style="border-bottom: 1px solid;padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                    </tr>
                                    <tr>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="35%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"><strong>{{default_langlist.GRAND_TOTAL}}
                                            :</strong></td>
                                        <td width="10%" style="padding: 5px;font-size: {{data['tagdetail']['td_no']}}px;"></td>
                                        <td width="15%" style="padding: 5px;text-align: right;font-size: {{data['tagdetail']['td_no']}}px;"><strong>600</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="5"
                           style="border: 1px solid #7d7d7d;margin-top: -1px;">
                        <tr>
                            <td style="padding: 5px;">
                                <label style="font-weight: bold;font-size: {{data['tagdetail']['td_no']}}px;color: black">{{langlist.LANG22}}
                                    : </label>
                                <br>
                                <br>
                                <br>
                                <br>
                                <label class="text-right"
                                       style="font-weight: bold;  color: black; float: right;font-size: {{data['tagdetail']['td_no']}}px; margin-right: 50px;">{{langlist.LANG23}} </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <table style="width: 100%;text-align: center;color: #000000;font-family: Arial;">
                    <tbody>
                    <tr>
                        <td><h4 style="font-weight: bold; font-size: {{data['tagdetail']['h4_no']}}px; color: black; ">{{langlist.LANG14}}</h4></td>
                    </tr>
                    <tr>
                        <td><h4 style="font-weight: bold; font-size: {{data['tagdetail']['h4_no']}}px; color: black; ">{{langlist.LANG15}}</h4></td>
                    </tr>
                    <tr>
                        <td><p style="font-weight: bold; font-size: {{data['tagdetail']['p_no']}}px; color: black; ">
                            {{langlist.LANG16}} {{ data['powered_by'] }}
                        </p></td>
                    </tr>
                    </tbody>
                </table>
            </tr>
        </table>
    </div>
</div>