<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{data.companyname}} | {{data.inv_label.LANG27}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">{{ data.company_address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.inv_label.LANG28}}</b> - {{data.companyemail}} | <b>{{data.inv_label.LANG30}}</b> - {{
                                            data.company_phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{data.company_logo}}" alt="logo" style="margin: 0 auto;height: 50px;display: block;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="text-align: center">
                        <tr>
                            <td style="width: 100%;display: table;">
                                <table>
                                    <tbody>

                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.inv_label.LANG20}}</strong>:&nbsp;{{data.print_by}}
                                        </td>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.inv_label.LANG2}}</strong>:&nbsp;{{data.bookingdate}}
                                        </td>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                            <strong>{{data.inv_label.LANG31}}:</strong>:&nbsp;{{data.booking_voucher_num}}
                                        </td>
                                        <td style="padding: 5px;text-align: right;font-size: 14px;">
                                            <strong>{{data.inv_label.LANG32}}</strong>:&nbsp;{{data.current_date}}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </td>
                        </tr>


                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;table-layout: fixed;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt;table-layout: fixed;white-space: normal;word-break: break-word;">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <th width="8%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 10%;">
                                            {{data.inv_label.LANG1}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 10%;">
                                            {{data.inv_label.LANG4}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 5%;">
                                            {{data.inv_label.LANG5}}
                                        </th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: center;width: 10%;">
                                            {{data.inv_label.LANG12}} ({{ data.banquet_currency }})
                                        </th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width: 9%;">
                                            {{data.inv_label.LANG6}} ({{ data.banquet_currency }})
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width: 25%;">
                                            {{data.inv_label.LANG3}} ({{ data.banquet_currency }})
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width:12%;">
                                            {{data.inv_label.LANG7}} ({{ data.banquet_currency }})
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width:12%;">
                                            {{data.inv_label.LANG11}} ({{ data.banquet_currency }})
                                        </th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.productdetail %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td width="8%" style="padding:10px;">{{i}}
                                        </td>
                                        <td width=15%"style="padding:5px;">{{value.storeitem}}
                                        </td>
                                        <td width="10%" style="padding:5px;text-align: right;">{{value.qty}}
                                        </td>

                                        <td width="10%" style="padding:5px;text-align: center;">{{value.rate}}</td>

                                        <td width="15%" style="padding:5px;text-align: right"> {{ value.discount_amount }} </td>
                                        <td width="25%" style="padding:5px;text-align: right"> {{ value.tax_description }} </td>

                                        <td width="9%"style="padding:5px;text-align: right"> {{value.tax_amount}}</td>

                                        <td width="9%" style="padding:5px;text-align: right;">{{value.total}}

                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="8" style="padding: 5px 7px;border-top: 1px solid #7d7d7d;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;">{{data.inv_label.LANG8}}({{ data.banquet_currency }})</b>
                                        </td>
                                        <td style="padding: 5px;text-align: right"></td>
                                        <td style="padding: 5px;text-align: right">{{data.total_discount}}</td>
                                        <td style="padding: 5px;text-align: right"></td>
                                        <td style="padding: 5px;text-align: right">{{data.total_tax}}</td>
                                        <td style="padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.grand_total}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</div>