{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/purchaseorder.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'store_indent');
    localStorage.setItem('pagename', 'leftpanel_purchaseorder');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.INDENT}}</li>
<li class="active">{{default_langlist.PURCHASE_ORDER}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadAddEdit('')">{{ langlist.LANG1 }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG27}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtfromdate" class="form-control  fromdate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero">{{ langlist.LANG28}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txttodate" class="form-control  todate" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="orderno">{{langlist.LANG4}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="orderno" name="orderno" class="form-control" type="text" placeholder="{{langlist.LANG4}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="select_vendor">{{ langlist.LANG29 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="select_vendor" id="select_vendor" class="form-control">
                                            <option value="0" selected="selected">Please Select</option>
                                            {% for key,value in vendor_list %}
                                                <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{ langlist.LANG4 }}</th>
                                    <th>{{ langlist.LANG5 }}</th>
                                    <th>{{ langlist.LANG23 }}</th>
                                    <th>{{ langlist.LANG24 }}</th>
                                    <th>{{ langlist.LANG25 }}</th>
                                    <th>{{ langlist.LANG26 }}({{currencysign}})</th>
                                    <th>{{default_langlist.CREATED_BY}}</th>
                                    <th>{{default_langlist.MODIFIED_BY}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.indent_doc_num @>
                                </td>
                                <td>
                                    <@=this.indentdate @>
                                </td>
                                <td>
                                    <@=this.storename @>
                                </td>
                                <td>
                                    <@=this.indent_stat@>

                                </td>
                               <!-- tooltip-->
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="Hooray!"><@=this.remarks @></span>
                                </td>
                                <td>
                                    <@=this.totalamount @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:25%">
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);
    jQuery('.fromdate').datepicker({
        autoclose: true,
        endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        var newDate = new Date(selected.date.valueOf() + 1);
        newDate.setDate(newDate.getDate() + 1);
        $('.todate').datepicker('setStartDate', minDate);
       $('.todate').datepicker('setDate', newDate);
    });

    jQuery('.todate').datepicker({
        autoclose: true,
       // endDate: '+0d',
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    }).on('changeDate', function (selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('.fromdate').datepicker('setEndDate', maxDate);
    });

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'purchaseorder',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                fromdate: jQuery("#txtfromdate").val(),
                todate: jQuery("#txttodate").val(),
                indent: jQuery("#orderno").val(),
                locationid: jQuery("#select_vendor").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function doReset() {
        jQuery("#txtfromdate").val(''),
            jQuery("#txttodate").val(''),
            jQuery("#orderno").val(''),
            jQuery("#select_vendor").val(0),
            jQuery("#select_status").val(0),

            aTableConfig = jQuery.extend(aTableConfig, {
                tabledata: null,
                pagesize: jQuery("#lstRecPerPage").val(),
                csearch: {
                    fromdate: jQuery("#txtfromdate").val(),
                    todate: jQuery("#txttodate").val(),
                    orderno: jQuery("#orderno").val(),
                    vendorid: jQuery("#select_vendor").val(),
                },
                resetpaging: false,
                showprogress: true
            });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");


        jQuery("#addedit").hide();
        jQuery("#list").show();
    }
    function loadAddEdit(id) {
        var arr = {};
        arr['service'] = "purchaseorder";
        arr['opcode'] = "loadPurchaseOrder";
        arr['id'] = id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            loadModal(data['Data'], 'Purchase Order');
        });
    }
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-info"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });
    });

</script>
{% endblock %}
