<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"/>
<div id="indent_modal" class="modal-dialog split_popup ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabelsplit">Purchase Order - {{id}} </h4>
        </div>
        <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <input type="hidden" id="getid" name="getid" value="{{id}}"/>
            <div class="modal-body">
                <form id="po_order_form" name="po_order_form">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="po_order_no">Order No</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" value="{{ indentid }}" name="po_order_no" id="po_order_no" disabled maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="indate">Date</label>
                                            <div class="controls">
                                                <input name="po_date" id="po_date" class="form-control required date" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_vendor">Vendor</label><span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="po_sel_vendor" id="po_sel_vendor" onclick="checklocationnotnull()"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Please select vendor first!" onchange="return getvendorcategory(this);">
                                                <option value="" selected="selected">Please Select</option>
                                                {% for key,value in vendor_list %}
                                                    <option value="{{ value['vandorunkid'] }}">{{ value['business_name'] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_category">Category</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_category" id="po_sel_category" onchange="select_raw_material('')">
                                                <option value="0" selected="selected">Please Select</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_item">Item</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_item" id="po_sel_item" onchange="getunit(0,0)">
                                                <option value="0" selected="selected">Please Select Item</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_item_qty">Quantity</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull decimal dropdown" name="po_item_qty" id="po_item_qty" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_sel_unit">Unit</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown" name="po_sel_unit" id="po_sel_unit" onchange="setunitrate()" >
                                                <option value="0" selected="selected">Please Select Unit</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="po_rate_pu">Rate(Per Unit)</label>
                                            <span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="po_rate_pu" id="po_rate_pu"
                                                class="form-control notnull decimal dropdown" onkeypress="return isFloat(event,this.value)">
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control" name="po_actual_rate" id="po_actual_rate">
                                        <div class="form-group">
                                            <label class="form-label" for="po_total_rate">Total({{currencysign}})</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" name="po_total_rate" id="po_total_rate" class="form-control dropdown" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label">Dis %</label>
                                            <input type="text" class="form-control mb5 decimal" onkeyup="return isFloatWithRange(event,this,0,100)"  name="discount_per" max="100" value="0" id="discount_per" >
                                            <input type="text" class="form-control" readonly name="discount_amnt" value="0" id="discount_amnt">
                                        </div>
                                        {% if applicable_taxes|length > 0 %}
                                            {% for key,value in applicable_taxes %}
                                                <div class="form-group">
                                                    <label class="form-label">{{ value.tax }} <input type="checkbox" value="1" name="item_tax[{{ key }}]['enable_tax']"  id="item_tax_enable_tax_{{ key }}" onchange="update_item_tax(this)" data-key = "{{ key }}" checked="checked"  ></label>
                                                    <input type="text" class="form-control mb5 decimal" name="item_tax[{{key}}]['amount']" id="item_tax_{{ key }}_amount" maxlength="5" onkeypress="return isFloat(event,this.value)" value="{{ value.amount }}"  >
                                                    <input type="text" class="form-control" name="item_tax[{{ key }}]['tax_total']" id="item_tax_{{key}}_tax_total" value="0" readonly />
                                                    <input type="hidden" name="item_tax[{{key}}]['pytype']" id="item_tax_{{ key }}_pytype" value="{{ value.pytype }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxunkid']" id="item_tax_{{ key }}_taxunkid"  value="{{ value.taxunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['lnkmasterunkid']" id="item_tax_{{ key }}_lnkmasterunkid"  value="{{ value.lnkmasterunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxdetailunkid']" id="item_tax_{{ key }}_taxdetailunkid"  value="{{ value.taxdetailunkid }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['postingrule']" id="item_tax_{{ key }}_postingrule" value="{{ value.postingrule }}" />
                                                    <input type="hidden" name="item_tax[{{key}}]['taxapplyafter']" id="item_tax_{{ key }}_taxapplyafter" value="{{ value.taxapplyafter }}" />
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                                        <input type="hidden" id="editid" value="">
                                        <button class="btn btn-info" type="button" id="addrequest">{{
                                            langlist.LANG33 }}
                                        </button>
                                        <button class="btn btn-info" style="display: none;" type="button" disabled
                                                id="editrequest">{{
                                            langlist.LANG18 }}
                                        </button>
                                        <button class="btn btn-info" style="display: none;" type="button"
                                                onclick="resetfrmindent();" id="cancelupdate">{{
                                            langlist.LANG35 }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <div class="clearfix"></div>
                <div class="row" id="list_indent">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" id="indentlist">
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>{{langlist.LANG34}}</th>
                                        <th>{{langlist.LANG9}}</th>
                                        <th>{{langlist.LANG10}}</th>
                                        <th>{{langlist.LANG11}}</th>
                                        <th>{{langlist.LANG13}}</th>
                                        <th>{{langlist.LANG15}}({{currencysign}})</th>
                                        <th>{{langlist.LANG22}}</th>
                                        <th>{{langlist.LANG17}}</th>
                                    </tr>
                                    </thead>
                                    <tbody class="hide_display" id="detailslist">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-6">
                            <label class="col-sm-4 control-label textalignleft paddingzero"
                                   for="totalamount">{{langlist.LANG19}}({{currencysign}})</label>
                            <div class="col-sm-5 paddingzero marginbottom5">
                                <input id="totalamount" name="totalamount" disabled class="form-control" type="text"
                                       placeholder="{{langlist.LANG19}}">
                            </div>
                        </div>
                        <div class="controls col-sm-6">
                            <div class="inline-form-group">
                                <label class="form-label" for="remarks">{{ langlist.LANG12 }}</label>
                                <textarea class="form-control" name="remarks" id="remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btns-wrap">
                            <ul class="list-inline">
                                <li>
                                    <button class="btn btn-info" type="button" disabled="disabled" name="btn_indent"
                                            id="btn_indent">{{default_langlist.SUBMIT}}
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-info" onclick="closeindentmodal();" aria-label="Close">
                                        {{default_langlist.CLOSE}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var date = new Date();

    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    calculateTotalAmount();

    var editid = "{{id}}";

    if (editid > 0) {
        getindentrecords();
        jQuery("#po_sel_vendor").removeClass('invalid');
    }
    else {
        checklocationnotnull();
    }

    function checklocationnotnull() {
        var location = jQuery("#po_sel_vendor").val();

        if (location == '' || location == 0) {
            jQuery("#po_sel_vendor").addClass('invalid');
            $('[data-toggle="tooltip"], .tooltip').tooltip('show');
            disableelement();
        }
        else {
            jQuery("#po_sel_vendor").removeClass('invalid');
            enablelments();
        }
    }

    function disableelement() {
        jQuery("#sel_rm_cat").val(0);
        jQuery("#sel_rm").val(0);
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#sel_iunit").val(0);
        jQuery("#sel_rm_cat").prop("disabled", true);
        jQuery("#sel_rm").prop("disabled", true);
        jQuery("#qty").prop("disabled", true);
        jQuery("#sel_iunit").prop("disabled", true);
        jQuery("#irate").prop("disabled", true);

    }

    function enablelments() {
        $('[data-toggle="tooltip"], .tooltip').tooltip('destroy');
        jQuery("#sel_rm_cat").prop("disabled", false);
        jQuery("#sel_rm").prop("disabled", false);
        jQuery("#qty").prop("disabled", false);
        jQuery("#sel_iunit").prop("disabled", false);
        jQuery("#irate").prop("disabled", false);
        jQuery("#sel_rm_cat").val(0);

        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">Please Select Item</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');
    }

    jQuery('.date').datepicker({
        autoclose: true,
        startDate: date,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    $('.date').datepicker('setDate', today);

    function select_raw_material(rawmaterialid) {
        var rawcatid = jQuery("#sel_rm_cat").val();
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">Please Select Item</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        var arr = {};
        arr['service'] = "purchaseorder";
        arr['opcode'] = "getrawmaterialoncategory";
        arr['rawcatid'] = rawcatid;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            var ObjData_table = data['Data'];
            for (var i = 0; i < ObjData_table.length; i++) {
                jQuery('#sel_rm').append('<option  value="' + ObjData_table[i]['id'] + '">' + ObjData_table[i]['name'] + ' </option>');
            }
            if (rawmaterialid != '') {
                jQuery("#sel_rm").val(rawmaterialid);
            }
        });
    }

    function getvendorcategory(current)
    {
        var currentVal = jQuery(current).val()
        jQuery('#sel_rm_cat').html('<option value="">Please select</option>');
        if(currentVal != '')
        {

            var arr = {};
            arr['service'] = "purchaseorder";
            arr['opcode'] = "getVendorCategory";
            arr['vendorid'] = currentVal;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                var ObjData_table = data.categories;
                    if(typeof ObjData_table != 'undefined' && ObjData_table != '')
                    {
                        for (var i = 0; i < ObjData_table.length; i++) {

                            jQuery('#sel_rm_cat').append('<option  value="' + ObjData_table[i]['lnkcategoryid'] +'">' + ObjData_table[i]['category_name'] + ' </option>');

                        }
                    }

            });
        }
    }

    function getunit(Unit, rate) {

        var rawid = jQuery("#sel_rm").val();
        var locationid = jQuery("#po_sel_vendor").val();
        jQuery('#sel_iunit').empty();
        jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');


        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');


        if (rawid != '' && locationid != '') {
            var arr = {};
            arr['service'] = "purchaseorder";
            arr['opcode'] = "getUnitRate";
            arr['rawid'] = rawid;
            arr['locationid'] = locationid;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                var ObjData_table = data['Data'];

                for (var i = 0; i < ObjData_table.length; i++) {
                    jQuery('#sel_iunit').append('<option  value="' + ObjData_table[i]['unitunkid'] + '" data-attr="' + ObjData_table[i]['unit'] + '" data-rate="'+ObjData_table[i]['rateperunit']+'">' + ObjData_table[i]['name'] + ' </option>');
                    if (Unit != '') {
                        jQuery("#sel_iunit").val(Unit);
                    }
                }
                if (rate == '') {
                    if (ObjData_table.length > 0 && ObjData_table[0].rateperunit != '') {
                        jQuery("#setrateonunit").val(ObjData_table[0].rateperunit);
                        countrowamount();
                    }
                }
            });
            if (rate != '') {
                jQuery("#setrateonunit").val(rate);
                countrowamount();
            }
        }
    }

    function setunitrate() {
        var unitval = jQuery('#sel_iunit').find(':selected').attr('data-attr');
        var rate = jQuery("#setrateonunit").val();
        var finalrate = unitval * rate;
        jQuery("#irate").val(finalrate);
        countrowamount();
    }

    function resetfrmindent() {

        jQuery("#po_sel_vendor").prop("disabled", true);
        jQuery("#indate").prop("disabled", true);
        jQuery("#editrequest").prop("disabled", true);
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#cancelupdate").hide();
        jQuery(".invalid").removeClass('invalid');
        jQuery("#sel_rm_cat").val(0);
        jQuery("#sel_rm").empty();
        jQuery('#sel_rm').append('<option value="0">Please Select Item</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
    }

    $("#irate").keyup(function () {
        countrowamount();
    });

    $("#qty").keyup(function () {
        countrowamount();
    });

    function countrowamount() {
        var rate = jQuery("#irate").val();
        var quantity = jQuery("#qty").val();
        if (rate !== '' && quantity != '') {
            var total = rate * quantity;
            jQuery("#itotal").val(total);
        } else {
            jQuery("#itotal").val('');
        }
    }

    jQuery("#addrequest").click(function () {
        var uniqid = jQuery("#detailslist tr:last .getlasttr").html();
        if (uniqid == undefined) {
            uniqid = 1;
        }
        else {
            uniqid++;
        }
        if (validate_form('frmindent')) {
            showjQloading();
            jQuery("#btn_indent").prop('disabled', false);
            jQuery("#btn_indent").show();
            var indentno = jQuery("#po_order_no").val();
            var indate = jQuery("#indate").val();
            var po_sel_vendor = jQuery("#po_sel_vendor").val();
            var selectedlocation = $("#po_sel_vendor option:selected").text();
            var sel_rm_cat = jQuery("#sel_rm_cat").val();
            var sel_rm = jQuery("#sel_rm").val();
            var selectedrm = $("#sel_rm option:selected").text();
            var qty = jQuery("#qty").val();
            var sel_iunit = jQuery("#sel_iunit").val();
            var selectedunit = $("#sel_iunit option:selected").text();
            var irate = jQuery("#irate").val();
            var itotal = jQuery("#itotal").val();

            hidejQloading();
            $('#detailslist').append('<tr id= "abc_' + uniqid + '">' +
                '<td align="left" style="display: none" id="indentno_' + uniqid + '">' + indentno + '</td>' +
                '<td align="left" class="getlasttr"id="eindentno_' + uniqid + '">' + uniqid + '</td>' +
                '<td align="left" style="display: none" id="eindate_' + uniqid + '">' + indate + '</td>' +
                '<td align="left" style="display: none" id="epo_sel_vendor_' + uniqid + '">' + po_sel_vendor + '</td>' +
                '<td align="left" id="eselectedrm_' + uniqid + '">' + selectedrm + '</td>' +
                '<td align="left" style="display: none" id="esel_rm_cat_' + uniqid + '">' + sel_rm_cat + '</td>' +
                '<td align="left" style="display: none"  id="esel_iunit_' + uniqid + '">' + sel_iunit + '</td>' +
                '<td align="left" style="display: none" id="esel_rm_' + uniqid + '">' + sel_rm + '</td>' +
                '<td align="left" id="eqty_' + uniqid + '">' + qty + '</td>' +
                '<td align="left" id="eselectedunit_' + uniqid + '">' + selectedunit + '</td>' +
                '<td align="left" id="eirate_' + uniqid + '">' + irate + '</td>' +
                '<td align="left" id="eitotal_' + uniqid + '">' + itotal + '</td>' +
                '<td align="left" style="display: none" id="elocation_' + uniqid + '">' + selectedlocation + '</td>' +
                '<td align="left"  style="display: none" id="indentrequnkid_' + editid + '">' + 0 + '</td>' +
                '<td align="left" id="deletepopup_' + uniqid + '"><a class="update_ico"  onclick="removefrompopup(' + uniqid + ')" >' +
                '<i class="fa fa-trash-o"></i></a></td>' +
                '<td align="left" id="editpopup_' + uniqid + '"><a class="update_ico"  onclick="editfrompopup(' + uniqid + ')" >' +
                '<i class="fa fa-pencil"></i></a></td>' +
                '</tr>');
            resetfrmindent();
            calculateTotalAmount();
        }
        else {
            if (jQuery("#indate").val() == '')
                jQuery("#indate").addClass('invalid');
            else
                alertify.alert('Please fill necessary information');
        }

    });

    jQuery("#editrequest").click(function () {
        if (validate_form('frmindent')) {
            $('.invalid').removeClass('invalid');
            var uniqid = jQuery("#editrequest").val();
            var indentno = jQuery("#po_order_no").val();
            var indate = jQuery("#indate").val();
            var po_sel_vendor = jQuery("#po_sel_vendor").val();
            var selectedlocation = $("#po_sel_vendor option:selected").text();
            var sel_rm_cat = jQuery("#sel_rm_cat").val();
            var sel_rm = jQuery("#sel_rm").val();
            var selectedrm = $("#sel_rm option:selected").text();
            var qty = jQuery("#qty").val();
            var sel_iunit = jQuery("#sel_iunit").val();
            var selectedunit = $("#sel_iunit option:selected").text();
            var irate = jQuery("#irate").val();
            var itotal = jQuery("#itotal").val();
            jQuery("#eindate_" + uniqid).html(indate);
            jQuery("#epo_sel_vendor_" + uniqid).html(po_sel_vendor);
            jQuery("#elocation_" + uniqid).html(selectedlocation);
            jQuery("#esel_rm_cat_" + uniqid).html(sel_rm_cat);
            jQuery("#eselectedrm_" + uniqid).html(selectedrm);
            jQuery("#esel_rm_" + uniqid).html(sel_rm);
            jQuery("#esel_iunit_" + uniqid).html(sel_iunit);
            jQuery("#eselectedunit_" + uniqid).html(selectedunit);
            jQuery("#eqty_" + uniqid).html(qty);
            jQuery("#eirate_" + uniqid).html(irate);
            jQuery("#eitotal_" + uniqid).html(itotal);
            resetfrmindent();
            calculateTotalAmount();
        }
        else{
            alertify.alert("Please Enter all the Details");
        }
    });

    function editfrompopup(uniqid) {
        $('.invalid').removeClass('invalid');
        jQuery("#editrequest").prop("disabled", false);
        jQuery("#editrequest").show();
        jQuery("#cancelupdate").show();
        jQuery("#addrequest").hide();
        jQuery("#editrequest").val(uniqid);
        var eindate = jQuery("#eindate_" + uniqid).html();
        var epo_sel_vendor = jQuery("#epo_sel_vendor_" + uniqid).html();
        var esel_rm_cat = jQuery("#esel_rm_cat_" + uniqid).html();
        var esel_rm = jQuery("#esel_rm_" + uniqid).html();
        var esel_iunit = jQuery("#esel_iunit_" + uniqid).html();
        var eqty = jQuery("#eqty_" + uniqid).html();
        var eirate = jQuery("#eirate_" + uniqid).html();
        var eitotal = jQuery("#eitotal_" + uniqid).html();
        jQuery("#indate").val(eindate);
        jQuery("#po_sel_vendor").val(epo_sel_vendor);
        jQuery("#sel_rm_cat").val(esel_rm_cat);
        select_raw_material(esel_rm);
        setTimeout(function () {
            jQuery.when(getunit(esel_iunit, eirate)).then(
                jQuery("#qty").val(eqty),
                jQuery("#irate").val(eirate),
                jQuery("#itotal").val(eitotal)
            )
        }, 50);
        calculateTotalAmount();
    }

    function removefrompopup(uniqid) {
        $("#abc_" + uniqid).remove();
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery("#sel_rm_cat").val(0);
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">Please Select Item</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#cancelupdate").hide();
        jQuery(".invalid").removeClass('invalid');
        calculateTotalAmount();
        resetnumbers(uniqid);
    }

    function calculateTotalAmount() {
        var TotalAmount = 0;
        $('#detailslist tr').each(function () {
            if ($(this).find("td:first").length > 0) {
                var Amount = $(this).find("td:eq(11)").html();
                TotalAmount += parseFloat(Amount);
            }
        });
        if (TotalAmount == '')
            jQuery("#totalamount").val('0');
        else
            jQuery("#totalamount").val(TotalAmount);
    }

    var checkopened = 0;
    jQuery("#btn_indent").click(function () {
        if (checkopened == 0) {
            var indentrecords = {};
            var pindate;
            var premarks = jQuery("#remarks").val();
            var plocationid;
            var TotalAmount = jQuery("#totalamount").val();
            var id = jQuery("#getid").val();
            $('#detailslist tr').each(function () {
                if ($(this).find("td:first").length > 0) {
                    var pin = $(this).find("td:eq(0)").html();
                    var pindentno = $(this).find("td:eq(1)").html();
                    pindate = $(this).find("td:eq(2)").html();
                    plocationid = $(this).find("td:eq(3)").html();
                    var pcatid = $(this).find("td:eq(5)").html();
                    var prawmaterialid = $(this).find("td:eq(7)").html();
                    var pqty = $(this).find("td:eq(8)").html();
                    var punitid = $(this).find("td:eq(6)").html();
                    var prate = $(this).find("td:eq(10)").html();
                    var ptotal = $(this).find("td:eq(11)").html();
                    var indentrequnkid = $(this).find("td:eq(13)").html();
                    indentrecords[pindentno] = {};
                    indentrecords[pindentno]['pin'] = pin;
                    indentrecords[pindentno]['pindentno'] = pindentno;
                    indentrecords[pindentno]['pcatid'] = pcatid;
                    indentrecords[pindentno]['prawmaterialid'] = prawmaterialid;
                    indentrecords[pindentno]['pqty'] = pqty;
                    indentrecords[pindentno]['punitid'] = punitid;
                    indentrecords[pindentno]['prate'] = prate;
                    indentrecords[pindentno]['ptotal'] = ptotal;
                    indentrecords[pindentno]['indentrequnkid'] = indentrequnkid;
                }
            });
            var arr = {};
            arr['service'] = "forwardindent";
            arr['opcode'] = "addindentrequest";
            arr['indentrecords'] = indentrecords;
            arr['totalamount'] = TotalAmount;
            arr['indate'] = pindate;
            arr['premarks'] = premarks;
            arr['plocationid'] = plocationid;
            arr['id'] = id;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    closeindentmodal();
                    alertify.success(data['Message']);

                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        checkopened++;

    });

    function getindentrecords() {
        var id = jQuery("#getid").val();
        jQuery("#btn_indent").prop("disabled", false);
        onedit();
        var arr = {};
        arr['service'] = 'forwardindent';
        arr['opcode'] = 'getIndentRecordsonID';
        arr['id'] = id;
        jQuery(".edit_hide").hide();
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (recObj) {
            if (recObj.Success == 'True') {

                var indent = recObj.indent;
                var indentdetail = recObj.indentdetail;
                jQuery("#po_order_no").val(indent.indent_doc_num);
                jQuery("#indate").val(indent.indentformated_date);
                jQuery("#po_sel_vendor").val(indent.recstoreid);
                jQuery("#remarks").val(indent.remarks);
                jQuery("#totalamount").val(indent.totalamount);

                jQuery.each(indentdetail, function (key, value) {
                    var editid = jQuery("#detailslist tr:last .getlasttr").html();

                    if (editid == undefined) {
                        editid = 1;
                    }
                    else {
                        editid++;
                    }

                    $('#detailslist').append('<tr id= "abc_' + editid + '">' +
                        '<td align="left" style="display: none" id="indentno_' + editid + '">' + value.lnkindentid + '</td>' +
                        '<td align="left" class="getlasttr"id="eindentno_' + editid + '">' + editid + '</td>' +
                        '<td align="left" style="display: none" id="eindate_' + editid + '">' + indent.indentformated_date + '</td>' +
                        '<td align="left" style="display: none" id="epo_sel_vendor_' + editid + '">' + indent.recstoreid + '</td>' +
                        '<td align="left" id="eselectedrm_' + editid + '">' + value.selectedrm + '</td>' +
                        '<td align="left" style="display: none" id="esel_rm_cat_' + editid + '">' + value.lnkrawcatid + '</td>' +
                        '<td align="left" style="display: none"  id="esel_iunit_' + editid + '">' + value.lnkunitid + '</td>' +
                        '<td align="left" style="display: none" id="esel_rm_' + editid + '">' + value.lnkrawid + '</td>' +
                        '<td align="left" id="eqty_' + editid + '">' + value.qty + '</td>' +
                        '<td align="left" id="eselectedunit_' + editid + '">' + value.selectedunit + '</td>' +
                        '<td align="left" id="eirate_' + editid + '">' + value.rate + '</td>' +
                        '<td align="left" id="eitotal_' + editid + '">' + value.total + '</td>' +
                        '<td align="left"  style="display: none" id="elocation_' + editid + '">' + indent.storename + '</td>' +
                        '<td align="left"  style="display: none" id="indentrequnkid_' + editid + '">' + value.indentrequnkid + '</td>' +
                        '<td align="left" ><a class="update_ico" id="deletepopup_' + editid + '" onclick="removefrompopup(' + editid + ')" >' +
                        '<i class="fa fa-trash-o"></i></a></td>' +
                        '<td align="left" ><a class="update_ico" id="editpopup_' + editid + '" onclick="editfrompopup(' + editid + ')" >' +
                        '<i class="fa fa-pencil"></i></a></td>' +
                        '</tr>');
                    calculateTotalAmount();
                });
            }
        });
    }

    function onedit() {
        jQuery("#po_sel_vendor").prop("disabled", true);
        jQuery("#indate").prop("disabled", true);
        jQuery("#editrequest").prop("disabled", true);
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#addrequest").show();
    }

    function resetnumbers(id) {
        var lastid = jQuery("#detailslist tr:last .getlasttr").html();

        if (lastid != undefined) {
            for (var i = id; i <= lastid; i++) {
                var j = i - 1;
                jQuery("#abc_" + i).attr("id", "abc_" + j);
                jQuery("#indentno_" + i).attr("id", "indentno_" + j);
                jQuery("#eindentno_" + i).html(j);
                jQuery("#eindentno_" + i).attr("id", "eindentno_" + j);
                jQuery("#eindate_" + i).attr("id", "eindate_" + j);
                jQuery("#epo_sel_vendor_" + i).attr("id", "epo_sel_vendor_" + j);
                jQuery("#eremarks_" + i).attr("id", "eremarks_" + j);
                jQuery("#eselectedrm_" + i).attr("id", "eselectedrm_" + j);
                jQuery("#esel_rm_cat_" + i).attr("id", "esel_rm_cat_" + j);
                jQuery("#esel_iunit_" + i).attr("id", "esel_iunit_" + j);
                jQuery("#esel_rm_" + i).attr("id", "esel_rm_" + j);
                jQuery("#eqty_" + i).attr("id", "eqty_" + j);
                jQuery("#eselectedunit_" + i).attr("id", "eselectedunit_" + j);
                jQuery("#eirate_" + i).attr("id", "eirate_" + j);
                jQuery("#eitotal_" + i).attr("id", "eitotal_" + j);
                jQuery("#elocation_" + i).attr("id", "elocation_" + j);
                jQuery("#deletepopup_" + i).attr("onclick", "removefrompopup(" + j + ")");
                jQuery("#editpopup_" + i).attr("onclick", "editfrompopup(" + j + ")");
                jQuery("#deletepopup_" + i).attr("id", "deletepopup_" + j);
                jQuery("#editpopup_" + i).attr("id", "editpopup_" + j);
            }
        }
        else {

            if (editid < 0 || editid == '') {

                $('[data-toggle="tooltip"]').tooltip();
                jQuery("#sel_rm_cat").prop("disabled", false);
                jQuery("#po_sel_vendor").prop("disabled", false);
                jQuery("#sel_rm").prop("disabled", false);
                jQuery("#qty").prop("disabled", false);
                jQuery("#sel_iunit").prop("disabled", false);
                jQuery("#irate").prop("disabled", false);
                jQuery("#sel_rm_cat").val(0);
                jQuery("#qty").val('');
                jQuery("#irate").val('');
                jQuery('#sel_rm').empty();
                jQuery('#sel_rm').append('<option value="0">Please Select Item</option>');
                jQuery("#sel_iunit").empty();
                jQuery('#sel_iunit').append('<option value="0">Please Select Unit</option>');
            }
        }

    }

    function closeindentmodal() {
        var modalid = jQuery("#indent_modal").parent().attr("modal_id");

        closeModal(modalid);
    }

    function update_item_tax(current)
    {
        var currentKey = jQuery(current).attr('data-key');

        if (jQuery(current).is(':checked')) {
            jQuery('#item_tax_'+currentKey+'_amount').removeAttr('disabled');
            jQuery('#item_tax_'+currentKey+'_tax_total').removeAttr('disabled');
        }else{

            jQuery('#item_tax_'+currentKey+'_amount').attr('disabled','disabled').prop('disabled',true);
            jQuery('#item_tax_'+currentKey+'_tax_total').attr('disabled','disabled').prop('disabled','disabled');
        }
    }

</script>
