.mb20 {
    margin-bottom: 20px !important;
}

.p0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#records-list {
    margin-top: 10px;
}

#records-list .nav-tabs {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: none;
    background-color: transparent;
}

#records-list .nav-tabs li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#records-list .nav-tabs li a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     color: #676a6c;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    color: #74777b;
    font-size: 15px;
    margin: 0px;
    padding: 15px 0;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    background-color: #fff;
    cursor: pointer;
    
}

#records-list .nav-tabs li.active a span {
    color: #fff;
}

#records-list .nav-tabs li a i {
    padding-right: 10px;
    color: #74777b;
}

#records-list .nav-tabs li:hover a i {
    color: #06384f;
}

#records-list .nav-tabs li.active a {
    color: #fff;
    background-color: #091a59;
    border: none;
}

#records-list .nav-tabs li.active a i {
    color: #fff;
}

#records-list .nav-tabs li a:focus {
    outline: none;
}

#records-list .nav-tabs li:hover a {
    color: #06384f;
    border-color: #06384f;
}

#records-list .tab-content {
    background-color: #fff;
    margin-top: 20px;
}

#records-list .tab-content .tab-pane {
    padding: 0;
}

#records-list .tab-content .tab-pane .card {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.17);
    border: 1px solid #d2d8d6;
    margin-bottom: 20px;
}

#records-list .tab-content .tab-pane .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

#records-list .tab-content .tab-pane .card .form-group {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

#records-list .tab-content .tab-pane .card .card-body {
    padding: 10px 0;
}

#records-list .tab-content .tab-pane .form-horizontal .card .form-group .controls select {
    float: left;
    width: 25%;
}

#records-list .tab-content .tab-pane .form-horizontal .card .form-group .controls input {
    float: left;
    width: 72%;
    margin-left: 10px;
}

#records-list .tab-content .tab-pane .card .continue-btn ul {
    text-align: center;
    padding: 0px 15px 15px;
    display: table;
    width: 100%;
    margin: 0;
}

#records-list .row > [class*="col-"] {
    margin-bottom: auto;
}

#records-list .tab-content .tab-pane .card .search-btn {
    text-align: right;
    padding: 15px 15px 0 0;
}

#records-list #search-popup .modal-dialog {
    width: 1024px;
}

#records-list #search-popup .contact-search-details {
    overflow-y: auto;
    height: 200px;
}

#records-list #search-popup table {
    margin-bottom: 0px;
}

#records-list #search-popup .modal-header .close {
    color: #0d4b67;
}

#records-list #search-popup .serach-contact-box .card-body .col-sm-4.col-xs-12 {
    padding: 0px;
}

#records-list #search-popup .serach-contact-box .card-body {
    padding: 10px 15px;
}

#records-list #search-popup .serach-contact-box .card-body .control-label {
    font-size: 12px;
    padding-top: 7px;
}

#records-list .room-info .card-body .col-sm-4.col-xs-12 {
    padding: 0px;
}

#records-list .room-info .card-body .controls select {
    float: left;
    width: 35%;
    margin-right: 9px;
}

#records-list .room-info .card-body .controls input {
    width: 60%;
}

#records-list .room-info .card-body {
    padding: 10px 15px 0 !important;
}

#records-list .room-info .datatable {
    margin-bottom: 0px;
}

#records-list .room-info .datatable .checkbox {
    margin: 0;
}

#records-list .room-info .datatable .checkbox label {
    min-height: 16px;
}

#records-list .room-info .contact-search-details {
    overflow-y: auto;
    height: 200px;
}

#records-list .room-info .modal-body .select-void .card-header {
    border-top: 1px solid #E4E4E4;
}

#records-list .room-info .modal-body .select-void ul {
    margin: 0;
    padding: 0;
}

#records-list .room-info .modal-body .select-void ul li {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid #E4E4E4;
    background-color: white;
    margin-right: -4px;
}

#records-list .room-info .modal-body .select-void ul .void-menu {
    background-color: #091a59;
}

#records-list .room-info .modal-body .select-void ul .void-menu a {
    color: #fff;
}

#records-list .room-info .card .datatable .checkbox3.checkbox-check label::after {
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 6px;
}

#records-list .room-info .card .datatable .checkbox3 label::before {
    width: 16px;
    height: 16px;
    top: 5px
}

#records-list .tab-content .tab-pane .card .card-body .radio3 label::after {
    font-size: 12px;
    width: 19px;
    height: 19px;
    line-height: 20px;
}

#records-list .tab-content .tab-pane .card .card-body .radio3label::before {
    width: 16px;
    height: 16px;
    top: 5px
}


