/*  vertical tab */
div.vertical-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.vertical-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.vertical-tab-menu div.list-group{
    margin-bottom: 0;
}
div.vertical-tab-menu div.list-group>a{
    margin-bottom: 0;
    color: #404040;
    font-weight: 500;
    padding: 10px;
    margin-top: -1px;
    background-color: #daddef;
    border: 1px solid rgba(9, 26, 89, 0.16);
}
div.vertical-tab-menu div.list-group>a .glyphicon,
div.vertical-tab-menu div.list-group>a .fa {
       color: #091a59; 
           font-size: 27px;
           display: block;
           margin: 0 5px 5px 0;
}
div.vertical-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a.active,
div.vertical-tab-menu div.list-group>a.active .glyphicon,
div.vertical-tab-menu div.list-group>a.active .fa{
    color: #ffffff;
}
div.vertical-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #091a59;
}

div.vertical-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}
div.vertical-tab div.vertical-tab-content:not(.active){
    display: none;
}

.report-page .card {
    padding: 15px;
}
.report-page .card .card-body {
    padding: 0;
    border: 1px solid #ddd;
}
.vertical-tab-menu .list-group a{
    display: flex;
    align-items: center;
}