@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,400i,600,700,800');
html {
    height: 100%;
}
.pbottom-30{
    padding-bottom: 30px;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 13px;
    font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar-thumb {
    background-color: #011a5d;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
    height: 6px;
}

* {
    outline: none;
}

.mr15 {
    margin-right: 15px;
}

ul,
ol {
    padding: 0;
    margin: 0px;
    list-style: none;
}

.modal-footer span {
    color: #0b435d;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.row.no-margin-bottom > [class*="col-"] {
    margin-bottom: 10px;
}

.row.no-gap {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gap > [class*="col-"] {
    padding-left: 0;
    padding-right: 0px;
}

.no-padding {
    padding: 0px !important;
}

.prl8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb20 { margin-bottom:20px !important;}
.mt10{
    margin-top: 10px;
}
.mt8 {
    margin-top: 8px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.font-weight-300 {
    font-weight: 300;
}

.text-indent {
    text-indent: 1em;
}

.navbar {
    z-index: 9998;
    padding-left: 60px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.navbar > .container,
.navbar > .container-fluid {
    z-index: 10001;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    height: 60px;
    line-height: 60px;
    margin-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0;
    font-size: 1.5em;
}

.navbar > .container .navbar-brand .fa-angle-right,
.navbar > .container-fluid .navbar-brand .fa-angle-right {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar > .container .navbar-expand-toggle,
.navbar > .container-fluid .navbar-expand-toggle {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    float: left;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.navbar > .container .navbar-expand-toggle .icon,
.navbar > .container-fluid .navbar-expand-toggle .icon {
    font-size: 1.4em;
}

.navbar > .container .navbar-right-expand-toggle,
.navbar > .container-fluid .navbar-right-expand-toggle {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}

.navbar > .container .navbar-right-expand-toggle .icon,
.navbar > .container-fluid .navbar-right-expand-toggle .icon {
    font-size: 1.4em;
}

.navbar .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left;
}

.navbar .navbar-breadcrumb > li {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}

.navbar .navbar-nav > li > a {
    font-family: "Noto Sans", sans-serif;
    padding: 0px 17px 0px 17px;
}

.navbar .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    z-index: -1;
    position: absolute;
}
.navbar .dropdown.profile .dropdown-menu{
    width: 150px;
    padding-bottom: 0px;
    text-align: center;
    top: 40px;
}
.navbar > .container-fluid .navbar-nav{
    padding: 10px 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background-color: transparent;
}
.navbar .dropdown-menu .title {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 10px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.flat-blue .navbar .navbar-nav > li, .flat-blue .navbar.navbar-default .navbar-nav > li{
    position: relative;
}

.navbar .dropdown-menu .message {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 10px 20px;
}

.navbar .dropdown-menu .notifications.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .dropdown-menu .notifications.list-group .list-group-item {
    min-width: 250px;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #EEE;
}

.navbar .dropdown-menu .notifications.list-group .list-group-item .icon {
    margin-right: 5px;
}

.navbar .dropdown-menu .notifications.list-group .badge {
    border-radius: 1em;
}

.navbar .dropdown-menu .notifications.list-group .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar .dropdown-menu .notifications.list-group .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.navbar .dropdown-menu .notifications.list-group a.list-group-item:hover {
    cursor: pointer;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img {
    padding: 0px;
    max-height: 300px;
    overflow: hidden;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
    width: 100%;
    height: auto;
    margin: 0px;
    border: 0;
}

.navbar .dropdown.profile .dropdown-menu .profile-info {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3px 0 8px 0;
}

.navbar .dropdown.profile .dropdown-menu .profile-info .username {
    font-size: 1.5em;
}

.app-container {
    min-height: 100%;
    position: relative;
    background-color: #eff3f5;
}

.app-container .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 65px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-size: 12px;
    z-index: -1;
    font-family: "Noto Sans", sans-serif;
}

.app-container .app-footer .wrapper {
    padding: 10px 35px;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
}

.app-container .content-container {
    margin-right: 0;
    margin-left: 0;
}

.app-container .content-container .side-menu {
    overflow-y: auto;
    z-index: 9999;
    position: fixed;
    width: 60px;
    height: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.app-container .content-container .side-menu .navbar-header {
    width: 100%;
    border-bottom: 0px solid #e7e7e7;
}

.app-container .content-container .side-menu .navbar-header img {
    margin: 12px auto;
}
.navbar-header ul.navbar-nav li img{
    height: 40px;
    display: inline-block;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand {
    width: 455px;
    line-height: 60px;
    height: 60px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .icon {
    /*    width: 60px;*/
    text-align: center;
    display: inline-block;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .title {
    margin-left: -10px;
    display: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.app-container .content-container .side-menu .navbar-header .navbar-expand-toggle {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}

.app-container .content-container .side-menu .navbar {
    border: none;
    padding-left: 0px;
}

.app-container .content-container .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    overflow: hidden;
}

.app-container .content-container .side-menu .navbar-nav li a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    padding: 14px 10px 14px 5px;
    display: block;
    white-space: nowrap;
}

.app-container .content-container .side-menu .navbar-nav li a .icon {
    color: #091a59;
    margin-left: 0px;
    width: 32px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.app-container .content-container .side-menu .navbar-nav li a .title {
    width: 0px;
    white-space: nowrap;
    padding-left: 6px;
    display: none;
}

.app-container .content-container .side-menu .navbar-nav li.dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
    height: auto;
    line-height: inherit;
    vertical-align: middle;
    padding: 12px 2px 12px 10px;
    font-size: 13px;
    color: #091a59;
    font-weight: 500;
}

.app-container .content-container .side-menu .navbar-nav li.dropdown > a:after {
    content: "";
    position: absolute;
    right: 1em;
}

.app-container .content-container .side-menu .navbar-nav .panel-collapse.in {
    display: none;
}

.app-container .content-container .side-menu:hover {
    width: 200px;
}

.app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title {
    display: inline-block;
}

.app-container .content-container .side-menu:hover .navbar-nav li a .title {
    width: 150px;
    display: inline-block;
}

.app-container .content-container .side-menu:hover .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 1em;
}

.app-container .content-container .side-menu:hover .panel-collapse.in {
    display: block;
}

.app-container .content-container .side-body {
    padding-top: 70px;
}

.app-container .content-container .side-body.padding-top {
    padding-top: 84px;
}

.app-container.expanded .app-footer {
    left: 192px;
}

.app-container.expanded .app-footer .wrapper {
    padding-left: 25px;
}

.app-container.expanded .content-container .navbar-top {
    padding-left: 200px;
}

.app-container.expanded .content-container .side-menu {
    width: 200px;
}

.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    display: inline-block;
    margin-left: 5px;
}

.app-container.expanded .content-container .side-menu .navbar-nav li a .title {
    display: inline-block;
    width: unset;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
}

.app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in {
    display: block;
}

.app-container.expanded .content-container .side-menu .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 5px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
}

.page-title {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px 10px;
    margin-bottom: 0px;
    height: auto;
}

.page-title .title {
    font-size: 2em;
}

.page-title .page-action {
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.sub-title {
    font-family: 'Roboto Condensed', sans-serif;
}

.sub-title > * {
    display: inline-block;
}

.sub-title h3 {
    margin-right: 10px;
}

.sub-title .description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}

.sub-title .action .btn {
    padding: 0 0.5em;
}


/* Main body section */

.app-container .side-body {
    margin-left: 55px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.app-container.expanded .side-body {
    margin-left: 194px;
}


/* small screen */

@media (max-width: 768px) {
    .navbar {
        padding-left: 0;
    }
    .navbar .navbar-header {
        width: auto;
        display: block;
    }
    .navbar .navbar-nav {
        width: auto;
        margin: 0;
    }
    .navbar .navbar-nav > li {
        display: inline-block;
    }
    .navbar .navbar-right {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .navbar .navbar-right .open .dropdown-menu {
        position: absolute;
    }
    .navbar .navbar-right.expanded {
        right: 0;
    }
    .app-container .navbar-top {
        min-width: 300px;
    }
    .app-container .content-container .side-menu {
        margin-left: -250px;
        width: 0px;
    }
    .app-container .content-container .side-body {
        margin-left: 10px;
    }
    .app-container.expanded .navbar-top {
        min-width: 480px;
        padding-left: 0px;
    }
    .app-container.expanded .side-menu {
        margin-left: 0px;
        width: 250px;
    }
    .app-container.expanded .side-body {
        margin-left: 10px;
    }
    .app-container .app-footer .wrapper,
    .app-container.expanded .app-footer .wrapper {
        padding-left: 25px;
    }
}

/* Card */
.card .card-body .border-section{
    border: 1px solid #091a59;
    margin-bottom: 20px;
}
.card .card-body .collapse-fix{
    max-height: 300px;
    overflow-y: scroll;
    margin: 10px 0 5px;
}
.card .card-body .border-section label.lable-top{
    position: absolute;
    top: -10px;
    background-color: #fff;
    padding: 0 20px;
}

.card {
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.card .card-body {
    padding: 15px;
}
.card .card-body table tr td a{
    color: #081a5a;
}

.card .card-body .sub-title {
    font-size: 1.2em;
    padding: 1.2em 0em 0.4em 0em;
    margin-bottom: 25px;
}

.card .card-body .sub-title .description {
    padding-left: 0.4em;
    font-size: 0.8em;
    opacity: 0.8;
}

.card .card-body.half-padding {
    padding: 12.5px;
}

.card .card-header .card-title {
    padding: 11px 15px;
    float: left;
}

.card .card-footer .card-title {
    padding: 1.2em 25px;
    float: left;
}

.card .card-header .card-title .title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #091a59;
    font-size: 17px;
}

.card .card-header .pull-right {
    padding: 0.5em 0.5em;
}

.card .card-header:after {
    content: '';
    display: block;
    clear: both;
}

.card .card-profile-img img {
    width: 100%;
    height: auto;
}

.card .card-jumbotron {
    padding: 1.5em 1.5em;
}

.card:hover .card-header .title {
    text-decoration: none !important;
}

.card.summary-inline .card-body {
    padding: 20px;
}

.card.summary-inline .card-body .content {
    float: right;
}

.card.summary-inline .card-body .content .title {
    font-family: 'Lato', sans-serif;
    margin-top: -0.3em;
    font-size: 3.5em;
    text-align: right;
}

.card.summary-inline .card-body .content .sub-title {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0;
}

.card.profile .card-body {
    padding: 0.5em 0.8em;
}

.card.profile .card-footer {
    padding: 0.5em 0.8em;
}

.panel {
    border-radius: 1px;
}

.panel .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.chart {
    padding: 15px;
}

.chart.no-padding {
    padding: 0;
    margin-bottom: -5px;
}

.btn-primary ,.btn-info{
    background-color: #091a59 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary:hover,
.btn-info:hover{
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36) !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36) !important;
    background-color: #040d2f !important;
    border-color: #091a59;
}

.btn-reverse {
    background-color: #efefef;
    color: #091a59;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 16px;
}

.btn {
    margin-bottom: 0px;
    border-radius: 2px;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    margin-top: 5px;
    min-width: 110px;
    padding: 6px 12px;
}

.btn-group-lg > .btn,
.btn-group-lg > .btn-lg {
    border-radius: 1px;
}

.progress {
    border-radius: 1px;
    box-shadow: none;
}

.progress .progress-bar {
    box-shadow: none;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.pagination li:first-child > a,
.pagination li:first-child span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination li:last-child > a,
.pagination li:last-child span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.form-control {
    box-shadow: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    height: 30px;
    border: 1px solid #e3e8ea;
    border-radius: 3px;
    padding: 6px 9px;
}

.bs-example-modal .modal {
    z-index: 100;
    position: relative;
    display: block;
}

.modal {
    z-index: 100001;
}

.modal .modal-dialog .modal-header {
    font-family: 'Roboto Condensed', sans-serif;
}

.modal .modal-dialog .modal-content {
    border-radius: 1px;
    box-shadow: none;
}

.modal .modal-dialog .modal-footer .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-backdrop {
    z-index: 100000;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.alert {
    border-width: 0px;
    border-radius: 1px;
}

.list-group .badge {
    border-radius: 1px;
}

.list-group .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.list-group .list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.checkbox3,
.radio3 {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.checkbox-inline {
    margin-bottom: 5px;
}

.checkbox3 label,
.radio3 label {
    padding: 8px 0 8px 30px;
}

.checkbox3 label::before,
.radio3 label::before {
    top: 5px;
}

.checkbox3 label::after,
.radio3 label::after {
    top: 5px;
}

.checkbox3 label,
.radio3 label,
.checkbox-inline,
.radio-inline {
    font-weight: normal;
}

.bootstrap-switch {
    border-radius: 1px;
}

.thumbnail {
    border-radius: 1px;
    padding: 0;
}

.thumbnail .caption {
    padding: 0.5em 1.2em;
}

.thumbnail .caption .h1,
.thumbnail .caption .h2,
.thumbnail .caption .h3,
.thumbnail .caption h1,
.thumbnail .caption h2,
.thumbnail .caption h3 {
    margin-top: 15px;
}


/*Login page Start*/

body.login-page {
    background-color: #091a59 !important;
 /*  // background-image: url('../img/login-bg.jpg');*/
    background-repeat: no-repeat;
}

.login-page .login-form {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.login-page .login-form .login-box {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: table;
}

.login-page .login-form .login-box .body-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-page .login-form .login-box .body-inner .card {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    padding: 10px 25px;
}

.login-page .login-form .login-box .body-inner .card .logo {
    padding: 20px 0 0;
}

.login-page .login-form .login-box .body-inner .card .logo img {
    margin: auto;
}

.login-page .login-form .login-box .body-inner .heading-details {
    padding-bottom: 15px;
}

.login-page .login-form .login-box .body-inner .heading-details .titles {
    color: #091a59;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}


/*Login page End*/

.form-group {
    text-align: left;
}

.form-group .control-label {
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 10px 0 0 0 !important;
    color: #091a59 !important;
}

.form-group .form-control {
    padding: 6px 12px 6px 5px;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    margin: 0px;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
    top: -18px !important;
}

.login-page .form-group.is-focused label,
.login-page .form-group.is-focused label.control-label {
    color: #091a59;
}

.form-group.is-focused input {
    border-bottom: 2px solid #091a59 !important;
    background-image: none !important;
}

.login-page .login-form .login-box .body-inner .card form .form-group .btn-primary {
    background-color: #091a59;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 18px;
}

.form-group .form-control::-webkit-input-placeholder {
    font-size: 14px;
}

.form-group .form-control::-moz-placeholder {
    font-size: 14px;
}

.form-group .form-control:-ms-input-placeholder {
    font-size: 14px;
}

.form-group .form-control:-moz-placeholder {
    font-size: 14px;
}

.dataTables_wrapper .row {
    margin-bottom: 0.5em;
}

.dataTables_wrapper .top {
    margin-bottom: 6px;
    position: relative;
}

.dataTables_wrapper .bottom {
    margin-top: 6px;
}

.dataTables_wrapper .top:after,
.dataTables_wrapper .bottom:after {
    position: relative;
    clear: both;
    display: block;
    content: '';
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
    border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 0;
}

.dataTables_wrapper tfoot {
    display: none;
}

.code-preview {
    width: 100%;
    min-height: 400px;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    border-radius: 0;
    border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-radius: 0;
    border-top: 0;
    background-color: #091a59;
}

.tab-content > div {
    padding: 20px;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-bottom-color: transparent;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left,
.tabs-right {
    display: table;
}

.tabs-left > .nav-tabs {
    display: table-cell;
    margin-right: 19px;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
}

.tabs-right > .nav-tabs {
    display: table-cell;
    margin-left: 19px;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
}

.tab:after {
    content: '';
    display: block;
    clear: both;
}

.step .nav-tabs {
    border-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.step .nav-tabs > li[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.step .nav-tabs > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.step .nav-tabs > li {
    border-right: 0;
}

.step .nav-tabs > li > a {
    margin-right: 0;
    display: block;
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border-bottom: 0;
}

.step .nav-tabs > li > a .icon {
    font-size: 2.5em;
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: middle;
}

.step .nav-tabs > li > a .step-title {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.step .nav-tabs > li > a .step-title .title {
    font-weight: bold;
    font-size: 1.1em;
}

.step .nav-tabs > li > a .step-title .description {
    font-size: 0.9em;
}

.step .nav-tabs > li > a:hover {
    border-bottom: 0;
}

.step .nav-tabs > li:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0%, -50%);
    z-index: 100001;
}

.step .nav-tabs > li:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translate(0%, -50%);
    z-index: 100000;
}

.step .nav-tabs > li.active > a,
.step .nav-tabs > li.active > a:focus,
.step .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
    border-bottom: 0;
}

.step .nav-tabs > li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.step .nav-tabs > li:last-child:before,
.step .nav-tabs > li:last-child:after {
    display: none;
}

.step .tab-content > div {
    padding: 0;
}

.step.card-no-padding .nav-tabs {
    margin-bottom: 0px;
}

.step.card-no-padding .nav-tabs > li {
    border-radius: 0;
}

.step.card-no-padding .tab-content > div {
    padding: 20px;
}

.step.tabs-left .tab-content {
    padding: 5px 15px;
    display: table-cell;
    vertical-align: top;
}

.step.tabs-left .tab-content > div {
    padding: 20px;
}

.step.tabs-left .nav-tabs {
    border-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.step.tabs-left .nav-tabs > li[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.step.tabs-left .nav-tabs > li:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.step.tabs-left .nav-tabs > li {
    border-right: 0px;
    min-width: 250px;
    display: table;
    width: 250px;
}

.step.tabs-left .nav-tabs > li > a {
    margin-right: 0;
    display: table-cell;
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    vertical-align: middle;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
}

.step.tabs-left .nav-tabs > li > a .icon {
    font-size: 2.5em;
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: middle;
}

.step.tabs-left .nav-tabs > li > a .step-title {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.step.tabs-left .nav-tabs > li > a .step-title .title {
    font-weight: bold;
    font-size: 1.1em;
}

.step.tabs-left .nav-tabs > li > a .step-title .description {
    font-size: 0.9em;
}

.step.tabs-left .nav-tabs > li > a:hover {
    border-bottom: 0;
}

.step.tabs-left .nav-tabs > li:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 10000;
    display: none;
}

.step.tabs-left .nav-tabs > li:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translate(0%, -50%);
    z-index: 10000;
    display: none;
}

.step.tabs-left .nav-tabs > li.active > a,
.step.tabs-left .nav-tabs > li.active > a:focus,
.step.tabs-left .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
    border-bottom: 0;
}

.step.tabs-left .nav-tabs > li.active:after,
.step.tabs-left .nav-tabs > li.active:before {
    display: block;
}

.step.tabs-left .nav-tabs > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (max-width: 768px) {
    .step .nav-tabs > li:after {
        display: none;
    }
    .step .nav-tabs > li:before {
        display: none;
    }
}

.loader-container {
    display: none;
}

.loader .loader-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
}

.norecord {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 1.4375rem;
    line-height: 50px;
    padding: 20px;
    text-align: center;
    color: #585050;
}

.norecord i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 85px;
}

.pricing-table .pt-header {
    text-align: center;
    padding: 1em;
}

.pricing-table .pt-header .plan-pricing .pricing {
    font-size: 2.5em;
}

.pricing-table .pt-header .plan-pricing .pricing-type {
    opacity: 0.9;
}

.pricing-table .pt-body {
    padding: 1em;
    text-align: center;
}

.pricing-table .pt-body .plan-detail {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pricing-table .pt-footer {
    padding: 0.75em;
    text-align: center;
}

.icons-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons-list > li {
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 8px;
}

.icons-list > li span {
    display: block;
}

.icons-list > li .glyphicon {
    font-size: 1.5em;
}

.icons-list > li .glyphicon-class {
    margin-top: 8px;
    font-size: 0.75em;
}

.icons-list:after {
    content: '';
    display: block;
    position: relative;
    clear: both;
}

.row.example > [class*='col-'] > div {
    background-color: #EEE;
    padding: 10px;
    border: 1px solid #DDD;
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb > li + li:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 3px;
}

.message-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.message-list > a > li {
    border-bottom: 1px dotted #EEE;
    padding: 8px;
}

.message-list > a > li > .message-block {
    padding-left: 70px;
    min-height: 60px;
}

.message-list > a > li > .message-block .username {
    font-size: 12px;
    font-weight: bold;
}

.message-list > a > li > .message-block .message-datetime {
    font-size: 12px;
    color: #AAA;
}

.message-list > a > li > .message-block .message {
    font-size: 12px;
}

.message-list > a > li .profile-img {
    width: 60px;
    height: 60px;
}

.message-list > a:hover li {
    background-color: rgba(0, 0, 0, 0.01);
}

.bs-example > * {
    margin-bottom: 20px;
}

.bs-example > *:last-child {
    margin-bottom: 5px;
}

.landing-page {
    font-family: 'Roboto Condensed', sans-serif;
}

.landing-page .navbar .navbar-toggle {
    position: absolute;
    right: 0;
    border-radius: 0;
    border: 0;
    height: 44px;
    padding: 0 15px;
}

.landing-page .app-header {
    padding-top: 100px;
    background-image: url("../img/app-header-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.landing-page .app-header .app-logo {
    margin-bottom: 20px;
}

.landing-page .app-header .app-description {
    margin-bottom: 40px;
}

.landing-page .app-content-a,
.landing-page .app-content-b {
    padding-top: 50px;
    padding-bottom: 20px;
}

.landing-page .app-content-b.feature-1 {
    background-image: url("../img/bg/picjumbo.com_HNCK3558.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.landing-page .app-content-b.contact-us {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/contact-us-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.ele_failed {
    border: 1px solid red;
}

.ele_success {
    bordeR: 1px solid green;
}

.landing-page .app-content-b.contact-us .contact-us-header {
    font-weight: 300;
    font-size: 46px;
}

.landing-page .app-content-b.contact-us .contact-us-description {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
    text-indent: 40px;
}

.landing-page .app-content-b.contact-us form {
    margin-top: 20px;
}

.landing-page .app-content-b.contact-us form input {
    padding: 10px;
    width: 100%;
    border: 0px;
}

.landing-page .app-content-header {
    font-weight: 300;
    font-size: 46px;
}

.landing-page .app-content-description {
    font-weight: 300;
    font-size: 18px;
}

.landing-page .app-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.landing-page .app-footer p {
    margin: 0;
}

.landing-page .navbar-affix {
    width: 100%;
    height: 60px;
    border-top: 2px rgba(78, 205, 196, 0.8);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: fixed;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
    box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
}

.landing-page .navbar.affix {
    z-index: 4000;
    background-color: rgba(255, 255, 255, 0.95) !important;
    height: 60px;
    opacity: 1;
    margin-top: 0px;
}

.landing-page .navbar-affix.affix li a {
    height: 60px;
    line-height: 60px;
}

.landing-page .navbar-affix.affix .navbar-nav > li > a {
    background-color: transparent;
    font-weight: 400;
    color: #333;
}

.landing-page .navbar {
    padding-left: 0px;
    background-color: transparent;
    box-shadow: none;
}

.landing-page .navbar .navbar-right {
    position: relative;
    right: 0;
}

.landing-page .navbar .navbar-header {
    border-bottom: 0px solid #e7e7e7;
}

.landing-page .navbar .navbar-header .navbar-brand {
    width: 45px;
    line-height: 60px;
    height: 60px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.landing-page .navbar .navbar-header .navbar-brand .icon {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.landing-page .navbar .navbar-header .navbar-brand .title {
    margin-left: -10px;
    display: inline-block;
}

.landing-page .navbar .navbar-header .navbar-expand-toggle {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}

@media only screen and (max-width: 768px) {
    .landing-page .navbar .navbar-header .navbar-brand {
        padding-left: 15px;
    }
}

.row-example > [class*="col-"] {
    margin-bottom: 0px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.invalid {
    border: 1px solid red !important;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/*-------------Custom------*/

.login-title {
    font-size: 36px;
}

.login_small {
    font-size: 18px;
}

.login-logo {
    background: url(../img/login_logo.png);
    padding: inherit;
    width: 214px;
    height: 103px;
    display: inline-block;
}

.paddingzero {
    padding: 0px 0px 0px 0px !important;
}

.textalignleft {
    text-align: left !important;
}

.marginzero {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.marginbottomzero {
    margin-bottom: 0px !important;
}

.marginbottom5 {
    margin-bottom: 5px !important;
}

.card-header .btn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 100px;
        margin-bottom: 20px;
    }
}

.p-lr-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pagination > .btn {
    margin-top: 0px;
}

.flat-blue .navbar.navbar-default .navbar-nav > li.profile > a {
    color: #fff;
}

.control-label {
    color: #5d6c73;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.app-footer {
    color: #5d6c73;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.flat-blue .navbar.navbar-default .navbar-nav > li > a > i {
    font-size: 16px;
    color: #c7dee8;
}

.pagination .btn {
    min-width: auto !important;
    margin-right: 12px;
}

.pagination .btn:last-child{
    margin-right: 0;
}

.update_ico {
    margin-right: 10px;
    cursor: pointer;
}

.card-body-paddingtop10 {
    padding-top: 10px;
}

#modalPrimary .modal-dialog .modal-body {
    background-color: #eff3f5;
}

.modal-lg {
    width: 900px !important;
}


/**/

.roomrate-table {
    height: 400px;
    overflow-y: auto
}

.roomrate-table::-webkit-scrollbar-track {
    background-color: #fff;
}

.roomrate-table::-webkit-scrollbar {
    width: 6px;
    background-color: #F0F0F0;
}

.roomrate-table::-webkit-scrollbar-thumb {
    background-color: #011a5d;
    border-radius: 15px;
}


/*Ashu*/


/*Header*/

.login-dropdown li.dropdown.profile > a {
    padding: 20px 12px;
    color: #fff;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

.login-dropdown li.dropdown.profile .dropdown-menu {
    left: auto;
    right: -1px;
    min-width: 210px;
    border-radius: 0;
    padding: 5px 0;
}

.login-dropdown li.dropdown.profile .dropdown-menu > li {
    overflow: inherit;
}

.login-dropdown li.dropdown.profile .dropdown-menu > li > a {
    padding: 10px 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px;
    border-radius: 2px;
}

.login-dropdown li.dropdown.profile .dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #091a59;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}


/*

table tr td a .fa.fa-check {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #4caf50;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}

table tr td a .fa.fa-remove {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #f44336;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

table tr td a .fa.fa-pencil {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #00bcd4;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}
table tr td a .fa.fa-trash {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #f44336;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}
table tr td a .fa.fa-eye {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #ff9800;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}
table tr td a .fa.fa-info {
    height: 28px;
    width: 28px;
    border-radius: 30px;
    background-color: #999999;
    color: #fff;
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}*/

table.datatable tr td a i {
    color: #091a59;
}

.aTablePager .pagerecord,
.aTablePager .totalrecord {
    font-size: 14px;
    color: #091a59;
    font-weight: normal;
    display: inline-block;
    height: 30px;
    vertical-align: bottom;
}

.aTablePager .v-select.input-group {
    display: inline-block;
    margin: 0 10px;
}

.pagination .v-select.input-group {
    height: 20px;
}

.aTablePager .pagerecord .v-select {
    margin: 0 10px;
}

.aTablePager .pagerecord .v-select .form-group {
    margin-bottom: 0px;
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    color: #091a59 !important;
}

.body-footer-table {
    border-top: 1px solid #ddd;
    padding-top: 12px;
    margin-bottom: 0;
}

.roomrate-table .datatable {
    margin-bottom: 0px;
}

.roomrate-table .datatable tr td .form-group {
    margin-bottom: 0px;
}

.form-group input[type=file] {
    opacity: 1 !important;
    border-bottom: none !important;
    position: relative !important;
}

.footer {
    background-color: #fff;
    padding: 10px 15px;
    margin-left: 200px;
    margin-right: 0;
    position: fixed;
    width: 86%;
    bottom: 0;
    z-index: 99;
}

.footer .footer-text p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.footer .footer-text p span {
    font-weight: bold;
    color: #091a59;
}



.plus-checkbox {
    margin-left: -15px;
}

.plus-checkbox .checkbox3 i {
    display: inline-block;
}

.plus-checkbox .checkbox3 label {
    display: inline-block;
}


/**/

.stay-view-grid {
    background-color: #fff;
    margin-bottom: 15px;
}

.stay-view-grid .form-group {
    display: table;
    width: 100%;
    margin: 8px 0;
}

.stay-view-grid .grid-top {
    display: table;
    width: 100%;
    padding: 10px 0 7px;
}

.stay-view-grid .form-group .form-label {
    margin: 4px 0;
}

.stay-view-grid .form-group .btn-primary {
    margin: 5px 0;
}

.stay-view-grid .grid-top .form-group .checkbox3 {
    display: inline-block;
    padding-right: 10px;
}

.stay-view-grid .grid-top .form-group .checkbox3 label {
    text-transform: capitalize;
    padding: 8px 0 0px 20px;
    font-size: 14px;
}

.stay-view-grid .grid-top .form-group .checkbox3 label::before {
    width: 15px;
    height: 15px;
}

.stay-view-grid .grid-top .form-group .checkbox3.checkbox-check label::after {
    width: 15px;
    height: 15px;
}

.stay-view-grid .grid-top .form-group .checkbox3.checkbox-check label::after {
    font-size: 10px;
    color: #FFF;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.stay-view-grid .grid-header {
    display: table;
    width: 100%;
}

.stay-view-grid .grid-header .roomday-filter {
    float: left;
    width: 18%;
    height: 60px;
    background-color: #091a59;
    color: #fff;
    text-align: center;
    padding: 19px 0;
}

.stay-view-grid .grid-header .roomday-filter h4 {
    margin: 0;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}

.stay-view-grid .grid-header .roomday-filter #sandbox-container .form-control::-webkit-input-placeholder {
    color: #fff;
    font-size: 18px;
}

.stay-view-grid .grid-header .roomday-filter #sandbox-container .form-control::-moz-placeholder {
    color: #fff;
    font-size: 18px;
}

.stay-view-grid .grid-header .roomday-filter #sandbox-container .form-control:-ms-input-placeholder {
    color: #fff;
    font-size: 18px;
}

.stay-view-grid .grid-header .roomday-filter #sandbox-container .form-control:-moz-placeholder {
    color: #fff;
    font-size: 18px;
}

.stay-view-grid .grid-header .room-date {
    width: 82%;
    float: left;
    position: relative;
}

.stay-view-grid .grid-header .room-date .slide-buttons .prev {
    left: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.stay-view-grid .grid-header .room-date .slide-buttons .next {
    right: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.stay-view-grid .grid-header .room-date .slide-buttons i {
    font-size: 24px;
    color: #091a59;
    cursor: pointer;
}

.stay-view-grid .grid-header .room-date ul li {
    float: left;
    width: 3.225806451612903%;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height: 60px;
    background-color: #eaeaea;
}

.stay-view-grid .grid-header .room-date ul li p {
    color: #989898;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 16px;
}

.stay-view-grid .grid-header .room-date ul li p span {
    display: block;
}

.stay-view-grid .grid-header .room-date ul li p span.date {
    color: #091a59;
    font-size: 13px;
}

.stay-view-grid .grid-header .grid-status {
    display: table;
    width: 100%;
}

.stay-view-grid .grid-header .grid-status .status-heading {
    float: left;
    width: 18%;
}

.stay-view-grid .grid-header .grid-status .status-heading h5 {
    text-align: center;
    margin: 0;
    font-size: 14px;
    padding: 11px 0;
    color: #fff;
    background-color: #091a59;
    border-bottom: 1px solid #000;
    height: 35px;
}

.stay-view-grid .grid-header .grid-status .status-details {
    float: left;
    width: 82%;
}

.stay-view-grid .grid-header .grid-status .status-details ul li {
    float: left;
    width: 3.225806451612903%;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background-color: #eaeaea;
}

.stay-view-grid .grid-header .grid-status .status-details ul li p {
    color: #091a59;
    margin-bottom: 0;
    text-align: center;
    padding: 8px 0;
    line-height: 18px;
    height: 34px;
    font-size: 13px;
}

.stay-view-grid .grid-main-table .grid-right-allroom .room-type-count .room-typename-count ul {
    display: table;
    width: 100%;
}

.stay-view-grid .grid-main-table .grid-right-allroom .room-type-count .room-typename-count ul li {
    float: left;
    width: 6.6666667%;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    background-color: #eaeaea
}

.stay-view-grid .grid-main-table .grid-right-allroom .room-type-count .room-typename-count ul li p {
    margin-bottom: 0;
    padding: 7px 0;
    height: 29px;
    text-align: center;
}

.stay-view-grid .grid-main-table .grid-right-allroom .room-type-count .room-detail-count ul li {
    float: left;
    width: 3.225806451612903%;
    border-bottom: 1px solid #dedede;
    height: 30px;
    border-right: 1px solid #dedede;
    text-align: center;
    padding: 6px 0;
    color: #9a9a9a;
}

.stay-view-grid .grid-main-table .grid-right-allroom {
    width: 82%;
    float: left;
}

.stay-view-grid .grid-main-table .grid-left-roomshow {
    float: left;
    width: 18%;
    border-left: 1px solid #dedede;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .room-type-name {
    background-color: #eaeaea;
    padding: 5px 0px 5px 10px;
    height: 30px;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .room-type-name a {
    display: block;
    color: #091a59;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .room-type-name a i {
    padding-right: 8px;
    font-size: 18px;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .all-room-detail ul li {
    display: table;
    width: 100%;
    padding: 2px 5px;
    border-bottom: 1px solid #dedede;
    height: 30px;
    border-right: 1px solid #dedede;
    text-align: center;
    background-color: #eaeaea;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .all-room-detail ul li .roomname {
    margin: 0;
    padding: 5px 0;
    font-size: 13px;
    color: #091a59;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .all-room-detail ul li .room-facility {
    float: right;
}

.stay-view-grid .grid-main-table .grid-left-roomshow .room-type .all-room-detail ul li .room-facility a {
    color: #847c7c;
}

.stay-view-grid .grid-sorting {
    display: table;
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #dedede;
}
.scrooling_detail
{
    max-height: 375px;
    overflow-y: auto;
}
.viewDetail_extraspace
{
    margin-bottom: 0px !important;
}
.voucherspace
{
    margin-left: 5px;
    cursor: pointer;
}
.scroll_box
{
    height: 201px;
    overflow: scroll;
    border: 1px dashed navy;
    padding: 2px 30px;
}
.check-in-check-out .form-group.col-md-2{
    width: 14%;
}
.nav_privileges
{
    background-color: #efefef;
    font-size: 14px;
}
.nav_privileges > li.active > a
{
    background-color: #091a59 !important;
    color: white;
}
.nav_privileges > li > a
{
    background-color: #efeff0 !important;
    color: #081b59;
    border-radius: 0px;
}
.reservation_voucher_close
{
    float: right;
    margin: 0px 30px;
    font-size: 18px;
    cursor: pointer;
}
.datatable td {
    /*word-break: break-word;*/
    -ms-word-break: break-all;
    word-break: break-all;
}
.show_space {
    height: 200px;
}

/*-- Checkbox --*/

.checkbox3 label{
    white-space: unset !important;
    word-break: break-all;
    -ms-word-break: break-all;
}

/*-- Design Dissimilarities remedies --*/

.flat-blue .navbar > .container-fluid, .flat-blue .navbar.navbar-default > .container-fluid{
    background-color: #fff !important;
}

.flat-blue .navbar .navbar-header .navbar-expand-toggle, .flat-blue .navbar.navbar-default .navbar-header .navbar-expand-toggle,
.flat-blue .navbar .navbar-breadcrumb li, .flat-blue .navbar.navbar-default .navbar-breadcrumb li,
.flat-blue .navbar.navbar-default .navbar-nav > li.profile > a{
    color: #091a59 !important;
}

.flat-blue .navbar.navbar-default .navbar-nav > li.profile > a{
    font-size: 17px;
    float: right;
    position: relative;
    vertical-align: middle;
    top: 10px;
}

.flat-blue .side-menu .navbar li.active > a{
    border-left: 0 !important;
    border-right: 3px solid #091a59;
    background-color: #fff;
    color: #091a59;
}

.flat-blue .side-menu .navbar-header{
    margin-bottom: 0;
}

.flat-blue .side-menu .navbar li.dropdown .panel-body{
    padding: 0;
}

.flat-blue .side-menu .navbar li.dropdown .panel-body li.active{
    padding-right: 10px;
}

/*
popup*/
.split_popup#modalPrimarysplit .card .contact-search-details {
    margin-top: 44px;
    max-height: 300px;
    overflow-y: auto;
}
.split_popup#modalPrimarysplit .card .datatable.fix-table-split,
.searchgustlist_popup .guest_folio_table .guest-fixed {
    position: absolute;
    top: 0;
    margin-bottom: 0px;

}

.split_popup#modalPrimarysplit .card .contact-search-details {
    margin-top: 44px;
    max-height: 300px;
    overflow-y: auto;
}
.split_popup.modal-dialog{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.split_popup .card .card-body{
    max-height: 200px;
    overflow: scroll;
}
.split_popup .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
.split_popup .control-label{
    font-weight: 700;
    line-height: 30px;
}
.split_popup textarea{
    resize: vertical;
}
.split_popup .modal-dialog {
    width: 800px;
}
.modal-footer span {
    color: #0b435d;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.bs-example-modal .modal {
    z-index: 100;
    position: relative;
    display: block;
}

.modal {
    z-index: 9999;
}

.modal .modal-dialog .modal-header {
    font-family: "Noto Sans", sans-serif;
    background-color: #091a59;
    color: #FFF;
}

.modal .modal-dialog .modal-content {
    border-radius: 1px;
    box-shadow: none;
}

.modal .modal-dialog .modal-footer .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-backdrop {
    z-index: 9;
}

.modal-backdrop.in {
    opacity: 0.8;
}


#modalPrimary .modal-dialog .modal-body {
    background-color: #eff3f5;
}
#modalPrimary .modal-body .panel .card {
    border: 1px solid rgba(66, 65, 123, 0.50);
}

#modalPrimary .modal-body .panel .card .card-header {
    border-bottom: 1px solid rgba(66, 65, 123, 0.50);
}

.modal-lg {
    width: 900px !important;
}

.form-group-wrap,.form-inline-group-wrap{
    padding: 0 15px;
    display: flex;
}

.form-group-wrap .form-group{
    position: relative;
    width: 20%;
    float: left;
    padding-right: 15px !important;
}

.form-inline-group-wrap .form-group:last-child,
.form-group-wrap .form-group:last-child{
    padding-right: 0 !important;
}

.form-inline-group-wrap .form-group{
    padding-right: 15px !important;
    width: 25%;
}

.form-inline-group-wrap .form-group:nth-child(3){
    width: 110px;
}

.form-inline-group-wrap .form-group:nth-child(4){
    width: 200px;
}

.form-inline-group-wrap .form-group:nth-child(5){
    width: 140px;
}

.form-inline-group-wrap .form-group:last-child{
    width: 180px;
}

.btns-wrap ul{
    margin: 0;
    margin-top: 15px;
}

.inline-form-group{
    display: flex;
}

.inline-form-group .form-label{    
    line-height: unset;
    height: unset;
    justify-self: center;
    padding-right: 20px;
}

#modal_block .modal{
    background-color: rgba(0, 0, 0, .7);
}

.tooltip .tooltip-inner{
    background-color: #ff4242;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: -3px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: .2px;
}

.tooltip.top .tooltip-arrow{
    border-top-color: #ff4242;
}

.overflow-show{
    overflow: unset;
}

.disp-table{
    display: table;
}

/*-- Loader --*/

.loader1{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

.loader-wrap{
    position: fixed;
    margin: 75px auto;
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateX(-50%)
}

.loader-wrap div {
  height: 100%;
}

.loader3, .loader3 div{
    border-radius: 50%;
    padding: 8px;
    border: 4px solid transparent;
    -webkit-animation: rotate linear 3.5s infinite;
    animation: rotate linear 3.5s infinite;
    border-top-color: #39b65f;
    border-left-color: #28bcee;
    border-right-color: #f58345;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
    animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.modal-open .select2-container{
    z-index: 9999;
}

.modal-open .modal{
    background-color: rgba(0, 0, 0, .5);
}

/* Sticky Thead */

.table-fixed{
    table-layout: fixed;
}

.table-fixed td,
.table-fixed th{
    width: 12.5% !important;
    text-align: center;
}

.table-fixed th{
    text-align: center;
}

.table-fixed tbody{
    display: table;
    width: 100%;
    margin-top: -2px;
}

.mb-0{
    margin-bottom: 0;
}

.hide-thead{
    opacity: 0;
    width: 100%;
    display: table;
    height: 0;
    display: none;
}

.hide-thead th{
    padding: 0 !important;
}

#paymenthistorylist.scroll{
    max-height: 170px;
    overflow-y: scroll;
    display: inline-block;
}

#bookedlist.scroll{
    max-height: 170px;
    overflow-y: scroll;
    display: inline-block;
}

#package_modal .form-horizontal .controls textarea.form-control  {
  height: 30px;
}

.not_permission_user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    overflow: hidden;
}

#privilege label{
    word-break: keep-all;
}
