<div class="modal-dialog">
    <div class="modal-content">
        <form id="frm" name="frm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Company</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body clearfix" style="padding: 15px;">
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="business_name">Business Name</label>
                            <div class="col-sm-9">
                                <input id="business_name" class="form-control" type="text" placeholder="" name="business_name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="contact_name">Contact Person</label>
                            <div class="col-sm-9">
                                <input id="contact_name" class="form-control " type="text" placeholder="" name="contact_name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="email">Email</label>
                            <div class="col-sm-9">
                                <input id="email" class="form-control" type="text" placeholder="" name="email" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="contact">Contact No</label>
                            <div class="col-sm-9">
                                <input id="contact" class="form-control integer" type="text" placeholder="" name="contact" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="select_country">Country</label>
                            <div class="col-sm-9">
                                <select name="select_country" id="select_country" class="form-control">
                                    <option value="0" selected="selected">Please Select</option>
                                    {% for key,value in countrylist %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="isdemo">Is Demo</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="isdemo" id="isdemo" value="1">
                                    <label for="isdemo"> </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="location_count">Total Locations</label>
                            <div class="col-sm-9">
                                <input id="location_count" class="form-control integer" type="text" placeholder="" name="location_count" maxlength="2">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="select_database">Database</label>
                            <div class="col-sm-9">
                                <select name="select_database" id="select_database" class="form-control">
                                    <option value="0" selected="selected">Please Select</option>
                                    {% for key,value in dblist %}
                                    <option value="{{ value.dbname }}">{{ value.dbname }} - {{ value.propertycount }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft" for="select_database">Payment Types</label>
                            <div class="col-sm-9">
                                <div>
                                <a onclick="selectAllptype()">Select All</a>
                                <a style="float: right;" onclick="selectNoneptype()">Select None</a>
                                </div>
                                <select name="select_payment" multiple id="select_payment" class="form-control js-example-basic-single" style="width: 100%">
                                    <!--<option value="0" selected="selected">Please Select</option>-->
                                    {% for key,value in paymenttypes %}
                                    <option value="{{ value.paymenttypeunkid }}">{{ value.paymenttype }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <div class="col-xs-12">
                    <button id="save" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#select_payment").select2({
        placeholder: "Please select",
        closeOnSelect: false,
        dropdownParent: $('#modalPrimary')
    });

    //For unit conversation
    function selectAllptype()
    {
        jQuery('#select_payment').find('option').each(function(){
            jQuery(this).prop('selected',true);
        });
        jQuery('#select_payment').change();
        return false;
    }

    function selectNoneptype()
    {
        jQuery('#select_payment').find('option').prop( 'selected',false );
        jQuery('#select_payment').change();
        return false;
    }



    jQuery("#save").click(function(){
        showjQloading();
        if (frm_valid()){
            var myForm = document.getElementById('frm');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service','companylist');
            ajaxData.append('opcode','addcompany');
            ajaxData.append('paymenttype',jQuery('#select_payment').val());
            HttpSendRequest(ajaxData, function(data){
                hidejQloading();
                jQuery("#modalPrimary").modal('hide');
                if (data['Success'] == 'True')
                {
                    alertify.success(data['Message']);
                    refreshCompanylist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        else{
            hidejQloading();
        }
    });
    function frm_valid(){
        var error=0;
        jQuery(".invalid").removeClass('invalid');
        if(jQuery('#select_payment').val()=="" || jQuery('#select_payment').val()==null){
            error=1;
            jQuery(".select2-container").addClass('invalid');
        }
        if(jQuery("#business_name").val()=="")
        {
            error=1;
            jQuery("#business_name").addClass('invalid');
        }
        if(jQuery("#contact_name").val()=="")
        {
            error=1;
            jQuery("#contact_name").addClass('invalid');
        }
        if($("#email").val()=="")
        {
            error=1;
            jQuery("#email").addClass('invalid');
        }
        else{
            if (validemail(jQuery("#email").val())==0) {
                error=1;
                jQuery("#email").addClass('invalid');
            }
        }
        if(jQuery("#contact").val()=="")
        {
            error=1;
            jQuery("#contact").addClass('invalid');
        }
        if($("#select_country").val()=="0")
        {
            error=1;
            jQuery("#select_country").addClass('invalid');
        }
        if(jQuery("#select_database").val()=="0")
        {
            error=1;
            jQuery("#select_database").addClass('invalid');
        }
        if(jQuery("#location_count").val()==""){
            error=1;
            jQuery("#location_count").addClass('invalid');
        }

        if(error==1)
            return false;
        else
            return true;
    }
</script>