<!DOCTYPE html>
  <html>
    <head>
      <title>POS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <!-- Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
      <!-- CSS Libs -->
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/bootstrap-datepicker.css"/>
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/animate.min.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/style.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/checkbox3.min.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/flat-blue.css">
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/alertify.core.css" />
      <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/alertify.default.css">

      <!-- CSS App -->
      
      <!-- Javascript Libs -->
      <script type="text/javascript" src="{{ commonurl }}su/themes/js/jquery.min.js"></script>
      <script type="text/javascript"
              src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/moment.min.js"></script>
      <script type="text/javascript" src="{{ commonurl }}su/themes/js/bootstrap.min.js"></script>
      <script type="text/javascript"
              src="{{ commonurl }}su/themes/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
      <script type="text/javascript" src="{{ commonurl }}su/themes/js/app.js"></script>
      <script type="text/javascript" src="{{ commonurl }}su/themes/js/commonjs.js"></script>
      <script type="text/javascript" src="{{ commonurl }}su/themes/js/alertify.js"></script>
      
      <script type="text/javascript">
      function setCommonHeader()
      {
          var ShopName = localStorage.getItem('ShopName');
          var client_email = localStorage.getItem('client_email');
          var client_name = localStorage.getItem('client_name');
          jQuery(".shopname").text(ShopName);
          jQuery(".client_email").text(client_email);
      }
      function activemodule()
      {
          var modulename = localStorage.getItem('modulename');

          var pagename = localStorage.getItem('pagename');
          jQuery('#sidebar').find('li').each(function(){
              jQuery(this).removeClass('active');
          });
          jQuery('#'+modulename+'_container').addClass('active');
          jQuery('#'+modulename+'_container a').trigger('click');
          jQuery('#sidebar').find('li').find('a').each(function(){
              jQuery(this).removeClass('active');
          });
          jQuery('#'+pagename).addClass('active');
      }
      </script> 
      {% block headblock %}{% endblock %}
    </head>
    <body class="flat-blue">
      <div class="app-container expanded ">
        <div class="row content-container">
          <nav id="navbar" class="navbar navbar-fixed-top navbar-top navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-expand-toggle fa-rotate-90">
                  <i class="fa fa-bars icon"></i>
                </button>
                <ol class="breadcrumb navbar-breadcrumb">
                  {% block headerblock %}{% endblock %}
                </ol>
                <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                  <i class="fa fa-th icon"></i>
                </button>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
                
                <li>
                  <a href="{{ commonurl }}su/admin/companylist" title="Company List"><i class="fa fa-list-ul"></i></a>                  
                </li>
                
                <li class="dropdown profile">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="shopname"></span> <span class="caret"></span></a>
                  <ul class="dropdown-menu animated fadeInDown">
                    <li>
                      <div class="profile-info">
                        <div class="margin-bottom-2x" role="group">
                          <button type="button" class="btn btn-primary"><i class="fa fa-user"></i> &nbsp; Profile</button>
                        </div>
                        <div class="margin-bottom-2x" role="group">
                          <a id="logout" href="{{ commonurl }}su/logout.php" class="btn btn-danger"><i class="fa fa-sign-out"></i> &nbsp; Logout</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <div id="sidebar" class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
              <div class="side-menu-container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">Tabinsta POS</div>
                  </a>
                  <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                  </button>
                </div>
                <ul class="nav navbar-nav">
                  <li id="dashboard_container" class="active">
                    <a href="{{ commonurl }}su/admin/dashboard">
                      <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                    </a>
                  </li>
                  <li id="companylist_container">
                    <a href="{{ commonurl }}su/admin/companylist">
                      <span class="icon fa fa-list-ul"></span><span class="title">Company List</span>
                    </a>
                  </li>
                  <li id="locationlist_container">
                    <a href="{{ commonurl }}su/admin/location">
                      <span class="icon fa fa-list-ul"></span><span class="title">Locations</span>
                    </a>
                  </li>
                  <li id="dblist_container">
                    <a href="{{ commonurl }}su/admin/dblist">
                      <span class="icon fa fa-database"></span><span class="title">Database</span>
                    </a>
                  </li>
                  <li id="PrivilegeGroup_container">
                    <a href="{{ commonurl }}su/admin/privilege_group">
                      <span class="icon fa fa-user"></span><span class="title">Privilege Group</span>
                    </a>
                  </li>
                  <li id="Privilege_container">
                    <a href="{{ commonurl }}su/admin/privilege">
                      <span class="icon fa fa-user"></span><span class="title">Privilege</span>
                    </a>
                  </li>
                  <li id="pgateway_container">
                    <a href="{{ commonurl }}su/admin/pgateway">
                      <span class="icon fa fa-google-wallet"></span><span class="title">Payment Gateway</span>
                    </a>
                  </li>
                  <li id="taglinenotes_container">
                    <a href="{{ commonurl }}su/admin/taglinenotes">
                      <span class="icon fa fa-sticky-note-o"></span><span class="title">Tagline Notes</span>
                    </a>
                  </li>
                  <li id="systemNotifiaction_container">
                    <a href="{{ commonurl }}su/admin/systemNotification">
                      <span class="icon fa fa-bell"></span><span class="title">System Notification</span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div id="content">
              {% block content %}{% endblock %}
              <div class="modal fade modal-primary" id="modalPrimary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
          </div>
          <div id="report_content" style="display: none;">
              <div class="side-body">
                <div class="row" style="margin: auto; width: 21cm;">
                  <div class="col-xs-12 text-right" style="padding: 0">
                      <button class="btn btn-info" type="button" onclick ="PrintElem('print_content')">Print</button>
                      <button class="btn btn-info" type="button" onclick="Exitinvoice()">Back</button>
                  </div>
                  <div class="col-xs-12" style="padding: 0">
                    <div class="card" id="print_content" style="min-height: 29.7cm;width: 21cm;border: 1px #D3D3D3 solid;border-radius: 5px;">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <footer class="app-footer">
            <div class="wrapper">
              <span class="pull-right">1.0</span>Parghi Infotech Pvt. Ltd. &copy; 2016 Copyright.
            </div>
          </footer>
        </div>
      </div>
      <script type="text/javascript">
        setCommonHeader();
        activemodule();
      </script>
    </body>
  </html>