<div class="modal-dialog">
    {% set TRANSLATE_LANGdata = translate_languages|split(',') %}
    <div class="modal-content">
        <form id="frm" name="frm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">API Integration</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body clearfix" style="padding: 15px;">
                       <!-- <div class="form-group col-sm-6">
                            <label class="col-sm-7 control-label textalignleft">TabInsta</label>
                            <div class="col-sm-5">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk1" id="ci_int_chk1" value="1"
                                           data-toggle="toggle" {% if ti_intgrtn==1 %} checked {% endif %}>
                                    <label for="ci_int_chk1"> </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-7 control-label textalignleft">Pure PMS</label>
                            <div class="col-sm-5">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk2" id="ci_int_chk2" value="1"
                                           data-toggle="toggle" {% if pms_intgrtn==1 %} checked {% endif %}>
                                    <label for="ci_int_chk2"> </label>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group col-sm-6">
                            <label class="col-sm-7 control-label textalignleft">Is store avilable?</label>
                            <div class="col-sm-5">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="is_store" id="is_store" onclick="checkstore()"
                                           value="1" data-toggle="toggle" {% if store_available==1 %} checked {% endif
                                           %}>
                                    <label for="is_store"> </label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-6">
                            <label class="col-sm-7 control-label textalignleft">Is banquet avilable?</label>
                            <div class="col-sm-5">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="is_banquet" id="is_banquet" value="1"
                                           data-toggle="toggle" {% if banquet_value==1 %} checked {% endif %}>
                                    <label for="is_banquet"> </label>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group col-sm-6 hide" id="storevisible">
                            <label class="col-sm-7 control-label textalignleft"> Total Store : </label>
                            <div class="col-sm-5">
                                <div class="controls">
                                    <input type="text"  class="form-control notnull " name="total_store" id="total_store" data-toggle="toggle" {% if
                                           total_store !='' %} value ="{{total_store}}" {% endif %}>
                                    <label for="total_store"> </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-7 control-label textalignleft">Pure Loyalty</label>
                            <div class="col-sm-5">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk5" id="ci_int_chk5" value="1"
                                           data-toggle="toggle" {% if loyalty_intgrtn==1 %} checked {% endif %}>
                                    <label for="ci_int_chk5"> </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-4 control-label textalignleft">Translate Languages</label>
                            <div class="col-sm-8">
                                <div>
                                    <a style="float: left;cursor: pointer" onclick="selectalllanguage('select_language')" class="btn-default">select all</a>
                                    <a style="float: right;cursor: pointer" onclick="selectnonelanguage('select_language')" class="btn-default">select none</a>
                                </div>
                                <select class="form-control dropdown" multiple name="select_language" id="select_language" style="width: 100%">
                                    {% for key,value in lang_list %}
                                    {% if key in TRANSLATE_LANGdata %}
                                    <option value="{{ key }}" selected>{{ value }}</option>
                                    {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <div class="col-xs-12">
                    <button id="btn_save" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function selectalllanguage(id){
        $("#"+id+" option").each(function(){
                $(this).prop("selected",true);
        });
        jQuery("#"+id).change();
    }
    function selectnonelanguage(id){
        $("#"+id+" option").each(function(){
                $(this).prop("selected",false);
        });
        jQuery("#"+id).change();
    }

    $("#select_language").select2({
        placeholder: "Please select",
        closeOnSelect: false,
        dropdownParent: $('#modalPrimary')
    });
    checkstore();

    function checkstore() {
        if ($("#is_store").is(":checked"))
            jQuery("#storevisible").removeClass('hide');
        else
            jQuery("#storevisible").addClass('hide');
    }

    jQuery("#btn_save").click(function () {
        $('.invalid').removeClass('invalid');
        showjQloading();
        var total_store = jQuery('#total_store').val();
        var arr = {};
        arr['service'] = 'companylist';
        arr['opcode'] = 'updateApiMapping';
        arr['cid'] = '{{ cid }}';
        if (jQuery("#ci_int_chk1").is(':checked') == true) {
            arr['api_check1'] = 1;
        } else {
            arr['api_check1'] = 0;
        }
        if (jQuery("#ci_int_chk2").is(':checked') == true) {
            arr['api_check2'] = 1;
        } else {
            arr['api_check2'] = 0;
        }if (jQuery("#ci_int_chk5").is(':checked') == true) {
            arr['api_check5'] = 1;
        } else {
            arr['api_check5'] = 0;
        }
        if (jQuery("#is_store").is(':checked') == true) {
            arr['is_store'] = 1;
            if(total_store =='' || total_store ==0)
            {
                $("#total_store").addClass('invalid');
                hidejQloading();
                return false;
            }
        } else {
            arr['is_store'] = 0;
        }
        /*if (jQuery("#is_banquet").is(':checked') == true) {
            arr['is_banquet'] = 1;
        } else {
            arr['is_banquet'] = 0;
        }*/
        if(total_store!='' && total_store !=0)
        {
            arr['total_store'] = total_store;

        }
        else {
            arr['total_store'] = 0;
        }

        if(typeof jQuery('#select_language').val()!='undefined' && jQuery('#select_language').val()!='' && jQuery('#select_language').val()!=null){
            arr['translate_language']=jQuery('#select_language').val();
        }

        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            jQuery("#modalPrimary").modal('hide');
            if (data['Success'] == 'True') {
                alertify.success(data['Message']);
            } else {
                alertify.error(data['Message']);
            }
            return false;
        });
    });
</script>

<style>

    .checkbox-slider--b-flat input {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0%;
        margin: 0 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .checkbox-slider--b-flat input + span {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox-slider--b-flat input + span:before {
        position: absolute;
        left: 0px;
        display: inline-block;
    }

    .checkbox-slider--b-flat input + span > h4 {
        display: inline;
    }

    .checkbox-slider--b-flat input + span {
        padding-left: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        content: "";
        height: 20px;
        width: 40px;
        background: rgba(100, 100, 100, 0.2);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
        transition: background 0.2s ease-out;
    }

    .checkbox-slider--b-flat input + span:after {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        background: #ffffff;
        transition: margin-left 0.1s ease-in-out;
        text-align: center;
        font-weight: bold;
        content: "";
    }

    .checkbox-slider--b-flat input:checked + span:after {
        margin-left: 20px;
        content: "";
    }

    .checkbox-slider--b-flat input:checked + span:before {
        transition: background 0.2s ease-in;
    }

    .checkbox-slider--b-flat input + span {
        padding-left: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        border-radius: 20px;
        width: 40px;
    }

    .checkbox-slider--b-flat input + span:after {
        background: #ffffff;
        content: "";
        width: 20px;
        border: solid transparent 2px;
        background-clip: padding-box;
        border-radius: 20px;
    }

    .checkbox-slider--b-flat input:not(:checked) + span:after {
        -webkit-animation: popOut ease-in 0.3s normal;
        animation: popOut ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked + span:after {
        content: "";
        margin-left: 20px;
        border: solid transparent 2px;
        background-clip: padding-box;
        -webkit-animation: popIn ease-in 0.3s normal;
        animation: popIn ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked + span:before {
        background: #bfa695;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input + span:before {
        border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input + span:after {
        border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input + span:before {
        border-radius: 40px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input + span:after {
        border-radius: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        box-shadow: none;
    }
</style>