{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datepicker-->
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">

<script type="text/javascript">
   localStorage.setItem('modulename','companylist');
   localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
    <li class="active">Company List</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid" >
    <div class="side-body" id="companylist">
        <div class="row">
            <div class="col-xs-12">
               <div class="card">
                  <div class="card-header">
                     <div class="card-title">
                         <div class="title">Search Criteria</div>
                     </div>
                     <div class="pull-right card-action">
                         <button class="btn btn-primary pull-left" type="button" onclick="addCompany()">Add Company</button>

                     </div><div class="pull-right card-action">

                         <button class="btn btn-primary pull-left" type="button" onclick="viewlog(0)">View Logs</button>
                     </div>
                  </div>
                  <div class="card-body">
                      <div class="form-horizontal">
                          <div class="form-group marginbottomzero">
                              <div class="col-xs-12 col-md-4">
                                  <label class="col-sm-4 control-label textalignleft paddingzero" for="companyname">Company Name</label>
                                  <div class="col-sm-8 paddingzero marginbottom5">
                                      <input id="companyname" class="form-control" type="text" placeholder="Enter Company Name">
                                  </div>
                              </div>
							  <div class="col-xs-12 col-md-4">
                                  <label class="col-sm-4 control-label textalignleft paddingzero" for="name">Contact Person</label>
                                  <div class="col-sm-8 paddingzero marginbottom5">
                                      <input id="name" class="form-control" type="text" placeholder="Contact Person Name">
                                  </div>
                              </div>
							  <div class="col-xs-12 col-md-4">
                                  <label class="col-sm-4 control-label textalignleft paddingzero" for="companycode">Company Id</label>
                                  <div class="col-sm-8 paddingzero marginbottom5">
                                      <input id="companycode" class="form-control integer" type="text" placeholder="Enter Company Id">
                                  </div>
                              </div>
                              <div class="col-xs-12 col-md-12 text-right">
                                  <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                  <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
									<th>Companyid</th>
                                    <th>Company Name</th>
									<th>Contact Person</th>
									<th>Email</th>
									<th>Number</th>
                                    <th>Is Demo</th>
                                    <th>Locations</th>
                                    <th>Action</th>
                                    <th>App id</th>
                                    <th>App secret</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Record's
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td><@=this.syscompanyid @></td>
								<td><@=this.companyname @></td>
								<td><@=this.contactperson @></td>
                                <td><@=this.companyemail @></td>
								<td><@=this.contactno @></td>
                                <td align="center"><@=this.acnt_type @></td>
                                <td align="center"><@=this.total_location @></td>
                                <td align="right" style="width:15%">
                                    <a title="View Log"><i class="fa fa-eye" onclick="viewlog('<@=this.syscompanyid@>')"></i></a>
                                    <a title="App setting"><i class="fa fa-cogs" onclick="loadaddedit('<@=this.syscompanyid@>')"></i></a>
                                    <a title="Mapping"><i class="fa fa-pencil" onclick="loadMapping('<@=this.syscompanyid@>')"></i></a>
                                    <a title="Status" class="update_ico" onclick="toggleactive('<@=this.syscompanyid@>')" href="javascript:void(0)">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-remove"></i>
                                        <@ } @>
                                    </a>
                                </td>
                                <td ><@=this.app_id @></td>
                                <td ><@=this.app_secret @></td>
                                <td>
                                    <@=this.created_date @><br>
                                    <@=this.created_time @>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div id="addedit" class="side-body" style="display: none">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <form id="appsettingform" class="card">
                    <div class="card-body">
                        <div class="card-header" style="margin-bottom: 15px;">
                            <div class="card-title">
                                <span id="frmtitle" class="title"></span>
                                <input type="hidden" id="appid" name="appid" value="0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="form-label" for="app_type">App Type</label>
                                <span class="required" aria-required="true"> *</span>
                                <div class="controls">
                                    <select id="app_type" name="app_type" class="form-control dropdown notnull">
                                        <option value="">Please Select </option>
                                        <option value="android">Android</option>
                                        <option value="ios">IOS</option>
                                        <option value="web">WEB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label" for="application">Application</label>
                                <span class="required" aria-required="true"> *</span>
                                <div class="controls">
                                    <select id="application" name="application" class="form-control dropdown notnull">
                                        <option value="">Please Select </option>
                                        <option value="1">Waiter</option>
                                        <option value="2">User</option>
                                        <option value="3">POC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label" for="app_ver">Application Version {UNIQUE}</label><span class="required" aria-required="true"> *</span>
                                <div class="controls">
                                    <input type="text" class="form-control notnull decimal" name="app_ver" id="app_ver" maxlength="5">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label" for="app_launch">App Launch Date</label><span class="required" aria-required="true"> *</span>
                                <div class="controls">
                                    <input type="text" class="form-control notnull" name="app_launch" id="app_launch">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-3">
                                <label class="form-label" for="app_access">Last Access Date</label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="app_access" id="app_access">
                                </div>
                            </div>
                            <div class="form-group col-md-3 edit_hide">
                                <label class="form-label" for="field-1">Live</label>
                                <div class="controls">
                                    <div class="radio3 radio-check radio-inline">
                                        <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="0" checked="checked" type="radio">
                                        <label class="iradio-label form-label" for="active">Yes</label>
                                    </div>
                                    <div class="radio3 radio-check radio-inline">
                                        <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="1" type="radio">
                                        <label class="iradio-label form-label" for="inactive"> No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <label class="form-label" for="field-1">Application Settings</label>
                                <a id="addbtn" class="btn btn-info">Add key</a>
                                <div class="controls col-md-12" id="keyval">

                                </div>
                            </div>
                            <div class="clearfix"></div>



                            <div class="form-group" style="text-align: right;margin-right: 15px;">
                                <button type="button" id="submit" class="btn btn-info">Submit</button>
                                <a onclick="refreshaddedit();">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="datatable table table-striped" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>App Type</th>
                                    <th>App version</th>
                                    <th>Application</th>
                                    <th>App Launch Date</th>
                                    <th>IS Live</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody id="setting_list">

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
        </div>

    <!--<div class="modal fade modal-primary" id="logmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>-->
    <div id="logmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="comid"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <table class="datatable table table-striped" cellspacing="0" width="100%" style="margin-bottom: 0px;">
                            <thead>
                            <tr>
                                <th width="5%" style="text-align: left">Company</th>
                                <th width="20%" style="text-align: left">Title</th>
                                <th width="30%" style="text-align: left">Old Value</th>
                                <th width="30%" style="text-align: left">New Value</th>
                                <th width="15%" style="text-align: left">Created Date</th>
                            </tr>
                            </thead>
                        </table>
                        <div style="max-height: 375px; overflow-y: auto;">
                            <table class="datatable table table-striped" cellspacing="0" width="100%">
                                <tbody id="loglist">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
   
var data = "{{ datalist }}";
var newjson = $('<textarea />').html(data).text();
var rec = JSON.parse(newjson);
var cid='';
pageInit(rec);
var i=0;
$("#addbtn").click(function(){
    i++;
    $("#keyval").append('<div id="app_settings_'+i+'" class="col-md-6"><div class="form-group col-md-5"><input type="text" class="form-control notnull" name="key[]" maxlength="250"  placeholder="Enter Keyname" width="50%"></div><div class="form-group col-md-5"><input type="text" class="form-control " name="key_val[]" maxlength="250" placeholder="Enter Value"  width="50%"></div><div class="form-group col-md-2"><i class="fa fa-ban fa-2x" title="remove" aria-hidden="true" onclick="remove('+i+')"></i></div></div>');
});

function remove(counter) {
    $('#app_settings_'+counter).remove();
}


jQuery('#app_launch').datepicker({
    autoclose: true,
    startDate: '+0d',
    format: 'yyyy-mm-dd',
    todayHighlight: true
});

jQuery('#app_access').datepicker({
    autoclose: true,
    format: 'yyyy-mm-dd',
    todayHighlight: true
});

function pageInit(data) {
    aTableConfig = {
        url: '{{ commonurl }}su/admin/controller',
        opcode: 'rec',
        service: 'companylist',
        pagesize: '50',
        template: 'trantemplate',
        usepager: true,
        usesorting: true,
        showprogress: false,
        load: false,
        recnofound: function () {
            recnofound();
        }
    };
    aTableConfig = jQuery.extend(aTableConfig, {
        tabledata: data,
        showprogress: true
    });
    jQuery("#trantable").aTable("init", aTableConfig);
    jQuery(".totalcnt").text(data[0].cnt);
}

function recnofound() {
    jQuery(".aTablePager").hide();
    jQuery(".norecord").show();
}

function doSearch() {
    aTableConfig = jQuery.extend(aTableConfig, {
        tabledata: null,
        pagesize: jQuery("#lstRecPerPage").val(),
        csearch: {
            cnm: jQuery("#companyname").val(),
			nm: jQuery("#name").val(),
			cid: jQuery("#companycode").val(),
        },
        resetpaging: true,
        showprogress: true
    });

    jQuery("#trantable").aTable("refreshTable", aTableConfig);
}

function doReset() {
    jQuery("#companyname").val("");
	jQuery("#name").val("");
	jQuery("#companycode").val("");
    refreshCompanylist();
}
function refreshCompanylist() {
    aTableConfig = jQuery.extend(aTableConfig,
    {
        tabledata: null,
        pagesize: jQuery("#lstRecPerPage").val(),
        csearch:
            {
                cnm: jQuery("#companyname").val(),
                nm: jQuery("#name").val(),
                cid: jQuery("#companycode").val(),
            },
        resetpaging: false,
        showprogress: true
    });
    jQuery("#trantable").aTable("refreshTable", aTableConfig);
}
function toggleactive(id)
{
	var arr = {};
	arr['service']= 'companylist';
	arr['opcode']= 'toggleststus';
	arr['id']= id;
	var str = urlencode(JSON.stringify(arr));       
	if (arr['id'] !='') 
	{
        HttpSendRequest(str,function(data)
		{
            if (data['Success'] == "True")
            {
                refreshCompanylist();
                alertify.success(data['Message']);
            }
            else
            {
                alertify.error(data['Message']);
            }
		});
	}
}
function addCompany()
{
    var arr = {};
    arr['service']= 'companylist';
    arr['opcode']= 'addNewCompany';
    var str = urlencode(JSON.stringify(arr));
    HttpSendRequest(str,function(data)
    {
        jQuery("#modalPrimary").html(data.Data);
        jQuery("#modalPrimary").modal('show');
    });
}
function loadMapping(id)
{
    var arr = {};
    arr['service']= 'companylist';
    arr['opcode']= 'loadMapping';
    arr['companyid']= id;
    var str = urlencode(JSON.stringify(arr));
    HttpSendRequest(str,function(data)
    {
        jQuery("#modalPrimary").html(data.Data);
        jQuery("#modalPrimary").modal('show');
    });
}

function viewlog(id)
{
    var arr = {};
    arr['service']= 'companylist';
    arr['opcode']= 'viewlogs';
    arr['companyid']= id;
    if(parseInt(id) > 0){
        $('#comid').html('Company Id : '+id);
    }else{
        $('#comid').html('All Logs');
    }

    var str = urlencode(JSON.stringify(arr));
    HttpSendRequest(str,function(data)
    {
        var htmldata ='';
        if(typeof data.Data!='undefined' && data.Data!='' && data.Data!=null){
            jQuery.each(data.Data,function (key,val) {
                htmldata+='<tr><td width="5%" style="text-align: left">'+val.companyid+'</td><td style="text-align: center" width="20%">'+val.title+'</td>';
                if(typeof val.old_value!='undefined' && val.old_value!='' && val.old_value!=null){
                    htmldata+='<td width="30%">';
                    var oldval='';
                    jQuery.each(JSON.parse(val.old_value),function (key1,val2) {
                        var keydis=key1.split('_').join(' ');
                        if(key1=='companyid' ){
                            oldval+=keydis+' : '+val2+'<br>';
                        }else if(key1=='total_store' ){
                            oldval+=keydis+' : '+val2+'<br>';
                        }else{
                            var status='';
                            if(val2=='1'){
                                status='Active';
                            }else{
                                status='Inactive';
                            }
                            oldval+=keydis+' : '+status+'<br>';
                        }
                    })
                    htmldata+=oldval+'</td>';
                }else {
                    htmldata+='<td width="30%"></td>';
                }if(typeof val.new_value!='undefined' && val.new_value!='' && val.new_value!=null){
                    htmldata+='<td width="30%">';
                    var oldval='';
                    jQuery.each(JSON.parse(val.new_value),function (key1,val2) {
                        var keydis=key1.split('_').join(' ');
                        if(key1=='companyid' ){
                            oldval+=keydis+' : '+val2+'<br>';
                        }else if(key1=='total_store' ){
                            oldval+=keydis+' : '+val2+'<br>';
                        }else{
                            var status='';
                            if(val2=='1'){
                                status='Active';
                            }else{
                                status='Inactive';
                            }
                            oldval+=keydis+' : '+status+'<br>';
                        }
                    })
                    htmldata+=oldval+'</td>';
                }else {
                    htmldata+='<td width="30%"></td>';
                }
                htmldata+='<td width="15%">'+val.created_date+'</td></tr>';

           })
        }else{
            htmldata='<tr><td colspan="5">No Log Found!</td></tr>';
        }
        $('#loglist').html(htmldata);
        jQuery("#logmodal").modal('show');
    });
}

function loadsinglerecord(id)
{
    var arr = {};
    arr['service']= 'companylist';
    arr['opcode']= 'getsinglerec';
    arr['id']= id;
    $('#appid').val(id);
    var str = urlencode(JSON.stringify(arr));
    HttpSendRequest(str,function(data)
    {
        if(data!='' && data!='undefined' && data!=null){
            $('#app_type').val(data.app_type);
            $('#application').val(data.application);
            $('#app_ver').val(data.app_version);
            $('#app_launch').val(data.app_launched_date);
            $('#app_access').val(data.app_last_accessed_date);

            if(data.app_setting!='' && data.app_setting!='undefined' && data.app_setting!=null){
                var i=0;
                var appset=JSON.parse(data.app_setting);
                $("#keyval").html('');
                for(var k in appset){
                    i++;
                    $("#keyval").append('<div id="app_settings_'+i+'" class="col-md-6"><div class="form-group col-md-5"><input type="text" class="form-control notnull" name="key[]" maxlength="250"  placeholder="Enter Keyname" value="'+k+'" width="50%"></div><div class="form-group col-md-5"><input type="text" class="form-control " value="'+appset[k]+'" name="key_val[]" maxlength="250" placeholder="Enter Value"  width="50%"></div><div class="form-group col-md-2"><i class="fa fa-ban fa-2x" title="remove" aria-hidden="true" onclick="remove('+i+')"></i></div></div>');

                }
            }

            if (data.is_live == '0')
                jQuery("#active").trigger("click");
            else
                jQuery("#inactive").trigger("click");
        }else{
            alertify.error('Record not found!');
        }

    });
}
function loadaddedit(id)
{
    try
    {
        refreshaddedit();
        cid=id;
        jQuery("#companylist").hide();
        jQuery("#addedit").show();
        jQuery("#active").attr("checked",true);
            jQuery("#frmtitle").text('Application Settings - '+id);

            var arr = {};
            arr['service']= 'companylist';
            arr['opcode']= 'getapplicationsettinglist';
            arr['appid']= id;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str,function(recObj){
                var data=recObj.length;
                if (data > 0) {
                    var res = recObj;

                    var htmllist='';
                    jQuery.each(res, function (key, value) {
                        htmllist+='<tr><td>'+value.app_type+'</td><td>'+value.app_version+'</td><td>'+value.App_dis+'</td><td>'+value.app_launched_date+'</td><td>'+value.live_dis+'</td><td><a title="Edit"><i class="fa fa-pencil" onclick="loadsinglerecord('+value.z_applogid_pk+')"></i></a></td></tr>';
                    });
                    $("#setting_list").html(htmllist);

                }else{

                    $("#setting_list").html('<tr><td colspan="6"><div class="norecord">'+
                  '      <i class="fa fa-meh-o"></i>'+
                 '       <br>No Record Found'+
                '</div></td></tr>');
                }
            });
    } catch (e) {
        alert(e);
    }
}
function refreshaddedit()
{
    jQuery('.invalid').removeClass('invalid');
    jQuery('#appid').val(0);
    jQuery("#active").trigger("click");
    jQuery('#appsettingform').trigger('reset');
    jQuery("#addedit").show();
    jQuery("#keyval").html('');
}

jQuery("#submit").click(function () {
    if (validate_form('appsettingform')) {
        showjQloading();
            var names = document.getElementsByName('key[]');

            var vals = document.getElementsByName('key_val[]');
            var keysof=[];
            var valsof=[];
            for (var i = 0, iLen = names.length; i < iLen; i++) {
                keysof.push(names[i].value);
            }
            for (var i = 0, iLen = vals.length; i < iLen; i++) {
                valsof.push(vals[i].value);
            }


        var myForm = document.getElementById('appsettingform');
        var ajaxData = new FormData(myForm);
        ajaxData.append('service', 'companylist');
        ajaxData.append('opcode', 'addeditfrm');
        ajaxData.append('companyid', cid);
        HttpSendRequest(ajaxData,function(data){
            hidejQloading();
            if (data['Success'] == 'True') {
                alertify.success(data['Message']);
                refreshaddedit();
                loadaddedit(cid);
            } else {
                alertify.error(data['Message']);
            }
            return false;
        });
    } else {
        alertify.alert('Please fill necessary information');
    }
});




</script>
{% endblock %}