{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/Chart.min.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/chartjs.js"></script>
<script type="text/javascript">
   localStorage.setItem('modulename','dashboard');
   localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
    <li class="active">Dashboard</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="row">
            <div class="container-fluid">
               <div class="row" style="margin-bottom: 15px;">
                   <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                       <a href="#">
                           <div class="card themecolor summary-inline">
                               <div class="card-body">
                                   <i class="icon fa fa-building-o fa-4x"></i>
                                   <div class="content">
                                       <div class="title">{{ cardval.restcnt }}</div>
                                       <div class="sub-title">Active Restaurant's</div>
                                   </div>
                                   <div class="clear-both"></div>
                               </div>
                           </div>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                       <a href="#">
                           <div class="card themecolor summary-inline">
                               <div class="card-body">
                                   <i class="icon fa fa-database fa-4x"></i>
                                   <div class="content">
                                       <div class="title">{{ cardval.dbcnt }}</div>
                                       <div class="sub-title">Created Databases</div>
                                   </div>
                                   <div class="clear-both"></div>
                               </div>
                           </div>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                       <a href="#">
                           <div class="card themecolor summary-inline">
                               <div class="card-body">
                                   <i class="icon fa fa-file-text-o fa-4x"></i>
                                   <div class="content">
                                       <div class="title">{{ cardval.order }}</div>
                                       <div class="sub-title">Today's Order</div>
                                   </div>
                                   <div class="clear-both"></div>
                               </div>
                           </div>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                       <a href="#">
                           <div class="card themecolor summary-inline">
                               <div class="card-body">
                                   <i class="icon fa fa-cubes fa-4x"></i>
                                   <div class="content">
                                       <div class="title">{{ cardval.itemsold }}</div>
                                       <div class="sub-title">Today's Item Sold</div>
                                   </div>
                                   <div class="clear-both"></div>
                               </div>
                           </div>
                       </a>
                   </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row" style="margin-bottom: 15px;">
                  <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                     <div class="card" style="height: 280px; overflow-y: auto">
                        <div class="card-header">
                           <div class="card-title">
                               <div class="title"> Latest 5 property created </div>
                           </div>
                           <div class="clear-both"></div>
                           
                        </div>
                        <div class="card-body no-padding">
                              <table class="table">
                                 <thead>
                                   <tr>
                                     <th style="width:30%">Company</th>
                                     <th style="width:30%">Contact Person</th>
                                     <th style="width:20%">Contact No</th>
                                     <th style="width:20%">is demo</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   {% for value in clist %}
                                   <tr>
                                     <td style="width:30%">{{ value.companyname | raw }}</td>
                                     <td style="width:30%">{{ value.contactperson }}</td>
                                     <td style="width:20%">{{ value.contactno }}</td>
                                     <td style="width:20%">{{ value.acnt_type }}</td>
                                   </tr>
                                   {% endfor %}  
                                 </tbody>
                              </table>
                           </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pull-right">
                     <div class="card">
                        <div class="card-header">
                           <div class="card-title">
                               <div class="title"> Database List </div>
                           </div>
                           <div class="clear-both"></div>
                        </div>
                        <div class="card-body no-padding">
                           <ul class="message-list" style="height: 240px;overflow-y: auto">
                              
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var arr = {};
arr['service']= 'dashboard';
arr['opcode']= 'getDbList';
var str = urlencode(JSON.stringify(arr));
HttpSendRequest(str,function(recObj){
   if (recObj['Success']=='True') {
      var str='';
      for (var i=0; i<recObj['Data'].length; i++) {
         str += '<a> <li> <img src="{{ commonurl }}assets/images/db.png" class="profile-img pull-left"> <div class="message-block">';
         str += '<div><span class="username" style="font-size:14px">'+recObj["Data"][i]["databaseweight"]+'</span> &nbsp;<span class="message-datetime">Company(s): '+recObj["Data"][i]["propertycount"]+'</span>';
         str += '</div> <div class="message" style="font-size:14px">'+recObj["Data"][i]["mb"]+' MB</div></div> </li> </a>';
      }
      jQuery('.message-list').empty();
      jQuery('.message-list').html(str);
   }
});
</script>
{% endblock %}