{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
   localStorage.setItem('modulename','dblist');
   localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
    <li class="active">Database List</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
               <div class="card">
                  <div class="card-header">
                     <div class="card-title">
                         <div class="title">Search Criteria</div>
                     </div>
                     <div class="pull-right card-action">
                         <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit()">Add Database</button>
                     </div>
                  </div>
                  <div class="card-body">
                      <div class="form-horizontal">
                          <div class="form-group marginbottomzero">
                              <div class="col-xs-12 col-md-4">
                                  <label class="col-sm-4 control-label textalignleft paddingzero" for="name">Database Name</label>
                                  <div class="col-sm-8 paddingzero marginbottom5">
                                      <input id="name" class="form-control" type="text" placeholder="Enter Database Name">
                                  </div>
                              </div>
							  <div class="col-xs-12 col-md-12 text-right">
                                  <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                  <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
									<th>Database Name</th>
                                    <th>Company Count</th>
								</tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Record's
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
									<@=this.dbname @>
								</td>
								<td>
									<@=this.cnt @>
								</td>
                                
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-primary" id="modalPrimary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <form id="frm" name="frm">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Add New Database</h4>
            </div>
            <div class="modal-body">
               <div class="card">
                  <div class="card-body clearfix" style="padding: 15px;">
                     <div class="form-group clearfix">
                        <label class="col-sm-3 control-label textalignleft" for="database_name">Database Name</label>
                        <div class="col-sm-9">
						   <input id="database_name" class="form-control" type="text" placeholder="" name="database_name" style="width: 60%; float:right; display: inline-block">
						   <label class="dblabel">saas_cloudpos</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer clearfix">
               <div class="col-xs-12">
                  <button id="save" type="button" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
   
var data = "{{ datalist }}";
var newjson = $('<textarea />').html(data).text();
var rec = JSON.parse(newjson);
pageInit(rec);

function pageInit(data) {
   aTableConfig = {
	   url: '{{ commonurl }}su/admin/controller',
	   opcode: 'rec',
	   service: 'dblist',
	   pagesize: '50',
	   template: 'trantemplate',
	   usepager: true,
	   usesorting: true,
	   showprogress: false,
	   load: false,
	   recnofound: function () {
		   recnofound();
	   }
   };
   aTableConfig = jQuery.extend(aTableConfig, {
	   tabledata: data,
	   showprogress: true
   });
   jQuery("#trantable").aTable("init", aTableConfig);
   jQuery(".totalcnt").text(data[0].cnt);
}

function recnofound() {
    jQuery(".aTablePager").hide();
    jQuery(".norecord").show();
}

function doSearch() {
   aTableConfig = jQuery.extend(aTableConfig, {
	   tabledata: null,
	   pagesize: jQuery("#lstRecPerPage").val(),
	   csearch: {
		   nm: jQuery("#name").val(),
	   },
	   resetpaging: true,
	   showprogress: true
   });
   jQuery("#trantable").aTable("refreshTable", aTableConfig);
}
function doReset() {
    jQuery("#companyname").val("");
	jQuery("#name").val("");
	jQuery("#companycode").val("");
    aTableConfig = jQuery.extend(aTableConfig, {
        tabledata: null,
        pagesize: jQuery("#lstRecPerPage").val(),
        csearch: {
           nm: jQuery("#name").val(),
		},
        resetpaging: false,
        showprogress: true
    });

    jQuery("#trantable").aTable("refreshTable", aTableConfig);
}
function loadaddedit() {
   formrefresh();
   jQuery("#modalPrimary").modal('show');
}
jQuery("#save").click(function(){
   if (frm_valid()){
	  showjQloading();
      var myForm = document.getElementById('frm');
      var ajaxData = new FormData(myForm);
      ajaxData.append('service','dblist');
      ajaxData.append('opcode','adddatabase');
      HttpSendRequest(ajaxData, function(data){
         hidejQloading();
		 jQuery("#modalPrimary").modal('hide');
		 if (data['Success'] == 'True') 
		 {
			 alertify.success(data['Message']);
			 
			 aTableConfig = jQuery.extend(aTableConfig, {    
			 tabledata: null,
				 pagesize: jQuery("#lstRecPerPage").val(),
				 csearch: {
					 nm: jQuery("#name").val(),
				 },
				 resetpaging: true,
				 showprogress: true
			 });
			 jQuery("#trantable").aTable("refreshTable", aTableConfig);
			 
		 } else {
			 alertify.error(data['Message']);
		 }
		 return false;
      });
   }
});

function formrefresh(){
   jQuery("#frm").trigger('reset');
   jQuery(".invalid").removeClass('invalid');
}
function frm_valid(){
   var error=0;
   jQuery(".invalid").removeClass('invalid');
   if($("#database_name").val()=="")
   {
       error=1;
       $("#database_name").addClass('invalid');
   }
   
   if(error==1)
       return false;
   else
       return true;
}


</script>
<style>
   .dblabel{
	  width: 35%;
	  float: right;
	  display: inline-block;
	  margin: 0;
	  height: 25px;
	  font-size: 14px;
	  text-align: right;
	  margin-right: 5px;
	  top: 4px;
	  position: relative;
   }
</style>


{% endblock %}