{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datepicker-->
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">

<script type="text/javascript">
   localStorage.setItem('modulename','companylist');
   localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
    <li class="active">Folio Delete</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid" >
    <div class="side-body" id="companylist">
        <div class="row">
            <div class="col-xs-12">
               <div class="card" style="overflow: unset">
                  <div class="card-body" >
                      <div class="form-horizontal">
                          <form name="folio_delete_form" id="folio_delete_form">
                          <div class="form-group marginbottomzero">
                              <div class="col-xs-12 col-md-4">
                                  <label class=" form-label" for="locationid">Select Location<span class="required" aria-required="true"> *</span></label>
                                  <select name="locationid" id="locationid" class="form-control dropdown notnull">
                                      <option value="" selected="selected">Please Select</option>
                                      {% for key,value in locationlist %}

                                      <option value="{{ value.syslocationid }}">{{ value.locationname | raw }}</option>
                                      {% endfor %}
                                  </select>
                              </div>

                              <div class="col-xs-12 col-md-4">
                                      <label class="form-label" for="displaystartdate">Display Start Date</label><span
                                          class="required" aria-required="true"> *</span>
                                      <div class="controls">
                                          <div class='input-group date' id='datetimepicker6'>
                                              <input type='text' name="displaystartdate"  class="form-control notnull" id="displaystartdate"/>
                                              <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                          </div>
                                      </div>
                                  </div>

                              <div class="col-xs-12 col-md-4">
                                      <label class="form-label" for="displayenddate">Display End Date</label><span
                                          class="required" aria-required="true"> *</span>
                                      <div class="controls">
                                          <div class='input-group date' id='datetimepicker7'>
                                              <input type='text' name="displayenddate" class="form-control notnull" id="displayenddate"/>
                                              <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                          </div>
                                      </div>
                                  </div>
							  <div class="col-xs-12 col-md-4">
                                  <label class="col-sm-4 control-label textalignleft paddingzero" for="is_hard">Is Hard Delete?</label>
                                  <div class="col-sm-8 paddingzero marginbottom5">
                                      <input id="is_hard" class="form-control" type="checkbox" name="is_hard" style="height:20px;width: 10% !important;" value="2">
                                  </div>
                              </div>
                              <div class="col-xs-12 col-md-12 text-right">
                                  <button class="btn btn-info" type="button" onclick="doSubmit()">Submit</button>
                              </div>
                          </div>
                          </form>
                      </div>
                  </div>
               </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">

var i=0;

var todayDate = new Date().getDate();
$('#datetimepicker6').datetimepicker({
    format: 'YYYY-MM-DD HH:mm:ss',
    minDate: new Date(new Date(new Date().setDate(todayDate - 1)))
});
$('#datetimepicker7').datetimepicker({
    format: 'YYYY-MM-DD HH:mm:ss',
    useCurrent: false,
});
$("#datetimepicker6").on("dp.change", function (e) {
    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
});

$("#datetimepicker7").on("dp.change", function (e) {
    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
});
function doSubmit()
{
    if (validate_form('folio_delete_form')) {
        var myForm = document.getElementById('folio_delete_form');
        var ajaxData = new FormData(myForm);
        ajaxData.append('service','folio_filter');
        ajaxData.append('opcode','folio_clear');

        HttpSendRequest(ajaxData,function(data)
        {
            if (data['Success'] == "True")
            {
                alertify.success(data['Message']);
            }
            else
            {
                alertify.error(data['Message']);
            }
        });
    }


}

</script>
{% endblock %}