{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'locationlist');
    localStorage.setItem('pagename', '');
</script>
{% endblock %}
{% block headerblock %}
<li class="active">Locations</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit()">Add
                                Location
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="srch_company">Company
                                        Name</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select class="form-control" name="srch_company" id="srch_company">
                                            <option value="0">Select Company</option>
                                            {% for key,value in companylist %}
                                            <option value="{{ value['syscompanyid'] }}">{{ value['companyname']| raw  }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="lc_name">Location
                                        Name</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="lc_name" class="form-control" type="text"
                                               placeholder="Enter Location Name">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="srch_contact">Contact
                                        Person</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="srch_contact" class="form-control" type="text"
                                               placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="txtlocationid">Location
                                        Id</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="txtlocationid" class="form-control integer" type="text"
                                               placeholder="Enter Location Id">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Location Id</th>
                                <th>Company</th>
                                <th>Location Name</th>
                                <th>Contact Person</th>
                                <th>Email</th>
                                <th>Created On</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Record's
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td><@=this.syslocationid @></td>
                                <td><@=this.companyname @></td>
                                <td><@=this.locationname @></td>
                                <td><@=this.contactperson @></td>
                                <td><@=this.locationemail @></td>
                                <td>
                                    <@=this.created_date @><br>
                                    <@=this.created_time @>
                                </td>
                                <td align="right" style="width:15%">

                                    <a class="update_ico" onclick="toggleActive('<@= this.syslocationid @>')"
                                       href="javascript:void(0)">
                                        <@ if(this.status=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-remove"></i>
                                        <@ } @>
                                    </a>
                                    <a title="Mapping" onclick="loadMapping('<@=this.syslocationid@>')"><i class="fa fa-pencil"></i></a>
                                    <a title="Payment Setting" onclick="loadpaymentsetting('<@=this.syslocationid@>')"><i class="fa fa-google-wallet"></i></a>
                                    <a title="QuickBooks Setting" onclick="loadQuickbookMapping('<@=this.syslocationid@>')"><i class="fa fa-question" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="paymenttypemodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Types</h4>
            </div>
            <div class="modal-body">

                <div class="card" id="ptype">

                    <div class="container">
                        <ul class="nav nav-tabs " id="navtabpayment">
                            <!--<li style="display: block;" id="PM" class="active"><a data-toggle="tab" href="#payumoneymenu" aria-expanded="true">Payumoney</a></li>
                            <li style="display: block;" id="CAM"><a data-toggle="tab" href="#ccavenuemenu">Ccavenue</a></li>
                            <li style="display: block;" id="PAYM"><a data-toggle="tab" href="#paypalmenu">Paypal</a></li>
                            <li style="display: block;" id="IM"><a data-toggle="tab" href="#instamojomenu">Instamojo</a></li>
                            <li style="display: block;" id="CASH"><a data-toggle="tab" href="#codmenu">Cod</a></li>-->
                        </ul>
                        <div class="tab-content">
                                <div id="payumoneymenu" class="form-group tab-pane fade">
                                    <form method="post" id="pmpaymentgateway" name="portal-form"
                                          enctype="multipart/form-data">
                                    <h3>Payumoney</h3>


                                            <div class="checkbox3 checkbox-check ">
                                                <input type="checkbox" name="is_active" id="is_payumoney" value="1">
                                                <label for="is_payumoney">Active</label>
                                            </div>

                                    <div class="form-group" id="payumoneydata">
                                        <lable class="control-label">Merchant Id<input class="form-control notnull" type="text"
                                                                                    name="merchantid" id="merchantid"
                                                                                    maxlength="50"></lable>
                                        <lable class="control-label">Secret Key<input class="form-control notnull" type="text"
                                                                                   name="secretkey" id="secretkey"
                                                                                   maxlength="50"></lable>
                                        <lable class="control-label">Success Url<input class="form-control notnull" type="text"
                                                                                    name="payumoneysuccessurl"
                                                                                    id="payumoneysuccessurl"
                                                                                    maxlength="100"></lable>
                                        <lable class="control-label">Failure Url<input class="form-control notnull" type="text"
                                                                                    name="payumoneyfailureurl"
                                                                                    id="payumoneyfailureurl"
                                                                                    maxlength="100"></lable>
                                        <!--<lable class="form-label">Test Mode<input class="form-control" type="text"  name="testmode" id="testmode" maxlength="50"> </lable>-->
                                        <input type="hidden" name="rel_id" id="payumoney_rel_id" value="0">
                                        <input type="hidden" name="lid" class="lid" value="0">
                                        <input type="hidden" name="mainpaymenttype" class="pm_mainpaymenttype" value="0">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  pull-center savePaymentGatewayData">
                                            Update
                                        </button>
                                    </div>
                                    </form>
                                </div>
                                <div id="ccavenuemenu" class="form-group tab-pane fade">
                                    <form method="post" id="capaymentgateway" name="portal-form"
                                          enctype="multipart/form-data">
                                    <h3>Ccavenue</h3>
                                        <div class="checkbox3 checkbox-check ">
                                            <input type="checkbox" name="is_active" id="is_ccavenue" value="1">
                                            <label for="is_ccavenue">Active</label>
                                        </div>

                                    <div class="form-group" id="ccavenuedata">
                                        <lable class="control-label">Merchant Id<input class="form-control notnull" type="text"
                                                                                    name="merchant_id" id="merchant_id"
                                                                                    maxlength="50"></lable>
                                        <lable class="control-label">Working Key<input class="form-control notnull" type="text"
                                                                                    name="workingkey" id="workingkey"
                                                                                    maxlength="50"></lable>
                                        <lable class="control-label">Currency<input class="form-control notnull" type="text"
                                                                                 name="currency" id="currency"
                                                                                 maxlength="50"></lable>
                                        <lable class="control-label">Access Code<input class="form-control notnull" type="text"
                                                                                    name="accesscode" id="accesscode"
                                                                                    maxlength="50"></lable>
                                        <lable class="control-label">Redirect Url<input class="form-control notnull" type="text"
                                                                                     name="redirecturl" id="redirecturl"
                                                                                     maxlength="100"></lable>
                                        <lable class="control-label">Cancel Url<input class="form-control notnull" type="text"
                                                                                   name="cancelurl" id="cancelurl"
                                                                                   maxlength="100"></lable>
                                        <lable class="control-label">RSA Key Url<input class="form-control notnull" type="text"
                                                                                    name="rsakeyurl" id="rsakeyurl"
                                                                                    maxlength="100"></lable>
                                        <input type="hidden" name="rel_id" id="ccavenue_rel_id" value="0">
                                        <input type="hidden" name="lid" class="lid" value="0">
                                        <input type="hidden" name="mainpaymenttype" class="cca_mainpaymenttype" value="0">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  pull-center savePaymentGatewayData">
                                            Update
                                        </button>
                                    </div>
                                    </form>
                                </div>
                                <div id="paypalmenu" class="form-group tab-pane fade">
                                    <form method="post" id="paypalpaymentgateway" name="portal-form"
                                          enctype="multipart/form-data">
                                    <h3>Paypal</h3>
                                        <div class="checkbox3 checkbox-check ">
                                            <input type="checkbox" name="is_active" id="is_paypal" value="1">
                                            <label for="is_paypal">Active</label>
                                        </div>

                                    <div class="form-group" id="paypaldata">
                                        <lable class="control-label">Mode<input class="form-control notnull" type="text"
                                                                             name="mode" id="mode" maxlength="50">
                                        </lable>
                                        <lable class="control-label">UserName<input class="form-control notnull" type="text"
                                                                                 name="username" id="username"
                                                                                 maxlength="50"></lable>
                                        <lable class="control-label">Password<input class="form-control notnull" type="text"
                                                                                 name="password" id="password"
                                                                                 maxlength="50"></lable>
                                        <input type="hidden" name="rel_id" id="paypal_rel_id" value="0">
                                        <input type="hidden" name="lid" class="lid" value="0">
                                        <input type="hidden" name="mainpaymenttype" class="pp_mainpaymenttype" value="0">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  pull-center savePaymentGatewayData">
                                            Update
                                        </button>
                                    </div>
                                    </form>
                                </div>
                                <div id="instamojomenu" class="form-group tab-pane fade">
                                    <form method="post" id="impaymentgateway" name="portal-form"
                                          enctype="multipart/form-data">
                                    <h3>Instamojo</h3>
                                        <div class="checkbox3 checkbox-check ">
                                            <input type="checkbox" name="is_active" id="is_instamojo" value="1">
                                            <label for="is_instamojo">Active</label>
                                        </div>

                                    <div class="form-group" id="instamojodata">
                                        <lable class="control-label">Merchant Id<input class="form-control notnull" type="text"
                                                                                    name="merchant_id" id="merchant_id"
                                                                                    maxlength="50"></lable>
                                        <lable class="control-label">API Key<input class="form-control notnull" type="text"
                                                                                name="apikey" id="apikey"
                                                                                maxlength="50"></lable>
                                        <lable class="control-label">API Secret<input class="form-control notnull" type="text"
                                                                                   name="apisecret" id="apisecret"
                                                                                   maxlength="50"></lable>
                                        <lable class="control-label">API Salt<input class="form-control notnull" type="text"
                                                                                 name="apisalt" id="apisalt"
                                                                                 maxlength="50"></lable>
                                        <lable class="control-label">Webhook Url<input class="form-control notnull " type="text"
                                                                                    name="webhookurl" id="webhookurl"
                                                                                    maxlength="100"></lable>
                                        <lable class="control-label">Redirect Url<input class="form-control notnull " type="text"
                                                                                     name="redirecturl" id="redirecturl"
                                                                                     maxlength="100"></lable>
                                        <input type="hidden" name="rel_id" id="instamojo_rel_id" value="0">
                                        <input type="hidden" name="lid" class="lid" value="0">
                                        <input type="hidden" name="mainpaymenttype" class="im_mainpaymenttype" value="0">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  pull-center savePaymentGatewayData">
                                            Update
                                        </button>
                                    </div>
                                    </form>
                                </div>
                                <div id="codmenu" class=" form-group tab-pane fade">
                                    <form method="post" id="codpaymentgateway" name="portal-form"
                                          enctype="multipart/form-data">
                                    <h3>Cod</h3>
                                        <div class="checkbox3 checkbox-check ">
                                            <input type="checkbox" name="is_active" id="is_cod" value="1">
                                            <label for="is_cod">Active</label>
                                        </div>

                                    <input type="hidden" name="rel_id" id="cod_rel_id" value="0">
                                    <input type="hidden" name="lid" class="lid" value="0">
                                    <input type="hidden" name="mainpaymenttype" class="c_mainpaymenttype" value="0">


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  pull-center savePaymentGatewayData">
                                            Update
                                        </button>
                                    </div>
                                    </form>

                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade modal-primary" id="modalcompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frm" name="frm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Location</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body clearfix" style="padding: 15px;">
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="slct_company">Select
                                    Company</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="slct_company" id="slct_company">
                                        <option value="0">Select Company</option>
                                        {% for key,value in companylist %}
                                        <option value="{{ value['syscompanyid'] }}">{{ value['companyname'] | raw }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="location_name">Location
                                    Name</label>
                                <div class="col-sm-9">
                                    <input id="location_name" class="form-control" type="text" placeholder=""
                                           name="location_name" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="contact_name">Contact
                                    Person</label>
                                <div class="col-sm-9">
                                    <input id="contact_name" class="form-control " type="text" placeholder=""
                                           name="contact_name" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="email">Email</label>
                                <div class="col-sm-9">
                                    <input id="email" class="form-control" type="text" placeholder="" name="email"
                                           maxlength="30">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="location_contact">Contact
                                    No</label>
                                <div class="col-sm-9">
                                    <input id="location_contact" class="form-control integer" type="text" placeholder=""
                                           name="location_contact" maxlength="15">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="select_country">Country</label>
                                <div class="col-sm-9">
                                    <select name="select_country" id="select_country" class="form-control">
                                        <option value="0" selected="selected">Please Select</option>
                                        {% for key,value in countrylist %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <div class="col-xs-12">
                        <button id="save" type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="quickbookmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">QuickBooks Setting</h4>
            </div>
            <div class="modal-body">

                <div class="card" id="qtype">

                    <div class="container">
                        <ul class="nav nav-tabs" id="navtabquickbook">
                           <li style="display: block;" class="active"><a data-toggle="tab" href="#div_quickbook" aria-expanded="true">Quick Books</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="div_quickbook" class="form-group tab-pane fade">
                                <form method="post" id="quickbooksetting" name="portal-form"
                                      enctype="multipart/form-data">
                                    <h3>Quick Books</h3>
                                    <div class="checkbox3 checkbox-check ">
                                        <input type="checkbox" name="is_active" id="is_quickbook" value="1">
                                        <label for="is_quickbook">Active</label>
                                    </div>

                                    <div class="form-group" id="quickbookdata">
                                        <lable class="control-label">Client Id<input class="form-control notnull" type="text"
                                                                                       name="clientid" id="clientid"
                                                                                       ></lable>
                                        <lable class="control-label">Client Secret<input class="form-control notnull" type="text"
                                                                                       name="clientsecret" id="clientsecret"
                                                                                       ></lable>
                                        <lable class="control-label">Company Name<input class="form-control notnull" type="text"
                                                                                    name="quickcompanyname" id="quickcompanyname"
                                                                                    ></lable>
                                        <lable class="control-label">Company Id<input class="form-control notnull" type="text"
                                                                                       name="quickcompanyid" id="quickcompanyid"
                                                                                       ></lable>
                                        <lable class="control-label">Access Token<input class="form-control notnull" type="text"
                                                                                        name="accesstoken" id="accesstoken"
                                                                                        ></lable>
                                        <lable class="control-label">Refresh Token<input class="form-control notnull" type="text"
                                                                                      name="refreshtoken" id="refreshtoken"
                                                                                      ></lable>
                                        <lable class="control-label">Product Account Id<input class="form-control notnull" type="text"
                                                                                       name="accountid" id="accountid"
                                                                                       ></lable>
                                        <lable class="control-label">Product Account Name<input class="form-control notnull" type="text"
                                                                                       name="accountname" id="accountname"
                                                                                       ></lable>
                                        <lable class="control-label">Tax Id<input class="form-control" type="text"
                                                                                       name="currency_linked_account_tax_id" id="currency_linked_account_tax_id"
                                                                                       ></lable>
                                        <input type="hidden" name="rel_id" id="quickbook_rel_id" value="0">
                                        <input type="hidden" name="lid" class="lid" value="0">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" onclick="updateQuickbooksetting()">
                                            Update
                                        </button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var rec = JSON.parse(newjson);
    pageInit(rec);
    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'location',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                cid: jQuery("#srch_company").val(),
                nm: jQuery("#lc_name").val(),
                cname: jQuery("#srch_contact").val(),
                lid: jQuery("#txtlocationid").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#srch_company").val(0);
        jQuery("#lc_name").val('');
        jQuery("#srch_contact").val('');
        jQuery("#txtlocationid").val('');
        refreshlist();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                cid: jQuery("#srch_company").val(),
                nm: jQuery("#lc_name").val(),
                cname: jQuery("#srch_contact").val(),
                lid: jQuery("#txtlocationid").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function loadaddedit() {
        formrefresh();
        jQuery("#modalcompany").modal('show');
    }

    jQuery("#save").click(function () {
        showjQloading();
        if (frm_valid()) {
            var myForm = document.getElementById('frm');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'location');
            ajaxData.append('opcode', 'addlocation');
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                jQuery("#modalcompany").modal('hide');
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    formrefresh();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        else {
            hidejQloading();
        }
    });


    jQuery(".savePaymentGatewayData").click(function () {
        showjQloading();
        var form_id = $(this).closest("form").attr('id');
        if (validate_form(form_id)) {
            var myForm = document.getElementById(form_id);
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'location');
            ajaxData.append('opcode', 'addorupdatepayment');
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                jQuery("#paymenttypemodal").modal('hide');
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        else {

            hidejQloading();
            return false;
        }
    });

    function toggleActive(id) {
        var arr = {};
        arr['service'] = 'location';
        arr['opcode'] = 'toggle_status';
        arr['id'] = id;
        var str = urlencode(JSON.stringify(arr));
        if (arr['id'] != '') {
            HttpSendRequest(str, function (data) {
                if (data['Success'] == "True") {
                    aTableConfig = jQuery.extend(aTableConfig,
                        {
                            tabledata: null,
                            pagesize: jQuery("#lstRecPerPage").val(),
                            csearch: {
                                cnm: jQuery("#companyname").val(),
                                nm: jQuery("#name").val(),
                                cid: jQuery("#companycode").val(),
                            },
                            resetpaging: false,
                            showprogress: true
                        });
                    jQuery("#trantable").aTable("refreshTable", aTableConfig);
                    alertify.success(data['Message']);
                }
                else {
                    alertify.error(data['Message']);
                }
            });
        }
    }
    function formrefresh() {
        jQuery("#frm").trigger('reset');
        jQuery(".invalid").removeClass('invalid');
    }
    function frm_valid() {
        var error = 0;
        jQuery(".invalid").removeClass('invalid');
        if ($("#slct_company").val() == "" || $("#slct_company").val() == 0) {
            error = 1;
            $("#slct_company").addClass('invalid');
        }
        if ($("#location_name").val() == "") {
            error = 1;
            $("#location_name").addClass('invalid');
        }
        if ($("#contact_name").val() == "") {
            error = 1;
            $("#contact_name").addClass('invalid');
        }
        if ($("#email").val() == "") {
            error = 1;
            $("#email").addClass('invalid');
        }
        else {
            if (validemail(jQuery("#email").val()) == 0) {
                error = 1;
                jQuery("#email").addClass('invalid');
            }
        }
        if ($("#location_contact").val() == "") {
            error = 1;
            $("#location_contact").addClass('invalid');
        }
        if ($("#select_country").val() == "0") {
            error = 1;
            $("#select_country").addClass('invalid');
        }
        if ($("#select_database").val() == "0") {
            error = 1;
            $("#select_database").addClass('invalid');
        }
        if ($("#location_count").val() == "") {
            error = 1;
            $("#location_count").addClass('invalid');
        }

        if (error == 1)
            return false;
        else
            return true;
    }

    function loadMapping(id) {
        var arr = {};
        arr['service'] = 'location';
        arr['opcode'] = 'loadMapping';
        arr['locationid'] = id;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            jQuery("#modalPrimary").html(data.Data);
            jQuery("#modalPrimary").modal('show');
        });
    }

    function loadpaymentsetting(id) {
        var arr = {};
        arr['service'] = 'location';
        arr['opcode'] = 'loadpaymentsetting';
        arr['locationid'] = id;
        $(".tab-content").find(".lid").each(function () {
          $(this).val(id);
        })
        $('input:text').val('');
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            jQuery("#paymenttypemodal").modal('show');
            $('#ccavenue_rel_id').val(0);
            $('#payumoney_rel_id').val(0);
            $('#paypal_rel_id').val(0);
            $('#instamojo_rel_id').val(0);
            $('#cod_rel_id').val(0);
            $('.pm_mainpaymenttype').val(0);
            $('.c_mainpaymenttype').val(0);
            $('.cca_mainpaymenttype').val(0);
            $('.pp_mainpaymenttype').val(0);
            $('.im_mainpaymenttype').val(0);
            $('.tab-content input:checkbox').prop('checked', false);
            $('.tab-content div').removeClass(' active in');

            if (typeof data.SUData != 'undefined' && data.SUData != '' && data.SUData != null) {
                var appendhtml = '';
                jQuery.each(data.SUData, function (key, val) {
                    var target = '';
                    var addclass = '';
                    if (val.shortcode == 'PM') {
                        target = '#payumoneymenu';
                        $('.pm_mainpaymenttype').val(val.paymenttypeunkid);
                    } else if (val.shortcode == 'CASH') {
                        target = '#codmenu';
                        addclass = 'active';
                        $('#codmenu').addClass(' active in');
                        $('.c_mainpaymenttype').val(val.paymenttypeunkid);
                    } else if (val.shortcode == 'CAM') {
                        target = '#ccavenuemenu';
                        $('.cca_mainpaymenttype').val(val.paymenttypeunkid);
                    } else if (val.shortcode == 'PAYM') {
                        target = '#paypalmenu';
                        $('.pp_mainpaymenttype').val(val.paymenttypeunkid);
                    } else if (val.shortcode == 'IM') {
                        target = '#instamojomenu';
                        $('.im_mainpaymenttype').val(val.paymenttypeunkid);
                    }
                    appendhtml += '<li style="display: block;" id="' + val.shortcode + '" class="' + addclass + '"><a data-toggle="tab" href="' + target + '" aria-expanded="true">' + val.paymenttype + '</a></li>';
                });

                $('#navtabpayment').html(appendhtml);
            }

            if (typeof data.Data != 'undefined' && data.Data != '' && data.Data != null) {
                jQuery.each(data.Data, function (key, val) {

                    var parentclass='';

                    if (val.shortcode == 'PM') {
                        if (val.isactive == 1) {
                            $('#is_payumoney').prop('checked', true);
                        }
                        $('#payumoney_rel_id').val(val.paymenttypeunkid);
                        parentclass='payumoneymenu';
                    } else if (val.shortcode == 'CASH') {
                        if (val.isactive == 1) {
                            $('#is_cod').prop('checked', true);
                        }
                        $('#cod_rel_id').val(val.paymenttypeunkid);
                        parentclass='codmenu';
                    } else if (val.shortcode == 'CAM') {
                        if (val.isactive == 1) {
                            $('#is_ccavenue').prop('checked', true);
                        }
                        $('#ccavenue_rel_id').val(val.paymenttypeunkid);
                        parentclass='ccavenuemenu';
                    } else if (val.shortcode == 'PAYM') {
                        if (val.isactive == 1) {
                            $('#is_paypal').prop('checked', true);
                        }
                        $('#paypal_rel_id').val(val.paymenttypeunkid);
                        parentclass='paypalmenu';
                    } else if (val.shortcode == 'IM') {
                        if (val.isactive == 1) {
                            $('#is_instamojo').prop('checked', true);
                        }
                        $('#instamojo_rel_id').val(val.paymenttypeunkid);
                        parentclass='instamojomenu';
                    }


                    if (typeof val.paymentgateway_value != 'undefined' && val.paymentgateway_value != '' && val.paymentgateway_value != null) {
                        jQuery.each(JSON.parse(val.paymentgateway_value), function (key1, val1) {
                            $('#'+ parentclass +' #'+key1).val(val1);
                        });
                    }

                });

            }


        });
    }

    function loadQuickbookMapping(id) {
        var arr = {};
        arr['service'] = 'location';
        arr['opcode'] = 'loadQuickbookMapping';
        arr['locationid'] = id;
        $(".tab-content").find(".lid").each(function () {
          $(this).val(id);
        })
        $('input:text').val('');
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            jQuery("#quickbookmodal").modal('show');
            $('#quickbook_rel_id').val(0);
            $('.tab-content input:checkbox').prop('checked', false);
            jQuery('.tab-content div').addClass(' active in');

            if (typeof data.Data != 'undefined' && data.Data != '' && data.Data != null) {
                jQuery.each(data.Data, function (key, val) {
                    if (val.isactive == 1) {
                        $('#is_quickbook').prop('checked', true);
                    }
                    jQuery('#quickbook_rel_id').val(val.quickbook_rel_id);
                    jQuery('#clientid').val(val.clientid);
                    jQuery('#clientsecret').val(val.clientsecret);
                    jQuery('#quickcompanyname').val(val.quickcompanyname);
                    jQuery('#quickcompanyid').val(val.quickcompanyid);
                    jQuery('#accesstoken').val(val.accesstoken);
                    jQuery('#refreshtoken').val(val.refreshtoken);
                    jQuery('#accountid').val(val.accountid);
                    jQuery('#accountname').val(val.accountname);
                    jQuery('#quickbook_rel_id').val(val.quickbookunkid);
                    jQuery('#currency_linked_account_tax_id').val(val.currency_linked_account_tax_id);

                });
            }
        });
    }

    function updateQuickbooksetting()
    {
        showjQloading();
        var form_id = $('#quickbooksetting').attr('id');
        if (validate_form(form_id)) {
            var myForm = document.getElementById(form_id);
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'location');
            ajaxData.append('opcode', 'updateQuickbooksetting');
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                jQuery("#quickbookmodal").modal('hide');
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        else {
            hidejQloading();
            return false;
        }
    }
</script>
{% endblock %}
