<div class="modal-dialog">
    <div class="modal-content">
        <form id="frm" name="frm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Location Information</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body clearfix" style="padding: 15px;">
                        <!--<div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft">POC User</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk1" id="ci_int_chk1" value="1" onclick="checkstore()"
                                           data-toggle="toggle" {% if poc_available==1 %} checked {% endif %}>
                                    <label for="ci_int_chk1"> </label>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="form-group clearfix hide" id="pocnodevisible">
                            <label class="col-sm-3 control-label textalignleft"> POC Node : </label>
                            <div class="col-sm-3">
                                <div class="controls">
                                    <input type="text"  class="form-control notnull " name="poc_node" id="poc_node" maxlength="3" data-toggle="toggle" {% if
                                           poc_nodes !='' %} value ="{{poc_nodes}}" {% endif %}>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft">IS Night Audit Available?</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk2" id="ci_int_chk2" value="1"
                                           data-toggle="toggle" {% if is_night_audit_enable==1 %} checked {% endif %}>
                                    <label for="ci_int_chk2"> </label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft">Table Booking Available?</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk3" id="ci_int_chk3" value="1"
                                           data-toggle="toggle" {% if is_table_booking_enable==1 %} checked {% endif %}>
                                    <label for="ci_int_chk3"> </label>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft">Zomato Available ?</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk4" id="ci_int_chk4" value="1"
                                           data-toggle="toggle" {% if is_zomato==1 %} checked {% endif %} onclick="showZomatAppkey()">
                                    <label for="ci_int_chk4"> </label>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="form-group clearfix hide" id="zomatoapikeysvisible">
                            <label class="col-sm-3 control-label textalignleft">API keys: </label>
                            <div class="col-sm-6">
                                <div class="controls">
                                    <input type="text"  class="form-control notnull " name="zomatoapikeys" id="zomatoapikeys" data-toggle="toggle" {% if zomatoapikeys !='' %} value ="{{zomatoapikeys}}" {% endif %}>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="form-group clearfix">
                            <label class="col-sm-3 control-label textalignleft">Fiscal Print Available ?</label>
                            <div class="col-sm-9">
                                <div class="checkbox3 checkbox-check">
                                    <input type="checkbox" name="ci_int_chk5" id="ci_int_chk5" value="1"
                                           data-toggle="toggle" {% if is_fiscal == 1 %} checked {% endif %} onclick="showFiscalPaccode()">
                                    <label for="ci_int_chk5"> </label>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group clearfix hide" id="paccodevisible">
                            <label class="col-sm-3 control-label textalignleft">PAC Code: </label>
                            <div class="col-sm-6">
                                <div class="controls">
                                    <input type="text"  class="form-control notnull " name="paccode" id="paccode" data-toggle="toggle" {% if paccode !='' %} value ="{{paccode}}" {% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <div class="col-xs-12">
                    <button id="btn_save" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

 /*   checkstore();
    showZomatAppkey();
    showFiscalPaccode();

    function checkstore() {
        if ($("#ci_int_chk1").is(":checked"))
            jQuery("#pocnodevisible").removeClass('hide');
        else
            jQuery("#pocnodevisible").addClass('hide');
    }
    function showZomatAppkey() {
        if ($("#ci_int_chk4").is(":checked"))
            jQuery("#zomatoapikeysvisible").removeClass('hide');
        else
            jQuery("#zomatoapikeysvisible").addClass('hide');
    }
    function showFiscalPaccode() {
        if ($("#ci_int_chk5").is(":checked"))
            jQuery("#paccodevisible").removeClass('hide');
        else
            jQuery("#paccodevisible").addClass('hide');
    }
*/
    jQuery("#btn_save").click(function () {
        $('.invalid').removeClass('invalid');
        showjQloading();
        /*var total_node = jQuery('#poc_node').val();
        var zomatoapikeys = jQuery('#zomatoapikeys').val();
        var paccode = jQuery('#paccode').val();*/
        var arr = {};
        arr['service'] = 'location';
        arr['opcode'] = 'updateLocationApiMapping';
        arr['lid'] = '{{ lid }}';
        /*if (jQuery("#ci_int_chk1").is(':checked') == true) {
            arr['poc_usr'] = 1;
        } else {
            arr['poc_usr'] = 0;
        }*/
        if (jQuery("#ci_int_chk2").is(':checked') == true) {
            arr['is_night_audit_enable'] = 1;
        } else {
            arr['is_night_audit_enable'] = 0;
        }
        /*if (jQuery("#ci_int_chk3").is(':checked') == true) {
            arr['is_table_booking_enable'] = 1;
        } else {
            arr['is_table_booking_enable'] = 0;
        }
        if (jQuery("#ci_int_chk1").is(':checked') == true) {
            var regex = /^[0-9]+$/;
            if(total_node =='' || total_node ==0 || !regex.test(total_node))
            {
                $("#poc_node").addClass('invalid');
                hidejQloading();
                return false;
            }
            arr['poc_node'] = total_node;
        } else {
            arr['poc_node'] = 0;
        }
        if (jQuery("#ci_int_chk4").is(':checked') == true) {
            arr['is_zomato'] = 1;
        } else {
            arr['is_zomato'] = 0;
        }
        if (jQuery("#ci_int_chk4").is(':checked') == true) {
            if(zomatoapikeys =='' || zomatoapikeys ==0)
            {
                $("#zomatoapikeys").addClass('invalid');
                hidejQloading();
                return false;
            }
            arr['zomatoapikeys'] = zomatoapikeys;
        } else {
            arr['zomatoapikeys'] = '';
        }
        if (jQuery("#ci_int_chk5").is(':checked') == true) {
            arr['is_fiscal'] = 1;
        } else {
            arr['is_fiscal'] = 0;
        }
        if (jQuery("#ci_int_chk5").is(':checked') == true) {
            if(paccode =='' || paccode ==0)
            {
                $("#paccode").addClass('invalid');
                hidejQloading();
                return false;
            }
            arr['paccode'] = paccode;
        } else {
            arr['paccode'] = '';
        }*/

        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            jQuery("#modalPrimary").modal('hide');
            if (data['Success'] == 'True') {
                alertify.success(data['Message']);
            } else {
                alertify.error(data['Message']);
            }
            return false;
        });
    });
</script>

<style>

    .checkbox-slider--b-flat input {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0%;
        margin: 0 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .checkbox-slider--b-flat input + span {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox-slider--b-flat input + span:before {
        position: absolute;
        left: 0px;
        display: inline-block;
    }

    .checkbox-slider--b-flat input + span > h4 {
        display: inline;
    }

    .checkbox-slider--b-flat input + span {
        padding-left: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        content: "";
        height: 20px;
        width: 40px;
        background: rgba(100, 100, 100, 0.2);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
        transition: background 0.2s ease-out;
    }

    .checkbox-slider--b-flat input + span:after {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        background: #ffffff;
        transition: margin-left 0.1s ease-in-out;
        text-align: center;
        font-weight: bold;
        content: "";
    }

    .checkbox-slider--b-flat input:checked + span:after {
        margin-left: 20px;
        content: "";
    }

    .checkbox-slider--b-flat input:checked + span:before {
        transition: background 0.2s ease-in;
    }

    .checkbox-slider--b-flat input + span {
        padding-left: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        border-radius: 20px;
        width: 40px;
    }

    .checkbox-slider--b-flat input + span:after {
        background: #ffffff;
        content: "";
        width: 20px;
        border: solid transparent 2px;
        background-clip: padding-box;
        border-radius: 20px;
    }

    .checkbox-slider--b-flat input:not(:checked) + span:after {
        -webkit-animation: popOut ease-in 0.3s normal;
        animation: popOut ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked + span:after {
        content: "";
        margin-left: 20px;
        border: solid transparent 2px;
        background-clip: padding-box;
        -webkit-animation: popIn ease-in 0.3s normal;
        animation: popIn ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked + span:before {
        background: #bfa695;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input + span:before {
        border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input + span:after {
        border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input + span:before {
        border-radius: 40px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input + span:after {
        border-radius: 40px;
    }

    .checkbox-slider--b-flat input + span:before {
        box-shadow: none;
    }
</style>