<!DOCTYPE html>
<html>

    <head>
        <title>POS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/flat-blue.css">
        <link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/bootstrap.min.css">
        <script type="text/javascript" src="{{ commonurl }}su/themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ commonurl }}su/themes/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ commonurl }}su//themes/js/jquery.jqote2.js"></script>
    </head>
    <body class="flat-blue login-page">
        <div class="container">
            <div class="login-box">
                <div>
                    <div class="login-form row">
                        <div class="col-sm-12 text-center login-header">
                            <h4 class="login-title">Cloud POS</h4>
                            <span class="login_small">Makes your business more simplified</span>
                        </div>
                        <div class="col-sm-12">
                            <div class="login-body">
                                <div class="progress hidden" id="login-progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        Please wait...
                                    </div>
                                </div>
                                <form>
                                    <div class="control" id="valid_msg" style="display: none">
                                        <span class="valid_msg">Please insert required field.</span>
                                    </div>
                                    <div class="control" id="error_msg" style="display: none">
                                        <span class="error_msg"></span>
                                    </div>
                                    <div class="control">
                                        <span class="login-ico">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" id="uname" class="form-control login-input" placeholder="User Name" required/>
                                    </div>
                                    <div class="control">
                                        <span class="login-ico">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="password"  id="pwd" class="form-control login-input" placeholder="Password"  required/>
                                    </div>
                                    <div class="login-button text-center">
                                        <input type="button" id="login" class="btn btn-primary" value="Login" style="width: 100%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .grpactive{
                background-color: #e1e1e1 !important;
                border-right: 10px solid;
            }
            .pnllist{
                width: 50%;
                text-align: center;
                cursor: pointer;
            }
        </style>
        <script type="text/javascript">
        function addactive(obj){
            jQuery(".list-group a").each(function(){
                jQuery(this).removeClass('grpactive');    
            });
            jQuery(obj).addClass('grpactive');
        }
        jQuery("#login").click(function(){
            var validflag = checkvalid();
            if (validflag) {
                jQuery("#login-progress").removeClass('hidden');
                jQuery(".form-control").removeClass("invalidfield");
                jQuery(".valid_msg").hide();
                jQuery("#error_msg").hide();
                var uname = jQuery("#uname").val();
                var pwd = jQuery("#pwd").val();
                jQuery.ajax({
                    url: "{{ commonurl }}su/validuser.php",
                    type: "post",
                    data: "service=validuser&opcode=checkcredentials&uname="+uname+"&pwd="+pwd,
                    success: function(data){
                        var data_err = JSON.parse(data);
                        if(data_err['Success']=='False') {
                            jQuery("#login-progress").hide();       
                            jQuery("#error_msg").show();        
                            jQuery(".error_msg").text(data_err['Message']);
                        }
                        else if (data_err['Success']=='True') {
                            jQuery("#login-progress").hide();
                            window.location= "{{ commonurl }}su/admin/dashboard";
                        }
                    }
                });
            }
        });
        
        function checkvalid()
        {
            var flag=0;
            if (jQuery("#uname").val()=="")
            {
                flag=1;
                jQuery("#valid_msg").show();
                jQuery("#uname").addClass('invalidfield');
            }
            if (jQuery("#pwd").val()=="")
            {
                flag=1;
                jQuery("#valid_msg").show();
                jQuery("#pwd").addClass('invalidfield');
            }
            if (jQuery("#companyid").val()=="")
            {
                flag=1;
                jQuery("#valid_msg").show();
                jQuery("#companyid").addClass('invalidfield');
            }
            if (flag==1) 
                return false;
            else
                return true;
        }
        </script>
    </body>
    <style>
    .valid_msg{
        font-weight: 14px;
        color: red;
    }
    .error_msg{
        color: red;
    }
    .invalidfield{
       border: 1px solid red !important; 
    }
    .login-ico{
       font-size: 22px;
        margin-left: 9px;
        margin-top: 2px;
        position: absolute;
    }
    .login-input{
        padding: 0px 0px 0px 40px;
    }
    </style>
</html>
