{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'pgateway');
	localStorage.setItem('pagename', 'leftpanel_pgateway');
</script>
{% endblock %} {% block headerblock %}

<li class="active">Payment Gateway</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add Payment Gateway</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName">Name</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Records
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.paymenttype @>
                                </td>
                                <td>
                                    <@=this.shortcode @>
                                </td>
                                <td>
                                    <@=this.type @>
                                </td>

                                <td  style="width:15%">

                                    <a class="update_ico"  onclick="loadaddedit('edit','<@=this.paymenttypeunkid @>')" href="javascript:void(0)" title="Edit">
                                          <i class="fa  fa-pencil"></i>
                                    </a>

                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="paymenttypeform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="groupid" name="groupid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label" for="paymentmethod">Name (UNIQUE)</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="paymentmethod" id="paymentmethod" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="shortcode">Short Code (UNIQUE)</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="shortcode" id="shortcode" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="field-1">Type</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="cash" class="" style="margin-bottom: 8px" name="rdo_type" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="cash">Cash</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="bank" class="" style="margin-bottom: 8px" name="rdo_type" value="0" type="radio">
                                    <label class="iradio-label form-label" for="bank">Bank</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="field-1">Status</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">Active</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0" type="radio">
                                    <label class="iradio-label form-label" for="inactive">Inactive</label>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">Submit</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
	pageInit(newjson);
    function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'pgateway',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

	function doSearch() 
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
	{
        try
		{
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('Edit Payment Gateway');
                jQuery("#groupid").val(id);
                jQuery("#shortcode").attr('readonly',true);
                jQuery("#paymentmethod").attr('readonly',true);
				var arr = {};
				arr['service']= 'pgateway';
				arr['opcode']= 'getgroupname';
				arr['groupid']= id;
                jQuery(".edit_hide").hide();
                
				var str = urlencode(JSON.stringify(arr));
				HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#shortcode").val(res.shortcode);
                        jQuery("#paymentmethod").val(res.paymenttype);
                        if (res.type == 'CASH')
                            jQuery("#cash").trigger("click");
                        else
                            jQuery("#bank").trigger("click");
                        if (res.isactive == '1')
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");
					}
				});
			}
			else{
				jQuery("#frmtitle").text('Add Payment Gateway');
				jQuery("#groupid").val('0');
                jQuery("#shortcode").attr('readonly',false);
                jQuery("#paymentmethod").attr('readonly',false);
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
        jQuery('#paymenttypeform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }



	jQuery("#submit").click(function () {
        if (validate_form('paymenttypeform')) {
			showjQloading();
            var groupid = jQuery("#groupid").val();
            if(groupid!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
			var groupname = $('#paymentmethod').val();
			var slug = $('#shortcode').val();
            var type="BANK";
            if ($("#cash").is(":checked")) {
                type = "CASH";
            }
            var active = 0;
            if ($("#active").is(":checked")) {
                active = 1;
            }
            var ajaxData = new FormData();
            ajaxData.append('service', 'pgateway');
            ajaxData.append('opcode', 'addgroup');
            ajaxData.append('groupid', groupid);
			ajaxData.append('paymentmethod', groupname);
			ajaxData.append('shortcode', slug);
            ajaxData.append('type', type);
            ajaxData.append('active', active);
			HttpSendRequest(ajaxData,function(data){
			    hidejQloading();
				if (data['Success'] == 'True') {
					alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
				} else {
					alertify.error(data['Message']);
				}
				return false;
	        });
        } else {
            alertify.alert('Please fill necessary information');
        }
	});


</script>
{% endblock %}