{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'Privilege');
	localStorage.setItem('pagename', 'leftpanel_privilege');
</script>
{% endblock %} {% block headerblock %}

<li class="active">Privilege</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add Privilege</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">Privilege</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="Enter Privilege Type">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th>Privilege Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Records
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>

                                <td>
                                    <@=this.groupname @>
                                </td>
                                <td>
                                    <@=this.name @>
                                </td>
                                <td  style="width:15%">
                                    <a class="update_ico"  onclick="loadaddedit('edit','<@=this.id @>')" href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                          <i class="fa  fa-pencil"></i>
                                    </a>

                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="paymenttypeform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="groupid" name="groupid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="module_type">Select Group Type</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="module_type" name="module_type" class="form-control dropdown notnull" onchange="getprivgroups('',function() {})">
                                    <option value="">Please Select Group Type</option>
                                    <option value="1">Company Admin</option>
                                    <option value="2">Stores</option>
                                    <option value="3">Outlets</option>
                                    <option value="4">Front</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="privilegegroupid">Select Group Name</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="privilegegroupid" name="privilegegroupid" class="form-control dropdown">
                                    <option value="0">--Select Menu ID--</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="privname">Add Privilege Name {UNIQUE}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="privname" id="privname" maxlength="300">
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">Submit</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
	pageInit(newjson);
    function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'privilege',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

	function doSearch() 
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
	{
        try
		{
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('Edit Privilege Type');
                jQuery("#groupid").val(id);

				var arr = {};
				arr['service']= 'privilege';
				arr['opcode']= 'getprivilegename';
				arr['groupid']= id;
                jQuery(".edit_hide").hide();
                
				var str = urlencode(JSON.stringify(arr));
				HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
						var res = recObj.Data;
                        jQuery("#module_type").val(res.type);
                        getprivgroups(res.type,function () {
                            jQuery("#privilegegroupid").val(res.privilegegroupunkid);
                        });
                        jQuery("#privname").val(res.name);
					}
				});
			}
			else{
				jQuery("#frmtitle").text('Add Privilege');
				jQuery("#groupid").val('0');
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
        jQuery('#paymenttypeform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

	jQuery("#submit").click(function () {
        if (paymenttype_valid()) {
			showjQloading();
            var groupid = jQuery("#groupid").val();
            if(groupid!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
			var privname = $('#privname').val();
			var privilegegroupid = $('#privilegegroupid').val();
            var ajaxData = new FormData();
            ajaxData.append('service', 'privilege');
            ajaxData.append('opcode', 'addgroup');
            ajaxData.append('groupid', groupid);
			ajaxData.append('privname', privname);
			ajaxData.append('privilegegroupid', privilegegroupid);
			HttpSendRequest(ajaxData,function(data){
			    hidejQloading();
                if (data['Success'] == 'True') {
					alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
				} else {
					alertify.error(data['Message']);
				}
				return false;
	        });
        } else {
            alertify.alert('Please fill necessary information');
        }
	});

    function getprivgroups(typeval,callback){
        var type ='';
        if(typeof typeval!='undefined' && typeval!='' && typeval!=null){
            type=typeval;
        }else {
            type = jQuery("#module_type").val();
        }
        $('#privilegegroupid').html('<option value="0">--Select Menu ID--</option>');
        if (type!='' && typeof type!='undefined' && type!=null) {
            var arr = {};
            arr['service']= 'privilege';
            arr['opcode']= 'getprivilegegroup';
            arr['type']= type;
            var str = urlencode(JSON.stringify(arr));
			HttpSendRequest(str,function(data){
                if (data['Success'] == 'True') {
                    var res = data.Data;
                    $.each(res, function (key, value) {
                        $('#privilegegroupid').append('<option value="'+value['privilegegroupunkid']+'">'+ value['groupname']+'</option>');
                    });
                    callback();
                } else {
                    alertify.error(data['Message']);
                }
				return false;
	        });
        } else {
            alertify.error('Please first select group type!');
        }
	}

    function paymenttype_valid() {
        var error = 0;
        $('#privname').removeClass('invalid');
        $('#privilegegroupid').removeClass('invalid');
        $('#module_type').removeClass('invalid');

        if ($("#privname").val() == "") {
            error = 1;
            $('#privname').addClass('invalid');
        } if ($("#module_type").val() == "") {
            error = 1;
            $('#module_type').addClass('invalid');
        }
        if ($("#privilegegroupid").val() == 0) {
            error = 1;
            $('#privilegegroupid').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }


</script>
{% endblock %}