{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'PrivilegeGroup');
	localStorage.setItem('pagename', 'leftpanel_privilege');
</script>
{% endblock %} {% block headerblock %}

<li class="active">Privilege Group</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add Group</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero" for="exampleInputName2">Group Name</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text" placeholder="Enter Group Type">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Group Type</th>
                                    <th>Group Name</th>
                                    <th>Module Name</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Records
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@ if(this.type == 1) { @>
                                    Company Admin
                                    <@ } if(this.type == 2){ @>
                                    Stores
                                    <@ } if(this.type == 3){ @>
                                    Outlets
                                    <@ } if(this.type == 4){ @>
                                    Front
                                    <@ } @>
                                </td>
                                <td>
                                    <@=this.groupname @>
                                </td>
                                <td>
                                    <@=this.module_name @>
                                </td>

                                <td  style="width:15%">

                                    <a class="update_ico"  onclick="loadaddedit('edit','<@=this.privilegegroupunkid @>')" href="javascript:void(0)" title="Edit">
                                          <i class="fa  fa-pencil"></i>
                                    </a>

                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="paymenttypeform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
							<input type="hidden" id="groupid" name="groupid" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="module_type">Group Type</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="module_type" name="module_type" class="form-control dropdown notnull" >
                                    <option value="">Please Select Group Type</option>
                                    <option value="1">Company Admin</option>
                                    <option value="2">Stores</option>
                                    <option value="3">Outlets</option>
                                    <option value="4">Front</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="groupname">Group Name (UNIQUE)</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="groupname" id="groupname" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="module_name">Module Name</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control" name="module_name" id="module_name" maxlength="30">
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">Submit</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var todaysdate = "2016-05-27";
    var data = "{{ datalist }}";
	var newjson = $('<textarea />').html(data).text();
	pageInit(newjson);
    function pageInit(data) {
		aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'privilege_group',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

	function doSearch() 
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id)
	{
        try
		{
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
			jQuery("#active").attr("checked",true);
            if (action == 'edit' && id != "") {
				jQuery("#frmtitle").text('Edit Group Type');
                jQuery("#groupid").val(id);

				var arr = {};
				arr['service']= 'privilege_group';
				arr['opcode']= 'getgroupname';
				arr['groupid']= id;
                jQuery(".edit_hide").hide();
                
				var str = urlencode(JSON.stringify(arr));
				HttpSendRequest(str,function(recObj){
					if (recObj.Success == 'True') {
						var res = recObj.Data;
						jQuery("#groupname").val(res.groupname);
						jQuery("#module_name").val(res.module_name);
						jQuery("#module_type").val(res.type);
					}
				});
			}
			else{
				jQuery("#frmtitle").text('Add Group Type');
				jQuery("#groupid").val('0');
                jQuery(".edit_hide").show();
			}
        } catch (e) {
            alert(e);
        }
    }
    function refreshaddedit()
	{
        jQuery('.invalid').removeClass('invalid');
		jQuery("#active").trigger("click");
        jQuery('#paymenttypeform').trigger('reset'); 
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }


    function refreshlist()
    {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: pagereset,
            pageno:pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }



	jQuery("#submit").click(function () {
        if (paymenttype_valid()) {
			showjQloading();
            var groupid = jQuery("#groupid").val();
			var groupname = $('#groupname').val();
			var module_name = $('#module_name').val();
			var module_type = $('#module_type').val();
            if(groupid!=0){
                pagereset=false;
                pageno=$('#lstGoTo').val();
            }
            var ajaxData = new FormData();
            ajaxData.append('service', 'privilege_group');
            ajaxData.append('opcode', 'addgroup');
            ajaxData.append('groupid', groupid);
			ajaxData.append('groupname', groupname);
			ajaxData.append('module_name', module_name);
			ajaxData.append('module_type', module_type);
			HttpSendRequest(ajaxData,function(data){
			    hidejQloading();
				if (data['Success'] == 'True') {
					alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
				} else {
					alertify.error(data['Message']);
				}
				return false;
	        });
        } else {
            alertify.alert('Please fill necessary information');
        }
	});

    function paymenttype_valid() {
        var error = 0;
        $('#groupname').removeClass('invalid');
        $('#module_name').removeClass('invalid');
        $('#module_type').removeClass('invalid');

        if ($("#groupname").val() == "") {
            error = 1;
            $('#groupname').addClass('invalid');
        }if ($("#module_name").val() == "") {
            error = 1;
            $('#module_name').addClass('invalid');
        }if ($("#module_type").val() == "") {
            error = 1;
            $('#module_type').addClass('invalid');
        }
        if (error == 1)
            return false;
        else
            return true;
    }


</script>
{% endblock %}