{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>

<script src="{{ commonurl }}themes/plugins/ckeditor-full/ckeditor.js"></script>
<script src="{{ commonurl }}themes/plugins/ckeditor-full/adapters/jquery.js"></script>

<script type="text/javascript">
    localStorage.setItem('modulename', 'systemNotifiaction');
    localStorage.setItem('pagename', 'leftpanel_systemNotifiaction');
</script>

{% endblock %} {% block headerblock %}

<li class="active">System Notification</li>

{% endblock %} {% block content %}

<div id="list" class="container-fluid ">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card overflow-visible">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add
                                Notification
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">

                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputreleasedate">Release Date</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <div class='input-group date' id='datetimepicker8'>
                                            <input type='text' name="exampleInputreleasedate" class="form-control" id="exampleInputreleasedate" placeholder="Enter Release Date" />
                                            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputVersion">Version</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputVersion" name="exampleInputVersion" class="form-control" type="text"
                                               placeholder="Enter Version">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputShortdescription">Short Description</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputShortdescription" name="exampleInputShortdescription" class="form-control" type="text"
                                               placeholder="Enter Short Description">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th width="40%">Short Description</th>
                                <th width="10%">Version</th>
                                <th width="25%">Release Date</th>
                                <th width="25%"></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Records
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td width="40%" style="word-break: break-all;">
                                    <@=this.shortdescription @>
                                </td>
                                <td width="10%">
                                    <@=this.version @>
                                </td>
                                <td width="25%" >
                                <@=this.releasedate @>
                                </td>

                                <td width="25%">

                                    <a class="update_ico"
                                       onclick="toggleactive('<@= this.notificationid @>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="Status">

                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.notificationid @>')"
                                       href="javascript:void(0)" title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="update_ico"
                                       onclick="remove('<@=this.notificationid @>','{{ module }}','Are you sure? You want to delete this Record.')"
                                       title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="systemNotificationform" class="card overflow-visible">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="groupid" name="groupid" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-label" for="version">Version</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                            <input type="text" class="form-control notnull" name="version" id="version" maxlength="30">
                        </div>
                    </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="releasedate">Release Date</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' name="releasedate"  class="form-control notnull" id="releasedate"/>
                                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label class="form-label" for="shortdescription">Short Description</label><span class="required"
                                                                                                    aria-required="true"> *</span>
                            <div class="controls">
                                <textarea class="form-control notnull" name="shortdescription" id="shortdescription" rows="2"
                                          cols="10" maxlength="100"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="field-1">Status</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                    checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">Active</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                    type="radio">
                                    <label class="iradio-label form-label" for="inactive">Inactive</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="form-label" for="briefdescription">Brief Discription</label><span class="required"
                                                                                                    aria-required="true"> *</span>
                            <div class="controls">
                                <textarea id="briefdescription" name="briefdescription" class="form-control" maxlength="1000"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">Submit</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);
    initializeDates();

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'systemNotification',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                ver: jQuery("#exampleInputVersion").val(),
                rel: jQuery("#exampleInputreleasedate").val(),
                shtds: jQuery("#exampleInputShortdescription").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    CKEDITOR.disableAutoInline = true;
    $('#briefdescription').ckeditor();


    function doReset() {
        jQuery("#exampleInputVersion").val("");
        jQuery("#exampleInputReleasedate").val("");
        jQuery("#exampleInputShortdescription").val("");

        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                ver: jQuery("#exampleInputVersion").val(),
                rel: jQuery("#exampleInputReleasedate").val(),
                shtds: jQuery("#exampleInputShortdescription").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            initializeDates();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit System Notification');
                jQuery("#groupid").val(id);
                var arr = {};
                arr['service'] = 'systemNotification';
                arr['opcode'] = 'getNotificationdetail';
                arr['groupid'] = id;
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#version").val(res.version);
                        jQuery("#shortdescription").val(res.shortdescription);
                        jQuery('#releasedate').val(res.releasedate);
                        jQuery('#datetimepicker6').datetimepicker('setDate', res.releasedate);
                        if (res.is_active == '1' || res.is_active == 1)
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");

                        if(typeof res.briefdescription!='undefined' && res.briefdescription!='' && res.briefdescription!=null){
                            var decoded = $("<textarea/>").html(res.briefdescription).text();
                            CKEDITOR.instances['briefdescription'].setData(decoded);
                        }else{
                            var decoded = $("<textarea/>").html('').text();
                            CKEDITOR.instances['briefdescription'].setData('');
                        }

                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add System Notification');
                jQuery("#groupid").val('0');
                CKEDITOR.instances['briefdescription'].setData('');
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery('#systemNotificationform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                ver: jQuery("#exampleInputVersion").val(),
                rel: jQuery("#exampleInputReleasedate").val(),
                shtds: jQuery("#exampleInputShortdescription").val(),

            },
            resetpaging: pagereset,
            pageno: pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('systemNotificationform')) {
            showjQloading();
            var groupid = jQuery("#groupid").val();
            if (groupid != 0) {
                pagereset = false;
                pageno = $('#lstGoTo').val();
            }
            var reldate = jQuery("#releasedate").val();
            var version = jQuery("#version").val();
            var shrtdes = jQuery("#shortdescription").val();
            var briefdes = jQuery('#briefdescription').val();
            var active = 0;
            if ($("#active").is(":checked")) {
                active = 1;
            }
            var ajaxData = new FormData();
            ajaxData.append('service', 'systemNotification');
            ajaxData.append('opcode', 'addNotification');
            ajaxData.append('groupid', groupid);
            ajaxData.append('releasedate', reldate);
            ajaxData.append('version', version);
            ajaxData.append('shortdescription', shrtdes);
            ajaxData.append('briefdescription', briefdes);
            ajaxData.append('active', active);
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            alertify.alert('Please fill necessary information');
        }
    });

    function initializeDates() {

        var todayDate = new Date().getDate();

        $('#datetimepicker6').datetimepicker({
            minDate: new Date(new Date(new Date().setDate(todayDate - 1))),
            format: 'YYYY-MM-DD HH:mm:ss'
        });

        $('#datetimepicker8').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
        });

    }

</script>
{% endblock %}