{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}/themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}/themes/js/aTable.js"></script>

<script type="text/javascript" src="{{ commonurl }}su/themes/js/countrylist.js"></script>
<script type="text/javascript" src="{{ commonurl }}su/themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}su/themes/css/select2.min.css">

<script type="text/javascript">
    localStorage.setItem('modulename', 'taglinenotes');
    localStorage.setItem('pagename', 'leftpanel_taglinenotes');
</script>

{% endblock %} {% block headerblock %}

<li class="active">Tagline Notes</li>

{% endblock %} {% block content %}

<div id="list" class="container-fluid ">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card overflow-visible">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Search Criteria</div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">Add
                                Notes
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputStart">Display Start Date</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <div class='input-group date' id='datetimepicker8'>
                                            <input type='text' name="exampleInputStart" class="form-control" id="exampleInputStart" placeholder="Enter Display Start Date" />
                                            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputEnd">Display End Date</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <div class='input-group date' id='datetimepicker9'>
                                            <input type='text' name="exampleInputEnd" class="form-control" id="exampleInputEnd" placeholder="Enter Display End Date" />
                                            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputNote">Notes</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputNote" name="exampleInputNote" class="form-control" type="text"
                                               placeholder="Enter Notes">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputNote">Country</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select id="exampleInputCountry" class="form-control" name="exampleInputCountry">
                                            <option value="">Please Select</option>
                                            {% for key,value in countrylist %}
                                            <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">Search</button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th width="40%">Notes</th>
                                <th width="15%">Display Start Date</th>
                                <th width="15%">Display End Date</th>
                                <th width="15%">Country</th>
                                <th width="15%"></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">

                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Records
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td width="40%" style="word-break: break-all;">
                                    <@=this.taglinenotes @>
                                </td>
                                <td width="15%">
                                    <@=this.displaystartdate @>
                                </td>
                                <td width="15%">
                                    <@=this.displayenddate @>
                                </td>
                                <td width="15%">
                                    <@=this.country @>
                                </td>


                                <td width="15%">

                                    <a class="update_ico"
                                       onclick="toggleactive('<@= this.taglinenoteid @>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="Status">

                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.taglinenoteid @>')"
                                       href="javascript:void(0)" title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="update_ico"
                                       onclick="remove('<@=this.taglinenoteid @>','{{ module }}','Are you sure? You want to delete this Record.')"
                                       title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="taglinenotesform" class="card overflow-visible">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="groupid" name="groupid" value="0"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label" for="displaystartdate">Display Start Date</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' name="displaystartdate"  class="form-control notnull" id="displaystartdate"/>
                                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="displayenddate">Display End Date</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <div class='input-group date' id='datetimepicker7'>
                                    <input type='text' name="displayenddate" class="form-control notnull" id="displayenddate"/>
                                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="form-label" for="taglinenotes">Tagline Notes</label><span class="required"
                                                                                                    aria-required="true"> *</span>
                            <div class="controls">
                                <textarea class="form-control notnull" name="taglinenotes" id="taglinenotes" rows="10"
                                          cols="10" maxlength="300"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="field-1">Status</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">Active</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label" for="inactive">Inactive</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="country_div" >
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-header" >
                                                    <div class="card-title">
                                                        <span class="title">Add Country</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active">
                                                            <div class="form-group">
                                                                <label class="form-label" for="country_list">Country</label>
                                                                <select id="country_list" class="form-control dropdown"  multiple="multiple" style="width:100%">
                                                                    {% for key,value in countrylist %}
                                                                    <option class="option_{{ key }}" value="{{ key }}">{{ value }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>

                                                            <div class="form-group clearfix"></div>
                                                            <label class="col-sm-3 control-label textalignleft "></label>
                                                            <div class="col-sm-9">
                                                                <button type="button" class="button btn" style="margin-right: 10px" onclick="selectAllCountry();">Select ALL</button>
                                                                <button style="margin-right: 10px" type="button" class="button btn" onclick="selectNoneCountry();">Select None</button>
                                                            </div>
                                                            <div class="form-group clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">Submit</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    pageInit(newjson);
    initializeDates();

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}su/admin/controller',
            opcode: 'rec',
            service: 'taglinenotes',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                std: jQuery("#exampleInputStart").val(),
                end: jQuery("#exampleInputEnd").val(),
                nt: jQuery("#exampleInputNote").val(),
                ct: jQuery("#exampleInputCountry").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputStart").val("");
        jQuery("#exampleInputEnd").val("");
        jQuery("#exampleInputNote").val("");
        jQuery("#exampleInputCountry").val("");

        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                std: jQuery("#exampleInputStart").val(),
                end: jQuery("#exampleInputEnd").val(),
                nt: jQuery("#exampleInputNote").val(),
                ct: jQuery("#exampleInputCountry").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();

            jQuery('#country_list').select2();            /* multiselection dropdown */

            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit Tagline Notes');
                jQuery("#groupid").val(id);
                var arr = {};
                arr['service'] = 'taglinenotes';
                arr['opcode'] = 'getNotesdetail';
                arr['groupid'] = id;
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        jQuery("#displaystartdate").val(res.displaystartdate);
                        jQuery("#displayenddate").val(res.displayenddate);
                        jQuery("#taglinenotes").val(res.taglinenotes);

                        if (res.is_active == '1' || res.is_active == 1)
                            jQuery("#active").trigger("click");
                        else
                            jQuery("#inactive").trigger("click");

                        var countryArray = res.country.split(',');

                        if (typeof countryArray !='undefined' && countryArray.length>0)
                        {
                            loaditem_unitlist(countryArray);
                        }
                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add Tagline Notes');
                jQuery("#groupid").val('0');
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery("#active").trigger("click");
        jQuery('#taglinenotesform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        initializeDates();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                std: jQuery("#exampleInputStart").val(),
                end: jQuery("#exampleInputEnd").val(),
                nt: jQuery("#exampleInputNote").val(),
                ct: jQuery("#exampleInputCountry").val(),

            },
            resetpaging: pagereset,
            pageno: pageno,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('taglinenotesform')) {
            showjQloading();
            var groupid = jQuery("#groupid").val();
            if (groupid != 0) {
                pagereset = false;
                pageno = $('#lstGoTo').val();
            }
            var start = jQuery("#displaystartdate").val();
            var end = jQuery("#displayenddate").val();
            var note = jQuery("#taglinenotes").val();
            var active = 0;
            if ($("#active").is(":checked")) {
                active = 1;
            }
            var countryid = $('#country_list').val();
            var ajaxData = new FormData();
            ajaxData.append('service', 'taglinenotes');
            ajaxData.append('opcode', 'addTaglinenotes');
            ajaxData.append('groupid', groupid);
            ajaxData.append('displaystartdate', start);
            ajaxData.append('displayenddate', end);
            ajaxData.append('taglinenotes', note);
            ajaxData.append('active', active);
            ajaxData.append('countryid', countryid);
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    refreshlist();
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        } else {
            alertify.alert('Please fill necessary information');
        }
    });

    function initializeDates() {

        var todayDate = new Date().getDate();

        $('#datetimepicker6').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            minDate: new Date(new Date(new Date().setDate(todayDate - 1)))
        });
        $('#datetimepicker7').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            useCurrent: false,
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });

        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

        $('#datetimepicker8').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
        });
        $('#datetimepicker9').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
        });
    }



</script>
{% endblock %}