{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'accountinfo');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}

<li class="active">{{default_langlist.ACCOUNT_INFO}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-title">
                            {% if  user_type in [1] or '262' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>

                        {% if  user_type in [1] or '263' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if  user_type in [1] or '266' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if  user_type in [1] or '262' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" maxlength="15" class="form-control" type="text"
                                               placeholder="{{langlist.LANG2}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if  user_type in [1] or '262' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG4}}</th>
                                <th>{{langlist.LANG3}}</th>
                                <th>{{langlist.LANG9}} ({{currency_sign}})</th>
                                <th>{{langlist.LANG10}} ({{currency_sign}})</th>
                                <th>{{langlist.LANG11}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.accountname @>
                                </td>
                                <td>
                                    <@=this.alias @>
                                </td>

                                <td>
                                    <@=this.credit_limit_dis @>
                                </td>

                                <td>
                                    <@=this.opening_balance_dis @>
                                </td>
                                <td>
                                    <@=this.payment_term_dis @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if  user_type in [1] or '267' in PRIVdata %}
                                    <a class="update_ico" onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if  user_type in [1] or '264' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if  user_type in [1] or '265' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if  user_type in [1] or '266' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="accountinfoform" name="accountinfoform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="card-body" style="display: table;background-color: #eee">
                        <div class="col-xs-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG28}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="name">{{langlist.LANG4}} {{ default_langlist.UNIQUE
                                        }}</label><span class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="name" id="name"
                                               maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="form-label" for="alias">{{langlist.LANG3}} {{ default_langlist.UNIQUE
                                        }}</label><span class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="alias" id="alias"
                                               maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="form-label" for="account_type">{{langlist.LANG5}} </label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <select name="account_type" id="account_type" class="form-control dropdown">
                                            <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="1">{{default_langlist.EMPLOYEES}}</option>
                                            <option value="2">{{default_langlist.LEDGERS}}</option>
                                            <option value="3">{{default_langlist.VENDORS}}</option>
                                            <option value="4">{{default_langlist.CUSTOMERS}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="accountno">{{langlist.LANG8}}</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="accountno" id="accountno"
                                               maxlength="25">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="fname">{{langlist.LANG6}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="fname" id="fname"
                                               maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="lname">{{langlist.LANG7}} </label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="lname" id="lname"
                                               maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="phone">{{langlist.LANG18}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control integer" name="phone" id="phone"
                                               maxlength="15">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG29}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="address1">{{langlist.LANG12}} </label>
                                    <div class="controls">
                                        <textarea class="form-control" name="address1" id="address1"
                                                  style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="address2">{{langlist.LANG13}} </label>
                                    <div class="controls">
                                         <textarea class="form-control" name="address2" id="address2"
                                                   style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="city">{{langlist.LANG14}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="city" id="city"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="state">{{langlist.LANG16}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="state" id="state"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="zip">{{langlist.LANG15}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="zip" id="zip"
                                               maxlength="7">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label"
                                           for="country">{{langlist.LANG17}}</label>
                                    <div class="controls">
                                        <select name="country" id="country" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in countrylist %}
                                            <option value="{{ key }}" {%
                                                    if(key==datalist.country)%} selected {%
                                                    endif %}>{{ value }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="form-label" for="fax">{{langlist.LANG19}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control integer" name="fax" id="fax"
                                               maxlength="15">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="email">{{langlist.LANG20}} </label>
                                    <div class="controls">
                                        <input type="email" class="form-control email" name="email" id="email"
                                               maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 ">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG30}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-2">
                                    <label class="form-label" for="credit_limit">{{langlist.LANG9}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="credit_limit" id="credit_limit"
                                               maxlength="8">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label" for="opening_balance">{{langlist.LANG10}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="opening_balance" id="opening_balance"
                                               maxlength="8">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label" for="payment_term">{{langlist.LANG11}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control integer" name="payment_term" id="payment_term"
                                               maxlength="5">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="discount_amount">{{langlist.LANG26}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="discount_amount" id="discount_amount"
                                               maxlength="8">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="discount_percentage">{{langlist.LANG27}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="discount_percentage" id="discount_percentage"
                                               maxlength="2" >
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no">{{langlist.LANG21}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no" id="reg_no"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no1">{{langlist.LANG22}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no1" id="reg_no1"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no2">{{langlist.LANG23}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no2" id="reg_no2"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="card_no">{{langlist.LANG24}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="card_no" id="card_no"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label"
                                           for="remark">{{langlist.LANG25}}</label>
                                    <div class="controls">
                                <textarea class="form-control" name="remark" id="remark"
                                          style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 edit_hide">
                                    <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                                    <div class="controls">
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="active" class="" style="margin-bottom: 8px" name="rdo_status"
                                                   value="1"
                                                   checked="checked" type="radio">
                                            <label class="iradio-label form-label" for="active">
                                                {{default_langlist.ACTIVE}}</label>
                                        </div>
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status"
                                                   value="0"
                                                   type="radio">
                                            <label class="iradio-label form-label"
                                                   for="inactive">{{default_langlist.INACTIVE}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
    var lbladdac="{{langlist.LANG1}}";
    var lblac="{{default_langlist.ACCOUNT_INFO}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("262");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }


    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'account_info',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit+' '+lblac);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'account_info';
                arr['opcode'] = 'editclass';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        $.each(res, function (key, value) {
                            jQuery("#name").val(value.accountname);
                            jQuery("#alias").val(value.alias);
                            jQuery("#account_type").val(value.account_type);
                            jQuery("#accountno").val(value.account_number);
                            jQuery("#fname").val(value.firstname);
                            jQuery("#lname").val(value.lastname);
                            jQuery("#phone").val(value.phone);
                            jQuery("#card_no").val(value.card_no);
                            jQuery("#reg_no2").val(value.reg_no2);
                            jQuery("#reg_no1").val(value.reg_no1);
                            jQuery("#reg_no").val(value.reg_no);
                            if(value.discount_percentage > 0){

                                jQuery("#discount_percentage").val(value.discount_percentage);
                            }
                            if(value.discount_amount > 0){

                                jQuery("#discount_amount").val(value.discount_amount);
                            }
                            if(value.payment_term > 0){

                                jQuery("#payment_term").val(value.payment_term);
                            }
                            if(value.opening_balance > 0){

                                jQuery("#opening_balance").val(value.opening_balance);
                            }
                            if(value.credit_limit > 0){

                                jQuery("#credit_limit").val(value.credit_limit);
                            }
                            jQuery("#email").val(value.email);
                            jQuery("#fax").val(value.fax);
                            jQuery("#country").val(value.country);
                            jQuery("#zip").val(value.zip);
                            jQuery("#state").val(value.state);
                            jQuery("#city").val(value.city);
                            jQuery("#address2").val(value.address2);
                            jQuery("#address1").val(value.address1);
                            jQuery("#remark").val(value.remark);
                            if (value.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
                                jQuery("#inactive").trigger("click");
                        });
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdac);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery('#accountinfoform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#exampleInputName").val('');
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('accountinfoform')) {
            /* code to make atleast one tax selected
               if (jQuery('input[name="tax[]"]:checked').length <= 0) {
                     alertify.alert("Please Select At Least one Tax !");
                    return false;
                 }*/
            var ac_type_val ='';
            if(jQuery("#account_type").val()!=''){
                ac_type_val = jQuery("#account_type option:selected").text();
            }
            var error = 0;

            if (error == 0) {

                showjQloading();
                var id = jQuery("#id").val();
                var myForm = document.getElementById('accountinfoform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'account_info');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                ajaxData.append('ac_type_val', ac_type_val);
                HttpSendRequest(ajaxData, function (data) {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        if (CHECK_PERMISSION_EXISTS != -1) {
                            refreshlist();
                        }

                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
                });

            }


        } else {
            alertify.alert(lblerrormsg,lblok);

        }
    });

</script>
{% endblock %}