{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/datepicker/css/datepicker.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/datepicker/js/datepicker.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'application_users');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.USER}}</li>
<li class="active">{{default_langlist.APPLICATION_USERS}}</li>
{% endblock %} {% block content %}
{% set PRIVdata = PRIVLIST|split(',') %}


<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row" id="serchDiv">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% if '464' in PRIVdata  %}
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% endif %}
                        {% if user_type in [1] or '466' in PRIVdata  %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if '464' in PRIVdata  %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">

                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputUsername">{{ default_langlist.USERNAME }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputUsername" class="form-control" type="text"
                                        >
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputEmail">{{ default_langlist.EMAIL }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputEmail" class="form-control" type="text"
                                        >
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputMobile">{{ langlist.LANG4 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputMobile" class="form-control" type="text"
                                        >
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <br>

                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputStatus">{{ default_langlist.STATUS }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <select name="exampleInputStatus" id="exampleInputStatus" class="form-control">
                                            <option value="">{{ default_langlist.PLEASE_SELECT }}</option>
                                            <option value="1">{{ default_langlist.ACTIVE }}</option>
                                            <option value="0">{{ default_langlist.INACTIVE }}</option>
                                            <option value="2">{{ langlist.LANG7 }}</option>


                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if '464' in PRIVdata  %}
        <div class="row" id="appuserlistDiv">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ default_langlist.USERNAME }}</th>
                                <th>{{ default_langlist.EMAIL }}</th>
                                <th>{{ langlist.LANG1 }}</th>
                                <th>{{ langlist.LANG2 }}</th>
                                <th>{{ default_langlist.COUNTRY }}</th>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5}}</th>
                                <th>{{ langlist.LANG6}}</th>
                            </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br>{{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.username @>
                                </td>
                                <td>
                                    <@=this.email @>
                                </td>
                                <td>
                                    <@=this.firstname @>
                                </td>
                                <td>
                                    <@=this.lastname @>
                                </td>
                                <td>
                                    <@=this.country @>
                                </td>
                                <td>
                                    <@=this.phoneno @>
                                </td>

                                <td>
                                    <@=this.created_date @><br>
                                    <@=this.created_time @>

                                </td>
                                <td>
                                    <@=this.modified_date @><br>
                                    <@=this.modified_time @>
                                </td>

                                <td align="right" style="width:15%">
                                    {% if user_type in [1] or '465' in PRIVdata %}
                                    <select class="form-control"
                                            onchange="toggle_status_onchange('<@=this.userid@>','{{ module }}','<@=this.status@>',this.value,'{{default_langlist.AUS_CHANGE_STS}}','{{ default_langlist.CANCEL }}','{{ default_langlist.OK }}','{{ default_langlist.THIS_USER }}','{{ default_langlist.ACTIVE }}','{{ default_langlist.INACTIVE }}','{{default_langlist.BANNED }}')"
                                            title="{{ default_langlist.STATUS }}">
                                        <option value="1"
                                        <@ if(this.status == '1'){ @> selected="selected" <@ } @>>{{
                                        default_langlist.ACTIVE }}</option>
                                        <option value="0"
                                        <@ if(this.status == '0'){ @> selected="selected" <@ } @>>{{
                                        default_langlist.INACTIVE }}</option>
                                        <option value="2"
                                        <@ if(this.status == '2'){ @> selected="selected" <@ } @>>{{ langlist.LANG7
                                        }}</option>
                                    </select>
                                    {% else %}
                                    <select class="form-control" disabled>
                                        <option value="1"
                                        <@ if(this.status == '1'){ @> selected="selected" <@ } @>>{{
                                        default_langlist.ACTIVE }}</option>
                                        <option value="0"
                                        <@ if(this.status == '0'){ @> selected="selected" <@ } @>>{{
                                        default_langlist.INACTIVE }}</option>
                                        <option value="2"
                                        <@ if(this.status == '2'){ @> selected="selected" <@ } @>>{{ langlist.LANG7
                                        }}</option>
                                    </select>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_type in [1] or '466' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.userid @>','{{ module }}')"
                                       title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if user_type in [1] or '467' in PRIVdata %}
                                    <a class="update_ico"
                                       title="{{ langlist.LANG8 }}"
                                       onclick="order_details('<@= this.userid @>','{{ module }}')">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row" id="orderHistoryDiv" style="display: none">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title" id="nameofcustomer"></div>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="back()">{{ langlist.LANG13 }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG9 }}</th>
                                <th>{{ default_langlist.EMAIL }}</th>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG10 }}</th>
                                <th>{{ langlist.LANG11 }}</th>
                                <th>{{ langlist.LANG12 }}</th>
                                <th>{{ langlist.LANG16 }}</th>
                            </tr>
                            </thead>
                            <tbody id="orderhistorytable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br>{{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="ordertemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.folionumber @>
                                </td>

                                <td>
                                    <@=this.email @>
                                </td>
                                <td>
                                    <@=this.phone @>
                                </td>
                                <td>
                                    <@=this.order_product_quantity @>
                                </td>
                                <td>
                                    <@=this.order_product_amount @>
                                    (<@=this.currency_sign @>)
                                </td>
                                <td>
                                    <@=this.created_date @><br>
                                    <@=this.created_time @>
                                </td>
                                <td style="color: <@=this.foliostatuscolour@>;"><b><@=this.foliostatus@></b>
                                </td>
                                <td>
                                    {% if user_type in [1] or '467' in PRIVdata %}
                                    <a class="update_ico"
                                       title="{{ langlist.LANG17 }}"
                                       onclick="item_details('<@= this.hashkey @>','{{ module }}')">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade modal-primary in" id="itemdetailspopup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg3" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" name="showmodule" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="font-family:'Oswald';"><b><span id="modallabel">{{ langlist.LANG18 }}</span></b>
                </h4>
            </div>
            <div class="modal-body scrollbar" id="style-3">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div id="detailslist" class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{default_langlist.CLOSE}}</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="orderuserid">
<script type="text/javascript">


    var odata = jQuery('#orderHistoryDiv').html();
    var udata = jQuery('#appuserlistDiv').html();


    var aTableConfig = {};
    var data = "{{ datalist }}";

    var newjson = jQuery('<textarea />').html(data).text();
    var PERMISSION_LIST = "{{ PRIVLIST }}";

    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');

    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("464");
    if (CHECK_PERMISSION_EXISTS != -1) {
        jQuery('#orderHistoryDiv').html('');
        pageInit(newjson);
    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'application_users',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                em: jQuery("#exampleInputEmail").val(),
                mn: jQuery("#exampleInputMobile").val(),
                un: jQuery("#exampleInputUsername").val(),
                st: jQuery("#exampleInputStatus").val(),
                resetpaging: true,
                showprogress: true
            }
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputEmail").val("");
        jQuery("#exampleInputMobile").val("");
        jQuery("#exampleInputUsername").val("");
        jQuery("#exampleInputStatus").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                em: jQuery("#exampleInputEmail").val(),
                mn: jQuery("#exampleInputMobile").val(),
                un: jQuery("#exampleInputUsername").val(),
                st: jQuery("#exampleInputStatus").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function refreshaddedit() {
        jQuery("#pwd").show();
        jQuery("#cm_lc_lst").show();
        jQuery("#usr_type").show();
        jQuery('.invalid').removeClass('invalid');
        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#langlist").hide();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                em: jQuery("#exampleInputEmail").val(),
                mn: jQuery("#exampleInputMobile").val(),
                un: jQuery("#exampleInputUsername").val(),
                st: jQuery("#exampleInputStatus").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }


    function order_details(id, module) {
        showjQloading();

        jQuery("#serchDiv").hide();
        jQuery("#appuserlistDiv").hide();

        // $("ol.breadcrumb").find("li").each(function () {
        //         $(this).removeClass('active');
        // });

        jQuery("ol.breadcrumb").append('<li class="active">{{ langlist.LANG14 }}</li>');

        var arr = {};
        arr['service'] = 'application_users';
        arr['opcode'] = 'order_history';
        arr['module'] = module;
        arr['id'] = id;

        var str = urlencode(JSON.stringify(arr));

        HttpSendRequest(str, function (data) {
            jQuery('#appuserlistDiv').html('');
            jQuery('#orderHistoryDiv').html(odata);
            jQuery('#orderHistoryDiv').show();
            jQuery("#nameofcustomer").text('{{ langlist.LANG15 }}' + '  ' + data[0]['uinfo']);
            jQuery('#orderuserid').val(data[0]['orderuserid']);

            pageotherInit(data);

            return false;
        });
    }

    function pageotherInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'reco',
            service: 'application_users',
            pagesize: '50',
            template: 'ordertemplate',
            csearch: {
                id: jQuery("#orderuserid").val(),
            },
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#orderhistorytable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function back() {

        showjQloading();
        jQuery('#orderHistoryDiv').html('');
        jQuery('#orderuserid').val('');
        jQuery('#orderHistoryDiv').hide();
        jQuery('#appuserlistDiv').html(udata);
        pageInit(newjson);
        jQuery("#serchDiv").show();
        jQuery("#appuserlistDiv").show();
        jQuery('ol.breadcrumb li:last-child').remove();

    }

    function item_details(id, module) {
        showjQloading();
        jQuery("#itemdetailspopup").modal('show');
        $('#detailslist').empty();

        var arr = {};
        arr['service'] = 'application_users';
        arr['opcode'] = 'item_history';
        arr['module'] = module;
        arr['id'] = id;

        var str = urlencode(JSON.stringify(arr));

        HttpSendRequest(str, function (res) {
            hidejQloading();
            var result = res.data;

            if (typeof result != 'undefined' && result != 'null' && result != '') {
                var htmlappend = '';
                $.each(res, function (key, value) {
                    var locationname=value.folioinfo.locationname;

                    htmlappend+='<div id="" style="font-family: Arial;"><table style="width: 100%;text-align: center;"><tbody><tr><td><h3 style="font-family: Arial;margin: 0;color: #000000; text-decoration: none;font-size: 14px; ">'+locationname+'</h3></td></tr></tbody></table><table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;"><thead><tr><th style="border-bottom: 1px dashed; width: 50%;text-align: left;color: #000000;font-size: 14px;">'+result.Language.LANG23+'</th><th style="text-align: center; border-bottom: 1px dashed; width: 15%;color: #000000;font-size: 14px;">'+result.Language.LANG10+'</th><th style="text-align: right; border-bottom: 1px dashed; width: 35%;color: #000000;font-size: 14px;">'+result.Language.LANG22+'(' + value.folioinfo.currency_sign + ')</th></tr></thead><tbody>';
                    if (typeof value.itemarr != 'undefined' && value.itemarr != 'null' && value.itemarr != '') {
                        $.each(value.itemarr, function (k, v) {

                            if (typeof v.item != 'undefined' && v.item != 'null' && v.item != '') {
                                htmlappend+='<tr style="font-family: Arial;color: #000000;text-decoration: none;"><td style="width: 50%;text-align: left;font-size:14px;">' + v.item.particular + '</td><td style="width: 15%;text-align: center;font-size: 14px;">' + v.item.quantity + '</td><td style="width: 35%;text-align: right;font-size: 14px;">' + v.item.Baseamt + '</td></tr>';
                            }
                            if (typeof v.modifier != 'undefined' && v.modifier != 'null' && v.modifier != '') {

                                $.each(v.modifier, function (key2, value2) {

                                    htmlappend+='<tr style="font-family: Arial;color: #000000;text-decoration: none;"><td style="width: 50%;text-align: left;font-size: 14px;"><span style="width: 25px;display: inline-block;"></span>' + value2.particular + '</td><td style="width: 15%;text-align: center;font-size: 14px;">' + value2.quantity + '</td><td style="width: 35%;text-align: right;font-size: 14px;">' + value2.Baseamt + '</td></tr>';
                                });
                            }
                            htmlappend += ' </tbody></table><table style="margin-top: -1px;width:100%;margin-left: 0; border-bottom: 1px dashed;margin-bottom: 2px;"><tbody><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;"><b>'+result.Language.LANG25+'</b></td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+ result.amt+'</td></tr>';



                        });

                        if (typeof res.tax_applied != 'undefined' && res.tax_applied != 'null' && res.tax_applied != '') {

                            $.each(res.tax_applied, function (key2, value2) {
                                htmlappend+='<tr>';
                                if(value2.is_gst==1){
                                    var vlue = value3.amt/2;
                                    var prise = vlue.toFixed(result.rfrmt);

                                    htmlappend+='<td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right; width: 65%;;font-size: 14px;">'+value2.applied_tax+'(CGST)</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+ prise +'</td><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right; width: 65%;font-size: 14px;">'+value3.applied_tax+'(SGST)</td><td style="font-family: Arial;margin: 0;color: #000000; text-decoration: none;text-align: right;width: 35%;font-size:14px;">'+ prise +'</td></tr>';
                                }

                                if (value2.is_gst == 0){
                                var vlue = value2.amt;
                                var prise = vlue.toFixed(result.rfrmt);
                                htmlappend+='<td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+value2.applied_tax+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+ prise+'</td>';
                                }
                                htmlappend+='</tr>';
                            });
                            htmlappend+=' <tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size:14px;">'+result.Language.LANG24+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+result.disc+'</td></tr>';
                        }

                    htmlappend+='<tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;"></td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;border-bottom: 1px solid;font-size: 14px;"></td></tr><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;"><b>'+result.Language.LANG11+'</b></td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+ result.order_total+'</td></tr>';
                    }


                    if(result.folioinfo.ispostedtopms == 1){
                        htmlappend+='<tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+result.Language.LANG26+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">' + result.post_amount+'</td></tr>';
                    }

                    if(typeof result.gratuity != 'undefined' && result.gratuity != 'null' && result.gratuity != ''){
                        htmlappend+=' <tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+result.Language.LANG27+'</td><td style="font-family: Arial;margin: 0; color: #000000;text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+result.gratuity+'</td></tr>';
                    }


                    if (typeof result.tax_applied != 'undefined' && result.tax_applied != 'null' && result.tax_applied != '') {
                        $.each(result.paymnttype, function (key4, value5) {
                            htmlappend+='<tr><td style="font-family: Arial;margin: 0; color:#000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+value5.name+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+ value5.amt+'</td></tr>';
                        });

                    }

                    htmlappend+='<tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+result.Language.LANG28+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+result.adjustment +'</td></tr><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;">'+result.Language.LANG29+'</td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;font-size: 14px;">'+result.tender+'</td></tr><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size:14px;"></td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;border-bottom: 1px solid;font-size: 14px;"></td></tr><tr><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 65%;font-size: 14px;"><b> '+result.Language.LANG30+'</b></td><td style="font-family: Arial;margin: 0; color: #000000; text-decoration: none;text-align: right;width: 35%;;font-size: 14px;">'+ result.total +'</td></tr></tbody></table></div>';

                });
                $('#detailslist').html(htmlappend);
            }

        });

    }


</script>
{% endblock %}