<!DOCTYPE html>
<html>
<head>
    {% if CONFIG_OEM_TITLE is defined and CONFIG_OEM_TITLE != '' %}
    <title>{{CONFIG_OEM_TITLE}} - Company Admin</title>
    {% else %}
    <title>{{default_langlist.COM_ADMIN}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    {% if CONFIG_OEM_LOGO is defined and CONFIG_OEM_LOGO != '' %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ commonurl }}themes/img/{{ oem['logo'] }}-favicon.png" />
    {% else %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ commonurl }}themes/img/favicon.ico" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/alertify.core.css" />
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/alertify.default.css">
    <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/app.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/commonjs.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/alertify.js"></script>
    <script type="text/javascript">

        function setCommonHeader()
        {
            var ShopName = localStorage.getItem('Company_User');
            var company_name = localStorage.getItem('company_name');
            var company_logo = localStorage.getItem('company_logo');
            var pure_logo = localStorage.getItem('pure_logo');
            jQuery(".shopname").text(ShopName);
            jQuery("#username_foot").html(ShopName);
            jQuery("#ft_hotel").html(company_name);
            if(typeof company_logo!= "undefined" && company_logo!='' )
            {
                jQuery("#Company_logo").attr('src',company_logo);
            }else{
                jQuery("#Company_logo").remove();
            }

            jQuery("#PureItesLogo").attr('src',pure_logo);

            var company_id = localStorage.getItem('POS_COMP_CID');

            if(company_id == 2){
                jQuery('#version_foot').html(' Version : V2.0.0');
            }else{
                jQuery('#version_foot').html(' Version : V2.1.0.3');
            }
        }
        function activemodule()
        {
            var modulename = localStorage.getItem('modulename');

            var pagename = localStorage.getItem('pagename');

            jQuery('#sidebar').find('li').each(function(){
                jQuery(this).removeClass('active');
            });
            jQuery('#'+modulename+'_container').addClass('active');
            jQuery('#'+modulename+'_container a').trigger('click');
            jQuery('#sidebar').find('li').find('a').each(function(){
                jQuery(this).removeClass('active');
            });
            jQuery('#'+pagename).addClass('active');
        }


    </script>
    {% block headblock %}{% endblock %}

</head>
<body class="flat-blue">

    <div class="loader1">
        <div class="loader-wrap loader3">
            <div>
              <div>
                <div>
                </div>
              </div>
            </div>
        </div>
    </div>
    {% set data = grpprivlist|split(',') %}
    <div class="app-container expanded ">
        <div class="row content-container">
            <nav id="navbar" class="navbar navbar-fixed-top navbar-top navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle fa-rotate-90">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            {% block headerblock %}{% endblock %}
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>

                        <li class="dropdown profile">
                            <img id="Company_logo" src="" alt="logo" width="40" height="40" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="shopname"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li>
                                    <div class="profile-info">
                                        {% if user_type == 1 or '17' in data  %}
                                        <div class="margin-bottom-2x" role="group">
                                            <a href="{{ commonurl }}cloud/companyinformation" class="btn btn-primary"><i class="fa fa-user"></i> &nbsp; {{default_langlist.PROFILE}}</a>
                                        </div>
                                        {% endif %}
                                        <div class="margin-bottom-2x" role="group">
                                            <a id="logout" href="{{ commonurl }}logout.php" class="btn btn-danger"><i class="fa fa-sign-out"></i> &nbsp; {{default_langlist.LOGOUT}}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="sidebar" class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div style="width: 100%">
                                <div align="left" style="width: 10%;display:inline-block;">
                                <img id="PureItesLogo"  src="" alt="logo" style="margin: 0 auto;height: 40px;display: block;vertical-align: middle;position: relative;
    display: inline-table;">
                                </div>
                                <div style="width: 80%;display:inline-block;" align="right" class="title">{{
                                    (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Pure Cloud POS' }}</div>
                                </div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            {% if user_type == 1 or '48' in data  %}
                            <li id="dashboard_container">
                                <a href="{{ commonurl }}cloud/dashboard">
                                    <span class="icon fa fa-tachometer"></span><span class="title">{{default_langlist.DASHBOARD}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if user_type == 1 or '17' in data  %}
                            <li id="companyinformation_container">
                                <a href="{{ commonurl }}cloud/companyinformation">
                                    <span class="icon fa fa-building-o"></span><span class="title">{{default_langlist.COM_INFO}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if user_type == 1 or '76' in data  %}
                            <li id="cms_container">
                                <a href="{{ commonurl }}cloud/cms">
                                    <span class="icon fa fa-columns"></span><span class="title">{{default_langlist.CMS}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if user_type == 1 or '77' in data  %}
                            <li id="offers_container">
                                <a href="{{ commonurl }}cloud/offers">
                                    <span class="icon fa fa-gift"></span><span class="title">{{default_langlist.OFFERS}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if  user_type == 1 or '45' in data or '46' in data %}
                            <li id="settings_container" class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#settings">
                                    <span class="icon fa fa-cogs"></span><span class="title">{{default_langlist.SETTINGS}}</span>
                                </a>
                                <div id="settings" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% if user_type == 1 or '46' in data %}
                                        <ul class="nav navbar-nav">
                                            {% if banquet == 1 %}
                                            <li id="leftpanel_doc_numbering">
                                                <a href="{{ commonurl }}cloud/document_numbering">
                                                    <span class="title">{{default_langlist.DOC_NUMBERING}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        {% endif %}
                                        {% if user_type == 1 or '45' in data %}
                                        <ul>
                                        <li id="leftpanel_displaysettings">
                                            <a href="{{ commonurl }}cloud/displaysettings">
                                                <span class="title">{{default_langlist.DISPLAYSETTINGS}}</span>
                                            </a>
                                        </li>
                                        </ul>
                                        {% endif %}
                                        {% if user_type == 1 or ('45' in data) %}
                                        {% if lang_type==1%}
                                        <ul>
                                        <li id="leftpanel_languagesettings">
                                            <a href="{{ commonurl }}cloud/languagesettings">
                                                <span class="title">{{default_langlist.LANG_SETTING}}</span>
                                            </a>
                                        </li>
                                        </ul>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            {% if (user_type == 1 or '47' in data) %}
                            {% if store == 1 %}
                            <li id="store_container">
                                <a href="{{ commonurl }}cloud/store">
                                    <span class="icon fa fa-building-o"></span><span class="title">{{default_langlist.STORE}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% if banquet == 1 %}
                            {% if user_type == 1 or '39' in data  %}
                           <li id="accountinfo_container">
                                <a href="{{ commonurl }}cloud/account_info">
                                    <span class="icon fa fa-users"></span><span class="title">{{default_langlist.ACCOUNT_INFO}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if user_type == 1 or '43' in data  %}
                           <li id="businesssource_container">
                                <a href="{{ commonurl }}cloud/business_source">
                                    <span class="icon fa fa-hand-lizard-o"></span><span class="title">{{default_langlist.BUSINESS_SOURCE}}</span>
                                </a>
                           </li>
                            {% endif %}
                           <!-- {% if user_type == 1 or '32' in data or '33' in data or '34' in data or '35' in data or '36' in data or '37' in data or '38' in data or '40' in data or '41' in data or '42' in data or '44' in data %}
                           <li id="banquet_container" class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#banquet">
                                    <span class="icon fa fa-university"></span><span class="title">{{default_langlist.BANQUET_MANGEMENT}}</span>
                                </a>
                                <div id="banquet" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            {% if user_type == 1 or '32' in data %}
                                            <li id="leftpanel_theme">
                                                <a href="{{ commonurl }}cloud/theme">
                                                    <span class="title">{{default_langlist.THEME}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                           {% if user_type == 1 or '33' in data %}
                                            <li id="leftpanel_amenitiescategory">
                                                <a href="{{ commonurl }}cloud/amenities_category">
                                                    <span class="title">{{default_langlist.AMENITIES_CATEGORY}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '34' in data %}
                                            <li id="leftpanel_amenities">
                                                <a href="{{ commonurl }}cloud/amenities">
                                                    <span class="title">{{default_langlist.AMENITIES}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '37' in data %}
                                            <li id="leftpanel_package">
                                                <a href="{{ commonurl }}cloud/packages">
                                                    <span class="title">{{default_langlist.PACKAGE}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '38' in data %}
                                            <li id="leftpanel_marketplace">
                                                <a href="{{ commonurl }}cloud/market_place">
                                                    <span class="title">{{default_langlist.MARKET_PLACE}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '40' in data %}
                                            <li id="leftpanel_payment_type">
                                                <a href="{{ commonurl }}cloud/payment_type">
                                                    <span class="title">{{default_langlist.PAYMENT_TYPE}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '41' in data %}
                                            <li id="leftpanel_banquet_staff">
                                                <a href="{{ commonurl }}cloud/banquet_staff">
                                                    <span class="title">{{default_langlist.BANQUET_STAFF}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '35' in data %}
                                            <li id="leftpanel_banquets">
                                                <a href="{{ commonurl }}cloud/banquet">
                                                    <span class="title">{{default_langlist.BANQUET}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '36' in data %}
                                            <li id="leftpanel_seatingplan">
                                                <a href="{{ commonurl }}cloud/seating_plan">
                                                    <span class="title">{{default_langlist.SEATING_PLAN}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '42' in data %}
                                            <li id="leftpanel_block_banquets">
                                                <a href="{{ commonurl }}cloud/block_banquet">
                                                    <span class="title">{{default_langlist.BLOCK_BANQUET}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user_type == 1 or '44' in data %}
                                            <li id="leftpanel_banquet_booking">
                                                <a href="{{ commonurl }}cloud/banquet_booking">
                                                    <span class="title">{{default_langlist.BANQUET_BOOKING}}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endif %}-->
                            {% endif %}

                            {% if user_type == 1 or '23' in data or '24' in data  %}
                            <li id="admin_container" class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#admin">
                                    <span class="icon fa fa-user"></span><span class="title">{{default_langlist.USER}}</span>
                                </a>
                                <div id="admin" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            {% if user_type == 1 or '23' in data %}
                                            <li id="leftpanel_user"><a href="{{ commonurl }}cloud/user"><span class="title">{{default_langlist.USER_LIST}}</span></a></li>
                                            {% endif %}
                                            {% if user_type == 1 or '24' in data %}
                                            <li id="leftpanel_role"><a href="{{ commonurl }}cloud/userrole"><span class="title">{{default_langlist.USER_ROLE}}</span></a></li>
                                            {% endif %}
                                            {% if user_type == 1 or '78' in data %}
                                            <li id="leftpanel_applicationuser"><a href="{{ commonurl }}cloud/application_users"><span class="title">{{default_langlist.APPLICATION_USERS}}</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endif %}

                           <!-- <li id="users_container">
                                <a href="{{ commonurl }}cloud/users">
                                    <span class="icon fa fa-user"></span><span class="title">User</span>
                                </a>
                            </li>-->


                        </ul>
                    </div>
                </nav>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
                <div class="modal fade modal-primary" id="modalPrimary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
            </div>
            <div id="report_content" style="display: none;">
                <div class="side-body">
                    <div class="row" style="margin: auto; width: 21cm;">
                        <div class="col-xs-12 text-right" style="padding: 0 0 10px 0">
                            <button class="btn btn-info" type="button" onclick ="PrintElem('print_content')">{{default_langlist.PRINT}}</button>
                            <button class="btn btn-info" type="button" onclick="Exitinvoice()">{{default_langlist.BACK}}</button>
                        </div>
                        <div class="col-xs-12" style="padding: 0">
                            <div class="card" id="print_content" style="min-height: 1122px;width: 793px;border: 1px #D3D3D3 solid;border-radius: 5px;margin: 0 auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal_block"></div>
            <input type="hidden" id="lid_modal" value="0">
            <!--<footer class="app-footer">
                <div class="wrapper">

                </div>
            </footer>-->
            <div class="footer">
                {% include 'config_footer.html' %}
            </div>
        </div>
        <!-- //modal-con -->
    </div>

    <script type="text/javascript">
        setCommonHeader();
        activemodule();
    </script>
</body>
</html>