{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'businesssource');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}

<li class="active">{{default_langlist.BUSINESS_SOURCE}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-title">
                            {% if  user_type in [1] or '287' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>
                        {% if user_type in [1] or '288' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if user_type in [1] or '286' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if  user_type in [1] or '287' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" maxlength="50" class="form-control" type="text"
                                               placeholder="{{langlist.LANG2}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if  user_type in [1] or '287' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG4}}</th>
                                <th>{{langlist.LANG3}}</th>
                                <th>{{langlist.LANG20}} </th>
                                <th>{{langlist.LANG19}}</th>
                                <th>{{langlist.LANG26}}</th>
                                <th>{{langlist.LANG18}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.companyname @>
                                </td>
                                <td>
                                    <@=this.alias @>
                                </td>

                                <td>
                                    <@=this.email @>
                                </td>

                                <td>
                                    <@=this.fax @>
                                </td>
                                <td>
                                    <@=this.website @>
                                </td>
                                <td>
                                    <@=this.phone @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if user_type in [1] or '291' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '289' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '290' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                   <!-- {% if '300' in PRIVdata %}
                                    <a class="update_ico" onclick="check_related_records('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.RELATED_RECORDS}}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}-->
                                    {% if user_type in [1] or '286' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="businessform" name="businessform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="card-body" style="display: table;background-color: #eee">
                        <div class="col-xs-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG27}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="name">{{langlist.LANG4}} {{ default_langlist.UNIQUE
                                        }}</label><span class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="name" id="name"
                                               maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="form-label" for="alias">{{langlist.LANG3}} {{ default_langlist.UNIQUE
                                        }}</label><span class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="alias" id="alias"
                                               maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="form-label" for="market_place">{{langlist.LANG5}} </label>
                                    <div class="controls">
                                        <select name="market_place" id="market_place" class="form-control">
                                            <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in marketplace %}
                                            <option value="{{ value['hashkey'] }}">{{ value['name'] |convert_encoding('UTF-8', 'HTML-ENTITIES')  }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="accountno">{{langlist.LANG8}}</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="accountno" id="accountno"
                                               maxlength="25">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="fname">{{langlist.LANG6}}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="fname" id="fname"
                                               maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="lname">{{langlist.LANG7}} </label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull" name="lname" id="lname"
                                               maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="phone">{{langlist.LANG18}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control integer" name="phone" id="phone"
                                               maxlength="15">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG28}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="address1">{{langlist.LANG12}} </label>
                                    <div class="controls">
                                        <textarea class="form-control" name="address1" id="address1"
                                                  style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="address2">{{langlist.LANG13}} </label>
                                    <div class="controls">
                                         <textarea class="form-control" name="address2" id="address2"
                                                   style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="city">{{langlist.LANG14}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="city" id="city"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="state">{{langlist.LANG16}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="state" id="state"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="zip">{{langlist.LANG15}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="zip" id="zip"
                                               maxlength="7">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label"
                                           for="country">{{langlist.LANG17}}</label>
                                    <div class="controls">
                                        <select name="country" id="country" class="form-control">
                                            <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            {% for key,value in countrylist %}
                                            <option value="{{ key }}" {%
                                                    if(key==datalist.country)%} selected {%
                                                    endif %}>{{ value }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="form-label" for="fax">{{langlist.LANG19}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control integer" name="fax" id="fax"
                                               maxlength="15">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="email">{{langlist.LANG20}} </label>
                                    <div class="controls">
                                        <input type="email" class="form-control email" name="email" id="email"
                                               maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 ">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="title">{{langlist.LANG29}}</span>
                                    </div>
                                </div><br>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="plan">{{langlist.LANG9}} </label>
                                    <div class="controls">
                                        <select name="plan" id="plan" class="form-control">
                                            <option value selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            <option value="0">{{default_langlist.PER_AN}}</option>
                                            <option value="1">{{default_langlist.PER_FN}}</option>
                                            <option value="2">{{default_langlist.FXD_AMT_PN}}</option>
                                            <option value="3">{{default_langlist.FXD_AMT_PS}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="commission_value">{{langlist.LANG10}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="commission_value" id="commission_value"
                                               maxlength="8">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label" for="payment_term">{{langlist.LANG11}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control decimal" name="payment_term" id="payment_term"
                                               maxlength="4">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="website">{{langlist.LANG26}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control " name="website" id="website"
                                               maxlength="100">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="iata_no">{{langlist.LANG24}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="iata_no" id="iata_no"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no">{{langlist.LANG21}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no" id="reg_no"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no1">{{langlist.LANG22}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no1" id="reg_no1"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="reg_no2">{{langlist.LANG23}} </label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="reg_no2" id="reg_no2"
                                               maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label"
                                           for="description">{{langlist.LANG25}}</label>
                                    <div class="controls">
                                <textarea class="form-control" name="description" id="description"
                                          style="resize: vertical;" rows="1" cols="39" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 edit_hide">
                                    <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                                    <div class="controls">
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="active" class="" style="margin-bottom: 8px" name="rdo_status"
                                                   value="1"
                                                   checked="checked" type="radio">
                                            <label class="iradio-label form-label" for="active">
                                                {{default_langlist.ACTIVE}}</label>
                                        </div>
                                        <div class="radio3 radio-check radio-inline">
                                            <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status"
                                                   value="0"
                                                   type="radio">
                                            <label class="iradio-label form-label"
                                                   for="inactive">{{default_langlist.INACTIVE}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
    var lbladdbs="{{langlist.LANG1}}";
    var lblbs="{{default_langlist.BUSINESS_SOURCE}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("287");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }


    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'business_source',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit+' '+lblbs);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'business_source';
                arr['opcode'] = 'editclass';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        $.each(res, function (key, value) {
                            jQuery("#name").val(value.companyname);
                            jQuery("#alias").val(value.alias);
                            jQuery("#market_place").val(value.marketplaceunkid);
                            jQuery("#plan").val(value.plan);
                            jQuery("#accountno").val(value.account_number);
                            jQuery("#fname").val(value.firstname);
                            jQuery("#lname").val(value.lastname);
                            jQuery("#phone").val(value.phone);
                            jQuery("#iata_no").val(value.iata_no);
                            jQuery("#reg_no2").val(value.reg_no2);
                            jQuery("#reg_no1").val(value.reg_no1);
                            jQuery("#reg_no").val(value.reg_no);
                            if(value.commission_value_dis > 0){

                                jQuery("#commission_value").val(value.commission_value_dis);
                            }
                            if(value.terms > 0){

                                jQuery("#payment_term").val(value.terms);
                            }
                            jQuery("#website").val(value.website);
                            jQuery("#email").val(value.email);
                            jQuery("#fax").val(value.fax);
                            jQuery("#country").val(value.country);
                            jQuery("#zip").val(value.zip);
                            jQuery("#state").val(value.state);
                            jQuery("#city").val(value.city);
                            jQuery("#address2").val(value.address2);
                            jQuery("#address1").val(value.address1);
                            jQuery("#description").val(value.description);
                            if (value.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
                                jQuery("#inactive").trigger("click");
                        });
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdbs);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery('#businessform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#exampleInputName").val('');
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('businessform')) {
            /* code to make atleast one tax selected
               if (jQuery('input[name="tax[]"]:checked').length <= 0) {
                     alertify.alert("Please Select At Least one Tax !");
                    return false;
                 }*/
            var error = 0;

            if (error == 0) {

                showjQloading();
                var market_place_val ='';
                var country_val ='';
                var plan_val ='';
                if(jQuery("#market_place").val()!=''){
                    market_place_val = jQuery("#market_place option:selected").text();
                }if(jQuery("#country").val()!=''){
                     country_val=jQuery("#country option:selected").text();
                }if(jQuery("#plan").val()!=''){
                    plan_val = jQuery("#plan option:selected").text();
                }
                var id = jQuery("#id").val();
                var myForm = document.getElementById('businessform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'business_source');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                ajaxData.append('market_place_val', market_place_val);
                ajaxData.append('country_val', country_val);
                ajaxData.append('plan_val', plan_val);
                HttpSendRequest(ajaxData, function (data) {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        if (CHECK_PERMISSION_EXISTS != -1) {
                            refreshlist();
                        }

                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
                });

            }


        } else {
            alertify.alert(lblerrormsg,lblok);

        }
    });

</script>
{% endblock %}