{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'cms');
    localStorage.setItem('pagename', 'leftpanel_cms');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.CMS}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    {% set PRIVdata = PRIVLIST|split(',') %}
                    <div class="card-header">
                        <div class="card-title">
                            {% if user_type in [1] or '455' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>
                        {% if user_type in [1] or '453' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if user_type in [1] or '454' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if user_type in [1] or '455' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" maxlength="50" class="form-control" type="text"
                                               placeholder="{{langlist.LANG24}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user_type in [1] or '455' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG2}}</th>
                                <th>{{langlist.LANG5}}</th>
                                <!--<th>{{langlist.LANG7}}</th>-->
                                <th>{{langlist.LANG8}}</th>
                                <th>{{langlist.LANG6}} </th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.title @>
                                </td><td>
                                    <@=this.slug @>
                                </td>
                                <!--<td>
                                    <@=this.seodesc @>
                                </td>-->
                                <td>
                                    <@=this.seometa @>
                                </td>
                                <td>
                                    <@=this.seotitle @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if user_type in [1] or '456' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '452' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '457' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '454' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="cmsform" name="cmsform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="title">{{langlist.LANG2}} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="title" id="title"
                                       maxlength="70">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="slug">{{langlist.LANG5}} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="slug" id="slug"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="seotitle">{{langlist.LANG6}}</label>
                            <div class="controls">
                                <input type="text" class="form-control " name="seotitle" id="seotitle"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="seodescription">{{langlist.LANG7}}</label>
                            <div class="controls">
                                <textarea class="form-control " name="seodescription" id="seodescription"
                                          style="resize: vertical;" rows="1" cols="39" maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="seometa">{{langlist.LANG8}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="seometa" id="seometa" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-3 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">
                                        {{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label"
                                           for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-group col-md-12">
                            <label class="form-label"
                                   for="description">{{langlist.LANG4}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <textarea class="form-control notnull" name="description" id="description"
                                          style="resize: vertical;" rows="3" cols="39"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="upload_img">{{langlist.LANG13}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="file" accept="image/jpeg,image/png,image/gif" class="form-control" name="upload_img" id="upload_img"
                                       onchange="uploadpic(this);">
                                <img src="" class="images"  width="100" height="100" id="typeimg"
                                     style="display: none;"/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <input type="hidden" name="imagephoto" id="imagephoto" value="">
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
    var lbladdbanquet="{{langlist.LANG1}}";
    var lblbanquet="{{default_langlist.CMS}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var msgmaxsizelmt="{{default_langlist.MAX_SIZE_LIMIT}}";
    var lblimagemsg="{{langlist.LANG23}}";
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("455");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'cms',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit+' '+lblbanquet);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'cms';
                arr['opcode'] = 'editclass';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        $.each(res, function (key, value) {

                            jQuery("#title").val(value.title);
                            jQuery("#slug").val(value.slug);
                            jQuery("#description").val(value.description);
                            jQuery("#seodescription").val(value.seodesc);
                            jQuery("#seometa").val(value.seometa);
                            jQuery("#seotitle").val(value.seotitle);
                            jQuery("#imagephoto").val(value.icon);
                            if ((value.icon) != "" && typeof (value.icon) != "undefined") {
                                $('#typeimg').show();
                                $('#typeimg').attr('src', value.icon);
                            }else {
                                $('#typeimg').hide();
                            }

                            if (value.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
                                jQuery("#inactive").trigger("click");
                        });
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdbanquet);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        $('#typeimg').hide();
        $('#typeimg').attr('src', '');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery('#cmsform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#exampleInputName").val('');
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function uploadpic(obj) {
        $("#typeimg").show();
        if (typeof (obj.files) != "undefined") {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if(size>2048)
             {
              alertify.alert(msgmaxsizelmt,lblok);
             $('input[name=upload_logo]').val('');
             return false;
             }
            if (obj.files[0].type != "image/jpeg" && obj.files[0].type != "image/png" && obj.files[0].type != "image/jpg") {
                alertify.alert(lblimagemsg,lblok);
            }

            var reader = new FileReader();
            reader.addEventListener("load", function () {
                jQuery("#typeimg").attr("src", reader.result);
            }, false);

            if (obj.files[0]) {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else {
            alertify.alert("This browser does not support HTML5.");
        }
    }

    jQuery("#submit").click(function () {
        if (validate_form('cmsform')) {
            /* code to make atleast one tax selected
               if (jQuery('input[name="tax[]"]:checked').length <= 0) {
                     alertify.alert("Please Select At Least one Tax !");
                    return false;
                 }*/
            var error = 0;

            if (error == 0) {

                showjQloading();
                var id = jQuery("#id").val();
                var myForm = document.getElementById('cmsform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'cms');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                HttpSendRequest(ajaxData, function (data) {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        if (CHECK_PERMISSION_EXISTS != -1) {
                            refreshlist();
                        }

                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
                });

            }


        } else {
            alertify.alert(lblerrormsg,lblok);

        }
    });

</script>
{% endblock %}