{% extends 'base.html' %}
{% block headblock %}
  <script type="text/javascript">
    localStorage.setItem('modulename','companyinformation');
    localStorage.setItem('pagename', '');
  </script>
{% endblock %}
{% block headerblock %}
  <li class="active">{{default_langlist.COM_INFO}}</li>
{% endblock %}

{% block content %}
  <div class="side-body" id="company-profile">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      {% set PRIVdata = PRIVLIST|split(',') %}
      {% if user_type in [1] or '28' in PRIVdata or '29' in PRIVdata %}
      <form name="CompanyInfoForm" id="CompanyInfoForm">
        <div class="content-body">
          <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG2 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtcompanyname" id="txtcompanyname" value="{{ datalist.companyname }}" maxlength="50">
                        </div>
                      </div>
					  <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG3 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <textarea class="form-control notnull" name="txtaddress1" id="txtaddress1" style="resize: vertical;" maxlength="100">{{ datalist.address1 }}</textarea>
                        </div>
                      </div>
					  <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG4 }}</label>
                        <div class="controls">
                          <textarea class="form-control" name="txtaddress2" id="txtaddress2" style="resize: vertical;" maxlength="100">{{ datalist.address2 }}</textarea>
                        </div>
                      </div>
					  <div class="clearfix"></div>

                      <div class="clearfix"></div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG5 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <select name="select_country" id="select_country" class="form-control dropdown">
                                <option value="0">{{ default_langlist.PLEASE_SELECT }}</option>
                                {% for key,value in countrylist %}
                                  <option value="{{ value['id'] }}" {% if(value['id']==datalist.country)%} selected {% endif %}>{{ value['countryName']}}</option>
                                {% endfor %}
                          </select>
                        </div>
                      </div>
					  <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG6 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtstate" id="txtstate" value="{{ datalist.state }}" maxlength="30">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG7 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtcity" id="txtcity" value="{{ datalist.city }}" maxlength="30">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG8 }}</label>
                        <div class="controls">
                          <input type="text" class="form-control" name="txtzipcode" id="txtzipcode" value="{{ datalist.zipcode }}"  maxlength="10">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG9 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtphoneno" id="txtphoneno" value="{{ datalist.phone }}"  maxlength="15">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG10 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtrescontactno" id="txtrescontactno" value="{{ datalist.reservation_contact_no }}"  maxlength="15">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG11 }}</label>
                        <div class="controls">
                          <input type="text" class="form-control integer" name="txtfaxno" id="txtfaxno" value="{{ datalist.fax }}"  maxlength="20">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG12 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull email" name="txtemail" id="txtemail" value="{{ datalist.companyemail }}"  maxlength="50">
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label" for="field-1">{{ langlist.LANG13 }}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                          <input type="text" class="form-control notnull" name="txtsymbol" id="txtsymbol" value="{{ datalist.currency_sign }}"  maxlength="5">
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="form-label" for="txtmaincurrency">{{ langlist.LANG21 }}</label><!--<span class="required" aria-required="true"> *</span>-->
                        <div class="controls">
                          <input type="text" class="form-control " name="txtmaincurrency" id="txtmaincurrency" value="{{ datalist.main_currency }}"  maxlength="10">
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="form-label" for="txtfractionalcurrency">{{ langlist.LANG22 }}</label><!--<span class="required" aria-required="true"> *</span>-->
                        <div class="controls">
                          <input type="text" class="form-control " name="txtfractionalcurrency" id="txtfractionalcurrency" value="{{ datalist.fractional_currency }}"  maxlength="10">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </section>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                    <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title">{{ langlist.LANG14 }}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG15 }}</label>
                          <div class="controls">
                            <input type="text" class="form-control" name="txtpropertytype" id="txtpropertytype" value="{{ datalist.property_type }}"  maxlength="50">
                          </div>
                        </div>
  
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG16 }}</label><span class="required" aria-required="true"> *</span>
                          <div class="controls">
                            <input type="text" class="form-control notnull" name="txtwebsite" id="txtwebsite" value="{{ datalist.website }}"  maxlength="50">
                          </div>
                        </div>
  
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG17 }}</label>
                          <div class="controls">
                            <input type="text" class="form-control" name="txtregno1" id="txtregno1" value="{{ datalist.registration_no1 }}"  maxlength="15">
                          </div>
                        </div>
  
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG18 }}</label>
                          <div class="controls">
                            <input type="text" class="form-control" name="txtregno2" id="txtregno2" value="{{ datalist.registration_no2 }}"  maxlength="15">
                          </div>
                        </div>
  
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG19 }}</label>
                          <div class="controls">
                            <input type="text" class="form-control" name="txtregno3" id="txtregno3" value="{{ datalist.registration_no3 }}"  maxlength="15">
                          </div>
                        </div>
  
                        <div class="form-group col-md-4">
                          <label class="form-label" for="field-1">{{ langlist.LANG20 }}</label>
                          <div class="controls image-preview">
                            {% if(datalist.logo=="")%}
                              <input type="file" class="form-control" name="upload_img" id="upload_img" onchange="uploadpic(this,'htllogo');">
                            {% else %}
                              <input type="file" class="form-control" name="upload_img" onchange="uploadpic(this,'htllogo');">
                            {% endif %}
                            <div class="">
                                <div class="popover-content" style="text-align: right;">
                                  {% if(datalist.logo=="")%}
                                  <img class="modifierimages" src="{{ commonurl }}assets/noimage.png" width="100" height="100" id="modifierimg"/>
                                {% else %}
                                  <img class="modifierimages" src="{{ commonurl }}assets/company_logo/{{ datalist.logo }}" width="100" height="100" id="modifierimg"/>
                                {% endif %}
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-12" style="text-align: right">
                          {% if user_type in [1] or '29' in PRIVdata %}
                          <button type="button" id="btnsubmit" class="btn btn-info" onclick="submitform()">{{ default_langlist.SUBMIT }}</button>
                          {% endif %}
                          <input type="hidden" name="imagephoto" id="imagephoto" value="{{ datalist.logo }}"> 
                        </div>
                      </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
      </form>
      {% endif %}
	  </div>
	</div>
<script type="text/javascript">
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var lblinvimg="{{langlist.LANG23}}";
    var sizewarning="{{langlist.LANG24}}";
  function submitform()
  {
      if(validate_form('CompanyInfoForm'))
      {
          var myForm = document.getElementById('CompanyInfoForm');
          var formdata = new FormData(myForm);
          formdata.append('service','companyinformation');
          formdata.append('opcode','editCompanyInformation');
          showjQloading();
		  HttpSendRequest(formdata,function(data)
		  {
		        hidejQloading();
                if(data.Success=='True'){
                    alertify.success(data.Message);
                }else
                {
                    alertify.error(data.Message);
                }
                jQuery("input[name='upload_img']").val('');
          });
      }else{
        alertify.alert(lblerrormsg,lblok);
      }
  };

  function uploadpic(obj)
  {
    $("#modifierimg").show();
    if(typeof (obj.files) != "undefined")
    {
        var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
        if(size>2048)
        {
          alert(sizewarning);
          $('input[name=upload_logo]').val('');
          return false;
        }
        if (obj.files[0].type !="image/jpeg" && obj.files[0].type !="image/png" && obj.files[0].type !="image/jpg")
        {
          alert(lblinvimg);
        }

        var reader  = new FileReader();
        reader.addEventListener("load", function ()
        {
          jQuery("#modifierimg").attr("src",reader.result);
        }, false);

        if (obj.files[0])
        {
          reader.readAsDataURL(obj.files[0]);
        }
    }
    else
    {
       alert("This browser does not support HTML5.");
    }
 }

</script>
{% endblock %}