<div class="row">
    <div class="col-sm-6">
        <div class="footer-text">
            <p><span id="ft_hotel"></span> | User: <span id="username_foot"></span> | <span id="version_foot"></span> </p>
        </div>
    </div>
    <div class="col-sm-6 text-right">
         <div class="footer-text">
             {{ (CONFIG_OEM_TITLE!='') ? CONFIG_OEM_TITLE : 'Pure ITES Ltd. &copy; 2018-2019 Copyright.'|convert_encoding('UTF-8', 'HTML-ENTITIES') }}
        </div>
    </div>
</div>