{% extends 'base.html' %}
{% block headblock %}
   <script type="text/javascript">
      localStorage.setItem('modulename','dashboard');
      localStorage.setItem('pagename', '');
   </script>
{% endblock %}
{% block headerblock %}
    <li class="active">Dashboard</li>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="row">
            {% if not_access_url is defined %}
            <div class="not_permission_user">
                <img src="{{not_access_url}}" style="width: 70%;margin: auto;height: auto;">
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">

      var data = "{{ accountdata }}";
      var data_enc = $('<textarea />').html(data).text();
      var data_arr = JSON.parse(data_enc);
      localStorage.setItem('Company_User',data_arr['uname']);
      localStorage.setItem('company_name',data_arr['company_name']);
      localStorage.setItem('company_logo',data_arr['company_logo']);
      localStorage.setItem('pure_logo',data_arr['pure_logo']);
      localStorage.setItem('POS_COMP_CID','{{cid}}');
      setCommonHeader();

</script>
{% endblock %}