<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> {{default_langlist.REL_REC}} </h4>
        </div>
        <div class="col-xs-12 modal-body">
            <div class="card">
                <table class="datatable table table-striped" cellspacing="0" width="100%" style="margin-bottom: 0px;">
                    <thead>
                    <tr>
                        <th width="20%"> {{default_langlist.MODULE}} </th>
                        <th width="80%"> {{default_langlist.RECORDS}} </th>
                    </tr>
                    </thead>
                </table>
                <div style="max-height: 375px; overflow-y: auto;">
                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                        <tbody>
                            {% if(rec|length)>0 %}
                                {% for record in rec %}
                                    {% if(record.subject!="") %}
                                        <tr>
                                            <td width="20%">{{ record.module }}</td>
                                            <td width="80%">
                                                {{ record.subject }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2" align="center"> {{default_langlist.NO_RECORDS}}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
