{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript">
    localStorage.setItem('modulename','settings');
    localStorage.setItem('pagename', 'leftpanel_displaysettings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{ default_langlist.DISPLAYSETTINGS }}</li>
{% endblock %}
{% block content %}
<div class="side-body" id="hotel-profile">
    <form name="DispSetForm" id="DispSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header" style="margin-bottom: 15px;">
                                    <div class="card-title">
                                        <span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
                                        <input type="hidden" name="module" id="module" value="{{module}}" class="form-control notnull integer" />
                                    </div>
                                    {% set PRIVdata = PRIVLIST|split(',') %}
                                    {% if user_type in [1] or '302' in PRIVdata %}
                                    <div class="pull-right card-action">
                                        <button class="btn btn-primary pull-left" type="button"
                                                onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>

                                {% if user_type in [1] or '305' in PRIVdata or '303' in PRIVdata %}
                                <div class="col-md-12">
                                    {% if banquet == 1 %}
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="interval">{{ langlist.LANG2 }}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <input type="text" name="interval" id="interval" value="" class="form-control" maxlength="2" onkeyup="return isFloatWithRange(event,this,1,10)"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="field-radio">{{ langlist.LANG8}}</label>
                                        <div class="controls">
                                            <div class="radio3 radio-check radio-inline">
                                                <input id="yes" class="" style="margin-bottom: 8px"
                                                       name="location_status" value="1"
                                                        type="radio">
                                                <label class="iradio-label form-label" for="yes">
                                                    {{ langlist.LANG9}}</label>
                                            </div>
                                            <div class="radio3 radio-check radio-inline">
                                                <input id="no" class="" style="margin-bottom: 8px"
                                                       name="location_status" value="0"
                                                       checked="checked" type="radio">
                                                <label class="iradio-label form-label"
                                                       for="no">{{ langlist.LANG10}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="form-group col-md-3">
                                            <label class="form-label" for="timeformat">{{ langlist.LANG3 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="timeformat" id="timeformat" class="form-control">
                                                    <option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in default_timeformat %}
                                                    <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    <div class="form-group col-md-3">
                                            <label class="form-label" for="dateformat">{{ langlist.LANG4 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="dateformat" id="dateformat" class="form-control">
                                                    <option value=" " selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in default_dateformat %}
                                                    <option value="{{ key }}" >{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="timezone">{{ langlist.LANG5 }}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <select name="timezone" id="timezone" class="form-control">
                                                <option value=" " selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                {% for key,value in timezoneslist %}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="form-label" for="digitafterdecimal">{{ langlist.LANG6 }}</label><span class="required" aria-required="true"> *</span>
                                        <div class="controls">
                                            <select name="digitafterdecimal" id="digitafterdecimal"  class="form-control">
                                                <option value=" " selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                <option value="0" >0</option>
                                                <option value="1" >1</option>
                                                <option value="2" >2</option>
                                                <option value="3" >3</option>
                                                <option value="4" >4</option>
                                                <option value="5" >5</option>
                                                <option value="6" >6</option>
                                                <option value="7" >7</option>
                                                <option value="8" >8</option>
                                                <option value="9" >9</option>
                                                <option value="10" >10</option>
                                            </select>
                                        </div>
                                    </div>
                                    {% if banquet == 1 %}
                                    <div class="form-group col-md-3">
                                        <label class="form-label" for="discount">{{ langlist.LANG7 }}</label>
                                        <div class="controls">
                                            <input type="text" name="discount" id="discount" value="" class="form-control" maxlength="8" />
                                        </div>
                                    </div>
{% endif %}
                                </div>
                                {% if user_type in [1] or '305' in PRIVdata %}
                                <div class="col-md-12">
                                    <div class="form-group col-md-12" style="text-align: right">
                                        <button id="submit" type="button" class="btn btn-info" onclick="submitform()">{{ default_langlist.SUBMIT }}</button>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    getdetail();
    function getdetail()
    {
        var arr = {};
        arr['service'] = 'displaysettings';
        arr['opcode'] = 'loaddisplaysettingslist';
        var str = urlencode(JSON.stringify(arr));
        showjQloading();
        HttpSendRequest(str, function(data){
            hidejQloading();
            if(data.Success=='True')
            {
                var res = data.Data;
                $("#DispSetForm  #timezone").val('(GMT 05:30) Mumbai');
                $.each(res, function (key, value) {
                    if (value.keyname=='location_status') {
                        if (value.keyvalue==1) {
                            jQuery("#yes").trigger("click");
                        }else{
                            jQuery("#no").trigger("click");
                        }
                    }else if (value.keyname=='timezone_main') {
                       $('#timezone').val(value.keyvalue);
                    }else{
                        jQuery("#"+value.keyname).val(value.keyvalue);
                    }
                });
            }
            else
            {
                alertify.error(data.Message);
            }
        });
    }

    function submitform()
    {
            var myForm = document.getElementById('DispSetForm');
            var formdata = new FormData(myForm);
            formdata.append('service','displaysettings');
            formdata.append('opcode','editdisplaysettings');
            formdata.append('timezone',urlencode(jQuery("#timezone").val()));
            showjQloading();
            HttpSendRequest(formdata, function(data){
                hidejQloading();
                if(data.Success=='True')
                {
                    alertify.success(data.Message);
                }
                else
                {
                    alertify.error(data.Message);
                }
            });
    }
</script>
{% endblock %}