{% extends 'base.html' %}
{% block headblock %}
  <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
  <script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
  <script type="text/javascript">
    localStorage.setItem('modulename','settings');
    localStorage.setItem('pagename','leftpanel_doc_numbering');
  </script>
{% endblock %}
{% block headerblock %}
  <li class="active">{{ default_langlist.DOC_NUMBERING }}</li>
{% endblock %}
{% block content %}
  <div id="resetlist" class="container-fluid">
    <form method="post" action="" name="reset-form" id="reset-form">
      <div class="side-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="card">
        <div class="card-body">
          <div class="card-header" style="margin-bottom: 15px;">
            <div class="card-title">
              <span id="frmtitle" class="title">{{ langlist.LANG1 }}</span>
              <input type="hidden" name="cnt" id="cnt" value="1">
            </div>
            {% set PRIVdata = PRIVLIST|split(',') %}
            {% if  user_type in [1] or '307' in PRIVdata %}
            <div class="pull-right card-action">
              <button class="btn btn-primary pull-left" type="button" onclick="check_audit_activity('','{{ module }}')">{{ default_langlist.VIEW_LOGS }}</button>
            </div>
            {% endif %}
          </div>
          {% if user_type in [1] or '308' in PRIVdata or '309' in PRIVdata %}
          <table class="datatable table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>{{ langlist.LANG2 }}</th>
              <th>{{ langlist.LANG3 }}</th>
              <th>{{ langlist.LANG4 }}</th>
              <th>{{ langlist.LANG5 }}</th>
            </tr>
            </thead>
            <tbody id="trantable">
            {% set counter = 1 %}
            {% for value in datalist %}
              <tr>
                <td><span id="display_name_{{ value.hashkey }}" name="display_name" ></span>{{ value.keyname }}</td>
                <td>
                  <select id="reset_{{ value.hashkey }}" name="reset[{{ value.hashkey }}]" class="form-control reset dropdown">
                        {% for key,value1 in reset %}
                          <option value="{{ key }}" {% if(key==value.reset_type)%} selected {% endif %}>{{ value1 }}</option>
                        {% endfor %}
                  </select>
                </td>
                <td><input type="text" name="prefix[{{ value.hashkey }}]" id="prefix_{{ value.hashkey }}" value="{{ value.prefix }}" class="form-control notnull prefix" style="width:150px;" maxlength="10"></td>
                <td><input type="text" name="startno[{{ value.hashkey }}]" id="startno_{{ value.hashkey }}" value="{{ value.startno }}" class="form-control notnull integer" style="width:100px;" maxlength="10"></td>
                {% if user_type in [1] or '307' in PRIVdata %}
                <td><a class="update_ico" onclick="check_audit_activity('{{ value.hashkey }}','{{ module }}')" title="{{default_langlist.ACTIVITY}}">
                   <i class="fa fa-eye"></i>
                </a></td>
                {% endif %}
            </tr>
            {% set counter = counter+1 %}
            {% endfor %}
            
            </tbody>
          </table>
          {% if user_type in [1] or '309' in PRIVdata %}
          <div class="form-group col-md-12" style="text-align: right">
            <button type="button" id="submit" class="btn btn-info">{{ default_langlist.SUBMIT }}</button>
          {% endif %}
          {% endif %}
          </div>  
        </div>
      </div>
     </div>
        </div>
      </div>
    </form>
  </div>
<script type="text/javascript">
  var aTableConfig = {};  
  var todaysdate="2016-05-27";
  var lblerrormsg="{{default_langlist.Missing_Field}}";
  var lblok="{{default_langlist.OK}}";
  var recupsucess="{{default_langlist.REC_UP_SUC}}";
  var internal_error="{{default_langlist.INTERNAL_ERROR}}";

    jQuery("#submit").click(function () {
    if (validate_form('reset-form'))
    {
        showjQloading();
        var myForm = document.getElementById('reset-form');
        var formdata = new FormData(myForm);
        formdata.append('service', 'document_numbering');
        formdata.append('opcode', 'docnum');
        HttpSendRequest(formdata,function(recObj)
        {
            hidejQloading();
            if (recObj.Success == 'True')
            {
                alertify.success(recupsucess);
            }
            else
            {
                alertify.error(internal_error);
            }
        });
    } 
    else 
    {
      alertify.alert(lblerrormsg,lblok);
    }
  });

  function form_valid() {
      var error = 0;
      $('.invalid').removeClass('invalid');
      
      if ($(".prefix").val() == "") {
          error = 1;
          $('.prefix').addClass('invalid');
      }
      if ($(".startno").val() == "") {
          error = 1;
          $('.startno').addClass('invalid');
      }
      if (error == 1)
        return false;
      else
        return true;
    }
  
</script>
{% endblock %}