{% extends 'base.html' %}
{% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'settings');
    localStorage.setItem('pagename', 'leftpanel_languagesettings');
</script>
{% endblock %}
{% block headerblock %}
<li>{{default_langlist.SETTINGS}}</li>
<li class="active">{{ default_langlist.LANG_SETTING }}</li>
{% endblock %}
{% block content %}
<div class="side-body" id="hotel-profile">
    <form name="LangSetForm" id="LangSetForm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            {% set PRIVdata = PRIVLIST|split(',') %}
            {% set GRPdata  = grpprivlist|split(',') %}
            <div class="content-body">
                {% if user_type in [1] or '408' in PRIVdata or '409' in PRIVdata %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">{{ default_langlist.SEARCH_CRITERIA }}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <form action="" method="post" >
                                        <div class="form-group marginbottomzero">
                                            <div class="col-xs-12 col-md-5">
                                                <label class="col-sm-4 control-label textalignleft paddingzero" for="select_module">{{ langlist.LANG1 }}</label>
                                                <div class="col-sm-8 paddingzero marginbottom5">
                                                    <select class="form-control" name="select_module" id="select_module">
                                                        {% if lang_type == '1' %}
                                                        <option value="0">{{ default_langlist.PLEASE_SELECT }}</option>
                                                        <option value="company_default">{{ default_langlist.DFLT_LABELS }}</option>
                                                        <option value="salutation">{{ default_langlist.SALUTATIONS }}</option>
                                                        {% if '17' in GRPdata %}
                                                        <option value="companyinformation">{{ default_langlist.COM_INFO }}</option>
                                                        {% endif %}

                                                        {% if '76' in GRPdata %}
                                                        <option value="cms">{{ default_langlist.CMS }}</option>
                                                        {% endif %}
                                                        {% if '77' in GRPdata %}
                                                        <option value="offers">{{ default_langlist.OFFERS }}</option>
                                                        {% endif %}
                                                        {% if store == '1'  %}
                                                        {% if '47' in GRPdata %}
                                                        <option value="store">{{default_langlist.STORE}}</option>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% if '23' in GRPdata %}
                                                        <option value="user">{{default_langlist.USER_LIST}}</option>
                                                        {% endif %}
                                                        {% if '24' in GRPdata %}
                                                        <option value="userrole">{{default_langlist.USER_ROLE}}</option>
                                                        {% endif %}
                                                        <option value="reset">{{default_langlist.RESET}}</option>
                                                        {% if '45' in GRPdata %}
                                                        <option value="bmdisplaysettings">{{default_langlist.DISPLAYSETTINGS}}</option>
                                                        {% endif %}
                                                        {% if '67' in GRPdata %}
                                                        <option value="languagesettings">{{default_langlist.LANG_SETTING}}</option>
                                                        {% endif %}
                                                        {% if '78' in GRPdata %}
                                                        <option value="application_users">{{default_langlist.APPLICATION_USERS}}</option>
                                                        {% endif %}
                                                        {% if banquet == '1' %}
                                                        <option value="inv_label">{{ default_langlist.INV_LBL }}</option>
                                                        {% if '46' in GRPdata %}
                                                        <option value="bm_document_numbering">{{default_langlist.DOC_NUMBERING}}</option>
                                                        {% endif %}
                                                        {% if '39' in GRPdata %}
                                                        <option value="ac_information">{{default_langlist.ACCOUNT_INFO}}</option>
                                                        {% endif %}
                                                        {% if '43' in GRPdata %}
                                                        <option value="business_source">{{default_langlist.BUSINESS_SOURCE}}</option>
                                                        {% endif %}
                                                        <!--{% if '32' in GRPdata %}
                                                        <option value="theme">{{default_langlist.THEME}}</option>
                                                        {% endif %}
                                                        {% if '33' in GRPdata %}
                                                        <option value="amenities_category">{{default_langlist.AMENITIES_CATEGORY}}</option>
                                                        {% endif %}
                                                        {% if '34' in GRPdata %}
                                                        <option value="amenities">{{default_langlist.AMENITIES}}</option>
                                                        {% endif %}
                                                        {% if '37' in GRPdata %}
                                                        <option value="packages">{{default_langlist.PACKAGE}}</option>
                                                        {% endif %}
                                                        {% if '38' in GRPdata %}
                                                        <option value="market_place">{{default_langlist.MARKET_PLACE}}</option>
                                                        {% endif %}
                                                        {% if '40' in GRPdata %}
                                                        <option value="payment_type">{{default_langlist.PAYMENT_TYPE}}</option>
                                                        {% endif %}
                                                        {% if '41' in GRPdata %}
                                                        <option value="banquet_staff">{{default_langlist.BANQUET_STAFF}}</option>
                                                        {% endif %}
                                                        {% if '35' in GRPdata %}
                                                        <option value="banquet">{{default_langlist.BANQUET}}</option>
                                                        {% endif %}
                                                        {% if '36' in GRPdata %}
                                                        <option value="seating_plan">{{default_langlist.SEATING_PLAN}}</option>
                                                        {% endif %}
                                                        {% if '42' in GRPdata %}
                                                        <option value="block_banquet">{{default_langlist.BLOCK_BANQUET}}</option>
                                                        {% endif %}
                                                        {% if '44' in GRPdata %}
                                                        <option value="banquet_booking">{{default_langlist.BANQUET_BOOKING}}</option>
                                                        {% endif %}-->
                                                        {% endif %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 text-right">
                                                <button class="btn btn-primary " type="button" onclick="doSearch()">{{ default_langlist.SEARCH }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form action="" name="LangSet_form" id="LangSet_form">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="datatable table table-striped marginbottomzero" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="50%">{{ langlist.LANG2 }}</th>
                                            <th width="50%">{{ langlist.LANG3 }}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="norecord" style="display:none">
                                        <i class="fa fa-meh-o"></i>
                                        <br> {{ default_langlist.NO_RECORDS }}
                                    </div>
                                    <div class="roomrate-table">
                                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                                            <script id="tmpl" type="text/x-jquote-template">
                                                <tr>
                                                    <td width="50%"><@= this.default_label @></td>
                                                    <td width="50%">
                                                        <input type="text" name="customlanglabel[<@= this.key @>]" id="customlanglabel<@= this.key @>" value="<@= this.custom_label @>" class="form-control notnull">
                                                    </td>
                                                </tr>
                                            </script>
                                            <tbody id="lang_labels_list">
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if user_type in [1] or '409' in PRIVdata %}
                                    <div class="form-group body-footer-table">
                                        <button type="button" id="btnsubmit" class="btn btn-primary mr10 mb20">{{ default_langlist.SUBMIT }}</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        jQuery("#lang_labels_list").empty();
        jQuery("#LangSet_form").show();
        recnofound();
    });
    jQuery('#btnsubmit').click(function()
    {
        var myForm = document.getElementById('LangSet_form');
        var formdata = new FormData(myForm);
        formdata.append('service', 'languagesettings');
        formdata.append('opcode', 'updateCustomLangLabel');
        formdata.append('module_name', jQuery("#select_module").val());
        showjQloading();
        HttpSendRequest(formdata, function (data) {
            hidejQloading();
            if(data.Success=='True')
            {
                alertify.success(data.Message);
            }
            else
            {
                alertify.error(data.Message);
            }
        });
    });
    function doReset() {
        jQuery("#select_module").val(0);
        doSearch();
    }
    function recnofound() {
        jQuery(".roomrate-table").hide();
        jQuery(".norecord").show();
        jQuery("#btnsubmit").hide();
    }
    function displayrecord() {
        jQuery(".roomrate-table").show();
        jQuery(".norecord").hide();
        jQuery("#btnsubmit").show();
    }
    function doSearch() {
        jQuery("#lang_labels_list").empty();
        jQuery("#LangSet_form").show();
        showjQloading();
        var arr = {};
        arr['service'] = "languagesettings";
        arr['opcode'] = "loadLangParameters";
        arr['module_name'] = jQuery("#select_module").val();
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data.Success == 'True') {
                var res = data['Data'];
                if (res.length > 0) {
                    displayrecord();
                    jQuery("#lang_labels_list").jqoteapp("#tmpl", eval(res));
                } else {
                    recnofound();
                }
            }
            else
            {
                recnofound();
                alertify.error(data.Message);
            }
        });
    }
</script>
{% endblock %}