<!DOCTYPE html>
<html>
<head>
    <title>POS - Company Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href="{{ commonurl }}themes/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/bootstrap.min.css">
    <link href="{{ commonurl }}themes/css/ripples.css" type="text/css" rel="stylesheet">
    <link href="{{ commonurl }}themes/css/bootstrap-material-design.css" type="text/css" rel="stylesheet">
    <link href="{{ commonurl }}themes/css/snackbar.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ commonurl }}themes/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ commonurl }}themes/js/bootstrap.min.js"></script>
</head>
<body class="login-page">
<div class="login-form">
    <div class="login-box">
        <div class="body-inner">
            <div class="card">
                <div class="logo">
                    {% if oem['logo'] is defined %}

                    <img src="assets/images/{{ oem['logo'] }}-logo.png" class="img-responsive" style="max-width: 155px">
                    {% else %}
                    <img src="assets/images/cloudpos.png" class="img-responsive" alt="">
                    {% endif %}

                </div>
                <div class="heading-details">
                    <div class="titles">
                        Company Admin
                    </div>
                </div>
                <div class="progress hidden" id="login-progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Please wait...
                    </div>
                </div>
                <form>
                    <div class="control" id="valid_msg" style="display: none">
                        <span class="valid_msg">Please insert required field.</span>
                    </div>
                    <div class="control" id="error_msg" style="display: none">
                        <span class="error_msg"></span>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">User Name</label>
                        <input type="text" id="uname" class="form-control" maxlength="30" required/>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Password</label>
                        <input type="password"  id="pwd" class="form-control login-input"  maxlength="30" required/>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Company Id</label>
                        <input type="text" id="companyid" class="form-control login-input integer" maxlength="4" required/>
                    </div>
                    <div class="form-group">
                        <input type="button" id="login" class="btn btn-raised btn-primary" value="Login" onclick="company_login()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .grpactive{
        background-color: #e1e1e1 !important;
        border-right: 10px solid;
    }
    .pnllist{
        width: 50%;
        text-align: center;
        cursor: pointer;
    }

</style>
 <script  src="{{ commonurl }}themes/js/ripples.js" type="text/javascript"></script>
<script src="{{ commonurl }}themes/js/snackbar.min.js"  type="text/javascript"></script>
<script type="text/javascript">
    function addactive(obj){
        jQuery(".list-group a").each(function(){
            jQuery(this).removeClass('grpactive');
        });
        jQuery(obj).addClass('grpactive');
    }
    jQuery(".login-input").keyup(function (evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if(charCode==13)
        {
            company_login();
        }
    })
    function company_login(){
        var validflag = checkvalid();
        if (validflag) {
            jQuery("#login-progress").removeClass('hidden');
            jQuery(".form-control").removeClass("invalidfield");
            jQuery(".valid_msg").hide();
            jQuery("#error_msg").hide();
            var uname = jQuery("#uname").val();
            var pwd = jQuery("#pwd").val();
            var companyid = jQuery("#companyid").val();
            jQuery.ajax({
                url: "{{ commonurl }}validuser.php",
                type: "post",
                data: "service=validuser&opcode=checkcredentials&uname="+uname+"&pwd="+pwd+"&companyid="+companyid,
                success: function(data){
                    var data_err = JSON.parse(data);
                    if (data_err['Success']=='False')
                    {
                        jQuery("#login-progress").hide();
                        jQuery("#error_msg").show();
                        jQuery(".error_msg").text(data_err['Message']);
                    }
                    else if (data_err['Success']=='True') {
                        jQuery("#login-progress").hide();

                        localStorage.setItem('custom_lang',data_err['Data']['lang_type']);
                        window.location= "{{ commonurl }}cloud/dashboard";
                    }
                }
            });
        }
    }

    function checkvalid()
    {
        var flag=0;
        if (jQuery("#uname").val()=="")
        {
            flag=1;
            jQuery("#valid_msg").show();
            jQuery("#uname").addClass('invalidfield');
        }
        if (jQuery("#pwd").val()=="")
        {
            flag=1;
            jQuery("#valid_msg").show();
            jQuery("#pwd").addClass('invalidfield');
        }
        if (jQuery("#companyid").val()=="")
        {
            flag=1;
            jQuery("#valid_msg").show();
            jQuery("#companyid").addClass('invalidfield');
        }
        if (flag==1)
            return false;
        else
            return true;
    }
</script>
</body>
<style>
    .valid_msg{
        font-size:  14px;
        color: red;
        font-family: 'Arima Madurai', cursive;
        display: block;
        text-align: left;
    }
    .error_msg{
        color: red;
    }
    .invalidfield{
        border-bottom:  1px solid red !important;
    }
    .login-ico{
        font-size: 22px;
        margin-left: 9px;
        margin-top: 2px;
        position: absolute;
    }
    .login-input{
        padding: 0px 0px 0px 40px;
    }
</style>
</html>
