{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/timepicker/css/timepicker.css"/>
<script src="{{ commonurl }}themes/plugins/timepicker/js/timepicker.min.js" type="text/javascript"></script>
<!-- Bootstrap Datepicker-->
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/bootstrap-datepicker.css"/>
<script src="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ commonurl }}themes/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<!-- Bootstrap Datepicker-->



<script type="text/javascript">
    localStorage.setItem('modulename', 'offers');
    localStorage.setItem('pagename', 'leftpanel_offers');
</script>
{% endblock %} {% block headerblock %}
<li class="active">{{default_langlist.OFFERS}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card overflow-show">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-title">
                            {% if user_type in [1] or '281' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>
                        {% if user_type in [1] or '283' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if user_type in [1] or '284' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if user_type in [1] or '281' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-3 control-label textalignleft paddingzero"
                                           for="exampleInputName">{{langlist.LANG2}}</label>
                                    <div class="col-sm-9 paddingzero marginbottom5">
                                        <input id="exampleInputName" maxlength="15" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName">{{langlist.LANG6}}</label>
                                    <div class='input-group date' id='sdatetimepicker1'>
                                        <input type='text' class="form-control" name="sstartdate" id="sstartdate"/>
                                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName">{{langlist.LANG7}}</label>
                                    <div class='input-group date' id='sdatetimepicker2'>
                                        <input type='text' class="form-control" name="senddate" id="senddate"/>
                                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user_type in [1] or '281' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG2}}</th>
                                <th>{{langlist.LANG5}}</th>
                                <th>{{langlist.LANG6}}</th>
                                <th>{{langlist.LANG7}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.title @>
                                </td>
                                <td>
                                    <@=this.slug @>
                                </td>
                                <td>
                                    <@=this.startdatetime_dis @>
                                </td>
                                <td>
                                    <@=this.enddatetime_dis @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if user_type in [1] or '280' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '282' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '285' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{default_langlist.CANCEL}}','{{default_langlist.OK}}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                   <!-- {% if '229' in PRIVdata %}
                                    <a class="update_ico" onclick="check_related_records('<@= this.hashkey @>','{{ module }}')" title="{{default_langlist.RELATED_RECORDS}}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}-->
                                    {% if user_type in [1] or '284' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="offerform" name="offerform" class="card overflow-show">
                <div class="card-body">
                    <div class="row">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" for="title">{{langlist.LANG2}}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                            <input type='text' class="form-control notnull" name="title" id='title'/>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" for="slug">{{langlist.LANG5}}</label><span class="required" aria-required="true"> *</span>
                        <div class="controls">
                            <input type='text' class="form-control notnull" name="slug" id="slug"/>
                        </div>
                    </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="startdate">{{langlist.LANG6}} </label>
                            <span class="required" aria-required="true"> *</span>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control notnull" name="startdate" id="startdate"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label" for="enddate">{{langlist.LANG7}}  </label>
                            <span class="required" aria-required="true"> *</span>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control notnull" name="enddate" id='enddate'/>
                                <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                         </span>
                            </div>
                    </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-12">
                            <label class="form-label"
                                   for="description">{{langlist.LANG4}}</label>
                            <div class="controls">
                                <textarea class="form-control" name="description" id="description"
                                          style="resize: vertical;" rows="4" cols="39"></textarea>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="upload_img">{{langlist.LANG13}}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="file" accept="image/jpeg,image/png,image/gif" class="form-control" name="upload_img" id="upload_img"
                                       onchange="uploadpic(this);">
                                <img src="" class="images"  width="100" height="100" id="typeimg"
                                     style="display: none;"/>
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">
                                        {{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label"
                                           for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <input type="hidden" name="imagephoto" id="imagephoto" value="">
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("463");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }
    var my_date = "{{datetime}}";
    my_date = my_date.replace(/-/g, "/");
    var lbladdbb="{{langlist.LANG1}}";
    var lblbb="{{default_langlist.OFFERS}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var msgmaxsizelmt="{{default_langlist.MAX_SIZE_LIMIT}}";
    var lblimagemsg="{{langlist.LANG23}}";

    populateDateTimePicker();
    populateDateTimePicker1();

    jQuery('body').on('click','.check_all_banquets',function(){
        if(jQuery(this).prop('checked')==true)
        {
            jQuery('.banquetscheckbox').find('input[type="checkbox"]').attr('checked','checked').prop('checked',true);
        }else{
            jQuery('.banquetscheckbox').find('input[type="checkbox"]').removeAttr('checked');
        }
    });

    function populateDateTimePicker()
    {
        $('#datetimepicker1').datetimepicker({
            useCurrent: true, //Important! See issue #1075
            minDate:new Date(my_date),
            format: "{{jsdateformat}} {{jstimeformat}}",
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: true, //Important! See issue #1075
            minDate:new Date(my_date),
            format: "{{jsdateformat}} {{jstimeformat}}",
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });

    }

    function populateDateTimePicker1()
    {
        $('#sdatetimepicker1').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: "{{jsdateformat}} {{jstimeformat}}",
        });
        $('#sdatetimepicker2').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: "{{jsdateformat}} {{jstimeformat}}",
        });
        $("#sdatetimepicker1").on("dp.change", function (e) {
            $('#sdatetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#sdatetimepicker2").on("dp.change", function (e) {
            $('#sdatetimepicker1').data("DateTimePicker").maxDate(e.date);
        });

    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'offers',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }


    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                sd: jQuery("#sstartdate").val(),
                ed: jQuery("#senddate").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        jQuery("#sstartdate").val("");
        jQuery("#senddate").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                sd: jQuery("#sstartdate").val(),
                ed: jQuery("#senddate").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit+' '+lblbb);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'offers';
                arr['opcode'] = 'editclass';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        $.each(res, function (key, value) {
                            jQuery("#startdate").val(value.startdate);
                            jQuery("#enddate").val(value.enddate);
                            jQuery("#description").val(value.description);
                            jQuery("#slug").val(value.slug);
                            jQuery("#imagephoto").val(value.image);
                            jQuery("#title").val(value.title);
                            if ((value.image) != "") {
                                $('#typeimg').show();
                                $('#typeimg').attr('src', value.image);
                            }
                        });
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdbb);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {

        $('#typeimg').hide();
        $('#typeimg').attr('src', '');
        $('#imagephoto').val('');
        jQuery('.invalid').removeClass('invalid');
        jQuery('#offerform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#exampleInputName").val('');
        jQuery("#sstartdate").val("");
        jQuery("#senddate").val("");
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
                sd: jQuery("#sstartdate").val(),
                ed: jQuery("#senddate").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('offerform')) {
            /* code to make atleast one tax selected
               if (jQuery('input[name="tax[]"]:checked').length <= 0) {
                     alertify.alert("Please Select At Least one Tax !");
                    return false;
                 }*/
            var error = 0;

            if (error == 0) {

                showjQloading();
                var id = jQuery("#id").val();
                var selectedbanquet = jQuery("#banquetunkid option:selected").text();
                var myForm = document.getElementById('offerform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'offers');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                HttpSendRequest(ajaxData, function (data) {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        if (CHECK_PERMISSION_EXISTS != -1) {
                            refreshlist();
                        }

                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
                });

            }
        } else {
            alertify.alert(lblerrormsg,lblok);
        }
    });

    function toggleactivedeactive(id,module,value,object) {
        var arr = {};
        arr['service']= 'common';
        arr['opcode']= 'toggleststus';
        arr['module']= module;
        arr['id']= id;
        arr['value']= value;
        arr['object']= object;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str,function(data)
        {
            if (data['Success'] == "True") {
                refreshlist();
                alertify.success(data['Message']);
            }
            else{
                alertify.error(data['Message']);
            }
        });
    }

    function removewithobject(id,module,object,msg,cancel,ok){
        var labelsprint = {
            ok     : ok,
            cancel : cancel
        };
        alertify.confirm(msg,labelsprint, function (e) {
            if (e) {
                var arr = {};
                arr['service']= 'common';
                arr['opcode']= 'remove';
                arr['id']= id;
                arr['object']= object;
                arr['module']= module;
                var str = urlencode(JSON.stringify(arr));
                if (arr['id'] != '') {
                    HttpSendRequest(str,function(data){
                        if (data['Success'] == "True") {
                            refreshlist();
                            alertify.success(data['Message']);
                        }
                        else{
                            alertify.error(data['Message']);
                        }
                    });
                }
            } else {
                return false;
            }
        });
    }

    function uploadpic(obj) {
        $("#typeimg").show();
        if (typeof (obj.files) != "undefined") {
            var size = parseFloat(obj.files[0].size / 1024).toFixed(2);
            if(size>2048)
            {
                alertify.alert(msgmaxsizelmt,lblok);
                $('input[name=upload_logo]').val('');
                return false;
            }
            if (obj.files[0].type != "image/jpeg" && obj.files[0].type != "image/png" && obj.files[0].type != "image/jpg") {
                alertify.alert(lblimagemsg,lblok);
            }

            var reader = new FileReader();
            reader.addEventListener("load", function () {
                jQuery("#typeimg").attr("src", reader.result);
            }, false);

            if (obj.files[0]) {
                reader.readAsDataURL(obj.files[0]);
            }
        }
        else {
            alertify.alert("This browser does not support HTML5.");
        }
    }

</script>
{% endblock %}