<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/bootstrap-datepicker/datepicker.min.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"/>

<!--select picker-->
<script type="text/javascript" src="{{ commonurl }}themes/js/select2.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/css/select2.min.css">
<!--select picker-->



<div id="package_modal" class="modal-dialog split_popup modal-select">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabelsplit">{{langlist.LANG1}} </h4>
        </div>
        <div class="tab-pane active stp1" role="tabpanel" id="step1">
            <form id="frmindent" name="frmindent">
                <input type="hidden" id="getid" name="getid" value="{{id}}"/>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="name">{{ langlist.LANG2 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" value=""
                                                       name="name" id="name" maxlength="150">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="alias">{{ langlist.LANG4 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" value=""
                                                       name="alias" id="alias" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="description">{{langlist.LANG5}}</label>
                                            <div class="controls">
                                                <textarea class="form-control" type="text" name="description" id="description" rows="1" cols="39"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label"
                                                   for="country">{{langlist.LANG38}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <select name="country" id="country" class="form-control dropdown" style="width: 100%">
                                                    <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                                    {% for key,value in countrylist %}
                                                    <option value="{{ key }}" {%
                                                            if(key==datalist.country)%} selected {%
                                                            endif %}>{{ value }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label"
                                                   for="currency">{{langlist.LANG39}}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull" name="currency" id="currency" maxlength="10">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label" for="sel_location">{{ langlist.LANG6
                                                }}</label><span class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="sel_location"
                                                    onchange="checklocationnotnull('', function(){})"
                                                    id="sel_location" data-toggle="tooltip" data-placement="top"
                                                    title="{{langlist.LANG41}}"><option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="sel_menu">{{ langlist.LANG7 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="sel_menu"
                                                    id="sel_menu" onchange="select_menu('',function() {})">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="sel_category">{{ langlist.LANG8 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="sel_category"
                                                    id="sel_category" onchange="select_raw_material('',function() {})">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="sel_rm">{{ langlist.LANG9 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="sel_rm"
                                                    id="sel_rm" onchange="getunit('','',function() {

                                                    })">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="qty">{{ langlist.LANG10 }}</label><span class="required" aria-required="true"> *</span>
                                            <div class="controls">
                                                <input type="text" class="form-control notnull decimal dropdown"
                                                       name="qty" onkeyup="countrowamount()" id="qty" maxlength="7">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="sel_iunit">{{ langlist.LANG11 }}</label><span
                                                class="required" aria-required="true"> *</span>
                                            <select class="form-control dropdown " name="sel_iunit" onchange="setunitrate('','','',function() {   })"
                                                    id="sel_iunit">
                                                <option value="0" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="irate">{{ langlist.LANG13 }}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control notnull decimal dropdown"
                                               name="irate" onkeyup="return isFloat(event,this.value)"
                                               id="irate" maxlength="8">
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" name="setrateonunit" onkeyup="return isFloat(event,this.value)" id="setrateonunit">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="itotal">{{ langlist.LANG14 }}</label><span
                                        class="required" aria-required="true"> *</span>
                                    <div class="controls">
                                        <input type="text" class="form-control dropdown"
                                               disabled name="itotal" onkeyup="return isFloat(event,this.value)"
                                               id="itotal" maxlength="8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <div class="form-inline-group-wrap">
                                        <div class="form-group">
                                            <label class="form-label">{{ langlist.LANG40 }}</label>
                                            <input type="text" class="form-control mb5 decimal"
                                                   onkeyup="return isFloatWithRange(event,this,0,100)"
                                                   name="po_discount_per" max="100" value="0" maxlength="5"
                                                   id="po_discount_per" >
                                            <input type="text" class="form-control" disabled name="po_discount_amt"
                                                   value="0" id="po_discount_amt">
                                        </div>
                                        <div id="allrelatedtax"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                                        <input type="hidden" id="editid" value="">
                                        <button class="btn btn-info" type="button" id="addrequest">{{
                                            langlist.LANG33 }}
                                        </button>
                                        <button class="btn btn-info" style="display: none;" type="button" disabled
                                                id="editrequest">{{
                                            langlist.LANG18 }}
                                        </button>
                                        <button class="btn btn-info" style="display: none;" type="button"
                                                onclick="resetfrmindent();" id="cancelupdate">{{
                                            langlist.LANG35 }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <div class="clearfix"></div>
                    <div class="row" id="list_indent">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" id="indentlist">
                                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>{{langlist.LANG34}}</th>
                                            <th>{{langlist.LANG6}}</th>
                                            <th>{{langlist.LANG7}}</th>
                                            <th>{{langlist.LANG8}}</th>
                                            <th>{{langlist.LANG9}}</th>
                                            <th>{{langlist.LANG10}}</th>
                                            <th>{{langlist.LANG11}}</th>
                                            <th style="width: 12%;">{{langlist.LANG13}} ({{currency_sign}})</th>
                                            <th>{{langlist.LANG36}} ({{currency_sign}})</th>
                                            <th style="width: 10%;">{{langlist.LANG37}} ({{currency_sign}})</th>
                                            <th style="width: 12%;">{{langlist.LANG15}} ({{currency_sign}})</th>
                                            <th>{{langlist.LANG22}}</th>
                                            <th>{{langlist.LANG17}}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="hide_display" id="detailslist">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-xs-12 col-sm-6">
                                <label class="col-sm-4 control-label textalignleft paddingzero"
                                       for="totalamount">{{langlist.LANG19}}({{currency_sign}})</label>
                                <div class="col-sm-5 paddingzero marginbottom5">
                                    <input id="totalamount" name="totalamount" disabled class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btns-wrap">
                                <ul class="list-inline">
                                    <li>
                                        <button class="btn btn-info" type="button" disabled="disabled" name="btn_package"
                                                id="btn_package">{{default_langlist.SUBMIT}}
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-info" onclick="closeindentmodal();" aria-label="Close">
                                            {{default_langlist.CLOSE}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var date = new Date();

    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var round_off_digit = '{{round_off}}';
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
    var taxeslist=[];
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    var country_val='';

    $('#package_modal').on('change', '#country', function() {
        jQuery('#package_modal #sel_location').empty();
        jQuery('#package_modal #sel_location').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_menu').empty();
        jQuery('#sel_menu').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_category').empty();
        jQuery('#sel_category').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
        textclear();
        country_val=$('#country').val();
        if(country_val!=0){
            getoutlets(function () {});
        }else {
            jQuery('#sel_location').html('<option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
        }
    });



    $('#po_discount_per,#irate,#qty').keyup(function () {
        var disc_per = $('#po_discount_per').val();

        if(jQuery.isNumeric(disc_per)==false){
            jQuery('#po_discount_per').val('');
        }

        if(disc_per>100){
            jQuery('#po_discount_per').val(100);
        }
        var item_amt = parseFloat(jQuery("#irate").val()*jQuery("#qty").val());
        if(item_amt < 1){
            jQuery('#po_discount_per').val('');
        }

        var item_disc =0;
        jQuery("#po_discount_amt").val(0);
        if(jQuery.isNumeric(disc_per)==true && disc_per>=0){
            if(jQuery.isNumeric(item_amt)==true){
                item_disc = parseFloat(item_amt*(disc_per/100));
                jQuery("#po_discount_amt").val(item_disc.toFixed(round_off_digit));
                if(taxeslist.length > 0){
                    taxeslist.forEach(function(element) {
                        calculateItemTax(element);
                    });
                }
            }
        }
    });
    calculateTotalAmount();

    var editid = "{{id}}";
    if (editid > 0) {
        getindentrecords();
        jQuery("#sel_location").removeClass('invalid');
        checklocationnotnull('', function(){});
    }
    else {
        checklocationnotnull('', function(){});
    }

    function getoutlets(callback) {
        jQuery('#sel_location').html('');
        var arr = {};
        arr['service'] = "packages";
        arr['opcode'] = "getoutlets";
        arr['country'] = country_val;
        var str = urlencode(JSON.stringify(arr));
        jQuery('#sel_location').html('<option value="" selected="selected">{{default_langlist.PLEASE_SELECT}}</option>');
        HttpSendRequest(str, function (data) {
            var ObjData_table = data['Data'];
            for (var i = 0; i < ObjData_table.length; i++) {
                jQuery('#sel_location').append('<option  value="' + ObjData_table[i]['syslocationid'] + '">' + ObjData_table[i]['locationname'] + ' </option>');
            }
            callback();
        });
    }

    function checklocationnotnull(selectedlocation,callback) {
        if(selectedlocation!=''){
            var location = selectedlocation;
        }else {
            var location = jQuery("#sel_location").val();
        }

        if (location == '' || location == 0 || location==null ) {
            jQuery("#sel_location").addClass('invalid');
            $('[data-toggle="tooltip"], .tooltip').tooltip('show');
            disableelement();
        }
        else {
            jQuery("#sel_location").removeClass('invalid');
            enablelments();

            var arr = {};
            arr['service'] = "packages";
            arr['opcode'] = "getmenuonoutlets";
            arr['locationid'] = location;
            $('#allrelatedtax').html('');
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                var ObjData_table = data['Data'];
                for (var i = 0; i < ObjData_table.length; i++) {
                    jQuery('#sel_menu').append('<option  value="' + ObjData_table[i]['menuunkid'] + '">' + ObjData_table[i]['name'] + ' </option>');
                }

                var Taxdata=data['Taxlist'];
                taxeslist=[];
                for (var i = 0; i < Taxdata.length; i++) {

                    var htmlappend='';
                    if(Taxdata[i]['postingrule']==1){
                        var amountkeypress='onkeypress="return isFloatWithRange(event,this,0,100)"';
                    }else {
                        var amountkeypress='onkeypress="return isFloat(event,this.value)"';
                    }
                    var idoftax=Taxdata[i]['taxunkid'];
                    taxeslist.push(idoftax);
                    htmlappend+='<div class="form-group" id="tax_'+idoftax+'" style="float: left;"><label class="form-label">'+Taxdata[i]['tax']+'<input type="checkbox" value="'+Taxdata[i]['taxunkid']+'" name="po_item_tax[]" id="item_tax_enable_tax_'+idoftax+'" onchange="update_item_tax(this)" data-key="'+idoftax+'"></label><input type="text" class="form-control mb5 decimal cl_tax_amt" id="item_tax_'+idoftax+'_amount" maxlength="5" name="item_tax['+i+']["amount"]"  '+amountkeypress+' value="0" data-key="'+idoftax+'" disabled onkeyup="calculateItemTax('+idoftax+');"> <input type="text" class="form-control cl_tax_amt" name="item_tax['+i+']["tax_total"]"                   id="item_tax_'+idoftax+'_tax_total" value="0" readonly/> <input type="hidden" name="item_tax['+i+']["pytype"]" id="item_tax_'+idoftax+'_pytype" value="'+Taxdata[i]["pytype"]+'"/> <input type="hidden" name="item_tax['+i+']["taxunkid"]" id="item_tax_'+idoftax+'_taxunkid" value="'+Taxdata[i]["taxunkid"]+'"/> <input type="hidden" name="item_tax['+i+']["lnkmasterunkid"]" id="item_tax_'+idoftax+'_lnkmasterunkid" value="'+Taxdata[i]["lnkmasterunkid"]+'"/> <input type="hidden" name="item_tax['+i+']["taxdetailunkid"]" id="item_tax_'+idoftax+'_taxdetailunkid" value="'+Taxdata[i]["taxdetailunkid"]+'"/>  <input type="hidden" name="item_tax['+i+']["postingrule"]" id="item_tax_'+idoftax+'_postingrule" value="'+Taxdata[i]["postingrule"]+'"/> <input type="hidden" name="item_tax['+i+']["taxapplyafter"]" id="item_tax_'+idoftax+'_taxapplyafter" value="'+Taxdata[i]["taxapplyafter"]+'"/> </div>';
                    jQuery('#allrelatedtax').append(htmlappend);
                }
                callback();
            });
        }
    }

    function calculateItemTax(obj){
        var key_no =  obj;
        var tax_value = jQuery("#item_tax_"+key_no+"_amount").val();
        jQuery("#item_tax_"+key_no+"_tax_total").val(0);
        if(jQuery.isNumeric(tax_value)==true && tax_value>=0){
            var item_disc = 0;
            var tax_amt = 0;
            var item_amt = parseFloat(jQuery("#irate").val()*jQuery("#qty").val());
            var posting_rule = jQuery("#item_tax_"+key_no+"_postingrule").val();
            var tax_apply_after = jQuery("#item_tax_"+key_no+"_taxapplyafter").val();
            if(jQuery("#po_discount_per").val()!='' && jQuery("#po_discount_per").val()>0){
                item_disc = parseFloat(item_amt*(jQuery("#po_discount_per").val()/100));
            }
            if(posting_rule==1){
                if(tax_apply_after==1){
                    tax_amt = (((item_amt-item_disc)*tax_value)/100);
                }else{
                    tax_amt = (item_amt*tax_value)/100;
                }
            }else{
                tax_amt = tax_value;
            }
            if(tax_amt>0){
                tax_amt=tax_amt;
            }else {
                tax_amt=0;
            }
            tax_amt = parseFloat(tax_amt);
            tax_amt = tax_amt.toFixed(round_off_digit);
            jQuery("#item_tax_"+key_no+"_tax_total").val(tax_amt);
        }
    }

    function update_item_tax(current){
        var currentKey = jQuery(current).attr('data-key');
        if (jQuery(current).is(':checked')) {
            jQuery('#item_tax_'+currentKey+'_amount').val(0);
            jQuery('#item_tax_'+currentKey+'_tax_total').val(0);
            jQuery('#item_tax_'+currentKey+'_amount').removeAttr('disabled');
            jQuery('#item_tax_'+currentKey+'_tax_total').removeAttr('disabled');
        }else{
            jQuery('#item_tax_'+currentKey+'_amount').val(0);
            jQuery('#item_tax_'+currentKey+'_tax_total').val(0);
            jQuery('#item_tax_'+currentKey+'_amount').attr('disabled','disabled').prop('disabled',true);
            jQuery('#item_tax_'+currentKey+'_tax_total').attr('disabled','disabled').prop('disabled','disabled');
        }
    }


    function disableelement() {
        jQuery("#sel_menu").val(0);
        jQuery("#sel_rm").val(0);
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#sel_iunit").val(0);
        jQuery("#sel_category").val(0);
        jQuery("#sel_menu").prop("disabled", true);
        jQuery("#sel_category").prop("disabled", true);
        jQuery("#sel_rm").prop("disabled", true);
        jQuery("#qty").prop("disabled", true);
        jQuery("#sel_iunit").prop("disabled", true);
        jQuery("#irate").prop("disabled", true);
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');

    }

    function enablelments() {
        $('[data-toggle="tooltip"], .tooltip').tooltip('destroy');
        jQuery("#sel_menu").prop("disabled", false);
        jQuery("#sel_category").prop("disabled", false);
        jQuery("#sel_rm").prop("disabled", false);
        jQuery("#qty").prop("disabled", false);
        jQuery("#sel_iunit").prop("disabled", false);
        jQuery("#irate").prop("disabled", false);
        jQuery("#sel_menu").val(0);

        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery('#sel_category').empty();
        jQuery('#sel_category').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_menu').empty();
        jQuery('#sel_menu').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
    }

    jQuery('.date').datepicker({
        autoclose: true,
        startDate: date,
        todayHighlight: true,
        format: '{{ jsdateformat }}'
    });

    $('.date').datepicker('setDate', today);

    function select_menu(menuid,callback) {
        if(menuid!=''){
            var rawmenuid = menuid;
        }else {
            var rawmenuid = jQuery("#sel_menu").val();
        }
        jQuery('#sel_category').empty();
        jQuery('#sel_category').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
        textclear();
        var arr = {};
        arr['service'] = "packages";
        arr['opcode'] = "getcategoryonmenu";
        arr['menuunkid'] = rawmenuid;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            var ObjData_table = data['Data'];
            for (var i = 0; i < ObjData_table.length; i++) {
                jQuery('#sel_category').append('<option  value="' + ObjData_table[i]['categoryunkid'] + '">' + ObjData_table[i]['categoryname'] + ' </option>');
            }
            /* if (menuid != '') {
             jQuery("#sel_menu").val(menuid);
             }*/
            callback();
        });

    }

    function textclear() {
        jQuery("input[name='po_item_tax[]']").prop('checked',false);
        jQuery("#allrelatedtax input[type='text']").val(0);
    }

    function select_raw_material(rawmaterialid,callback) {
        if(rawmaterialid!=''){
            var rawcatid = rawmaterialid;
        }else {
            var rawcatid = jQuery("#sel_category").val();
        }
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
        textclear();
        var arr = {};
        arr['service'] = "packages";
        arr['opcode'] = "getrawmaterialoncategory";
        arr['rawcatid'] = rawcatid;
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            var ObjData_table = data['Data'];
            for (var i = 0; i < ObjData_table.length; i++) {
                jQuery('#sel_rm').append('<option  value="' + ObjData_table[i]['itemunkid'] + '">' + ObjData_table[i]['itemname'] + ' </option>');
            }
            /*if (rawmaterialid != '') {
             jQuery("#sel_rm").val(rawmaterialid);
             }*/
            callback();
        });
    }

    function getunit(item,location,callback) {

        if(location!='' && item!=''){
            var rawid =item;
            var locationid = location;
        }else{
            var rawid = jQuery("#sel_rm").val();
            var locationid = jQuery("#sel_location").val();
        }

        jQuery('#sel_iunit').empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');

        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
        textclear();


        if (rawid != '' && locationid != '') {
            var arr = {};
            arr['service'] = "packages";
            arr['opcode'] = "getUnitRate";
            arr['rawid'] = rawid;
            arr['locationid'] = locationid;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                var ObjData_table = data['Data'];
                for (var i = 0; i < ObjData_table.length; i++) {
                    jQuery('#sel_iunit').append('<option  value="' + ObjData_table[i]['unitunkid'] + '">' + ObjData_table[i]['name'] + ' </option>');
                }
                callback();
            });
        }
    }

    function setunitrate(unit,location,item,callback) {
        if(unit!='' && location!='' && item!=''){
            var unitval = unit;
            var locationid = location;
            var itemid = item;
        }else {
            var unitval = jQuery('#sel_iunit').val();
            var locationid = jQuery("#sel_location").val();
            var itemid = jQuery("#sel_rm").val();
        }

        if (unitval != '') {
            var arr = {};
            arr['service'] = "packages";
            arr['opcode'] = "getRateForUnitWise";
            arr['unitid'] = unitval;
            arr['locationid'] = locationid;
            arr['recipe_type'] = 1;
            arr['itemid'] = itemid;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                var ObjData_table = data['Data'];
                for (var i = 0; i < ObjData_table.length; i++) {
                    jQuery("#irate").val(ObjData_table[i]['rate']);
                }

                if(unit==''){
                    var Tax_data = data['Tax_res'];
                    for (var i = 0; i < Tax_data.length; i++) {
                        $('#item_tax_enable_tax_'+Tax_data[i]['taxunkid']).prop('checked','checked');
                        $('#item_tax_'+Tax_data[i]['taxunkid']+'_amount').val(Tax_data[i]['amount']);
                        $('#item_tax_'+Tax_data[i]['taxunkid']+'_postingrule').val(Tax_data[i]['postingrule']);
                        $('#item_tax_'+Tax_data[i]['taxunkid']+'_taxapplyafter').val(Tax_data[i]['taxapplyafter']);
                        calculateItemTax(Tax_data[i]['taxunkid']);
                    }
                }
                callback();
                countrowamount();
            });
        }
    }

    function resetfrmindent() {
        jQuery("#editrequest").prop("disabled", true);
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#cancelupdate").hide();
        jQuery(".invalid").removeClass('invalid');
        $('#sel_location>option:eq(0)').prop('selected', true);
        jQuery("#sel_menu").val(0);
        jQuery("#sel_rm").val(0);
        jQuery("#sel_category").val(0);
        jQuery("#sel_iunit").val(0);
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#itotal").val('');
        jQuery('#po_discount_per').val('0');
        jQuery('#po_discount_amt').val('0');
        textclear();
        checklocationnotnull('', function(){});
    }

    $("#irate").keyup(function () {
        countrowamount();
    });

    $("#qty").keyup(function () {
        countrowamount();
    });

    function countrowamount() {
        var rate = jQuery("#irate").val();
        var quantity = jQuery("#qty").val();
        if (rate !== '' && quantity != '') {
            var total = rate * quantity;
            var round_off='{{round_off}}';
            jQuery("#itotal").val(parseFloat(total).toFixed(round_off));
        } else {
            jQuery("#itotal").val('');
        }

        if(taxeslist !='' && taxeslist.length > 0){
            taxeslist.forEach(function(element) {
                if(parseFloat(jQuery('#itotal').val()) > 0 && jQuery('#itotal').val()!='') {
                    calculateItemTax(element);
                }else {
                    $('#po_discount_per').val(0);
                    $('#po_discount_amt').val(0);
                    jQuery("#item_tax_"+element+"_tax_total").val(0);
                    jQuery("#item_tax_"+element+"_tax_amount").val(0);
                }

            });
        }
    }

    jQuery("#addrequest").click(function () {
        var uniqid = jQuery("#detailslist tr:last .getlasttr").html();
        if (typeof uniqid == 'undefined') {
            uniqid = 1;
        }
        else {
            uniqid++;
        }
        if (validate_form('frmindent')) {
            showjQloading();
            jQuery("#btn_package").prop('disabled', false);
            jQuery("#country").prop('disabled', true);
            jQuery("#btn_package").show();
            var sel_location = jQuery("#sel_location").val();
            var selectedlocation = $("#sel_location option:selected").text();
            var selectedmenu = $("#sel_menu option:selected").text();
            var sel_menu = jQuery("#sel_menu").val();
            var sel_rm = jQuery("#sel_rm").val();
            var sel_category = jQuery("#sel_category").val();
            var selectedcategory = $("#sel_category option:selected").text();
            var selectedrm = $("#sel_rm option:selected").text();
            var qty = jQuery("#qty").val();
            var sel_iunit = jQuery("#sel_iunit").val();
            var selectedunit = $("#sel_iunit option:selected").text();
            var irate = jQuery("#irate").val();
            var itotal = jQuery("#itotal").val();
            var total_tax_amt = 0;
            var item_disc =0;
            var discountper=0;
            var item_amt = parseFloat(jQuery("#irate").val()*jQuery("#qty").val());
            if(jQuery("#po_discount_per").val()!='' && jQuery("#po_discount_per").val()>0){
                discountper=jQuery("#po_discount_per").val();
                item_disc = parseFloat(item_amt*(jQuery("#po_discount_per").val()/100));
            }

            var arr_tax = {};
            jQuery.each(jQuery("input[name='po_item_tax[]']:checked"), function(){
                var tax_amt = 0;
                var tax_id = $(this).val();
                var tax_key = $(this).attr('data-key');
                var posting_rule = jQuery("#item_tax_"+tax_key+"_postingrule").val();
                var tax_apply_after = jQuery("#item_tax_"+tax_key+"_taxapplyafter").val();
                var tax_val = jQuery("#item_tax_"+tax_key+"_amount").val();
                var tax_detId = jQuery("#item_tax_"+tax_key+"_taxdetailunkid").val();
                if(jQuery.isNumeric(tax_val)==true && tax_val>0){
                    arr_tax[tax_id] = {};
                    var per_tax_amt = jQuery("#item_tax_"+tax_key+"_tax_total").val();
                    if(posting_rule==1){
                        if(tax_apply_after==1){
                            tax_amt = (((item_amt-item_disc)*tax_val)/100);
                        }else{
                            tax_amt = (item_amt*tax_val)/100;
                        }
                    }else{
                        tax_amt = tax_val;
                    }
                    arr_tax[tax_id]['tax_id'] = tax_id;
                    arr_tax[tax_id]['tax_detailId'] = tax_detId;
                    arr_tax[tax_id]['tax_value'] = tax_val;
                    arr_tax[tax_id]['tax_amt'] = parseFloat(tax_amt).toFixed(round_off_digit);
                    arr_tax[tax_id]['tax_apply_after'] = tax_apply_after;
                    arr_tax[tax_id]['posting_rule'] = posting_rule;
                    total_tax_amt = total_tax_amt + parseFloat(tax_amt);
                }
            });

            var final_item_amt = item_amt - item_disc + total_tax_amt;
            hidejQloading();
            $('#detailslist').append('<tr id= "abc_' + uniqid + '">' +
                '<td align="left" class="getlasttr" id="eindentno_' + uniqid + '">' + uniqid + '</td>' +
                '<td align="left" id="eoutlet_' + uniqid + '">' + selectedlocation + '</td>' +
                '<td align="left" id="emenu_' + uniqid + '">' + selectedmenu + '</td>' +
                '<td align="left" id="ecategory_' + uniqid + '">' + selectedcategory + '</td>' +
                '<td align="left" style="display: none" id="esel_location_' + uniqid + '">' + sel_location + '</td>' +
                '<td align="left" id="eselectedrm_' + uniqid + '">' + selectedrm + '</td>' +
                '<td align="left" style="display: none" id="esel_menu_' + uniqid + '">' + sel_menu + '</td>' +
                '<td align="left" style="display: none"  id="esel_iunit_' + uniqid + '">' + sel_iunit + '</td>' +
                '<td align="left" style="display: none" id="esel_rm_' + uniqid + '">' + sel_rm + '</td>' +
                '<td align="left" style="display: none" id="esel_cat_' + uniqid + '">' + sel_category + '</td>' +
                '<td align="left" id="eqty_' + uniqid + '">' + qty + '</td>' +
                '<td align="left" id="eselectedunit_' + uniqid + '">' + selectedunit + '</td>' +
                '<td align="left" id="eirate_' + uniqid + '">' + parseFloat(irate).toFixed(round_off_digit) + '</td>' +
                '<td align="left" id="eidisc_' + uniqid + '">' + parseFloat(item_disc).toFixed(round_off_digit) + '</td>' +

                '<td align="left" id="eitax_' + uniqid + '">' + parseFloat(total_tax_amt).toFixed(round_off_digit) + '</td>' +
                '<td align="left" id="eitotal_' + uniqid + '">' + parseFloat(final_item_amt).toFixed(round_off_digit) + '</td>' +
                '<td align="left" style="display: none" id="elocation_' + uniqid + '">' + selectedlocation + '</td>' +
                '<td align="left" style="display: none" id="edisper_' + uniqid + '">' + discountper + '</td>' +
                '<td align="left"  style="display: none" id="indentrequnkid_' + editid + '">' + 0 + '</td>' +
                '<td align="left"  style="display: none" id="itemtaxdet_' + uniqid + '">' + JSON.stringify(arr_tax) + '</td>' +
                '<td align="left" id="deletepopup_' + uniqid + '"><a class="update_ico"  onclick="removefrompopup(' + uniqid + ')" >' +
                '<i class="fa fa-trash-o"></i></a></td>' +
                '<td align="left" id="editpopup_' + uniqid + '"><a class="update_ico"  onclick="editfrompopup(' + uniqid + ')" >' +
                '<i class="fa fa-pencil"></i></a></td>' +
                '</tr>');
            resetfrmindent();
            calculateTotalAmount();
        }
        else {
            alertify.alert(lblerrormsg,lblok);
        }

    });

    jQuery("#editrequest").click(function () {
        if (validate_form('frmindent')) {
            $('.invalid').removeClass('invalid');
            var uniqid = jQuery("#editrequest").val();
            var sel_location = jQuery("#sel_location").val();
            var selectedlocation = $("#sel_location option:selected").text();
            var sel_menu = jQuery("#sel_menu").val();
            var selectedmenu = $("#sel_menu option:selected").text();
            var selectedcategory = $("#sel_category option:selected").text();
            var sel_rm = jQuery("#sel_rm").val();
            var sel_category = jQuery("#sel_category").val();
            var selectedrm = $("#sel_rm option:selected").text();
            var qty = jQuery("#qty").val();
            var sel_iunit = jQuery("#sel_iunit").val();
            var selectedunit = $("#sel_iunit option:selected").text();
            var irate = jQuery("#irate").val();
            var itotal = jQuery("#itotal").val();
            var total_tax_amt = 0;
            var item_disc =0;
            var discountper=0;
            var item_amt = parseFloat(jQuery("#irate").val()*jQuery("#qty").val());
            if(jQuery("#po_discount_per").val()!='' && jQuery("#po_discount_per").val()>0){
                discountper=jQuery("#po_discount_per").val();
                item_disc = parseFloat(item_amt*(jQuery("#po_discount_per").val()/100));
            }

            var arr_tax = {};
            jQuery.each(jQuery("input[name='po_item_tax[]']:checked"), function(){
                var tax_amt = 0;
                var tax_id = $(this).val();
                var tax_key = $(this).attr('data-key');
                var posting_rule = jQuery("#item_tax_"+tax_key+"_postingrule").val();
                var tax_apply_after = jQuery("#item_tax_"+tax_key+"_taxapplyafter").val();
                var tax_val = jQuery("#item_tax_"+tax_key+"_amount").val();
                var tax_detId = jQuery("#item_tax_"+tax_key+"_taxdetailunkid").val();
                if(jQuery.isNumeric(tax_val)==true && tax_val>0){
                    arr_tax[tax_id] = {};
                    var per_tax_amt = jQuery("#item_tax_"+tax_key+"_tax_total").val();
                    if(posting_rule==1){
                        if(tax_apply_after==1){
                            tax_amt = (((item_amt-item_disc)*tax_val)/100);
                        }else{
                            tax_amt = (item_amt*tax_val)/100;
                        }
                    }else{
                        tax_amt = tax_val;
                    }
                    arr_tax[tax_id]['tax_id'] = tax_id;
                    arr_tax[tax_id]['tax_detailId'] = tax_detId;
                    arr_tax[tax_id]['tax_value'] = tax_val;
                    arr_tax[tax_id]['tax_amt'] = parseFloat(tax_amt).toFixed(round_off_digit);
                    arr_tax[tax_id]['tax_apply_after'] = tax_apply_after;
                    arr_tax[tax_id]['posting_rule'] = posting_rule;
                    total_tax_amt = total_tax_amt + parseFloat(tax_amt);
                }

            });

            var final_item_amt = item_amt - item_disc + total_tax_amt;
            jQuery("#esel_location_" + uniqid).html(sel_location);
            jQuery("#elocation_" + uniqid).html(selectedlocation);
            jQuery("#eoutlet_" + uniqid).html(selectedlocation);
            jQuery("#esel_menu_" + uniqid).html(sel_menu);
            jQuery("#emenu_" + uniqid).html(selectedmenu);
            jQuery("#ecategory_" + uniqid).html(selectedcategory);
            jQuery("#eselectedrm_" + uniqid).html(selectedrm);
            jQuery("#esel_rm_" + uniqid).html(sel_rm);
            jQuery("#esel_cat_" + uniqid).html(sel_category);
            jQuery("#esel_iunit_" + uniqid).html(sel_iunit);
            jQuery("#eselectedunit_" + uniqid).html(selectedunit);
            jQuery("#eqty_" + uniqid).html(qty);
            jQuery("#eirate_" + uniqid).html(parseFloat(irate).toFixed(round_off_digit));
            jQuery("#eidisc_" + uniqid).html(parseFloat(item_disc).toFixed(round_off_digit));
            jQuery("#eitax_" + uniqid).html(parseFloat(total_tax_amt).toFixed(round_off_digit));
            jQuery("#edisper_" + uniqid).html(discountper);
            jQuery("#itemtaxdet_" + uniqid).html(JSON.stringify(arr_tax));
            jQuery("#eitotal_" + uniqid).html(parseFloat(final_item_amt).toFixed(round_off_digit));
            resetfrmindent();
            calculateTotalAmount();
        }
        else{
            alertify.alert(lblerrormsg,lblok);
        }
    });

    function editfrompopup(uniqid) {
        $('.invalid').removeClass('invalid');
        jQuery("#editrequest").prop("disabled", false);
        jQuery("#editrequest").show();
        jQuery("#cancelupdate").show();
        jQuery("#addrequest").hide();
        jQuery("#editrequest").val(uniqid);
        var esel_location = jQuery("#esel_location_" + uniqid).html();
        var esel_category = jQuery("#esel_cat_" + uniqid).html();
        var esel_menu = jQuery("#esel_menu_" + uniqid).html();
        var esel_rm = jQuery("#esel_rm_" + uniqid).html();
        var esel_iunit = jQuery("#esel_iunit_" + uniqid).html();
        var eqty = jQuery("#eqty_" + uniqid).html();
        var eirate = jQuery("#eirate_" + uniqid).html();
        var eitotal = jQuery("#eitotal_" + uniqid).html();
        var itemtaxes = jQuery("#itemtaxdet_" + uniqid).html();
        var edisper = jQuery("#edisper_" + uniqid).html();
        var eidisc = jQuery("#eidisc_" + uniqid).html();
        jQuery("#sel_location").val(esel_location);
        checklocationnotnull(esel_location,function(){
            jQuery("#sel_menu").val(esel_menu);
            select_menu(esel_menu,function () {
                jQuery("#sel_category").val(esel_category);
                select_raw_material(esel_category,function () {
                    jQuery("#sel_rm").val(esel_rm);
                    getunit(esel_rm,esel_location,function () {
                        jQuery("#sel_iunit").val(esel_iunit);
                        setunitrate(esel_iunit,esel_location,esel_rm,function () {
                            jQuery("#qty").val(eqty);
                            jQuery("#irate").val(eirate);
                            jQuery("#itotal").val(eitotal);
                            jQuery("#po_discount_per").val(edisper);
                            jQuery("#po_discount_amt").val(eidisc);
                            if(typeof itemtaxes!='undefined'){
                                var arr_tax =  $.parseJSON(itemtaxes);
                                jQuery.each(arr_tax,function (tax_key,tax_value) {
                                    var key_no =tax_value['tax_id'];
                                    if(key_no!=''){
                                        jQuery("#item_tax_enable_tax_"+key_no).prop('checked',true);
                                        jQuery("#item_tax_"+key_no+"_amount").val(tax_value['tax_value']);
                                        jQuery("#item_tax_"+key_no+"_amount").prop('disabled',false);
                                        jQuery("#item_tax_"+key_no+"_tax_total").val(tax_value['tax_amt']);
                                    }
                                });
                            }
                        });
                    });
                });

            });
        });

        calculateTotalAmount();



    }

    function removefrompopup(uniqid) {
        $("#abc_" + uniqid).remove();
        jQuery("#qty").val('');
        jQuery("#irate").val('');
        jQuery("#sel_menu").val(0);
        jQuery('#sel_rm').empty();
        jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#sel_iunit").empty();
        jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#cancelupdate").hide();
        jQuery(".invalid").removeClass('invalid');
        resetnumbers(uniqid);
        calculateTotalAmount();

    }

    function calculateTotalAmount() {
        var TotalAmount = 0;
        $('#detailslist tr').each(function () {
            if ($(this).find("td:first").length > 0) {
                var Amount = $(this).find("td:eq(15)").html();
                TotalAmount += parseFloat(Amount);
            }
        });
        if (TotalAmount == '')
            jQuery("#totalamount").val('0');
        else
            jQuery("#totalamount").val(parseFloat(TotalAmount).toFixed(round_off_digit));
    }


    var checkopened = 0;
    jQuery("#btn_package").click(function () {
        if (checkopened == 0) {
            var indentrecords = {};
            var plocationid;
            var id = jQuery("#getid").val();
            var name = jQuery("#name").val();
            var alias = jQuery("#alias").val();
            var description = jQuery("#description").val();
            var currency = jQuery("#currency").val();
            var country = jQuery("#country").val();
            $('#detailslist tr').each(function () {
                if ($(this).find("td:first").length > 0) {
                    var pindentno = $(this).find("td:eq(0)").html();
                    plocationid = $(this).find("td:eq(4)").html();
                    var pmenuid = $(this).find("td:eq(6)").html();
                    var pcatid = $(this).find("td:eq(9)").html();
                    var pitemid = $(this).find("td:eq(8)").html();
                    var pqty = $(this).find("td:eq(10)").html();
                    var punitid = $(this).find("td:eq(7)").html();
                    var prate = $(this).find("td:eq(12)").html();
                    var ptotal = $(this).find("td:eq(15)").html();
                    var indentrequnkid = $(this).find("td:eq(18)").html();
                    var discount = $(this).find("td:eq(13)").html();
                    var disper = $(this).find("td:eq(17)").html();
                    var tax = $(this).find("td:eq(14)").html();
                    var palltaxes = $(this).find("td:eq(19)").html();
                    indentrecords[pindentno] = {};
                    indentrecords[pindentno]['pindentno'] = pindentno;
                    indentrecords[pindentno]['plocationid'] = plocationid;
                    indentrecords[pindentno]['pmenuid'] = pmenuid;
                    indentrecords[pindentno]['pcatid'] = pcatid;
                    indentrecords[pindentno]['pitemid'] = pitemid;
                    indentrecords[pindentno]['pqty'] = pqty;
                    indentrecords[pindentno]['punitid'] = punitid;
                    indentrecords[pindentno]['prate'] = prate;
                    indentrecords[pindentno]['ptotal'] = ptotal;
                    indentrecords[pindentno]['indentrequnkid'] = indentrequnkid;
                    indentrecords[pindentno]['pdis'] = discount;
                    indentrecords[pindentno]['pdisper'] = disper;
                    indentrecords[pindentno]['ptax'] = tax;
                    indentrecords[pindentno]['palltaxes'] = palltaxes;
                }
            });
            var arr = {};
            arr['service'] = "packages";
            arr['opcode'] = "addpackageadd";
            arr['indentrecords'] = indentrecords;
            arr['id'] = id;
            arr['name'] = name;
            arr['alias'] = alias;
            arr['description'] = description;
            arr['country'] = country;
            arr['currency'] = currency;
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    closeindentmodal();
                    alertify.success(data['Message']);
                    refreshaddedit();
                    if (CHECK_PERMISSION_EXISTS != -1) {
                        refreshlist();
                    }
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        checkopened++;

    });

    function getindentrecords() {
        var id = jQuery("#getid").val();
        jQuery("#btn_package").prop("disabled", false);
        jQuery("#country").prop('disabled', true);
        onedit();
        var arr = {};
        arr['service'] = 'packages';
        arr['opcode'] = 'getPackageRecordsonID';
        arr['id'] = id;
        jQuery(".edit_hide").hide();
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (recObj) {
            if (recObj.Success == 'True') {
                var package = recObj.package;
                var packagedetail = recObj.packagedetail;
                country_val=package.country;
                getoutlets(function () {});
                jQuery("#name").val(package.name);
                jQuery("#alias").val(package.alias);
                jQuery("#description").val(package.description);
                jQuery("#country").val(package.country);
                jQuery("#currency").val(package.currency);

                var editid = jQuery("#detailslist tr:last .getlasttr").html();
                jQuery.each(packagedetail, function (key, value) {
                    if (typeof editid == 'undefined') {
                        editid = 1;
                    }
                    else {
                        editid++;
                    }

                    $('#detailslist').append('<tr id= "abc_' + editid + '">' +
                        '<td align="left" class="getlasttr" id="eindentno_' + editid + '">' + editid + '</td>' +
                        '<td align="left" class="getlasttr" id="eoutlet_' + editid + '">' + value.selectedlocation + '</td>' +
                        '<td align="left" id="emenu_' + editid + '">' + value.selectedmenu + '</td>' +
                        '<td align="left" id="ecategory_' + editid + '">' + value.selectedcategory + '</td>' +
                        '<td align="left" style="display: none" id="esel_location_' + editid + '">' + value.lnkoutletid + '</td>' +
                        '<td align="left" id="eselectedrm_' + editid + '">' + value.selectedrm + '</td>' +
                        '<td align="left" style="display: none" id="esel_menu_' + editid + '">' + value.lnkmenuid + '</td>' +
                        '<td align="left" style="display: none"  id="esel_iunit_' + editid + '">' + value.lnkunitid + '</td>' +
                        '<td align="left" style="display: none" id="esel_rm_' + editid + '">' + value.lnkitemid + '</td>' +
                        '<td align="left" style="display: none" id="esel_cat_' + editid + '">' + value.lnkcatid + '</td>' +
                        '<td align="left" id="eqty_' + editid + '">' + value.qty + '</td>' +
                        '<td align="left" id="eselectedunit_' + editid + '">' + value.selectedunit + '</td>' +
                        '<td align="left" id="eirate_' + editid + '">' + value.raterf + '</td>' +
                        '<td align="left" id="eidisc_' + editid + '">' + value.discountrf + '</td>' +
                        '<td align="left" id="eitax_' + editid + '">' + value.taxamountrf + '</td>' +
                        '<td align="left" id="eitotal_' + editid + '">' + value.totalrf + '</td>' +
                        '<td align="left" style="display: none" id="elocation_' + editid + '">' + value.selectedlocation + '</td>' +
                        '<td align="left" style="display: none" id="edisper_' + editid + '">' + value.discount_per + '</td>' +
                        '<td align="left"  style="display: none" id="indentrequnkid_' + editid + '">' + value.packagerequnkid + '</td>' +
                        '<td align="left"  style="display: none" id="itemtaxdet_' + editid + '">' + value.tax_description + '</td>' +
                        '<td align="left" ><a class="update_ico" id="deletepopup_' + editid + '" onclick="removefrompopup(' + editid + ')" >' +
                        '<i class="fa fa-trash-o"></i></a></td>' +
                        '<td align="left" ><a class="update_ico" id="editpopup_' + editid + '" onclick="editfrompopup(' + editid + ')" >' +
                        '<i class="fa fa-pencil"></i></a></td>' +
                        '</tr>');
                    calculateTotalAmount();
                });
            }
        });
    }

    function onedit() {
        jQuery("#editrequest").prop("disabled", true);
        jQuery("#editrequest").hide();
        jQuery("#addrequest").show();
        jQuery("#addrequest").show();
    }

    function resetnumbers(id) {
        var lastid = jQuery("#detailslist tr:last .getlasttr").html();

        if (typeof lastid != 'undefined') {
            for (var i = id; i <= lastid; i++) {
                var j = i - 1;
                jQuery("#abc_" + i).attr("id", "abc_" + j);
                jQuery("#indentno_" + i).attr("id", "indentno_" + j);
                jQuery("#eindentno_" + i).html(j);
                jQuery("#eindentno_" + i).attr("id", "eindentno_" + j);
                jQuery("#esel_location_" + i).attr("id", "esel_location_" + j);
                jQuery("#eremarks_" + i).attr("id", "eremarks_" + j);
                jQuery("#eselectedrm_" + i).attr("id", "eselectedrm_" + j);
                jQuery("#esel_menu_" + i).attr("id", "esel_menu_" + j);
                jQuery("#esel_iunit_" + i).attr("id", "esel_iunit_" + j);
                jQuery("#esel_rm_" + i).attr("id", "esel_rm_" + j);
                jQuery("#eqty_" + i).attr("id", "eqty_" + j);
                jQuery("#eselectedunit_" + i).attr("id", "eselectedunit_" + j);
                jQuery("#eirate_" + i).attr("id", "eirate_" + j);
                jQuery("#eitotal_" + i).attr("id", "eitotal_" + j);
                jQuery("#elocation_" + i).attr("id", "elocation_" + j);
                jQuery("#deletepopup_" + i).attr("onclick", "removefrompopup(" + j + ")");
                jQuery("#editpopup_" + i).attr("onclick", "editfrompopup(" + j + ")");
                jQuery("#deletepopup_" + i).attr("id", "deletepopup_" + j);
                jQuery("#editpopup_" + i).attr("id", "editpopup_" + j);
            }
        }
        else {
            jQuery("#btn_package").prop('disabled',true);
            jQuery("#country").prop('disabled',false);
            if (editid < 0 || editid == '') {

                $('[data-toggle="tooltip"]').tooltip();
                jQuery("#sel_menu").prop("disabled", false);
                jQuery("#sel_location").prop("disabled", false);
                jQuery("#sel_rm").prop("disabled", false);
                jQuery("#qty").prop("disabled", false);
                jQuery("#sel_iunit").prop("disabled", false);
                jQuery("#irate").prop("disabled", false);
                jQuery("#sel_menu").val(0);
                jQuery("#qty").val('');
                jQuery("#irate").val('');
                jQuery('#sel_rm').empty();
                jQuery('#sel_rm').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
                jQuery("#sel_iunit").empty();
                jQuery('#sel_iunit').append('<option value="0">{{default_langlist.PLEASE_SELECT}}</option>');
            }
        }

    }

    function closeindentmodal() {
        var modalid = jQuery("#package_modal").parent().attr("modal_id");
        closeModal(modalid);
    }


</script>
