{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'store');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}

<li class="active">{{default_langlist.STORE}}</li>
{% endblock %}
{% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-title">
                            {% if  user_type in [1] or '310' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>

                        {% if user_type in [1] or '311' in PRIVdata %}
                        <div class="pull-right card-action" id="Add_Store">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if  user_type in [1] or '313' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    {% if  user_type in [1] or '310' in PRIVdata %}
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" maxlength="15" class="form-control" type="text"
                                               placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if  user_type in [1] or '310' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG2}}</th>
                                <th>{{langlist.LANG7}}</th>
                                <th>{{langlist.LANG9}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="trantable">
                            </tbody>

                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> {{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.storename @>
                                </td>
                                <td>
                                    <@=this.contactperson @>
                                </td>
                                <td>
                                    <@=this.email @>
                                </td>
                                <td>
                                    <@=this.createduser @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modifieduser @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if  user_type in [1] or '314' in PRIVdata %}
                                    <@ if(this.is_mainstore=='0'){ @>
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if  user_type in [1] or '312' in PRIVdata %}
                                    <@ if(this.is_mainstore=='0'){ @>
                                        <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                           href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    <@ } @>
                                    {% endif %}
                                    <!--<@ if(this.is_mainstore=='0'){ @>
                                        <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}')"
                                           title="{{default_langlist.DELETE}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    <@ } @>-->
                                    {% if  user_type in [1] or '313' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="storeform" name="storeform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="storename">{{langlist.LANG2}} {{ default_langlist.UNIQUE
                                }}</label><span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="storename" id="storename"
                                       maxlength="255">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="contactperson">{{langlist.LANG7}}</label><span
                                class="required"
                                aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="contactperson" id="contactperson" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="select_country">{{ langlist.LANG5 }}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select name="select_country" id="select_country" class="form-control dropdown">
                                    <option value="0">Please Select</option>
                                    {% for key,value in countrylist %}
                                    <option value="{{ value['id'] }}">{{ value['countryName']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="email">{{langlist.LANG9}}</label>
                            <div class="controls">
                                <input type="text" class="form-control  email" name="email" id="email"
                                   maxlength="255"   >
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="city">{{langlist.LANG8}}</label><span class="required"
                                                                                                 aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control " name="city" id="city"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="contact">{{langlist.LANG10}}</label>
                            <div class="controls">
                                <input type="text" class="form-control  integer" name="contact" id="contact"
                                       maxlength="30">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="address">{{langlist.LANG4}}</label>
                            <div class="controls">
                                <textarea class="form-control" name="address" id="address"
                                          style="resize: vertical;"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="active">
                                        {{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label"
                                           for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var aTableConfig = {};
    var data = cleanstring("{{ datalist }}");
    var newjson = $('<textarea />').html(data).text();
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("310");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }
    var lbladdstore="{{langlist.LANG1}}";
    var lblstore="{{default_langlist.STORE}}";
    var lbledit="{{default_langlist.EDIT}}";
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
 call_to_check_store_count();

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'store',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text(lbledit+' '+lblstore);
                jQuery("#id").val(id);

                var arr = {};
                arr['service'] = 'store';
                arr['opcode'] = 'editclass';
                arr['id'] = id;
                jQuery(".edit_hide").hide();

                var str = urlencode(JSON.stringify(arr));

                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;
                        $.each(res, function (key, value) {
                            jQuery("#storename").val(value.storename);
                            jQuery("#contactperson").val(value.contactperson);
                            jQuery("#select_country").val(value.country);
                            jQuery("#address").val(value.address);
                            jQuery("#city").val(value.city);
                            jQuery("#email").val(value.email);
                            if(value.contact!='' && value.contact !=0)
                            jQuery("#contact").val(value.contact);
                            if (value.is_active == '1')
                                jQuery("#active").trigger("click");
                            else
                                jQuery("#inactive").trigger("click");
                        });
                    }
                });
            }
            else {
                jQuery("#frmtitle").text(lbladdstore);
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
        jQuery('#storeform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery(".norecord").hide();
        jQuery("#exampleInputName").val('');
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('storeform')) {
            /* code to make atleast one tax selected
               if (jQuery('input[name="tax[]"]:checked').length <= 0) {
                     alertify.alert("Please Select At Least one Tax !");
                    return false;
                 }*/
            var error = 0;

            if (error == 0) {

                showjQloading();
                var id = jQuery("#id").val();
                var country = $( "#select_country option:selected" ).text();
                var myForm = document.getElementById('storeform');
                var ajaxData = new FormData(myForm);
                ajaxData.append('service', 'store');
                ajaxData.append('opcode', 'addeditfrm');
                ajaxData.append('id', id);
                ajaxData.append('country', country);
                HttpSendRequest(ajaxData, function (data) {
                    hidejQloading();
                    if (data['Success'] == 'True') {
                        alertify.success(data['Message']);
                        refreshaddedit();
                        if (CHECK_PERMISSION_EXISTS != -1) {
                            refreshlist();
                        }

                    } else {
                        alertify.error(data['Message']);
                    }

                    return false;
                });

            }


        } else {
            alertify.alert(lblerrormsg,lblok);

        }
    });

    function call_to_check_store_count() {
        var arr = {};
        arr['service'] = 'store';
        arr['opcode'] = 'getStoreCount';
        var str = urlencode(JSON.stringify(arr));
        HttpSendRequest(str, function (data) {
            hidejQloading();
            if (data['Success'] == 'True') {
                var Actual_Store_Count = data.Actual_Store_Count;
                var Store_Count = data.Current_Store_Count;
                if (Actual_Store_Count == '' || Actual_Store_Count == null) {
                    jQuery("#Add_Store").show();
                }
                else {
                    if (parseInt(Actual_Store_Count) <= parseInt(Store_Count)) {
                        jQuery("#Add_Store").hide();
                    }
                    else {
                        jQuery("#Add_Store").show();
                    }
                }

            }
            return false;
        });
    }

</script>
{% endblock %}