{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'admin');
    localStorage.setItem('pagename', 'leftpanel_role');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.USER}}</li>
<li class="active">{{default_langlist.USER_ROLE}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        {% set PRIVdata = PRIVLIST|split(',') %}
                        <div class="card-title">
                            {% if user_type in [1] or '203' in PRIVdata %}
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                            {% endif %}
                        </div>
                        {% if user_type in [1] or '199' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">
                                {{langlist.LANG1}}
                            </button>
                        </div>
                        {% endif %}
                        {% if user_type in [1] or '205' in PRIVdata %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if user_type in [1] or '203' in PRIVdata %}
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-4">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{langlist.LANG2}}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{langlist.LANG3}}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 text-right">
                                    <button class="btn btn-primary " type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-reverse " type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if user_type in [1] or '203' in PRIVdata %}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{langlist.LANG2}}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br> No Record's
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.user_role @>
                                </td>
                                <td>
                                    <@=this.created_user @> <br/>
                                    <@=this.creted_date @>
                                </td>
                                <td>
                                    <@=this.modifiy_user @> <br/>
                                    <@=this.modified_date @>
                                </td>

                                <td align="right" style="width:15%">
                                    {% if user_type in [1] or '202' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.is_active@>')"
                                       href="javascript:void(0)" title="{{default_langlist.STATUS}}">
                                        <input type="hidden" id="status_<@=this.hashkey@>" value="<@=this.is_active@>"/>
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-remove" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% else %}
                                    <a class="update_ico"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.is_active=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '200' in PRIVdata %}
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{default_langlist.EDIT}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '201' in PRIVdata %}
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}','{{default_langlist.AUS_DEL_REC}}','{{ default_langlist.CANCEL }}','{{ default_langlist.OK }}')"
                                       title="{{default_langlist.DELETE}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '204' in PRIVdata %}
                                    <a class="update_ico" title="{{default_langlist.RELATED_RECORDS}}"
                                       onclick="check_related_records('<@= this.hashkey @>','{{ module }}')">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    {% endif %}
                                    {% if user_type in [1] or '205' in PRIVdata %}
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{default_langlist.ACTIVITY}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div id="addedit" class="container-fluid" style="display: none;">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form name="userrolefrm" method="post" id="userrolefrm" class="card">
                <div class="card-header">
                    <div class="card-title">
                        <span id="frmtitle" class="title"></span>
                        <input type="hidden" id="id" name="id" value="0"/>

                        <input type="hidden" id="mode" name="mode"/>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="user_role">{{langlist.LANG2}}{{default_langlist.UNIQUE}}</label><span
                                class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="user_role" id="user_role"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4 edit_hide">
                            <label class="form-label" for="field-1">{{default_langlist.STATUS}}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="active" class="" style="margin-bottom: 8px" name="rdo_status" value="1"
                                           checked="checked" type="radio">
                                    <label class="iradio-label form-label"
                                           for="active">{{default_langlist.ACTIVE}}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="inactive" class="" style="margin-bottom: 8px" name="rdo_status" value="0"
                                           type="radio">
                                    <label class="iradio-label form-label"
                                           for="inactive">{{default_langlist.INACTIVE}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="tabs-section">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabs">
                                    <ul class="nav nav-pills nav_privileges">
                                        <li class="active"><a href="#l1" class="tab_a" id="tab_privillages"
                                                              data-toggle="tab" style="">{{ langlist.LANG5 }}</a>
                                        </li>
                                        <li><a href="#l2" class="tab_a" id="tab_report" data-toggle="tab">{{ langlist.LANG6 }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="checkbox3 checkbox-check">
                        <input type="checkbox" value="{{ key2 }}" name="select_all" id="select_all" >&nbsp;<label
                            for="select_all"><b> {{ langlist.LANG11 }} </b></label>
                    </div>

                    <div class="row" id="privilege">
                        <div class="form-group col-xs-12">
                            <div class="card-body">
                                {% set i = 1 %}
                                {% for key1,value1 in menulist %}
                                
                                <div class="col-md-12 border-section" ><!--Sanjay-->
                                
                                {% if key1 == '1' %}
                                <label class="form-label lable-top" for="field-1" >{{langlist.LANG7}}</label>
                                {% elseif key1 == '2'%}
                                <label class="form-label lable-top" for="field-1" >{{langlist.LANG8}}</label>
                                 {% elseif key1 == '3'%}
                                <label class="form-label lable-top" for="field-1">{{langlist.LANG9}}</label>
                                 {% elseif key1 == '4'%}
                                 <label class="form-label lable-top" for="field-1">{{langlist.LANG10}}</label>
                                 {% else %}
                                <label class="form-label lable-top" for="field-1">{{langlist.LANG10}}</label>
                                {% endif %}
                                 
                                    <!--Sanjay-->
                                <div class="collapse-fix"> 
                                {% for key2,value2 in value1 %}
                                
                                <div class="col-md-12">
                                    <div class="checkbox3 checkbox-check">
                                        <input type="checkbox" value="{{ key2 }}" name="mainmenulist[]"
                                               id="main_menu_{{ i }}" onclick="check_sub_option({{ i }})">&nbsp;<label
                                            for="main_menu_{{ i }}"><b> {{ key2 }} </b></label>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% for key3,value3 in value2 %}
                                    <div class="col-md-3">
                                        <div class="checkbox3 checkbox-check">
                                            <input class="check_{{ i }}" type="checkbox" value="{{ key3 }}"
                                                   name="menulist[]" id="menu_{{ key3 }}">&nbsp; <label
                                                for="menu_{{ key3 }}"> {{ value3|raw }} </label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                               
                                {% set i = i + 1 %}
                                 
                                {% endfor %}
                                </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                  <!--  <div class="row" style="display:none;" id="report">
                        <div class="form-group col-xs-12">
                            <div class="card-body">
                                {% set i = 1 %}
                                {% for key1,value1 in menulist %}

                                {% if(key1=="Reports") %}
                                <div class="col-md-12">
                                    <div class="checkbox3 checkbox-check">
                                        <input type="checkbox" value="{{ key1 }}" name="reportlist[]"
                                               id="main_report_{{ i }}" onclick="check_report_sub_option({{ i }});">&nbsp;<label
                                            for="main_report_{{ i }}"><b> {{ key1 }} </b></label>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% for key2,value2 in value1 %}
                                    <div class="col-md-3">
                                        <div class="checkbox3 checkbox-check">
                                            <input class="check_report_{{ i }}" type="checkbox" value="{{ key2 }}"
                                                   name="reportlist[]"
                                                   id="report_{{ key2 }}">&nbsp; <label for="report_{{ key2 }}"> {{
                                            value2 }} </label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% set i = i + 1 %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
-->

                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 pbottom-30">
                            <button type="button" id="submit" class="btn btn-primary mr10" onclick="adddata();">
                                {{default_langlist.SUBMIT}}
                            </button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-reverse ">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
    var lblerrormsg="{{default_langlist.Missing_Field}}";
    var lblok="{{default_langlist.OK}}";
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("203");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }
    function pageInit(data) {

        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'userrole',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }
    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }
    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),

            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }
    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function adddata() {
        var items = [];
        var items1 = [];

        jQuery.each(jQuery("input[name='menulist[]']:checked"), function () {
            items.push($(this).val());
        });
        /*jQuery.each(jQuery("input[name='reportlist[]']:checked"), function () {
            items1.push($(this).val());
        });*/
        if (validate_form('userrolefrm')) {
            showjQloading();
            var id = jQuery("#id").val();
            var myForm = document.getElementById('userrolefrm');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'userrole');
            ajaxData.append('opcode', 'adduserdetail');
            ajaxData.append('id', id);
            ajaxData.append('privilege', items);
            ajaxData.append('reportprivilege', items1);

            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                    if (CHECK_PERMISSION_EXISTS != -1) {
                        refreshlist();
                    }
                } else {
                    alertify.error(data['Message']);
                }
                return false;
            });
        }
        else {
            alertify.alert(lblerrormsg,lblok);
        }
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('{{ langlist.LANG4 }}');
                jQuery("#id").val(id);

                jQuery(".edit_hide").hide();
                var arr = {};
                arr['service'] = 'userrole';
                arr['opcode'] = 'getUserRoleRec';
                arr['id'] = id;

                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var UserRole = recObj.UserRole;
                       
                        var res = recObj.Data;
                     
                        jQuery("#user_role").val(UserRole.user_role);


                        if(res != null)
                        {

                            $.each(res, function (i, value2) {
                                jQuery("#menu_" +value2.operational_privileges).prop('checked', true);
                               // jQuery("#report_" +value2.operational_privileges).prop('checked', true);

                                //jQuery("#main_menu_" + value2.lnkprivilegegroupid).prop('checked', true);
                               // jQuery("#ureportlist" +value2.pirv).prop('checked', true);
                            });


                        }



                    }
                });
            }
            else {
                jQuery("#frmtitle").text('{{ langlist.LANG1 }}');
                jQuery("#id").val('0');
                jQuery(".edit_hide").show();
            }
        }
        catch (e) {
            alert(e);
        }
    }
    $("#userrolefrm").on('submit', (function (e) {
        e.preventDefault();
    }));
    function refreshaddedit() {
        jQuery('.invalid').removeClass('invalid');
      /*  jQuery("li:nth-child(1)").addClass('active');
        jQuery("li:nth-child(2)").removeClass('active');*/
        jQuery('#privilege').show();
        jQuery('#report').hide();
        jQuery('#userrolefrm').trigger('reset');
        jQuery("input[name='menulist[]']:checkbox").prop('checked', false);
       //
        //jQuery("input[name='reportlist[]']:checkbox").prop('checked', false);
        jQuery("#addedit").hide();
        jQuery("#list").show();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

   /* jQuery('#tab_privillages').click(function () {
        jQuery('#privilege').show();
        jQuery('#report').hide();
    });
    jQuery('#tab_report').click(function () {
        jQuery('#privilege').hide();
        jQuery('#report').show();
    });*/
    jQuery(document).ready(function () {
        refreshaddedit();
    });

    function check_sub_option(mainid) {
        if (jQuery('#main_menu_' + mainid).is(":checked")) {
            jQuery('.check_' + mainid).prop('checked', true);
            jQuery('.check_' + mainid).attr("disabled", false);
        }
        else {
            jQuery('.check_' + mainid).prop('checked', false);
            // jQuery('.check_'+mainid).attr("disabled", true);
        }
    }

    $('#select_all').click(function(event) {
        if(this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });
    /*function check_report_sub_option(mainid) {
        if (jQuery('#main_report_' + mainid).is(":checked")) {
            jQuery('.check_report_' + mainid).prop('checked', true);
            jQuery('.check_report_' + mainid).attr("disabled", false);
        }
        else {
            jQuery('.check_report_' + mainid).prop('checked', false);
            // jQuery('.check_'+mainid).attr("disabled", true);
        }
    }*/
</script>
{% endblock %}