{% extends 'base.html' %} {% block headblock %}
<script type="text/javascript" src="{{ commonurl }}themes/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="{{ commonurl }}themes/js/aTable.js"></script>
<link rel="stylesheet" type="text/css" href="{{ commonurl }}themes/plugins/datepicker/css/datepicker.css"/>
<script type="text/javascript" src="{{ commonurl }}themes/plugins/datepicker/js/datepicker.js"></script>
<script type="text/javascript">
    localStorage.setItem('modulename', 'users');
    localStorage.setItem('pagename', '');
</script>
{% endblock %} {% block headerblock %}
<li>{{default_langlist.USER}}</li>
<li class="active">{{default_langlist.USER_LIST}}</li>
{% endblock %} {% block content %}
<div id="list" class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">{{default_langlist.SEARCH_CRITERIA}}</div>
                        </div>
                        {% if user_type in [1,2] %}
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button" onclick="loadaddedit('Add','')">{{
                                langlist.LANG1 }}
                            </button>
                        </div>
                        <div class="pull-right card-action">
                            <button class="btn btn-primary pull-left" type="button"
                                    onclick="check_audit_activity('','{{ module }}')">{{default_langlist.VIEW_LOGS}}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group marginbottomzero">
                                <div class="col-xs-12 col-md-3">
                                    <label class="col-sm-4 control-label textalignleft paddingzero"
                                           for="exampleInputName2">{{ langlist.LANG2 }}</label>
                                    <div class="col-sm-8 paddingzero marginbottom5">
                                        <input id="exampleInputName" class="form-control" type="text"
                                               placeholder="{{ langlist.LANG3 }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9 text-right">
                                    <button class="btn btn-info" type="button" onclick="doSearch()">
                                        {{default_langlist.SEARCH}}
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="doReset()">
                                        {{default_langlist.RESET}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>{{ langlist.LANG4 }}</th>
                                <th>{{ langlist.LANG5 }}</th>
                                <th>{{default_langlist.CREATED_BY}}</th>
                                <th>{{default_langlist.MODIFIED_BY}}</th>
                            </tr>
                            </thead>
                            <tbody id="trantable">
                            </tbody>
                        </table>
                        {% include 'table_pager.html' %}
                        <div class="norecord" style="display:none">
                            <i class="fa fa-meh-o"></i>
                            <br>{{default_langlist.NO_RECORDS}}
                        </div>
                        <script id="trantemplate" type="text/x-jqote-template">
                            <tr>
                                <td>
                                    <@=this.username @>
                                </td>
                                <td>
                                    <@=this.mobile @>
                                </td>
                                <td>
                                    <@=this.created_user @> <br/>
                                    <@=this.created_date @>
                                </td>
                                <td>
                                    <@=this.modified_user @> <br/>
                                    <@=this.modified_date @>
                                </td>
                                <td align="right" style="width:15%">
                                    {% if user_type in [1,2] %}
                                    <@ if(this.sysdefined==1 ){ @>
                                    <@ if(this.userid=={{ loginuser }} ){ @>
                                    <a class="update_ico" onclick="changepassword('<@=this.hashkey@>')"
                                       title="{{ default_langlist.CHANGE_PASSWORD }}">
                                        <i class="fa fa-unlock-alt"></i>
                                    </a>
                                    <@ } @>
                                    <@ }else{ @>
                                    <a class="update_ico" onclick="changepassword('<@=this.hashkey@>')"
                                       title="{{ default_langlist.CHANGE_PASSWORD }}">
                                        <i class="fa fa-unlock-alt"></i>
                                    </a>
                                    <@ } @>
                                    {% else %}
                                    <@ if(this.userid=={{ loginuser }} ){ @>
                                    <a class="update_ico" onclick="changepassword('<@=this.hashkey@>')"
                                       title="{{ default_langlist.CHANGE_PASSWORD }}">
                                        <i class="fa fa-unlock-alt"></i>
                                    </a>
                                    <@ } @>
                                    {% endif %}
                                    {% if(sysdefined==1) %}
                                    <@ if(this.sysdefined==0 ){ @>
                                    <a class="update_ico"
                                       onclick="toggleactive('<@=this.hashkey@>','{{ module }}','<@=this.isactive@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.STATUS }}">
                                        <@ if(this.isactive=='1'){ @>
                                        <i class="fa fa-check"></i>
                                        <@ } else { @>
                                        <i class="fa fa-close" style="color: red"></i>
                                        <@ } @>
                                    </a>
                                    <@ } @>
                                    {% endif %}
                                    {% if user_type in [1,2] %}
                                    <@ if(this.sysdefined==1 ){ @>
                                    <@ if(this.userid=={{ loginuser }} ){ @>
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <@ } @>
                                    <@ }else{ @>
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <@ } @>
                                    {% else %}
                                    <@ if(this.userid=={{ loginuser }} ){ @>
                                    <a class="update_ico" onclick="loadaddedit('edit','<@=this.hashkey@>')"
                                       href="javascript:void(0)" title="{{ default_langlist.EDIT }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <@ } @>
                                    {% endif %}
                                    {% if(sysdefined==1) %}
                                    <@ if(this.sysdefined==0 ){ @>
                                    <a class="update_ico" onclick="remove('<@= this.hashkey @>','{{ module }}')"
                                       title="{{ default_langlist.DELETE }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <a class="update_ico"
                                       onclick="check_audit_activity('<@= this.hashkey @>','{{ module }}')"
                                       title="{{ default_langlist.ACTIVITY }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <@ } @>
                                    {% endif %}
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addedit" class="container-fluid" style="display: none">
    <div class="side-body">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <form id="txtform" name="txtform" class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 15px;">
                        <div class="card-title">
                            <span id="frmtitle" class="title"></span>
                            <input type="hidden" id="id" name="id" value="0"/>
                            <input type="hidden" id="mode" name="mode"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG6 }}</label><span class="required"
                                                                                                        aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="shortcode" id="shortcode"
                                       maxlength="10">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG7 }}</label>
                            <span class="required"aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="name" id="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG4 }}</label><span class="required"
                                                                                                        aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull" name="username" id="username"
                                       maxlength="20">
                            </div>
                        </div>
                        <div class="form-group col-md-4" id="pwd">
                            <label class="form-label" for="shortcode">{{ langlist.LANG8 }}</label>
                            <span class="required"aria-required="true"> *</span>
                            <div class="controls">
                                <input type="password" class="form-control notnull" name="password" id="password"
                                       maxlength="20">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG9 }}</label><span class="required"
                                                                                                        aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull email" name="emailid" id="emailid"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="shortcode">{{ langlist.LANG5 }}</label><span class="required"
                                                                                                        aria-required="true"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control notnull integer" name="mobileno" id="mobileno"
                                       maxlength="15">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label" for="roleunkid">{{langlist.LANG20}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="roleunkid" name="roleunkid" class="form-control dropdown"  >
                                    <!--<option value="0"> {{langlist.LANG20}}</option>-->
                                   <!-- {% for key,value in userrolelist %}
                                    <option value="{{ value['roleunkid'] }}">{{ value['user_role'] }}</option>
                                    {% endfor %}-->
                                    <option value="1" selected>Manager</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="form-label" for="field-1">{{ langlist.LANG10 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="default" class="" style="margin-bottom: 8px" name="rdo_lang_type"
                                           value="0" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="default">{{ langlist.LANG11 }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="custom" class="" style="margin-bottom: 8px" name="rdo_lang_type"
                                           value="1" type="radio">
                                    <label class="iradio-label form-label" for="custom">{{ langlist.LANG12 }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4" id="langlist" style="display: none;">
                            <label class="form-label" for="language">{{ langlist.LANG13 }}</label>
                            <select class="form-control" name="select_language" id="select_language">
                                <option value="0" selected="selected">Please Select</option>
                                {% for key,value in lang_list %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if(sysdefined==1) %}
                        <div class="form-group col-md-4">
                            <label class="form-label" for="roleunkid">{{langlist.LANG16}}</label>
                            <span class="required" aria-required="true"> *</span>
                            <div class="controls">
                                <select id="rdo_usr_type" name="rdo_usr_type" class="form-control dropdown"  >
                                   <!-- <option value="0"> {{default_langlist.PLEASE_SELECT}}</option>-->
                                    <!-- {% for key,value in userrolelist %}
                                     <option value="{{ value['roleunkid'] }}">{{ value['user_role'] }}</option>
                                     {% endfor %}-->
                                    <option value="2" selected>{{langlist.LANG17}}</option>
                                </select>
                            </div>
                        </div>
                       <!-- <div class="form-group col-md-4" id="usr_type">

                            <label class="form-label" for="field-1">{{ langlist.LANG16 }}</label>
                            <div class="controls">
                                <div class="radio3 radio-check radio-inline">
                                    <input id="admin_usr" class="" style="margin-bottom: 8px" name="rdo_usr_type"
                                           value="2" checked="checked" type="radio">
                                    <label class="iradio-label form-label" for="admin_usr">{{ langlist.LANG17 }}</label>
                                </div>
                                <div class="radio3 radio-check radio-inline">
                                    <input id="sub_usr" class="" style="margin-bottom: 8px" name="rdo_usr_type"
                                           value="3" type="radio">
                                    <label class="iradio-label form-label" for="sub_usr">{{ langlist.LANG18 }}</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group col-md-12" id="cm_lc_lst">
                            <label class="form-label" for="field-1">{{langlist.LANG19}}</label>
                            <div class="controls">
                                {% for key,value in location_list %}
                                <div class="col-md-3">
                                    <div class="checkbox3 checkbox-check">
                                        <input type="checkbox" value="{{ value['syslocationid'] }}"
                                               name="slct_location[]" id="slct_location{{ value['syslocationid'] }}">
                                        <label for="slct_location{{ value['syslocationid'] }}">{{ value['locationname']
                                            }} </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group col-md-12" id="cm_store">
                            <label class="form-label" for="select_store">{{langlist.LANG22}}</label>
                            <div class="controls">
                                {% for key,value in storelist %}
                                <div class="col-md-3">
                                    <div class="checkbox3 checkbox-check">
                                        <input type="checkbox" value="{{ value['storeunkid'] }}"
                                               name="select_store[]" id="select_store{{ value['storeunkid'] }}">
                                        <label for="select_store{{ value['storeunkid'] }}">{{ value['storename']
                                            }} </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group col-md-12" style="text-align: right;margin-right: 15px;">
                            <button type="button" id="submit" class="btn btn-info">{{default_langlist.SUBMIT}}</button>
                            <a onclick="refreshaddedit();">
                                <button type="button" class="btn btn-default">{{default_langlist.BACK}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade modal-primary" id="modalChangePassword" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmchangepwd" name="frmchangepwd">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ langlist.LANG14 }}</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body clearfix" style="padding: 15px;">
                            <div class="form-group clearfix">
                                <label class="col-sm-3 control-label textalignleft" for="password">{{ langlist.LANG15
                                    }}</label>
                                <div class="col-sm-9">
                                    <input name="txtnewpwd" id="txtnewpwd" class="form-control" type="password"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <div class="col-xs-12">
                        <input type="hidden" name="userid" id="userid">
                        <button id="btnsave" type="button" class="btn btn-primary" onclick="change_password();">{{
                            default_langlist.SAVE }}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ default_langlist.CLOSE
                            }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var aTableConfig = {};
    var data = "{{ datalist }}";
    var newjson = $('<textarea />').html(data).text();
     var PERMISSION_LIST = "{{ PRIVLIST }}";    var SPLIT_PERMISSION = PERMISSION_LIST.split(',');    var CHECK_PERMISSION_EXISTS = SPLIT_PERMISSION.indexOf("188");    if (CHECK_PERMISSION_EXISTS != -1) {        pageInit(newjson);    }

    function pageInit(data) {
        aTableConfig = {
            url: '{{ commonurl }}cloud/controller',
            opcode: 'rec',
            service: 'users',
            pagesize: '50',
            template: 'trantemplate',
            usepager: true,
            usesorting: true,
            showprogress: false,
            load: false,
            recnofound: function () {
                recnofound();
            }
        };
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: data,
            showprogress: true
        });
        jQuery("#trantable").aTable("init", aTableConfig);
        jQuery(".totalcnt").text(data[0].cnt);
    }

    function recnofound() {
        jQuery(".aTablePager").hide();
        jQuery(".norecord").show();
    }

    function doSearch() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: true,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function doReset() {
        jQuery("#exampleInputName").val("");
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });

        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    function loadaddedit(action, id) {
        try {
            refreshaddedit();
            jQuery("#list").hide();
            jQuery("#addedit").show();
            jQuery("#active").attr("checked", true);
            jQuery("#mode").val(action);
            if (action == 'edit' && id != "") {
                jQuery("#frmtitle").text('Edit user');
                jQuery("#id").val(id);
                jQuery("#pwd").hide();
                var arr = {};
                arr['service'] = 'users';
                arr['opcode'] = 'getUserRec';
                arr['id'] = id;
                var str = urlencode(JSON.stringify(arr));
                HttpSendRequest(str, function (recObj) {
                    if (recObj.Success == 'True') {
                        var res = recObj.Data;

                        jQuery("#shortcode").val(res.shortcode);
                        jQuery("#name").val(res.name);
                        jQuery("#username").val(res.username);
                        jQuery("#password").val(res.password);
                        jQuery("#emailid").val(res.email);
                        jQuery("#mobileno").val(res.mobile);
                        jQuery("#roleunkid").val(res.roleunkid);
                        jQuery("#rdo_usr_type").val(res.user_type);
                        jQuery('input:radio[name="rdo_lang_type"]').filter('[value=' + res.lang_type + ']').prop('checked', true);
                        //jQuery('input:radio[name="rdo_usr_type"]').filter('[value=' + res.user_type + ']').prop('checked', true);
                        if (res.user_type == 1) {
                            jQuery("#usr_type").hide();
                            jQuery("#cm_lc_lst").hide();
                        }
                        if (res.user_type == 2 || res.user_type == 3) {
                            jQuery("#cm_lc_lst").show();
                        } else {
                            jQuery("#cm_lc_lst").hide();
                        }
                        if ((res.user_type == 2 || res.user_type == 3) && res.usr_location != '' && res.usr_location != 0 ) {
                            var loc = res.usr_location.split(',');
                            $.each(loc, function (key, value) {
                                jQuery("#slct_location" + value).prop('checked', 'true');
                            });
                        }

                        if (res.storeid != null  ) {
                            var storeid = res.storeid.split(',');
                            $.each(storeid, function (key, value) {
                                jQuery("#select_store" + value).prop('checked', 'true');
                            });
                        }
                        if (res.lang_type == 1) {
                            jQuery("#langlist").show();
                            jQuery("#select_language").val(res.lang_code);
                        } else {
                            jQuery("#langlist").hide();
                        }


                    }
                });
            }
            else {
                jQuery("#frmtitle").text('Add user');
                jQuery("#id").val('0');
            }
        } catch (e) {
            alert(e);
        }
    }

    function refreshaddedit() {
        jQuery("#pwd").show();
        jQuery("#cm_lc_lst").show();
        jQuery("#usr_type").show();
        jQuery('.invalid').removeClass('invalid');
        jQuery('#txtform').trigger('reset');
        jQuery("#addedit").hide();
        jQuery("#list").show();
        jQuery("#langlist").hide();
    }

    function refreshlist() {
        aTableConfig = jQuery.extend(aTableConfig, {
            tabledata: null,
            pagesize: jQuery("#lstRecPerPage").val(),
            csearch: {
                nm: jQuery("#exampleInputName").val(),
            },
            resetpaging: false,
            showprogress: true
        });
        jQuery("#trantable").aTable("refreshTable", aTableConfig);
    }

    jQuery("#submit").click(function () {
        if (validate_form('txtform')) {
            showjQloading();
            var id = jQuery("#id").val();
            var myForm = document.getElementById('txtform');
            var ajaxData = new FormData(myForm);
            ajaxData.append('service', 'users');
            ajaxData.append('opcode', 'addeditfrm');
            ajaxData.append('id', id);
            HttpSendRequest(ajaxData, function (data) {
                hidejQloading();
                if (data['Success'] == 'True') {
                    alertify.success(data['Message']);
                    refreshaddedit();
                }
                if (data['Success'] == 'false') {
                    alertify.error(data['Message']);
                }
                if (CHECK_PERMISSION_EXISTS != -1) {
                    refreshlist();
                }
                return false;
            });
        } else {
            alertify.alert('Please fill necessary information');
        }
    });

    function changepassword(id) {
        jQuery(".invalid").removeClass('invalid');
        jQuery("#modalChangePassword").modal('show');
        jQuery('#frmchangepwd').trigger('reset');
        jQuery("#userid").val(id);
    }

    function change_password() {
        showjQloading();
        var error = 0;
        jQuery(".invalid").removeClass('invalid');
        if (jQuery("#txtnewpwd").val() == "") {
            error = 1;
            jQuery("#txtnewpwd").addClass('invalid');
        }
        if (error == 1) {
            hidejQloading();
            return false;
        } else {
            var arr = {};
            arr['service'] = 'users';
            arr['opcode'] = 'change_password';
            arr['newpwd'] = jQuery("#txtnewpwd").val();
            arr['id'] = jQuery("#userid").val();
            var str = urlencode(JSON.stringify(arr));
            HttpSendRequest(str, function (data) {
                hidejQloading();
                jQuery("#modalChangePassword").modal('hide');
                if (data['Success'] == 'True') {
                    refreshlist();
                    alertify.success(data['Message']);
                } else {
                    alertify.error(data['Message']);
                }
                jQuery('#txtnewpwd').val('');
                jQuery('#userid').val('');
                return false;
            });
        }
    }
    function check_sub_option(mainid) {
        if(jQuery('#main_menu_'+mainid).is(":checked"))
        {
            jQuery('.check_'+mainid).prop('checked',true);
            jQuery('.check_'+mainid).attr("disabled", false);
        }
        else
        {
            jQuery('.check_'+mainid).prop('checked',false);
        }
    }

    jQuery('input[name="rdo_lang_type"]:radio').change(function () {
        var type = $(this).val();
        if (type == 1) {
            jQuery("#langlist").show();
            jQuery("#select_language").addClass('dropdown');
            jQuery("#select_language").removeClass('invalid');
        } else {
            jQuery("#langlist").hide();
            jQuery("#select_language").val(0);
            jQuery("#select_language").removeClass('dropdown');
        }
    });
   /* jQuery('input[name="rdo_usr_type"]:radio').change(function () {
        var type = $(this).val();
        if (type == 2) {
            jQuery("#cm_lc_lst").show();
        } else {
            jQuery("#cm_lc_lst").hide();
            jQuery("input[name='slct_location[]").prop('checked', false);
        }
    });*/


</script>
{% endblock %}