<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{data.company_name}} | Goods Return
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">{{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>Email</b> {{data.email}} | <b>Phone</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 70px;display: inline-block;padding-right:10px;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="width: 100%;display: table;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Vendor</strong>:&nbsp;{{data.vendor_name}}

                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Contact</strong>:&nbsp;{{data.vendor_mobile}} |  <strong>Email</strong>: {{data.vendor_email}}

                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Date</strong>:&nbsp;{{data.Voucher_Date}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </td>
                           
                            <td style="width: 40%">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>GR</strong>:&nbsp;{{data.gr_voucher_num}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Voucher</strong>:&nbsp;{{data.voucher_num}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Report Date</strong>:&nbsp;{{data.current_date}}
                                            </td>
                                        </tr>
                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>Print By</strong>:&nbsp;{{data.print_by}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table>                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt;table-layout: fixed;">
                                    <thead>
                                        <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;width: 4%;">
                                                <strong>Sr.</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;width: 9%;">
                                                <strong>Item</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width:5%;">
                                                <strong>Qty</strong>
                                            </th>

                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 10%;">
                                                <strong>Rate</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 9%;">
                                                <strong>Dis</strong>
                                            </th>
                                            {% set arr_tax = data.arr_tax_total %}
                                            {% for key,value in data.taxheader %}
                                            <th id="{{key}}" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 9%;">
                                                <strong>{{value}}</strong>
                                            </th>
                                            {% endfor %}


                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width:12%;">
                                                <strong>Total({{ data.currency_sign }})</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.grdetail %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td style="padding: 5px;">{{i}}
                                        </td>
                                        <td style="padding: 5px;">{{value.storeitem}}
                                        </td>
                                        <td style="padding: 5px;text-align: right;">{{value.qty}} {{value.unit}}
                                        </td>

                                        <td style="padding: 5px;text-align: right;">{{value.rate}}</td>
                                        <td style="padding: 5px;text-align: right;">{{value.discount_amount}}
                                        </td>

                                        {% set item_tax = value.tax_amount %}
                                        {% for key2,value2 in data.taxheader %}
                                        {% if item_tax[key2] is defined %}
                                        <td width="9%" style="padding: 5px;text-align: right"> {{ item_tax[key2] }} </td>
                                        {% else %}
                                        <td width="9%" style="padding: 5px;text-align: right"> </td>
                                        {% endif %}
                                        {% endfor %}

                                        <td width="10%" style="padding: 5px;text-align: right;">{{value.total}}
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="10" style="border-bottom: 1px solid;padding: 5px 7px;"></td>
                                    </tr>
                                    <tr>
                                        <td width=4% style="padding: 5px;text-align: right;"></td>

                                        <td width=10% style="padding: 5px;text-align: right;"></td>
                                        <td colspan="2" width=10% style="padding: 5px;text-align: right;"><b
                                                style="display: block;font-weight: 600;white-space: nowrap;"> Grand Total({{ data.currency_sign }})</b>
                                        </td>
                                        <td width=10% style="padding: 5px;text-align: right;"><b
                                                style="display: block;font-weight: 600;white-space: nowrap;"> {{data.Discounttotal}}</b>
                                        </td>

                                        {%  for key3,value3 in data.arr_tax_total %}
                                        <td width="9%" style="padding: 5px;text-align: right">{{value3}}</td>
                                        {% endfor %}

                                        <td width=9% style="padding: 5px;text-align: right;">
                                            <b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.totalamount}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center;font-size: 14px;">                        
                        <tr>
                            <td colspan="2" style="padding: 5px;text-align: left;height: 100px;vertical-align: text-bottom;"><b>Remarks</b> -  {{data.remarks}}
                            </td>
                        </tr>                        
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;text-align: center;height: 60px;vertical-align: text-bottom;">
                   <table style="width: 100%;font-size: 10pt">
                       <tbody>
                           <tr>
                               <td style="padding: 5px;text-align: left;height: 60px;vertical-align: text-bottom;width: 50%"><b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">Authority</b>
                                </td>
                                <td style="padding: 5px;text-align: right;height: 60px;vertical-align: text-bottom;width: 50%"><b style="border-top: 1px solid #333;display: inline-block;padding-right: 70px;padding-left: 70px;">Manager</b>
                            </td>
                           </tr>
                       </tbody>
                   </table>                    
                </td>                 
                
            </tr>
        </table>
    </div>
</div>