<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{data.company_name}} | {{data.default_langlist.GOODRECEIPTNOTEREG}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">{{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}} </b> -  {{data.email}} | <b>{{data.default_langlist.PHONE}}</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{data.company_logo}}" alt="logo" style="margin: 0 auto;height: 50px;display: block;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="width: 100%;display: table;">
                                <table>
                                    <tbody>

                                         <tr>
                                            <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.langlist.LANG20}}</strong>:&nbsp;{{data.print_by}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </td>
                           
                            <td style="width: 40%">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 14px;">
                                                <strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>:&nbsp;{{data.current_date}}
                                            </td>
                                        </tr>
                                         <tr>

                                    </tbody>
                                </table>
                                
                            </td>
                        </tr>
                        
              
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;table-layout: fixed;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt;table-layout: fixed;white-space: normal;word-break: break-word;">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <th width="8%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 10%;">
                                            {{data.default_langlist.DATE}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;width: 10%;">
                                            {{data.default_langlist.VOUCHER}} {{data.default_langlist.NO}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 5%;">
                                            {{data.langlist.LANG19}}
                                        </th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: center;width: 10%;">
                                            {{data.default_langlist.VENDOR}}
                                        </th>

                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width:12%;">
                                            {{data.default_langlist.TAX}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width:12%;">
                                            {{data.default_langlist.DISCOUNT}}
                                        </th>
                                        <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding:5px;text-align: right;width: 9%;">
                                            {{data.default_langlist.TOTAL_PRICE}} ({{ data.currency_sign }})
                                        </th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for key,value in data.grnRecords %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td width="8%" style="padding:10px;">{{value.grn_date}}
                                        </td>
                                        <td width=15%"style="padding:5px;">{{value.voucher_no}}
                                        </td>
                                        <td width="10%" style="padding:5px;text-align: right;">{{value.grn_doc_num}}
                                        </td>

                                        <td width="10%" style="padding:5px;text-align: center;">{{value.Vendor_name}}</td>


                                        <td width="9%"style="padding:5px;text-align: right"> {{value.TA}}</td>

                                        <td width="9%" style="padding:5px;text-align: right;">{{value.DA}}</td>
                                        <td width="15%" style="padding:5px;text-align: right"> {{ value.totalamount }} </td>

                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7" style="border-bottom: 1px solid;padding: 5px 7px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;">{{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }})</b>
                                        </td>


                                        <td style="padding: 5px;text-align: right">{{data.Tax_Total}}</td>
                                        <td style="padding: 5px;text-align: right">{{data.DIS_Total}}</td>
                                        <td style="padding: 5px;text-align: right;"><b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.Grand_Total}}</b>
                                        </td>



                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</div>