<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle" style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;" align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{ data.company_name }} | {{data.default_langlist.ISSUEREGISTER}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">{{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}}</b> - {{data.email}} | <b>{{data.default_langlist.PHONE}}</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 70px;display: inline-block;padding-right:10px;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;"><strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>: {{ data.current_date }}</td>

                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff"
                                       style="font-size: 9pt">
                                    <thead>
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                        <td width="5%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{data.default_langlist.NO}}
                                        </strong>
                                        </td>
                                        <td width=25%" bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;"><strong>{{data.default_langlist.DATE}} </strong>
                                        </td>
                                        <td width="20%" bgcolor="#ececec"  style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;"> <strong>{{data.default_langlist.VOUCHER}} {{data.default_langlist.NO}}</strong>
                                        </td>
                                        <td width="25%" bgcolor="#ececec"style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;">
                                            <strong>{{data.default_langlist.RECEIVING_STORE}}</strong>
                                        </td>

                                        <td width="10%" bgcolor="#ececec"  style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right"> <strong>{{data.default_langlist.TOTAL_PRICE}}({{ data.currency_sign }})</strong>
                                        </td>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if data.issuedetail is not empty%}
                                    {% set i = 1 %}
                                    {% for key,value in data.issuedetail %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        <td width="5%" style="padding: 5px;">{{i}}
                                        </td>
                                        <td width="25%" style="padding: 5px;">{{value.issueDate}}
                                        </td>
                                        <td width="20%" style="padding: 5px;text-align: left;">{{value.issue_doc_num}}
                                        </td>

                                        <td width="25%" style="padding: 5px;text-align: left;">{{value.storename}}</td>

                                        <td width="10%" style="padding: 5px;text-align: right;">{{value.totalamount}}
                                        </td>
                                        
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <td colspan="5" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td width=5% style="padding: 5px;text-align: right;"></td>
                                        <td width=25% style="padding: 5px;text-align: right;"></td>



                                        <td width=20% style="padding: 5px;text-align: right;">
                                        </td>


                                        <td width=25% style="padding: 5px;text-align: left;"><b
                                                style="display: block;font-weight: 600;white-space: nowrap;"> {{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }})</b>
                                        <td width=10% style="padding: 5px;text-align: right;">
                                            <b style="display: block;font-weight: 600;white-space: nowrap;"> {{data.Grand_total}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

    </div>
</div>