<div class="card-body" style="padding-bottom: 20px;margin-top: 10px;display: table;width: 100%">
    <div class="col-xs-12 paddingzero">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #7d7d7d">
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px">
                                            <h2 style="width: 100%;text-align: left;padding-bottom: 3px;margin: 0px 0px -5px;font-size: 25px;">
                                                {{ data.company_name }} | {{data.default_langlist.ITEMSTOCKLEDGER}}
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 5px;text-align: left;font-size: 14px;letter-spacing: .4px;">
                                            {{ data.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: left;font-size: 15px;"><b>{{data.default_langlist.EMAIL}}</b> -
                                            {{data.email}} | <b>{{data.default_langlist.PHONE}}</b> - {{
                                            data.phone}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                {% if data.company_logo !='' %}
                                <img src="{{ data.company_logo }}" style="margin: 0 auto;height: 70px;display: inline-block;padding-right:10px;">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="middle"
                    style="font-family: Cambria;font-size: 14pt; color: #333333; text-decoration: none;font-weight: normal;"
                    align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5"
                           style="border-top: 1px solid #7d7d7d;text-align: center">
                        <tr>
                            <td style="padding: 5px;text-align: left;font-size: 14px;"><strong>{{data.default_langlist.REPORTS}} {{data.default_langlist.DATE}}</strong>: {{ data.current_date }}
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                           style="margin-top: -1px;margin: 10px 0 2px;border-top: 1px solid #7d7d7d;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt;table-layout: fixed;">
                                    <thead>
                                        <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;letter-spacing: .4px;">
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px; width: 10%;">
                                                <strong>{{data.langlist.LANG4}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;width: 7%;">
                                                <strong>{{data.langlist.LANG22}} </strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;width: 4%;">
                                                <strong>{{data.langlist.LANG13}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;width: 8%;">
                                                <strong>{{data.langlist.LANG2}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;width: 8%;">
                                                <strong>{{data.langlist.LANG23}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: left;width: 14%;">
                                                <strong>{{data.langlist.LANG24}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 8%;">
                                                <strong>{{data.langlist.LANG25}}</strong>
                                            </th>
                                            <th bgcolor="#ececec" style="border-bottom: 1px solid #7d7d7d;padding: 5px;text-align: right;width: 8%;">
                                                <strong>{{data.default_langlist.TOTAL_PRICE}}</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if data.issuedetail is not empty%}
                                    {% for key,value2 in data.Item %}
                                    <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                        {% if value2.ItemDetail !='' %}
                                        <td style="padding: 5px; vertical-align: top;"> {{value2.ItemName}} </td>
                                        <td style="padding: 5px; vertical-align: top;">{{value2.Cat_name}}  </td>
                                        <td style="padding: 5px; vertical-align: top;" >{{value2.Unit_name}} </td>
                                        {% endif %}
                                        <td colspan="5">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#ffffff" style="font-size: 9pt">
                                                {% if value2.ItemDetail !='' %}
                                                {% for key,value in value2.ItemDetail %}
                                                <tr style="font-family: Tahoma;font-size: 10pt;color: #333333;text-decoration: none;">
                                                    <td style="padding: 5px; width: 18%; vertical-align: top;" align="left">{{value.INV_Date}}
                                                        {% if value.Type != '' %}
                                                            {% if value.Type == 1 %}
                                                                {{ value.date }}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if value.Type2 != '' %}
                                                            {% if value.Type2 == 2 %}
                                                                {{ value.date2 }}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if value.Type3!= '' %}
                                                             {% if value.Type3 == 3 %}
                                                                {{ value.date3 }}
                                                            {% endif %}
                                                        {% endif %}</td>
                                                    <td style="padding: 5px; width: 15%; vertical-align: top;" align="left"> {{value.Stat}}
                                                        {% if value.Type != '' %}
                                                             {% if value.Type == 1 %}
                                                                {{ value.TypeName }}
                                                             {% endif %}
                                                        {% endif %}

                                                        {% if value.Type2 != '' %}
                                                             {% if value.Type2 == 2 %}
                                                                {{ value.TypeName2 }}
                                                             {% endif %}
                                                        {% endif %}

                                                        {% if value.Type3!= '' %}
                                                            {% if value.Type3 == 3 %}
                                                                {{ value.TypeName3 }}
                                                            {% endif %}
                                                        {% endif %}</td>
                                                    <td style="padding: 5px; width: 36%; vertical-align: top;" align="left">
                                                        {% if value.inv_status == 1 or value.inv_status==3 %}
                                                            {{ value.Vendor_business }}
                                                        {% elseif value.inv_status == 2 %}
                                                            {% if value.crdb == 'db'%}
                                                                {{value.Store_name}} -> {{value.REL_Storename}}
                                                            {% else %}
                                                                {{value.REL_Storename}} -> {{value.Store_name}}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td style="padding: 5px;width: 14%;vertical-align: top;" align="right"> {{value.inventory}}
                                                        {% if value.Type != '' %}
                                                            {% if value.Type == 1 %}
                                                                {{ value.NewValue }}
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if value.Type2 != '' %}
                                                             {% if value.Type2 == 2 %}
                                                                {{ value.NewValue2 }}
                                                             {% endif %}
                                                        {% endif %}

                                                        {% if value.Type3!= '' %}
                                                            {% if value.Type3 == 3 %}
                                                                    {{ value.NewValue3 }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td style="padding: 5px;width: 14%;vertical-align: top;" align="right"> {{value.Rate}}  </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <td colspan="8" style="border-bottom: 1px solid;padding: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;text-align: right;"></td>
                                        <td style="padding: 5px;text-align: right;"></td>
                                        <td style="padding: 5px;text-align: right;"></td>
                                        <td style="padding: 5px;text-align: right;"></td>
                                        <td colspan="2" style="padding: 5px;text-align: left;"><b
                                                style="display: block;font-weight: 600;white-space: nowrap;"> {{data.default_langlist.GRAND_TOTAL}}({{ data.currency_sign }})</b>
                                        <td colspan="2" style="text-align: right;">
                                            <b style="display: block;font-weight: 600;white-space: nowrap;">{{data.Grand_total}}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>